<template>
  <!-- Modal -->
  <div class="modal fade text-left insertUserMod" id="default" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel1">Insert User</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form id="formUser" @submit.prevent="addUser()" autocomplete="off">
          <div class="modal-body">
            <div class="row form-group">
              <label class="col-md-3 col-form-label">Your Name: </label>
              <div class="col-md-6">
                <Select2 id="fullname" v-model="form.id_person" :options="myOptionsName" :settings="{ placeholder: 'Select a Name', width: '100%' }" @change="myChangeEventName($event)" @select="mySelectEventName($event)" />
              </div>
            </div>
            <!-- <br> -->
            <div class="row">
              <!-- <div class="form-group col-md-6">
                <label class="form-control-label" for="inputBasicUserName">First Name</label>
                <input
                  type="textfield"
                  class="form-control "
                  placeholder="Input your first name"
                  v-model="form.firstName"
                  autocomplete="off"
                  v-on:keyup="changefirst"
                  required
                >
              </div>
              <div class="form-group col-md-6">
                <label class="form-control-label" for="inputBasicUserName">Last Name</label>
                <input
                  type="textfield"
                  class="form-control "
                  placeholder="Input your last name"
                  v-model="form.lastName"
                  autocomplete="off"
                  v-on:keyup="changelast"
                  required
                >
              </div> -->
            </div>
            <div class="row">
              <div class="form-group col-md-6">
                <label class="form-control-label" for="inputBasicUserName">Username</label>
                <input
                  type="textfield"
                  class="form-control "
                  placeholder="Input your username"
                  v-model="form.username"
                  autocomplete="off"
                  required readonly
                >
              </div>
              <div class="form-group col-md-6">
                <label class="form-control-label" for="inputBasicPassword">Password</label>
                <input
                  type="textfield"
                  class="form-control "
                  placeholder="Input your password"
                  v-model="form.password"
                  autocomplete="off"
                  required readonly
                >
              </div>
              <div class="form-group col-md-12">
                <label class="form-control-label" for="inputBasicPassword">Email</label>
                <input
                  type="textfield"
                  class="form-control "
                  placeholder="Input your email"
                  v-model="form.email"
                  autocomplete="off"
                  required
                >
              </div>
              <div class="form-group form-material col-md-6">
                <label class="form-control-label" for="inputBasicLastName">Role</label>
                <Select2 id="fullrole" v-model="form.role" :options="myOptionsRole" :settings="{ placeholder: 'Select a Role', width: '100%' }" required/>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default btn-pure" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save changes</button>
          </div>
        </form>


      </div>
    </div>
  </div>
  <!-- End Modal -->
</template>

<!-- script js -->
<script>

import Select2 from 'v-select2-component';

export default {
  name: 'modal',
  components: {
    Select2
  },
  props : {
    openModal : {
      type : Boolean
    },
    closeModal : {
      type : Function
    }
  },
  data(){
    return{
      form:{
        id_person: '',
        firstName: '',
        lastName: '',
        username: '',
        password: '',
        email: '',
        role: ''
      },
      myOptionsName: [],
      myOptionsRole: [],
    }
  },
  created() {
    this.loadData();
  },
  methods: {
    loadData() {
      axios.get("/api/dropdownuser").then(response => {
        this.myOptionsName = response.data;
      });

      axios.get("/api/dropdownrole").then(response => {
        this.myOptionsRole = response.data;
      });
    },
    myChangeEventName(val){
        // console.log(val);
    },
    mySelectEventName({id, text}){
      this.form.id_person = id;
      axios
        .get("/api/generateuserpass/" + id)
        .then(response => {
          this.form.username = response.data[0].username;
          this.form.password = response.data[0].password;
      });
    },
    changefirst(){
      var str = this.form.firstName+" "+this.form.lastName;
        var split = str.split(" ");
        var count = split.length;
        if(count < 2){
          var str2 = str; 
        } else {
          var str2 = str.substr(0, str.indexOf(' ')); 
        }
        var val = Math.floor(1000 + Math.random() * 9000);
        this.form.username = str2.toLowerCase()+val;
        this.form.password = str2.toLowerCase()+val;
    },
    changelast(){
      var str = this.form.firstName+" "+this.form.lastName;
        var split = str.split(" ");
        var count = split.length;
        if(count < 2){
          var str2 = str; 
        } else {
          var str2 = str.substr(0, str.indexOf(' ')); 
        }
        var val = Math.floor(1000 + Math.random() * 9000);
        this.form.username = str2.toLowerCase()+val;
        this.form.password = str2.toLowerCase()+val;
    },
    addUser() {
      Swal.fire({
        title: 'Are you sure?',
        text: "You won't be able to revert this!",
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, insert it!',
        confirmButtonClass: 'btn btn-primary',
        cancelButtonClass: 'btn btn-danger ml-1',
        buttonsStyling: false,
      }).then(function (result) {
        if (result.value) {
          axios.post("/api/user", {
            id_person: this.form.id_person,
            // first_name: this.form.firstName,
            // last_name: this.form.lastName,
            username: this.form.username,
            password: this.form.password,
            email: this.form.email,
            role: this.form.role,
            username2: localStorage.getItem('username'),
            fullname2: localStorage.getItem('fullname'),
          })
          .then(response => {
            Swal.fire(
              {
                type: "success",
                title: 'Inserted!',
                text: 'Your file has been Insert.',
                confirmButtonClass: 'btn btn-success',
              }
            )
            $(".insertUserMod").modal('hide');
            this.closeModal();
            this.loadData()
            this.form.id_person = ''
            // this.form.firstName = ''
            // this.form.lastName = ''
            this.form.username = ''
            this.form.password = ''
            this.form.email = ''
            this.form.role = ''
          });
        }
      }.bind(this))
    }
  }
};
</script>

