<template>
  <!-- BEGIN: Content-->
  <div class="app-content content">
      <div class="content-overlay"></div>
      <div class="header-navbar-shadow"></div>
      <div class="content-wrapper">
          <div class="content-header row">
              <div class="content-header-left col-md-9 col-12 mb-2">
                  <div class="row breadcrumbs-top">
                      <div class="col-12">
                          <h2 class="content-header-title float-left mb-0">Users</h2>
                          <div class="breadcrumb-wrapper col-12">
                              <ol class="breadcrumb">
                                  <li class="breadcrumb-item"><a href="index.html">Home</a>
                                  </li>
                                  <li class="breadcrumb-item"><a href="#">Users</a>
                                  </li>
                                  <li class="breadcrumb-item active">Users to Vendor
                                  </li>
                              </ol>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="content-header-right text-md-right col-md-3 col-12 d-md-block d-none">
                  <div class="form-group breadcrum-right">
                      <div class="dropdown">

                          <button class="btn-icon btn btn-primary btn-round btn-sm dropdown-toggle"data-toggle="tooltip"
                            data-original-title="Refresh" v-on:click="onRefresh" aria-haspopup="true" aria-expanded="false"><i class="feather icon-refresh-ccw"></i>
                          </button>

                      </div>
                  </div>
              </div>
          </div>

          <div class="content-body">
              <!-- Basic example section start -->
              <section id="basic-examples">
                  <div class="card">
                      <div class="card-header">
                          <h4 class="card-title">Data User to Vendor</h4>
                      </div>
                      <div class="card-content">
                          <div class="card-body collapse-icon">
                            <div class="accordion" id="accordionExample0">
                                <div class="collapse-border-item collapse-header card collapse-bordered">
                                    <div class="card-header" id="heading200" data-toggle="collapse" role="button" data-target="#collapse200" aria-expanded="false" aria-controls="collapse200">
                                        <span class="lead collapse-title">
                                            Set User to Vendor
                                        </span>
                                    </div>

                                    <div id="collapse200" class="collapse" aria-labelledby="heading200" data-parent="#accordionExample0">
                                        <div class="card-body">
                                          <form id="formUsertoKop" @submit.prevent="addUsertoKop()" autocomplete="off">
                                            <div class="modal-body">
                                              <div class="row form-group">
                                                <label class="col-md-1 col-form-label">User : </label>
                                                <div class="col-md-5">
                                                  <Select2 id="users" v-model="form.id_user" :options="myOptionsUser" :settings="{ placeholder: 'Select a User', width: '100%' }" @change="myChangeEventUser($event)" @select="mySelectEventUser($event)" />
                                                </div>
                                                <label class="col-md-1 col-form-label">Vendor : </label>
                                                <div class="col-md-5">
                                                  <Select2 id="kops" v-model="form.id_vendor" :options="myOptionsVendor" :settings="{ placeholder: 'Select a Vendor', width: '100%' }" @change="myChangeEventKop($event)" @select="mySelectEventKop($event)" />
                                                </div>
                                              </div>
                                            </div>
                                            <div class="modal-footer" style="border-top: 0px solid #ededed;">
                                              <button type="submit" class="btn btn-primary">Set to Vendor</button>
                                            </div>
                                          </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="collapse-border-item card collapse-header">
                                    <div class="card-header" id="heading210" data-toggle="collapse" role="button" data-target="#collapse210" aria-expanded="true" aria-controls="collapse210">
                                        <span class="lead collapse-title">
                                            Data User Vendor
                                        </span>
                                    </div>
                                    <div id="collapse210" class="collapse show" aria-labelledby="heading210" data-parent="#accordionExample0">
                                        <div class="card-body">
                                          <br>
                                          <h4 class="card-title">Jumlah User Vendor : {{total}}</h4>
                                          <vue-good-table
                                            mode="remote"
                                            @on-page-change="onPageChange"
                                            @on-sort-change="onSortChange"
                                            @on-column-filter="onColumnFilter"
                                            @on-per-page-change="onPerPageChange"
                                            @on-search="onSearch"
                                            @on-selected-rows-change="selectionChanged"
                                            :totalRows="totalRecords"
                                            :isLoading.sync="isLoading"
                                            :pagination-options="{
                                              enabled: true,
                                              dropdownAllowAll: false,
                                              mode: 'pages'
                                            }"
                                            :search-options="{
                                              enabled: true,
                                              skipDiacritics: true,
                                            }"
                                            :selectOptions="{
                                              enabled: true,
                                              selectOnCheckboxOnly: true,
                                            }"
                                            :rows="rows"
                                            :columns="columns">
                                            <div slot="selected-row-actions">
                                              <button class="btn btn-info btn-sm" @click="">Print</button>
                                            </div>
                                            <template slot="table-row" slot-scope="props">
                                              <template v-if="role == 'R000'">
                                                <span v-if="props.column.field == 'action'">
                                                  <template v-for="actionS in action">
                                                    <!-- <template v-if="actionS == 'View'">
                                                      <button class="btn-icon btn btn-primary btn-sm btn-round mr-1 mb-1 waves-effect waves-light" data-target=".viewUserMod" data-toggle="modal" type="button" title='View' @click="viewModal(props.row.id)"><i class="feather icon-eye" aria-hidden="true"></i></button>
                                                    </template>
                                                    <template v-if="actionS == 'Update'">
                                                      <button class="btn-icon btn btn-info btn-sm btn-round mr-1 mb-1 waves-effect waves-light" data-target=".updateUserMod" data-toggle="modal" type="button" title='Update' @click="updateModal(props.row.id)"><i class="feather icon-edit" aria-hidden="true"></i></button>
                                                    </template> -->
                                                    <template v-if="actionS == 'Delete'">
                                                      <button class="btn-icon btn btn-danger btn-sm mr-1 mb-1 waves-effect waves-light" title='Delete'  @click="deleteData(props.row.id)"><i class="feather icon-delete" aria-hidden="true"></i> Delete</button>
                                                    </template>
                                                  </template>
                                                </span>
                                              </template>
                                              <template v-else> 
                                                <span v-if="props.column.field == 'action'">
                                                  <template v-if="props.row.role == 'R000'">
                                                    <span class="badge badge-round badge-danger">Not Allowed</span>   
                                                  </template>
                                                  <template v-else>
                                                    <template v-for="actionS in action">
                                                      <!-- <template v-if="actionS == 'View'">
                                                        <button class="btn-icon btn btn-primary btn-sm btn-round mr-1 mb-1 waves-effect waves-light" data-target=".viewUserMod" data-toggle="modal" type="button" title='View' @click="viewModal(props.row.id)"><i class="feather icon-eye" aria-hidden="true"></i></button>
                                                      </template>
                                                      <template v-if="actionS == 'Update'">
                                                        <button class="btn-icon btn btn-info btn-sm btn-round mr-1 mb-1 waves-effect waves-light" data-target=".updateUserMod" data-toggle="modal" type="button" title='Update' @click="updateModal(props.row.id)"><i class="feather icon-edit" aria-hidden="true"></i></button>
                                                      </template> -->
                                                      <template v-if="actionS == 'Delete'">
                                                        <button class="btn-icon btn btn-danger btn-sm mr-1 mb-1 waves-effect waves-light" title='Delete'  @click="deleteData(props.row.id)"><i class="feather icon-delete" aria-hidden="true"></i> Delete</button>
                                                      </template>
                                                    </template>
                                                  </template>
                                                </span>
                                              </template>
                                              
                                              <span v-if="props.column.field == 'status'">
                                                <span v-if="props.row.status == 1">
                                                  <span class="badge badge-round badge-primary">Active</span>   
                                                </span> 
                                                <span v-else>
                                                  <span class="badge badge-round badge-danger">Deactive</span>  
                                                </span>                
                                              </span>
                                              <span v-else>
                                                {{props.formattedRow[props.column.field]}}
                                              </span>
                                            </template>
                                          </vue-good-table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                          </div>
                      </div>
                  </div>
              </section>
              <!-- // Basic example section end -->
          </div>
      </div>
  </div>
  <!-- END: Content-->
</template>

<!-- script js -->
<script>
import 'vue-good-table/dist/vue-good-table.css'
import { VueGoodTable } from 'vue-good-table';
import Select2 from 'v-select2-component';
import moment from 'moment';
moment.locale("id");

const _ = require('lodash');

export default {
    name: 'userstovendor',
    components: {
      'vue-good-table' : VueGoodTable,
      Select2
    },
    data() {
        return {
            isLoading: false,
            prints: [],
            myOptionsUser: [],
            myOptionsVendor: [],
            form:{
              id_user: '',
              id_vendor: '',
            },
            columns: [
                {
                    label: 'Username',
                    field: 'username',
                    filterable: true
                },
                {
                    label: 'Vendor',
                    field: 'nama_vendor',
                    filterable: true
                },
                {
                  label: 'Action',
                  field: 'action',
                  sortable: false,
                },
            ],
            rows: [],
            totalRecords: 0,
            serverParams: {
              columnFilters: {
              },
              sort: {       
                field: 'username', 
                type: 'asc',
              },
              page: 1, 
              perPage: 10,
              searchTerm: ''
            },
            action: [],
            total: ''
        };
    },
    beforeCreate(){
        this.loading = true;
        axios
        .get("/session")
        .then(response => {
            this.id = response.data.id;
            this.role = response.data.role;
            this.login = response.data.login;
            axios
            .get("/api/getSide/" + this.id )
            .then(response => {
                this.data = response.data;
                var routesUser = [];
                this.data.forEach(function(puki, index) {
                  var nam = puki.Link.substr(1);
                  routesUser.push(nam);
                }); 
                var n = routesUser.includes(this.$options.name);
                console.log(n)
                if(this.login == true && n == true){
                  this.loading = false;
                  this.loadItems()
                  this.getAction(this.id,this.$options.name)
                } else if (this.login == true && n == false) {
                  this.$router.push('/not404');
                  this.loading = false;
                } else {
                  window.location.href = "/";
                  // this.$router.push('/not404');
                  this.loading = false;
                }
            });
        });
    },
    mounted() {
        this.loadData()
        // this.cekUserMenu()
    },
    methods: {
      loadData() {
        axios.get("/api/dropdownuserto").then(response => {
          this.myOptionsUser = response.data;
        });

        axios.get("/api/dropdownvendor").then(response => {
          this.myOptionsVendor = response.data;
        });
      },
      getAction(id,link){
        axios
            .get("/api/action/" + id + "/" + link)
            .then(response => {
              this.action = response.data;
            });
      },
      getFromServer(usersvendor) {
        return axios.get(`/api/getUsertoVendor?searchTerm=${usersvendor.searchTerm}&page=${usersvendor.page}&per_page=${usersvendor.perPage}&field=${usersvendor.sort.field}&type=${usersvendor.sort.type}`);
      },

      updateParams(newProps) {
        this.serverParams = Object.assign({}, this.serverParams, newProps);
      },
      
      onPageChange(params) {
        this.updateParams({page: params.currentPage});
        this.loadItems();
      },

      onPerPageChange(params) {
        this.updateParams({perPage: params.currentPerPage});
        this.loadItems();
      },

      selectionChanged(params) {
        this.prints = params.selectedRows;
      },

      onSortChange(params) {
        this.updateParams({
          sort: {
            type: params[0].type,
            field: params[0].field,
          },
        });
        this.loadItems();
      },
      
      onColumnFilter(params) {
        this.updateParams(params);
        this.loadItems();
      },

      onSearch(params) {
        this.updateParams(params);
        this.loadItems();
      },

      myChangeEventUser(val){
          // console.log(val);
      },
      mySelectEventUser({id, text}){
        this.form.id_user = id;
      },
      myChangeEventKop(val){
          // console.log(val);
      },
      mySelectEventKop({id, text}){
        this.form.id_vendor = id;
      },

      deleteData(id) {
        Swal.fire({
          title: 'Are you sure?',
          text: "You won't be able to revert this!",
          type: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: 'Yes, delete it!',
          confirmButtonClass: 'btn btn-primary',
          cancelButtonClass: 'btn btn-danger ml-1',
          buttonsStyling: false,
        }).then(function (result) {
          if (result.value) {
            axios.post("/api/usertokop/" + id,{
              username2: localStorage.getItem('username'),
              fullname2: localStorage.getItem('fullname'),
            }).then(response => {
              this.loadItems();
              if(response.data !== 205){
                Swal.fire(
                  {
                    type: "success",
                    title: 'Deleted!',
                    text: 'Your file has been deleted.',
                    confirmButtonClass: 'btn btn-success',
                  }
                )
              } else {
                Swal.fire(
                  {
                    type: "error",
                    title: 'Failed!',
                    text: 'Your file has failed been deleted.',
                    confirmButtonClass: 'btn btn-success',
                  }
                )
              }
            });
          }
        }.bind(this))
      },

      addUsertoKop() {
        Swal.fire({
          title: 'Are you sure?',
          text: "You won't be able to revert this!",
          type: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: 'Yes, insert it!',
          confirmButtonClass: 'btn btn-primary',
          cancelButtonClass: 'btn btn-danger ml-1',
          buttonsStyling: false,
        }).then(function (result) {
          if (result.value) {
            axios.post("/api/usertovendor", {
              id_user: this.form.id_user,
              id_vendor: this.form.id_vendor,
              username2: localStorage.getItem('username'),
              fullname2: localStorage.getItem('fullname'),
            })
            .then(response => {
              this.form.id_user = ''
              this.form.id_vendor = ''
              this.loadItems()
              Swal.fire(
                {
                  type: "success",
                  title: 'Inserted!',
                  text: 'Your file has been Insert.',
                  confirmButtonClass: 'btn btn-success',
                }
              )
            });
          }
        }.bind(this))
      },

      loadItems() {
        this.getFromServer(this.serverParams).then((response) => {
              this.totalRecords = response.data.usersvendor.total;
              this.total = this.totalRecords
              this.rows = response.data.usersvendor.data;
          })
      },

      onRefresh: function (event) {
        if (event) {
          this.loadItems();
        }
      },

      formatDate(value) {
          return moment(value).format("DD MMMM YYYY")
      }

    }
};
</script>

