<template>
  <!-- BEGIN: Content-->
  <div class="app-content content">
      <div class="content-overlay"></div>
      <div class="header-navbar-shadow"></div>
      <div class="content-wrapper">
          <div class="content-header row">
              <div class="content-header-left col-md-9 col-12 mb-2">
                  <div class="row breadcrumbs-top">
                      <div class="col-12">
                          <h2 class="content-header-title float-left mb-0">Users</h2>
                          <div class="breadcrumb-wrapper col-12">
                              <ol class="breadcrumb">
                                  <li class="breadcrumb-item"><a href="index.html">Home</a>
                                  </li>
                                  <li class="breadcrumb-item"><a href="#">Users</a>
                                  </li>
                                  <li class="breadcrumb-item active">Data Users
                                  </li>
                              </ol>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="content-header-right text-md-right col-md-3 col-12 d-md-block d-none">
                  <div class="form-group breadcrum-right">
                      <div class="dropdown">
                        <template v-for="actionS in action">
                          <template v-if="actionS == 'Export'">
                            <a target="_blank" rel="noopener noreferrer" href="/downloadExcelUser">
                              <button class="btn-icon btn btn-primary btn-round btn-sm dropdown-toggle" aria-haspopup="true" aria-expanded="false"><i class="feather icon-log-out"></i> <b>Export</b> </button>
                            </a>
                          </template>
                          <template v-if="actionS == 'Insert'">
                            <button class="btn-icon btn btn-primary btn-round btn-sm dropdown-toggle" data-target=".insertUserMod" data-toggle="modal" type="button" @click="openModal" aria-haspopup="true" aria-expanded="false"><i class="feather icon-file-plus"></i> <b>New</b> </button>
                          </template>

                        </template>

                          <button class="btn-icon btn btn-primary btn-round btn-sm dropdown-toggle"data-toggle="tooltip"
                            data-original-title="Refresh" v-on:click="onRefresh" aria-haspopup="true" aria-expanded="false"><i class="feather icon-refresh-ccw"></i>
                          </button>

                      </div>
                  </div>
              </div>
          </div>

          <insert-user-mod :open-modal="modalOpen" :close-modal="loadItems"></insert-user-mod>
          <view-user-mod :open-modal="viewOpen" :view="view"></view-user-mod>
          <update-user-mod :open-modal="updateOpen" :update="update" :close-modal="loadItems"></update-user-mod>

          <div class="content-body">
              <!-- Basic example section start -->
              <section id="basic-examples">
                  <div class="card">
                      <div class="card-header">
                          <h4 class="card-title">Jumlah Users : {{total}}</h4>
                      </div>
                      <div class="card-content">
                          <div class="card-body">
                            <vue-good-table
                              mode="remote"
                              @on-page-change="onPageChange"
                              @on-sort-change="onSortChange"
                              @on-column-filter="onColumnFilter"
                              @on-per-page-change="onPerPageChange"
                              @on-search="onSearch"
                              :totalRows="totalRecords"
                              :isLoading.sync="isLoading"
                              :pagination-options="{
                                enabled: true,
                                dropdownAllowAll: false,
                                mode: 'pages'
                              }"
                              :search-options="{
                                enabled: true,
                                skipDiacritics: true,
                              }"
                              :rows="rows"
                              :columns="columns">
                              <template slot="table-row" slot-scope="props">
                                <template v-if="role == 'R000'">
                                  <span v-if="props.column.field == 'action'">
                                    <button type="button" class="btn btn-outline-primary btn-sm dropdown-toggle mr-1" data-toggle="dropdown"><i class="feather icon-more-vertical"></i> Action</button>
                                    <ul class="dropdown-menu" style="top: auto; left: auto; padding: 5px;">
                                      <template v-for="actionS in action">
                                        <template v-if="actionS == 'View'">
                                          <li>
                                            <button class="btn-icon btn btn-primary btn-sm btn-block mr-1 mb-1 waves-effect waves-light" data-target=".viewUserMod" data-toggle="modal" type="button" title='View' @click="viewModal(props.row.id)"><i class="feather icon-eye" aria-hidden="true"></i> View</button>
                                          </li>
                                        </template>
                                        <template v-if="actionS == 'Update'">
                                          <li>
                                            <button class="btn-icon btn btn-info btn-sm btn-block mr-1 mb-1 waves-effect waves-light" data-target=".updateUserMod" data-toggle="modal" type="button" title='Update' @click="updateModal(props.row.id)"><i class="feather icon-edit" aria-hidden="true"></i> Update</button>
                                          </li>
                                        </template>
                                        <template v-if="actionS == 'Delete'">
                                          <li>
                                            <button class="btn-icon btn btn-danger btn-sm btn-block mr-1 mb-1 waves-effect waves-light" title='Delete'  @click="deleteData(props.row.id)"><i class="feather icon-delete" aria-hidden="true"></i> Delete</button>
                                          </li>
                                        </template>
                                      </template>
                                    </ul>  
                                  </span>
                                  <span v-if="props.column.field == 'approved'">
                                    <template v-if="props.row.status == 3">
                                      <span class="badge badge-round badge-success">Not Approved</span>
                                    </template>
                                    <template v-else>
                                      <button type="button" class="btn btn-outline-primary btn-sm dropdown-toggle mr-1" data-toggle="dropdown"><i class="feather icon-more-vertical"></i> Activation</button>
                                      <ul class="dropdown-menu" style="top: auto; left: auto; padding: 5px;">
                                        <template v-for="actionS in action">
                                          <template v-if="actionS == 'Approve'">
                                            <li>
                                              <button class="btn-icon btn btn-success btn-sm btn-block mr-1 mb-1 waves-effect waves-light" data-target=".approveKopMod" data-toggle="modal" type="button" @click="actived(props.row.id)" aria-haspopup="true" aria-expanded="false" title='Active'><i class="feather icon-check-circle" aria-hidden="true"></i> Active</button>
                                            </li>
                                            <li>
                                              <button class="btn-icon btn btn-danger btn-sm btn-block mr-1 mb-1 waves-effect waves-light" data-target=".notapproveKopMod" data-toggle="modal" type="button" @click="deactived(props.row.id)" aria-haspopup="true" aria-expanded="false" title='Deactive'><i class="feather icon-slash" aria-hidden="true"></i> Deactive</button>
                                            </li>
                                          </template>
                                        </template>
                                      </ul>  
                                    </template>
                                  </span>
                                </template>
                                <template v-else> 
                                  <span v-if="props.column.field == 'action'">
                                    <template v-if="props.row.role == 'R000'">
                                      <span class="badge badge-round badge-danger">Not Allowed</span>   
                                    </template>
                                    <template v-else>
                                      <template v-for="actionS in action">
                                        <template v-if="actionS == 'View'">
                                          <button class="btn-icon btn btn-primary btn-sm btn-round mr-1 mb-1 waves-effect waves-light" data-target=".viewUserMod" data-toggle="modal" type="button" title='View' @click="viewModal(props.row.id)"><i class="feather icon-eye" aria-hidden="true"></i></button>
                                        </template>
                                        <template v-if="actionS == 'Update'">
                                          <button class="btn-icon btn btn-info btn-sm btn-round mr-1 mb-1 waves-effect waves-light" data-target=".updateUserMod" data-toggle="modal" type="button" title='Update' @click="updateModal(props.row.id)"><i class="feather icon-edit" aria-hidden="true"></i></button>
                                        </template>
                                        <template v-if="actionS == 'Delete'">
                                          <button class="btn-icon btn btn-danger btn-sm btn-round mr-1 mb-1 waves-effect waves-light" title='Delete'  @click="deleteData(props.row.id)"><i class="feather icon-delete" aria-hidden="true"></i></button>
                                        </template>
                                      </template>
                                    </template>
                                  </span>
                                  <span v-if="props.column.field == 'approved'">
                                    <template v-if="props.row.status == 3">
                                      <span class="badge badge-round badge-success">Not Approved</span>
                                    </template>
                                    <!-- <template v-else-if="props.row.status == 1">
                                      <span class="badge badge-round badge-primary">Waiting</span>
                                    </template> -->
                                    <template v-else>
                                      <template v-for="actionS in action">
                                        <template v-if="actionS == 'Approve'">
                                          <!-- <button class="btn-icon btn btn-success btn-sm btn-round mr-1 mb-1 waves-effect waves-light" title='Approve' @click="approveModal(props.row.id_kop)"><i class="feather icon-check-circle" aria-hidden="true"></i></button> -->

                                          <button class="btn-icon btn btn-success btn-sm btn-round mr-1 mb-1 waves-effect waves-light" data-target=".approveKopMod" data-toggle="modal" type="button" @click="actived(props.row.id)" aria-haspopup="true" aria-expanded="false" title='Active'><i class="feather icon-check-circle" aria-hidden="true"></i></button>

                                          <!-- <button class="btn-icon btn btn-danger btn-sm btn-round mr-1 mb-1 waves-effect waves-light" title='Not Approve' @click="notapproveModal(props.row.id_kop)"><i class="feather icon-slash" aria-hidden="true"></i></button> -->

                                          <button class="btn-icon btn btn-danger btn-sm btn-round mr-1 mb-1 waves-effect waves-light" data-target=".notapproveKopMod" data-toggle="modal" type="button" @click="deactived(props.row.id)" aria-haspopup="true" aria-expanded="false" title='Deactive'><i class="feather icon-slash" aria-hidden="true"></i></button>
                                        </template>
                                      </template>
                                    </template>
                                  </span>
                                </template>
                                
                                <span v-if="props.column.field == 'status'">
                                  <span v-if="props.row.status == 1">
                                    <span class="badge badge-round badge-primary">Active</span>   
                                  </span> 
                                  <span v-else>
                                    <span class="badge badge-round badge-danger">Deactive</span>  
                                  </span>                
                                </span>
                                <span v-else-if="props.column.field == 'first_name'">
                                  {{ props.row.first_name }} {{ props.row.last_name }}
                                </span>
                                <span v-else>
                                  {{props.formattedRow[props.column.field]}}
                                </span>
                              </template>
                            </vue-good-table>
                          </div>
                      </div>
                  </div>
              </section>
              <!-- // Basic example section end -->
          </div>
      </div>
  </div>
  <!-- END: Content-->
</template>

<!-- script js -->
<script>
import InsertUser from './InsertUser.vue';
import ViewUser from './ViewUser.vue';
import UpdateUser from './UpdateUser.vue';
import 'vue-good-table/dist/vue-good-table.css'
import { VueGoodTable } from 'vue-good-table';
import moment from 'moment';
moment.locale("id");

const _ = require('lodash');

export default {
    name: 'users',
    components: {
      'vue-good-table' : VueGoodTable,
      'insert-user-mod' : InsertUser,
      'view-user-mod' : ViewUser,
      'update-user-mod' : UpdateUser,
    },
    data() {
        return {
            isLoading: false,
            modalOpen: false,
            viewOpen: false,
            view: {},
            updateOpen: false,
            update: {},
            prints: [],
            columns: [
                {
                    label: 'Name',
                    field: 'first_name',
                    filterable: true
                },
                {
                    label: 'Username',
                    field: 'username',
                    filterable: true
                },
                {
                    label: 'Role',
                    field: 'nama_role',
                    filterable: true
                },
                {
                    label: 'Vendor',
                    field: 'nama_vendor',
                    filterable: true
                },
                {
                    label: 'Status',
                    field: 'status',
                    filterable: true
                },
                {
                  label: 'Action',
                  field: 'action',
                  sortable: false,
                },
                {
                  label: 'Activation',
                  field: 'approved',
                  sortable: false,
                },
            ],
            rows: [],
            totalRecords: 0,
            serverParams: {
              columnFilters: {
              },
              sort: {       
                field: 'created_at', 
                type: 'desc',
              },
              page: 1, 
              perPage: 10,
              searchTerm: ''
            },
            action: [],
            total: ''
        };
    },
    beforeCreate(){
        this.loading = true;
        axios
        .get("/session")
        .then(response => {
            this.id = response.data.id;
            this.role = response.data.role;
            this.login = response.data.login;
            axios
            .get("/api/getSide/" + this.id )
            .then(response => {
                this.data = response.data;
                var routesUser = [];
                this.data.forEach(function(puki, index) {
                  var nam = puki.Link.substr(1);
                  routesUser.push(nam);
                }); 
                var n = routesUser.includes(this.$options.name);
                console.log(n)
                if(this.login == true && n == true){
                  this.loading = false;
                  this.loadItems()
                  this.getAction(this.id,this.$options.name)
                } else if (this.login == true && n == false) {
                  this.$router.push('/not404');
                  this.loading = false;
                } else {
                  window.location.href = "/";
                  // this.$router.push('/not404');
                  this.loading = false;
                }
            });
        });
    },
    mounted() {
        // this.loadItems()
        // this.cekUserMenu()
    },
    methods: {
      // cekUserMenu() {
      //   this.loading = true;
      //   axios
      //   .get("/session")
      //   .then(response => {
      //       this.id = response.data.id;
      //       this.role = response.data.role;
      //       this.login = response.data.login;
      //       axios
      //       .get("/api/getSide/" + this.id )
      //       .then(response => {
      //           this.data = response.data;
      //           var routesUser = [];
      //           this.data.forEach(function(puki, index) {
      //             var nam = puki.Link.substr(1);
      //             routesUser.push(nam);
      //           }); 
      //           var n = routesUser.includes(this.$options.name);
      //           if(this.login == true && n == true){
      //             this.loading = false;
      //             this.loadItems()
      //           } else if (this.login == true && n == false) {
      //             this.$router.push('/not404');
      //             this.loading = false;
      //           } else {
      //             window.location.href = "/";
      //             // this.$router.push('/not404');
      //             this.loading = false;
      //           }
      //       });
      //   });
      // },
      getAction(id,link){
        axios
            .get("/api/action/" + id + "/" + link)
            .then(response => {
              this.action = response.data;
            });
      },
      getFromServer(users) {
        return axios.get(`/api/getUser?searchTerm=${users.searchTerm}&page=${users.page}&per_page=${users.perPage}&field=${users.sort.field}&type=${users.sort.type}`);
      },

      updateParams(newProps) {
        this.serverParams = Object.assign({}, this.serverParams, newProps);
      },
      
      onPageChange(params) {
        this.updateParams({page: params.currentPage});
        this.loadItems();
      },

      onPerPageChange(params) {
        this.updateParams({perPage: params.currentPerPage});
        this.loadItems();
      },

      onSortChange(params) {
        this.updateParams({
          sort: {
            type: params[0].type,
            field: params[0].field,
          },
        });
        this.loadItems();
      },
      
      onColumnFilter(params) {
        this.updateParams(params);
        this.loadItems();
      },

      onSearch(params) {
        this.updateParams(params);
        this.loadItems();
      },

      openModal() {
          this.modalOpen = !this.modalOpen;
      }, 

      closeModal() {
          this.modalOpen = false;
      },

      viewModal(params) {
          axios
            .get("/api/user/" + params)
            .then(response => {
              this.view = response.data;
            });
          this.viewOpen = !this.viewOpen;
      }, 

      updateModal(params) {
          axios
            .get("/api/user/" + params)
            .then(response => {
              this.update = response.data;
            });
          this.updateOpen = !this.updateOpen;
      },

      actived(params){
        Swal.fire({
          title: 'Are you sure?',
          text: "You won't be able to revert this!",
          type: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: 'Yes, active it!',
          confirmButtonClass: 'btn btn-primary',
          cancelButtonClass: 'btn btn-danger ml-1',
          buttonsStyling: false,
        }).then(function (result) {
          if (result.value) {
            this.loadItems();
            axios.put("/api/actived/" + params )
            .then(response => {
              Swal.fire(
                {
                  type: "success",
                  title: 'Active!',
                  text: 'Your file has been Update.',
                  confirmButtonClass: 'btn btn-success',
                }
              )
            });
          }
        }.bind(this))
      },

      deactived(params){
        Swal.fire({
          title: 'Are you sure?',
          text: "You won't be able to revert this!",
          type: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: 'Yes, deactive it!',
          confirmButtonClass: 'btn btn-primary',
          cancelButtonClass: 'btn btn-danger ml-1',
          buttonsStyling: false,
        }).then(function (result) {
          if (result.value) {
            axios.put("/api/deactive/" + params )
            .then(response => {
              this.loadItems();
              Swal.fire(
                {
                  type: "success",
                  title: 'Deactive!',
                  text: 'Your file has been Update.',
                  confirmButtonClass: 'btn btn-success',
                }
              )
            });
          }
        }.bind(this))
      },

      deleteData(id) {
        Swal.fire({
          title: 'Are you sure?',
          text: "You won't be able to revert this!",
          type: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: 'Yes, delete it!',
          confirmButtonClass: 'btn btn-primary',
          cancelButtonClass: 'btn btn-danger ml-1',
          buttonsStyling: false,
        }).then(function (result) {
          if (result.value) {
            axios.post("/api/user/" + id, {
              username2: localStorage.getItem('username'),
              fullname2: localStorage.getItem('fullname'),
            }).then(response => {
              this.loadItems();
              if(response.data !== 205){
                Swal.fire(
                  {
                    type: "success",
                    title: 'Deleted!',
                    text: 'Your file has been deleted.',
                    confirmButtonClass: 'btn btn-success',
                  }
                )
              } else {
                Swal.fire(
                  {
                    type: "error",
                    title: 'Failed!',
                    text: 'Your file has failed been deleted.',
                    confirmButtonClass: 'btn btn-success',
                  }
                )
              }
            });
          }
        }.bind(this))
      },

      loadItems() {
        this.getFromServer(this.serverParams).then((response) => {
              this.totalRecords = response.data.users.total;
              this.total = this.totalRecords
              this.rows = response.data.users.data;
          })
      },

      onRefresh: function (event) {
        if (event) {
          this.loadItems();
        }
      },

      formatDate(value) {
          return moment(value).format("DD MMMM YYYY")
      }

    }
};
</script>

