<template>

  <!-- BEGIN: Content-->
  <div class="app-content content">
      <div class="content-overlay"></div>
      <div class="header-navbar-shadow"></div>
      <div class="content-wrapper">
          <div class="content-header row">
              <div class="content-header-left col-md-8 col-12 mb-2">
                  <div class="row breadcrumbs-top">
                      <div class="col-12">
                          <h2 class="content-header-title float-left mb-0">Data Rekap Pelelangan Terbatas</h2>
                          <div class="breadcrumb-wrapper col-12">
                              <ol class="breadcrumb">
                                  <li class="breadcrumb-item"><a href="index.html">Home</a>
                                  </li>
                                  <li class="breadcrumb-item"><a href="index.html">Rekap Lelang</a>
                                  </li>
                                  <li class="breadcrumb-item active">Rekap Pelelangan Terbatas
                                  </li>
                              </ol>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="content-header-right text-md-right col-md-4 col-12 d-md-block d-none">
                  <div class="form-group breadcrum-right">
                      <div class="dropdown">

                          <button class="btn-icon btn btn-primary btn-round btn-sm dropdown-toggle"data-toggle="tooltip"
                            data-original-title="Refresh" v-on:click="onRefresh" aria-haspopup="true" aria-expanded="false"><i class="feather icon-refresh-ccw"></i>
                          </button>

                      </div>
                  </div>
              </div>
          </div>

        
          <div class="content-body">
              <!-- Basic example section start -->
              <section id="basic-examples">
                  <div class="card">
                      <div class="card-header">
                          <h4 class="card-title">Test</h4>
                      </div>
                      <div class="card-content">
                          <div class="card-body">
                          	<div class="row">
                  		    	<div class="form-group col-md-6">
                  			        <input class="fileAdm" id="fileAdm1" name="fileAdm[]" type="file" multiple>
                  			    </div>
                  			    <div class="form-group col-md-6">
                  			        <input class="fileAdm" id="fileAdm2" name="fileAdm[]" type="file" multiple>
                  			    </div>
                  			   	<div class="form-group col-md-6">
                  			        <progress :value="pro" style="width:100%;"></progress>
                  			        <template v-if="size !== 1">
                  			        	{{size}} part to 0
                  			        </template>
                  			        <template v-else>
                  			        	<span class="badge badge-round badge-success">Finish</span>  
                  			        </template>
                  			    </div>
                  			    <div class="form-group col-md-6">
	    	        			    <template v-for="(row, index) in scsFile">
	    				        		<span class="badge badge-round badge-success">{{row}}</span>
	    				        		<br>
	    				        	</template>
                  			    </div>
                          	</div>
                          	
                      	    <div>
                      	    	<button type="button" class="btn btn-primary" @click="addData">Submit</button>
                      	    </div>

                          </div>
                      </div>
                  </div>
              </section>
              <!-- // Basic example section end -->
          </div>
      </div>
  </div>
  <!-- END: Content-->

</template>

<!-- script js -->
<script>
import moment from 'moment';
moment.locale("id");

const _ = require('lodash');

export default {
    name: 'repelelanganterbatas',
    components: {
    },
    data() {
        return {
            isLoading: false,
            session: {
              id: '',
              id_person: '',
              role: ''
            },
            action: [],
            promises: [],
            jmlFile: 2,
            scsFile: [],
            file: null,
            chunks: [],
            uploaded: 0,
            size: 0,
            pro: 0,
            urutan: 0,
            status: ''
        };
    },
    beforeCreate(){
        this.loading = true;
        axios
        .get("/session")
        .then(response => {
            this.id = response.data.id;
            this.session.id = response.data.id;
            this.role = response.data.role;
            this.session.role = response.data.role;
            this.login = response.data.login;
            axios
            .get("/api/getSide/" + this.id )
            .then(response => {
                this.data = response.data;
                var routesUser = [];
                this.data.forEach(function(puki, index) {
                  var nam = puki.Link.substr(1);
                  routesUser.push(nam);
                }); 
                var n = routesUser.includes(this.$options.name);
                console.log(n)
                if(this.login == true && n == true){
                  this.loading = false;
                  this.getAction(this.id,this.$options.name)
                } else if (this.login == true && n == false) {
                  this.$router.push('/not404');
                  this.loading = false;
                } else {
                  window.location.href = "/";
                  // this.$router.push('/not404');
                  this.loading = false;
                }
            });
        });
    },
    mounted() {
      this.listen()
    },
    watch: {
        chunks(n, o) {
            if (n.length > 0) {
                this.upload();
            }
        }
    },
    computed: {
        formData() {
            let formData = new FormData;
            var isi
            if(this.chunks.length === 1){
            	isi = 1
            } else {
            	isi = 0
            }
            formData.set('is_last', isi);
            formData.set('file', this.chunks[0], `${this.file.name}.part`);

            return formData;
        },
        config() {
        	this.size = this.chunks.length
        	this.pro = this.chunks.length

            return {
                method: 'POST',
                data: this.formData,
                url: 'api/uploads',
                headers: {
                    'Content-Type': 'application/octet-stream'
                },
                onUploadProgress: event => {
                    this.uploaded += event.loaded;
                    if(this.pro == 1){
                    	this.chunks = []
                    	var a = this.urutan
                    	var b = 1
                    	this.scsFile.push("File "+(a+b)+ " Uploaded")
                    	this.createChunks(this.urutan += 1)
                    }
                    this.pro = 0
                }
            };
        }
    },
    methods: {
      listen() {
        Echo.channel('newNotif') //Should be Channel Name
        .listen('NotifEvents', (e) => {
          if(this.id == e.message.id_receiver && e.message.jenis == "Pekerjaan"){

          } 
        });
      },
      getAction(id,link){
        axios
            .get("/api/action/" + id + "/" + link)
            .then(response => {
              this.action = response.data;
            });
      },

      select(event) {
      	this.createChunks(this.urutan)
      },
      upload() {
      	this.promises.push(
          axios(this.config).then(response => {
            	this.chunks.shift();
          }).catch(error => {})
        )
      },
      createChunks(params) {
  		if(params < this.jmlFile) {
  			this.file = $('.fileAdm')[params].files.item(0)	
  		    let size = 1048576, chunks = Math.ceil(this.file.size / size);
  		    for (let i = 0; i < chunks; i++) {
  		        this.chunks.push(this.file.slice(
  		            i * size, Math.min(i * size + size, this.file.size), this.file.type
  		        ));
  		    }

  		    return true;
  		}
  		else {
  			this.status = "tidak ada file lagi"
  		    console.log("tidak ada file lagi")
  		    return false;
  		} 
      },

      addData() {
        var msg = "Terimakasih sudah mendaftarkan pekerjaan dan pekerjaan baru";

        let formData = new FormData();
        formData.append('id_user', this.session.id);

        var currentState = window.Echo.connector.pusher.connection.state;
        if(currentState == "unavailable") {
          Swal.fire(
            {
              type: "warning",
              title: 'Peringatan!',
              text: 'Koneksi buruk / tidak terkoneksi dengan Internet. Mohon cek kembali koneksi Internet anda.',
              confirmButtonClass: 'btn btn-success',
            }
          )
        } else {
          Swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, insert it!',
            confirmButtonClass: 'btn btn-primary',
            cancelButtonClass: 'btn btn-danger ml-1',
            buttonsStyling: false,
            showLoaderOnConfirm: true,
            preConfirm: () => {

                this.createChunks(this.urutan)

       //          for (let i = 0; i < 5; ++i) {
		     //    	this.promises.push(
    			// 		axios.post("/api/testStore", formData,{

    		 //                headers : {
    		 //                            'Content-Type': 'multipart/form-data'
    		 //                          },
    		 //            })
    		 //            .then(response => {
    		 //                this.session.id = ''
    		 //                return 
    		 //            })
    		 //            .catch(error => {
    		 //                Swal.showValidationMessage(
    		 //                  `Request failed: ${error}`
    		 //                )
    		 //            })
		     //    	);
		    	// }
                
	            return Promise.all([this.promises]).then(() => 
					axios.post("/api/testStore", formData,{

		                headers : {
		                            'Content-Type': 'multipart/form-data'
		                          },
		            })
		            .then(response => {
		                this.session.id = ''
		                return 
		            })
		            .catch(error => {
		                Swal.showValidationMessage(
		                  `Request failed: ${error}`
		                )
		            })
	            );
            },
            allowOutsideClick: () => !this.$swal.isLoading()
          }).then(function (result) {
            if (result.value) {
        		Swal.fire(
        		  {
        		    type: "success",
        		    title: 'Inserted!',
        		    text: msg,
        		    confirmButtonClass: 'btn btn-success',
        		  }
        		)
            }
          }.bind(this))
        }
      },
      

      onRefresh: function (event) {
        if (event) {

        }
      },

      formatDate(value) {
          return moment(value).format("DD MMMM YYYY")
      },

      formatPrice(value) {
          let val = (value/1).toFixed(2).replace('.', ',')
          return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")
      }

    }
};
</script>

<style scoped>
  .image img{
        position: absolute;
        max-width: 100%;
        max-height: 100%;
        width: 100%;
        /*height: 100%;*/
        top: 50%;
        left: 50%;
        /*object-fit: cover;*/
        transform: translateX(-50%) translateY(-50%);
  }   


</style>