<template>
  <!-- Modal -->
  <div class="modal fade text-left viewRekapPTMod" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel1">View Rekap Pelelangan Terbatas</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">

          <ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">
              <li class="nav-item">
                  <a class="nav-link active" id="info-tab-fill" data-toggle="tab" href="#info-fill" role="tab" aria-controls="info-fill" aria-selected="true">Data Pekerjaan</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" id="kualifikasi-tab-fill" data-toggle="tab" href="#kualifikasi-fill" role="tab" aria-controls="kualifikasi-fill" aria-selected="false">Dokumen Kualifikasi</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" id="aanwijzing-tab-fill" data-toggle="tab" href="#aanwijzing-fill" role="tab" aria-controls="aanwijzing-fill" aria-selected="false">Aanwijzing</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" id="penawaran-tab-fill" data-toggle="tab" href="#penawaran-fill" role="tab" aria-controls="penawaran-fill" aria-selected="false">Penawaran</a>
              </li>
              <template v-if="role !== 'R002'">
                <li class="nav-item">
                    <a class="nav-link" id="evaluasi-tab-fill" data-toggle="tab" href="#evaluasi-fill" role="tab" aria-controls="evaluasi-fill" aria-selected="false">Evaluasi</a>
                </li>
              </template>
              <!-- <li class="nav-item">
                  <a class="nav-link" id="negosiasi-tab-fill" data-toggle="tab" href="#negosiasi-fill" role="tab" aria-controls="negosiasi-fill" aria-selected="false">Klarifikasi & Negosiasi</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" id="pemenang-tab-fill" data-toggle="tab" href="#pemenang-fill" role="tab" aria-controls="pemenang-fill" aria-selected="false">Penetapan Pemenang</a>
              </li> -->
          </ul>

          <div class="tab-content pt-1">
            <div class="tab-pane active" id="info-fill" role="tabpanel" aria-labelledby="info-tab-fill">
              <div class="card-body">
                <!-- Nav tabs Info Pekerjaan-->
                <ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">
                  <template v-if="role == 'R002'">
                    <li class="nav-item">
                        <a class="nav-link active" id="primer-tab-fill" data-toggle="tab" href="#primer-fill" role="tab" aria-controls="primer-fill" aria-selected="true">Data Pekerjaan</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="assessment-tab-fill" data-toggle="tab" href="#assessment-fill" role="tab" aria-controls="assessment-fill" aria-selected="false">Data Vendor</a>
                    </li>
                  </template>
                  <template v-else>
                    <li class="nav-item">
                        <a class="nav-link active" id="primer-tab-fill" data-toggle="tab" href="#primer-fill" role="tab" aria-controls="primer-fill" aria-selected="true">Data Pekerjaan</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="assessment-tab-fill" data-toggle="tab" href="#assessment-fill" role="tab" aria-controls="assessment-fill" aria-selected="false">Data Vendor</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="donation-tab-fill" data-toggle="tab" href="#donation-fill" role="tab" aria-controls="donation-fill" aria-selected="false">Data Committee</a>
                    </li>
                  </template>
                </ul>
                <!-- Tab panes Info Pekerjaan-->
                <div class="tab-content pt-1">
                    <div class="tab-pane active" id="primer-fill" role="tabpanel" aria-labelledby="primer-tab-fill">
                      <div class="card-body">
                        <div class="row">
                          <div class="form-group col-md-12">
                            <label class="form-control-label" for="inputBasicLastName">Nama Pekerjaan <small style="color:red"> *required</small></label>
                            <input
                              type="textfield"
                              class="form-control"
                              placeholder="Input nama pekerjaan"
                              v-model="form.namaPekerjaan"
                              autocomplete="off"
                              required disabled
                            >
                          </div>
                          <div class="form-group col-md-12">
                            <label class="form-control-label" for="inputBasicFirstName">Keterangan <small style="color:red"> *required</small></label>
                            <textarea class="maxlength-textarea form-control" data-plugin="maxlength" data-placement="bottom-right-inside" maxlength="100" rows="3" placeholder="Input keterangan" v-model="form.keteranganPekerjaan" required disabled></textarea>
                          </div>
                          <div class="form-group form-material col-md-6">
                            <label class="form-control-label" for="inputBasicLastName">Vendor <small style="color:red"> *required</small></label>
                            <Select2MultipleControl id="fullvendorV" v-model="form.IdVendor" :options="myOptionsVendor" :settings="{ placeholder: 'Select a Work Vendor', width: '100%' }" required disabled/>
                          </div>
                          <div class="form-group form-material col-md-6">
                            <label class="form-control-label" for="inputBasicLastName">Kategori <small style="color:red"> *required</small></label>
                            <Select2 id="fullkategoriV" v-model="form.kategoriPekerjaan" :options="myOptionsKategori" :settings="{ placeholder: 'Select a Kategori', width: '100%' }" required disabled/>
                          </div>
                          <div class="form-group col-md-6">
                            <label class="form-control-label" for="inputBasicLastName">Tahun Anggaran <small style="color:red"> *required</small></label>
                            <input
                              type="textfield"
                              class="form-control"
                              placeholder="Input anggaran"
                              v-model="form.anggaranPekerjaan"
                              autocomplete="off"
                              required disabled
                            >
                          </div>
                          <div class="form-group col-md-6">
                            <label class="form-control-label" for="inputBasicLastName">Lokasi <small style="color:red"> *required</small></label>
                            <input
                              type="textfield"
                              class="form-control"
                              placeholder="Input Lokasi"
                              v-model="form.lokasiPekerjaan"
                              autocomplete="off"
                              required disabled
                            >
                          </div>
                          <div class="form-group col-md-6">
                            <label class="form-control-label" for="inputBasicLastName">Niai Pagu <small style="color:red"> *required</small></label>
                            <input
                              type="number"
                              class="form-control"
                              placeholder="Input Nilai Pagu"
                              v-model="form.nilaiPaguPekerjaan"
                              autocomplete="off"
                              required disabled
                            >
                          </div>
                          <div class="form-group form-material col-md-6">
                            <label class="form-control-label" for="inputBasicLastName">Kualifikasi Usaha <small style="color:red"> *required</small></label>
                            <Select2 id="fullkualifikasiV" v-model="form.kualifikasiPekerjaan" :options="myOptionsKualifikasi" :settings="{ placeholder: 'Select a Kualifikasi', width: '100%' }" required disabled/>
                          </div>
                          <div class="form-group form-material col-md-6">
                            <label class="form-control-label" for="inputBasicLastName">Dibuat Divisi <small style="color:red"> *required</small></label>
                            <Select2 id="fulldivisiV" v-model="form.divisiPekerjaan" :options="myOptionsDivisi" :settings="{ placeholder: 'Select a Divisi', width: '100%' }" required disabled/>
                          </div>
                        </div>
                        <div class="row">
                          <div class="form-group col-md-6">
                            <label class="form-control-label" for="inputBasicLastName">Valid Dari <small style="color:red"> *required</small></label>
                            <input type="date" placeholder="yyyy/mm/dd" pattern="(^(((0[1-9]|1[0-9]|2[0-8])[\/](0[1-9]|1[012]))|((29|30|31)[\/](0[13578]|1[02]))|((29|30)[\/](0[4,6,9]|11)))[\/](19|[2-9][0-9])\d\d$)|(^29[\/]02[\/](19|[2-9][0-9])(00|04|08|12|16|20|24|28|32|36|40|44|48|52|56|60|64|68|72|76|80|84|88|92|96)$)" class="form-control" v-model="form.tglValidDari" autocomplete="off" required disabled>
                          </div>
                          <div class="form-group col-md-6">
                            <label class="form-control-label" for="inputBasicLastName">Valid Sampai <small style="color:red"> *required</small></label>
                            <input type="date" placeholder="yyyy/mm/dd" pattern="(^(((0[1-9]|1[0-9]|2[0-8])[\/](0[1-9]|1[012]))|((29|30|31)[\/](0[13578]|1[02]))|((29|30)[\/](0[4,6,9]|11)))[\/](19|[2-9][0-9])\d\d$)|(^29[\/]02[\/](19|[2-9][0-9])(00|04|08|12|16|20|24|28|32|36|40|44|48|52|56|60|64|68|72|76|80|84|88|92|96)$)" class="form-control" v-model="form.tglValidSampai" autocomplete="off" required disabled>
                          </div>
                          <div class="form-group col-md-12">
                            <label class="form-control-label" for="inputBasicLastName">File Informasi Pekerjaan</label>
                            <div class="input-group">
                              <iframe style="width:100%; height: 350px;" :src="form.file1Adm"></iframe>
                              <!-- <pdf style="width:100%; height: 300px;" :src="form2.file2"></pdf> -->
                            </div>
                          </div>
                          <div class="form-group col-md-12">
                            <label class="form-control-label" for="inputBasicLastName">File Dokumen Pekerjaan</label>
                            <div class="input-group">
                              <iframe style="width:100%; height: 350px;" :src="form.file2Adm"></iframe>
                              <!-- <pdf style="width:100%; height: 300px;" :src="form2.file2"></pdf> -->
                            </div>
                          </div>
                        </div>
                        <template v-if="role == 'R002'">
                        </template>
                        <template v-else>
                          <div class="row">
                            <div class="form-group form-material col-md-6">
                              <label class="form-control-label" for="inputBasicLastName">Nama Direksi Mengetahui <small style="color:red"> *required</small></label>
                              <Select2MultipleControl id="fullketahuiuserV" v-model="form.ketahuiNamaPekerjaan" :options="myOptionsUser1" :settings="{ placeholder: 'Select a User', width: '100%' }" required disabled/>
                            </div>
                            <div class="form-group form-material col-md-6">
                              <label class="form-control-label" for="inputBasicLastName">Nama Divisi Diteruskan <small style="color:red"> *required</small></label>
                              <Select2MultipleControl id="fullteruskanuserV" v-model="form.teruskanNamaPekerjaan" :options="myOptionsUser2" :settings="{ placeholder: 'Select a User', width: '100%' }"  required disabled/>
                            </div>
                          </div>
                        </template>
                      </div>
                    </div>
                    <div class="tab-pane" id="assessment-fill" role="tabpanel" aria-labelledby="assessment-tab-fill">
                      <div class="card-body">            
                        <h4 class="card-title">Jumlah Vendor : {{total}}</h4>
                        <vue-good-table
                          mode="remote"
                          @on-page-change="onPageChange"
                          @on-sort-change="onSortChange"
                          @on-column-filter="onColumnFilter"
                          @on-per-page-change="onPerPageChange"
                          @on-search="onSearch"
                          :totalRows="totalRecords"
                          :isLoading.sync="isLoading"
                          :pagination-options="{
                            enabled: true,
                            dropdownAllowAll: false,
                            mode: 'pages'
                          }"
                          :search-options="{
                            enabled: true,
                            skipDiacritics: true,
                          }"
                          :rows="rows"
                          :columns="columns">
                          <template slot="table-row" slot-scope="props">
                            <span v-if="props.column.field == 'approve_pekerjaan'">
                              <template v-if="props.row.approve_pekerjaan == 0">
                                <span class="badge badge-round badge-warning">Menunggu Keputusan</span>
                              </template>
                              <template v-else-if="props.row.approve_pekerjaan == 2">
                                <span class="badge badge-round badge-success">Menerima</span>
                              </template>
                              <template v-else>
                                <span class="badge badge-round badge-danger">Menolak</span>
                              </template>
                            </span>
                            <span v-else-if="props.column.field == 'signature'">
                              <img class="round" :src="`uploads/signature/${props.row.signature}`" @error="(() => props.row.signature = '/signatureNone.png')" width="50" height="50" alt="...">
                            </span>
                            <span v-else>
                              {{props.formattedRow[props.column.field]}}
                            </span>
                          </template>
                        </vue-good-table>
                      </div>
                    </div>
                    <div class="tab-pane" id="donation-fill" role="tabpanel" aria-labelledby="donation-tab-fill">
                      <div class="card-body">
                        <div class="row">
                          <div class="form-group col-md-12">
                            <label class="form-control-label" for="inputBasicFirstName">Title Committee <small style="color:red"> *required</small></label>
                            <input
                              type="textfield"
                              class="form-control"
                              placeholder="Input Title"
                              v-model="form4.TitleCommittee"
                              autocomplete="off"
                              required disabled
                            />
                          </div>
                          <div class="form-group col-md-6">
                            <label class="form-control-label" for="inputBasicLastName">Valid Dari <small style="color:red"> *required</small></label>
                            <input type="date" placeholder="yyyy/mm/dd" pattern="(^(((0[1-9]|1[0-9]|2[0-8])[\/](0[1-9]|1[012]))|((29|30|31)[\/](0[13578]|1[02]))|((29|30)[\/](0[4,6,9]|11)))[\/](19|[2-9][0-9])\d\d$)|(^29[\/]02[\/](19|[2-9][0-9])(00|04|08|12|16|20|24|28|32|36|40|44|48|52|56|60|64|68|72|76|80|84|88|92|96)$)" class="form-control" v-model="form4.tglValidDari" autocomplete="off" required disabled>
                          </div>
                          <div class="form-group col-md-6">
                            <label class="form-control-label" for="inputBasicLastName">Valid Sampai <small style="color:red"> *required</small></label>
                            <input type="date" placeholder="yyyy/mm/dd" pattern="(^(((0[1-9]|1[0-9]|2[0-8])[\/](0[1-9]|1[012]))|((29|30|31)[\/](0[13578]|1[02]))|((29|30)[\/](0[4,6,9]|11)))[\/](19|[2-9][0-9])\d\d$)|(^29[\/]02[\/](19|[2-9][0-9])(00|04|08|12|16|20|24|28|32|36|40|44|48|52|56|60|64|68|72|76|80|84|88|92|96)$)" class="form-control" v-model="form4.tglValidSampai" autocomplete="off" required disabled>
                          </div>
                          <div class="form-group col-md-12">
                            <label class="form-control-label" for="inputBasicLastName">User Committee <small style="color:red"> *required</small></label>
                            <div class="col-md-12">
                              <Select2MultipleControl id="fulltypeScopeMulti" v-model="form4.IdUser" :options="myOptionsCommittee" :settings="{ placeholder: 'Select a User Committee', width: '100%' }" @select="mySelectUser($event)" required disabled/>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
              </div>
            </div>
            <div class="tab-pane" id="kualifikasi-fill" role="tabpanel" aria-labelledby="kualifikasi-tab-fill">
              <div class="card-body">
                <ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">
                  <li class="nav-item">
                      <a class="nav-link active" id="assessment1-tab-fill" data-toggle="tab" href="#assessment1-fill" role="tab" aria-controls="assessment1-fill" aria-selected="false">Data Vendor</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" id="dokumen1-tab-fill" data-toggle="tab" href="#dokumen1-fill" role="tab" aria-controls="dokumen1-fill" aria-selected="false">Data Dokumen</a>
                  </li>
                </ul>
                <div class="tab-content pt-1">
                    <div class="tab-pane active" id="assessment1-fill" role="tabpanel" aria-labelledby="assessment1-tab-fill">
                      <div class="card-body">            
                        <h4 class="card-title">Jumlah Vendor : {{total2}}</h4>
                        <vue-good-table
                          mode="remote"
                          @on-page-change="onPageChange2"
                          @on-sort-change="onSortChange2"
                          @on-column-filter="onColumnFilter2"
                          @on-per-page-change="onPerPageChange2"
                          @on-search="onSearch2"
                          :totalRows="totalRecords2"
                          :isLoading.sync="isLoading"
                          :pagination-options="{
                            enabled: true,
                            dropdownAllowAll: false,
                            mode: 'pages'
                          }"
                          :search-options="{
                            enabled: true,
                            skipDiacritics: true,
                          }"
                          :rows="rows2"
                          :columns="columns2">
                          <template slot="table-row" slot-scope="props">
                            <span v-if="props.column.field == 'validasi'">
                              <template v-if="props.row.validasi == 0">
                                <span class="badge badge-round badge-warning">Menunggu Validasi</span>
                              </template>
                              <template v-else-if="props.row.validasi == 2">
                                <span class="badge badge-round badge-success">Diterima</span>
                              </template>
                              <template v-else>
                                <span class="badge badge-round badge-danger">Ditolak</span>
                              </template>
                            </span>
                            <span v-else>
                              {{props.formattedRow[props.column.field]}}
                            </span>
                          </template>
                        </vue-good-table>
                      </div>
                    </div>
                    <div class="tab-pane" id="dokumen1-fill" role="tabpanel" aria-labelledby="dokumen1-tab-fill">
                      <div class="card-body">
                        <div class="accordion" id="accordionExample0">
                          <div class="collapse-border-item collapse-header card collapse-bordered" style="box-shadow: none;">
                            <template v-for="(row, index) in dataDokumen">
                              <div class="card-header" :id="`heading`+index" data-toggle="collapse" role="button" :data-target="`#collapse`+index" aria-expanded="false" :aria-controls="`collapse`+index">
                                <span class="lead collapse-title">
                                  <span>{{row.nama_vendor}}</span>                                
                                </span>
                              </div>
                              <div :id="`collapse`+index" class="collapse"  :aria-labelledby="`heading`+index" data-parent="#accordionExample0">
                                <div class="card-body">
                                  <div class="modal-body">
                                    <div class="row">
                                      <template v-for="(rowz, indexz) in row.isi">
                                        <template v-if="row.isi.length !== 0">
                                          <div class="form-group col-md-12">
                                            <label class="form-control-label" for="inputBasicLastName" style="font-size: 24px;">{{rowz.dokumen_kualifikasi}}</label>
                                            <div class="input-group">
                                              <iframe style="width:100%; height: 350px;" :src="`/uploads/file_dokumen_kualifikasi/`+rowz.file_dokumen_kualifikasi"></iframe>
                                            </div>
                                          </div>
                                        </template>
                                        <template v-else-if="row.isi.length === 0">
                                          <div class="form-group col-md-12">
                                            <label class="form-control-label" for="inputBasicLastName" style="font-size: 24px;">Belum Upload</label>
                                          </div>
                                        </template>
                                      </template>
                                      <template v-if="role !== 'R002'">
                                        <template v-if="row.validasi == 0">
                                          <div class="form-group col-md-12">
                                            <label class="form-control-label" for="inputBasicFirstName">Catatan <small style="color:red"> *required</small></label>
                                            <textarea class="maxlength-textarea form-control" data-plugin="maxlength" data-placement="bottom-right-inside" maxlength="100" rows="3" placeholder="Input catatan" v-model="catatanDokumen" required></textarea>
                                          </div>
                                        </template>
                                        <template v-else>
                                          <label class="form-control-label" for="inputBasicFirstName">Catatan</label>
                                          <textarea class="maxlength-textarea form-control" data-plugin="maxlength" data-placement="bottom-right-inside" maxlength="100" rows="3" placeholder="Input catatan" disabled>{{row.catatan}}</textarea>
                                        </template>
                                      </template>
                                      <template v-else-if="role == 'R002'">
                                        <label class="form-control-label" for="inputBasicFirstName">Catatan</label>
                                        <textarea class="maxlength-textarea form-control" data-plugin="maxlength" data-placement="bottom-right-inside" maxlength="100" rows="3" placeholder="Input catatan" disabled>{{row.catatan}}</textarea>
                                      </template>
                                    </div>
                                  </div>
                                  <template v-if="role !== 'R002'">
                                    <template v-if="row.validasi == 0">
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-primary" @click="terima(row.id_vendor)">Terima</button>
                                        <button type="button" class="btn btn-outline-danger" @click="tolak(row.id_vendor)">Tolak</button>
                                      </div>
                                    </template>
                                    <template v-else-if="row.validasi == 2">
                                      <span class="badge badge-round badge-success">Diterima</span>
                                    </template>
                                    <template v-else>
                                      <span class="badge badge-round badge-danger">Ditolak</span>
                                    </template>
                                  </template>
                                  <template v-else-if="role == 'R002'">
                                    <template v-if="row.validasi == 2">
                                      <span class="badge badge-round badge-success">Diterima</span>
                                    </template>
                                    <template v-else-if="row.validasi == 1">
                                      <span class="badge badge-round badge-danger">Ditolak</span>
                                    </template>
                                    <template v-else>
                                      <span class="badge badge-round badge-warning">Menunggu Validasi</span>
                                    </template>
                                  </template>
                                </div>
                              </div>
                            </template>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
              </div>
            </div>
            <div class="tab-pane" id="aanwijzing-fill" role="tabpanel" aria-labelledby="aanwijzing-tab-fill">
              <div class="card-body">
                <ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">
                  <li class="nav-item">
                      <a class="nav-link active" id="assessmentQna-tab-fill" data-toggle="tab" href="#assessmentQna-fill" role="tab" aria-controls="assessmentQna-fill" aria-selected="false">Data Jawaban</a>
                  </li>
                </ul>
                <div class="tab-content pt-1">
                    <div class="tab-pane active" id="assessmentQna-fill" role="tabpanel" aria-labelledby="assessmentQna-tab-fill">
                      <div class="card-body">
                        <div class="accordion" id="accordionExample0">
                          <div class="collapse-border-item collapse-header card collapse-bordered" style="box-shadow: none;">
                            <template v-for="(row, index) in dataQNA">
                              <div class="card-header" :id="`heading`+index" data-toggle="collapse" role="button" :data-target="`#collapse`+index" aria-expanded="false" :aria-controls="`collapse`+index">
                                <span class="lead collapse-title">
                                  <span>{{row.nama_vendor}}</span>                                
                                </span>
                              </div>
                              <div :id="`collapse`+index" class="collapse"  :aria-labelledby="`heading`+index" data-parent="#accordionExample0">
                                <div class="card-body">
                                  <div class="modal-body">
                                    <div class="row">
                                      <template v-for="(rowz, indexz) in row.isi">
                                        <template v-if="row.isi.length !== 0">
                                          <div class="form-group col-md-12">
                                            <hr>
                                          </div>

                                          <div class="form-group col-md-12">
                                            <template v-if="row.status == '2'">
                                              <div class="alert alert-dark" role="alert">
                                                <h4 class="alert-heading">Pertanyaan</h4>
                                                <p class="mb-0" v-html="rowz.pertanyaan">
                                                  {{ rowz.pertanyaan }}
                                                </p>
                                              </div>
                                            </template>                                    
                                          </div>

                                          <div class="form-group col-md-12">
                                            <template v-if="row.status == '2'">
                                              <div class="alert alert-dark" role="alert" style="background: rgb(30 30 30 / 5%) !important;">
                                                <h4 class="alert-heading">Jawaban</h4>
                                                <p class="mb-0" v-html="rowz.jawaban">
                                                  {{ rowz.jawaban }}
                                                </p>
                                              </div>
                                            </template>
                                          </div>
                                        </template>
                                        <template v-else-if="row.isi.length === 0">
                                          <div class="form-group col-md-12">
                                            <label class="form-control-label" for="inputBasicLastName" style="font-size: 24px;">Belum Bertanya</label>
                                          </div>
                                        </template>
                                      </template>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </template>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
              </div>
            </div>
            <div class="tab-pane" id="penawaran-fill" role="tabpanel" aria-labelledby="penawaran-tab-fill">
              <div class="card-body">
                <ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link active" id="assessment2-tab-fill" data-toggle="tab" href="#assessment2-fill" role="tab" aria-controls="assessment2-fill" aria-selected="false">Data Vendor</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" id="dokumen2-tab-fill" data-toggle="tab" href="#dokumen2-fill" role="tab" aria-controls="dokumen2-fill" aria-selected="false">Data Penawaran</a>
                  </li>
                </ul>
                <div class="tab-content pt-1">
                    <div class="tab-pane active" id="assessment2-fill" role="tabpanel" aria-labelledby="assessment2-tab-fill">
                      <div class="card-body">            
                        <h4 class="card-title">Jumlah Vendor : {{total3}}</h4>
                        <vue-good-table
                          mode="remote"
                          @on-page-change="onPageChange3"
                          @on-sort-change="onSortChange3"
                          @on-column-filter="onColumnFilter3"
                          @on-per-page-change="onPerPageChange3"
                          @on-search="onSearch3"
                          :totalRows="totalRecords3"
                          :isLoading.sync="isLoading"
                          :pagination-options="{
                            enabled: true,
                            dropdownAllowAll: false,
                            mode: 'pages'
                          }"
                          :search-options="{
                            enabled: true,
                            skipDiacritics: true,
                          }"
                          :rows="rows3"
                          :columns="columns3">
                          <template slot="table-row" slot-scope="props">
                            <span v-if="props.column.field == 'status_penawaran'">
                              <template v-if="props.row.status_penawaran == 0">
                                <span class="badge badge-round badge-warning">Menunggu Upload Penawaran</span>
                              </template>
                              <template v-else-if="props.row.status_penawaran == 2">
                                <span class="badge badge-round badge-success">Klarifikasi Pemenang</span>
                              </template>
                              <template v-else>
                                <span class="badge badge-round badge-warning">Menunggu Evaluasi</span>
                              </template>
                            </span>
                            <span v-else-if="props.column.field == 'penawaran'">
                              Rp. {{formatPrice(props.row.penawaran)}}
                            </span>
                            <span v-else>
                              {{props.formattedRow[props.column.field]}}
                            </span>
                          </template>
                        </vue-good-table>
                      </div>
                    </div>
                    <div class="tab-pane" id="dokumen2-fill" role="tabpanel" aria-labelledby="dokumen2-tab-fill">
                      <div class="card-body">
                        <div class="accordion" id="accordionExample0">
                          <div class="collapse-border-item collapse-header card collapse-bordered" style="box-shadow: none;">
                            <template v-for="(row, index) in dataDokumen2">
                              <div class="card-header" :id="`heading`+index" data-toggle="collapse" role="button" :data-target="`#collapse`+index" aria-expanded="false" :aria-controls="`collapse`+index">
                                <span class="lead collapse-title">
                                  <span>{{row.nama_vendor}} - Penawaran : Rp. {{ formatPrice(row.penawaran) }}</span>                                
                                </span>
                              </div>
                              <div :id="`collapse`+index" class="collapse"  :aria-labelledby="`heading`+index" data-parent="#accordionExample0">
                                <div class="card-body">
                                  <div class="modal-body">
                                    <div class="row">
                                      <template v-if="row.status_penawaran !== 0">
                                        <template v-for="(row, index) in row.isi">
                                          <div class="form-group col-md-12">
                                            <label class="form-control-label" for="inputBasicLastName">{{row.dokumen_penawaran}}</label>
                                            <div class="input-group">
                                              <iframe style="width:100%; height: 350px;" :src="`/uploads/file_dokumen_penawaran/`+row.file_dokumen_penawaran"></iframe>
                                            </div>
                                          </div>
                                        </template>
                                      </template>
                                      <template v-else>
                                        <label class="form-control-label" for="inputBasicLastName" style="font-size: 24px;">Belum Upload</label>
                                      </template>
                                      <template v-if="row.validasi_penawaran == '' || row.validasi_penawaran == null">
                                        <div class="form-group col-md-12">
                                          <label class="form-control-label" for="inputBasicFirstName">Catatan <small style="color:red"> *required</small></label>
                                          <textarea class="maxlength-textarea form-control" data-plugin="maxlength" data-placement="bottom-right-inside" maxlength="100" rows="3" placeholder="Input catatan" v-model="form.catatanPenawaran" required></textarea>
                                        </div>
                                      </template>
                                      <template v-else>
                                        <label class="form-control-label" for="inputBasicFirstName">Catatan</label>
                                        <textarea class="maxlength-textarea form-control" data-plugin="maxlength" data-placement="bottom-right-inside" maxlength="100" rows="3" placeholder="Input catatan" disabled>{{row.catatan_penawaran}}</textarea>
                                      </template>

                                      <template v-if="row.validasi_penawaran == 2">
                                        <span class="badge badge-round badge-success">Diterima</span>
                                      </template>
                                      <template v-else-if="row.validasi_penawaran == 1">
                                        <span class="badge badge-round badge-danger">Ditolak</span>
                                      </template>
                                      <template v-else>
                                        <span class="badge badge-round badge-warning">Menunggu Validasi</span>
                                      </template>

                                    </div>
                                  </div>
                                </div>
                              </div>
                            </template>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
              </div>
            </div>
            <div class="tab-pane" id="evaluasi-fill" role="tabpanel" aria-labelledby="evaluasi-tab-fill">
              <div class="card-body">
                <ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">
                  <li class="nav-item">
                      <a class="nav-link active" id="dokumen3-tab-fill" data-toggle="tab" href="#dokumen3-fill" role="tab" aria-controls="dokumen3-fill" aria-selected="false">Data Evaluasi</a>
                  </li>
                </ul>
                <div class="tab-pane active" id="dokumen3-fill" role="tabpanel" aria-labelledby="dokumen3-tab-fill">
                  <div class="card-body">
                    <template v-for="(row, index) in dataEvaluasi">
                      <div class="modal-body">
                        <div class="row">
                          <template v-if="row.status_evaluasi !== 0">
                            <div class="form-group col-md-12">
                              <div class="alert alert-dark" role="alert">
                                <h4 class="alert-heading">Terpilih</h4>
                                <b> {{ row.pemenang }} </b>
                              </div>
                            </div>
                            <div class="form-group col-md-12">
                              <div class="alert alert-dark" role="alert" style="background: rgb(30 30 30 / 5%) !important;">
                                <h4 class="alert-heading">Penawaran</h4>
                                <b>Rp. {{ formatPrice(row.penawaran) }} </b>
                              </div>
                            </div>
                            <div class="form-group col-md-12">
                              <div class="alert alert-dark" role="alert" style="background: rgb(30 30 30 / 5%) !important;">
                                <h4 class="alert-heading">Notulen</h4>
                                <p class="mb-0" v-html="row.notulen">
                                  {{ row.notulen }}
                                </p>
                              </div>
                            </div>
                            <div class="form-group col-md-12">
                              <div class="form-group">
                                <label class="form-control-label" for="inputBasicLastName">File Notulen </label>
                                <iframe style="width:100%; height: 350px;" :src="`/uploads/file_dokumen_evaluasi/`+row.file_notulen"></iframe>
                              </div>
                            </div>
                          </template>
                          <template v-else-if="row.status_evaluasi == 0">
                            <label class="form-control-label" for="inputBasicLastName" style="font-size: 24px;">Belum Upload</label>
                          </template>
                        </div>
                      </div>
                    </template>
                  </div>
                </div>
              </div>
            </div>
            <!-- <div class="tab-pane" id="negosiasi-fill" role="tabpanel" aria-labelledby="negosiasi-tab-fill">
              <div class="card-body">
              </div>
            </div>
            <div class="tab-pane" id="pemenang-fill" role="tabpanel" aria-labelledby="pemenang-tab-fill">
              <div class="card-body">
              </div>
            </div> -->
          </div>

        </div> 
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!-- End Modal -->
</template>

<!-- script js -->
<script>
import Select2 from "v-select2-component";
import Select2MultipleControl from 'v-select2-multiple-component';
import pdf from 'vue-pdf';
import 'vue-good-table/dist/vue-good-table.css'
import { VueGoodTable } from 'vue-good-table';
export default {
  components: { 
    Select2,
    Select2MultipleControl,
    pdf,
    'vue-good-table' : VueGoodTable,
  },
  name: 'modal',
  props : {
    viewModal : {
      type : Boolean
    },
    view : {
      type : Object
    },
    closeModal : {
      type : Function
    }
  },
  data(){
    return{
      myOptionsCommittee: [],
      role: 'R002',
      form:{
        idUser : '',
        role : '',
        namaPekerjaan: '',
        IdVendor: '',
        IdCommittee: '',
        keteranganPekerjaan: '',
        kategoriPekerjaan: '',
        anggaranPekerjaan: '',
        lokasiPekerjaan: '',
        nilaiPaguPekerjaan: '',
        kualifikasiPekerjaan: '',
        divisiPekerjaan: '',
        ketahuiPekerjaan: '',
        ketahuiNamaPekerjaan: '',
        teruskanPekerjaan: '',
        teruskanNamaPekerjaan: '',
        tglValidDari: '',
        tglValidSampai: '',
        file1Adm: '',
        file2Adm: '',
        catatanPenawaran: '',
      },
      form4:{
        TitleCommittee: '',
        tglValidDari: '',
        tglValidSampai: '',
        IdUser: '',
      },
      myOptionsVendor: [],
      myOptionsKategori: [],
      myOptionsDivisi: [],
      myOptionsUser1: [],
      myOptionsUser2: [],
      myOptionsKualifikasi: [
        {id:"Perusahaan Kecil",text:"Perusahaan Kecil"},
        {id:"Perusahaan Menengah",text:"Perusahaan Menengah"},
        {id:"Perusahaan Besar",text:"Perusahaan Besar"},
      ],
      isLoading: false,
      columns: [
          {
              label: 'Vendor',
              field: 'nama_vendor',
              filterable: true
          },
          {
              label: 'Menerima Pekerjaan',
              field: 'approve_pekerjaan',
              filterable: true
          },
          {
              label: 'TTD',
              field: 'signature',
              filterable: true
          },
      ],
      rows: [],
      totalRecords: 0,
      serverParams: {
        columnFilters: {
        },
        sort: {       
          field: 'created_at', 
          type: 'desc',
        },
        page: 1, 
        perPage: 10,
        searchTerm: ''
      },
      total: '',
      
      columns2: [
          {
              label: 'Vendor',
              field: 'nama_vendor',
              filterable: true
          },
          {
            label: 'Validasi Dokumen',
            field: 'validasi',
            sortable: false,
          },
      ],
      rows2: [],
      totalRecords2: 0,
      serverParams2: {
        columnFilters: {
        },
        sort: {       
          field: 'created_at', 
          type: 'desc',
        },
        page: 1, 
        perPage: 10,
        searchTerm: ''
      },
      total2: '',

      columns3: [
          {
              label: 'Vendor',
              field: 'nama_vendor',
              filterable: true
          },
          {
              label: 'Penawaran',
              field: 'penawaran',
              filterable: true
          },
          {
              label: 'Status Penawaran',
              field: 'status_penawaran',
              filterable: true
          },
      ],
      rows3: [],
      totalRecords3: 0,
      serverParams3: {
        columnFilters: {
        },
        sort: {       
          field: 'created_at', 
          type: 'desc',
        },
        page: 1, 
        perPage: 10,
        searchTerm: ''
      },
      total3: '',
      dataDokumen: [],
      dataDokumen2: [],
      catatanDokumen: '',
      dataQNA: [],
      dataEvaluasi: [],
    }
  },
  watch: {
    view(newVal) {
      if (newVal) {
        this.loadData()
        this.form.idPekerjaan = newVal.id_pekerjaan
        this.form.namaPekerjaan = newVal.nama_pekerjaan
        this.form.IdVendor = newVal.id_vendor
        this.form.IdCommittee = newVal.id_committee
        this.form.keteranganPekerjaan = newVal.keterangan
        this.form.kategoriPekerjaan = newVal.id_kategori_pekerjaan
        this.form.anggaranPekerjaan = newVal.anggaran
        this.form.lokasiPekerjaan = newVal.lokasi
        this.form.nilaiPaguPekerjaan = newVal.nilai_pagu
        this.form.kualifikasiPekerjaan = newVal.kualifikasi
        this.form.divisiPekerjaan = newVal.id_divisi
        this.form.ketahuiNamaPekerjaan = newVal.ketahui
        this.form.teruskanNamaPekerjaan = newVal.teruskan
        this.form.tglValidDari = newVal.valid_from
        this.form.tglValidSampai = newVal.valid_to
        this.form.file1Adm= window.location.origin+"/uploads/file_dokumen/"+newVal.file_pekerjaan
        this.form.file2Adm= window.location.origin+"/uploads/file_dokumen/"+newVal.dokumen_pekerjaan
        this.getCommittee(newVal.id_committee)
        this.session()
        
      }
    } 
  },
  methods: {
    session(){
      axios
        .get("/session")
        .then(response => {
          this.role = response.data.role
          this.form.idUser = response.data.id
          this.getVendor(this.form.IdVendor)
      });
    },
    loadData(){
      axios
        .get("/api/dropdownuserCommittee")
        .then(response => {
          this.myOptionsCommittee = response.data;
      });

      axios.get("/api/dropdownvendor").then(response => {
        this.myOptionsVendor = response.data;
      });

      axios.get("/api/dropdowndivisi").then(response => {
        this.myOptionsDivisi = response.data;
      });

      axios
        .get("/api/dropdownuserPekerjaan")
        .then(response => {
          this.myOptionsUser1 = response.data;
          this.myOptionsUser2 = response.data;
      });

      axios.get("/api/dropdownkategoripekerjaan").then(response => {
        this.myOptionsKategori = response.data;
      });
    },
    getVendor(params){
      this.loadItems()
      this.loadItems2()
      this.loadItems3()
      this.getDokumen2(this.form.idPekerjaan, this.form.idUser, this.form.IdVendor)
    },
    getCommittee(params){
      axios
        .get("/api/committee/" + params)
        .then(response => {
          this.form4.TitleCommittee = response.data.title_committee
          this.form4.tglValidDari = response.data.valid_from
          this.form4.tglValidSampai = response.data.valid_to
          this.form4.IdUser = response.data.id_user
        });
    },
    getDokumen(id_pekerjaan,id_user,id_vendor){
      if(this.role == "R002") {
        axios
        .get("/api/getDokumenPTbyID/" + id_pekerjaan + "/" + id_user)
        .then(response => {
          this.dataDokumen = response.data
        });
      } else {
        axios
        .get("/api/getDokumenPT/" + id_pekerjaan + "/" + id_user + "/" + id_vendor)
        .then(response => {
          this.dataDokumen = response.data
        });
      }
    },
    getDokumen2(id_pekerjaan,id_user,id_vendor){
      if(this.role == "R002") {
        axios
        .get("/api/getFilePenawaranPTbyID/" + id_pekerjaan + "/" + id_user)
        .then(response => {
          this.dataDokumen2 = response.data
          this.getQNA(this.form.idPekerjaan, this.form.idUser, this.form.IdVendor)
        });
      } else {
        axios
        .get("/api/getFilePenawaranPT/" + id_pekerjaan + "/" + id_user + "/" + id_vendor)
        .then(response => {
          this.dataDokumen2 = response.data
          this.getQNA(this.form.idPekerjaan, this.form.idUser, this.form.IdVendor)
        });
      }
    },
    getQNA(id_pekerjaan,id_user,id_vendor){
      if(this.role == "R002") {
        axios
        .get("/api/getQNAPTbyID/" + id_pekerjaan + "/" + id_user)
        .then(response => {
          this.dataQNA = response.data
          this.getNotulen(this.form.idPekerjaan, this.form.idUser, this.form.IdVendor)
        });
      } else {
        axios
        .get("/api/getQNAPT/" + id_pekerjaan + "/" + id_user + "/" + id_vendor)
        .then(response => {
          this.dataQNA = response.data
          this.getNotulen(this.form.idPekerjaan, this.form.idUser, this.form.IdVendor)
        });
      }
    },
    getNotulen(id_pekerjaan,id_user,id_vendor){
      if(this.role == "R002") {
        axios
        .get("/api/getFileNotulenPTbyID/" + id_pekerjaan + "/" + id_user)
        .then(response => {
          this.dataEvaluasi = response.data
          this.getDokumen(this.form.idPekerjaan, this.form.idUser, this.form.IdVendor)
        });
      } else {
        axios
        .get("/api/getFileNotulenPT/" + id_pekerjaan + "/" + id_user + "/" + id_vendor)
        .then(response => {
          this.dataEvaluasi = response.data
          this.getDokumen(this.form.idPekerjaan, this.form.idUser, this.form.IdVendor)
        });
      }
    },

    getFromServer(vendors) {
      if(this.role == "R002") {
        return axios.get(`/api/getVendorPekerjaanbyIDPT/${this.form.idPekerjaan}/${this.form.IdVendor}/${this.form.idUser}?searchTerm=${vendors.searchTerm}&page=${vendors.page}&per_page=${vendors.perPage}&field=${vendors.sort.field}&type=${vendors.sort.type}`); 
      } else {
        return axios.get(`/api/getVendorPekerjaanPT/${this.form.idPekerjaan}/${this.form.IdVendor}?searchTerm=${vendors.searchTerm}&page=${vendors.page}&per_page=${vendors.perPage}&field=${vendors.sort.field}&type=${vendors.sort.type}`); 
      }
    },
    updateParams(newProps) {
      this.serverParams = Object.assign({}, this.serverParams, newProps);
    },
    onPageChange(params) {
      this.updateParams({page: params.currentPage});
      this.loadItems();
    },
    onPerPageChange(params) {
      this.updateParams({perPage: params.currentPerPage});
      this.loadItems();
    },
    onSortChange(params) {
      this.updateParams({
        sort: {
          type: params[0].type,
          field: params[0].field,
        },
      });
      this.loadItems();
    },
    onColumnFilter(params) {
      this.updateParams(params);
      this.loadItems();
    },
    onSearch(params) {
      this.updateParams(params);
      this.loadItems();
    },

    loadItems() {
      this.getFromServer(this.serverParams).then((response) => {
          this.totalRecords = response.data.vendors.total;
          this.total = this.totalRecords
          this.rows = response.data.vendors.data;
      })
    },

    getFromServer2(vendors) {
      if(this.role == "R002") {
        return axios.get(`/api/getVendorPekerjaanbyIDPT/${this.form.idPekerjaan}/${this.form.IdVendor}/${this.form.idUser}?searchTerm=${vendors.searchTerm}&page=${vendors.page}&per_page=${vendors.perPage}&field=${vendors.sort.field}&type=${vendors.sort.type}`); 
      } else {
        return axios.get(`/api/getVendorPekerjaanPT/${this.form.idPekerjaan}/${this.form.IdVendor}?searchTerm=${vendors.searchTerm}&page=${vendors.page}&per_page=${vendors.perPage}&field=${vendors.sort.field}&type=${vendors.sort.type}`); 
      }
    },
    updateParams2(newProps) {
      this.serverParams2 = Object.assign({}, this.serverParams2, newProps);
    },
    onPageChange2(params) {
      this.updateParams2({page: params.currentPage});
      this.loadItems2();
    },
    onPerPageChange2(params) {
      this.updateParams2({perPage: params.currentPerPage});
      this.loadItems2();
    },
    onSortChange2(params) {
      this.updateParams2({
        sort: {
          type: params[0].type,
          field: params[0].field,
        },
      });
      this.loadItems2();
    },
    onColumnFilter2(params) {
      this.updateParams2(params);
      this.loadItems2();
    },
    onSearch2(params) {
      this.updateParams2(params);
      this.loadItems2();
    },
    loadItems2() {
      this.getFromServer2(this.serverParams).then((response) => {
          this.totalRecords2 = response.data.vendors.total;
          this.total2 = this.totalRecords
          this.rows2 = response.data.vendors.data;
      })
    },


    getFromServer3(penawarans) {
      if(this.role == "R002") {
        return axios.get(`/api/getPenawaranbyIDPT/${this.form.idPekerjaan}/${this.form.IdVendor}/${this.form.idUser}?searchTerm=${penawarans.searchTerm}&page=${penawarans.page}&per_page=${penawarans.perPage}&field=${penawarans.sort.field}&type=${penawarans.sort.type}`); 
      } else {
        return axios.get(`/api/getPenawaranPT/${this.form.idPekerjaan}/${this.form.IdVendor}?searchTerm=${penawarans.searchTerm}&page=${penawarans.page}&per_page=${penawarans.perPage}&field=${penawarans.sort.field}&type=${penawarans.sort.type}`); 
      }
    },
    updateParams3(newProps) {
      this.serverParams3 = Object.assign({}, this.serverParams3, newProps);
    },
    onPageChange3(params) {
      this.updateParams3({page: params.currentPage});
      this.loadItems3();
    },
    onPerPageChange3(params) {
      this.updateParams3({perPage: params.currentPerPage});
      this.loadItems3();
    },
    onSortChange3(params) {
      this.updateParams3({
        sort: {
          type: params[0].type,
          field: params[0].field,
        },
      });
      this.loadItems3();
    },
    onColumnFilter3(params) {
      this.updateParams3(params);
      this.loadItems3();
    },
    onSearch3(params) {
      this.updateParams3(params);
      this.loadItems3();
    },
    loadItems3() {
      this.getFromServer3(this.serverParams).then((response) => {
          this.totalRecords3 = response.data.penawarans.total;
          this.total3 = this.totalRecords3
          this.rows3 = response.data.penawarans.data;
      })
    },

    formatPrice(value) {
        let val = (value/1).toFixed(2).replace('.', ',')
        return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")
    },
    formatRupiah(angka, prefix){
      var number_string = angka.replace(/[^,\d]/g, '').toString(),
      split       = number_string.split(','),
      sisa        = split[0].length % 3,
      rupiah        = split[0].substr(0, sisa),
      ribuan        = split[0].substr(sisa).match(/\d{3}/gi);
 
      // tambahkan titik jika yang di input sudah menjadi angka ribuan
      if(ribuan){
        separator = sisa ? '.' : '';
        rupiah += separator + ribuan.join('.');
      }
 
      rupiah = split[1] != undefined ? rupiah + ',' + split[1] : rupiah;
      return prefix == undefined ? rupiah : (rupiah ? 'Rp. ' + rupiah : '');
    }
  }
};
</script>

 