<template>
  <!-- Modal -->
  <div class="modal fade text-left dokumenKontrakMod" id="default" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel1">Dokumen Kontrak</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form id="formDokumen" @submit.prevent="addDokumen()" autocomplete="off">
          <div class="modal-body">
            <div class="row">
              <div class="form-group col-md-12">
                <label class="form-control-label" for="inputBasicLastName">Dokumen Kontrak</label>
                <div class="self-evaluation-rows">
                  <a type="button" class="btn btn-outline-primary" @click="addRow(number)" v-show="rows.length < 10" > Add Row</a>
                </div>
                <br>
                <div class="box-body box-self-evaluation table-responsive">
                  <table id="example2" class="table table-hover sortable" width="100%">
                    <thead>
                      <tr>
                        <th>Dokumen</th>
                        <th>File</th>
                        <th>Remove</th>
                      </tr>
                    </thead>

                    <tbody>
                      <tr v-for="(row, index) in rows">
                        <td width="65%">
                          <div class="input-group">
                            <input type="textfield" class="form-control" placeholder="Input nama dokumen" v-model="row.dokumen" autocomplete="off" required/>
                          </div>
                        </td>
                        <td width="85%">
                          <div class="input-group">
                            <input type="file" :id="'file'+index" name="file[]" @change="uploadFilePDF($event,index)" multiple/>
                          </div>
                        </td>
                        <td width="15%">
                          <a type="button" class="btn btn-outline-danger" @click="removeRow(index)" > Remove</a>
                        </td>
                      </tr>       
                    </tbody>
                  </table>        
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default btn-pure" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Upload</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- End Modal -->
</template>

<!-- script js -->
<script>
export default {
  name: 'dokumenkontrak',
  components: {

  },
  props : {
    dokumenKontrakModal : {
      type : Boolean
    },
    kontrak : {
      type : Object
    },
    closeModal : {
      type : Function
    }
  },
  data(){
    return{
      role: '',
      rows: [],
      saveData: null,
      number: '1',
      form:{
        idUser : '',
        idPekerjaan: '',
        dokumen: '',
      },
      count: [],
      promises: [],
    }
  },
  watch: {
    kontrak(newVal) {
      if (newVal) {
        this.form.idPekerjaan = newVal.id_pekerjaan
        this.getDokumen()
      }
    } 
  },
  mounted() {
    this.getContent()
  },
  methods: {
    addRow: function(count){
     var numRows = this.rows.length;
     if (numRows >= 10) return;
     for(var i=1; i <= count; i++){
       this.rows.push({});
       if(++numRows == 10) break;
      }
    },
    removeRow: function(index){
      this.rows.splice(index,1);
    },
    uploadFilePDF (event,i) {
      if(event.target.files[0].type !== "application/pdf"){
        $('#file'+i).val("")
        Swal.fire(
          {
            title: 'Failed!',
            text: 'File harus PDF',
            confirmButtonClass: 'btn btn-success',
          }
        )
      } 
    },
    getContent(){
      axios
        .get("/session")
        .then(response => {
          this.role = response.data.role
          this.form.idUser = response.data.id
      });
    },
    getDokumen(){
      axios
      .get("/api/getFileKontrakbyID/" + this.form.idPekerjaan)
      .then(response => {
        this.rows = response.data
      });
    },
    addDokumen(){
      var currentState = window.Echo.connector.pusher.connection.state;
      if(currentState == "unavailable") {
        Swal.fire(
          {
            type: "warning",
            title: 'Peringatan!',
            text: 'Koneksi buruk / tidak terkoneksi dengan Internet. Mohon cek kembali koneksi Internet anda.',
            confirmButtonClass: 'btn btn-success',
          }
        )
      } else {
        Swal.fire({
          title: 'Are you sure?',
          html: `Upload <b>${this.count.length}</b> / ${this.rows.length}.`,
          type: 'warning',
          showCancelButton: true,
          confirmButtonText: 'Ok, Send!',
          showLoaderOnConfirm: true,
          preConfirm: () => {
            for (let i = 0; i < this.rows.length; i++) {
              var filess = $('#file'+i)[0].files
              let formData = new FormData();
              formData.append('id_user', this.form.idUser);
              formData.append('id_pekerjaan', this.form.idPekerjaan);
              formData.append('dokumen', this.rows[i].dokumen);
              formData.append('file', filess[0])
              formData.append('username', localStorage.getItem('username'));
              formData.append('fullname', localStorage.getItem('fullname'))

              this.promises.push(
                axios.post("/api/dokumenKontrak", formData, {
                  headers : {
                              'Content-Type': 'multipart/form-data'
                            },
                })
                .then(response => {
                    this.count.push(response.data);
                    const content = Swal.getContent()
                    if (content) {
                      const b = content.querySelector('b')
                      if (b) {
                        b.textContent = this.count.length
                      } 
                    }
                })
              )
            }
            this.form.idUser = ''
            this.form.idPekerjaan = ''
            this.form.dokumen = ''
            this.row = [] 
            return Promise.all(this.promises).then(() => console.log("oke"));
          },
          allowOutsideClick: () => !this.$swal.isLoading()
        }).then(function (result) {
          if (result.value) {
            $(".dokumenKontrakMod").modal('hide');
            this.closeModal();
            Swal.fire({
              title: `Success Upload!`,
              text: `Success upload ${this.count.length} / ${this.rows.length}`,
              type: 'success',
            })
            // setTimeout(function() {
            //     window.location.reload();
            // }, 1000);
          }
        }.bind(this))
      }
    },
  }
};
</script>

<style type="text/css" scoped="">
  canvas {
    width: 100%;
    height: 100%;
  }

  #signature {
    border: double 3px transparent;
    border-radius: 5px;
    background-image: linear-gradient(white, white),
      radial-gradient(circle at top left, #4bc5e8, #9f6274);
    background-origin: border-box;
    background-clip: content-box, border-box;
  }
</style>


