<template>
  <!-- Modal -->
  <div class="modal fade text-left viewdokumenKontrakMod" id="default" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel1">View Dokumen Kontrak</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
          <div class="card-body">
            <template v-for="(row, index) in dataDokumen">
              <div class="row">
                <template v-for="(rowz, indexz) in row.isi">
                  <template v-if="row.isi.length !== 0">
                    <div class="form-group col-md-12">
                      <label class="form-control-label" for="inputBasicLastName" style="font-size: 24px;">{{rowz.dokumen_kontrak}}</label>
                      <div class="input-group">
                        <iframe style="width:100%; height: 350px;" :src="`/uploads/file_dokumen_kontrak/`+rowz.file_dokumen_kontrak"></iframe>
                      </div>
                    </div>
                  </template>
                  <template v-else-if="row.isi.length === 0">
                    <div class="form-group col-md-12">
                      <label class="form-control-label" for="inputBasicLastName" style="font-size: 24px;">Belum Upload</label>
                    </div>
                  </template>
                </template>
              </div>
            </template>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default btn-pure" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!-- End Modal -->
</template>

<!-- script js -->
<script>
import 'vue-good-table/dist/vue-good-table.css'
import { VueGoodTable } from 'vue-good-table';

export default {
  name: 'viewjadwalpekerjaan',
  components: {
    'vue-good-table' : VueGoodTable,
  },
  props : {
    viewDokumenKontrakModal : {
      type : Boolean
    },
    viewkontrak : {
      type : Object
    },
    closeModal : {
      type : Function
    }
  },
  data(){
    return{
      role: '',
      form:{
        idUser: '',
        idPekerjaan: '',
        namaJadwal: '',
        tglMulai: '',
        jamMulai: '',
        tglSelesai: '',
        jamSelesai: '',
      },
      dataDokumen: [],
      isLoading: false,
      columns: [
          {
              label: 'Jadwal',
              field: 'nama_jadwal',
              filterable: true
          },
          {
              label: 'Tanggal Mulai',
              field: 'tgl_mulai',
              filterable: true
          },
          {
              label: 'Jam Mulai',
              field: 'jam_mulai',
              filterable: true
          },
          {
              label: 'Tanggal Selesai',
              field: 'tgl_selesai',
              filterable: true
          },
          {
              label: 'Jam Selesai',
              field: 'jam_selesai',
              filterable: true
          },
          {
              label: 'Perubahan',
              field: 'addendum',
              filterable: true
          },
      ],
      rows: [],
      totalRecords: 0,
      serverParams: {
        columnFilters: {
        },
        sort: {       
          field: 'created_at', 
          type: 'asc',
        },
        page: 1, 
        perPage: 10,
        searchTerm: ''
      },
    }
  },
  watch: {
    viewkontrak(newVal) {
      if (newVal) {
        this.form.idPekerjaan = newVal.id_pekerjaan
        this.getDokumen(this.form.idPekerjaan)
      }
    } 
  },
  mounted() {
    this.getContent()
  },
  methods: {
    getContent(){
      axios
        .get("/session")
        .then(response => {
          this.role = response.data.role
          this.form.idUser = response.data.id
      });
    },
    getDokumen(id_pekerjaan){
        axios
        .get("/api/getDokumenKontrakbyID/" + id_pekerjaan)
        .then(response => {
          this.dataDokumen = response.data
          console.log(this.dataDokumen)
        });
    },
  }
};
</script>

<style type="text/css" scoped="">
  canvas {
    width: 100%;
    height: 100%;
  }

  #signature {
    border: double 3px transparent;
    border-radius: 5px;
    background-image: linear-gradient(white, white),
      radial-gradient(circle at top left, #4bc5e8, #9f6274);
    background-origin: border-box;
    background-clip: content-box, border-box;
  }
</style>


