<template>
  <!-- Modal -->
  <div class="modal fade text-left baAanwijzingMod" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel1">Berita Acara</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
          <div class="card-body">
            <div class="row">
              <div class="form-group col-md-12">
                <label class="form-control-label" for="inputBasicLastName">Nomor <small style="color:red"> *required</small></label>
                <input
                  type="textfield"
                  class="form-control"
                  placeholder="Input nomor BA"
                  v-model="form.noBA"
                  autocomplete="off"
                  required
                >
              </div>
              <div class="form-group col-md-12">
                <label class="form-control-label" for="inputBasicLastName">Pekerjaan <small style="color:red"> *required</small></label>
                <input
                  type="textfield"
                  class="form-control"
                  placeholder="Input nama pekerjaan"
                  v-model="form.namaPekerjaan"
                  autocomplete="off"
                  required
                  readonly
                >
              </div>
              <div class="form-group col-md-12">
                <label class="form-control-label" for="inputBasicLastName">Lokasi <small style="color:red"> *required</small></label>
                <input
                  type="textfield"
                  class="form-control"
                  placeholder="Input lokasi"
                  v-model="form.lokasi"
                  autocomplete="off"
                  required
                >
              </div>
              <div class="form-group col-md-6">
                <label class="form-control-label" for="inputBasicLastName">Rapat dipimpin <small style="color:red"> *required</small></label>
                <Select2 id="fullpimpinanrpt" v-model="form.pimpinanRapat" :options="myOptionsUser" :settings="{ placeholder: 'Select a User', width: '100%' }" required/>
              </div>
              <div class="form-group col-md-6">
                <label class="form-control-label" for="inputBasicLastName">Jabatan <small style="color:red"> *required</small></label>
                <input
                  type="textfield"
                  class="form-control"
                  placeholder="Input jabatan pimpinan"
                  v-model="form.jabatanPimpinan"
                  autocomplete="off"
                  required
                >
              </div>
              <div class="form-group col-md-6">
                <label class="form-control-label" for="inputBasicLastName">Dimulai Jam <small style="color:red"> *required</small></label>
                <input
                  type="time" placeholder="HH:mm"
                  class="form-control"
                  v-model="form.dimulaiJam"
                  autocomplete="off"
                  required
                >
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-12">
                <label class="form-control-label" for="inputBasicLastName">Peserta Rapat <small style="color:red"> *required</small></label>
                <div class="self-evaluation-rows">
                  <a type="button" class="btn btn-outline-primary" @click="addRowz(number)" v-show="rowsz.length < 10" > Add Row</a>
                </div>
                <br>
                <div class="box-body box-self-evaluation table-responsive">
                  <table id="example2" class="table table-hover sortable" width="100%">
                    <thead>
                      <tr>
                        <th>Nama</th>
                        <th>Jabatan</th>
                        <th>Remove</th>
                      </tr>
                    </thead>

                    <tbody>
                      <tr v-for="(row, index) in rowsz">
                        <td width="30%">
                          <div class="input-group">
                            <input
                              type="textfield"
                              class="form-control"
                              placeholder="Input nama peserta"
                              v-model="row.namaPeserta"
                              autocomplete="off"
                              required
                            >
                          </div>
                        </td>
                        <td width="30%">
                          <div class="input-group">
                            <input
                              type="textfield"
                              class="form-control"
                              placeholder="Input jabatan peserta"
                              v-model="row.jabatanPeserta"
                              autocomplete="off"
                              required
                            >
                          </div>
                        </td>
                        <td width="15%">
                          <a type="button" class="btn btn-outline-danger" @click="removeRowz(index)" > Remove</a>
                        </td>
                      </tr>       
                    </tbody>
                  </table>        
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-12">
                <label class="form-control-label" for="inputBasicLastName">Jasa Penyedia <small style="color:red"> *required</small></label>
                <Select2MultipleControl id="penyedia" v-model="form.idVendor" :options="myOptionsVendor" :settings="{ placeholder: 'Select a Vendor', width: '100%' }" required/>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-12">
                <label class="form-control-label" for="inputBasicLastName">Hasil Aanwijzing <small style="color:red"> *required</small></label>
                <quill-editor
                  :content="contentBA"
                  :options="editorOption"
                  @change="onEditorBA($event)"
                />
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-12">
                <label class="form-control-label" for="inputBasicLastName">Attachment <small style="color:red"> *only .<b>PDF or .PNG, .JPG</b></small></label>
                <input type="file" class="form-control" id="fileAttach" ref="fileAttach" multiple v-on:change="handleFilesUpload()"/>
              </div>
            </div>
          </div>
        </div> 
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" @click="saveBA()">Save changes</button>
        </div>
      </div>
    </div>
  </div>
  <!-- End Modal -->
</template>

<!-- script js -->
<script>
import Select2 from "v-select2-component";
import Select2MultipleControl from 'v-select2-multiple-component';
import { quillEditor } from 'vue-quill-editor';
import 'quill/dist/quill.core.css'
import 'quill/dist/quill.snow.css'
import 'quill/dist/quill.bubble.css'
export default {
  components: { 
    Select2,
    Select2MultipleControl,
    quillEditor
  },
  name: 'modal',
  props : {
    baModal : {
      type : Boolean
    },
    ba : {
      type : Object
    },
    closeModal : {
      type : Function
    }
  },
  data(){
    return{
      role: 'R002',
      form:{
        idUser : '',
        role : '',
        idPekerjaan: '',
        namaPekerjaan: '',
        idVendor: '',
        noBA: '',
        lokasi: '',
        pimpinanRapat: '',
        jabatanPimpinan: '',
        dimulaiJam: '',
        fileAttach: '',
      },
      rowsz: [],
      rows: [],
      number: '1',
      myOptionsVendor: [],
      myOptionsUser: [],
      contentBA: '',
      editorOption: {
        placeholder: 'Compose an epic...',
        theme: 'snow'
      },
    }
  },  
  watch: {
    ba(newVal) {
      if (newVal) {
        this.session()
        this.form.idPekerjaan = newVal.id_pekerjaan
        this.form.namaPekerjaan = newVal.nama_pekerjaan
        this.form.idVendor = newVal.id_vendor
        this.rows = []
        var a = {};
        $.each(newVal.id_vendor, function (index, value) {
          a['idVendor'] = value;
        });
        this.rows.push(a);

        axios.get("/api/getPenyedia/"+this.form.idPekerjaan).then(response => {
          this.form.idVendor = response.data;
        });

        axios
          .get("/api/getBAAanwijzing/" + this.form.idPekerjaan)
          .then(response => {
            if(response.data.no_ba == null || response.data.no_ba == ""){
            } else {
              $(".baAanwijzingMod").modal('hide');
              this.closeModal()
              Swal.fire(
                {
                  type: "warning",
                  title: 'Peringatan!',
                  text: 'Anda sudah membuat Berita Acara. Silahkan lihat pada button View',
                }
              )
            }
        });

        axios.get("/api/dropdownvendor").then(response => {
          this.myOptionsVendor = response.data;
        });

        axios.get("/api/dropdownuserAll").then(response => {
          this.myOptionsUser = response.data;
        });
      }
    } 
  },
  methods: {
    session(){
      axios
        .get("/session")
        .then(response => {
          this.form.role = response.data.role
          this.form.idUser = response.data.id
      });
    },
    addRowz: function(count){
     var numRows = this.rowsz.length;
     if (numRows >= 10) return;
     for(var i=1; i <= count; i++){
       this.rowsz.push({});
       if(++numRows == 10) break;
      }
    },
    removeRowz: function(index){
      this.rowsz.splice(index,1);
    },
    addRow: function(count){
     var numRows = this.rows.length;
     if (numRows >= 10) return;
     for(var i=1; i <= count; i++){
       this.rows.push({});
       if(++numRows == 10) break;
      }
    },
    removeRow: function(index){
      this.rows.splice(index,1);
    },
    onEditorBA({ quill, html, text }) {
      this.contentBA = html
    },

    handleFilesUpload(){
        this.form.fileAttach = this.$refs.fileAttach.files;
    },
    saveBA(params1){
      let formData = new FormData();
      formData.append('id_user', this.form.idUser);
      formData.append('id_vendor', this.form.idVendor);
      formData.append('id_pekerjaan', this.form.idPekerjaan);
      formData.append('no_ba', this.form.noBA);
      formData.append('lokasi', this.form.lokasi);
      formData.append('pimpinan_rapat', this.form.pimpinanRapat);
      formData.append('jabatan_pimpinan', this.form.jabatanPimpinan);
      formData.append('dimulai_jam', this.form.dimulaiJam);
      formData.append('peserta', JSON.stringify(this.rowsz));
      formData.append('penyedia', this.form.idVendor);
      formData.append('hasil', this.contentBA);
      for( var i = 0; i < this.form.fileAttach.length; i++ ){
        let file = this.form.fileAttach[i];
        formData.append('attachment[' + i + ']', file);
      }
      formData.append('username', localStorage.getItem('username'));
      formData.append('fullname', localStorage.getItem('fullname'));
      var currentState = window.Echo.connector.pusher.connection.state;
      if(currentState == "unavailable") {
        Swal.fire(
          {
            type: "warning",
            title: 'Peringatan!',
            text: 'Koneksi buruk / tidak terkoneksi dengan Internet. Mohon cek kembali koneksi Internet anda.',
            confirmButtonClass: 'btn btn-success',
          }
        )
      } else {
        Swal.fire({
          title: 'Are you sure?',
          text: "You won't be able to revert this!",
          type: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: 'Yes, insert it!',
          confirmButtonClass: 'btn btn-primary',
          cancelButtonClass: 'btn btn-danger ml-1',
          buttonsStyling: false,
          showLoaderOnConfirm: true,
          preConfirm: () => {
            return axios.post("/api/baAanwijzingUM", formData, {
              headers : {
                          'Content-Type': 'multipart/form-data'
                        },
            })
            .then(response => {
              $(".baAanwijzingMod").modal('hide');
              this.closeModal()
              this.form.noBA = ''
              this.form.lokasi = ''
              this.form.pimpinanRapat = ''
              this.form.jabatanPimpinan = ''
              this.form.dimulaiJam = ''
              this.rowsz = []
              this.rows = []
              this.contentBA = ''
              this.fileAttach = ''
            })
            .catch(error => {
              Swal.showValidationMessage(
                `Request failed: ${error}`
              )
            })
          },
          allowOutsideClick: () => !this.$swal.isLoading()
        }).then(function (result) { 
          if (result.value) {
            Swal.fire(
              {
                type: "success",
                title: 'Diterima!',
                text: 'Dokumen sesuai.',
              }
            )
          }
        }.bind(this))
      }
    },
    formatRupiah(angka, prefix){
      var number_string = angka.replace(/[^,\d]/g, '').toString(),
      split       = number_string.split(','),
      sisa        = split[0].length % 3,
      rupiah        = split[0].substr(0, sisa),
      ribuan        = split[0].substr(sisa).match(/\d{3}/gi);
 
      // tambahkan titik jika yang di input sudah menjadi angka ribuan
      if(ribuan){
        separator = sisa ? '.' : '';
        rupiah += separator + ribuan.join('.');
      }
 
      rupiah = split[1] != undefined ? rupiah + ',' + split[1] : rupiah;
      return prefix == undefined ? rupiah : (rupiah ? 'Rp. ' + rupiah : '');
    }
  }
};
</script>

 