<template>

  <!-- BEGIN: Content-->
  <div class="app-content content">
      <div class="content-overlay"></div>
      <div class="header-navbar-shadow"></div>
      <div class="content-wrapper">
          <div class="content-header row">
              <div class="content-header-left col-md-8 col-12 mb-2">
                  <div class="row breadcrumbs-top">
                      <div class="col-12">
                        <div class="row">
                          <div class="col-12">
                            <h2 class="content-header-title float-left mb-0">Data Pelelangan Umum</h2>
                          </div>
                          <div class="breadcrumb-wrapper col-12">
                              <ol class="breadcrumb">
                                  <li class="breadcrumb-item"><a href="index.html">Home</a>
                                  </li>
                                  <li class="breadcrumb-item"><a href="index.html">Paket Lelang</a>
                                  </li>
                                  <li class="breadcrumb-item"><a href="index.html">Pelelangan Umum</a>
                                  </li>
                                  <li class="breadcrumb-item active">Informasi Pekerjaan
                                  </li>
                              </ol>
                          </div>
                        </div>
                      </div>
                  </div>
              </div>
              <div class="content-header-right text-md-right col-md-4 col-12 d-md-block d-none">
                  <div class="form-group breadcrum-right">
                      <div class="dropdown">
                        <template v-for="actionS in action">
                          <template v-if="actionS == 'Insert'">
                            <button class="btn-icon btn btn-primary btn-round btn-sm dropdown-toggle" data-target=".insertPelelanganMod" data-toggle="modal" type="button" @click="openModal" aria-haspopup="true" aria-expanded="false"><i class="feather icon-file-plus"></i> <b>New</b> </button>
                          </template>

                        </template>

                          <button class="btn-icon btn btn-primary btn-round btn-sm dropdown-toggle"data-toggle="tooltip"
                            data-original-title="Refresh" v-on:click="onRefresh" aria-haspopup="true" aria-expanded="false"><i class="feather icon-refresh-ccw"></i>
                          </button>

                      </div>
                  </div>
              </div>
          </div>

          <insert-pelelangan-mod :open-modal="modalOpen" :close-modal="loadItems"></insert-pelelangan-mod>
          <view-pelelangan-mod :open-modal="viewOpen" :view="view" :close-modal="loadItems"></view-pelelangan-mod>
          <update-pelelangan-mod :open-modal="updateOpen" :update="update" :close-modal="loadItems"></update-pelelangan-mod>
          <mail-pelelangan-mod :open-modal="mailOpen" :mail="mail" :close-modal="loadItems"></mail-pelelangan-mod>
          <insert-jadwal-mod :open-modal="jadwalOpen" :jadwal="jadwal" :close-modal="loadItems"></insert-jadwal-mod>
          <view-jadwal-mod :open-modal="viewjadwalOpen" :viewjadwal="viewjadwal" :close-modal="loadItems"></view-jadwal-mod>

          <approvepl-pekerjaan-mod :open-modal="approveOpen" :approvepl="approvepl" :close-modal="loadItems"></approvepl-pekerjaan-mod>
          <notapprovepl-pekerjaan-mod :open-modal="notapproveOpen" :notapprovepl="notapprovepl" :close-modal="loadItems"></notapprovepl-pekerjaan-mod>

          <!-- <dokumen-pekerjaan-mod :open-modal="dokumenOpen" :dokumen="dokumen" :close-modal="loadItems"></dokumen-pekerjaan-mod>
          <updatedokumen-pekerjaan-mod :open-modal="updatedokumenOpen" :updatedokumen="updatedokumen" :close-modal="loadItems"></updatedokumen-pekerjaan-mod> -->

          <div class="content-body">
              <!-- Basic example section start -->
              <section id="basic-examples">
                  <div class="card">
                      <div class="card-header">
                          <h4 class="card-title">Jumlah Pelelangan Umum : {{totalPelelangan}}</h4>
                      </div>
                      <div class="card-content">
                          <div class="card-body">

                            <vue-good-table
                              mode="remote"
                              @on-page-change="onPageChange"
                              @on-sort-change="onSortChange"
                              @on-column-filter="onColumnFilter"
                              @on-per-page-change="onPerPageChange"
                              @on-search="onSearch"
                              :totalRows="totalRecords"
                              :isLoading.sync="isLoading"
                              :pagination-options="{
                                enabled: true,
                                dropdownAllowAll: false,
                                mode: 'pages'
                              }"
                              :search-options="{
                                enabled: true,
                                skipDiacritics: true,
                              }"
                              :rows="rows"
                              :columns="columns">
                              <template slot="table-row" slot-scope="props">
                                <span v-if="props.column.field == 'action'"> 
                                  <button type="button" class="btn btn-outline-primary btn-sm dropdown-toggle mr-1" data-toggle="dropdown"><i class="feather icon-more-vertical"></i> Action</button>
                                  <ul class="dropdown-menu" style="top: auto; left: auto; padding: 5px;">
                                    <template v-for="actionS in action">
                                      <template v-if="actionS == 'View'">
                                        <li>
                                          <button class="btn-icon btn btn-primary btn-sm btn-block mr-1 mb-1 waves-effect waves-light" data-target=".viewPelelanganMod" data-toggle="modal" type="button" title='View Pelelangan' @click="viewModal(props.row.id_pekerjaan)"><i class="feather icon-eye" aria-hidden="true"></i> View Pelelangan</button>
                                        </li>
                                      </template>
                                      <template v-if="actionS == 'View'">
                                        <li>
                                          <button class="btn-icon btn btn-outline-primary btn-sm btn-block mr-1 mb-1 waves-effect waves-light" data-target=".viewjadwalPekerjaanUMMod" data-toggle="modal" type="button" title='View Jadwal' @click="viewJadwalModal(props.row.id_pekerjaan)"><i class="feather icon-eye" aria-hidden="true"></i> View Jadwal</button>
                                        </li>
                                      </template>
                                      <template v-if="actionS == 'Update'">
                                        <li>
                                          <button class="btn-icon btn btn-info btn-sm btn-block mr-1 mb-1 waves-effect waves-light" data-target=".updatePelelanganMod" data-toggle="modal" type="button" title='Update' @click="updateModal(props.row.id_pekerjaan)"><i class="feather icon-edit" aria-hidden="true"></i> Update</button>
                                        </li>
                                      </template>
                                      <template v-if="actionS == 'Delete'">
                                        <li>
                                          <button class="btn-icon btn btn-danger btn-sm btn-block mr-1 mb-1 waves-effect waves-light" title='Delete' @click="deleteData(props.row.id_pekerjaan)"><i class="feather icon-delete" aria-hidden="true"></i> Delete</button>
                                        </li>
                                      </template>
                                      <!-- <template v-if="actionS == 'Update'">
                                        <li>
                                          <button class="btn-icon btn btn-warning btn-sm btn-block mr-1 mb-1 waves-effect waves-light" data-target=".mailPelelanganMod" data-toggle="modal" type="button" title='Mail' @click="mailModal(props.row.id_pekerjaan)"><i class="feather icon-mail" aria-hidden="true"></i> Send Mail</button>
                                        </li>
                                      </template> -->
                                    </template>
                                  </ul>
                                </span>
                                <span v-else-if="props.column.field == 'approved'">
                                  <template v-if="props.row.statuss == 2 || props.row.statuss == 3">
                                    <span class="badge badge-round badge-success">Ikut Serta</span>
                                  </template>
                                  <template v-else-if="props.row.statuss == 1">
                                    <span class="badge badge-round badge-danger">Tidak Ikut Serta</span>
                                  </template>
                                  <template v-else>
                                    <template v-if="session.role == 'R002' && props.row.approve_pekerjaan == 0">
                                      <button type="button" class="btn btn-outline-primary btn-sm dropdown-toggle mr-1" data-toggle="dropdown"><i class="feather icon-more-vertical"></i> Action</button>
                                      <ul class="dropdown-menu" style="top: auto; left: auto; padding: 5px;">
                                        <template v-for="actionS in action">
                                          <template v-if="actionS == 'Approve'">
                                            <li>
                                              <button class="btn-icon btn btn-success btn-sm btn-block mr-1 mb-1 waves-effect waves-light" data-target=".approvePekerjaanUMMod" data-toggle="modal" type="button" @click="approveModal(props.row.id_pekerjaan)" aria-haspopup="true" aria-expanded="false" title='Approve'><i class="feather icon-check-circle" aria-hidden="true"></i> Approve</button>
                                            </li>
                                            <li>
                                              <button class="btn-icon btn btn-danger btn-sm btn-block mr-1 mb-1 waves-effect waves-light" data-target=".notapprovePekerjaanUMMod" data-toggle="modal" type="button" @click="notapproveModal(props.row.id_pekerjaan)" aria-haspopup="true" aria-expanded="false" title='Not Approve'><i class="feather icon-slash" aria-hidden="true"></i> Not Approve</button>
                                            </li>
                                          </template>
                                        </template>
                                      </ul>
                                    </template>
                                    <template v-else>
                                      <span class="badge badge-round badge-warning">Menunggu</span>
                                    </template>
                                  </template>
                                </span>
                                <span v-else-if="props.column.field == 'statuss'">
                                  <span v-if="props.row.statuss == 2 || props.row.statuss == 3">
                                    <span class="badge badge-round badge-success">Verified</span> 
                                    <template v-if="session.role == 'R000' || session.role == 'R003'">
                                      <template v-for="actionS in action">
                                        <template v-if="actionS == 'Insert'">
                                          <button class="btn-icon btn btn-outline-success btn-sm waves-effect waves-light" data-target=".jadwalPekerjaanUMMod" data-toggle="modal" type="button" @click="jadwalModal(props.row.id_pekerjaan,'Pemasukan Dokumen Kualifikasi')" aria-haspopup="true" aria-expanded="false" title='Set Jadwal Upload Dokumen'><i class="feather icon-upload-cloud" aria-hidden="true"></i> Set Jadwal Upload</button>
                                        </template>
                                      </template>
                                    </template>  
                                  </span> 
                                  <span v-else-if="props.row.statuss == 1">
                                    <span class="badge badge-round badge-danger">Vendor Tidak Ikut Serta</span>  
                                  </span> 
                                  <span v-else-if="props.row.statuss == 0">
                                    <span class="badge badge-round badge-warning">Menunggu Keikutsertaan Vendor</span>  
                                  </span>                
                                </span>
                                <span v-else-if="props.column.field == 'nilai_pagu'">
                                  Rp. {{ formatPrice(props.row.nilai_pagu) }}
                                </span>
                                <span v-else>
                                  {{props.formattedRow[props.column.field]}}
                                </span>
                              </template>
                            </vue-good-table>

                          </div>
                      </div>
                  </div>
              </section>
              <!-- // Basic example section end -->
          </div>
      </div>
  </div>
  <!-- END: Content-->

</template>

<!-- script js -->
<script>
import InsertPelelangan from './InsertPelelangan.vue';
import ViewPelelangan from './ViewPelelangan.vue';
import UpdatePelelangan from './UpdatePelelangan.vue';
import MailPelelangan from './MailPelelangan.vue';
import ApprovePekerjaan from './ApprovePekerjaan.vue';
import NotApprovePekerjaan from './NotApprovePekerjaan.vue';
// import DokumenPekerjaan from './DokumenPekerjaan.vue';
// import UpdateDokumenPekerjaan from './UpdateDokumenPekerjaan.vue';
import JadwalPekerjaan from './JadwalPekerjaan.vue';
import ViewJadwalPekerjaan from './ViewJadwalPekerjaan.vue';
import 'vue-good-table/dist/vue-good-table.css'
import { VueGoodTable } from 'vue-good-table';
import moment from 'moment';
moment.locale("id");

const _ = require('lodash');

export default {
    name: 'pt_infopekerjaan',
    components: {
      'vue-good-table' : VueGoodTable,
      'insert-pelelangan-mod' : InsertPelelangan,
      'view-pelelangan-mod' : ViewPelelangan,
      'update-pelelangan-mod' : UpdatePelelangan,
      'mail-pelelangan-mod' : MailPelelangan,
      'approvepl-pekerjaan-mod' : ApprovePekerjaan,
      'notapprovepl-pekerjaan-mod' : NotApprovePekerjaan,
      // 'dokumen-pekerjaan-mod' : DokumenPekerjaan,
      // 'updatedokumen-pekerjaan-mod' : UpdateDokumenPekerjaan,
      'insert-jadwal-mod' : JadwalPekerjaan,
      'view-jadwal-mod' : ViewJadwalPekerjaan,
    },
    data() {
        return {
            totalPelelangan: '',
            isLoading: false,
            modalOpen: false,
            modalOpenImport: false,
            viewOpen: false,
            view: {},
            updateOpen: false,
            update: {},
            mailOpen: false,
            mail: {},
            approveOpen: false,
            approvepl: {},
            notapproveOpen: false,
            notapprovepl: {},
            dokumenOpen: false,
            dokumen: {},
            updatedokumenOpen: false,
            updatedokumen: {},
            jadwalOpen: false,
            jadwal: {},
            viewjadwalOpen: false,
            viewjadwal: {},
            prints: [],
            columns: [
                {
                    label: 'Kode',
                    field: 'kode_pekerjaan',
                    filterable: true
                },
                {
                    label: 'Pekerjaan',
                    field: 'nama_pekerjaan',
                    filterable: true
                },
                {
                    label: 'Kategori',
                    field: 'kategori_pekerjaan',
                    filterable: true
                },
                {
                    label: 'Nilai Pagu',
                    field: 'nilai_pagu',
                    filterable: true
                },
                {
                    label: 'Lokasi',
                    field: 'lokasi',
                    filterable: true
                },
                {
                    label: 'Status',
                    field: 'statuss',
                    filterable: true
                },
                {
                  label: 'Action',
                  field: 'action',
                  sortable: false,
                },
                {
                  label: 'Approval Vendor',
                  field: 'approved',
                  sortable: false,
                },
            ],
            rows: [],
            totalRecords: 0,
            serverParams: {
              columnFilters: {
              },
              sort: {       
                field: 'created_ats', 
                type: 'desc',
              },
              page: 1, 
              perPage: 10,
              searchTerm: ''
            },
            session: {
              id: '',
              id_person: '',
              role: ''
            },
            action: []
        };
    },
    beforeCreate(){
        this.loading = true;
        axios
        .get("/session")
        .then(response => {
            this.id = response.data.id;
            this.session.id = response.data.id;
            this.role = response.data.role;
            this.session.role = response.data.role;
            this.login = response.data.login;
            axios
            .get("/api/getSide/" + this.id )
            .then(response => {
                this.data = response.data;
                var routesUser = [];
                this.data.forEach(function(puki, index) {
                  var nam = puki.Link.substr(1);
                  routesUser.push(nam);
                }); 
                var n = routesUser.includes(this.$options.name);
                console.log(n)
                if(this.login == true && n == true){
                  this.loading = false;
                  this.loadItems()
                  this.getAction(this.id,this.$options.name)
                } else if (this.login == true && n == false) {
                  this.$router.push('/not404');
                  this.loading = false;
                } else {
                  window.location.href = "/";
                  // this.$router.push('/not404');
                  this.loading = false;
                }
            });
        });
    },
    mounted() {
      this.listen()
        // this.loadItems()
        // this.cekUserMenu()
    },
    methods: {
      listen() {
        Echo.channel('newNotif') //Should be Channel Name
        .listen('NotifEvents', (e) => {
          if(this.id == e.message.id_receiver && e.message.jenis == "Pekerjaan"){
            this.loadItems()
            this.closeModal()
          } 
        });

        Echo.channel('refreshEvent') //Should be Channel Name
        .listen('RefreshEvents', (e) => {
          this.loadItems()
          this.closeModal()
        });
      },
      getAction(id,link){
        axios
            .get("/api/action/" + id + "/" + link)
            .then(response => {
              this.action = response.data;
            });
      },
      getFromServer(pelelangans) {
        if(this.session.role == "R002") {
          return axios.post(`/api/getPelelanganVendorUM/`+this.session.id+`?searchTerm=${pelelangans.searchTerm}&page=${pelelangans.page}&per_page=${pelelangans.perPage}&field=${pelelangans.sort.field}&type=${pelelangans.sort.type}`); 
        } else {
          return axios.post(`/api/getPelelanganUM?searchTerm=${pelelangans.searchTerm}&page=${pelelangans.page}&per_page=${pelelangans.perPage}&field=${pelelangans.sort.field}&type=${pelelangans.sort.type}`); 
        }
      },

      updateParams(newProps) {
        this.serverParams = Object.assign({}, this.serverParams, newProps);
      },
      
      onPageChange(params) {
        this.updateParams({page: params.currentPage});
        this.loadItems();
      },

      onPerPageChange(params) {
        this.updateParams({perPage: params.currentPerPage});
        this.loadItems();
      },

      onSortChange(params) {
        this.updateParams({
          sort: {
            type: params[0].type,
            field: params[0].field,
          },
        });
        this.loadItems();
      },
      
      onColumnFilter(params) {
        this.updateParams(params);
        this.loadItems();
      },

      onSearch(params) {
        this.updateParams(params);
        this.loadItems();
      },

      openModal() {
          this.modalOpen = !this.modalOpen;
      }, 

      closeModal() {
          this.modalOpen = false;
          this.updateOpen = false;
          this.viewOpen = false;
          this.updateOpen = false;
          this.mailOpen = false;
          this.approveOpen = false;
          this.notapproveOpen = false;
          // this.dokumenOpen = false;
          // this.updatedokumenOpen = false;
          this.jadwalOpen = false;
          this.viewjadwalOpen = false;
      },

      openImportModal() {
          this.modalOpenImport = !this.modalOpenImport;
      }, 

      viewModal(params) {
          axios
            .get("/api/pelelanganUM/" + params)
            .then(response => {
              this.view = response.data;
              this.openNotifChat(params)
            });
          this.viewOpen = !this.viewOpen;
      },

      openNotifChat(id_pekerjaan){
        axios.post('/openNotifChat/'+ this.session.id + '/' + id_pekerjaan).then(response => {
        });
      },

      updateModal(params) {
          axios
            .get("/api/pelelanganUM/" + params)
            .then(response => {
              this.update = response.data;
            });
          this.updateOpen = !this.updateOpen;
      },

      mailModal(params) {
          axios
            .get("/api/pelelanganMailUM/" + params)
            .then(response => {
              this.mail = response.data;
            });
          this.mailOpen = !this.mailOpen;
      },

      approveModal(params) {
          axios
            .get("/api/pelelanganUM/" + params)
            .then(response => {
              this.approvepl = response.data;
            });
          this.approveOpen = !this.approveOpen;
      },

      notapproveModal(params) {
          axios
            .get("/api/pelelanganUM/" + params)
            .then(response => {
              this.notapprovepl = response.data;
            });
          this.notapproveOpen = !this.notapproveOpen;
      },

      // dokumenModal(params) {
      //     axios
      //       .get("/api/pelelanganUM/" + params)
      //       .then(response => {
      //         this.dokumen = response.data;
      //       });
      //     this.dokumenOpen = !this.dokumenOpen;
      // },


      // updatedokumenModal(params) {
      //     axios
      //       .get("/api/pelelanganUM/" + params)
      //       .then(response => {
      //         this.updatedokumen = response.data;
      //       });
      //     this.updatedokumenOpen = !this.updatedokumenOpen;
      // },

      jadwalModal(params,nama_jadwal) {
          axios
            .get("/api/pelelanganUM/" + params)
            .then(response => {
              this.jadwal = response.data;
              this.jadwal['nama_jadwal'] = nama_jadwal;
            });
          this.jadwalOpen = !this.jadwalOpen;
      },
      viewJadwalModal(params) {
          axios
            .get("/api/pelelanganUM/" + params)
            .then(response => {
              this.viewjadwal = response.data;
            });
          this.viewjadwalOpen = !this.viewjadwalOpen;
      },

      deleteData(id_pekerjaan) {
        Swal.fire({
          title: 'Are you sure?',
          text: "You won't be able to revert this!",
          type: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: 'Yes, delete it!',
          confirmButtonClass: 'btn btn-primary',
          cancelButtonClass: 'btn btn-danger ml-1',
          buttonsStyling: false,
          showLoaderOnConfirm: true,
          preConfirm: () => {
            return axios.post("/api/pelelangandeleteUM/" + id_pekerjaan,{
              username : localStorage.getItem('username'),
              fullname : localStorage.getItem('fullname'),

            })
            .then(response => {
              this.loadItems();
              return 
            })
            .catch(error => {
              Swal.showValidationMessage(
                `Request failed: ${error}`
              )
            })
          },
          allowOutsideClick: () => !this.$swal.isLoading()
        }).then(function (result) {
          if (result.value) {
            Swal.fire(
              {
                type: "success",
                title: 'Delete!',
                text: 'Your file has been Deleted.',
                confirmButtonClass: 'btn btn-success',
              }
            )
          }
        }.bind(this))
      },

      loadItems() {
        this.getFromServer(this.serverParams).then((response) => {
            this.totalRecords = response.data.pelelangans.total;
            this.totalPelelangan = this.totalRecords
            this.rows = response.data.pelelangans.data;
        })
      },

      onRefresh: function (event) {
        if (event) {
          this.loadItems();
        }
      },

      formatDate(value) {
          return moment(value).format("DD MMMM YYYY")
      },

      formatPrice(value) {
          let val = (value/1).toFixed(2).replace('.', ',')
          return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")
      }

    }
};
</script>

<style scoped>
  .image img{
        position: absolute;
        max-width: 100%;
        max-height: 100%;
        width: 100%;
        /*height: 100%;*/
        top: 50%;
        left: 50%;
        /*object-fit: cover;*/
        transform: translateX(-50%) translateY(-50%);
  }   


</style>