<template>
  <!-- Modal -->
  <div
    class="modal fade text-left insertPelelanganMod"
    id="exampleModalLong"
    tabindex="-1"
    role="dialog" 
    aria-labelledby="exampleModalLongTitle"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel1">Insert Pelelangan Umum</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form id="formPelelangan" @submit.prevent="addData()" autocomplete="off">
          <div class="modal-body">
            <div class="card-body">
              <div class="modal-body">
                <div class="row">
                  <div class="form-group col-md-12">
                    <label class="form-control-label" for="inputBasicLastName">Nama Pekerjaan <small style="color:red"> *required</small></label>
                    <input
                      type="textfield"
                      class="form-control"
                      placeholder="Input nama pekerjaan"
                      v-model="form.namaPekerjaan"
                      autocomplete="off"
                      required
                    >
                  </div>
                  <div class="form-group col-md-12">
                    <label class="form-control-label" for="inputBasicFirstName">Keterangan <small style="color:red"> *required</small></label>
                    <textarea class="maxlength-textarea form-control" data-plugin="maxlength" data-placement="bottom-right-inside" rows="3" placeholder="Input keterangan" v-model="form.keteranganPekerjaan" required></textarea>
                  </div>
                  <div class="form-group form-material col-md-6">
                    <label class="form-control-label" for="inputBasicLastName">Kualifikasi <small style="color:red"> *required</small></label>
                    <Select2 id="klasifikasi1" v-model="form.klasifikasi1" :options="myOptionsKlasifikasi1" :settings="{ placeholder: 'Select a Sub Klasifikasi', width: '100%' }" @select="mySelectEventKlasifikasi($event)" />
                  </div>
                  <div class="form-group form-material col-md-6">
                    <label class="form-control-label" for="inputBasicLastName">Klasifikasi <small style="color:red"> *required</small></label>
                    <Select2 id="klasifikasi2" v-model="form.klasifikasi2" :options="myOptionsKlasifikasi2" :settings="{ placeholder: 'Select a Sub Klasifikasi', width: '100%' }" @select="mySelectEventKlasifikasi($event)" />
                  </div>
                  <div class="form-group form-material col-md-12">
                    <div class="modal-footer" style="padding: 0rem; border-top: 0px solid #ededed;">
                      <button type="button" class="btn btn-outline-primary" @click="resetKlasifikasi()">Reset Klasifikasi</button>
                    </div>
                  </div>
                  <!-- <div class="form-group form-material col-md-6">
                    <label class="form-control-label" for="inputBasicLastName">Vendor <small style="color:red"> *required</small></label>
                    <Select2MultipleControl id="fullvendor" v-model="form.IdVendor" :options="myOptionsVendor" :settings="{ placeholder: 'Select a Vendor', width: '100%' }" required/>
                  </div> -->
                  <div class="form-group form-material col-md-6">
                    <label class="form-control-label" for="inputBasicLastName">Kategori <small style="color:red"> *required</small></label>
                    <Select2 id="fullkategori" v-model="form.kategoriPekerjaan" :options="myOptionsKategori" :settings="{ placeholder: 'Select a Kategori', width: '100%' }" required/>
                  </div>
                  <div class="form-group col-md-6">
                    <label class="form-control-label" for="inputBasicLastName">Tahun Anggaran <small style="color:red"> *required</small></label>
                    <input
                      type="textfield"
                      class="form-control"
                      placeholder="Input anggaran"
                      v-model="form.anggaranPekerjaan"
                      autocomplete="off"
                      required
                    >
                  </div>
                  <div class="form-group col-md-6">
                    <label class="form-control-label" for="inputBasicLastName">Lokasi <small style="color:red"> *required</small></label>
                    <input
                      type="textfield"
                      class="form-control"
                      placeholder="Input Lokasi"
                      v-model="form.lokasiPekerjaan"
                      autocomplete="off"
                      required
                    >
                  </div>
                  <div class="form-group col-md-6">
                    <label class="form-control-label" for="inputBasicLastName">Nilai Pagu <small style="color:red"> *required</small></label>
                    <input
                      type="number"
                      class="form-control"
                      placeholder="Input Nilai Pagu"
                      v-model="form.nilaiPaguPekerjaan"
                      autocomplete="off"
                      required
                    >
                  </div>
                  <div class="form-group form-material col-md-6">
                    <label class="form-control-label" for="inputBasicLastName">Kualifikasi Usaha <small style="color:red"> *required</small></label>
                    <Select2 id="fullkualifikasi" v-model="form.kualifikasiPekerjaan" :options="myOptionsKualifikasi" :settings="{ placeholder: 'Select a Kualifikasi', width: '100%' }" required/>
                  </div>
                  <div class="form-group form-material col-md-6">
                    <label class="form-control-label" for="inputBasicLastName">Dibuat Oleh Divisi <small style="color:red"> *required</small></label>
                    <Select2 id="fulldivisi" v-model="form.divisiPekerjaan" :options="myOptionsDivisi" :settings="{ placeholder: 'Select a Divisi', width: '100%' }" required/>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-md-6">
                    <label class="form-control-label" for="inputBasicLastName">Valid Dari <small style="color:red"> *required</small></label>
                    <input type="date" placeholder="yyyy/mm/dd" pattern="(^(((0[1-9]|1[0-9]|2[0-8])[\/](0[1-9]|1[012]))|((29|30|31)[\/](0[13578]|1[02]))|((29|30)[\/](0[4,6,9]|11)))[\/](19|[2-9][0-9])\d\d$)|(^29[\/]02[\/](19|[2-9][0-9])(00|04|08|12|16|20|24|28|32|36|40|44|48|52|56|60|64|68|72|76|80|84|88|92|96)$)" class="form-control" v-model="form.tglValidDari" autocomplete="off" required>
                  </div>
                  <div class="form-group col-md-6">
                    <label class="form-control-label" for="inputBasicLastName">Valid Sampai <small style="color:red"> *required</small></label>
                    <input type="date" placeholder="yyyy/mm/dd" pattern="(^(((0[1-9]|1[0-9]|2[0-8])[\/](0[1-9]|1[012]))|((29|30|31)[\/](0[13578]|1[02]))|((29|30)[\/](0[4,6,9]|11)))[\/](19|[2-9][0-9])\d\d$)|(^29[\/]02[\/](19|[2-9][0-9])(00|04|08|12|16|20|24|28|32|36|40|44|48|52|56|60|64|68|72|76|80|84|88|92|96)$)" class="form-control" v-model="form.tglValidSampai" autocomplete="off" required>
                  </div>

                  <div class="form-group col-md-6">
                    <label class="form-control-label" for="inputBasicLastName">File Surat Info Pekerjaan</label>
                    <div class="input-group">
                      <input type="file" id="file1Adm" ref="file1Adm" required />
                    </div>
                  </div>
                  <div class="form-group col-md-6">
                    <label class="form-control-label" for="inputBasicLastName">File Dokumen Info Pekerjaan</label>
                    <div class="input-group">
                      <input type="file" id="file2Adm" ref="file2Adm" required />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group form-material col-md-6">
                    <label class="form-control-label" for="inputBasicLastName">Direksi Mengetahui <small style="color:red"> *required</small></label>
                    <Select2 id="fullketahui" v-model="form.ketahuiPekerjaan" :options="myOptionsDivisi" :settings="{ placeholder: 'Select a Divisi', width: '100%' }" @select="mySelectEventKetahui($event)" required/>
                  </div>
                  <div class="form-group form-material col-md-6">
                    <label class="form-control-label" for="inputBasicLastName">Nama Direksi Mengetahui <small style="color:red"> *required</small></label>
                    <Select2MultipleControl id="fullketahuiuser" v-model="form.ketahuiNamaPekerjaan" :options="myOptionsUser1" :settings="{ placeholder: 'Select a User', width: '100%' }" required/>
                  </div>

                  <div class="form-group form-material col-md-6">
                    <label class="form-control-label" for="inputBasicLastName">Divisi Diteruskan <small style="color:red"> *required</small></label>
                    <Select2 id="fullteruskan" v-model="form.teruskanPekerjaan" :options="myOptionsDivisi" :settings="{ placeholder: 'Select a User', width: '100%' }" @select="mySelectEventTeruskan($event)" required/>
                  </div>
                  <div class="form-group form-material col-md-6">
                    <label class="form-control-label" for="inputBasicLastName">Nama Divisi Diteruskan <small style="color:red"> *required</small></label>
                    <Select2MultipleControl id="fullteruskanuser" v-model="form.teruskanNamaPekerjaan" :options="myOptionsUser2" :settings="{ placeholder: 'Select a User', width: '100%' }" required/>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- End Modal -->
</template>

<!-- script js -->
<script>
import Select2 from "v-select2-component";
import Select2MultipleControl from 'v-select2-multiple-component';
export default {
  name: "modal",
  components: {
    Select2,
    Select2MultipleControl
  },
  props: {
    openModal: {
      type: Boolean
    },
    closeModal: {
      type: Function
    }
  },
  data(){
    return{
      count: 0,
      loading: false,
      form:{
        idUser : '',
        namaPekerjaan: '',
        klasifikasi1: 'kosong',
        klasifikasi2: 'kosong',
        IdVendor: '',
        keteranganPekerjaan: '',
        kategoriPekerjaan: '',
        anggaranPekerjaan: '',
        lokasiPekerjaan: '',
        nilaiPaguPekerjaan: '',
        kualifikasiPekerjaan: '',
        divisiPekerjaan: '',
        ketahuiPekerjaan: '',
        ketahuiNamaPekerjaan: '',
        teruskanPekerjaan: '',
        teruskanNamaPekerjaan: '',
        tglValidDari: '',
        tglValidSampai: '',
        file1Adm: '',
        file2Adm: '',
      },
      // myOptionsVendor: [],
      myOptionsKategori: [],
      myOptionsDivisi: [],
      myOptionsUser1: [],
      myOptionsUser2: [],
      myOptionsKlasifikasi1: [],
      myOptionsKlasifikasi2: [],
      myOptionsKualifikasi: [
        {id:"Perusahaan Kecil",text:"Perusahaan Kecil"},
        {id:"Perusahaan Menengah",text:"Perusahaan Menengah"},
        {id:"Perusahaan Besar",text:"Perusahaan Besar"},
      ],
    };
  },
  mounted() {
    this.loadData()
  },
  methods: {
    loadData() {
      // axios.get("/api/dropdownvendor").then(response => {
      //   this.myOptionsVendor = response.data;
      // });

      axios.get("/api/dropdownkategoripekerjaan").then(response => {
        this.myOptionsKategori = response.data;
      });

      axios.get("/api/dropdowndivisi").then(response => {
        this.myOptionsDivisi = response.data;
      });

      axios.get("/api/dropdownSubKlasifikasi1").then(response => {
        this.myOptionsKlasifikasi1 = response.data;
      });

      axios.get("/api/dropdownSubKlasifikasi2").then(response => {
        this.myOptionsKlasifikasi2 = response.data;
      });

      axios
      .get("/session")
      .then(response => {
          this.form.idUser = response.data.id;
      });
    },
    mySelectEventKetahui({id, text}){
      axios
        .get("/api/dropdownuser/" + id)
        .then(response => {
          this.myOptionsUser1 = response.data;
      });
    },
    mySelectEventTeruskan({id, text}){
      axios
        .get("/api/dropdownuser/" + id)
        .then(response => {
          this.myOptionsUser2 = response.data;
      });
    },
    mySelectEventKlasifikasi({id, text}){
      axios.get("/api/dropdownvendorKlas/" + this.form.klasifikasi1 + "/" + this.form.klasifikasi2).then(response => {
        this.myOptionsVendor = response.data;
      });
    },
    resetKlasifikasi(){
      this.form.klasifikasi1 = 'kosong' 
      this.form.klasifikasi2 = 'kosong'
      this.loadData()
    },
    addData() {
      var msg = "Terimakasih sudah mendaftarkan pekerjaan dan pekerjaan baru";

      this.form.file1Adm = this.$refs.file1Adm.files[0];
      this.form.file2Adm = this.$refs.file2Adm.files[0];
      let formData = new FormData();
      formData.append('file1', this.form.file1Adm);
      formData.append('file2', this.form.file2Adm);
      formData.append('id_user', this.form.idUser);
      formData.append('nama_pekerjaan', this.form.namaPekerjaan);
      formData.append('id_vendor', this.form.IdVendor);
      formData.append('keterangan', this.form.keteranganPekerjaan);
      formData.append('id_kategori_pekerjaan', this.form.kategoriPekerjaan);
      formData.append('anggaran', this.form.anggaranPekerjaan);
      formData.append('lokasi', this.form.lokasiPekerjaan);
      formData.append('nilai_pagu', this.form.nilaiPaguPekerjaan);
      formData.append('kualifikasi', this.form.kualifikasiPekerjaan);
      formData.append('divisi', this.form.divisiPekerjaan);
      formData.append('ketahui', this.form.ketahuiNamaPekerjaan);
      formData.append('teruskan', this.form.teruskanNamaPekerjaan);
      formData.append('valid_from', this.form.tglValidDari);
      formData.append('valid_to', this.form.tglValidSampai);
      formData.append('username', localStorage.getItem('username'));
      formData.append('fullname', localStorage.getItem('fullname'));
      var currentState = window.Echo.connector.pusher.connection.state;
      if(currentState == "unavailable") {
        Swal.fire(
          {
            type: "warning",
            title: 'Peringatan!',
            text: 'Koneksi buruk / tidak terkoneksi dengan Internet. Mohon cek kembali koneksi Internet anda.',
            confirmButtonClass: 'btn btn-success',
          }
        )
      } else {
        Swal.fire({
          title: 'Are you sure?',
          text: "You won't be able to revert this!",
          type: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: 'Yes, insert it!',
          confirmButtonClass: 'btn btn-primary',
          cancelButtonClass: 'btn btn-danger ml-1',
          buttonsStyling: false,
          showLoaderOnConfirm: true,
          preConfirm: () => {
            return axios.post("/api/pelelanganStoreUM", formData,{

              headers : {
                          'Content-Type': 'multipart/form-data'
                        },
            })
            .then(response => {
              $(".insertPelelanganMod").modal('hide');
              this.closeModal();

              this.form.file1Adm = ''
              this.form.file2Adm = ''
              this.form.klasifikasi1 = 'Kosong'
              this.form.klasifikasi2 = 'Kosong'
              this.form.namaPekerjaan = ''
              this.form.IdVendor = ''
              this.form.tglValidDari = ''
              this.form.tglValidSampai = ''
              this.form.keteranganPekerjaan =  ''
              this.form.kategoriPekerjaan =  ''
              this.form.anggaranPekerjaan =  ''
              this.form.lokasiPekerjaan =  ''
              this.form.nilaiPaguPekerjaan =  ''
              this.form.kualifikasiPekerjaan =  ''
              this.form.divisiPekerjaan =  ''
              this.form.ketahuiPekerjaan = ''
              this.form.ketahuiNamaPekerjaan = ''
              this.form.teruskanPekerjaan = ''
              this.form.teruskanNamaPekerjaan = ''
              return 
            })
            .catch(error => {
              Swal.showValidationMessage(
                `Request failed: ${error}`
              )
            })
          },
          allowOutsideClick: () => !this.$swal.isLoading()
        }).then(function (result) {
          if (result.value) {
            Swal.fire(
              {
                type: "success",
                title: 'Inserted!',
                text: msg,
                confirmButtonClass: 'btn btn-success',
              }
            )
          }
        }.bind(this))
      }
    },
  }
};
</script>

<style scoped>
.img-crop {
  width: 200px;
  height: 200px;
}
.img-crop2 {
  width: 480px; 
  height: 200px;
}

.form-control-label {
  font-size: 18px;
  font-weight: 500;
  color: #5f5f5f;
}

ul li{
  display: block;  
  border-bottom: 1px dotted lightgray;  
}

ul li label{
  display: inline-block;
  vertical-align: middle;
  padding-left: 20px;
  z-index: 9;
  cursor: pointer;
  -webkit-transition: all 0.15s linear;
}

/* Outer circle, unselected, not-hovered */
ul li .check{
  display: inline-block;vertical-align: middle;
  position: relative;
  border: 3px dotted purple;
  border-radius: 100%;
  height: 25px;
  width: 25px;
  z-index: 5;
  transition: border .25s linear;
  -webkit-transition: border .25s linear;
}

/* Outer circle, unselected, hovered */
ul li:hover .check {
  border: 3px solid green;
}

/* Inner circle */
ul li .check::before {
  display: block;
  position: relative;
  content: '';
  border-radius: 100%;
  height: 15px;
  width: 15px;
  left:5px;
  top: 5px;
  transition: background 0.1s linear;
  -webkit-transition: background 0.1s linear;
}

/* Outer circle, selected, unhovered */
input[type=radio]:checked ~ .check {
  border: 3px solid blue;
}

/* Inner circle, selected, unhovered */
input[type=radio]:checked ~ .check::before{
  background: black;
}

td 
{
    vertical-align: -webkit-baseline-middle;
}

.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid #aaaaaa73 !important;
    border-radius: 4px;
}
</style>

