<template>
  <!-- Modal -->
  <div
    class="modal fade text-left evaluasiPekerjaanUMMod"
    id="exampleModalLong"
    tabindex="-1"
    role="dialog" 
    aria-labelledby="exampleModalLongTitle"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel1">Insert Evaluasi</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form id="formPelelangan" @submit.prevent="addData()" autocomplete="off">
          <div class="modal-body">
            <div class="card-body">
              <div class="modal-body">
                <div class="row">
                  <div class="form-group col-md-12">
                    <label class="form-control-label" for="inputBasicLastName">Notulen <small style="color:red"> *required</small></label>
                    <quill-editor
                      :content="contentNotulen"
                      :options="editorOption"
                      @change="onEditorNotulen($event)"
                    />
                  </div>
                  <div class="form-group col-md-12">
                    <label class="form-control-label" for="inputBasicLastName">Pemenang <small style="color:red"> *required</small></label>
                    <Select2 id="pemenang" v-model="form.idVendor" :options="myOptionsVendor" :settings="{ placeholder: 'Select a Vendor', width: '100%' }" required/>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-md-6">
                    <label class="form-control-label" for="inputBasicLastName">File Notulen <small style="color:red"> *required</small></label>
                    <div class="input-group">
                      <input type="file" id="file1Evaluasi" ref="file1Evaluasi" @change="uploadFilePDF($event)" required />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- End Modal -->
</template>

<!-- script js -->
<script>
import Select2 from "v-select2-component";
import Select2MultipleControl from 'v-select2-multiple-component';
import { quillEditor } from 'vue-quill-editor';
import 'quill/dist/quill.core.css'
import 'quill/dist/quill.snow.css'
import 'quill/dist/quill.bubble.css'
export default {
  name: "modal",
  components: {
    Select2,
    Select2MultipleControl,
    quillEditor
  },
  props: {
    evaluasiOpen: {
      type: Boolean
    },
    evaluasi : {
      type : Object
    },
    closeModal: {
      type: Function
    }
  },
  data(){
    return{
      count: 0,
      loading: false,
      form:{
        idUser : '',
        idPekerjaan: '',
        namaPekerjaan: '',
        idVendor: '',
        file1Evaluasi: '',
      },
      contentNotulen: '',
      editorOption: {
        placeholder: 'Compose an epic...',
        theme: 'snow'
      },
      myOptionsVendor: [],
    };
  },
  mounted() {
    this.loadData()
  },
  watch: {
    evaluasi(newVal) {
      if (newVal) {
        this.loadData()
        this.form.idPekerjaan = newVal.id_pekerjaan
        this.form.namaPekerjaan = newVal.nama_pekerjaan
        // this.form.idVendor = newVal.id_vendor
        axios.get("/api/dropdownvendorValidasi/"+this.form.idPekerjaan).then(response => {
          this.myOptionsVendor = response.data;
        });
        axios.get("/api/getPenyedia/"+this.form.idPekerjaan).then(response => {
          this.form.idVendor = response.data;
        });
      }
    } 
  },
  methods: {
    loadData() {
      axios
      .get("/session")
      .then(response => {
          this.form.idUser = response.data.id;
      });
    },
    onEditorNotulen({ quill, html, text }) {
      this.contentNotulen = html
    },
    uploadFilePDF (event) {
      if(event.target.files[0].type !== "application/pdf"){
        $('#file1Evaluasi').val("")
        Swal.fire(
          {
            title: 'Failed!',
            text: 'File harus PDF',
            confirmButtonClass: 'btn btn-success',
          }
        )
      } 
    },
    addData() {
      var msg = "Terimakasih sudah memasukan evaluasi anda";

      this.form.file1Evaluasi = this.$refs.file1Evaluasi.files[0];
      let formData = new FormData();
      formData.append('file1', this.form.file1Evaluasi);
      formData.append('id_user', this.form.idUser);
      formData.append('id_pekerjaan', this.form.idPekerjaan);
      formData.append('nama_pekerjaan', this.form.namaPekerjaan);
      formData.append('id_vendor', this.form.idVendor);
      formData.append('content', this.contentNotulen);
      formData.append('username', localStorage.getItem('username'));
      formData.append('fullname', localStorage.getItem('fullname'));
      var currentState = window.Echo.connector.pusher.connection.state;
      if(currentState == "unavailable") {
        Swal.fire(
          {
            type: "warning",
            title: 'Peringatan!',
            text: 'Koneksi buruk / tidak terkoneksi dengan Internet. Mohon cek kembali koneksi Internet anda.',
            confirmButtonClass: 'btn btn-success',
          }
        )
      } else {
        Swal.fire({
          title: 'Are you sure?',
          text: "You won't be able to revert this!",
          type: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: 'Yes, insert it!',
          confirmButtonClass: 'btn btn-primary',
          cancelButtonClass: 'btn btn-danger ml-1',
          buttonsStyling: false,
          showLoaderOnConfirm: true,
          preConfirm: () => {
            return axios.post("/api/evaluasiStoreUM", formData,{

              headers : {
                          'Content-Type': 'multipart/form-data'
                        },
            })
            .then(response => {
              $(".evaluasiPekerjaanUMMod").modal('hide');
              this.closeModal();

              this.form.file1Evaluasi = ''
              this.form.idUser = ''
              this.form.idPekerjaan = ''
              this.form.namaPekerjaan = ''
              this.form.IdVendor = ''
              this.contentEvaluasi = ''
              return 
            })
            .catch(error => {
              Swal.showValidationMessage(
                `Request failed: ${error}`
              )
            })
          },
          allowOutsideClick: () => !this.$swal.isLoading()
        }).then(function (result) {
          if (result.value) {
            Swal.fire(
              {
                type: "success",
                title: 'Inserted!',
                text: msg,
                confirmButtonClass: 'btn btn-success',
              }
            )
          }
        }.bind(this))
      }
    },
  }
};
</script>

<style scoped>
.img-crop {
  width: 200px;
  height: 200px;
}
.img-crop2 {
  width: 480px; 
  height: 200px;
}

.form-control-label {
  font-size: 18px;
  font-weight: 500;
  color: #5f5f5f;
}

ul li{
  display: block;  
  border-bottom: 1px dotted lightgray;  
}

ul li label{
  display: inline-block;
  vertical-align: middle;
  padding-left: 20px;
  z-index: 9;
  cursor: pointer;
  -webkit-transition: all 0.15s linear;
}

/* Outer circle, unselected, not-hovered */
ul li .check{
  display: inline-block;vertical-align: middle;
  position: relative;
  border: 3px dotted purple;
  border-radius: 100%;
  height: 25px;
  width: 25px;
  z-index: 5;
  transition: border .25s linear;
  -webkit-transition: border .25s linear;
}

/* Outer circle, unselected, hovered */
ul li:hover .check {
  border: 3px solid green;
}

/* Inner circle */
ul li .check::before {
  display: block;
  position: relative;
  content: '';
  border-radius: 100%;
  height: 15px;
  width: 15px;
  left:5px;
  top: 5px;
  transition: background 0.1s linear;
  -webkit-transition: background 0.1s linear;
}

/* Outer circle, selected, unhovered */
input[type=radio]:checked ~ .check {
  border: 3px solid blue;
}

/* Inner circle, selected, unhovered */
input[type=radio]:checked ~ .check::before{
  background: black;
}

td 
{
    vertical-align: -webkit-baseline-middle;
}

.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid #aaaaaa73 !important;
    border-radius: 4px;
}
</style>

