<template>
  <!-- Modal -->
  <div class="modal fade text-left mailPelelanganMod" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel1">Mail Pelelangan</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
          <div class="card-body">
            <div class="row">
              <div class="form-group col-md-6">
                <label class="form-control-label" for="inputBasicFirstName">Nama Vendor <small style="color:red"> *required</small></label>
                <input
                  type="textfield"
                  class="form-control"
                  placeholder="Input nama vendor"
                  v-model="form.namaVendor"
                  autocomplete="off"
                  required disabled
                >
              </div>
              <div class="form-group col-md-6">
                <label class="form-control-label" for="inputBasicLastName">Pelelangan Email <small style="color:red"> *required</small></label>
                <input
                  type="textfield"
                  class="form-control"
                  placeholder="Input email vendor"
                  v-model="form.emailVendor"
                  autocomplete="off"
                  required disabled
                >
              </div>
            </div>
            <table border='0' cellpadding='0' cellspacing='0' class='body' style='border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%; background-color: #f6f6f6;'>
              <tr>
                <td style='font-family: sans-serif; font-size: 14px; vertical-align: top;'>&nbsp;</td>
                <td class='container' style='font-family: sans-serif; font-size: 14px; vertical-align: top; display: block; margin: 0 auto; max-width: 580px; padding: 10px; width: 580px;'>
                  <div class='content' style='box-sizing: border-box; display: block; margin: 0 auto; max-width: 580px; padding: 10px;'>

                    <!-- START CENTERED WHITE CONTAINER -->
                    <span class='preheader' style='color: transparent; display: none; height: 0; max-height: 0; max-width: 0; opacity: 0; overflow: hidden; mso-hide: all; visibility: hidden; width: 0;'>This is preheader text. Some clients will show this text as a preview.</span>
                    <table class='main' style='border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%; background: #ffffff; border-radius: 3px;'>

                      <!-- START MAIN CONTENT AREA -->
                      <tr>
                        <td class='wrapper' style='font-family: sans-serif; font-size: 14px; vertical-align: top; box-sizing: border-box; padding: 20px;'>
                          <table border='0' cellpadding='0' cellspacing='0' style='border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%;'>
                            <tr>
                              <td style='font-family: sans-serif; font-size: 14px; vertical-align: top;' >
                              <img style='width: 200px;height: auto;' src='themeLanding/img/logo2.png'/>
                                <br>
                              </td>
                            </tr>
                            <tr>
                              <td class="contentIsi" v-html="contentMail">
                                {{ contentMail }}
                              </td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                    <!-- END MAIN CONTENT AREA -->
                    </table>
                  </div>
                </td>
                <td style='font-family: sans-serif; font-size: 14px; vertical-align: top;'>&nbsp;</td>
              </tr>
            </table>
            <label class="form-control-label" for="inputBasicFirstName">Subject Mail</label>
            <textarea class="maxlength-textarea form-control" data-plugin="maxlength" data-placement="bottom-right-inside" maxlength="100" rows="1" placeholder="Input Subject" v-model="subject" required></textarea>
            <br><br>
            <quill-editor
              :content="contentMail"
              :options="editorOption"
              @change="onEditorChangeMail($event)"
            />
          </div>
        </div> 
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" @click="addContentMail()">Send Mail</button>
        </div>
      </div>
    </div>
  </div>
  <!-- End Modal -->
</template>

<!-- script js -->
<script>
import { quillEditor } from 'vue-quill-editor';
import 'quill/dist/quill.core.css'
import 'quill/dist/quill.snow.css'
import 'quill/dist/quill.bubble.css'
export default {
  components: { 
    quillEditor,
  },
  name: 'modal',
  props : {
    mailModal : {
      type : Boolean
    },
    mail : {
      type : Object
    },
    closeModal: {
      type: Function
    }
  },
  data(){
    return{
      form:{
        namaVendor: '',
        emailVendor: '',
      },
      subject:'',
      contentMail: '',
      editorOption: {
        placeholder: 'Compose an epic...',
        // readOnly: true,
        theme: 'snow'
      },
    }
  },
  watch: {
    mail(newVal) {
      if (newVal) {
        this.form.namaVendor = newVal.nama_vendor;
        this.form.emailVendor = newVal.email_vendor;
      }
    } 
  },
  methods: {
    onEditorChangeMail({ quill, html, text }) {
      // console.log('editor change!', quill, html, text)
      this.contentMail = html
    },

    addContentMail() {
      var currentState = window.Echo.connector.pusher.connection.state;
      if(currentState == "unavailable") {
        Swal.fire(
          {
            type: "warning",
            title: 'Peringatan!',
            text: 'Koneksi buruk / tidak terkoneksi dengan Internet. Mohon cek kembali koneksi Internet anda.',
            confirmButtonClass: 'btn btn-success',
          }
        )
      } else {
        Swal.fire({
          title: 'Are you sure?',
          text: "You won't be able to revert this!",
          type: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: 'Yes, insert it!',
          confirmButtonClass: 'btn btn-primary',
          cancelButtonClass: 'btn btn-danger ml-1',
          buttonsStyling: false,
          showLoaderOnConfirm: true,
          preConfirm: () => {
            if(this.subject !== "" && this.contentMail !== ""){
              return axios.post("/api/sendMailltoVendor", {
                email: this.form.emailVendor,
                namavendor: this.form.namaVendor,
                content: this.contentMail,
                subject: this.subject,
                username : localStorage.getItem('username'),
                fullname : localStorage.getItem('fullname'),
              })
              .then(response => {
                $(".mailPelelanganMod").modal('hide');
                this.closeModal();
                this.form.emailVendor = ''
                this.form.namaVendor = ''
                this.contentMail = ''
                this.subject = ''
                return 
              })
              .catch(error => {
                Swal.showValidationMessage(
                  `Request failed: ${error}`
                )
              })
            } else {
              Swal.showValidationMessage(
                    'Subject kosong !'
                  )
            }
          },
          allowOutsideClick: () => !this.$swal.isLoading()
        }).then(function (result) {
          if (result.value) {
            Swal.fire(
              {
                type: "success",
                title: 'Inserted!',
                text: 'Your file has been Insert.',
                confirmButtonClass: 'btn btn-success',
              }
            )
          }
        }.bind(this))
      }
    },
  }
};
</script>

