<template>
  <!-- Modal -->
  <div class="modal fade text-left notapprovePekerjaanUMMod" id="default" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel1">Not Approve Pekerjaan</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form id="formNotApprove" @submit.prevent="addNotApprove()" autocomplete="off">
          <div class="modal-body">
            <div class="row">
              <div class="form-group col-md-12">
                <label class="form-control-label" for="inputBasicUserName">Tanda Tangan</label>
                <VueSignaturePad id="signature" width="100%" height="450px" ref="signaturePad"/>
                <br>
                <div>
                  <!-- <button type="button" class="btn btn-outline-primary" @click="save">Simpan Tanda Tangan</button> -->
                  <button type="button" class="btn btn-outline-danger" @click="undo">Undo</button>
                </div>
              </div>

              <div class="form-group col-md-12">
                <label class="form-control-label" for="inputBasicPassword">Catatan</label>
                <textarea class="maxlength-textarea form-control" data-plugin="maxlength" data-placement="bottom-right-inside"
                  maxlength="100" rows="3" placeholder="Input your catatan" v-model="form.catatan" required></textarea>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default btn-pure" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Not Approve</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- End Modal -->
</template>

<!-- script js -->
<script>
import VueSignaturePad from 'vue-signature-pad';

export default {
  name: 'notapprovepl',
  components: {
    VueSignaturePad,
  },
  props : {
    notapproveModal : {
      type : Boolean
    },
    notapprovepl : {
      type : Object
    },
    closeModal : {
      type : Function
    }
  },
  data(){
    return{
      role: '',
      form:{
        idUser : '',
        idPekerjaan: '',
        signature: '',
        catatan: '',
      },
      canvasVehiculo: false,
    }
  },
  watch: {
    notapprovepl(newVal) {
      if (newVal) {
        this.form.idPekerjaan = newVal.id_pekerjaan
        this.open()
      }
    } 
  },
  mounted() {
    this.getContent()
  },
  methods: {
    getContent(){
      axios
        .get("/session")
        .then(response => {
          this.role = response.data.role
          this.form.idUser = response.data.id
      });
    },
    open() {
      this.canvasVehiculo = true;
      this.$nextTick(() => {
        this.$refs.signaturePad.resizeCanvas();
      })
    },
    undo() {
      this.$refs.signaturePad.undoSignature();
    },
    save() {
      const { isEmpty, data } = this.$refs.signaturePad.saveSignature();
      if(!isEmpty){
        this.form.signature = data
      }
    },
    addNotApprove(){
      const { isEmpty, data } = this.$refs.signaturePad.saveSignature();
      if(!isEmpty){
        this.form.signature = data
      }

      if(this.form.signature == undefined){
        Swal.fire(
          {
            type: "warning",
            title: 'Belum Tanda Tangan!',
            text: 'Mohon tandatangani pada kolom yang disediakan.',
          }
        )
      } else {
        let formData = new FormData();
        formData.append('id_user', this.form.idUser);
        formData.append('id_pekerjaan', this.form.idPekerjaan);
        formData.append('signature', this.form.signature);
        formData.append('catatan', this.form.catatan);
        formData.append('username', localStorage.getItem('username'));
        formData.append('fullname', localStorage.getItem('fullname'));
        var currentState = window.Echo.connector.pusher.connection.state;
        if(currentState == "unavailable") {
          Swal.fire(
            {
              type: "warning",
              title: 'Peringatan!',
              text: 'Koneksi buruk / tidak terkoneksi dengan Internet. Mohon cek kembali koneksi Internet anda.',
              confirmButtonClass: 'btn btn-success',
            }
          )
        } else {
          Swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, insert it!',
            confirmButtonClass: 'btn btn-primary',
            cancelButtonClass: 'btn btn-danger ml-1',
            buttonsStyling: false,
            showLoaderOnConfirm: true,
            preConfirm: () => {
              return axios.post("/api/notapprovePekerjaanUM", formData, {
                headers : {
                            'Content-Type': 'multipart/form-data'
                          },
              })
              .then(response => {
                $(".notapprovePekerjaanUMMod").modal('hide');
                this.$refs.signaturePad.clearSignature();
                this.form.idUser = ''
                this.form.idPekerjaan = ''
                this.form.signature = ''
                this.form.catatan = ''
              })
              .catch(error => {
                Swal.showValidationMessage(
                  `Request failed: ${error}`
                )
              })
            },
            allowOutsideClick: () => !this.$swal.isLoading()
          }).then(function (result) { 
            if (result.value) {
              this.closeModal();
              Swal.fire(
                {
                  type: "success",
                  title: 'Approve!',
                  text: 'Your file has been Approve.',
                  confirmButtonClass: 'btn btn-success',
                }
              )
            }
          }.bind(this))
        }
      }
    },
  }
};
</script>

<style type="text/css" scoped="">
  canvas {
    width: 100%;
    height: 100%;
  }

  #signature {
    border: double 3px transparent;
    border-radius: 5px;
    background-image: linear-gradient(white, white),
      radial-gradient(circle at top left, #4bc5e8, #9f6274);
    background-origin: border-box;
    background-clip: content-box, border-box;
  }
</style>


