<template>
  <!-- Modal -->
  <div class="modal fade text-left viewjadwalPekerjaanUMMod" id="default" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel1">View Jadwal</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
          <div class="card-body">            
            <vue-good-table
              mode="remote"
              @on-page-change="onPageChange"
              @on-sort-change="onSortChange"
              @on-column-filter="onColumnFilter"
              @on-per-page-change="onPerPageChange"
              @on-search="onSearch"
              :totalRows="totalRecords"
              :isLoading.sync="isLoading"
              :pagination-options="{
                enabled: true,
                dropdownAllowAll: false,
                mode: 'pages'
              }"
              :search-options="{
                enabled: true,
                skipDiacritics: true,
              }"
              :rows="rows"
              :columns="columns">
              <template slot="table-row" slot-scope="props">
                <span v-if="props.column.field == 'addendum'">
                  {{props.row.addendum}} kali perubahan
                </span>
                <span v-else>
                  {{props.formattedRow[props.column.field]}}
                </span>
              </template>
            </vue-good-table>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default btn-pure" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!-- End Modal -->
</template>

<!-- script js -->
<script>
import 'vue-good-table/dist/vue-good-table.css'
import { VueGoodTable } from 'vue-good-table';

export default {
  name: 'viewjadwalpekerjaan',
  components: {
    'vue-good-table' : VueGoodTable,
  },
  props : {
    viewjadwalModal : {
      type : Boolean
    },
    viewjadwal : {
      type : Object
    },
    closeModal : {
      type : Function
    }
  },
  data(){
    return{
      role: '',
      form:{
        idUser: '',
        idPekerjaan: '',
        namaJadwal: '',
        tglMulai: '',
        jamMulai: '',
        tglSelesai: '',
        jamSelesai: '',
      },
      isLoading: false,
      columns: [
          {
              label: 'Jadwal',
              field: 'nama_jadwal',
              filterable: true
          },
          {
              label: 'Tanggal Mulai',
              field: 'tgl_mulai',
              filterable: true
          },
          {
              label: 'Jam Mulai',
              field: 'jam_mulai',
              filterable: true
          },
          {
              label: 'Tanggal Selesai',
              field: 'tgl_selesai',
              filterable: true
          },
          {
              label: 'Jam Selesai',
              field: 'jam_selesai',
              filterable: true
          },
          {
              label: 'Perubahan',
              field: 'addendum',
              filterable: true
          },
      ],
      rows: [],
      totalRecords: 0,
      serverParams: {
        columnFilters: {
        },
        sort: {       
          field: 'created_at', 
          type: 'asc',
        },
        page: 1, 
        perPage: 10,
        searchTerm: ''
      },
    }
  },
  watch: {
    viewjadwal(newVal) {
      if (newVal) {
        this.form.idPekerjaan = newVal.id_pekerjaan
        this.loadItems()
      }
    } 
  },
  mounted() {
    this.getContent()
  },
  methods: {
    getContent(){
      axios
        .get("/session")
        .then(response => {
          this.role = response.data.role
          this.form.idUser = response.data.id
      });
    },
    getFromServer(vendors) {
      return axios.get(`/api/viewjadwal/${this.form.idPekerjaan}?searchTerm=${vendors.searchTerm}&page=${vendors.page}&per_page=${vendors.perPage}&field=${vendors.sort.field}&type=${vendors.sort.type}`); 
    },
    updateParams(newProps) {
      this.serverParams = Object.assign({}, this.serverParams, newProps);
    },
    onPageChange(params) {
      this.updateParams({page: params.currentPage});
      this.loadItems();
    },
    onPerPageChange(params) {
      this.updateParams({perPage: params.currentPerPage});
      this.loadItems();
    },
    onSortChange(params) {
      this.updateParams({
        sort: {
          type: params[0].type,
          field: params[0].field,
        },
      });
      this.loadItems();
    },
    onColumnFilter(params) {
      this.updateParams(params);
      this.loadItems();
    },
    onSearch(params) {
      this.updateParams(params);
      this.loadItems();
    },
    loadItems() {
      this.getFromServer(this.serverParams).then((response) => {
          this.totalRecords = response.data.vendors.total;
          this.rows = response.data.vendors.data;
      })
    },
  }
};
</script>

<style type="text/css" scoped="">
  canvas {
    width: 100%;
    height: 100%;
  }

  #signature {
    border: double 3px transparent;
    border-radius: 5px;
    background-image: linear-gradient(white, white),
      radial-gradient(circle at top left, #4bc5e8, #9f6274);
    background-origin: border-box;
    background-clip: content-box, border-box;
  }
</style>


