<template>

  <!-- BEGIN: Content-->
  <div class="app-content content">
      <div class="content-overlay"></div>
      <div class="header-navbar-shadow"></div>
      <div class="content-wrapper">
          <div class="content-header row">
              <div class="content-header-left col-md-8 col-12 mb-2">
                  <div class="row breadcrumbs-top">
                      <div class="col-12">
                        <div class="row">
                          <div class="col-12">
                            <h2 class="content-header-title float-left mb-0">Data Aanwijzing</h2>
                          </div>
                          <div class="breadcrumb-wrapper col-12">
                              <ol class="breadcrumb">
                                  <li class="breadcrumb-item"><a href="index.html">Home</a>
                                  </li>
                                  <li class="breadcrumb-item"><a href="index.html">Paket Lelang</a>
                                  </li>
                                  <li class="breadcrumb-item"><a href="index.html">Pelelangan Terbatas</a>
                                  </li>
                                  <li class="breadcrumb-item active">Data Aanwijzings
                                  </li>
                              </ol>
                          </div>
                        </div>
                      </div>
                  </div>
              </div>
              <div class="content-header-right text-md-right col-md-4 col-12 d-md-block d-none">
                  <div class="form-group breadcrum-right">
                      <div class="dropdown">

                          <button class="btn-icon btn btn-primary btn-round btn-sm dropdown-toggle" data-toggle="tooltip"
                            data-original-title="Refresh" v-on:click="onRefresh" aria-haspopup="true" aria-expanded="false"><i class="feather icon-refresh-ccw"></i>
                          </button>

                      </div>
                  </div>
              </div>
          </div>

          <view-aanwijzing-mod :open-modal="viewOpen" :view="view" :close-modal="loadItems"></view-aanwijzing-mod>
          <template v-if="qnaOpen == true && session.role == 'R002'">
            <qna-aanwijzing-mod :open-modal="qnaOpen" :qna="qna" :close-modal="loadItems"></qna-aanwijzing-mod>
          </template>
          <template v-else-if="session.role !== 'R002'">
            <qna-aanwijzing-mod :open-modal="qnaOpen" :qna="qna" :close-modal="loadItems"></qna-aanwijzing-mod>
          </template>
          <ba-aanwijzing-mod :open-modal="baOpen" :ba="ba" :close-modal="loadItems"></ba-aanwijzing-mod>
          <viewba-aanwijzing-mod :open-modal="viewbaOpen" :viewba="viewba" :close-modal="loadItems"></viewba-aanwijzing-mod>
          <insert-jadwal-mod :open-modal="jadwalOpen" :jadwal="jadwal" :close-modal="loadItems"></insert-jadwal-mod>
          <view-jadwal-mod :open-modal="viewjadwalOpen" :viewjadwal="viewjadwal" :close-modal="loadItems"></view-jadwal-mod>

          <div class="content-body">
              <!-- Basic example section start -->
              <section id="basic-examples">
                  <div class="card">
                      <div class="card-header">
                        <h4 class="card-title">Jumlah Aanwijzing : {{totalAanwijzing}}</h4>
                      </div>
                      <div class="card-content">
                          <div class="card-body">
                            <vue-good-table
                              mode="remote"
                              @on-page-change="onPageChange"
                              @on-sort-change="onSortChange"
                              @on-column-filter="onColumnFilter"
                              @on-per-page-change="onPerPageChange"
                              @on-search="onSearch"
                              :totalRows="totalRecords"
                              :isLoading.sync="isLoading"
                              :pagination-options="{
                                enabled: true,
                                dropdownAllowAll: false,
                                mode: 'pages'
                              }"
                              :search-options="{
                                enabled: true,
                                skipDiacritics: true,
                              }"
                              :rows="rows"
                              :columns="columns">
                              <template slot="table-row" slot-scope="props">
                                <span v-if="props.column.field == 'action'"> 
                                  <button type="button" class="btn btn-outline-primary btn-sm dropdown-toggle mr-1" data-toggle="dropdown"><i class="feather icon-more-vertical"></i> Action</button>
                                  <ul class="dropdown-menu" style="top: auto; left: auto; padding: 5px;">
                                    <template v-for="actionS in action">
                                      <template v-if="actionS == 'Insert' && session.role !== 'R002' && props.row.status_ba == 0">
                                        <template v-if="session.role == 'R000' || session.role == 'R003'">
                                          <li>
                                            <button class="btn-icon btn btn-info btn-sm btn-block mr-1 mb-1 waves-effect waves-light" data-target=".baAanwijzingMod" data-toggle="modal" type="button" title='Berita Acara' @click="baModal(props.row.id_pekerjaan)"><i class="feather icon-file-plus" aria-hidden="true"></i> Berita Acara</button>
                                          </li>
                                        </template>
                                      </template>
                                      <template v-if="actionS == 'Insert'">
                                        <li>
                                          <button class="btn-icon btn btn-warning btn-sm btn-block mr-1 mb-1 waves-effect waves-light" data-target=".qnaAanwijzingMod" data-toggle="modal" type="button" title='Q&A' @click="qnaModal(props.row.id_pekerjaan,props.row.tgl_mulai,props.row.jam_mulai,props.row.tgl_selesai,props.row.jam_selesai)"><i class="feather icon-message-circle" aria-hidden="true"></i> Q&A</button>
                                        </li>
                                      </template>  
                                      <template v-if="actionS == 'View'">
                                        <li>
                                          <button class="btn-icon btn btn-primary btn-sm btn-block mr-1 mb-1 waves-effect waves-light" data-target=".viewAanwijzingMod" data-toggle="modal" type="button" title='View' @click="viewModal(props.row.id_pekerjaan)"><i class="feather icon-eye" aria-hidden="true"></i> View</button>
                                        </li>
                                      </template>
                                      <template v-if="actionS == 'View'">
                                        <li>
                                          <button class="btn-icon btn btn-outline-primary btn-sm btn-block mr-1 mb-1 waves-effect waves-light" data-target=".viewjadwalPekerjaanPTMod" data-toggle="modal" type="button" title='View Jadwal' @click="viewJadwalModal(props.row.id_pekerjaan)"><i class="feather icon-eye" aria-hidden="true"></i> View Jadwal</button>
                                        </li>
                                      </template>
                                      <template v-if="actionS == 'View'">
                                        <template v-if="props.row.status_ba == 1 || props.row.status_ba == 2">
                                          <li>
                                            <button class="btn-icon btn btn-outline-primary btn-sm btn-block mr-1 mb-1 waves-effect waves-light" data-target=".viewBAAanwijzingMod" data-toggle="modal" type="button" title='View Berita Acara' @click="viewBAModal(props.row.id_pekerjaan)"><i class="feather icon-eye" aria-hidden="true"></i> View Berita Acara</button>
                                          </li>
                                        </template>
                                      </template> 
                                      <template v-if="actionS == 'Pdf' && props.row.status_ba == 2">
                                        <li>
                                          <a target="_blank" rel="noopener noreferrer" :href="'api/pdfAanwijzing/' + props.row.id_pekerjaan">
                                            <button class="btn-icon btn btn-outline-warning btn-sm btn-block mr-1 mb-1 waves-effect waves-light" title='Download Pdf'><i class="feather icon-upload-cloud" aria-hidden="true"></i> Download Pdf Berita Acara</button>
                                          </a>
                                        </li>
                                      </template>
                                      <!-- <template v-if="actionS == 'Download' && props.row.status_ba == 2">
                                        <li>
                                          <a target="_blank" rel="noopener noreferrer" @click="downloadAanwijzing(props.row.id_pekerjaan)">
                                            <button class="btn-icon btn btn-outline-primary btn-sm btn-block mr-1 mb-1 waves-effect waves-light" title='Download File Dokumen'><i class="feather icon-download-cloud" aria-hidden="true"></i> Download File Dokumen</button>
                                          </a>
                                        </li>
                                      </template> -->
                                    </template>
                                  </ul>
                                </span>
                                <span v-if="props.column.field == 'status_ba'">
                                  <span v-if="props.row.status_ba == 2">
                                    <span class="badge badge-round badge-success">Aanwijzing Selesai</span>   
                                    <template v-if="session.role == 'R000' || session.role == 'R003'">
                                      <template v-for="actionS in action">
                                        <template v-if="actionS == 'Insert'">
                                          <button class="btn-icon btn btn-outline-success btn-sm waves-effect waves-light" data-target=".jadwalPekerjaanPTMod" data-toggle="modal" type="button" @click="jadwalModal(props.row.id_pekerjaan,'Pemasukan Penawaran')" aria-haspopup="true" aria-expanded="false" title='Set Jadwal Upload Dokumen'><i class="feather icon-upload-cloud" aria-hidden="true"></i> Set Jadwal Upload Penawaran</button>
                                        </template>
                                      </template>
                                    </template> 
                                  </span> 
                                  <span v-else-if="props.row.status_ba == 1">
                                    <span class="badge badge-round badge-danger">Proses Aanwijzing</span>  
                                  </span> 
                                  <span v-else-if="props.row.status_ba == 0">
                                    <span class="badge badge-round badge-warning">Proses Aanwijzing</span>  
                                  </span>                
                                </span>
                                <span v-else-if="props.column.field == 'tgl_mulai'">
                                    {{props.row.tgl_mulai}} {{props.row.jam_mulai}}  
                                </span>
                                <span v-else-if="props.column.field == 'tgl_selesai'">
                                    {{props.row.tgl_selesai}} {{props.row.jam_selesai}}  
                                </span>
                                <span v-else>
                                  {{props.formattedRow[props.column.field]}}
                                </span>
                              </template>
                            </vue-good-table>

                            <hr>

                            <!-- <div class="content-body" id="here">
                                <div class="chat-overlay"></div>
                                <section class="chat-app-window">
                                    <div class="active-chat ">
                                        <div class="chat_navbar">
                                            <header class="chat_header d-flex justify-content-between align-items-center p-1">
                                                <div class="vs-con-items d-flex align-items-center">
                                                    <div class="sidebar-toggle d-block d-lg-none mr-1"><i class="feather icon-menu font-large-1"></i></div>
                                                    <div class="avatar user-profile-toggle m-0 m-0 mr-1">
                                                        <img src="theme/app-assets/images/logo/logo-warna2.png" alt="" height="40" width="40" />
                                                    </div>
                                                    <h6 class="mb-0"><b>{{ namaPekerjaan }}</b></h6>
                                                </div>
                                                <button class="btn-icon btn btn-primary btn-round btn-sm" title="Close Chat" v-on:click="closeChat"><i class="feather icon-x"></i>
                                                </button>
                                            </header>
                                        </div>
                                        <div class="user-chats ps ps--active-y">
                                            <template v-if="displayChat == false">
                                              <div class="start-chat-area">
                                                  <span class="mb-1 start-chat-icon feather icon-message-square"></span>
                                                  <h4 class="py-50 px-1 sidebar-toggle start-chat-text">Start Conversation</h4>
                                              </div>
                                            </template>
                                            <div class="chats">
                                              <template v-for="message in messages">
                                                <template v-if="session.id == message.id_sender">
                                                  <div class="chat">
                                                    <template v-if="session.id == message.id_sender && timeSender !== formatTime(message.created_at)">
                                                      <div class="chat-avatar">
                                                          <a class="avatar m-0" data-toggle="tooltip" href="#" data-placement="right" title="" data-original-title="">
                                                              <img :src="'uploads/photo_profile/'+message.photo_profile" @error="(() => message.photo_profile = 'uploads/photo_profile/avatarDefault.png')"alt="avatar" height="40" width="40" />
                                                          </a>
                                                      </div>
                                                    </template>
                                                    <div class="chat-body">
                                                      <template v-if="session.id == message.id_sender">
                                                        <div class="chat-content">
                                                            <p style="font-size: 8px;">{{ message.username }}</p>
                                                            <p>{{ message.message }}</p>
                                                            <p style="font-size: 8px;">{{ formatTime(message.created_at) }}</p>
                                                        </div>
                                                      </template>
                                                    </div>
                                                  </div>
                                                </template>
                                                <template v-else>
                                                  <div class="chat chat-left">
                                                    <template v-if="session.id !== message.id_sender && timeReceiver !== formatTime(message.created_at)">
                                                      <div class="chat-avatar">
                                                          <a class="avatar m-0" data-toggle="tooltip" href="#" data-placement="left" title="" data-original-title="">
                                                              <img :src="'uploads/photo_profile/'+message.photo_profile" alt="avatar" height="40" width="40" />
                                                          </a>
                                                      </div>
                                                    </template>
                                                    <div class="chat-body">
                                                      <template v-if="session.id !== message.id_sender">
                                                        <div class="chat-content">
                                                            <p style="font-size: 8px;">{{ message.username }}</p>
                                                            <p>{{ message.message }}</p>
                                                            <p style="font-size: 8px;">{{ formatTime(message.created_at) }}</p>
                                                        </div>
                                                      </template>
                                                    </div>
                                                  </div>
                                                </template>     
                                              </template>
                                            </div>
                                        </div>
                                        <div class="chat-app-form">
                                            <form class="chat-app-input d-flex" action="javascript:void(0);">
                                              <template v-if="displayChat == true">
                                                <input type="text" name="message" class="form-control message mr-1 ml-50" id="iconLeft4-1" placeholder="Type your message" v-model="newMessage" @keyup.enter="addMessage">
                                                <button type="button" class="btn btn-primary " @click="addMessage"><i class="feather icon-navigation"></i></button>
                                              </template>
                                            </form>
                                        </div>
                                    </div>
                                </section>
                            </div> -->

                            <div class="content-body">
                            </div>
                            
                          </div>
                      </div>
                  </div>
              </section>
              <!-- // Basic example section end -->
          </div>
      </div>
  </div>
  <!-- END: Content-->

</template>

<!-- script js -->
<script>
import ViewAanwijzing from './ViewAanwijzing.vue';
import QnaAanwijzing from './QnaAanwijzing.vue';
import BAAanwijzing from './BAAanwijzing.vue';
import ViewBAAanwijzing from './ViewBAAanwijzing.vue';
import JadwalPekerjaan from './JadwalPekerjaan.vue';
import ViewJadwalPekerjaan from './ViewJadwalPekerjaan.vue';
import moment from 'moment';
import 'vue-good-table/dist/vue-good-table.css'
import { VueGoodTable } from 'vue-good-table';
moment.locale("id");

const _ = require('lodash');

export default {
    name: 'pt_aanwijzing',
    components: {
      'vue-good-table' : VueGoodTable,
      'view-aanwijzing-mod' : ViewAanwijzing,
      'qna-aanwijzing-mod' : QnaAanwijzing,
      'ba-aanwijzing-mod' : BAAanwijzing,
      'viewba-aanwijzing-mod' : ViewBAAanwijzing,
      'insert-jadwal-mod' : JadwalPekerjaan,
      'view-jadwal-mod' : ViewJadwalPekerjaan,
    },
    data() {
        return {
          totalAanwijzing: '',
          isLoading: false,
          newMessage: '',
          messages: [],
          idMessage: '',
          idPekerjaan: '',
          idSender: '',
          idReceiver: '',
          namaPekerjaan: '',
          displayChat: false,
          timeSender: '',
          timeReceiver: '',
          date: '',

          totalAanwijzing: '',
          isLoading: false,
          viewOpen: false,
          view: {},
          qnaOpen: false,
          qna: {},
          baOpen: false,
          ba: {},
          viewbaOpen: false,
          viewba: {},
          jadwalOpen: false,
          jadwal: {},
          viewjadwalOpen: false,
          viewjadwal: {},
          prints: [],
          session: {
            id: '',
            id_person: '',
            role: 'R002'
          },
          columns: [
              {
                    label: 'Kode',
                    field: 'kode_pekerjaan',
                    filterable: true
              },
              {
                  label: 'Pekerjaan',
                  field: 'nama_pekerjaan',
                  filterable: true
              },
              {
                  label: 'Metode',
                  field: 'metode',
                  filterable: true
              },
              {
                  label: 'Mulai',
                  field: 'tgl_mulai',
                  filterable: true
              },
              {
                  label: 'Selesai',
                  field: 'tgl_selesai',
                  filterable: true,
                  // filterOptions: {
                  //   enabled: true,
                  //   filterDropdownItems: ['20', '40'],
                  // }
              },
              {
                  label: 'Status',
                  field: 'status_ba',
                  filterable: true
              },
              {
                label: 'Action',
                field: 'action',
                sortable: false,
              },
          ],
          rows: [],
          totalRecords: 0,
          serverParams: {
            columnFilters: {
            },
            sort: {       
              field: 'created_ats', 
              type: 'desc',
            },
            page: 1, 
            perPage: 5,
            searchTerm: ''
          },
          action: []
        };
    },
    beforeCreate(){
        this.loading = true;
        axios
        .get("/session")
        .then(response => {
            this.id = response.data.id;
            this.session.id = response.data.id;
            this.role = response.data.role;
            this.session.role = response.data.role;
            this.login = response.data.login;
            axios
            .get("/api/getSide/" + this.id )
            .then(response => {
                this.data = response.data;
                var routesUser = [];
                this.data.forEach(function(puki, index) {
                  var nam = puki.Link.substr(1);
                  routesUser.push(nam);
                }); 
                var n = routesUser.includes(this.$options.name);
                console.log(n)
                if(this.login == true && n == true){
                  this.loading = false;
                  this.loadItems()
                  this.onRefresh()
                  this.getAction(this.id,this.$options.name)
                } else if (this.login == true && n == false) {
                  this.$router.push('/not404');
                  this.loading = false;
                } else {
                  window.location.href = "/";
                  // this.$router.push('/not404');
                  this.loading = false;
                }
            });
        });
    },
    mounted() {
      this.listen()
    },
    methods: {
      getAction(id,link){
        axios
            .get("/api/action/" + id + "/" + link)
            .then(response => {
              this.action = response.data;
            });
      },
      openNotifChat(){
        axios.post('/openNotifChat/'+ this.session.id + '/' + this.idPekerjaan).then(response => {
        });
      },
      listen() {
          Echo.channel('message') //Should be Channel Name
          .listen('ChatMessage', (e) => {
            this.fetchMessages(this.idMessage)
          });

          Echo.channel('newNotif') //Should be Channel Name
          .listen('NotifEvents', (e) => {
            if(this.id == e.message.id_receiver && e.message.jenis == "Pekerjaan"){
              this.loadItems()
              // $(".qnaAanwijzingMod").modal('hide');
            } 
          });

          Echo.channel('refreshEvent') //Should be Channel Name
          .listen('RefreshEvents', (e) => {
            this.loadItems()
          });
      },
      fetchMessages(id_message) {
          axios.get('/messages/'+ id_message).then(response => {
              this.messages = response.data;
          });
      },
      addMessage() {
          var message = new Array();
          let formData = new FormData();
          formData.append('id_sender', this.id);
          formData.append('id_receiver', this.idReceiver);
          formData.append('id_pekerjaan', this.idPekerjaan);
          formData.append('message', this.newMessage);
          formData.append('jenis', 'Chat Pelelangan Terbatas');

          this.openNotifChat()

          var currentState = window.Echo.connector.pusher.connection.state;
          if(currentState == "unavailable") {
            Swal.fire(
              {
                type: "warning",
                title: 'Peringatan!',
                text: 'Koneksi buruk / tidak terkoneksi dengan Internet. Mohon cek kembali koneksi Internet anda.',
                confirmButtonClass: 'btn btn-success',
              }
            )
          } else {
            Swal.fire({
              title: 'Are you sure?',
              text: "You won't be able to revert this!",
              type: 'warning',
              showCancelButton: true,
              confirmButtonColor: '#3085d6',
              cancelButtonColor: '#d33',
              confirmButtonText: 'Yes, send it!',
              confirmButtonClass: 'btn btn-primary',
              cancelButtonClass: 'btn btn-danger ml-1',
              buttonsStyling: false,
              showLoaderOnConfirm: true,
              preConfirm: () => {
                return axios.post("/messages", formData,{
                  headers : {
                              'Content-Type': 'multipart/form-data'
                            },
                })
                .then(response => {
                  this.newMessage = ''
                  return 
                })
                .catch(error => {
                  Swal.showValidationMessage(
                    `Request failed: ${error}`
                  )
                })
              },
              allowOutsideClick: () => !this.$swal.isLoading()
            }).then(function (result) {
              if (result.value) {
                Swal.fire(
                  {
                    type: "success",
                    title: 'Send!',
                    text: 'Your chat is send',
                    confirmButtonClass: 'btn btn-success',
                  }
                )
              }
            }.bind(this))
          }
      },
      chatData(params){
        axios.get('/api/getmessagesPT/'+params,{
          }).then(response => {
            this.idSender = this.session.id
            var arr = response.data.id_sender_receiver
            var index = arr.indexOf(this.session.id);
            if (index >= 0) {
              arr.splice( index, 1 )
              this.idReceiver = arr
            }
            this.idMessage = response.data.id_message
            this.idPekerjaan = response.data.id_pekerjaan
            this.namaPekerjaan = response.data.nama_pekerjaan
            this.newMessage = ''
            this.fetchMessages(response.data.id_message);
            this.openNotifChat()
            this.displayChat = true
            // $( "#here" ).load(window.location.href + " #here" );
        });
          var chatContainer = $(".user-chats")
          chatContainer.animate({ scrollTop: chatContainer[0].scrollHeight }, 400)
      },
      closeChat(){
        this.displayChat = false
        this.namaPekerjaan = ''
        this.newMessage = ''
        this.messages = []      
      },


      getFromServer(aanwijzings) {
        if(this.session.role == "R002") { 
          return axios.post(`/api/getAanwijzingPTVendor/`+this.session.id+`?searchTerm=${aanwijzings.searchTerm}&page=${aanwijzings.page}&per_page=${aanwijzings.perPage}&field=${aanwijzings.sort.field}&type=${aanwijzings.sort.type}`); 
        } else {
          return axios.post(`/api/getAanwijzingPT?searchTerm=${aanwijzings.searchTerm}&page=${aanwijzings.page}&per_page=${aanwijzings.perPage}&field=${aanwijzings.sort.field}&type=${aanwijzings.sort.type}`); 
        }   
      },
      updateParams(newProps) {
        this.serverParams = Object.assign({}, this.serverParams, newProps);
      },
      onPageChange(params) {
        this.updateParams({page: params.currentPage});
        this.loadItems();
      },
      onPerPageChange(params) {
        this.updateParams({perPage: params.currentPerPage});
        this.loadItems();
      },
      onSortChange(params) {
        this.updateParams({
          sort: {
            type: params[0].type,
            field: params[0].field,
          },
        });
        this.loadItems();
      },
      onColumnFilter(params) {
        this.updateParams(params);
        this.loadItems();
      },
      onSearch(params) {
        this.updateParams(params);
        this.loadItems();
      },
      loadItems() {
        this.qnaOpen = false;
        this.getFromServer(this.serverParams).then((response) => {
            this.totalRecords = response.data.aanwijzings.total;
            this.totalAanwijzing = this.totalRecords
            this.rows = response.data.aanwijzings.data;
        })
      },

      openNotifChat2(params){
        axios.post('/openNotifChat/'+ this.session.id + '/' + params).then(response => {
        });
      },
      closeModal() {
          this.viewOpen = false;
          this.qnaOpen = false;
          this.baOpen = false;
          this.viewbaOpen = false;
          this.jadwalOpen = false
          this.viewjadwalOpen = false;
      },
      viewModal(params) {
          axios
            .get("/api/pelelanganPT/" + params)
            .then(response => {
              this.view = response.data;
              this.openNotifChat2(params)
            });
          this.viewOpen = !this.viewOpen;
      },
      viewBAModal(params) {
          axios
            .get("/api/pelelanganPT/" + params)
            .then(response => {
              this.viewba = response.data;
              this.openNotifChat2(params)
            });
          this.viewbaOpen = !this.viewbaOpen;
      },
      qnaModal(id_pekerjaan,tgl_mulai,jam_mulai,tgl_selesai,jam_selesai){
        var date = moment().toDate();
        date = moment(date).format('YYYY-MM-DD');
        var time = moment().toDate();
        time = moment(time).format('HH:mm');

        if(tgl_selesai == null && jam_selesai == null){
          Swal.fire(
            {
              type: "warning",
              title: 'Jadwal Selesai Belum Ada',
              text: 'Mohon Admin atau Panitia melakukan Setting jadwal proses Aanwijzing.',
              confirmButtonClass: 'btn btn-success',
            }
          )
        } else {
          var beginningTime = moment(time, 'h:mma');
          var startTime = moment(jam_mulai, 'h:mma');
          var endTime = moment(jam_selesai, 'h:mma');

          var stsDate = moment(date).isBetween(tgl_mulai, tgl_selesai, null, '[]');
          var stsStartTime = beginningTime.isAfter(startTime)
          var stsEndTime = beginningTime.isBefore(endTime)
          
          if(this.role == "R002") {
            if (stsDate == true && stsStartTime == true &&  stsEndTime == true) { 
                axios
                  .get("/api/pelelanganPT/" + id_pekerjaan)
                  .then(response => {
                    this.qna = response.data;
                  });
                // this.qnaOpen = !this.qnaOpen;
                this.qnaOpen = true
            // } else if(stsDate == false && stsStartTime == false &&  stsEndTime == false){
            } else if(stsDate == false){ 
                Swal.fire(
                  {
                    type: "warning",
                    title: 'Belum Saatnya atau Sudah Berakhir!',
                    text: 'Mohon cek waktu Mulai dan Selesai proses Aanwijzing.',
                    confirmButtonClass: 'btn btn-success',
                  }
                )
            } else if(stsDate == true && stsStartTime == false &&  stsEndTime == false){ 
                Swal.fire(
                  {
                    type: "warning",
                    title: 'Belum Mulai',
                    text: 'Mohon cek waktu Mulai dan Selesai proses Aanwijzing.',
                    confirmButtonClass: 'btn btn-success',
                  }
                )
            } else if(stsDate == true && stsStartTime == false &&  stsEndTime == true){ 
                Swal.fire(
                  {
                    type: "warning",
                    title: 'Belum Mulai',
                    text: 'Mohon cek waktu Mulai dan Selesai proses Aanwijzing.',
                    confirmButtonClass: 'btn btn-success',
                  }
                )
            } else if(stsDate == true && stsStartTime == true &&  stsEndTime == false){ 
                Swal.fire(
                  {
                    type: "warning",
                    title: 'Sudah Berakhir!',
                    text: 'Mohon cek waktu Mulai dan Selesai proses Aanwijzing.',
                    confirmButtonClass: 'btn btn-success',
                  }
                )
            } 
          } else {
            axios
              .get("/api/pelelanganPT/" + id_pekerjaan)
              .then(response => {
                this.qna = response.data;
              });
            // this.qnaOpen = !this.qnaOpen;
            this.qnaOpen = true
          }
        }
        this.openNotifChat2(id_pekerjaan)
      },
      baModal(params) {
          axios
            .get("/api/pelelanganPT/" + params)
            .then(response => {
              this.ba = response.data;
            });
          this.baOpen = !this.baOpen;
      },
      jadwalModal(params,nama_jadwal) {
          axios
            .get("/api/pelelanganPT/" + params)
            .then(response => {
              this.jadwal = response.data;
              this.jadwal['nama_jadwal'] = nama_jadwal;
            });
          this.jadwalOpen = !this.jadwalOpen;
      },
      viewJadwalModal(params) {
          axios
            .get("/api/pelelanganPT/" + params)
            .then(response => {
              this.viewjadwal = response.data;
            });
          this.viewjadwalOpen = !this.viewjadwalOpen;
      },

      download(id_aanwijzing){  
        window.location.href = "/downloadRarAanwijzing?id_aanwijzing=" + id_aanwijzing;
      },
    

      onRefresh: function (event) {
        if (event) {
          this.loadItems();
        }
      },
      formatTime(value) {
        if(value !== 0){
          return moment(value).format("DD MMMM YYYY HH:mm");
        }
      },
      formatDate(value) {
          return moment(value).format("DD MMMM YYYY")
      }

    }
};
</script>

<style scoped>
  .image img{
        position: absolute;
        max-width: 100%;
        max-height: 100%;
        width: 100%;
        /*height: 100%;*/
        top: 50%;
        left: 50%;
        /*object-fit: cover;*/
        transform: translateX(-50%) translateY(-50%);
  }   


</style>