<template>

  <!-- BEGIN: Content-->
  <div class="app-content content">
      <div class="content-overlay"></div>
      <div class="header-navbar-shadow"></div>
      <div class="content-wrapper">
          <div class="content-header row">
              <div class="content-header-left col-md-8 col-12 mb-2">
                  <div class="row breadcrumbs-top">
                      <div class="col-12">
                        <div class="row">
                          <div class="col-12">
                            <h2 class="content-header-title float-left mb-0">Data Dokumen</h2>
                          </div>
                          <div class="breadcrumb-wrapper col-12">
                              <ol class="breadcrumb">
                                  <li class="breadcrumb-item"><a href="index.html">Home</a>
                                  </li>
                                  <li class="breadcrumb-item"><a href="index.html">Paket Lelang</a>
                                  </li>
                                  <li class="breadcrumb-item"><a href="index.html">Pelelangan Terbatas</a>
                                  </li>
                                  <li class="breadcrumb-item active">Dokumen Kualifikasi
                                  </li>
                              </ol>
                          </div>
                        </div>
                      </div>
                  </div>
              </div>
              <div class="content-header-right text-md-right col-md-4 col-12 d-md-block d-none">
                  <div class="form-group breadcrum-right">
                      <div class="dropdown">

                          <button class="btn-icon btn btn-primary btn-round btn-sm dropdown-toggle"data-toggle="tooltip"
                            data-original-title="Refresh" v-on:click="onRefresh" aria-haspopup="true" aria-expanded="false"><i class="feather icon-refresh-ccw"></i>
                          </button>

                      </div>
                  </div>
              </div>
          </div>

          <view-dokumen-mod :open-modal="viewOpen" :view="view" :close-modal="loadItems"></view-dokumen-mod>
          <insert-jadwal-mod :open-modal="jadwalOpen" :jadwal="jadwal" :close-modal="loadItems"></insert-jadwal-mod>
          <view-jadwal-mod :open-modal="viewjadwalOpen" :viewjadwal="viewjadwal" :close-modal="loadItems"></view-jadwal-mod>
          
          <template v-if="dokumenOpen == true && session.role == 'R002'">
            <dokumen-pekerjaan-mod :open-modal="dokumenOpen" :dokumen="dokumen" :close-modal="loadItems"></dokumen-pekerjaan-mod>
            <updatedokumen-pekerjaan-mod :open-modal="updatedokumenOpen" :updatedokumen="updatedokumen" :close-modal="loadItems"></updatedokumen-pekerjaan-mod>
          </template>

          <div class="content-body">
              <!-- Basic example section start -->
              <section id="basic-examples">
                  <div class="card">
                      <div class="card-header">
                          <h4 class="card-title">Jumlah Dokumen : {{totalPelelangan}}</h4>
                      </div>
                      <div class="card-content">
                          <div class="card-body"> 

                            <vue-good-table
                              mode="remote"
                              @on-page-change="onPageChange"
                              @on-sort-change="onSortChange"
                              @on-column-filter="onColumnFilter"
                              @on-per-page-change="onPerPageChange"
                              @on-search="onSearch"
                              :totalRows="totalRecords"
                              :isLoading.sync="isLoading"
                              :pagination-options="{
                                enabled: true,
                                dropdownAllowAll: false,
                                mode: 'pages'
                              }"
                              :search-options="{
                                enabled: true,
                                skipDiacritics: true,
                              }"
                              :rows="rows"
                              :columns="columns">
                              <template slot="table-row" slot-scope="props">
                                <span v-if="props.column.field == 'action'"> 
                                  <button type="button" class="btn btn-outline-primary btn-sm dropdown-toggle mr-1" data-toggle="dropdown"><i class="feather icon-more-vertical"></i> Action</button>
                                  <ul class="dropdown-menu" style="top: auto; left: auto; padding: 5px;">
                                    <template v-for="actionS in action">
                                      <template v-if="actionS == 'View'">
                                        <li>
                                          <button class="btn-icon btn btn-primary btn-sm btn-block mr-1 mb-1 waves-effect waves-light" data-target=".viewDokumenMod" data-toggle="modal" type="button" title='View & Klarifikasi Dokumen' @click="viewModal(props.row.id_pekerjaan)"><i class="feather icon-eye" aria-hidden="true"></i> View & Klarifikasi Dokumen</button>
                                        </li>
                                      </template>
                                      <template v-if="actionS == 'View'">
                                        <li>
                                          <button class="btn-icon btn btn-outline-primary btn-sm btn-block mr-1 mb-1 waves-effect waves-light" data-target=".viewjadwalPekerjaanPTMod" data-toggle="modal" type="button" title='View Jadwal' @click="viewJadwalModal(props.row.id_pekerjaan)"><i class="feather icon-eye" aria-hidden="true"></i> View Jadwal</button>
                                        </li>
                                      </template>
                                      <template v-if="actionS == 'View'">
                                        <template v-if="props.row.validasi == 0">
                                          <template v-if="session.role == 'R002'">
                                            <li>
                                              <button class="btn-icon btn btn-warning btn-sm btn-block mr-1 mb-1 waves-effect waves-light" data-target=".dokumenPekerjaanPTMod" data-toggle="modal" type="button" @click="dokumenModal(props.row.id_pekerjaan,props.row.tgl_mulai,props.row.jam_mulai,props.row.tgl_selesai,props.row.jam_selesai)" aria-haspopup="true" aria-expanded="false" title='Upload Dokumen'><i class="feather icon-upload-cloud" aria-hidden="true"></i> Upload Dokumen</button>
                                            </li>
                                            <li>
                                              <button class="btn-icon btn btn-outline-warning btn-sm btn-block mr-1 mb-1 waves-effect waves-light" data-target=".updatedokumenPekerjaanPTMod" data-toggle="modal" type="button" @click="updatedokumenModal(props.row.id_pekerjaan,props.row.tgl_mulai,props.row.jam_mulai,props.row.tgl_selesai,props.row.jam_selesai)" aria-haspopup="true" aria-expanded="false" title='Update Dokumen'><i class="feather icon-edit" aria-hidden="true"></i> Update Dokumen</button>
                                            </li>
                                          </template>
                                        </template>
                                      </template>
                                    </template>
                                  </ul>
                                </span>
                                <span v-else-if="props.column.field == 'validasi'">
                                  <template v-if="props.row.validasi == 0">
                                    <span class="badge badge-round badge-warning">Menunggu Upload Dokumen</span>
                                  </template>
                                  <template v-else-if="props.row.validasi == 1">
                                    <span class="badge badge-round badge-danger">Dokumen Ditolak</span>
                                  </template>
                                  <template v-else>
                                    <span class="badge badge-round badge-success">Verified</span>
                                    <template v-if="session.role == 'R000' || session.role == 'R003'">
                                      <template v-for="actionS in action">
                                        <template v-if="actionS == 'Insert'">
                                          <button class="btn-icon btn btn-outline-success btn-sm waves-effect waves-light" data-target=".jadwalPekerjaanPTMod" data-toggle="modal" type="button" @click="jadwalModal(props.row.id_pekerjaan,'Pelaksanaan Aanwijzing')" aria-haspopup="true" aria-expanded="false" title='Set Jadwal Aanwijzing'><i class="feather icon-upload-cloud" aria-hidden="true"></i> Set Jadwal Aanwijzing</button>
                                        </template>
                                      </template>
                                    </template> 
                                  </template>
                                </span>
                                <span v-else-if="props.column.field == 'nilai_pagu'">
                                  Rp. {{ formatPrice(props.row.nilai_pagu) }}
                                </span>
                                <span v-else-if="props.column.field == 'tgl_mulai'">
                                    {{props.row.tgl_mulai}} {{props.row.jam_mulai}}  
                                </span>
                                <span v-else-if="props.column.field == 'tgl_selesai'">
                                    {{props.row.tgl_selesai}} {{props.row.jam_selesai}}  
                                </span>
                                <span v-else>
                                  {{props.formattedRow[props.column.field]}}
                                </span>
                              </template>
                            </vue-good-table>

                          </div>
                      </div>
                  </div>
              </section>
              <!-- // Basic example section end -->
          </div>
      </div>
  </div>
  <!-- END: Content-->

</template>

<!-- script js -->
<script>
import ViewDokumen from './ViewDokumen.vue';
import DokumenPekerjaan from './DokumenPekerjaan.vue';
import UpdateDokumenPekerjaan from './UpdateDokumenPekerjaan.vue';
import JadwalPekerjaan from './JadwalPekerjaan.vue';
import ViewJadwalPekerjaan from './ViewJadwalPekerjaan.vue';
import 'vue-good-table/dist/vue-good-table.css'
import { VueGoodTable } from 'vue-good-table';
import moment from 'moment';
moment.locale("id");

const _ = require('lodash');

export default {
    name: 'pt_dokumenkualifikasi',
    components: {
      'vue-good-table' : VueGoodTable,
      'view-dokumen-mod' : ViewDokumen,
      'dokumen-pekerjaan-mod' : DokumenPekerjaan,
      'updatedokumen-pekerjaan-mod' : UpdateDokumenPekerjaan,
      'insert-jadwal-mod' : JadwalPekerjaan,
      'view-jadwal-mod' : ViewJadwalPekerjaan,
    },
    data() {
        return {
            totalPelelangan: '',
            isLoading: false,
            viewOpen: false,
            view: {},
            dokumenOpen: false,
            dokumen: {},
            updatedokumenOpen: false,
            updatedokumen: {},
            jadwalOpen: false,
            jadwal: {},
            viewjadwalOpen: false,
            viewjadwal: {},
            prints: [],
            columns: [
                {
                    label: 'Kode',
                    field: 'kode_pekerjaan',
                    filterable: true
                },
                {
                    label: 'Pekerjaan',
                    field: 'nama_pekerjaan',
                    filterable: true
                },
                {
                    label: 'Metode',
                    field: 'metode',
                    filterable: true
                },
                {
                    label: 'Mulai',
                    field: 'tgl_mulai',
                    filterable: true
                },
                {
                    label: 'Selesai',
                    field: 'tgl_selesai',
                    filterable: true,
                },
                {
                    label: 'Status',
                    field: 'validasi',
                    filterable: true
                },
                {
                  label: 'Action',
                  field: 'action',
                  sortable: false,
                },
            ],
            rows: [],
            totalRecords: 0,
            serverParams: {
              columnFilters: {
              },
              sort: {       
                field: 'created_ats', 
                type: 'desc',
              },
              page: 1, 
              perPage: 10,
              searchTerm: ''
            },
            session: {
              id: '',
              id_person: '',
              role: ''
            },
            action: []
        };
    },
    beforeCreate(){
        this.loading = true;
        axios
        .get("/session")
        .then(response => {
            this.id = response.data.id;
            this.session.id = response.data.id;
            this.role = response.data.role;
            this.session.role = response.data.role;
            this.login = response.data.login;
            axios
            .get("/api/getSide/" + this.id )
            .then(response => {
                this.data = response.data;
                var routesUser = [];
                this.data.forEach(function(puki, index) {
                  var nam = puki.Link.substr(1);
                  routesUser.push(nam);
                }); 
                var n = routesUser.includes(this.$options.name);
                console.log(n)
                if(this.login == true && n == true){
                  this.loading = false;
                  this.loadItems()
                  this.getAction(this.id,this.$options.name)
                } else if (this.login == true && n == false) {
                  this.$router.push('/not404');
                  this.loading = false;
                } else {
                  window.location.href = "/";
                  // this.$router.push('/not404');
                  this.loading = false;
                }
            });
        });
    },
    mounted() {
      this.listen()
        // this.loadItems()
        // this.cekUserMenu()
    },
    methods: {
      listen() {
        Echo.channel('newNotif') //Should be Channel Name
        .listen('NotifEvents', (e) => {
          if(this.id == e.message.id_receiver && e.message.jenis == "Pekerjaan"){
            this.loadItems()
          } 
        });

        Echo.channel('refreshEvent') //Should be Channel Name
        .listen('RefreshEvents', (e) => {
          this.loadItems()
        });
      },
      getAction(id,link){
        axios
            .get("/api/action/" + id + "/" + link)
            .then(response => {
              this.action = response.data;
            });
      },
      getFromServer(dokumens) {
        if(this.session.role == "R002") {
          return axios.post(`/api/getDokumenKualifikasiPTVendor/`+this.session.id+`?searchTerm=${dokumens.searchTerm}&page=${dokumens.page}&per_page=${dokumens.perPage}&field=${dokumens.sort.field}&type=${dokumens.sort.type}`); 
        } else {
          return axios.post(`/api/getDokumenKualifikasiPT?searchTerm=${dokumens.searchTerm}&page=${dokumens.page}&per_page=${dokumens.perPage}&field=${dokumens.sort.field}&type=${dokumens.sort.type}`); 
        }
      },

      updateParams(newProps) {
        this.serverParams = Object.assign({}, this.serverParams, newProps);
      },
      
      onPageChange(params) {
        this.updateParams({page: params.currentPage});
        this.loadItems();
      },

      onPerPageChange(params) {
        this.updateParams({perPage: params.currentPerPage});
        this.loadItems();
      },

      onSortChange(params) {
        this.updateParams({
          sort: {
            type: params[0].type,
            field: params[0].field,
          },
        });
        this.loadItems();
      },
      
      onColumnFilter(params) {
        this.updateParams(params);
        this.loadItems();
      },

      onSearch(params) {
        this.updateParams(params);
        this.loadItems();
      },

      openModal() {
          this.modalOpen = !this.modalOpen;
      }, 

      closeModal() {
          this.viewOpen = false;
          this.dokumenOpen = false;
          this.updatedokumenOpen = false;
          this.jadwalOpen = false;
          this.viewjadwalOpen = false;
      },

      viewModal(params) {
          axios
            .get("/api/pelelanganPT/" + params)
            .then(response => {
              this.view = response.data;
              this.openNotifChat(params)
            });
          this.viewOpen = !this.viewOpen;
      },

      openNotifChat(id_pekerjaan){
        axios.post('/openNotifChat/'+ this.session.id + '/' + id_pekerjaan).then(response => {
        });
      },


      dokumenModal(id_pekerjaan,tgl_mulai,jam_mulai,tgl_selesai,jam_selesai) {
        var date = moment().toDate();
        date = moment(date).format('YYYY-MM-DD');
        var time = moment().toDate();
        time = moment(time).format('HH:mm');

        if(tgl_selesai == null && jam_selesai == null){
          Swal.fire(
            {
              type: "warning",
              title: 'Jadwal Selesai Belum Ada',
              text: 'Mohon Admin atau Panitia melakukan Setting jadwal proses Upload Dokumen Kualifikasi.',
              confirmButtonClass: 'btn btn-success',
            }
          )
        } else {
          var beginningTime = moment(time, 'h:mma');
          var startTime = moment(jam_mulai, 'h:mma');
          var endTime = moment(jam_selesai, 'h:mma');

          var stsDate = moment(date).isBetween(tgl_mulai, tgl_selesai, null, '[]');
          if(date !== tgl_mulai && stsDate == true){
            var stsStartTime = beginningTime.isAfter(startTime)
            stsStartTime = true
          } else {
            var stsStartTime = beginningTime.isAfter(startTime)
          }
          var stsEndTime = beginningTime.isBefore(endTime)
          
          if(this.role == "R002") {
            if (stsDate == true && stsStartTime == true &&  stsEndTime == true) { 
                axios
                  .get("/api/pelelanganPT/" + id_pekerjaan)
                  .then(response => {
                    this.dokumen = response.data;
                  });
                this.dokumenOpen = !this.dokumenOpen;
            // } else if(stsDate == false && stsStartTime == false &&  stsEndTime == false){
            } else if(stsDate == false){ 
                Swal.fire(
                  {
                    type: "warning",
                    title: 'Belum Saatnya atau Sudah Berakhir!',
                    text: 'Mohon cek waktu Mulai dan Selesai proses Upload Dokumen Kualifikasi.',
                    confirmButtonClass: 'btn btn-success',
                  }
                )
            } else if(stsDate == true && stsStartTime == false &&  stsEndTime == false){ 
                Swal.fire(
                  {
                    type: "warning",
                    title: 'Belum Mulai',
                    text: 'Mohon cek waktu Mulai dan Selesai proses Upload Dokumen Kualifikasi.',
                    confirmButtonClass: 'btn btn-success',
                  }
                )
            } else if(stsDate == true && stsStartTime == false &&  stsEndTime == true){ 
                Swal.fire(
                  {
                    type: "warning",
                    title: 'Belum Mulai',
                    text: 'Mohon cek waktu Mulai dan Selesai proses Upload Dokumen Kualifikasi.',
                    confirmButtonClass: 'btn btn-success',
                  }
                )
            } else if(stsDate == true && stsStartTime == true &&  stsEndTime == false){ 
                Swal.fire(
                  {
                    type: "warning",
                    title: 'Sudah Berakhir!',
                    text: 'Mohon cek waktu Mulai dan Selesai proses Upload Dokumen Kualifikasi.',
                    confirmButtonClass: 'btn btn-success',
                  }
                )
            } 
          } else {
            axios
              .get("/api/pelelanganPT/" + id_pekerjaan)
              .then(response => {
                this.dokumen = response.data;
              });
            this.dokumenOpen = !this.dokumenOpen;
          }
        }
      },


      updatedokumenModal(id_pekerjaan,tgl_mulai,jam_mulai,tgl_selesai,jam_selesai) {
        var date = moment().toDate();
        date = moment(date).format('YYYY-MM-DD');
        var time = moment().toDate();
        time = moment(time).format('HH:mm');

        if(tgl_selesai == null && jam_selesai == null){
          Swal.fire(
            {
              type: "warning",
              title: 'Jadwal Selesai Belum Ada',
              text: 'Mohon Admin atau Panitia melakukan Setting jadwal Upload Dokumen Kualifikasi.',
              confirmButtonClass: 'btn btn-success',
            }
          )
        } else {
          var beginningTime = moment(time, 'h:mma');
          var startTime = moment(jam_mulai, 'h:mma');
          var endTime = moment(jam_selesai, 'h:mma');

          var stsDate = moment(date).isBetween(tgl_mulai, tgl_selesai, null, '[]');
          if(date !== tgl_mulai && stsDate == true){
            var stsStartTime = beginningTime.isAfter(startTime)
            stsStartTime = true
          } else {
            var stsStartTime = beginningTime.isAfter(startTime)
          }
          var stsEndTime = beginningTime.isBefore(endTime)
          
          if(this.role == "R002") {
            if (stsDate == true && stsStartTime == true &&  stsEndTime == true) { 
                axios
                  .get("/api/pelelanganPT/" + id_pekerjaan)
                  .then(response => {
                    this.updatedokumen = response.data;
                  });
                this.updatedokumenOpen = !this.updatedokumenOpen;
            // } else if(stsDate == false && stsStartTime == false &&  stsEndTime == false){
            } else if(stsDate == false){ 
                Swal.fire(
                  {
                    type: "warning",
                    title: 'Belum Saatnya atau Sudah Berakhir!',
                    text: 'Mohon cek waktu Mulai dan Selesai proses Upload Dokumen Kualifikasi.',
                    confirmButtonClass: 'btn btn-success',
                  }
                )
            } else if(stsDate == true && stsStartTime == false &&  stsEndTime == false){ 
                Swal.fire(
                  {
                    type: "warning",
                    title: 'Belum Mulai',
                    text: 'Mohon cek waktu Mulai dan Selesai proses Upload Dokumen Kualifikasi.',
                    confirmButtonClass: 'btn btn-success',
                  }
                )
            } else if(stsDate == true && stsStartTime == false &&  stsEndTime == true){ 
                Swal.fire(
                  {
                    type: "warning",
                    title: 'Belum Mulai',
                    text: 'Mohon cek waktu Mulai dan Selesai proses Upload Dokumen Kualifikasi.',
                    confirmButtonClass: 'btn btn-success',
                  }
                )
            } else if(stsDate == true && stsStartTime == true &&  stsEndTime == false){ 
                Swal.fire(
                  {
                    type: "warning",
                    title: 'Sudah Berakhir!',
                    text: 'Mohon cek waktu Mulai dan Selesai proses Upload Dokumen Kualifikasi.',
                    confirmButtonClass: 'btn btn-success',
                  }
                )
            } 
          } else {
            axios
              .get("/api/pelelanganPT/" + id_pekerjaan)
              .then(response => {
                this.updatedokumen = response.data;
              });
            this.updatedokumenOpen = !this.updatedokumenOpen;
          }
        }
      },

      jadwalModal(params,nama_jadwal) {
          axios
            .get("/api/pelelanganPT/" + params)
            .then(response => {
              this.jadwal = response.data;
              this.jadwal['nama_jadwal'] = nama_jadwal;
            });
          this.jadwalOpen = !this.jadwalOpen;
      },
      viewJadwalModal(params) {
          axios
            .get("/api/pelelanganPT/" + params)
            .then(response => {
              this.viewjadwal = response.data;
            });
          this.viewjadwalOpen = !this.viewjadwalOpen;
      },

      loadItems() {
        this.getFromServer(this.serverParams).then((response) => {
            this.totalRecords = response.data.dokumens.total;
            this.totalPelelangan = this.totalRecords
            this.rows = response.data.dokumens.data;
        })
      },

      onRefresh: function (event) {
        if (event) {
          this.loadItems();
        }
      },

      formatDate(value) {
          return moment(value).format("DD MMMM YYYY")
      },

      formatPrice(value) {
          let val = (value/1).toFixed(2).replace('.', ',')
          return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")
      }

    }
};
</script>

<style scoped>
  .image img{
        position: absolute;
        max-width: 100%;
        max-height: 100%;
        width: 100%;
        /*height: 100%;*/
        top: 50%;
        left: 50%;
        /*object-fit: cover;*/
        transform: translateX(-50%) translateY(-50%);
  }   


</style>