<template>
  <!-- Modal -->
  <div class="modal fade text-left PemenangMod" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel1">Berita Acara</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
          <div class="card-body">
            <div class="row">
              <div class="form-group col-md-12">
                <label class="form-control-label" for="inputBasicLastName">Nomor Surat Direksi <small style="color:red"> *required</small></label>
                <input
                  type="textfield"
                  class="form-control"
                  placeholder="Input nomor surat direksi"
                  v-model="form.noSuratDir"
                  autocomplete="off"
                  required
                >
              </div>
              <div class="form-group col-md-12">
                <label class="form-control-label" for="inputBasicLastName">Tanggal Surat Direksi <small style="color:red"> *required</small></label>
                <input
                  type="date"
                  class="form-control"
                  v-model="form.tglSuratDir"
                  autocomplete="off"
                  required
                >
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-12">
                <label class="form-control-label" for="inputBasicLastName">Nomor <small style="color:red"> *required</small></label>
                <input
                  type="textfield"
                  class="form-control"
                  placeholder="Input nomor"
                  v-model="form.noSurat"
                  autocomplete="off"
                  required
                >
              </div>
              <div class="form-group col-md-12">
                <label class="form-control-label" for="inputBasicLastName">Pekerjaan <small style="color:red"> *required</small></label>
                <input
                  type="textfield"
                  class="form-control"
                  placeholder="Input nama pekerjaan"
                  v-model="form.namaPekerjaan"
                  autocomplete="off"
                  required
                  readonly
                >
              </div>
              <div class="form-group col-md-6">
                <label class="form-control-label" for="inputBasicLastName">Ketua Panitia <small style="color:red"> *required</small></label>
                <Select2 id="fullpimpinanrpt" v-model="form.ketuaPanitia" :options="myOptionsUser" :settings="{ placeholder: 'Select a User', width: '100%' }" required/>
              </div>
              <div class="form-group col-md-6">
                <label class="form-control-label" for="inputBasicLastName">Jasa Penyedia <small style="color:red"> *required</small></label>
                <Select2MultipleControl id="penyedia" v-model="form.idVendor" :options="myOptionsVendor" :settings="{ placeholder: 'Select a Vendor', width: '100%' }" required/>
              </div>
              <div class="form-group col-md-6">
                <label class="form-control-label" for="inputBasicLastName">Harga Kesepakatan <small style="color:red"> *required</small></label>
                <input
                  type="number"
                  class="form-control"
                  placeholder="Input harga kesepakatan"
                  v-model="form.kesepakatan"
                  autocomplete="off"
                  required
                >
              </div>
              <div class="form-group col-md-6">
                <label class="form-control-label" for="inputBasicLastName">Waktu Pelaksanaan<small style="color:red"> *required</small></label>
                <input
                  type="number"
                  class="form-control"
                  v-model="form.pelaksanaan"
                  autocomplete="off"
                  required
                >
              </div>
              <div class="form-group col-md-6">
                <label class="form-control-label" for="inputBasicLastName">Waktu Pemeliharaan<small style="color:red"> *required</small></label>
                <input
                  type="number"
                  class="form-control"
                  v-model="form.pemeliharaan"
                  autocomplete="off"
                  required
                >
              </div>
              <div class="form-group col-md-12">
                <label class="form-control-label" for="inputBasicLastName">Attachment <small style="color:red"> *only .<b>PDF or .PNG, .JPG</b></small></label>
                <input type="file" class="form-control" id="fileAttach" ref="fileAttach" multiple v-on:change="handleFilesUpload()"/>
              </div>
            </div>
          </div>
        </div> 
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" @click="savePemenang()">Save changes</button>
        </div>
      </div>
    </div>
  </div>
  <!-- End Modal -->
</template>

<!-- script js -->
<script>
import Select2 from "v-select2-component";
import Select2MultipleControl from 'v-select2-multiple-component';
export default {
  components: { 
    Select2,
    Select2MultipleControl,
  },
  name: 'modal',
  props : {
    pemenangModal : {
      type : Boolean
    },
    pemenang : {
      type : Object
    },
    closeModal : {
      type : Function
    }
  },
  data(){
    return{
      role: 'R002',
      form:{
        idUser : '',
        role : '',
        idPekerjaan: '',
        namaPekerjaan: '',
        idVendor: '',
        idVendor2: '',
        noSuratDir: '',
        tglSuratDir: '',
        noSurat: '',
        ketuaPanitia: '',
        kesepakatan: '',
        pelaksanaan: '',
        pemeliharaan: '',
        fileAttach: '',
      },
      rows: [],
      number: '1',
      myOptionsVendor: [],
      myOptionsUser: [],
    }
  },  
  watch: {
    pemenang(newVal) {
      if (newVal) {
        this.session()
        this.form.idPekerjaan = newVal.id_pekerjaan
        this.form.namaPekerjaan = newVal.nama_pekerjaan
        this.form.idVendor = newVal.id_vendor
        this.form.idVendor2 = newVal.id_vendor
        this.rows = []
        var a = {};
        $.each(newVal.id_vendor, function (index, value) {
          a['idVendor'] = value;
        });
        this.rows.push(a);

        axios.get("/api/getPenyedia/"+this.form.idPekerjaan).then(response => {
          this.form.idVendor = response.data;
        });
        
        // axios
        //   .get("/api/getBAnegosiasi/" + this.form.idPekerjaan)
        //   .then(response => {
        //     if(response.data.no_ba == null || response.data.no_ba == ""){
        //     } else {
        //       $(".PemenangMod").modal('hide');
        //       this.closeModal()
        //       Swal.fire(
        //         {
        //           type: "warning",
        //           title: 'Peringatan!',
        //           text: 'Anda sudah membuat Berita Acara. Silahkan lihat pada button View',
        //         }
        //       )
        //     }
        // });

        axios.get("/api/dropdownvendor").then(response => {
          this.myOptionsVendor = response.data;
        });

        axios.get("/api/dropdownvendor").then(response => {
          this.myOptionsVendor = response.data;
        });

        axios.get("/api/dropdownuserAll").then(response => {
          this.myOptionsUser = response.data;
        });
      }
    } 
  },
  methods: {
    session(){
      axios
        .get("/session")
        .then(response => {
          this.form.role = response.data.role
          this.form.idUser = response.data.id
      });
    },
    addRow: function(count){
     var numRows = this.rows.length;
     if (numRows >= 10) return;
     for(var i=1; i <= count; i++){
       this.rows.push({});
       if(++numRows == 10) break;
      }
    },
    removeRow: function(index){
      this.rows.splice(index,1);
    },
    onEditorBA({ quill, html, text }) {
      this.contentBA = html
    },

    handleFilesUpload(){
        this.form.fileAttach = this.$refs.fileAttach.files;
    },
    savePemenang(params1){
      let formData = new FormData();
      formData.append('id_user', this.form.idUser);
      formData.append('id_vendor', this.form.idVendor);
      formData.append('id_vendor2', this.form.idVendor);
      formData.append('id_pekerjaan', this.form.idPekerjaan);
      formData.append('no_surat_dir', this.form.noSuratDir);
      formData.append('tgl_surat_dir', this.form.tglSuratDir);
      formData.append('no_surat', this.form.noSurat);
      formData.append('ketua_panitia', this.form.ketuaPanitia);
      formData.append('kesepakatan', this.form.kesepakatan);
      formData.append('pelaksanaan', this.form.pelaksanaan);
      formData.append('pemeliharaan', this.form.pemeliharaan);
      for( var i = 0; i < this.form.fileAttach.length; i++ ){
        let file = this.form.fileAttach[i];
        formData.append('attachment[' + i + ']', file);
      }
      formData.append('username', localStorage.getItem('username'));
      formData.append('fullname', localStorage.getItem('fullname'));
      var currentState = window.Echo.connector.pusher.connection.state;
      if(currentState == "unavailable") {
        Swal.fire(
          {
            type: "warning",
            title: 'Peringatan!',
            text: 'Koneksi buruk / tidak terkoneksi dengan Internet. Mohon cek kembali koneksi Internet anda.',
            confirmButtonClass: 'btn btn-success',
          }
        )
      } else {
        Swal.fire({
          title: 'Are you sure?',
          text: "You won't be able to revert this!",
          type: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: 'Yes, insert it!',
          confirmButtonClass: 'btn btn-primary',
          cancelButtonClass: 'btn btn-danger ml-1',
          buttonsStyling: false,
          showLoaderOnConfirm: true,
          preConfirm: () => {
            return axios.post("/api/pemenangPT", formData, {
              headers : {
                          'Content-Type': 'multipart/form-data'
                        },
            })
            .then(response => {
              $(".PemenangMod").modal('hide');
              this.closeModal()
              this.form.noSurat = ''
              this.form.kesepakatan = ''
              this.form.pelaksanaan = ''
              this.form.pemeliharaan = ''
              this.form.idVendor = ''
              this.fileAttach = ''
            })
            .catch(error => {
              Swal.showValidationMessage(
                `Request failed: ${error}`
              )
            })
          },
          allowOutsideClick: () => !this.$swal.isLoading()
        }).then(function (result) { 
          if (result.value) {
            Swal.fire(
              {
                type: "success",
                title: 'Diterima!',
                text: 'Dokumen sesuai.',
              }
            )
          }
        }.bind(this))
      }
    },
    formatRupiah(angka, prefix){
      var number_string = angka.replace(/[^,\d]/g, '').toString(),
      split       = number_string.split(','),
      sisa        = split[0].length % 3,
      rupiah        = split[0].substr(0, sisa),
      ribuan        = split[0].substr(sisa).match(/\d{3}/gi);
 
      // tambahkan titik jika yang di input sudah menjadi angka ribuan
      if(ribuan){
        separator = sisa ? '.' : '';
        rupiah += separator + ribuan.join('.');
      }
 
      rupiah = split[1] != undefined ? rupiah + ',' + split[1] : rupiah;
      return prefix == undefined ? rupiah : (rupiah ? 'Rp. ' + rupiah : '');
    }
  }
};
</script>

 