<template>
  <!-- Modal -->
  <div
    class="modal fade text-left penawaranPekerjaanPTMod"
    id="exampleModalLong"
    tabindex="-1"
    role="dialog" 
    aria-labelledby="exampleModalLongTitle"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel1">Insert Penawaran</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form id="formPelelangan" @submit.prevent="addData()" autocomplete="off">
          <div class="modal-body">
            <div class="card-body">
              <div class="modal-body">
                <div class="row">
                  <div class="form-group col-md-12">
                    <label class="form-control-label" for="inputBasicLastName" style="color:red">NB : Mohon <b>kirimkan file asli / hardcopy</b> setelah mengisi online kepada PT.KIW (Persero) untuk keperluan validasi sesegera <b>sebelum melewati akhir tanggal pemasukan penawaran</b>.</label>
                  </div>
                  <div class="form-group col-md-12">
                    <label class="form-control-label" for="inputBasicLastName">Nilai Penawaran <small style="color:red"> *required</small></label>
                    <input
                      type="number"
                      class="form-control"
                      placeholder="Input nilai penawaran"
                      v-model="form.nilaiPenawaran"
                      autocomplete="off"
                      required
                    >
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-md-12">
                    <label class="form-control-label" for="inputBasicLastName">Nilai Jaminan Penawaran <small style="color:red"> *required</small></label>
                    <input
                      type="number"
                      class="form-control"
                      placeholder="Input nilai jaminan penawaran"
                      v-model="form.nilaiJaminanPenawaran"
                      autocomplete="off"
                      required
                    >
                  </div>
                </div>
                <div class="row">
                  <!-- <div class="form-group col-md-6">
                    <label class="form-control-label" for="inputBasicLastName">File Surat Penawaran</label>
                    <div class="input-group">
                      <input type="file" id="file1Penawaran" ref="file1Penawaran" @change="uploadFilePDF($event)" required />
                    </div>
                  </div> -->
                  <div class="form-group col-md-12">
                    <label class="form-control-label" for="inputBasicLastName">Dokumen Penawaran</label>
                    <div class="self-evaluation-rows">
                      <a type="button" class="btn btn-outline-primary" @click="addRow(number)" v-show="rows.length < 14" > Add Row</a>
                    </div>
                    <br>
                    <div class="box-body box-self-evaluation table-responsive">
                      <table id="example2" class="table table-hover sortable" width="100%">
                        <thead>
                          <tr>
                            <th>Dokumen</th>
                            <th>File</th>
                            <th>Remove</th>
                          </tr>
                        </thead>

                        <tbody>
                          <tr v-for="(row, index) in rows">
                            <td width="65%">
                              <div class="input-group">
                                <Select2 :id="'dokumen'+index" v-model="row.dokumen" :options="myOptionsDokumen" :settings="{ placeholder: 'Select a Dokumen', width: '100%' }" required/>
                              </div>
                            </td>
                            <td width="20%">
                              <div class="input-group">
                                <input type="file" :id="'filePenawaran'+index" name="file[]" @change="uploadFilePDF($event,index)" multiple/>
                              </div>
                            </td>
                            <td width="15%">
                              <a type="button" class="btn btn-outline-danger" @click="removeRow(index)" > Remove</a>
                            </td>
                          </tr>       
                        </tbody>
                      </table>        
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- End Modal -->
</template>

<!-- script js -->
<script>
import Select2 from "v-select2-component";
export default {
  name: "modal",
  components: {
    Select2,
  },
  props: {
    penawaranOpen: {
      type: Boolean
    },
    penawaran : {
      type : Object
    },
    closeModal: {
      type: Function
    }
  },
  data(){
    return{
      loading: false,
      rows: [],
      saveData: null,
      number: '1',
      form:{
        idUser : '',
        idPekerjaan: '',
        namaPekerjaan: '',
        IdVendor: '',
        nilaiPenawaran: '',
        nilaiJaminanPenawaran: '',
        file1Penawaran: '',
      },
      count: [],
      promises: [],
      myOptionsDokumen: [
        {id:"Foto copy atau asli surat undangan",text:"Foto copy atau asli surat undangan"},
        {id:"Surat Penawaran",text:"Surat Penawaran"},
        {id:"Rekapitulasi RAB",text:"Rekapitulasi RAB"},
        {id:"Rincian RAB",text:"Rincian RAB"},
        {id:"Daftar Harga Bahan",text:"Daftar Harga Bahan"},
        {id:"Daftar Upah Pekerja",text:"Daftar Upah Pekerja"},
        {id:"Daftar Analisa Harga Satuan",text:"Daftar Analisa Harga Satuan"},
        {id:"Daftar Harga Satuan Pekerja",text:"Daftar Harga Satuan Pekerja"},
        {id:"Time Schedule",text:"Time Schedule"},
        {id:"Daftar Personil",text:"Daftar Personil"},
        {id:"Metode Pelaksanaan",text:"Metode Pelaksanaan"},
        {id:"Daftar Peralatan",text:"Daftar Peralatan"},
        {id:"Jaminan Penawaran",text:"Jaminan Penawaran"},
        {id:"Surat Kesanggupan",text:"Surat Kesanggupan"},
      ],
    };
  },
  mounted() {
    this.loadData()
  },
  watch: {
    penawaran(newVal) {
      if (newVal) {
        this.loadData()
        this.form.idPekerjaan = newVal.id_pekerjaan
        this.form.namaPekerjaan = newVal.nama_pekerjaan
        this.form.IdVendor = newVal.id_vendor
      }
    } 
  },
  methods: {
    loadData() {
      axios
      .get("/session")
      .then(response => {
          this.form.idUser = response.data.id;
          this.getDokumen()
      });
    },
    addRow: function(count){
     var numRows = this.rows.length;
     if (numRows >= 14) return;
     for(var i=1; i <= count; i++){
       this.rows.push({});
       if(++numRows == 14) break;
      }
    },
    removeRow: function(index){
      this.rows.splice(index,1);
    },
    uploadFilePDF (event,i) {
      if(event.target.files[0].type !== "application/pdf"){
        $('#filePenawaran'+i).val("")
        Swal.fire(
          {
            title: 'Failed!',
            text: 'File harus PDF',
            confirmButtonClass: 'btn btn-success',
          }
        )
      } 
    },
    getDokumen(){
      axios
      .get("/api/getFilePenawaranPTbyID2/" + this.form.idPekerjaan + "/" + this.form.idUser)
      .then(response => {
        this.rows = response.data
      });
    },
    // uploadFilePDF (event) {
    //   if(event.target.files[0].type !== "application/pdf"){
    //     $('#file1Penawaran').val("")
    //     Swal.fire(
    //       {
    //         title: 'Failed!',
    //         text: 'File harus PDF',
    //         confirmButtonClass: 'btn btn-success',
    //       }
    //     )
    //   } 
    // },
    addData() {
      var msg = "Terimakasih sudah memasukan penawaran anda";

      // this.form.file1Penawaran = this.$refs.file1Penawaran.files[0];
      let formData = new FormData();
      // formData.append('file1', this.form.file1Penawaran);
      formData.append('id_user', this.form.idUser);
      formData.append('id_pekerjaan', this.form.idPekerjaan);
      formData.append('nama_pekerjaan', this.form.namaPekerjaan);
      formData.append('id_vendor', this.form.IdVendor);
      formData.append('nilai_penawaran', this.form.nilaiPenawaran);
      formData.append('nilai_jaminan_penawaran', this.form.nilaiJaminanPenawaran);
      formData.append('username', localStorage.getItem('username'));
      formData.append('fullname', localStorage.getItem('fullname'));

      var currentState = window.Echo.connector.pusher.connection.state;
      if(currentState == "unavailable") {
        Swal.fire(
          {
            type: "warning",
            title: 'Peringatan!',
            text: 'Koneksi buruk / tidak terkoneksi dengan Internet. Mohon cek kembali koneksi Internet anda.',
            confirmButtonClass: 'btn btn-success',
          }
        )
      } else {
        Swal.fire({
          title: 'Are you sure?',
          html: `Upload <b>${this.count.length}</b> / ${this.rows.length}.`,
          type: 'warning',
          showCancelButton: true,
          confirmButtonText: 'Ok, Send!',
          showLoaderOnConfirm: true,
          preConfirm: () => {
            for (let i = 0; i < this.rows.length; i++) {
              var filess = $('#filePenawaran'+i)[0].files
              let formDatas = new FormData();
              formDatas.append('id_user', this.form.idUser);
              formDatas.append('id_pekerjaan', this.form.idPekerjaan);
              formDatas.append('filePenawaran', filess[0]);
              formDatas.append('dokumen', this.rows[i].dokumen);
              formDatas.append('username', localStorage.getItem('username'));
              formDatas.append('fullname', localStorage.getItem('fullname'));

              this.promises.push(
                axios.post("/api/uploadFilePenawaranPT", formDatas, {
                  headers : {
                              'Content-Type': 'multipart/form-data'
                            },
                })
                .then(response => {
                    this.count.push(response.data);
                    const content = Swal.getContent()
                    if (content) {
                      const b = content.querySelector('b')
                      if (b) {
                        b.textContent = this.count.length
                      } 
                    }
                })
                .catch(error => {
                  Swal.showValidationMessage(
                    `Request failed: ${error}`
                  )
                })
              )
            }

            return Promise.all(this.promises).then(() => 
              axios.post("/api/penawaranStorePT", formData,{

                headers : {
                            'Content-Type': 'multipart/form-data'
                          },
              })
              .then(response => {
                // $(".penawaranPekerjaanPTMod").modal('hide');
                // this.closeModal();

                this.form.file1Penawaran = ''
                this.form.idUser = ''
                this.form.idPekerjaan = ''
                this.form.namaPekerjaan = ''
                this.form.IdVendor = ''
                this.form.nilaiPenawaran = ''
                return
              })
              .catch(error => {
                Swal.showValidationMessage(
                  `Request failed: ${error}`
                )
              })
            );
          },
          allowOutsideClick: () => !this.$swal.isLoading()
        }).then(function (result) {
          if (result.value) {
            $(".penawaranPekerjaanPTMod").modal('hide');
            this.closeModal();
            Swal.fire({
              title: `Success Upload!`,
              text: `Success upload ${this.count.length} / ${this.rows.length}, ${msg}`,
              type: 'success',
            })
            // setTimeout(function() {
            //     window.location.reload();
            // }, 1000);
          }
        }.bind(this))
      }
    },
  }
};
</script>

<style scoped>
.img-crop {
  width: 200px;
  height: 200px;
}
.img-crop2 {
  width: 480px; 
  height: 200px;
}

.form-control-label {
  font-size: 18px;
  font-weight: 500;
  color: #5f5f5f;
}

ul li{
  display: block;  
  border-bottom: 1px dotted lightgray;  
}

ul li label{
  display: inline-block;
  vertical-align: middle;
  padding-left: 20px;
  z-index: 9;
  cursor: pointer;
  -webkit-transition: all 0.15s linear;
}

/* Outer circle, unselected, not-hovered */
ul li .check{
  display: inline-block;vertical-align: middle;
  position: relative;
  border: 3px dotted purple;
  border-radius: 100%;
  height: 25px;
  width: 25px;
  z-index: 5;
  transition: border .25s linear;
  -webkit-transition: border .25s linear;
}

/* Outer circle, unselected, hovered */
ul li:hover .check {
  border: 3px solid green;
}

/* Inner circle */
ul li .check::before {
  display: block;
  position: relative;
  content: '';
  border-radius: 100%;
  height: 15px;
  width: 15px;
  left:5px;
  top: 5px;
  transition: background 0.1s linear;
  -webkit-transition: background 0.1s linear;
}

/* Outer circle, selected, unhovered */
input[type=radio]:checked ~ .check {
  border: 3px solid blue;
}

/* Inner circle, selected, unhovered */
input[type=radio]:checked ~ .check::before{
  background: black;
}

td 
{
    vertical-align: -webkit-baseline-middle;
}

.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid #aaaaaa73 !important;
    border-radius: 4px;
}
</style>

