<template>
  <!-- Modal -->
  <div class="modal fade text-left qnaAanwijzingMod" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel1">Q & A</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
          <!-- Nav tabs -->
          <ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">
            <template v-if="role == 'R002'">
              <li class="nav-item">
                  <a class="nav-link active" id="primerQna-tab-fill" data-toggle="tab" href="#primerQna-fill" role="tab" aria-controls="primerQna-fill" aria-selected="true">Data Pertanyaan</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" id="assessmentQna-tab-fill" data-toggle="tab" href="#assessmentQna-fill" role="tab" aria-controls="assessmentQna-fill" aria-selected="false">Data Jawaban</a>
              </li>
            </template>
            <template v-else>
              <li class="nav-item">
                  <a class="nav-link active" id="primerQna-tab-fill" data-toggle="tab" href="#primerQna-fill" role="tab" aria-controls="primerQna-fill" aria-selected="true">Data Pertanyaan</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" id="assessmentQna-tab-fill" data-toggle="tab" href="#assessmentQna-fill" role="tab" aria-controls="assessmentQna-fill" aria-selected="false">Data Jawaban</a>
              </li>
            </template>
          </ul>
          <!-- Tab panes -->
          <div class="tab-content pt-1">
              <div class="tab-pane active" id="primerQna-fill" role="tabpanel" aria-labelledby="primerQna-tab-fill">
                <div class="card-body">
                  <template v-if="role !== 'R002'">
                    <div class="alert alert-danger" role="alert">
                      <h4 class="alert-heading">Warning</h4>
                      <p class="mb-0">
                        Tidak ada akses
                      </p>
                    </div>
                  </template>
                  <template v-else-if="role == 'R002'">
                    <div class="form-group col-md-12">
                      <quill-editor
                        :content="contentPertanyaan1"
                        :options="editorOption"
                        @change="onEditorPertanyaan1($event)"
                      />
                    </div>
                    <div class="form-group col-md-12" align="right">
                      <button type="button" class="btn btn-primary" @click="kirimPertanyaan()"> Kirim</button>
                    </div>
                  </template>
                </div>
              </div>
              <div class="tab-pane" id="assessmentQna-fill" role="tabpanel" aria-labelledby="assessmentQna-tab-fill">
                <div class="card-body">
                  <div class="accordion" id="accordionExample0">
                    <div class="collapse-border-item collapse-header card collapse-bordered" style="box-shadow: none;">
                      <template v-for="(row, index) in dataQNA">
                        <div class="card-header" :id="`heading`+index" data-toggle="collapse" role="button" :data-target="`#collapse`+index" aria-expanded="false" :aria-controls="`collapse`+index">
                          <span class="lead collapse-title">
                            <span>{{row.nama_vendor}}</span>                                
                          </span>
                        </div>
                        <div :id="`collapse`+index" class="collapse"  :aria-labelledby="`heading`+index" data-parent="#accordionExample0">
                          <div class="card-body">
                            <div class="modal-body">
                              <div class="row">
                                <template v-for="(rowz, indexz) in row.isi">
                                  <template v-if="row.isi.length !== 0">
                                    <div class="form-group col-md-12">
                                      <hr>
                                    </div>

                                    <div class="form-group col-md-12">
                                      <template v-if="role !== 'R002'">
                                        <div class="alert alert-dark" role="alert">
                                          <h4 class="alert-heading">Pertanyaan</h4>
                                          <p class="mb-0" v-html="rowz.pertanyaan">
                                            {{ rowz.pertanyaan }}
                                          </p>
                                        </div>
                                      </template>
                                      <template v-else-if="role == 'R002'">
                                        <div class="alert alert-dark" role="alert">
                                          <h4 class="alert-heading">Pertanyaan</h4>
                                          <p class="mb-0" v-html="rowz.pertanyaan">
                                            {{ rowz.pertanyaan }}
                                          </p>
                                        </div>
                                      </template>                                    
                                      <!-- <quill-editor
                                        :content="rowz.pertanyaan"
                                        :options="editorOption2"
                                      /> -->
                                    </div>

                                    <div class="form-group col-md-12">
                                      <template v-if="row.status == '2'">
                                        <div class="alert alert-dark" role="alert" style="background: rgb(30 30 30 / 5%) !important;">
                                          <h4 class="alert-heading">Jawaban</h4>
                                          <p class="mb-0" v-html="rowz.jawaban">
                                            {{ rowz.jawaban }}
                                          </p>
                                        </div>
                                      </template>
                                      <template v-else-if="role !== 'R002'">
                                        <quill-editor
                                          :content="rowz.jawaban"
                                          :options="editorOption"
                                          @change="onEditorJawaban1($event)"
                                        />
                                      </template>
                                      <template v-else-if="role == 'R002'">
                                        <div class="alert alert-dark" role="alert" style="background: rgb(30 30 30 / 5%) !important;">
                                          <h4 class="alert-heading">Jawaban</h4>
                                          <p class="mb-0" v-html="rowz.jawaban">
                                            {{ rowz.jawaban }}
                                          </p>
                                        </div>
                                      </template>
                                    </div>

                                    <template v-if="role !== 'R002' && row.status == '0'">
                                      <div class="form-group col-md-12" align="right">
                                        <button type="button" class="btn btn-primary" @click="onSaveJawaban1(index,rowz.id_pekerjaan,rowz.id_vendor,rowz.created_at)">Jawab</button>
                                        <button type="button" class="btn btn-outline-danger" @click="onDeleteJawaban1(index,rowz.id_pekerjaan,rowz.id_vendor,rowz.created_at)">Hapus</button>
                                      </div>
                                    </template>
                                    <template v-else>
                                      
                                    </template>
                                  </template>
                                  <template v-else-if="row.isi.length === 0">
                                    <div class="form-group col-md-12">
                                      <label class="form-control-label" for="inputBasicLastName" style="font-size: 24px;">Belum Bertanya</label>
                                    </div>
                                  </template>
                                </template>
                              </div>
                            </div>
                          </div>
                        </div>
                      </template>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div> 
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!-- End Modal -->
</template>

<!-- script js -->
<script>
import { quillEditor } from 'vue-quill-editor';
import 'quill/dist/quill.core.css'
import 'quill/dist/quill.snow.css'
import 'quill/dist/quill.bubble.css'
export default {
  components: { 
    quillEditor
  },
  name: 'modal',
  props : {
    qnaModal : {
      type : Boolean
    },
    qna : {
      type : Object
    },
    closeModal : {
      type : Function
    }
  },
  data(){
    return{
      role: 'R002',
      form:{
        idUser : '',
        role : '',
        namaPekerjaan: '',
        IdVendor: '',
        idPekerjaan: '',
        
      },
      contentPertanyaan1: '',
      contentJawaban1: '',
      editorOption: {
        placeholder: 'Compose an epic...',
        theme: 'snow'
      },
      editorOption2: {
        placeholder: 'Compose an epic...',
        readOnly: true,
        theme: 'snow'
      },
      dataQNA: [],
      catatanDokumen: ''
    }
  },
  watch: {
    qna(newVal) {
      if (newVal) {
        this.form.idPekerjaan = newVal.id_pekerjaan
        this.form.namaPekerjaan = newVal.nama_pekerjaan
        this.form.IdVendor = newVal.id_vendor
        this.openNotifChat()
      }
    } 
  },
  methods: {
    openNotifChat(){
      axios
        .get("/session")
        .then(response => {
          this.role = response.data.role
          this.form.idUser = response.data.id
          
          this.getQNA(this.form.idPekerjaan, this.form.idUser, this.form.IdVendor)

          axios.post('/openNotifChat/'+ response.data.id + '/' + this.form.idPekerjaan).then(response => {
          });
      });
    },
    onEditorPertanyaan1({ quill, html, text }) {
      this.contentPertanyaan1 = html
    },
    kirimPertanyaan(){
      let formData = new FormData();
      formData.append('id_user', this.form.idUser);
      formData.append('id_vendor', this.form.IdVendor);
      formData.append('id_pekerjaan', this.form.idPekerjaan);
      formData.append('content', this.contentPertanyaan1);
      formData.append('username', localStorage.getItem('username'));
      formData.append('fullname', localStorage.getItem('fullname'));

      var currentState = window.Echo.connector.pusher.connection.state;
      if(currentState == "unavailable") {
        Swal.fire(
          {
            type: "warning",
            title: 'Peringatan!',
            text: 'Koneksi buruk / tidak terkoneksi dengan Internet. Mohon cek kembali koneksi Internet anda.',
            confirmButtonClass: 'btn btn-success',
          }
        )
      } else {
        Swal.fire({
          title: 'Are you sure?',
          text: "You won't be able to revert this!",
          type: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: 'Yes, insert it!',
          confirmButtonClass: 'btn btn-primary',
          cancelButtonClass: 'btn btn-danger ml-1',
          buttonsStyling: false,
          showLoaderOnConfirm: true,
          preConfirm: () => {
            return axios.post("/api/insertQNAPT", formData,{

              headers : {
                          'Content-Type': 'multipart/form-data'
                        },
            })
            .then(response => {
              this.getQNA(this.form.idPekerjaan, this.form.idUser, this.form.IdVendor)
              // this.closeModal();
              this.contentPertanyaan1 = ''
              return 
            })
            .catch(error => {
              Swal.showValidationMessage(
                `Request failed: ${error}`
              )
            })
          },
          allowOutsideClick: () => !this.$swal.isLoading()
        }).then(function (result) {
          if (result.value) {
            Swal.fire(
              {
                type: "success",
                title: 'Insert!',
                text: "Berhasil mengisi pertanyaan",
                confirmButtonClass: 'btn btn-success',
              }
            )
          }
        }.bind(this))
      }
    },
    getQNA(id_pekerjaan,id_user,id_vendor){
      if(this.role == "R002") {
        axios
        .get("/api/getQNAPTbyID/" + id_pekerjaan + "/" + id_user)
        .then(response => {
          this.dataQNA = response.data
        });
      } else {
        axios
        .get("/api/getQNAPT/" + id_pekerjaan + "/" + id_user + "/" + id_vendor)
        .then(response => {
          this.dataQNA = response.data
        });
      }
    },
    onEditorJawaban1({ quill, html, text }) {
      this.contentJawaban1 = ''
      this.contentJawaban1 = html
    },
    onSaveJawaban1(index,id_pekerjaan,id_vendor,created_at){
      let formData = new FormData();
      formData.append('id_user', this.form.idUser);
      formData.append('id_vendor', id_vendor);
      formData.append('id_pekerjaan', id_pekerjaan);
      formData.append('created_at', created_at);
      formData.append('content', this.contentJawaban1);
      formData.append('username', localStorage.getItem('username'));
      formData.append('fullname', localStorage.getItem('fullname'));

      var currentState = window.Echo.connector.pusher.connection.state;
      if(currentState == "unavailable") {
        Swal.fire(
          {
            type: "warning",
            title: 'Peringatan!',
            text: 'Koneksi buruk / tidak terkoneksi dengan Internet. Mohon cek kembali koneksi Internet anda.',
            confirmButtonClass: 'btn btn-success',
          }
        )
      } else {
        Swal.fire({
          title: 'Are you sure?',
          text: "You won't be able to revert this!",
          type: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: 'Yes, insert it!',
          confirmButtonClass: 'btn btn-primary',
          cancelButtonClass: 'btn btn-danger ml-1',
          buttonsStyling: false,
          showLoaderOnConfirm: true,
          preConfirm: () => {
            return axios.post("/api/updateQNAPT", formData,{

              headers : {
                          'Content-Type': 'multipart/form-data'
                        },
            })
            .then(response => {
              this.getQNA(this.form.idPekerjaan, this.form.idUser, this.form.IdVendor)
              // this.closeModal();
              this.contentJawaban1 = ''
              return 
            })
            .catch(error => {
              Swal.showValidationMessage(
                `Request failed: ${error}`
              )
            })
          },
          allowOutsideClick: () => !this.$swal.isLoading()
        }).then(function (result) {
          if (result.value) {
            Swal.fire(
              {
                type: "success",
                title: 'Insert!',
                text: "Berhasil mengisi jawaban",
                confirmButtonClass: 'btn btn-success',
              }
            )
          }
        }.bind(this))
      }
    },
    onDeleteJawaban1(index,id_pekerjaan,id_vendor,created_at){
      let formData = new FormData();
      formData.append('id_user', this.form.idUser);
      formData.append('id_vendor', id_vendor);
      formData.append('id_pekerjaan', id_pekerjaan);
      formData.append('created_at', created_at);
      formData.append('username', localStorage.getItem('username'));
      formData.append('fullname', localStorage.getItem('fullname'));

      var currentState = window.Echo.connector.pusher.connection.state;
      if(currentState == "unavailable") {
        Swal.fire(
          {
            type: "warning",
            title: 'Peringatan!',
            text: 'Koneksi buruk / tidak terkoneksi dengan Internet. Mohon cek kembali koneksi Internet anda.',
            confirmButtonClass: 'btn btn-success',
          }
        )
      } else {
        Swal.fire({
          title: 'Are you sure?',
          text: "You won't be able to revert this!",
          type: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: 'Yes, delete it!',
          confirmButtonClass: 'btn btn-primary',
          cancelButtonClass: 'btn btn-danger ml-1',
          buttonsStyling: false,
          showLoaderOnConfirm: true,
          preConfirm: () => {
            return axios.post("/api/deleteQNAPT", formData,{

              headers : {
                          'Content-Type': 'multipart/form-data'
                        },
            })
            .then(response => {
              this.getQNA(this.form.idPekerjaan, this.form.idUser, this.form.IdVendor)
              // this.closeModal();
              this.contentJawaban1 = ''
              return 
            })
            .catch(error => {
              Swal.showValidationMessage(
                `Request failed: ${error}`
              )
            })
          },
          allowOutsideClick: () => !this.$swal.isLoading()
        }).then(function (result) {
          if (result.value) {
            Swal.fire(
              {
                type: "success",
                title: 'Delete!',
                text: "Berhasil menghapus pertanyaan",
                confirmButtonClass: 'btn btn-success',
              }
            )
          }
        }.bind(this))
      }
    },
    formatRupiah(angka, prefix){
      var number_string = angka.replace(/[^,\d]/g, '').toString(),
      split       = number_string.split(','),
      sisa        = split[0].length % 3,
      rupiah        = split[0].substr(0, sisa),
      ribuan        = split[0].substr(sisa).match(/\d{3}/gi);
 
      // tambahkan titik jika yang di input sudah menjadi angka ribuan
      if(ribuan){
        separator = sisa ? '.' : '';
        rupiah += separator + ribuan.join('.');
      }
 
      rupiah = split[1] != undefined ? rupiah + ',' + split[1] : rupiah;
      return prefix == undefined ? rupiah : (rupiah ? 'Rp. ' + rupiah : '');
    }
  }
};
</script>

 