<template>
  <!-- Modal -->
  <div class="modal fade text-left viewPemenangMod" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel1">View Surat Pemenang</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
          <div class="card-body">
            <div class="row">
              <div class="form-group col-md-12">
                <div class="table-responsive">
                  <table border="0" width="100%">
                    <tbody>
                      <tr>
                        <td style="text-align: left; vertical-align: middle;">No  : {{form.noSurat}}</td>
                        <td></td>
                        <td style="text-align: right; vertical-align: middle;">Semarang, {{formatDate(form.created_at)}}</td>
                      </tr>
                      <tr>
                        <td style="text-align: left; vertical-align: middle;">Hal : Pemberitahuan Pemenang Pemilihan Langsung</td>
                        <td></td>
                        <td></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="form-group col-md-7">
              </div>
              <div class="form-group col-md-5">
                <div class="table-responsive">
                  <table border="0" width="100%">
                    <tbody>
                      <tr>
                        <td style="text-align: left; vertical-align: middle;" colspan="2">Kepada Yth :</td>
                      </tr>
                      <template v-for="(row, index) in form.penyedia">
                        <tr>
                          <td width="5%">{{index+1}}.</td>
                          <td style="text-align: justify; vertical-align: middle;" width="95%">{{row.nama_vendor}}</td>
                        </tr>
                        <tr>
                          <td width="5%"></td>
                          <td style="text-align: justify; vertical-align: middle;" width="95%">{{row.alamat_vendor}}</td>
                        </tr>
                      </template>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="form-group col-md-12">
                <div class="table-responsive">
                  <table border="0" width="100%">
                    <tbody>
                      <tr>
                        <td colspan="3" style="text-align: justify; vertical-align: middle;">Berdasarkan Surat Direksi PT. KIW (Persero) Nomor: {{form.noSuratDir}} tanggal {{form.tglSuratDir}} perihal Persetujuan Penetapan Pemenang Pemilihan Langsung Pekerjaan {{form.namaPekerjaan}}, bersama ini kami sampaikan bahwa sebagai pemenang pekerjaan tersebut adalah:</td>
                      </tr>
                    </tbody>
                  </table>
                  <table border="0" width="100%">
                    <tbody>
                      <tr>
                        <td style="text-align: justify; vertical-align: middle;" width="20%">Nama</td>
                        <td width="5%">:</td>
                        <td style="text-align: justify; vertical-align: middle;" width="75%">{{form.namaVendor}}</td>
                      </tr>
                      <tr>
                        <td colspan="3"><br></td>
                      </tr>
                      <tr>
                        <td style="text-align: justify; vertical-align: middle;" width="20%">Alamat</td>
                        <td width="5%">:</td>
                        <td style="text-align: justify; vertical-align: middle;" width="75%">{{form.alamatVendor}}</td>
                      </tr>
                      <tr>
                        <td colspan="3"><br></td>
                      </tr>
                      <tr>
                        <td style="text-align: justify; vertical-align: middle;" width="20%">NPWP</td>
                        <td width="5%">:</td>
                        <td style="text-align: justify; vertical-align: middle;" width="75%">{{form.npwpVendor}}</td>
                      </tr>
                      <tr>
                        <td colspan="3"><br></td>
                      </tr>
                      <tr>
                        <td style="text-align: justify; vertical-align: middle;" width="20%">Harga Kesepakatan</td>
                        <td width="5%">:</td>
                        <td style="text-align: justify; vertical-align: middle;" width="75%">Rp. {{formatPrice(form.kesepakatan)}} ( {{terbilang(form.kesepakatan)}} rupiah ) , harga sudah termasuk Jasa, pajak dan segala pengeluaran yang berkaitan dengan pekerjaan ini</td>
                      </tr>
                      <tr>
                        <td colspan="3"><br></td>
                      </tr>
                      <tr>
                        <td style="text-align: justify; vertical-align: middle;" width="20%">Waktu Pelaksanaan</td>
                        <td width="5%">:</td>
                        <td style="text-align: justify; vertical-align: middle;" width="75%">{{form.pelaksanaan}} ( {{terbilang(form.pelaksanaan)}} ) hari kalender</td>
                      </tr>
                      <tr>
                        <td colspan="3"><br></td>
                      </tr>
                      <tr>
                        <td style="text-align: justify; vertical-align: middle;" width="20%">Waktu Pemeliharaan</td>
                        <td width="5%">:</td>
                        <td style="text-align: justify; vertical-align: middle;" width="75%">{{form.pemeliharaan}} ( {{terbilang(form.pemeliharaan)}} ) hari kalender</td>
                      </tr>
                      <tr>
                        <td colspan="3"><br></td>
                      </tr>
                    </tbody>
                  </table>

                  <table border="0" width="100%">
                    <tbody>
                      <tr>
                        <td colspan="3"><br></td>
                      </tr>
                      <tr>
                        <td colspan="3"><br></td>
                      </tr>
                      <tr>
                        <td colspan="3" style="text-align: justify; vertical-align: middle;">Demikian, atas perhatian dan partisipasi Saudara diucapkan terima kasih.</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="form-group col-md-6">
              </div>
              <div class="form-group col-md-6">
                <div class="table-responsive">
                  <table border="0" width="100%">
                    <tbody>
                      <tr>
                        <td style="text-align: center; vertical-align: middle;" width="100%">PT. Kawasan Industri Wijayakusuma (Persero)</td>
                      </tr>
                      <tr>
                        <td style="text-align: center; vertical-align: middle;" width="100%">Semarang, Tahun {{year(form.created_at)}}</td>
                      </tr>
                      <tr>
                        <td style="text-align: center; vertical-align: middle;" width="100%" height="100px">
                          <template v-if="form.signature == '' || form.signature == null">
                            .........................
                          </template>
                          <template v-else>
                            <img class="round" :src="`uploads/signature/${form.signature}`" @error="(() => form.signature = '/signatureNone.png')" width="150" height="150" alt="...">
                          </template>
                        </td>
                      </tr>
                      <tr>
                        <td style="text-align: center; vertical-align: middle;" width="100%">{{form.namaKetuaPanitia}}</td>
                      </tr>
                      <tr>
                        <td style="text-align: center; vertical-align: middle;" width="100%">Ketua Panitia</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>

              <!-- <template v-if="tampil == true"> -->
                <div class="form-group col-md-12">
                  <template v-if="form.role == 'R000' && form.stsSignature == 0 ">
                    <label class="form-control-label" for="inputBasicFirstName">Tanda Tangan <small style="color:red"> *required</small></label>
                    <VueSignaturePad id="signature" width="100%" height="450px" :options="{onBegin: () => {$refs.signaturePad.resizeCanvas()}}" ref="signaturePad"/>
                    <br>
                    <div>
                      <button type="button" class="btn btn-outline-danger" @click="undo">Undo</button>
                    </div>
                  </template>
                  <template v-else-if="form.stsSignature == 0 && form.idKetuaPanitia == form.idUser">
                    <label class="form-control-label" for="inputBasicFirstName">Tanda Tangan<small style="color:red"> *required</small></label>
                    <VueSignaturePad id="signature" width="100%" height="450px" :options="{onBegin: () => {$refs.signaturePad.resizeCanvas()}}" ref="signaturePad"/>
                    <br>
                    <div>
                      <button type="button" class="btn btn-outline-danger" @click="undo">Undo</button>
                    </div>                  
                  </template>
                </div>
              <!-- </template> -->

              <div class="form-group col-md-12">
                <label class="form-control-label" for="inputBasicLastName">Attachment</label>
                <div class="row">
                  <template v-if="form.attachment.length < 1">
                    <div class="col-md-4">
                        <p>Tidak ada attachment</p>
                    </div>
                  </template>
                  <template v-else>
                    <template v-for="(row, index) in form.attachment">
                      <template v-if="checkExt(row) == 'pdf'">
                        <div class="col-md-4">
                            <img class="card-img-top" src="/uploads/iconPDF.png" style="width:auto;height:50px;">                        
                            <div class="card-body">
                              <a :href="'/uploads/attachmentBA/'+row" target="_blank" > attachment PDF {{index+1}} </a>
                            </div>
                        </div>
                      </template>
                      <template v-else-if="checkExt(row) == 'jpg' || checkExt(row) == 'jpeg' || checkExt(row) == 'png'">
                        <div class="col-md-4">
                            <img class="card-img-top" :src="'/uploads/attachmentBA/'+row" style="width:auto;height:50px;">                        
                            <div class="card-body">
                              <a :href="'/uploads/attachmentBA/'+row" target="_blank" > attachment IMAGE {{index+1}} </a>
                            </div>
                        </div>
                      </template>
                    </template>
                  </template>
                </div>
              </div>

            </div>
          </div>
        </div> 
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal" @click="closeM()">Close</button>

          <template v-if="tampil == true">
            <template v-if="form.role == 'R000' && form.stsSignature == 0">
                <button type="button" class="btn btn-primary" @click="addApprove('Admin')">Approve</button>
            </template>
            <template v-else-if="form.stsSignature == 0 && form.idKetuaPanitia == form.idUser">
              <button type="button" class="btn btn-primary" @click="addApprove('Pimpinan')">Approve</button>
            </template>
          </template>

        </div>
      </div>
    </div>
  </div>
  <!-- End Modal -->
</template>

<!-- script js -->
<script>
import VueSignaturePad from 'vue-signature-pad';
import Select2 from "v-select2-component";
import Select2MultipleControl from 'v-select2-multiple-component';
import pdf from 'vue-pdf';
import moment from 'moment';
export default {
  components: { 
    Select2,
    Select2MultipleControl,
    pdf,
    VueSignaturePad,
  },
  name: 'modal',
  props : {
    viewpemenangModal : {
      type : Boolean
    },
    viewpemenang : {
      type : Object
    },
    closeModal : {
      type : Function
    }
  },
  data(){
    return{
      role: 'R002',
      tampil: false,
      form:{
        idUser : '',
        role : '',
        idPekerjaan: '',
        namaPekerjaan: '',
        idVendor: '',
        noSuratDir: '',
        tglSuratDir: '',
        noSurat: '',
        idKetuaPanitia:'',
        namaKetuaPanitia: '',
        signature: '',
        stsSignature: '',
        namaVendor: '',
        alamatVendor: '',
        npwpVendor: '',
        kesepakatan: '',
        pelaksanaan: '',
        pemeliharaan: '',
        createdAt: '',
        penyedia: [],
        attachment: [],
      },
      canvasVehiculo: false,
      signature: '',
    }
  },  
  watch: {
    viewpemenang(newVal) {
      if (newVal) {
        this.form.idPekerjaan = newVal.id_pekerjaan
        this.form.namaPekerjaan = newVal.nama_pekerjaan
        this.form.idVendor = newVal.id_vendor
        this.session()
        this.open()
      }
    } 
  },
  methods: {
    session(){
      axios
        .get("/session")
        .then(response => {
          this.form.role = response.data.role
          this.form.idUser = response.data.id
          this.getPemenang(this.form.idPekerjaan,this.form.idUser)
      });
    },
    getPemenang(idPekerjaan,idUser){
      axios
        .get("/api/getPemenang/" + idPekerjaan)
        .then(response => {
          this.form.noSuratDir = response.data.no_surat_dir
          this.form.tglSuratDir = response.data.tgl_surat_dir
          this.form.noSurat = response.data.no_surat
          this.form.idKetuaPanitia = response.data.ketua_panitia
          this.form.namaKetuaPanitia = response.data.nama_ketua_panitia
          this.form.signature = response.data.signature
          this.form.stsSignature = response.data.sts_signature
          this.form.createdAt = response.data.created_at
          this.form.penyedia = response.data.penyedia
          this.form.namaVendor = response.data.nama_vendor
          this.form.alamatVendor = response.data.alamat_vendor
          this.form.npwpVendor = response.data.npwp_vendor
          this.form.kesepakatan = response.data.kesepakatan
          this.form.pelaksanaan = response.data.pelaksanaan
          this.form.pemeliharaan = response.data.pemeliharaan
          this.form.attachment = response.data.attachment
          if(this.form.stsSignature == 0){
            this.tampil = true
          }
      });
    },
    open() {
      this.canvasVehiculo = true;
      this.$nextTick(() => {
        this.$refs.signaturePad.resizeCanvas();
      })
    },
    undo() {
      this.$refs.signaturePad.undoSignature();
    },
    save() {
      const { isEmpty, data } = this.$refs.signaturePad.saveSignature();
      if(!isEmpty){
        this.signature = data
      }
    },
    addApprove(params){
      const { isEmpty, data } = this.$refs.signaturePad.saveSignature();
      if(!isEmpty){
        this.form.signature = data
      }

      if(this.form.signature == undefined){
        Swal.fire(
          {
            type: "warning",
            title: 'Belum Tanda Tangan!',
            text: 'Mohon tandatangani pada kolom yang disediakan.',
          }
        )
      } else {
        let formData = new FormData();
        formData.append('id_user', this.form.idUser);
        formData.append('id_pekerjaan', this.form.idPekerjaan);
        formData.append('signature', this.form.signature);
        formData.append('tipe', params);
        formData.append('username', localStorage.getItem('username'));
        formData.append('fullname', localStorage.getItem('fullname'));
        var currentState = window.Echo.connector.pusher.connection.state;
        if(currentState == "unavailable") {
          Swal.fire(
            {
              type: "warning",
              title: 'Peringatan!',
              text: 'Koneksi buruk / tidak terkoneksi dengan Internet. Mohon cek kembali koneksi Internet anda.',
              confirmButtonClass: 'btn btn-success',
            }
          )
        } else {
          Swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, insert it!',
            confirmButtonClass: 'btn btn-primary',
            cancelButtonClass: 'btn btn-danger ml-1',
            buttonsStyling: false,
            showLoaderOnConfirm: true,
            preConfirm: () => {
              return axios.post("/api/approvePemenangPT", formData, {
                headers : {
                            'Content-Type': 'multipart/form-data'
                          },
              })
              .then(response => {
                $(".viewPemenangMod").modal('hide');
                this.$refs.signaturePad.clearSignature();
                this.form.idUser = ''
                this.form.idPekerjaan = ''
                this.form.signature = ''
              })
              .catch(error => {
                Swal.showValidationMessage(
                  `Request failed: ${error}`
                )
              })
            },
            allowOutsideClick: () => !this.$swal.isLoading()
          }).then(function (result) { 
            if (result.value) {
              this.closeModal();
              Swal.fire(
                {
                  type: "success",
                  title: 'Approve!',
                  text: 'Your file has been Approve.',
                  confirmButtonClass: 'btn btn-success',
                }
              )
            }
          }.bind(this))
        }
      }
    },
    closeM(){
      this.canvasVehiculo = false;
    },
    formatPrice(value) {
        let val = (value/1).toFixed(2).replace('.', ',')
        return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")
    },
    upper(param){
      return param.toUpperCase()
    },
    hari(param){
      return moment(param).format('dddd'); 
    },
    year(param){
      return moment(param).format('YYYY'); 
    },
    formatDate(param){
      return moment(param).format('Do MMMM YYYY');
    },
    terbilang(params){
        var bilangan = params.toString();

        var kalimat="";
        var angka   = new Array('0','0','0','0','0','0','0','0','0','0','0','0','0','0','0','0');
        var kata    = new Array('','Satu','Dua','Tiga','Empat','Lima','Enam','Tujuh','Delapan','Sembilan');
        var tingkat = new Array('','Ribu','Juta','Milyar','Triliun');
        var panjang_bilangan = bilangan.length;

        /* pengujian panjang bilangan */
        if(panjang_bilangan > 15){
            kalimat = "Diluar Batas";
        }else{
            /* mengambil angka-angka yang ada dalam bilangan, dimasukkan ke dalam array */
            for(i = 1; i <= panjang_bilangan; i++) {
                angka[i] = bilangan.substr(-(i),1);
            }
             
            var i = 1;
            var j = 0;
             
            /* mulai proses iterasi terhadap array angka */
            while(i <= panjang_bilangan){
                var subkalimat = "";
                var kata1 = "";
                var kata2 = "";
                var kata3 = "";
                 
                /* untuk Ratusan */
                if(angka[i+2] != "0"){
                    if(angka[i+2] == "1"){
                        kata1 = "Seratus";
                    }else{
                        kata1 = kata[angka[i+2]] + " Ratus";
                    }
                }
                 
                /* untuk Puluhan atau Belasan */
                if(angka[i+1] != "0"){
                    if(angka[i+1] == "1"){
                        if(angka[i] == "0"){
                            kata2 = "Sepuluh";
                        }else if(angka[i] == "1"){
                            kata2 = "Sebelas";
                        }else{
                            kata2 = kata[angka[i]] + " Belas";
                        }
                    }else{
                        kata2 = kata[angka[i+1]] + " Puluh";
                    }
                }
                 
                /* untuk Satuan */
                if (angka[i] != "0"){
                    if (angka[i+1] != "1"){
                        kata3 = kata[angka[i]];
                    }
                }
                 
                /* pengujian angka apakah tidak nol semua, lalu ditambahkan tingkat */
                if ((angka[i] != "0") || (angka[i+1] != "0") || (angka[i+2] != "0")){
                    subkalimat = kata1+" "+kata2+" "+kata3+" "+tingkat[j]+" ";
                }
                 
                /* gabungkan variabe sub kalimat (untuk Satu blok 3 angka) ke variabel kalimat */
                kalimat = subkalimat + kalimat;
                i = i + 3;
                j = j + 1;
            }
             
            /* mengganti Satu Ribu jadi Seribu jika diperlukan */
            if ((angka[5] == "0") && (angka[6] == "0")){
                kalimat = kalimat.replace("Satu Ribu","Seribu");
            }
        }

        return kalimat;
    },
    checkExt(params){

      return params.split('.')[1]

      // let file = params.target.files[0];
      // let reader = new FileReader();

      // if(files[0]['type']==='image/jpeg')
      // // let vm = this;
      // if (file['size'] < 200000){

      //         reader.onloadend = (file) => {
      //             // console.log('RESULT', reader.result)
      //             this.form.mellicode_front_url = reader.result;
      //         }
      //         reader.readAsDataURL(file);
      // }else
      // {
      //     swal({
      //         type: 'error',
      //         title: 'Size limited.',
      //         text: 'size limit',
      //     })
      // }
    },
  }
};
</script>

<style type="text/css" scoped="">
  canvas {
    width: 100%;
    height: 100%;
  }

  #signature {
    border: double 3px transparent;
    border-radius: 5px;
    background-image: linear-gradient(white, white),
      radial-gradient(circle at top left, #4bc5e8, #9f6274);
    background-origin: border-box;
    background-clip: content-box, border-box;
  }
</style>

 