<template>
  <!-- Modal -->
  <div class="modal fade text-left insertSponsorMod" id="default" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <h4 class="modal-title" id="myModalLabel1">Insert Sponsor</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <form id="formSponsor" @submit.prevent="addData()" autocomplete="off">
                <div class="modal-body">
                  <div class="row">
                    <div class="form-group col-md-12">
                      <label class="form-control-label" for="inputBasicFirstName">Upload Banner</label>
                      <div class="img-cropper">
                        <vue-cropper
                          ref="cropper"
                          class="img-crop"
                          :size = "1"
                          :full = "false"
                          :canMove = "true"
                          :fixedBox = "false"
                          :original = "false"
                          :canMoveBox = "true"
                          :autoCrop = "true"
                          :autoCropWidth = "480"
                          :autoCropHeight = "200"
                          :minCropBoxWidth="480"
                          :minCropBoxHeight="200"
                          :minContainerWidth="480"
                          :minContainerHeight="200"
                          :centerBox = "false"
                          :high = "true"
                          :src="imgSrc"
                          preview=".preview"
                          dragMode="move"
                        />
                      </div>
                    <br>
                    <input
                      ref="input"
                      type="file"
                      id="imageIn"
                      name="image"
                      accept="image/*"
                      @change="setImage"
                    />
                    <br><br>
                    <button type="button" class="btn btn-primary btn-block" @click.prevent="cropImage">Crop & Preview</button>
                    </div>
                    <div class="form-group col-md-12" style="text-align: center;">
                      <label class="form-control-label" for="inputBasicFirstName">Preview</label>
                      <img
                        class="form-control"
                        v-if="cropImg"
                        :src="cropImg"
                        alt="Cropped Image"
                        style="width:100%;height:auto;"
                      />
                    </div>
                    <div class="form-group col-md-12">
                      <label class="form-control-label" for="inputBasicRoleName">Nama </label>
                      <input
                        type="textfield"
                        class="form-control "
                        placeholder="Input your Nama"
                        v-model="form.namaSponsor"
                        autocomplete="off"
                        required
                      >
                    </div>
                    <div class="form-group col-md-12">
                      <label class="form-control-label" for="inputBasicRoleName">Link </label>
                      <input
                        type="textfield"
                        class="form-control "
                        placeholder="Input your Link"
                        v-model="form.linkSponsor"
                        autocomplete="off"
                      >
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-pure" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
              </form>
          </div>
      </div>
  </div>

</template>

<!-- script js -->
<script>

import VueCropper from 'vue-cropperjs';
import 'cropperjs/dist/cropper.css';

export default {
  name: 'bannermodal',
  components :{
    VueCropper,
  },
  props : {
    openModal : {
      type : Boolean
    },
    closeModal : {
      type : Function
    }
  },
  data(){
    return{
      imgSrc: 'theme/slide1.jpg',
      cropImg: '',
      form:{
        photoSponsor: 'kosong',
        namaSponsor: '',
        linkSponsor: '',
      },
    }
  },
  mounted() {
  },
  methods: {
    cropImage() {
      // get image data for post processing, e.g. upload or setting image src
      this.cropImg = this.$refs.cropper.getCroppedCanvas().toDataURL();
      this.form.photoSponsor = this.$refs.cropper.getCroppedCanvas().toDataURL();
    },
    setImage(e) {
      const file = e.target.files[0];
      if (file.type.indexOf('image/') === -1) {
        alert('Please select an image file');
        return;
      }
      if (typeof FileReader === 'function') {
        const reader = new FileReader();
        reader.onload = (event) => {
          this.imgSrc = event.target.result;
          // rebuild cropperjs with the updated source
          this.$refs.cropper.replace(event.target.result);
        };
        reader.readAsDataURL(file);
      } else {
        alert('Sorry, FileReader API not supported');
      }
    },
    move(offsetX, offsetY) {
      this.$refs.cropper.move(offsetX, offsetY);
    },
    reset() {
      this.$refs.cropper.replace('theme/transfer.png');
      this.$refs.cropper.reset();
    },

    addData() {
      Swal.fire({
        title: 'Are you sure?',
        text: "You won't be able to revert this!",
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, insert it!',
        confirmButtonClass: 'btn btn-primary',
        cancelButtonClass: 'btn btn-danger ml-1',
        buttonsStyling: false,
        showLoaderOnConfirm: true,
        preConfirm: () => {
          if(this.form.logoKomunitas !== "kosong"){
              return axios.post("/api/addsponsor", {
                photo_sponsor: this.form.photoSponsor,
                nama_sponsor: this.form.namaSponsor,
                link_sponsor: this.form.linkSponsor,
              })
              .then(response => {
                Swal.fire(
                  {
                    type: "success",
                    title: 'Inserted!',
                    text: 'Your file has been Insert.',
                    confirmButtonClass: 'btn btn-success',
                  }
                )
                $(".insertSponsorMod").modal('hide');
                this.closeModal();
                this.cropImg = '',
                this.form.photoSponsor = 'kosong'
                this.form.namaSponsor = ''
                this.form.linkSponsor = ''
                return
              });
                
          } else {
            Swal.showValidationMessage(
                'Crop your photo !'
              )
          }  
        },
        allowOutsideClick: () => !this.$swal.isLoading()
        }).then(function (result) {
          if (result.value) {
            Swal.fire(
              {
                type: "success",
                title: 'Inserted!',
                text: 'Your file has been Insert.',
                confirmButtonClass: 'btn btn-success',
              }
            )
          }
      }.bind(this))
    }
  }
};
</script>

<style scoped>
  .img-crop {
    width: 480px; 
    height: 200px;
  }
</style>

