<template>
  <!-- Modal -->
  <div class="modal fade text-left updateSponsorMod" id="default" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <h4 class="modal-title" id="myModalLabel1">Update Sponsor</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <form id="formUpdateSponsor" @submit.prevent="updateData()" autocomplete="off">
                <div class="modal-body">
                  <div class="row">
                    <div class="form-group col-md-12">
                      <label class="form-control-label" for="inputBasicRoleName">Nama </label>
                      <input
                        type="textfield"
                        class="form-control "
                        placeholder="Input your Nama"
                        v-model="form.namaSponsor"
                        autocomplete="off"
                        required
                      >
                    </div>
                    <div class="form-group col-md-12">
                      <label class="form-control-label" for="inputBasicRoleName">Link </label>
                      <input
                        type="textfield"
                        class="form-control "
                        placeholder="Input your Link"
                        v-model="form.linkSponsor"
                        autocomplete="off"
                      >
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-pure" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
              </form>
          </div>
      </div>
  </div>

</template>

<!-- script js -->
<script>

import VueCropper from 'vue-cropperjs';
import 'cropperjs/dist/cropper.css';

export default {
  name: 'bannermodal',
  components :{
    VueCropper,
  },
  props : {
    updateModal : {
      type : Boolean
    },
    update : {
      type : Object
    },
    closeModal : {
      type : Function
    }
  },
  data(){
    return{
      imgSrc: 'theme/avatar.png',
      cropImg: '',
      form:{
        idSponsor: '',
        namaSponsor: '',
        linkSponsor: '',
      },
    }
  },
  mounted() {
  },
  watch: {
    update(newVal) {
      if (newVal) {
        this.form.idSponsor = newVal.id;
        this.form.namaSponsor = newVal.nama_sponsor;
        this.form.linkSponsor = newVal.link_sponsor;
      }
    } 
  },
  methods: {
    updateData() {

      Swal.fire({
        title: 'Are you sure?',
        text: "You won't be able to revert this!",
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, update it!',
        confirmButtonClass: 'btn btn-primary',
        cancelButtonClass: 'btn btn-danger ml-1',
        buttonsStyling: false,
      }).then(function (result) {
        if (result.value) {
            axios.put("/api/sponsor/" + this.form.idSponsor, {
              nama_sponsor: this.form.namaSponsor,
              link_sponsor: this.form.linkSponsor,
            })
            .then(response => {
              Swal.fire(
                {
                  type: "success",
                  title: 'Updated!',
                  text: 'Your file has been Update.',
                  confirmButtonClass: 'btn btn-success',
                }
              )
              this.closeModal();
              $(".updateSponsorMod").modal('hide');
              this.form.namaSponsor = ''
              this.form.linkSponsor = ''
            });
        }
      }.bind(this))
    }
  }
};
</script>

<style scoped>
  .img-crop {
    width: 200px;
    height: 200px;
  }
</style>

