<template>
  <!-- Modal -->
  <div class="modal fade text-left updateBannerMod" id="default" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <h4 class="modal-title" id="myModalLabel1">Update Banner</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <form id="formUpdateBanner" @submit.prevent="updateData()" autocomplete="off">
                <div class="modal-body">
                  <div class="row">
                    <div class="form-group col-md-12">
                      <label class="form-control-label" for="inputBasicRoleName">Link Banner</label>
                      <input
                        type="textfield"
                        class="form-control " 
                        placeholder="Input your Link"
                        v-model="form.photoBannerLink"
                        autocomplete="off"
                      >
                    </div>
                    <div class="form-group col-md-12">
                      <label class="form-control-label" for="inputBasicRoleName">Judul </label>
                      <input
                        type="textfield"
                        class="form-control "
                        placeholder="Input your Judul"
                        v-model="form.judulBanner"
                        autocomplete="off"
                        required
                      >
                    </div>
                    <div class="form-group col-md-12">
                      <label class="form-control-label" for="inputBasicLastName">Keterangan</label>
                      <textarea class="maxlength-textarea form-control" data-plugin="maxlength" data-placement="bottom-right-inside"
                        maxlength="100" rows="3" placeholder="Input your keterangan" v-model="form.keteranganBanner" required></textarea>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-pure" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
              </form>
          </div>
      </div>
  </div>

</template>

<!-- script js -->
<script>

import VueCropper from 'vue-cropperjs';
import 'cropperjs/dist/cropper.css';

export default {
  name: 'bannermodal',
  components :{
    VueCropper,
  },
  props : {
    updateModal : {
      type : Boolean
    },
    update : {
      type : Object
    },
    closeModal : {
      type : Function
    }
  },
  data(){
    return{
      imgSrc: 'theme/transfer.jpeg',
      cropImg: '',
      form:{
        idBanner: '',
        photoBanner: 'kosong',
        photoBannerLink: '',
        judulBanner: '',
        keteranganBanner: '',
        // tanggalDurasiAkhir: '',
      },
    }
  },
  mounted() {
  },
  watch: {
    update(newVal) {
      if (newVal) {
        this.form.idBanner = newVal.id_banner;
        this.form.photoBannerLink = newVal.link_banner;
        this.form.judulBanner = newVal.judul_banner;
        this.form.keteranganBanner = newVal.keterangan_banner;
      }
    } 
  },
  methods: {
    updateData() {

      Swal.fire({
        title: 'Are you sure?',
        text: "You won't be able to revert this!",
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, update it!',
        confirmButtonClass: 'btn btn-primary',
        cancelButtonClass: 'btn btn-danger ml-1',
        buttonsStyling: false,
      }).then(function (result) {
        if (result.value) {
            axios.put("/api/banner/" + this.form.idBanner, {
              link_banner: this.form.photoBannerLink,
              judul_banner: this.form.judulBanner,
              keterangan_banner: this.form.keterangan,
              username: localStorage.getItem('username'),
              fullname: localStorage.getItem('fullname'),
            })
            .then(response => {
              Swal.fire(
                {
                  type: "success",
                  title: 'Updated!',
                  text: 'Your file has been Update.',
                  confirmButtonClass: 'btn btn-success',
                }
              )
              this.closeModal();
              $(".updateBannerMod").modal('hide');
              this.form.photoBannerLink = ''
              this.form.judulBanner = ''
              this.form.keterangan = ''
            });
        }
      }.bind(this))
    }
  }
};
</script>

<style scoped>
  .img-crop {
    width: 480px; 
    height: 200px;
  }
</style>

