<template>
  <!-- Modal -->
  <div class="modal fade text-left insertMenuLandingMod" id="default" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <h4 class="modal-title" id="myModalLabel1">Insert Menu Parent</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <form id="formMenuLanding" @submit.prevent="addData()" autocomplete="off">
                <div class="modal-body">
                  <div class="row">
                    <div class="form-group col-md-12">
                      <label class="form-control-label" for="inputBasicMenuName">Menu Name Indonesian</label>
                      <input
                        type="textfield"
                        class="form-control "
                        placeholder="Input you Menu Name"
                        v-model="form.menuName"
                        autocomplete="off"
                        required
                      >
                    </div>
                    <div class="form-group col-md-12">
                      <label class="form-control-label" for="inputBasicMenuName">Menu Name English</label>
                      <input
                        type="textfield"
                        class="form-control "
                        placeholder="Input you Menu Name"
                        v-model="form.menuNameEn"
                        autocomplete="off"
                        required
                      >
                    </div>
                    <div class="form-group col-md-12">
                      <label class="form-control-label" for="inputBasicMenuName">Link</label>
                      <input
                        type="textfield"
                        class="form-control "
                        placeholder="Input you Link"
                        v-model="form.menuLink"
                        autocomplete="off"
                      >
                      <label style="color:red;">fill in if you have to redirect to another website, otherwise please ignore it</label>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-pure" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
              </form>
          </div>
      </div>
  </div>

</template>

<!-- script js -->
<script>
export default {
  name: 'modal',
  props : {
    openModal : {
      type : Boolean
    },
    closeModal : {
      type : Function
    }
  },
  data(){
    return{
      form:{
        menuName: '',
        menuNameEn: '',
        menuLink: '',
      },
    }
  },
  mounted() {
  },
  methods: {
    addData() {
      Swal.fire({
        title: 'Are you sure?',
        text: "You won't be able to revert this!",
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, insert it!',
        confirmButtonClass: 'btn btn-primary',
        cancelButtonClass: 'btn btn-danger ml-1',
        buttonsStyling: false,
      }).then(function (result) {
        if (result.value) {
          axios.post("/api/addmenulanding", {
            menu_name: this.form.menuName,
            menu_nameEn: this.form.menuNameEn,
            menu_link: this.form.menuLink, 
            username: localStorage.getItem('username'),
            fullname: localStorage.getItem('fullname'),
          })
          .then(response => {
            $(".insertMenuLandingMod").modal('hide');
            this.closeModal();
            this.form.menuName = ''
            this.form.menuNameEn = ''
            this.form.menuLink = ''
            Swal.fire(
              {
                type: "success",
                title: 'Inserted!',
                text: 'Your file has been Insert.',
                confirmButtonClass: 'btn btn-success',
              }
            )
          });
        }
      }.bind(this))
    }
  }
};
</script>

