<script>
// import the styles


// add to component
</script>

<template>

  <!-- BEGIN: Content-->
  <div class="app-content content">
      <div class="content-overlay"></div>
      <div class="header-navbar-shadow"></div>
      <div class="content-wrapper">
          <div class="content-header row">
              <div class="content-header-left col-md-9 col-12 mb-2">
                  <div class="row breadcrumbs-top">
                      <div class="col-12">
                          <h2 class="content-header-title float-left mb-0">Menu Landing</h2>
                          <div class="breadcrumb-wrapper col-12">
                              <ol class="breadcrumb">
                                  <li class="breadcrumb-item"><a href="index.html">Home</a>
                                  </li>
                                  <li class="breadcrumb-item"><a href="#">Master</a>
                                  </li>
                                  <li class="breadcrumb-item"><a href="#">For All User</a>
                                  </li>
                                  <li class="breadcrumb-item active">Menu Landing
                                  </li>
                              </ol>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="content-header-right text-md-right col-md-3 col-12 d-md-block d-none">
                  <div class="form-group breadcrum-right">
                      <div class="dropdown">

                          <template v-for="actionS in action" v-if="actionS == 'Insert'">
                            <button class="btn-icon btn btn-primary btn-round btn-sm dropdown-toggle" data-target=".insertMenuLandingMod" data-toggle="modal" type="button" @click="openModal" aria-haspopup="true" aria-expanded="false"><i class="feather icon-file-plus"></i> <b>New</b> </button>
                          </template>

                          <button class="btn-icon btn btn-primary btn-round btn-sm dropdown-toggle"data-toggle="tooltip"
                            data-original-title="Refresh" v-on:click="onRefresh" aria-haspopup="true" aria-expanded="false"><i class="feather icon-refresh-ccw"></i>
                          </button>

                      </div>
                  </div>
              </div>
          </div>

          <insert-menulanding-mod :open-modal="modalOpen" :close-modal="loadItems"></insert-menulanding-mod>
          <update-menulanding-mod :open-modal="updateOpen" :update="update" :close-modal="loadItems"></update-menulanding-mod>

          <div class="content-body">
              <!-- Basic example section start -->
              <section id="basic-examples">
                  <div class="card">
                      <div class="card-header">
                          <h4 class="card-title">Data Menu Landing</h4>
                      </div>
                      <div class="card-content">
                          <div class="card-body collapse-icon">
                            <div class="accordion" id="accordionExample3">
                                <div class="collapse-border-item collapse-header card collapse-bordered">
                                    <div class="card-header" id="heading300" data-toggle="collapse" role="button" data-target="#collapse300" aria-expanded="false" aria-controls="collapse300">
                                        <span class="lead collapse-title">
                                            Data Menu Parent
                                        </span>
                                    </div>
                                    <div id="collapse300" class="collapse show" aria-labelledby="heading300" data-parent="#accordionExample3">
                                        <div class="card-body">
                                          <vue-good-table
                                            mode="remote"
                                            @on-page-change="onPageChange"
                                            @on-sort-change="onSortChange"
                                            @on-column-filter="onColumnFilter"
                                            @on-per-page-change="onPerPageChange"
                                            @on-search="onSearch"
                                            :totalRows="totalRecords"
                                            :isLoading.sync="isLoading"
                                            :pagination-options="{
                                              enabled: true,
                                              dropdownAllowAll: false,
                                              mode: 'pages'
                                            }"
                                            :search-options="{
                                              enabled: true,
                                              skipDiacritics: true,
                                            }"
                                            :rows="rows"
                                            :columns="columns">
                                              <template slot="table-row" slot-scope="props">
                                                <template v-if="role == 'R000'">
                                                  <span v-if="props.column.field == 'action'">
                                                    <button type="button" class="btn btn-outline-primary btn-sm dropdown-toggle mr-1" data-toggle="dropdown"><i class="feather icon-more-vertical"></i> Action</button>
                                                    <ul class="dropdown-menu" style="top: auto; left: auto; padding: 5px;">
                                                      <template v-for="actionS in action">
                                                        <template v-if="actionS == 'Update'">
                                                          <li>
                                                            <button class="btn-icon btn btn-info btn-sm btn-block mr-1 mb-1 waves-effect waves-light" data-target=".updateMenuLandingMod" data-toggle="modal" type="button" title='Update' @click="updateModal(props.row.MenuID)"><i class="feather icon-edit" aria-hidden="true"></i> Update</button>
                                                          </li>
                                                        </template>
                                                        <template v-if="actionS == 'Delete'">
                                                          <li>
                                                            <button class="btn-icon btn btn-danger btn-sm btn-block mr-1 mb-1 waves-effect waves-light" title='Delete' @click="deleteDataParent(props.row.MenuID)"><i class="feather icon-delete" aria-hidden="true"></i> Delete</button>
                                                          </li>
                                                        </template>
                                                      </template>
                                                    </ul>
                                                  </span>
                                                  <span v-else>
                                                    {{props.formattedRow[props.column.field]}}
                                                  </span>
                                                </template>
                                                <template v-else> 
                                                  <span v-if="props.column.field == 'action'">
                                                    <button type="button" class="btn btn-outline-primary btn-sm dropdown-toggle mr-1" data-toggle="dropdown"><i class="feather icon-more-vertical"></i> Action</button>
                                                    <ul class="dropdown-menu" style="top: auto; left: auto; padding: 5px;">
                                                      <template v-for="actionS in action">
                                                        <template v-if="actionS == 'Update'">
                                                          <li>
                                                            <button class="btn-icon btn btn-info btn-sm btn-block mr-1 mb-1 waves-effect waves-light" data-target=".updateMenuLandingMod" data-toggle="modal" type="button" title='Update' @click="updateModal(props.row.MenuID)"><i class="feather icon-edit" aria-hidden="true"></i> Update</button>
                                                          </li>
                                                        </template>
                                                        <template v-if="actionS == 'Delete'">
                                                          <li>
                                                            <button class="btn-icon btn btn-danger btn-sm btn-block mr-1 mb-1 waves-effect waves-light" title='Delete' @click="deleteDataParent(props.row.MenuID)"><i class="feather icon-delete" aria-hidden="true"></i> Delete</button>
                                                          </li>
                                                        </template>
                                                      </template>
                                                    </ul>
                                                  </span>
                                                  <span v-else>
                                                    {{props.formattedRow[props.column.field]}}
                                                  </span>
                                                </template>
                                              </template>
                                          </vue-good-table>
                                        </div>
                                    </div>
                                </div>
                                <div class="collapse-border-item card collapse-header">
                                    <div class="card-header" id="heading310" data-toggle="collapse" role="button" data-target="#collapse310" aria-expanded="true" aria-controls="collapse310">
                                        <span class="lead collapse-title">
                                            Set Menu Child
                                        </span>
                                    </div>
                                    <div id="collapse310" class="collapse" aria-labelledby="heading310" data-parent="#accordionExample3">
                                        <div class="card-body">
                                          <form id="formMenuChild" @submit.prevent="addMenuChild()" autocomplete="off">
                                            <div class="modal-body">
                                              <div class="row form-group">
                                                <label class="col-md-2 col-form-label">Name Menu Parent : </label> 
                                                <div class="col-md-4">
                                                  <Select2 id="users" v-model="form.menuID" :options="myOptionsParents" :settings="{ placeholder: 'Select a Menu Parent', width: '100%' }" @change="myChangeEventParent($event)" @select="mySelectEventParent($event)" />
                                                </div>
                                                <label class="col-md-2 col-form-label">Name Menu Child Indonesian: </label>
                                                <div class="col-md-4">
                                                  <input
                                                    type="textfield"
                                                    class="form-control "
                                                    placeholder="Input you Menu Child"
                                                    v-model="form.nameChild"
                                                    autocomplete="off"
                                                    required
                                                  >
                                                </div>
                                              </div>
                                              <div class="row form-group">
                                                <div class="col-md-6">
                                                </div>
                                                <label class="col-md-2 col-form-label">Name Menu Child English: </label>
                                                <div class="col-md-4">
                                                  <input
                                                    type="textfield"
                                                    class="form-control "
                                                    placeholder="Input you Menu Child"
                                                    v-model="form.nameChildEn"
                                                    autocomplete="off"
                                                    required
                                                  >
                                                </div>
                                              </div>
                                              <div class="row form-group">
                                                <div class="col-md-6">
                                                </div>
                                                <label class="col-md-2 col-form-label">Link: </label>
                                                <div class="col-md-4">
                                                  <input
                                                    type="textfield"
                                                    class="form-control "
                                                    placeholder="Input you Link"
                                                    v-model="form.nameChildLink"
                                                    autocomplete="off"
                                                    required
                                                  >
                                                </div>
                                              </div>
                                            </div>
                                            <div class="modal-footer" style="border-top: 0px solid #ededed;">
                                              <button type="submit" class="btn btn-primary">Set Child</button>
                                            </div>
                                          </form>
                                          <hr>
                                          <vue-good-table
                                            mode="remote"
                                            @on-page-change="onPageChange"
                                            @on-sort-change="onSortChange"
                                            @on-column-filter="onColumnFilter"
                                            @on-per-page-change="onPerPageChange"
                                            @on-search="onSearch"
                                            :totalRows="totalRecords2"
                                            :isLoading.sync="isLoading"
                                            :pagination-options="{
                                              enabled: true,
                                              dropdownAllowAll: false,
                                              mode: 'pages'
                                            }"
                                            :search-options="{
                                              enabled: true,
                                              skipDiacritics: true,
                                            }"
                                            :rows="rows2"
                                            :columns="columns2">
                                              <template slot="table-row" slot-scope="props">
                                                <template v-if="role == 'R000'">
                                                  <span v-if="props.column.field == 'action'">
                                                    <button type="button" class="btn btn-outline-primary btn-sm dropdown-toggle mr-1" data-toggle="dropdown"><i class="feather icon-more-vertical"></i> Action</button>
                                                    <ul class="dropdown-menu" style="top: auto; left: auto; padding: 5px;">
                                                      <template v-for="actionS in action">
                                                        <template v-if="actionS == 'Update'">
                                                          <li>
                                                            <button class="btn-icon btn btn-info btn-sm btn-block mr-1 mb-1 waves-effect waves-light" data-target=".updateMenuLandingMod" data-toggle="modal" type="button" title='Update' @click="update2Modal(props.row.ID)"><i class="feather icon-edit" aria-hidden="true"></i> Update</button>
                                                        </li>
                                                        </template>
                                                        <template v-if="actionS == 'Delete'">
                                                          <li>
                                                            <button class="btn-icon btn btn-danger btn-sm btn-block mr-1 mb-1 waves-effect waves-light" title='Delete' @click="deleteDataChild(props.row.ID)"><i class="feather icon-delete" aria-hidden="true"></i> Delete</button>
                                                          </li>
                                                        </template>
                                                      </template>
                                                    </ul>
                                                  </span>
                                                  <span v-else>
                                                    {{props.formattedRow[props.column.field]}}
                                                  </span>
                                                </template>
                                                <template v-else> 
                                                  <span v-if="props.column.field == 'action'">
                                                    <template v-if="props.row.kd_role == 'R000'">
                                                      <span class="badge badge-round badge-danger">Not Allowed</span>   
                                                    </template>
                                                    <template v-else>
                                                      <button type="button" class="btn btn-outline-primary btn-sm dropdown-toggle mr-1" data-toggle="dropdown"><i class="feather icon-more-vertical"></i> Action</button>
                                                      <ul class="dropdown-menu" style="top: auto; left: auto; padding: 5px;">
                                                        <template v-for="actionS in action">
                                                          <template v-if="actionS == 'Update'">
                                                            <li>
                                                              <button class="btn-icon btn btn-info btn-sm btn-block mr-1 mb-1 waves-effect waves-light" data-target=".updateMenuLandingMod" data-toggle="modal" type="button" title='Update' @click="update2Modal(props.row.ID)"><i class="feather icon-edit" aria-hidden="true"></i> Update</button>
                                                          </li>
                                                          </template>
                                                          <template v-if="actionS == 'Delete'">
                                                            <li>
                                                              <button class="btn-icon btn btn-danger btn-sm btn-block mr-1 mb-1 waves-effect waves-light" title='Delete' @click="deleteDataChild(props.row.ID)"><i class="feather icon-delete" aria-hidden="true"></i> Delete</button>
                                                            </li>
                                                          </template>
                                                        </template>
                                                      </ul>
                                                    </template>
                                                  </span>
                                                  <span v-else>
                                                    {{props.formattedRow[props.column.field]}}
                                                  </span>
                                                </template>
                                              </template>
                                          </vue-good-table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                          </div>
                      </div>
                  </div>
              </section>
              <!-- // Basic example section end -->
          </div>
      </div>
  </div>
  <!-- END: Content-->
</template>

<!-- script js -->
<script>
import InsertMenuLanding from './InsertMenuLanding.vue';
import UpdateMenuLanding from './UpdateMenuLanding.vue';
import 'vue-good-table/dist/vue-good-table.css'
import { VueGoodTable } from 'vue-good-table';
import Select2 from 'v-select2-component';
import moment from 'moment';
moment.locale("id");

const _ = require('lodash');

export default {
    name: 'menulanding',
    components: {
      'vue-good-table' : VueGoodTable,
      'insert-menulanding-mod' : InsertMenuLanding,
      'update-menulanding-mod' : UpdateMenuLanding,
      Select2
    },
    data() {
        return {
            isLoading: false,
            modalOpen: false,
            updateOpen: false,
            update: {},
            prints: [],
            myOptionsParents: [],
            form:{
              menuID: '',
              nameChild: '',
              nameChildEn: '',
              nameChildLink: '',
            },
            columns: [
                {
                    label: 'Menu Name',
                    field: 'Name',
                },
                {
                    label: 'Menu Name EN',
                    field: 'NameEn',
                },
                {
                    label: 'Link',
                    field: 'Link',
                    filterable: true
                },
                {
                  label: 'Action',
                  field: 'action',
                  sortable: false,
                },
            ],
            rows: [],
            totalRecords: 0,
            serverParams: {
              columnFilters: {
              },
              sort: {       
                field: 'MenuID', 
                type: 'asc',
              },
              page: 1, 
              perPage: 10,
              searchTerm: ''
            },
            columns2: [
                {
                    label: 'Parent Name',
                    field: 'NameA',
                },
                {
                    label: 'Child Name',
                    field: 'Name',
                },
                {
                    label: 'Child Name EN',
                    field: 'NameEn',
                },
                {
                    label: 'Link',
                    field: 'Link',
                    filterable: true
                },
                {
                  label: 'Action',
                  field: 'action',
                  sortable: false,
                },
            ],
            rows2: [],
            totalRecords2: 0,
            serverParams2: {
              columnFilters: {
              },
              sort: {       
                field: 'MenuID', 
                type: 'asc',
              },
              page: 1, 
              perPage: 10,
              searchTerm: ''
            },
            action: []
        };
    },
    beforeCreate(){
        this.loading = true;
        axios
        .get("/session")
        .then(response => {
            this.id = response.data.id;
            this.role = response.data.role;
            this.login = response.data.login;
            axios
            .get("/api/getSide/" + this.id )
            .then(response => {
                this.data = response.data;
                var routesUser = [];
                this.data.forEach(function(puki, index) {
                  var nam = puki.Link.substr(1);
                  routesUser.push(nam);
                }); 
                var n = routesUser.includes(this.$options.name);
                console.log(n)
                if(this.login == true && n == true){
                  this.loading = false;
                  this.loadItems()
                  this.getAction(this.id,this.$options.name)
                } else if (this.login == true && n == false) {
                  this.$router.push('/not404');
                  this.loading = false;
                } else {
                  window.location.href = "/";
                  // this.$router.push('/not404');
                  this.loading = false;
                }
            });
        });
    },
    mounted() {
        this.loadData()
        // this.cekUserMenu()
    },
    methods: {
      loadData() {
        axios.get("/api/dropdownparents").then(response => {
          this.myOptionsParents = response.data;
        });
      },
      getAction(id,link){
        axios
            .get("/api/action/" + id + "/" + link)
            .then(response => {
              this.action = response.data;
            });
      },
      getFromServer(menuParent) {
        return axios.get(`/api/getMenuParent?searchTerm=${menuParent.searchTerm}&page=${menuParent.page}&per_page=${menuParent.perPage}&field=${menuParent.sort.field}&type=${menuParent.sort.type}`);
      },

      loadItems() {
        this.getFromServer(this.serverParams2).then((response) => {
              this.totalRecords = response.data.menuParent.total;
              this.rows = response.data.menuParent.data;
          })
        this.loadItems2()
      },

      getFromServer2(menuChild) {
        return axios.get(`/api/getMenuChild?searchTerm=${menuChild.searchTerm}&page=${menuChild.page}&per_page=${menuChild.perPage}&field=${menuChild.sort.field}&type=${menuChild.sort.type}`);
      },

      loadItems2() {
        this.getFromServer2(this.serverParams).then((response) => {
              this.totalRecords2 = response.data.menuChild.total;
              this.rows2 = response.data.menuChild.data;
          })
      },

      updateParams(newProps) {
        this.serverParams = Object.assign({}, this.serverParams, newProps);
      },
      
      onPageChange(params) {
        this.updateParams({page: params.currentPage});
        this.loadItems();
      },

      onPerPageChange(params) {
        this.updateParams({perPage: params.currentPerPage});
        this.loadItems();
      },

      onSortChange(params) {
        this.updateParams({
          sort: {
            type: params[0].type,
            field: params[0].field,
          },
        });
        this.loadItems();
      },
      
      onColumnFilter(params) {
        this.updateParams(params);
        this.loadItems();
      },

      onSearch(params) {
        this.updateParams(params);
        this.loadItems();
      },

      updateModal(params) {
          axios
            .get("/api/getMenuParentChild/" + params)
            .then(response => {
              this.update = response.data;
            });
          this.updateOpen = !this.updateOpen;
      },

      update2Modal(params) {
          axios
            .get("/api/getMenuParentChild2/" + params)
            .then(response => {
              this.update = response.data;
            });
          this.updateOpen = !this.updateOpen;
      },

      openModal() {
          this.modalOpen = !this.modalOpen;
      }, 

      closeModal() {
          this.modalOpen = false;
      },

      myChangeEventParent(val){
          // console.log(val);
      },
      mySelectEventParent({id, text}){
        this.form.menuID = id;
      },

      deleteDataParent(MenuID) {
        Swal.fire({
          title: 'Are you sure?',
          text: "You won't be able to revert this!",
          type: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: 'Yes, delete it!',
          confirmButtonClass: 'btn btn-primary',
          cancelButtonClass: 'btn btn-danger ml-1',
          buttonsStyling: false,
        }).then(function (result) {
          if (result.value) {
            axios.post("/api/deletemenuparent/" + MenuID, {
              username: localStorage.getItem('username'),
              fullname: localStorage.getItem('fullname'),
            }).then(response => {
              this.loadItems();
              if(response.data !== 205){
                Swal.fire(
                  {
                    type: "success",
                    title: 'Deleted!',
                    text: 'Your file has been deleted.',
                    confirmButtonClass: 'btn btn-success',
                  }
                )
              } else {
                Swal.fire(
                  {
                    type: "error",
                    title: 'Failed!',
                    text: 'Your file has failed been deleted.',
                    confirmButtonClass: 'btn btn-success',
                  }
                )
              }
            });
          }
        }.bind(this))
      },

      deleteDataChild(ID) {
        Swal.fire({
          title: 'Are you sure?',
          text: "You won't be able to revert this!",
          type: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: 'Yes, delete it!',
          confirmButtonClass: 'btn btn-primary',
          cancelButtonClass: 'btn btn-danger ml-1',
          buttonsStyling: false,
        }).then(function (result) {
          if (result.value) {
            axios.post("/api/deletemenuchild/" + ID, {
              username: localStorage.getItem('username'),
              fullname: localStorage.getItem('fullname'),
            }).then(response => {
              this.loadItems2();
              if(response.data !== 205){
                Swal.fire(
                  {
                    type: "success",
                    title: 'Deleted!',
                    text: 'Your file has been deleted.',
                    confirmButtonClass: 'btn btn-success',
                  }
                )
              } else {
                Swal.fire(
                  {
                    type: "error",
                    title: 'Failed!',
                    text: 'Your file has failed been deleted.',
                    confirmButtonClass: 'btn btn-success',
                  }
                )
              }
            });
          }
        }.bind(this))
      },

      addMenuChild() {
        Swal.fire({
          title: 'Are you sure?',
          text: "You won't be able to revert this!",
          type: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: 'Yes, insert it!',
          confirmButtonClass: 'btn btn-primary',
          cancelButtonClass: 'btn btn-danger ml-1',
          buttonsStyling: false,
        }).then(function (result) {
          if (result.value) {
            axios.post("/api/addmenuchild", {
              menu_id: this.form.menuID,
              name_child: this.form.nameChild,
              name_childEn: this.form.nameChildEn,
              name_childLink: this.form.nameChildLink,
              username: localStorage.getItem('username'),
              fullname: localStorage.getItem('fullname'), 
            })
            .then(response => {
              this.loadItems2();
              this.form.menuID = ''
              this.form.nameChild = ''
              this.form.nameChildEn = ''
              this.form.nameChildLink = ''
              Swal.fire(
                {
                  type: "success",
                  title: 'Inserted!',
                  text: 'Your file has been Insert.',
                  confirmButtonClass: 'btn btn-success',
                }
              )
            });
          }
        }.bind(this))
      },

      onRefresh: function (event) {
        if (event) {
          this.loadItems();
        }
      },

      formatDate(value) {
          return moment(value).format("DD MMMM YYYY")
      }

    }
};
</script>

