<template>
  <!-- Modal -->
  <div class="modal fade text-left updateMenuLandingMod" id="default" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <h4 class="modal-title" id="myModalLabel1">Update Menu Parent</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <form id="formUpdateMenuLanding" @submit.prevent="updateData()" autocomplete="off">
                <div class="modal-body">
                  <div class="row">
                    <div class="form-group col-md-12">
                      <label class="form-control-label" for="inputBasicMenuName">Menu Name Indonesian</label>
                      <input
                        type="textfield"
                        class="form-control "
                        placeholder="Input you Menu Name"
                        v-model="form.menuName"
                        autocomplete="off"
                        required
                      >
                    </div>
                    <div class="form-group col-md-12">
                      <label class="form-control-label" for="inputBasicMenuName">Menu Name English</label>
                      <input
                        type="textfield"
                        class="form-control "
                        placeholder="Input you Menu Name"
                        v-model="form.menuNameEn"
                        autocomplete="off"
                        required
                      >
                    </div>
                    <div class="form-group col-md-12">
                      <label class="form-control-label" for="inputBasicMenuName">Link</label>
                      <input
                        type="textfield"
                        class="form-control "
                        placeholder="Input you Link"
                        v-model="form.menuLink"
                        autocomplete="off"
                      >
                      <label style="color:red;">fill in if you have to redirect to another website, otherwise please ignore it</label>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-pure" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
              </form>
          </div>
      </div>
  </div>

</template>

<!-- script js -->
<script>
export default {
  name: 'modal',
  props : {
    updateModal : {
      type : Boolean
    },
    update : {
      type : Object
    },
    closeModal : {
      type : Function
    }
  },
  data(){
    return{
      form:{
        menuID: '',
        menuName: '',
        menuNameEn: '',
        menuLink: '',
        detailID: '',
        link: '',
      },
    }
  },
  watch: {
    update(newVal) {
      if (newVal) {
        this.form.menuID = newVal.MenuID;
        this.form.menuName = newVal.Name;
        this.form.menuLink = newVal.Link;
        this.form.menuNameEn = newVal.NameEn;
        if(newVal.DetailID == undefined){
          this.form.detailID = "kosong";
        } else {
          this.form.detailID = newVal.DetailID;
        }
        this.form.link = newVal.Link;
      }
    } 
  },
  mounted() {
  },
  methods: {
    updateData() {
      Swal.fire({
        title: 'Are you sure?',
        text: "You won't be able to revert this!",
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, update it!',
        confirmButtonClass: 'btn btn-primary',
        cancelButtonClass: 'btn btn-danger ml-1',
        buttonsStyling: false,
      }).then(function (result) {
        if (result.value) {
          axios.put("/api/updatemenulanding/" + this.form.menuID, {
            menu_name: this.form.menuName,
            menu_nameEn: this.form.menuNameEn,
            menu_link: this.form.menuLink,
            detail_id: this.form.detailID,
            username: localStorage.getItem('username'),
            fullname: localStorage.getItem('fullname'),
          })
          .then(response => {
            $(".updateMenuLandingMod").modal('hide');
            this.closeModal();
            this.form.menuID = ''
            this.form.menuName = ''
            this.form.menuNameEn = ''
            this.form.menuLink = ''
            this.form.detailID = ''
            Swal.fire(
              {
                type: "success",
                title: 'Updated!',
                text: 'Your file has been Update.',
                confirmButtonClass: 'btn btn-success',
              }
            )
          });
        }
      }.bind(this))
    }
  }
};
</script>

