<template>
  <div>
    <!-- breadcrumb start-->
    <section class="breadcrumb breadcrumb_bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb_iner text-center">
                        <div class="breadcrumb_iner_item">
                            <h2 style="font-family: 'GothamBold'">{{ $t('message.sectionAssesmentbtn1')}}</h2>
                            <p style="font-family: 'GothamNarrow'">{{ $t('message.sectionAssesment1')}}<span>/</span>{{ $t('message.sectionAssesmentbtn1')}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb start-->

    <!-- List Pesan -->
    <section class="special_cource padding_top" style="padding-bottom: 50px;" id="listPesan">
        <div class="container">
            <div class="row">
              <div class="col-sm-12 col-lg-12 col-xl-12" style="margin-bottom:50px;">
                <div class="section_tittle text-center">
                    <h2 style="font-family: 'GothamBold';font-size:26px;">{{ $t('message.sectionAssesmentbtn1')}}</h2>
                </div>
                <p class="ql-align-justify"><span style="color: rgb(136, 136, 136);">Berikut adalah urutan nilai rata-rata (</span><em style="color: rgb(136, 136, 136);">mean</em><span style="color: rgb(136, 136, 136);">) tiap klaster isu dalam aspek Manajemen Finansial:</span></p><p class="ql-align-justify"><span style="color: rgb(136, 136, 136);">1.&nbsp;Klaster Pengembangan Anak Muda (2,81)</span></p><p class="ql-align-justify"><span style="color: rgb(136, 136, 136);">2.&nbsp;Klaster Pendidikan Untuk Semua (2,75)</span></p><p class="ql-align-justify"><span style="color: rgb(136, 136, 136);">3.&nbsp;Klaster Teknologi dalam Pendidikan (2,73)</span></p><p class="ql-align-justify"><span style="color: rgb(136, 136, 136);">4.&nbsp;Klaster Pendidikan Karakter (2,53)</span></p><p class="ql-align-justify"><span style="color: rgb(136, 136, 136);">5.&nbsp;Klaster Pengembangan Guru (2,50)</span></p><p class="ql-align-justify"><span style="color: rgb(136, 136, 136);">6.&nbsp;Klaster Pendidikan Keluarga (2,43)</span></p><p class="ql-align-justify"><span style="color: rgb(136, 136, 136);">7.&nbsp;Klaster Literasi (2,36)</span></p><p class="ql-align-justify"><br></p><p class="ql-align-center">

                  <img style="max-width:75%;width:75%;height:auto;margin-left: auto;margin-right: auto;display: block;" src="uploads/assesment/JumlahKOPAntar1.png">

                  <strong style="color: rgb(136, 136, 136);">Grafik 1. Manajemen Finansial</strong>  </p><p class="ql-align-justify"><br></p><p class="ql-align-justify"><span style="color: rgb(136, 136, 136);">Berikut adalah urutan nilai rata-rata (</span><em style="color: rgb(136, 136, 136);">mean</em><span style="color: rgb(136, 136, 136);">) tiap klaster isu dalam aspek Manajemen Organisasi:</span></p><p class="ql-align-justify"><span style="color: rgb(136, 136, 136);">1.&nbsp;Klaster Teknologi dalam Pendidikan (2,91)</span></p><p class="ql-align-justify"><span style="color: rgb(136, 136, 136);">2.&nbsp;Klaster Literasi (2,86)</span></p><p class="ql-align-justify"><span style="color: rgb(136, 136, 136);">3.&nbsp;Klaster Pendidikan untuk Semua (2,79)</span></p><p class="ql-align-justify"><span style="color: rgb(136, 136, 136);">4.&nbsp;Klaster Pengembangan Anak Muda (2,57)</span></p><p class="ql-align-justify"><span style="color: rgb(136, 136, 136);">5.&nbsp;Klaster Pendidikan Karakter (2,53)</span></p><p class="ql-align-justify"><span style="color: rgb(136, 136, 136);">6.&nbsp;Klaster Pengembangan Guru (2,31)</span></p><p class="ql-align-justify"><span style="color: rgb(136, 136, 136);">7.&nbsp;Klaster Pendidikan Keluarga (2,29)</span></p><p class="ql-align-justify"><br></p><p class="ql-align-justify"><br></p><p class="ql-align-center">

                    <img style="max-width:75%;width:75%;height:auto;margin-left: auto;margin-right: auto;display: block;" src="uploads/assesment/JumlahKOPAntar2.png">

                    <strong style="color: rgb(136, 136, 136);">Grafik 2. Manajemen Organisasi</strong></p><p class="ql-align-justify"><br></p><p class="ql-align-justify"><span style="color: rgb(136, 136, 136);">Berikut adalah urutan nilai rata-rata (</span><em style="color: rgb(136, 136, 136);">mean</em><span style="color: rgb(136, 136, 136);">) tiap klaster isu dalam aspek Kemampuan Adaptasi:</span></p><p class="ql-align-justify"><span style="color: rgb(136, 136, 136);">1.&nbsp;Klaster Teknologi dalam Pendidikan (3,27)</span></p><p class="ql-align-justify"><span style="color: rgb(136, 136, 136);">2.&nbsp;Klaster Pengembangan Anak Muda (2,90)</span></p><p class="ql-align-justify"><span style="color: rgb(136, 136, 136);">3.&nbsp;Klaster Pendidikan Keluarga (2,79)</span></p><p class="ql-align-justify"><span style="color: rgb(136, 136, 136);">4.&nbsp;Klaster Pengembangan Guru (2,69)</span></p><p class="ql-align-justify"><span style="color: rgb(136, 136, 136);">5.&nbsp;Klaster Pengembangan untuk Semua (2,54)</span></p><p class="ql-align-justify"><span style="color: rgb(136, 136, 136);">6.&nbsp;Klaster Pendidikan Literasi (2,36)</span></p><p class="ql-align-justify"><span style="color: rgb(136, 136, 136);">7.&nbsp;Klaster Pendidikan Karakter (2,33)</span></p><p class="ql-align-justify"><br></p><p class="ql-align-justify"><br></p><p class="ql-align-center">

                      <img style="max-width:75%;width:75%;height:auto;margin-left: auto;margin-right: auto;display: block;" src="uploads/assesment/JumlahKOPAntar3.png">

                      <strong style="color: rgb(136, 136, 136);">Grafik 3. Kemampuan Adaptasi</strong></p><p class="ql-align-justify"><br></p><p class="ql-align-justify"><span style="color: rgb(136, 136, 136);">Berikut adalah urutan nilai rata-rata (</span></p><p class="ql-align-justify"><em style="color: rgb(136, 136, 136);">mean</em><span style="color: rgb(136, 136, 136);">) tiap klaster isu dalam aspek Pengukuran Dampak:</span></p><p class="ql-align-justify"><span style="color: rgb(136, 136, 136);">1.&nbsp;Klaster Pendidikan Keluarga (2,64)</span></p><p class="ql-align-justify"><span style="color: rgb(136, 136, 136);">2.&nbsp;Klaster Pengembangan Guru (2,63)</span></p><p class="ql-align-justify"><span style="color: rgb(136, 136, 136);">3.&nbsp;Klaster Pendidikan untuk Semua (2,58)</span></p><p class="ql-align-justify"><span style="color: rgb(136, 136, 136);">4.&nbsp;Klaster Pengembangan Anak Muda (2,57)</span></p><p class="ql-align-justify"><span style="color: rgb(136, 136, 136);">5.&nbsp;Klaster Teknologi dalam Pendidikan (2,55)</span></p><p class="ql-align-justify"><span style="color: rgb(136, 136, 136);">6.&nbsp;Klaster Pendidikan Karakter (2,33)</span></p><p class="ql-align-justify"><span style="color: rgb(136, 136, 136);">7.&nbsp;Klaster Pendidikan Literasi (2,27)</span></p><p class="ql-align-justify"><br></p><p class="ql-align-justify"><br></p><p class="ql-align-center">

                        <img style="max-width:75%;width:75%;height:auto;margin-left: auto;margin-right: auto;display: block;" src="uploads/assesment/JumlahKOPAntar4.png">

                        <strong style="color: rgb(136, 136, 136);">Grafik 4. Pengukuran Dampak</strong></p><p class="ql-align-justify"><br></p><p class="ql-align-justify"><span style="color: rgb(136, 136, 136);">Berikut adalah urutan nilai rata-rata (</span><em style="color: rgb(136, 136, 136);">mean</em><span style="color: rgb(136, 136, 136);">) tiap klaster isu dalam aspek Perencanaan Strategis:</span></p><p class="ql-align-justify"><span style="color: rgb(136, 136, 136);">1.&nbsp;Klaster Teknologi dalam Pendidikan (2,75)</span></p><p class="ql-align-justify"><span style="color: rgb(136, 136, 136);">2.&nbsp;Klaster Pengembangan Anak Muda (2,71)</span></p><p class="ql-align-justify"><span style="color: rgb(136, 136, 136);">3.&nbsp;Klaster Pengembangan Guru (2,44)</span></p><p class="ql-align-justify"><span style="color: rgb(136, 136, 136);">4.&nbsp;Klaster Pendidikan untuk Semua (2,38)</span></p><p class="ql-align-justify"><span style="color: rgb(136, 136, 136);">5.&nbsp;Klaster Pendidikan Keluarga (2,36)</span></p><p class="ql-align-justify"><span style="color: rgb(136, 136, 136);">6.&nbsp;Klaster Pendidikan Literasi (2,27)</span></p><p class="ql-align-justify"><span style="color: rgb(136, 136, 136);">7.&nbsp;Klaster Pendidikan Karakter (2,13)</span></p><p class="ql-align-justify"><br></p><p class="ql-align-justify"><br></p><p class="ql-align-center">

                          <img style="max-width:75%;width:75%;height:auto;margin-left: auto;margin-right: auto;display: block;" src="uploads/assesment/JumlahKOPAntar5.png">

                          <strong style="color: rgb(136, 136, 136);">Grafik 5. Perencanaan Strategis</strong></p><p class="ql-align-justify"><br></p><p class="ql-align-justify"><span style="color: rgb(136, 136, 136);">Berikut adalah urutan nilai rata-rata (</span><em style="color: rgb(136, 136, 136);">mean</em><span style="color: rgb(136, 136, 136);">) tiap klaster isu dalam aspek Manajemen Kemitraan:</span></p><p class="ql-align-justify"><span style="color: rgb(136, 136, 136);">1.&nbsp;Klaster Teknologi dalam Pendidikan (3,09)</span></p><p class="ql-align-justify"><span style="color: rgb(136, 136, 136);">2.&nbsp;Klaster Pengembangan Anak Muda (2,76)</span></p><p class="ql-align-justify"><span style="color: rgb(136, 136, 136);">3.&nbsp;Klaster Pendidikan Keluarga (2,43)</span></p><p class="ql-align-justify"><span style="color: rgb(136, 136, 136);">4.&nbsp;Klaster Pendidikan untuk Semua (2,42)</span></p><p class="ql-align-justify"><span style="color: rgb(136, 136, 136);">5.&nbsp;Klaster Pendidikan Karakter (2,40)</span></p><p class="ql-align-justify"><span style="color: rgb(136, 136, 136);">6.&nbsp;Klaster Pendidikan Literasi (2,32)</span></p><p class="ql-align-justify"><span style="color: rgb(136, 136, 136);">7.&nbsp;Klaster Pengembangan Guru (2,19)</span></p><p class="ql-align-justify"><br></p><p class="ql-align-justify"><br></p><p class="ql-align-center">

                            <img style="max-width:75%;width:75%;height:auto;margin-left: auto;margin-right: auto;display: block;" src="uploads/assesment/JumlahKOPAntar6.png">

                            <strong style="color: rgb(136, 136, 136);">Grafik 6. Manajemen Kemitraan</strong></p><p><br></p>
                            
              </div>
              <div class="col-sm-6 col-lg-6 col-xl-6" style="margin-bottom:50px;margin-top:50px;" align="center">
                
              </div>
              <div class="col-sm-6 col-lg-6 col-xl-6" style="margin-bottom:50px;margin-top:50px;" align="center">
                <router-link type="button" class="btn_2" style="background-color:#ffffff" to="/tiapklaster">{{ $t('message.sectionAssesmentbtn2')}}
                </router-link>
              </div>
            </div>
        </div>
    </section>
    <!-- End List Pesan -->

  </div>
</template>

<!-- script js -->
<script>
import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.css';
import moment from 'moment';
moment.locale("id");

export default {
  name: 'antarklaster',
  components: {
    Loading 
  },
  data() {
    return {
      isLoading: false,
      fullPage: false,
      canCancel: false,
      useSlot: false,
      loader: 'spinner',
      bgColor: '#ffffff',
      height: 128,
      width: 128,
      color: '#1D437D',
      zindex: 9998,
    };
  },
  created() { 
  },
  mounted() {
    window.scrollTo(0, 500);
  },
  methods: {
    formatTime(value) {
        return moment(value, "HH:mm:ss").format("hh:mm");
    },
    formatDate(value) {
        return moment(value).format("DD MMMM YYYY");
    }
  }
};
</script>

<style scoped>
  .image{
      position:relative;
      overflow:hidden;
      padding-bottom:100%;
  }
  .image img{
        position: absolute;
        max-width: 100%;
        max-height: 100%;
        width: 100%;
        height: 100%;
        top: 50%;
        left: 50%;
        object-fit: cover;
        transform: translateX(-50%) translateY(-50%);
  }  
  .mobile-social-share {
      background: none repeat scroll 0 0 #EEEEEE;
      display: block !important;
      min-height: 70px !important;
      margin: 50px 0;
  }

  .mobile-social-share h3 {
      color: inherit;
      float: left;
      font-size: 15px;
      line-height: 20px;
      margin: 25px 25px 0 25px;
  }

  .share-group {
      float: right;
      /*margin: 18px 25px 0 0;*/
  }

  .btn-group {
      display: inline-block;
      font-size: 0;
      position: relative;
      vertical-align: middle;
      white-space: nowrap;
  }

  .mobile-social-share ul {
      float: right;
      list-style: none outside none;
      margin: 0;
      min-width: 61px;
      padding: 0;
  }

  .share {
      min-width: 17px;
  }

  .mobile-social-share li {
      display: block;
      font-size: 18px;
      list-style: none outside none;
      margin-bottom: 3px;
      margin-left: 4px;
      margin-top: 3px;
  }

  .btn-share {
      background-color: #BEBEBE;
      border-color: #CCCCCC;
      color: #333333;
  }

  .btn-twitter {
      background-color: #3399CC !important;
      width: 51px;
      color:#FFFFFF!important;
  }

  .btn-facebook {
      background-color: #3D5B96 !important;
      width: 51px;
      color:#FFFFFF!important;
  }

  .btn-facebook {
      background-color: #3D5B96 !important;
      width: 51px;
      color:#FFFFFF!important;
  }

  .btn-mail {
      background-color: #FFC90E !important;
      width: 51px;
      color:#FFFFFF!important;
  }

  .caret {
      border-left: 4px solid rgba(0, 0, 0, 0);
      border-right: 4px solid rgba(0, 0, 0, 0);
      border-top: 4px solid;
      display: inline-block;
      height: 0;
      margin-left: 2px;
      vertical-align: middle;
      width: 0;
  }

  #socialShare {
      /*max-width:59px;*/
      /*margin-bottom:18px;*/
  }

  #socialShare > a{
      padding: 6px 10px 6px 10px;
  }

  @media (max-width : 320px) {
      #socialHolder{
          padding-left:5px;
          padding-right:5px;
      }
      
      .mobile-social-share h3 {
          margin-left: 0;
          margin-right: 0;
      }
      
      #socialShare{
          margin-left:5px;
          margin-right:5px;
      }
      
      .mobile-social-share h3 {
          font-size: 15px;
      }
  }

  @media (max-width : 238px) {
      .mobile-social-share h3 {
          font-size: 12px;
      }
  }
</style>