<template>
  <div>
    <!-- breadcrumb start-->
    <section class="breadcrumb breadcrumb_bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb_iner text-center">
                        <div class="breadcrumb_iner_item">
                            <h2 style="font-family: 'GothamBold'">{{ $t('message.sectionAssesment2')}}</h2>
                            <p style="font-family: 'GothamNarrow'">{{ $t('message.sectionAssesment1')}}<span>/</span>{{ $t('message.sectionAssesment2')}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb start-->

    <!-- List Pesan -->
    <section class="special_cource padding_top" style="padding-bottom: 50px;" id="listPesan">
        <div class="container">
            <div class="row">
              <div class="col-sm-12 col-lg-12 col-xl-12" style="margin-bottom:50px;">
                <div class="section_tittle text-center">
                    <h2 style="font-family: 'GothamBold';font-size:26px;">{{ $t('message.sectionAssesment3')}}</h2>
                </div>
                <p class="ql-align-justify">Jaringan Semua Murid Semua Guru (SMSG) memiliki tujuh (7) klaster isu, terdiri dari:</p><p class="ql-align-justify"><br></p><p class="ql-align-justify">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;1.Klaster Literasi</p><p class="ql-align-justify">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;2.Klaster Pengembangan Anak Muda</p><p class="ql-align-justify">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;3.Klaster Pendidikan untuk Semua</p><p class="ql-align-justify">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;4.Klaster Pendidikan Karakter</p><p class="ql-align-justify">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;5.Klaster Pengembangan Guru</p><p class="ql-align-justify">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;6.Klaster Teknologi dalam Pendidikan</p><p class="ql-align-justify">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;7.Klaster Pendidikan Keluarga, Homeschooling, &amp; PAUD</p><p class="ql-align-justify"><br></p><p class="ql-align-justify">Setiap Komunitas / Organisasi Pendidikan (KOP) yang tergabung dalam SGMSG dipersilakan untuk memilih klaster isu apa yang paling tepat menggambarkan fokus dan visi misi dari KOP bersangkutan.</p><p class="ql-align-justify"><br></p><p class="ql-align-justify">Sejak tahun 2019 lalu, SMSG berupaya membantu KOP-KOP jaringan SMSG untuk mengenal dan mengetahui lebih dalam kapasitas mereka. Maka, SMSG membuat “Asesmen Kapasitas” yang terdiri dari beberapa pertanyaan mencakup: 1.) Aspek manajemen finansial; 2.) Aspek manajemen organisasi; 3.) Aspek pengukuran dampak; 4.) Aspek kemampuan adaptasi; 5.) Aspek perencanaan strategis; dan 6.) Aspek manajemen kemitraan.</p><p class="ql-align-justify"><br></p><p class="ql-align-justify">Tiap KOP kedepannya diharapkan dapat mengisi formulir “Asesmen Kapasitas” ini pada awal saat mereka mendaftar dan bergabung dalam jaringan SMSG, serta mengisi formulir “Asesmen Kapasitas” tiap akhir tahun. SMSG bertujuan untuk mendokumentasikan hasil keseluruhan dari “Asesmen Kapasitas” seluruh KOP dari tujuh (7) klaster isu yang ada.</p><p class="ql-align-justify"><br></p><p class="ql-align-justify">Harapannya, hasil “Asesmen Kapasitas” ini dapat digunakan untuk menjadi barometer bagi KOP untuk melihat kapasitas mereka masing-masing serta mengkaji lebih lanjut aspek-aspek yang masih perlu diperbaiki dan ditingkatkan (Terlampir Raport tiap KOP di bagian profil). Hasil “Asesmen Kapasitas” juga diharapkan dapat menjadi data yang berharga dalam upaya SMSG dan stakeholders terkait untuk membuat rekomendasi kebijakan dan program kedepannya dalam rangka terus berinovasi,saling berkolaborasi, dan melakukan integrasidalam menggerakan perubahan ekosistem pendidikan Insonesia.</p>
              </div>
              <div class="col-sm-6 col-lg-6 col-xl-6" style="margin-bottom:50px;margin-top:50px;" align="center">
                <router-link type="button" class="btn_2" style="background-color:#ffffff" to="/antarklaster">{{ $t('message.sectionAssesmentbtn1')}}
                </router-link>
              </div>
              <div class="col-sm-6 col-lg-6 col-xl-6" style="margin-bottom:50px;margin-top:50px;" align="center">
                <router-link type="button" class="btn_2" style="background-color:#ffffff" to="/tiapklaster">{{ $t('message.sectionAssesmentbtn2')}}
                </router-link>
              </div>
            </div>
        </div>
    </section>
    <!-- End List Pesan -->

  </div>
</template>

<!-- script js -->
<script>
import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.css';
import moment from 'moment';
moment.locale("id");

export default {
  name: 'asesmenkapasitas',
  components: {
    Loading 
  },
  data() {
    return {
      isLoading: false,
      fullPage: false,
      canCancel: false,
      useSlot: false,
      loader: 'spinner',
      bgColor: '#ffffff',
      height: 128,
      width: 128,
      color: '#1D437D',
      zindex: 9998,
    };
  },
  created() { 
  },
  mounted() {
    window.scrollTo(0, 500);
  },
  methods: {
    formatTime(value) {
        return moment(value, "HH:mm:ss").format("hh:mm");
    },
    formatDate(value) {
        return moment(value).format("DD MMMM YYYY");
    }
  }
};
</script>

<style scoped>
  .image{
      position:relative;
      overflow:hidden;
      padding-bottom:100%;
  }
  .image img{
        position: absolute;
        max-width: 100%;
        max-height: 100%;
        width: 100%;
        height: 100%;
        top: 50%;
        left: 50%;
        object-fit: cover;
        transform: translateX(-50%) translateY(-50%);
  }  
  .mobile-social-share {
      background: none repeat scroll 0 0 #EEEEEE;
      display: block !important;
      min-height: 70px !important;
      margin: 50px 0;
  }

  .mobile-social-share h3 {
      color: inherit;
      float: left;
      font-size: 15px;
      line-height: 20px;
      margin: 25px 25px 0 25px;
  }

  .share-group {
      float: right;
      /*margin: 18px 25px 0 0;*/
  }

  .btn-group {
      display: inline-block;
      font-size: 0;
      position: relative;
      vertical-align: middle;
      white-space: nowrap;
  }

  .mobile-social-share ul {
      float: right;
      list-style: none outside none;
      margin: 0;
      min-width: 61px;
      padding: 0;
  }

  .share {
      min-width: 17px;
  }

  .mobile-social-share li {
      display: block;
      font-size: 18px;
      list-style: none outside none;
      margin-bottom: 3px;
      margin-left: 4px;
      margin-top: 3px;
  }

  .btn-share {
      background-color: #BEBEBE;
      border-color: #CCCCCC;
      color: #333333;
  }

  .btn-twitter {
      background-color: #3399CC !important;
      width: 51px;
      color:#FFFFFF!important;
  }

  .btn-facebook {
      background-color: #3D5B96 !important;
      width: 51px;
      color:#FFFFFF!important;
  }

  .btn-facebook {
      background-color: #3D5B96 !important;
      width: 51px;
      color:#FFFFFF!important;
  }

  .btn-mail {
      background-color: #FFC90E !important;
      width: 51px;
      color:#FFFFFF!important;
  }

  .caret {
      border-left: 4px solid rgba(0, 0, 0, 0);
      border-right: 4px solid rgba(0, 0, 0, 0);
      border-top: 4px solid;
      display: inline-block;
      height: 0;
      margin-left: 2px;
      vertical-align: middle;
      width: 0;
  }

  #socialShare {
      /*max-width:59px;*/
      /*margin-bottom:18px;*/
  }

  #socialShare > a{
      padding: 6px 10px 6px 10px;
  }

  @media (max-width : 320px) {
      #socialHolder{
          padding-left:5px;
          padding-right:5px;
      }
      
      .mobile-social-share h3 {
          margin-left: 0;
          margin-right: 0;
      }
      
      #socialShare{
          margin-left:5px;
          margin-right:5px;
      }
      
      .mobile-social-share h3 {
          font-size: 15px;
      }
  }

  @media (max-width : 238px) {
      .mobile-social-share h3 {
          font-size: 12px;
      }
  }
</style>