<template>
  <div>
    <!-- breadcrumb start-->
    <section class="breadcrumb breadcrumb_bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb_iner text-center">
                        <div class="breadcrumb_iner_item">
                            <h2 style="font-family: 'GothamBold'">{{ $t('message.sectionAssesmentbtn2')}}</h2>
                            <p style="font-family: 'GothamNarrow'">{{ $t('message.sectionAssesment1')}}<span>/</span>{{ $t('message.sectionAssesmentbtn2')}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb start-->

    <!-- List Pesan -->
    <section class="special_cource padding_top" style="padding-bottom: 50px;" id="listPesan">
        <div class="container">
            <div class="row">
              <div class="col-sm-12 col-lg-12 col-xl-12" style="margin-bottom:50px;">
                <div class="section_tittle text-center">
                    <h2 style="font-family: 'GothamBold';font-size:26px;">{{ $t('message.sectionAssesmentbtn2')}}</h2>
                </div>
                <p class="ql-align-justify"><span style="color: rgb(136, 136, 136);">Pada tahun 2019, terdapat 138 KOP yang mengisi formulir “Asesmen Kapasitas”. Dari 138 KOP tersebut, berikut rincian tiap klaster isu:</span></p><p class="ql-align-justify"><span style="color: rgb(136, 136, 136);">1.Klaster Literasi terdiri dari 22 KOP</span></p><p class="ql-align-justify"><span style="color: rgb(136, 136, 136);">2.Klaster Pengembangan Anak Muda terdiri dari 20 KOP</span></p><p class="ql-align-justify"><span style="color: rgb(136, 136, 136);">3.Klaster Pendidikan untuk Semua terdiri dari 24 KOP</span></p><p class="ql-align-justify"><span style="color: rgb(136, 136, 136);">4.Klaster Pendidikan Karakter terdiri dari 15 KOP</span></p><p class="ql-align-justify"><span style="color: rgb(136, 136, 136);">5.Klaster Pengembangan Guru terdiri dari 16 KOP</span></p><p class="ql-align-justify"><span style="color: rgb(136, 136, 136);">6.Klaster Teknologi dalam Pendidikan terdiri dari 11 KOP</span></p><p class="ql-align-justify"><span style="color: rgb(136, 136, 136);">7.Klaster Pendidikan Keluarga, Homeschooling, &amp; PAUD terdiri dari 14 KOP</span></p><p class="ql-align-justify"><span style="color: rgb(136, 136, 136);">8.&nbsp;KOP tidak mengisi klaster isunya terdiri dari 16 KOP</span></p><p class="ql-align-justify"><br></p><p class="ql-align-center">

                  <img style="max-width:75%;width:75%;height:auto;margin-left: auto;margin-right: auto;display: block;" src="uploads/assesment/JumlahKOPTiap1.png">

                  <strong style="color: rgb(136, 136, 136);">Grafik 1. Jumlah KOP Tiap Klaster Isu</strong></p><p class="ql-align-justify"><br></p><p class="ql-align-justify"><br></p><p class="ql-align-justify"><strong style="color: rgb(136, 136, 136);">1.&nbsp;Asesmen Kapasitas Klaster Literasi</strong></p><p class="ql-align-justify"><br></p><p class="ql-align-justify"><span style="color: rgb(136, 136, 136);">Berikut adalah hasil “Asesmen Kapasitas” Klaster Literasi:</span></p><p class="ql-align-justify"><span style="color: rgb(136, 136, 136);">1.&nbsp;Pada aspek </span><strong style="color: rgb(136, 136, 136);">Manajemen Kemitraan</strong><span style="color: rgb(136, 136, 136);">&nbsp;terdapat 59% KOP yang menilai dirinya belum cukup baik (tidak mampu dan kurang mampu) dan 41% menilai dirinya cukup baik (cukup mampu dan mampu) dalam aspek mengelola kemitraan.</span></p><p class="ql-align-justify"><span style="color: rgb(136, 136, 136);">2.&nbsp;Pada aspek </span><strong style="color: rgb(136, 136, 136);">Perencanaan Strategis</strong><span style="color: rgb(136, 136, 136);">&nbsp;terdapat 50% KOP yang menilai dirinya belum cukup baik (tidak mampu dan kurang mampu) dan 50% menilai dirinya cukup baik (cukup mampu dan mampu) dalam aspek mengelola kemitraan.</span></p><p class="ql-align-justify"><span style="color: rgb(136, 136, 136);">3.&nbsp;Pada aspek </span><strong style="color: rgb(136, 136, 136);">Kemampuan Adaptasi</strong><span style="color: rgb(136, 136, 136);">&nbsp;terdapat 55% KOP yang menilai dirinya belum cukup baik (tidak mampu dan kurang mampu) dan 45% menilai dirinya cukup baik (cukup mampu dan mampu) dalam aspek mengelola kemitraan.</span></p><p class="ql-align-justify"><span style="color: rgb(136, 136, 136);">4.&nbsp;Pada aspek </span><strong style="color: rgb(136, 136, 136);">Pengukuran Dampak </strong><span style="color: rgb(136, 136, 136);">terdapat 55% KOP yang menilai dirinya belum cukup baik (tidak mampu dan kurang mampu) dan 45% menilai dirinya cukup baik (cukup mampu dan mampu) dalam aspek mengelola kemitraan.</span></p><p class="ql-align-justify"><span style="color: rgb(136, 136, 136);">5.&nbsp;Pada aspek </span><strong style="color: rgb(136, 136, 136);">Manajemen Organisasi</strong><span style="color: rgb(136, 136, 136);">&nbsp;terdapat 45% KOP yang menilai dirinya belum cukup baik (tidak mampu dan kurang mampu) dan 55% menilai dirinya cukup baik (cukup mampu dan mampu) dalam aspek mengelola kemitraan.</span></p><p class="ql-align-justify"><span style="color: rgb(136, 136, 136);">6.&nbsp;Pada aspek </span><strong style="color: rgb(136, 136, 136);">Manajemen Finansial </strong><span style="color: rgb(136, 136, 136);">terdapat 55% KOP yang menilai dirinya belum cukup baik (tidak mampu dan kurang mampu) dan 45% menilai dirinya cukup baik (cukup mampu dan mampu) dalam aspek mengelola kemitraan.</span></p><p class="ql-align-justify"><br></p><p class="ql-align-center">

                    <img style="max-width:75%;width:75%;height:auto;margin-left: auto;margin-right: auto;display: block;" src="uploads/assesment/JumlahKOPTiap2.png">

                    <strong style="color: rgb(136, 136, 136);">Grafik 2. Asesmen Kapasitas Klaster Literasi</strong></p><p class="ql-align-justify"><br></p><p class="ql-align-justify"><br></p><p class="ql-align-justify"><strong style="color: rgb(136, 136, 136);">2. Asesmen Kapasitas Klaster Pendidikan Keluarga</strong></p><p class="ql-align-justify"><br></p><p class="ql-align-justify"><span style="color: rgb(136, 136, 136);">Berikut adalah hasil “Asesmen Kapasitas” Klaster Pendidikan Keluarga:</span></p><p class="ql-align-justify"><span style="color: rgb(136, 136, 136);">1.&nbsp;Pada aspek </span><strong style="color: rgb(136, 136, 136);">Manajemen Kemitraan</strong><span style="color: rgb(136, 136, 136);">&nbsp;terdapat 57% KOP yang menilai dirinya belum cukup baik (tidak mampu dan kurang mampu) dan 43% menilai dirinya cukup baik (cukup mampu dan mampu) dalam aspek mengelola kemitraan.</span></p><p class="ql-align-justify"><span style="color: rgb(136, 136, 136);">2.&nbsp;Pada aspek </span><strong style="color: rgb(136, 136, 136);">Perencanaan Strategis</strong><span style="color: rgb(136, 136, 136);">&nbsp;terdapat 50% KOP yang menilai dirinya belum cukup baik (tidak mampu dan kurang mampu) dan 50% menilai dirinya cukup baik (cukup mampu dan mampu) dalam aspek mengelola kemitraan.</span></p><p class="ql-align-justify"><span style="color: rgb(136, 136, 136);">3.&nbsp;Pada aspek </span><strong style="color: rgb(136, 136, 136);">Kemampuan Adaptasi</strong><span style="color: rgb(136, 136, 136);">&nbsp;terdapat 43% KOP yang menilai dirinya belum cukup baik (tidak mampu dan kurang mampu) dan 57% menilai dirinya cukup baik (cukup mampu dan mampu) dalam aspek mengelola kemitraan.</span></p><p class="ql-align-justify"><span style="color: rgb(136, 136, 136);">4.&nbsp;Pada aspek </span><strong style="color: rgb(136, 136, 136);">Pengukuran Dampak </strong><span style="color: rgb(136, 136, 136);">terdapat 43% KOP yang menilai dirinya belum cukup baik (tidak mampu dan kurang mampu) dan 57% menilai dirinya cukup baik (cukup mampu dan mampu) dalam aspek mengelola kemitraan.</span></p><p class="ql-align-justify"><span style="color: rgb(136, 136, 136);">5.&nbsp;Pada aspek </span><strong style="color: rgb(136, 136, 136);">Manajemen Organisasi</strong><span style="color: rgb(136, 136, 136);">&nbsp;terdapat 64% KOP yang menilai dirinya belum cukup baik (tidak mampu dan kurang mampu) dan 36% menilai dirinya cukup baik (cukup mampu dan mampu) dalam aspek mengelola kemitraan.</span></p><p class="ql-align-justify"><span style="color: rgb(136, 136, 136);">6.&nbsp;Pada aspek </span><strong style="color: rgb(136, 136, 136);">Manajemen Finansial </strong><span style="color: rgb(136, 136, 136);">terdapat 57% KOP yang menilai dirinya belum cukup baik (tidak mampu dan kurang mampu) dan 43% menilai dirinya cukup baik (cukup mampu dan mampu) dalam aspek mengelola kemitraan.</span></p><p class="ql-align-justify"><br></p><p class="ql-align-center">

                      <img style="max-width:75%;width:75%;height:auto;margin-left: auto;margin-right: auto;display: block;" src="uploads/assesment/JumlahKOPTiap3.png">

                      <strong style="color: rgb(136, 136, 136);">Grafik 3. Asesmen Kapasitas Klaster Pendidikan Keluarga</strong></p><p class="ql-align-justify"><br></p><p class="ql-align-justify"><br></p><p class="ql-align-justify"><strong style="color: rgb(136, 136, 136);">3. Asesmen Kapasitas Klaster Pendidikan Karakter</strong></p><p class="ql-align-justify"><br></p><p class="ql-align-justify"><span style="color: rgb(136, 136, 136);">Berikut adalah hasil “Asesmen Kapasitas” Klaster Pendidikan Karakter:</span></p><p class="ql-align-justify"><span style="color: rgb(136, 136, 136);">1.&nbsp;Pada aspek </span><strong style="color: rgb(136, 136, 136);">Manajemen Kemitraan</strong><span style="color: rgb(136, 136, 136);">&nbsp;terdapat 60% KOP yang menilai dirinya belum cukup baik (tidak mampu dan kurang mampu) dan 40% menilai dirinya cukup baik (cukup mampu dan mampu) dalam aspek mengelola kemitraan.</span></p><p class="ql-align-justify"><span style="color: rgb(136, 136, 136);">2.&nbsp;Pada aspek </span><strong style="color: rgb(136, 136, 136);">Perencanaan Strategis</strong><span style="color: rgb(136, 136, 136);">&nbsp;terdapat 73% KOP yang menilai dirinya belum cukup baik (tidak mampu dan kurang mampu) dan 27% menilai dirinya cukup baik (cukup mampu dan mampu) dalam aspek mengelola kemitraan.</span></p><p class="ql-align-justify"><span style="color: rgb(136, 136, 136);">3.&nbsp;Pada aspek </span><strong style="color: rgb(136, 136, 136);">Kemampuan Adaptasi</strong><span style="color: rgb(136, 136, 136);">&nbsp;terdapat 60% KOP yang menilai dirinya belum cukup baik (tidak mampu dan kurang mampu) dan 40% menilai dirinya cukup baik (cukup mampu dan mampu) dalam aspek mengelola kemitraan.</span></p><p class="ql-align-justify"><span style="color: rgb(136, 136, 136);">4.&nbsp;Pada aspek </span><strong style="color: rgb(136, 136, 136);">Pengukuran Dampak </strong><span style="color: rgb(136, 136, 136);">terdapat 43% KOP yang menilai dirinya belum cukup baik (tidak mampu dan kurang mampu) dan 57% menilai dirinya cukup baik (cukup mampu dan mampu) dalam aspek mengelola kemitraan.</span></p><p class="ql-align-justify"><span style="color: rgb(136, 136, 136);">5.&nbsp;Pada aspek </span><strong style="color: rgb(136, 136, 136);">Manajemen Organisasi</strong><span style="color: rgb(136, 136, 136);">&nbsp;terdapat 47% KOP yang menilai dirinya belum cukup baik (tidak mampu dan kurang mampu) dan 53% menilai dirinya cukup baik (cukup mampu dan mampu) dalam aspek mengelola kemitraan.</span></p><p class="ql-align-justify"><span style="color: rgb(136, 136, 136);">6.&nbsp;Pada aspek </span><strong style="color: rgb(136, 136, 136);">Manajemen Finansial </strong><span style="color: rgb(136, 136, 136);">terdapat 53% KOP yang menilai dirinya belum cukup baik (tidak mampu dan kurang mampu) dan 47% menilai dirinya cukup baik (cukup mampu dan mampu) dalam aspek mengelola kemitraan.</span></p><p class="ql-align-justify"><br></p><p class="ql-align-center">

                        <img style="max-width:75%;width:75%;height:auto;margin-left: auto;margin-right: auto;display: block;" src="uploads/assesment/JumlahKOPTiap4.png">

                        <strong style="color: rgb(136, 136, 136);">Grafik 4. Asesmen Kapasitas Klaster Pendidikan Karakter</strong></p><p class="ql-align-justify"><br></p><p class="ql-align-justify"><br></p><p class="ql-align-justify"><strong style="color: rgb(136, 136, 136);">4. Asesmen Kapasitas Klaster Pendidikan untuk Semua</strong></p><p class="ql-align-justify"><br></p><p class="ql-align-justify"><span style="color: rgb(136, 136, 136);">Berikut adalah hasil “Asesmen Kapasitas” Klaster Pendidikan untuk Semua:</span></p><p class="ql-align-justify"><span style="color: rgb(136, 136, 136);">1.&nbsp;Pada aspek </span><strong style="color: rgb(136, 136, 136);">Manajemen Kemitraan</strong><span style="color: rgb(136, 136, 136);">&nbsp;terdapat 58% KOP yang menilai dirinya belum cukup baik (tidak mampu dan kurang mampu) dan 42% menilai dirinya cukup baik (cukup mampu dan mampu) dalam aspek mengelola kemitraan.</span></p><p class="ql-align-justify"><span style="color: rgb(136, 136, 136);">2.&nbsp;Pada aspek </span><strong style="color: rgb(136, 136, 136);">Perencanaan Strategis</strong><span style="color: rgb(136, 136, 136);">&nbsp;terdapat 46% KOP yang menilai dirinya belum cukup baik (tidak mampu dan kurang mampu) dan 54% menilai dirinya cukup baik (cukup mampu dan mampu) dalam aspek mengelola kemitraan.</span></p><p class="ql-align-justify"><span style="color: rgb(136, 136, 136);">3.&nbsp;Pada aspek </span><strong style="color: rgb(136, 136, 136);">Kemampuan Adaptasi</strong><span style="color: rgb(136, 136, 136);">&nbsp;terdapat 54% KOP yang menilai dirinya belum cukup baik (tidak mampu dan kurang mampu) dan 46% menilai dirinya cukup baik (cukup mampu dan mampu) dalam aspek mengelola kemitraan.</span></p><p class="ql-align-justify"><span style="color: rgb(136, 136, 136);">4.&nbsp;Pada aspek </span><strong style="color: rgb(136, 136, 136);">Pengukuran Dampak </strong><span style="color: rgb(136, 136, 136);">terdapat 50% KOP yang menilai dirinya belum cukup baik (tidak mampu dan kurang mampu) dan 50% menilai dirinya cukup baik (cukup mampu dan mampu) dalam aspek mengelola kemitraan.</span></p><p class="ql-align-justify"><span style="color: rgb(136, 136, 136);">5.&nbsp;Pada aspek </span><strong style="color: rgb(136, 136, 136);">Manajemen Organisasi</strong><span style="color: rgb(136, 136, 136);">&nbsp;terdapat 42% KOP yang menilai dirinya belum cukup baik (tidak mampu dan kurang mampu) dan 58% menilai dirinya cukup baik (cukup mampu dan mampu) dalam aspek mengelola kemitraan.</span></p><p class="ql-align-justify"><span style="color: rgb(136, 136, 136);">6.&nbsp;Pada aspek </span><strong style="color: rgb(136, 136, 136);">Manajemen Finansial </strong><span style="color: rgb(136, 136, 136);">terdapat 37% KOP yang menilai dirinya belum cukup baik (tidak mampu dan kurang mampu) dan 63% menilai dirinya cukup baik (cukup mampu dan mampu) dalam aspek mengelola kemitraan.</span></p><p class="ql-align-justify"><br></p><p class="ql-align-justify"><br></p><p class="ql-align-center">

                          <img style="max-width:75%;width:75%;height:auto;margin-left: auto;margin-right: auto;display: block;" src="uploads/assesment/JumlahKOPTiap5.png">

                          <strong style="color: rgb(136, 136, 136);">Grafik 5. Asesmen Kapasitas Klaster Pendidikan Untuk Semua</strong></p><p class="ql-align-justify"><br></p><p class="ql-align-justify"><br></p><p class="ql-align-justify"><strong style="color: rgb(136, 136, 136);">5. Asesmen Kapasitas Klaster Pengembangan Anak Muda</strong></p><p class="ql-align-justify"><br></p><p class="ql-align-justify"><span style="color: rgb(136, 136, 136);">Berikut adalah hasil “Asesmen Kapasitas” Pengembangan Anak Muda:</span></p><p class="ql-align-justify"><span style="color: rgb(136, 136, 136);">7.&nbsp;Pada aspek </span><strong style="color: rgb(136, 136, 136);">Manajemen Kemitraan</strong><span style="color: rgb(136, 136, 136);">&nbsp;terdapat 50% KOP yang menilai dirinya belum cukup baik (tidak mampu dan kurang mampu) dan 50% menilai dirinya cukup baik (cukup mampu dan mampu) dalam aspek mengelola kemitraan.</span></p><p class="ql-align-justify"><span style="color: rgb(136, 136, 136);">8.&nbsp;Pada aspek </span><strong style="color: rgb(136, 136, 136);">Perencanaan Strategis</strong><span style="color: rgb(136, 136, 136);">&nbsp;terdapat 35% KOP yang menilai dirinya belum cukup baik (tidak mampu dan kurang mampu) dan 65% menilai dirinya cukup baik (cukup mampu dan mampu) dalam aspek mengelola kemitraan.</span></p><p class="ql-align-justify"><span style="color: rgb(136, 136, 136);">9.&nbsp;Pada aspek </span><strong style="color: rgb(136, 136, 136);">Kemampuan Adaptasi</strong><span style="color: rgb(136, 136, 136);">&nbsp;terdapat 30% KOP yang menilai dirinya belum cukup baik (tidak mampu dan kurang mampu) dan 70% menilai dirinya cukup baik (cukup mampu dan mampu) dalam aspek mengelola kemitraan.</span></p><p class="ql-align-justify"><span style="color: rgb(136, 136, 136);">10.&nbsp;Pada aspek </span><strong style="color: rgb(136, 136, 136);">Pengukuran Dampak </strong><span style="color: rgb(136, 136, 136);">terdapat 35% KOP yang menilai dirinya belum cukup baik (tidak mampu dan kurang mampu) dan 65% menilai dirinya cukup baik (cukup mampu dan mampu) dalam aspek mengelola kemitraan.</span></p><p class="ql-align-justify"><span style="color: rgb(136, 136, 136);">11.&nbsp;Pada aspek </span><strong style="color: rgb(136, 136, 136);">Manajemen Organisasi</strong><span style="color: rgb(136, 136, 136);">&nbsp;terdapat 55% KOP yang menilai dirinya belum cukup baik (tidak mampu dan kurang mampu) dan 45% menilai dirinya cukup baik (cukup mampu dan mampu) dalam aspek mengelola kemitraan.</span></p><p class="ql-align-justify"><span style="color: rgb(136, 136, 136);">12.&nbsp;Pada aspek </span><strong style="color: rgb(136, 136, 136);">Manajemen Finansial </strong><span style="color: rgb(136, 136, 136);">terdapat 35% KOP yang menilai dirinya belum cukup baik (tidak mampu dan kurang mampu) dan 65% menilai dirinya cukup baik (cukup mampu dan mampu) dalam aspek mengelola kemitraan.</span></p><p class="ql-align-justify"><br></p><p class="ql-align-center">

                            <img style="max-width:75%;width:75%;height:auto;margin-left: auto;margin-right: auto;display: block;" src="uploads/assesment/JumlahKOPTiap6.png">

                            <strong style="color: rgb(136, 136, 136);">Grafik 6. Asesmen Kapasitas Klaster Pengembangan Anak Muda</strong></p><p class="ql-align-justify"><br></p><p class="ql-align-justify"><br></p><p class="ql-align-justify"><strong style="color: rgb(136, 136, 136);">6. Asesmen Kapasitas Klaster Pengembangan Guru</strong></p><p class="ql-align-justify"><br></p><p class="ql-align-justify"><span style="color: rgb(136, 136, 136);">Berikut adalah hasil “Asesmen Kapasitas” Pengembangan Guru:</span></p><p class="ql-align-justify"><span style="color: rgb(136, 136, 136);">13.&nbsp;Pada aspek </span><strong style="color: rgb(136, 136, 136);">Manajemen Kemitraan</strong><span style="color: rgb(136, 136, 136);">&nbsp;terdapat 69% KOP yang menilai dirinya belum cukup baik (tidak mampu dan kurang mampu) dan 31% menilai dirinya cukup baik (cukup mampu dan mampu) dalam aspek mengelola kemitraan.</span></p><p class="ql-align-justify"><span style="color: rgb(136, 136, 136);">14.&nbsp;Pada aspek </span><strong style="color: rgb(136, 136, 136);">Perencanaan Strategis</strong><span style="color: rgb(136, 136, 136);">&nbsp;terdapat 50% KOP yang menilai dirinya belum cukup baik (tidak mampu dan kurang mampu) dan 50% menilai dirinya cukup baik (cukup mampu dan mampu) dalam aspek mengelola kemitraan.</span></p><p class="ql-align-justify"><span style="color: rgb(136, 136, 136);">15.&nbsp;Pada aspek </span><strong style="color: rgb(136, 136, 136);">Kemampuan Adaptasi</strong><span style="color: rgb(136, 136, 136);">&nbsp;terdapat 37% KOP yang menilai dirinya belum cukup baik (tidak mampu dan kurang mampu) dan 63% menilai dirinya cukup baik (cukup mampu dan mampu) dalam aspek mengelola kemitraan.</span></p><p class="ql-align-justify"><span style="color: rgb(136, 136, 136);">16.&nbsp;Pada aspek </span><strong style="color: rgb(136, 136, 136);">Pengukuran Dampak </strong><span style="color: rgb(136, 136, 136);">terdapat 44% KOP yang menilai dirinya belum cukup baik (tidak mampu dan kurang mampu) dan 56% menilai dirinya cukup baik (cukup mampu dan mampu) dalam aspek mengelola kemitraan.</span></p><p class="ql-align-justify"><span style="color: rgb(136, 136, 136);">17.&nbsp;Pada aspek </span><strong style="color: rgb(136, 136, 136);">Manajemen Organisasi</strong><span style="color: rgb(136, 136, 136);">&nbsp;terdapat 63% KOP yang menilai dirinya belum cukup baik (tidak mampu dan kurang mampu) dan 38% menilai dirinya cukup baik (cukup mampu dan mampu) dalam aspek mengelola kemitraan.</span></p><p class="ql-align-justify"><span style="color: rgb(136, 136, 136);">18.&nbsp;Pada aspek </span><strong style="color: rgb(136, 136, 136);">Manajemen Finansial </strong><span style="color: rgb(136, 136, 136);">terdapat 44% KOP yang menilai dirinya belum cukup baik (tidak mampu dan kurang mampu) dan 56% menilai dirinya cukup baik (cukup mampu dan mampu) dalam aspek mengelola kemitraan.</span></p><p class="ql-align-justify"><br></p><p class="ql-align-center">

                              <img style="max-width:75%;width:75%;height:auto;margin-left: auto;margin-right: auto;display: block;" src="uploads/assesment/JumlahKOPTiap7.png">

                              <strong style="color: rgb(136, 136, 136);">Grafik 7. Asesmen Kapasitas Klaster Pengembangan Guru</strong></p><p class="ql-align-justify"><br></p><p class="ql-align-justify"><br></p><p class="ql-align-justify"><strong style="color: rgb(136, 136, 136);">7. Asesmen Kapasitas Klaster Teknologi dalam Pendidikan</strong></p><p class="ql-align-justify"><br></p><p class="ql-align-justify"><span style="color: rgb(136, 136, 136);">Berikut adalah hasil “Asesmen Kapasitas” Klaster Teknologi dalam Pendidikan:</span></p><p class="ql-align-justify"><span style="color: rgb(136, 136, 136);">19.&nbsp;Pada aspek </span><strong style="color: rgb(136, 136, 136);">Manajemen Kemitraan</strong><span style="color: rgb(136, 136, 136);">&nbsp;terdapat 18% KOP yang menilai dirinya belum cukup baik (tidak mampu dan kurang mampu) dan 82% menilai dirinya cukup baik (cukup mampu dan mampu) dalam aspek mengelola kemitraan.</span></p><p class="ql-align-justify"><span style="color: rgb(136, 136, 136);">20.&nbsp;Pada aspek </span><strong style="color: rgb(136, 136, 136);">Perencanaan Strategis</strong><span style="color: rgb(136, 136, 136);">&nbsp;terdapat 36% KOP yang menilai dirinya belum cukup baik (tidak mampu dan kurang mampu) dan 64% menilai dirinya cukup baik (cukup mampu dan mampu) dalam aspek mengelola kemitraan.</span></p><p class="ql-align-justify"><span style="color: rgb(136, 136, 136);">21.&nbsp;Pada aspek </span><strong style="color: rgb(136, 136, 136);">Kemampuan Adaptasi</strong><span style="color: rgb(136, 136, 136);">&nbsp;terdapat 27% KOP yang menilai dirinya belum cukup baik (tidak mampu dan kurang mampu) dan 73% menilai dirinya cukup baik (cukup mampu dan mampu) dalam aspek mengelola kemitraan.</span></p><p class="ql-align-justify"><span style="color: rgb(136, 136, 136);">22.&nbsp;Pada aspek </span><strong style="color: rgb(136, 136, 136);">Pengukuran Dampak </strong><span style="color: rgb(136, 136, 136);">terdapat 55% KOP yang menilai dirinya belum cukup baik (tidak mampu dan kurang mampu) dan 45% menilai dirinya cukup baik (cukup mampu dan mampu) dalam aspek mengelola kemitraan.</span></p><p class="ql-align-justify"><span style="color: rgb(136, 136, 136);">23.&nbsp;Pada aspek </span><strong style="color: rgb(136, 136, 136);">Manajemen Organisasi</strong><span style="color: rgb(136, 136, 136);">&nbsp;terdapat 45% KOP yang menilai dirinya belum cukup baik (tidak mampu dan kurang mampu) dan 55% menilai dirinya cukup baik (cukup mampu dan mampu) dalam aspek mengelola kemitraan.</span></p><p class="ql-align-justify"><span style="color: rgb(136, 136, 136);">24.&nbsp;Pada aspek </span><strong style="color: rgb(136, 136, 136);">Manajemen Finansial </strong><span style="color: rgb(136, 136, 136);">terdapat 45% KOP yang menilai dirinya belum cukup baik (tidak mampu dan kurang mampu) dan 55% menilai dirinya cukup baik (cukup mampu dan mampu) dalam aspek mengelola kemitraan.</span></p><p class="ql-align-justify"><br></p><p class="ql-align-justify"><br></p><p class="ql-align-center">

                                <img style="max-width:75%;width:75%;height:auto;margin-left: auto;margin-right: auto;display: block;" src="uploads/assesment/JumlahKOPTiap8.png">

                                <strong style="color: rgb(136, 136, 136);">Grafik 8. Asesmen Kapasitas Klaster Pendidikan Karakter</strong></p><p><br></p>
              </div>
              <div class="col-sm-6 col-lg-6 col-xl-6" style="margin-bottom:50px;margin-top:50px;" align="center">
                <router-link type="button" class="btn_2" style="background-color:#ffffff" to="/antarklaster">{{ $t('message.sectionAssesmentbtn1')}}
                </router-link>
              </div>
              <div class="col-sm-6 col-lg-6 col-xl-6" style="margin-bottom:50px;margin-top:50px;" align="center">

              </div>
            </div>
        </div>
    </section>
    <!-- End List Pesan -->

  </div>
</template>

<!-- script js -->
<script>
import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.css';
import moment from 'moment';
moment.locale("id");

export default {
  name: 'tiapklaster',
  components: {
    Loading 
  },
  data() {
    return {
      isLoading: false,
      fullPage: false,
      canCancel: false,
      useSlot: false,
      loader: 'spinner',
      bgColor: '#ffffff',
      height: 128,
      width: 128,
      color: '#1D437D',
      zindex: 9998,
    };
  },
  created() { 
  },
  mounted() {
    window.scrollTo(0, 500);
  },
  methods: {
    formatTime(value) {
        return moment(value, "HH:mm:ss").format("hh:mm");
    },
    formatDate(value) {
        return moment(value).format("DD MMMM YYYY");
    }
  }
};
</script>

<style scoped>
  .image{
      position:relative;
      overflow:hidden;
      padding-bottom:100%;
  }
  .image img{
        position: absolute;
        max-width: 100%;
        max-height: 100%;
        width: 100%;
        height: 100%;
        top: 50%;
        left: 50%;
        object-fit: cover;
        transform: translateX(-50%) translateY(-50%);
  }  
  .mobile-social-share {
      background: none repeat scroll 0 0 #EEEEEE;
      display: block !important;
      min-height: 70px !important;
      margin: 50px 0;
  }

  .mobile-social-share h3 {
      color: inherit;
      float: left;
      font-size: 15px;
      line-height: 20px;
      margin: 25px 25px 0 25px;
  }

  .share-group {
      float: right;
      /*margin: 18px 25px 0 0;*/
  }

  .btn-group {
      display: inline-block;
      font-size: 0;
      position: relative;
      vertical-align: middle;
      white-space: nowrap;
  }

  .mobile-social-share ul {
      float: right;
      list-style: none outside none;
      margin: 0;
      min-width: 61px;
      padding: 0;
  }

  .share {
      min-width: 17px;
  }

  .mobile-social-share li {
      display: block;
      font-size: 18px;
      list-style: none outside none;
      margin-bottom: 3px;
      margin-left: 4px;
      margin-top: 3px;
  }

  .btn-share {
      background-color: #BEBEBE;
      border-color: #CCCCCC;
      color: #333333;
  }

  .btn-twitter {
      background-color: #3399CC !important;
      width: 51px;
      color:#FFFFFF!important;
  }

  .btn-facebook {
      background-color: #3D5B96 !important;
      width: 51px;
      color:#FFFFFF!important;
  }

  .btn-facebook {
      background-color: #3D5B96 !important;
      width: 51px;
      color:#FFFFFF!important;
  }

  .btn-mail {
      background-color: #FFC90E !important;
      width: 51px;
      color:#FFFFFF!important;
  }

  .caret {
      border-left: 4px solid rgba(0, 0, 0, 0);
      border-right: 4px solid rgba(0, 0, 0, 0);
      border-top: 4px solid;
      display: inline-block;
      height: 0;
      margin-left: 2px;
      vertical-align: middle;
      width: 0;
  }

  #socialShare {
      /*max-width:59px;*/
      /*margin-bottom:18px;*/
  }

  #socialShare > a{
      padding: 6px 10px 6px 10px;
  }

  @media (max-width : 320px) {
      #socialHolder{
          padding-left:5px;
          padding-right:5px;
      }
      
      .mobile-social-share h3 {
          margin-left: 0;
          margin-right: 0;
      }
      
      #socialShare{
          margin-left:5px;
          margin-right:5px;
      }
      
      .mobile-social-share h3 {
          font-size: 15px;
      }
  }

  @media (max-width : 238px) {
      .mobile-social-share h3 {
          font-size: 12px;
      }
  }
</style>