<template>
    <!-- Modal -->
    <div
        class="modal fade text-left updateProfileModal"
        id="gantiPassword"
        tabindex="-1"
        role="dialog"
        aria-labelledby="exampleModalLongTitle"
        aria-hidden="true"
    >
        <div class="modal-dialog" role="dialog" aria-setsize="lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="judul_ganti">Update Profile</h4>
                    <button
                        type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-label="Close"
                    >
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="formUserUpdate" @submit.prevent="updateData()" autocomplete="off">
                  <div class="modal-body">
                    <div class="row">
                      <div class="form-group col-md-6">
                        <label class="form-control-label" for="inputBasicFirstName">Photo Profile</label>
                        <div class="img-cropper">
                          <vue-cropper
                            ref="cropper"
                            class="img-crop"
                            :aspect-ratio="1 / 1"
                            :cropBoxMovable="true"
                            :cropBoxResizable="false"
                            :autoCrop="true"
                            :autoCropArea="1"
                            :viewMode="3"
                            :minCropBoxWidth="200"
                            :minCropBoxHeight="200"
                            :minContainerWidth="200"
                            :minContainerHeight="200"
                            :background="false"
                            :src="imgSrc"
                            preview=".preview"
                            dragMode="move"
                          />
                        </div>
                      <br>
                      <input
                        ref="input"
                        type="file"
                        id="imageUp"
                        name="image"
                        accept="image/*"
                        @change="setImage"
                      />
                      <br><br>
                      <button type="button" class="btn btn-primary" @click.prevent="cropImage">Crop</button>
                      <br><small style="color:red"> *image upload max 2MB</small>

                      </div>
                      <div class="form-group col-md-6" style="text-align: center;">
                        <label class="form-control-label" for="inputBasicFirstName">Preview</label>
                        <img
                          class="form-control"
                          v-if="cropImg"
                          :src="cropImg"
                          alt="Cropped Image"
                          style="width:100%;height:auto;"
                        />
                      </div>
                      <div class="form-group col-md-6">
                        <label class="form-control-label" for="inputBasicFirstName">First Name</label>
                        <input
                          type="textfield"
                          class="form-control "
                          placeholder="Input your first name"
                          v-model="form.firstName"
                          autocomplete="off"
                          required 
                        >
                      </div>
                      <div class="form-group col-md-6">
                        <label class="form-control-label" for="inputBasicLastName">Last Name</label>
                        <input
                          type="textfield"
                          class="form-control "
                          placeholder="Input your last name"
                          v-model="form.lastName"
                          autocomplete="off"
                          required 
                        >
                      </div>
                      <div class="form-group col-md-6">
                        <label class="form-control-label" for="inputBasicUserName">Username</label>
                        <input
                          type="textfield"
                          class="form-control "
                          placeholder="Input your username"
                          v-model="form.userName"
                          autocomplete="off"
                          required readonly
                        >
                      </div>
                      <div class="form-group col-md-12">
                        <label class="form-control-label" for="inputBasicUserName">Email</label>
                        <input
                          type="textfield"
                          class="form-control "
                          placeholder="Input your email"
                          v-model="form.email"
                          autocomplete="off"
                          required
                        >
                      </div>
                      <div class="form-group col-md-12">
                        <label class="form-control-label" for="inputBasicUserName">Tempat Lahir</label>
                        <input
                          type="textfield"
                          class="form-control "
                          placeholder="Input your tempat"
                          v-model="form.tempatLahir"
                          autocomplete="off"
                          required
                        >
                      </div>
                      <div class="form-group col-md-12">
                        <label class="form-control-label" for="inputBasicUserName">Tanggal Lahir</label>
                        <input
                          type="date"
                          class="form-control "
                          placeholder="yyyy/mm/dd" pattern="(^(((0[1-9]|1[0-9]|2[0-8])[\/](0[1-9]|1[012]))|((29|30|31)[\/](0[13578]|1[02]))|((29|30)[\/](0[4,6,9]|11)))[\/](19|[2-9][0-9])\d\d$)|(^29[\/]02[\/](19|[2-9][0-9])(00|04|08|12|16|20|24|28|32|36|40|44|48|52|56|60|64|68|72|76|80|84|88|92|96)$)"
                          v-model="form.tanggalLahir"
                          autocomplete="off"
                          required
                        >
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-pure" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Update changes</button>
                  </div>
                </form>
            </div>
        </div>
    </div>
    <!-- End Modal -->
</template>

<!-- script js -->
<script>
import VueCropper from 'vue-cropperjs';
import 'cropperjs/dist/cropper.css';

export default {
    name: "modal",
    components: { 
      VueCropper,
    },
    props: {
        modalUpdate: {
            type: Boolean
        },
        updateGanti: {
            type: Object
        },
        closeModal : {
          type : Function
        }
    },
    data() {
        return {
            imgSrc: 'theme/avatar.png',
            cropImg: '',
            modalOpen: false,
            errors: [],
            form:{
                id: '',
                photoProfile: 'kosong',
                photoProfileOld: '',
                roleCode: '',
                firstName: '',
                lastName: '',
                userName: '',
                password: '',
                email:'',
                tempatLahir : "",
                tanggalLahir : '',
            },
        };
    },
    watch: {
        updateGanti(newVal) {
            if (newVal) {
                this.form.id = newVal.id; 
                var path = "uploads/photo_profile/";
                var img = newVal.photo_profile;
                this.imgSrc = path+img;
                this.form.photoProfileOld = newVal.photo_profile;
                this.form.roleCode = newVal.role;
                this.form.firstName = newVal.first_name;
                this.form.lastName = newVal.last_name;
                this.form.userName = newVal.username;
                this.form.password = newVal.password;
                this.form.email = newVal.email;
                this.form.tempatLahir = newVal.birth_place;
                this.form.tanggalLahir = newVal.birth_date;
                this.$refs.cropper.replace(this.imgSrc);
            }
        }
    },

    methods: {
        cropImage() {
          // get image data for post processing, e.g. upload or setting image src
          this.cropImg = this.$refs.cropper.getCroppedCanvas().toDataURL();
          this.form.photoProfile = this.$refs.cropper.getCroppedCanvas().toDataURL();
        },
        setImage(e) {
          const file = e.target.files[0];
          if (file.type.indexOf('image/') === -1) {
            alert('Please select an image file');
            return;
          }
          if (typeof FileReader === 'function') {
            const reader = new FileReader();
            reader.onload = (event) => {
              this.imgSrc = event.target.result;
              // rebuild cropperjs with the updated source
              this.$refs.cropper.replace(event.target.result);
            };
            reader.readAsDataURL(file);
          } else {
            alert('Sorry, FileReader API not supported');
          }
        },
        move(offsetX, offsetY) {
          this.$refs.cropper.move(offsetX, offsetY);
        },
        reset() {
          this.$refs.cropper.reset();
        },
        updateData() {
          Swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, update it!',
            confirmButtonClass: 'btn btn-primary',
            cancelButtonClass: 'btn btn-danger ml-1',
            buttonsStyling: false,
            showLoaderOnConfirm: true,
            preConfirm: () => {
              return axios.post("/api/updateprofile2/" + this.form.id, {
                id: this.form.id,
                photo_profile: this.form.photoProfile, 
                photo_profile_old: this.form.photoProfileOld,
                user_name: this.form.userName,
                email: this.form.email,
                role_code: this.form.roleCode,
                first_name: this.form.firstName, 
                last_name: this.form.lastName,
                birth_date: this.form.tanggalLahir,
                birth_place: this.form.tempatLahir,
                username: localStorage.getItem('username'),
                fullname: localStorage.getItem('fullname'),
              })
              .then(response => {
                this.closeModal();
                $(".updateProfileModal").modal('hide');
                this.reset();
                this.imgSrc = 'theme/avatar.png',
                this.cropImg = '',
                this.form.photoProfile = 'kosong'
                this.form.photoProfileOld = ''
                this.form.id = ''
                this.form.roleCode = ''
                this.form.firstName = ''
                this.form.lastName = ''
                this.form.userName = ''
                this.form.password = ''
                this.form.email = ''
                this.form.tempatLahir = ''
                this.form.tanggalLahir = ''
                $('#imageUp').val("");
                return 
              })
              .catch(error => {
                Swal.showValidationMessage(
                  `Request failed: ${error}`
                )
              })
            },
            allowOutsideClick: () => !this.$swal.isLoading()
          }).then(function (result) {
            if (result.value) {
              Swal.fire(
                {
                  type: "success",
                  title: 'Updated!',
                  text: 'Your file has been Update.',
                  confirmButtonClass: 'btn btn-success',
                }
              )
            }
          }.bind(this))
        }
    }
};
</script>
<style scoped>
  .img-crop {
    width: 200px;
    height: 200px;
  }
</style>