<template>
    <!-- Modal -->
    <div
        class="modal fade text-left gantiPasswordModal"
        id="gantiPassword"
        tabindex="-1"
        role="dialog"
        aria-labelledby="exampleModalLongTitle"
        aria-hidden="true"
    >
        <div class="modal-dialog" role="dialog" aria-setsize="lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="judul_ganti">Ganti Password</h4>
                    <button
                        type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-label="Close"
                    >
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form
                    id="formgantiPassword"
                    @submit.prevent="insertData()"
                    autocomplete="off"
                >
                    <div class="modal-body">
                        <div class="row">
                            <div class="form-group col-md-12">
                                <label
                                    class="form-control-label"
                                    for="oldPassword"
                                    >Password lama</label
                                >
                                <input
                                    type="password"
                                    class="form-control"
                                    placeholder="Masukan Password lama anda"
                                    v-model="form.oldPass"
                                    required
                                />
                            </div>

                            <div class="form-group col-md-12">
                                <label
                                    class="form-control-label"
                                    for="newPassword"
                                    >Password baru</label
                                >
                                <input
                                    type="password"
                                    class="form-control"
                                    placeholder="Masukan Password baru anda"
                                    v-model="form.newPass"
                                    required
                                />
                            </div>

                            <div class="form-group col-md-12">
                                <label
                                    class="form-control-label"
                                    for="confirmPassword"
                                    >Konfirmasi Password baru</label
                                >
                                <input
                                    type="password"
                                    class="form-control"
                                    placeholder="Masukan Password baru anda"
                                    v-model="form.confirmPass"
                                    required
                                />
                            </div>

                            <div class="form-group col-md-12">
                                <div v-if="errors.length">
                                    <!-- <b>Please correct the following error(s):</b> -->
                                    <div
                                        class="alert alert-danger"
                                        role="alert"
                                    >
                                        <p v-for="error in errors">
                                            {{ error }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">
                            Simpan
                        </button>
                        <button
                            type="button"
                            class="btn btn-default btn-pure"
                            data-dismiss="modal"
                            @click="closeModal"
                        >
                            Close
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- End Modal -->
</template>

<!-- script js -->
<script>
export default {
    name: "modal",
    props: {
        openModal: {
            type: Boolean
        },
        viewGanti: {
            type: Object
        }
    },
    data() {
        return {
            modalOpen: false,
            errors: [],
            form: {
                oldPass: "",
                newPass: "",
                confirmPass: "",
                id: ""
            }
        };
    },
    watch: {
        viewGanti(newVal) {
            if (newVal) {
                this.form.id = newVal.id;
            }
        }
    },

    methods: {
        closeModal() {
            this.modalOpen = !this.modalOpen;
            this.form.oldPass = '';
            this.form.newPass = '';
            this.form.confirmPass ='';
            $('.gantiPasswordModal').modal('hide');
        },
        insertData(event) {
            this.errors = [];
            if (this.form.newPass != this.form.confirmPass) {
                this.errors.push("Konfirmasi password baru belum sesuai");
            } else {
                Swal.fire({
                    title: "Are you sure?",
                    text: "You won't be able to revert this!",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#3085d6",
                    cancelButtonColor: "#d33",
                    confirmButtonText: "Yes, Updated it!",
                    confirmButtonClass: "btn btn-primary",
                    cancelButtonClass: "btn btn-danger ml-1",
                    buttonsStyling: false
                }).then(
                    function(result) {
                        if (result.value) {
                            axios
                                .post("/api/updatePass", {
                                    id: this.form.id,
                                    oldPass: this.form.oldPass,
                                    newPass: this.form.newPass,                                  
                                })
                                .then(response => {                                   
                                    if (response.data.status == 'gagal') {
                                          this.errors.push("Password lama anda tidak sesuai");
                                    }else{
                                        Swal.fire({
                                            type: "success",
                                            title: "Updated!",
                                            text: "Your file has been Updated.",
                                            confirmButtonClass:
                                                "btn btn-success"
                                        });
                                         this.closeModal();
                                    }
                                });
                        }
                    }.bind(this)
                );
            }
        }
    }
};
</script>
