<template>
  <!-- Modal -->
  <div
    class="modal fade text-left updateDonasiMod"
    id="modalUpdateDonasi"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLongTitle"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="dialog" aria-setsize="lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="judul_donasi">Update Data Donasi</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>       
          <form id="formUpdateDonasi" @submit.prevent="insertData()" autocomplete="off">
            <div class="modal-body">
              <div class="row">
                <div class="form-group col-md-12">
                   <label class="form-control-label" for="inputBasicLastName">Donasi Tahunan</label>
                  <ul class="list-unstyled mb-0">
                    <li class="d-inline-block mr-2">
                      <fieldset>
                        <div class="vs-radio-con">
                          <input
                            type="radio"
                            id="radiopilihUpdate1"
                            name="konfirmasiDonasi"                           
                            value="Belum Bersedia"
                            v-model="form.jenisUpdateDonasi"
                            
                          />
                          <span class="vs-radio">
                            <span class="vs-radio--border"></span>
                            <span class="vs-radio--circle"></span>
                          </span>
                          <span class>Belum Bersedia</span>
                        </div>
                      </fieldset>
                    </li>
                    <li class="d-inline-block mr-2">
                      <fieldset>
                        <div class="vs-radio-con">
                          <input
                            type="radio"
                            id="radiopilihUpdate2"
                            name="konfirmasiDonasi"
                            value="Dibawah 600.000"
                            v-model="form.jenisUpdateDonasi"                        
                            
                          />
                          <span class="vs-radio">
                            <span class="vs-radio--border"></span>
                            <span class="vs-radio--circle"></span>
                          </span>
                          <span class>Di bawah 600.000</span>
                        </div>
                      </fieldset>
                    </li>
                    <li class="d-inline-block mr-2">
                      <fieldset>
                        <div class="vs-radio-con">
                          <input
                            type="radio"
                            id="radiopilihUpdate3"
                            name="konfirmasiDonasi"                       
                            value="600.000"
                            v-model="form.jenisUpdateDonasi"
                            
                          />
                          <span class="vs-radio">
                            <span class="vs-radio--border"></span>
                            <span class="vs-radio--circle"></span>
                          </span>
                          <span class>600.000</span>
                        </div>
                      </fieldset>
                    </li>
                    <li class="d-inline-block mr-2">
                      <fieldset>
                        <div class="vs-radio-con">
                          <input
                            type="radio"
                            id="radiopilihUpdate4"                       
                            name="konfirmasiDonasi"
                            value="Diatas 600.000"
                            v-model="form.jenisUpdateDonasi"
                            
                          />
                          <span class="vs-radio">
                            <span class="vs-radio--border"></span>
                            <span class="vs-radio--circle"></span>
                          </span>
                          <span class>Di atas 600.000</span>
                        </div>
                      </fieldset>
                    </li>
                  </ul>
                </div>

                <div class="form-group col-md-12">
                  <label class="form-control-label" for>Keterangan</label>
                  <textarea
                    class="form-control col-sm-12"
                    autocomplete="off"
                    rows="3"
                    
                    v-model="form.alasanUpdateDonasi"
                    placeholder="Keterangan belum bersedia"
                  ></textarea>
                </div>
              </div>
            </div>

            <div class="form-group col-md-12">
              <label class="form-control-label" for="nominal">Nominal</label>              
              <input
                type="number"
                class="form-control col-sm-12"
                placeholder="Donasi"
                id="nominalUpdateDonasiUpdate"                
                max="100000000000"
                v-model="form.nominalUpdateDonasi"
                autocomplete="off"
                
              />
            </div>

              <div class="form-group col-md-12">
              <label class="form-control-label" for="nominal">Bukti Transfer</label>
              <div class="col-md-12" v-if="form.image.length > 23">
                <!-- <img :src="form.image" class="img-responsive" height="70" width="90" /> -->
                <!-- <img class="form-control" :src="`${'uploads/bukti_transfer/'+form.image}`"  @error="(() => form.image = 'ContohBukti.png')" style="width:50%;height:auto;" alt="..."> -->
                <img class="img-responsive" :src="`${form.image}`" @error="(() => form.image ='uploads/bukti_transfer/ContohBukti.png')"  style="width:100%;height:auto;"/>

                <!-- <img class="form-control" :src="`${'uploads/bukti_transfer/'+form.image}`"  @error="(() => form.image = 'ContohBukti.png')" style="width:100%;height:auto;" alt="..."> -->
              </div>
              <input
                type="file"
                id="fileUpdateDonasi"
                class="form-control"
                placeholder="Pilih file"
                accept="jpg/png/pdf/jpeg"
                @change="previewFiles"
                
              />
              <br><small style="color:red"> *image upload max 2MB</small>
            </div>

            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-danger"
                data-dismiss="modal"
                @click="closeModal"
              >Close</button>                
               <button type="submit" class="btn btn-primary">Save Changes</button>
            </div>
          </form>
      
      </div>
    </div>
  </div>
  <!-- End Modal -->
</template>

<!-- script js -->
<script>
export default {
  name: "modal",
  props: {
    openModal: {
      type: Boolean
    },
    updateDonasi:{
        type: Object
    }  
  },
  data() {
    return {
      disabled: true,
      req : true,
      reqalasan : false,
      modalOpenDonasi: false,
      showData: false,
      value : "",
      test: true,
      form: {       
        jenisUpdateDonasi: "",
        alasanUpdateDonasi: "",               
        nominalUpdateDonasi: "",
        buktiUpdateDonasi: "",
        fileSebelumnya: "",
        id_kop : "",
        image: "",       
      }
    
    };
  },
  watch:{
      updateDonasi(datas){
         this.form.jenisUpdateDonasi = datas.donasi_tahunan;
         this.form.alasanUpdateDonasi = datas.ket_tdk_bersedia;
         this.form.nominalUpdateDonasi = datas.konfirmasi_donasi;    
         this.form.id_kop = datas.id_kop;   
         this.form.image = 'uploads/bukti_transfer/'+datas.bukti_donasi;
         this.form.fileSebelumnya = datas.bukti_donasi; 
      }
  },
  methods: {    
    closeModal() {
      this.modalOpenDonasi = !this.modalOpenDonasi;
    },   
    showModal() {
      this.showData = true;
      console.log(this.showData);
    },

     previewFiles: function(event) {
      console.log(event.target.files);
      this.filename = event.target.files[0].name;
      var datas = event.target.files[0];
      let files = event.target.files || event.dataTransfer.files;
      if (!files.length) return;
      this.createImage(files[0]);
    },
    createImage(data) {
      let reader = new FileReader();
      let vm = this;
      reader.onload = e => {
        this.form.image = e.target.result;
      };
      reader.readAsDataURL(data);
    },

    async insertData() {
      // if(this.form.image != ''){      
      Swal.fire({
        title: "Are you sure?",
        text: "You won't be able to revert this!",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Yes, insert it!",
        confirmButtonClass: "btn btn-primary",
        cancelButtonClass: "btn btn-danger ml-1",
        buttonsStyling: false,
        preConfirm: () => {
          return axios.post("/api/updateIuran", {
              bukti_donasi: this.form.image,
              donasi_tahunan: this.form.jenisUpdateDonasi,
              ket_tdk_bersedia: this.form.alasanUpdateDonasi,
              konfirmasi_donasi: this.form.nominalUpdateDonasi,
              fileSebelumnya: this.form.fileSebelumnya,
              id_kop : this.form.id_kop               
            })
          .then(response => {

            $(".updateDonasiMod").modal("hide");              
            this.closeModal();   

            return 
          })
          .catch(error => {
            Swal.showValidationMessage(
              `Request failed: ${error}`
            )
          })
        },
        allowOutsideClick: () => !this.$swal.isLoading()
      }).then(
        function(result) {
          if (result.value) {
            Swal.fire(
              {
                type: "success",
                title: 'Updated!',
                text: 'Your file has been Updated',
                confirmButtonClass: 'btn btn-success',
              }
            )
          }
        }.bind(this)
      );

      // }
    },

  }
};
</script>

<style scoped>
.card-item__cover {
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-default-button {
  margin-right: 22.25rem;
}
.vs-radio-con {
  color: black;
}

/*.updateDonasiMod {
  overflow-y: auto;
   overflow: hidden;  
}*/
</style>

