<template>
  <!-- Modal -->
  <div
    class="modal fade text-left updateTertier"
    id="updateDataTertier"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLongTitle"
    aria-hidden="true"    
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="myModalupdate">Update data survey tahunan</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form id="updateData"  autocomplete="off">
          <div class="modal-body">
            <div class="row">
             <div class="form-group col-md-12">
                <label class="form-control-label" for="inputBasicLastName">Siapa stakeholder / Beneficiaries</label>
                <div class="col-md-12">                  
                  <Select2
                    id="fulltypeCluster"
                    v-model="form.namaBenefit"
                    :options="myOptionsBenefit"
                    :settings="{ placeholder: '', width: '100%' }"
                    @change="myChangeEvent($event)"                    
                   :disabled="disabledData"
                  />
                </div>
              </div>

            <div class="form-group col-md-12" v-if="other == true">
              <label class="form-control-label" for="otherBenefit">Stakeholder / Beneficiaries lain</label>
              <div class="col-md-12">
               <input
               type="textfield"
               class="form-control"
               placeholder="Masukan nama Stakeholder / Beneficiaries"
               v-model="form.otherBenefit"
               autocomplete="off"
                @change="myChangeEvent($event)" 
               :required="req"
                 />   
                 </div>           
              </div>

               <div class="form-group col-md-12">
                <label class="form-control-label" for="inputBasicLastName">Stakeholder / Beneficiaries lain</label>
                <div class="col-md-12">
                  <Select2
                    id="fulltypeScopeMulti"
                    v-model="form.skalaBenefit"
                    :options="myOptionsSkala"
                    :settings="{ placeholder: 'Choose here ', width: '100%' }"                  
                    :disabled="disabledData"
                  />
                </div>
              </div>

              <div class="form-group col-md-12">
                 <label class="form-control-label"
                  for="inputBasicLastName"
                >Program Tanunan</label>
                  <textarea
                    class="form-control col-sm-12"
                    autocomplete="off"
                    rows="3"                 
                    v-model="form.kegiatanOrganisasi"
                    placeholder="Tell us your annual program"
                   :disabled="disabledData"
                  ></textarea>
                </div>
                </div>
            </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Tutup</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- End Modal -->
</template>
<script>
import Select2 from "v-select2-component";
export default {
  components: {
    Select2
  },
  name: "modal",
  props: {
    openModal: {
      type: Boolean
    }, 
    updateModal:{
      type:Object
    },
  },
  data() {
    return {
      disabledData:true,
      other : false,
      errors: [],
      tipe: 1,
        form: {
        namaBenefit: "",       
        skalaBenefit: "",     
        kegiatanOrganisasi: "",
        id_kop: "",
        otherBenefit:'',
      },
      myOptionsBenefit: [
        { id: "Anak", text: "Anak" },
        { id: "Guru", text: "Guru" },
        { id: "Orang Tua", text: "Orang Tua" },
        { id: "Sekolah", text: "Sekolah"},
        { id: "Masyarakat Umum", text: "Masyarakat Umum"},
        { id: "Lainnya", text: "Lainnya"}
      ],
      myOptionsSkala: [
        { id: "Kurang dari 5 Orang", text: "Kurang dari 5 Orang" },
        { id: "5 - 15 Orang", text: "5 - 15 Orang" },
        { id: "16 - 25 Orang", text: "16 - 25 Orang" },
        { id: "26 - 50 Orang", text: "26 - 50 Orang" },
        { id: "Lebih dari 50 Orang", text: "Lebih dari 50 Orang" }
      ],     
    };
  },
  watch: { 
    updateModal(newVal) {
      if (newVal) {
        this.form.namaBenefit = newVal.nama_stakeholder;
        this.form.skalaBenefit = newVal.skala_stakeholder;       
        this.form.kegiatanOrganisasi = newVal.ulasan_program_tahunan;           
      }
    },    
  },
};
  </script>