<script>
// import the styles


// add to component
</script>

<template>

  <!-- BEGIN: Content-->
  <div class="app-content content">
      <div class="content-overlay"></div>
      <div class="header-navbar-shadow"></div>
      <div class="content-wrapper">
          <div class="content-header row">
              <div class="content-header-left col-md-9 col-12 mb-2">
                  <div class="row breadcrumbs-top">
                      <div class="col-12">
                          <h2 class="content-header-title float-left mb-0">Sub Klasifikasi's</h2>
                          <div class="breadcrumb-wrapper col-12">
                              <ol class="breadcrumb">
                                  <li class="breadcrumb-item"><a href="index.html">Home</a>
                                  </li>
                                  <li class="breadcrumb-item"><a href="#">Master</a>
                                  </li>
                                  <li class="breadcrumb-item"><a href="#">Setting</a>
                                  </li>
                                  <li class="breadcrumb-item active">Sub Klasifikasi
                                  </li>
                              </ol>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="content-header-right text-md-right col-md-3 col-12 d-md-block d-none">
                  <div class="form-group breadcrum-right">
                      <div class="dropdown">
                        <button class="btn-icon btn btn-primary btn-round btn-sm dropdown-toggle"data-toggle="tooltip"
                          data-original-title="Refresh" v-on:click="onRefresh" aria-haspopup="true" aria-expanded="false"><i class="feather icon-refresh-ccw"></i>
                        </button>

                      </div>
                  </div>
              </div>
          </div>
          <insert-sub-klasifikasi-mod :open-modal="modalOpen1" :close-modal="loadItems"></insert-sub-klasifikasi-mod>
          <update-sub-klasifikasi-mod :open-modal="updateOpen1" :update="update1" :close-modal="loadItems"></update-sub-klasifikasi-mod>
          <insert-sub-klasifikasii-mod :open-modal="modalOpen2" :close-modal="loadItems"></insert-sub-klasifikasii-mod>
          <update-sub-klasifikasii-mod :open-modal="updateOpen2" :update="update2" :close-modal="loadItems"></update-sub-klasifikasii-mod>
          <div class="content-body">
            <!-- Basic example section start -->
            <section id="basic-examples">
                <div class="card">
                    <div class="card-content">
                      <div class="card-body">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="subklasifikasi1-tab-fill" data-toggle="tab" href="#subklasifikasi1-fill" role="tab" aria-controls="subklasifikasi1-fill" aria-selected="true">Sub Kualifikasi</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="subklasifikasi2-tab-fill" data-toggle="tab" href="#subklasifikasi2-fill" role="tab" aria-controls="subklasifikasi2-fill" aria-selected="true">Sub Klasifikasi</a>
                            </li>
                        </ul>
                        <div class="tab-content pt-1">
                          <div class="tab-pane active" id="subklasifikasi1-fill" role="tabpanel" aria-labelledby="subklasifikasi1-tab-fill">
                            <div class="card-header">
                              <h4 class="card-title">Jumlah Sub Kualifikasi : {{total1}}</h4>
                              <div class="content-header-right text-md-right col-md-3 col-12 d-md-block d-none">
                                  <div class="form-group breadcrum-right">
                                      <div class="dropdown">
                                        <template v-for="actionS in action" v-if="actionS == 'Insert'">
                                          <button class="btn-icon btn btn-primary btn-round btn-sm dropdown-toggle" data-target=".insertSubKlasifikasi1Mod" data-toggle="modal" type="button" @click="openModal1" aria-haspopup="true" aria-expanded="false"><i class="feather icon-file-plus"></i> <b>New</b> </button>
                                        </template>
                                      </div>
                                  </div>
                              </div>
                            </div>
                            <vue-good-table
                              mode="remote"
                              @on-page-change="onPageChange"
                              @on-sort-change="onSortChange"
                              @on-column-filter="onColumnFilter"
                              @on-per-page-change="onPerPageChange"
                              @on-search="onSearch"
                              :totalRows="totalRecords"
                              :isLoading.sync="isLoading"
                              :pagination-options="{
                                enabled: true,
                                dropdownAllowAll: false,
                                mode: 'pages'
                              }"
                              :search-options="{
                                enabled: true,
                                skipDiacritics: true,
                              }"
                              :rows="rows"
                              :columns="columns">
                              <template slot="table-row" slot-scope="props">
                                <span v-if="props.column.field == 'action'"> 
                                  <template v-for="actionS in action">
                                    <template v-if="actionS == 'Update'">
                                      <button class="btn-icon btn btn-info btn-sm mr-1 mb-1 waves-effect waves-light" data-target=".updateSubKlasifikasi1Mod" data-toggle="modal" type="button" title='Update' @click="updateModal1(props.row.id_subklasifikasi1)"><i class="feather icon-edit" aria-hidden="true"></i> Update</button>
                                    </template>
                                    <template v-if="actionS == 'Delete'">
                                      <button class="btn-icon btn btn-danger btn-sm mr-1 mb-1 waves-effect waves-light" title='Delete' @click="deleteData1(props.row.id_subklasifikasi1)"><i class="feather icon-delete" aria-hidden="true"></i> Delete</button>
                                    </template>
                                  </template>
                                </span>
                                <span v-else>
                                  {{props.formattedRow[props.column.field]}}
                                </span>
                              </template>
                            </vue-good-table>
                          </div>
                          <div class="tab-pane" id="subklasifikasi2-fill" role="tabpanel" aria-labelledby="subklasifikasi2-tab-fill">
                            <div class="card-header">
                              <h4 class="card-title">Jumlah Sub Klasifikasi : {{total2}}</h4>
                              <div class="content-header-right text-md-right col-md-3 col-12 d-md-block d-none">
                                  <div class="form-group breadcrum-right">
                                      <div class="dropdown">
                                        <template v-for="actionS in action" v-if="actionS == 'Insert'">
                                          <button class="btn-icon btn btn-primary btn-round btn-sm dropdown-toggle" data-target=".insertSubKlasifikasi2Mod" data-toggle="modal" type="button" @click="openModal2" aria-haspopup="true" aria-expanded="false"><i class="feather icon-file-plus"></i> <b>New</b> </button>
                                        </template>
                                      </div>
                                  </div>
                              </div>
                            </div>
                            <vue-good-table
                              mode="remote"
                              @on-page-change="onPageChange2"
                              @on-sort-change="onSortChange2"
                              @on-column-filter="onColumnFilter2"
                              @on-per-page-change="onPerPageChange2"
                              @on-search="onSearch2"
                              :totalRows="totalRecords2"
                              :isLoading.sync="isLoading"
                              :pagination-options="{
                                enabled: true,
                                dropdownAllowAll: false,
                                mode: 'pages'
                              }"
                              :search-options="{
                                enabled: true,
                                skipDiacritics: true,
                              }"
                              :rows="rows2"
                              :columns="columns2">
                              <template slot="table-row" slot-scope="props">
                                <span v-if="props.column.field == 'action'"> 
                                  <template v-for="actionS in action">
                                    <template v-if="actionS == 'Update'">
                                      <button class="btn-icon btn btn-info btn-sm mr-1 mb-1 waves-effect waves-light" data-target=".updateSubKlasifikasi2Mod" data-toggle="modal" type="button" title='Update' @click="updateModal2(props.row.id_subklasifikasi2)"><i class="feather icon-edit" aria-hidden="true"></i> Update</button>
                                    </template>
                                    <template v-if="actionS == 'Delete'">
                                      <button class="btn-icon btn btn-danger btn-sm mr-1 mb-1 waves-effect waves-light" title='Delete' @click="deleteData2(props.row.id_subklasifikasi2)"><i class="feather icon-delete" aria-hidden="true"></i> Delete</button>
                                    </template>
                                  </template>
                                </span>
                                <span v-else>
                                  {{props.formattedRow[props.column.field]}}
                                </span>
                              </template>
                            </vue-good-table>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
            </section>
            <!-- // Basic example section end -->
          </div>
      </div>
  </div>
  <!-- END: Content-->
</template>

<!-- script js -->
<script>
import InsertSubKlasifikasi1 from './InsertSubKlasifikasi1.vue';
import UpdateSubKlasifikasi1 from './UpdateSubKlasifikasi1.vue';
import InsertSubKlasifikasi2 from './InsertSubKlasifikasi2.vue';
import UpdateSubKlasifikasi2 from './UpdateSubKlasifikasi2.vue';
import 'vue-good-table/dist/vue-good-table.css'
import { VueGoodTable } from 'vue-good-table';
import moment from 'moment';
moment.locale("id");

const _ = require('lodash');

export default {
    name: 'msubklasifikasi',
    components: {
      'vue-good-table' : VueGoodTable,
      'insert-sub-klasifikasi-mod' : InsertSubKlasifikasi1,
      'update-sub-klasifikasi-mod' : UpdateSubKlasifikasi1,
      'insert-sub-klasifikasii-mod' : InsertSubKlasifikasi2,
      'update-sub-klasifikasii-mod' : UpdateSubKlasifikasi2,
    },
    data() {
        return {
            isLoading: false,
            modalOpen1: false,
            updateOpen1: false,
            update1: {},
            modalOpen2: false,
            updateOpen2: false,
            update2: {},
            columns: [
                {
                    label: 'Sub Kualifikasi',
                    field: 'subklasifikasi1',
                    filterable: true,
                },
                {
                  label: 'Action',
                  field: 'action',
                  sortable: false,
                },
            ],
            rows: [],
            totalRecords: 0,
            serverParams: {
              columnFilters: {
              },
              sort: {       
                field: 'created_at', 
                type: 'desc',
              },
              page: 1, 
              perPage: 10,
              searchTerm: ''
            },
            total1: '',
            columns2: [
                {
                    label: 'Sub Klasifikasi',
                    field: 'subklasifikasi2',
                    filterable: true,
                },
                {
                  label: 'Action',
                  field: 'action',
                  sortable: false,
                },
            ],
            rows2: [],
            totalRecords2: 0,
            serverParams2: {
              columnFilters: {
              },
              sort: {       
                field: 'created_at', 
                type: 'desc',
              },
              page: 1, 
              perPage: 10,
              searchTerm: ''
            },
            total2: '',
            action: [],
        };
    },
    beforeCreate(){
        this.loading = true;
        axios
        .get("/session")
        .then(response => {
            this.id = response.data.id;
            this.role = response.data.role;
            this.login = response.data.login;
            axios
            .get("/api/getSide/" + this.id )
            .then(response => {
                this.data = response.data;
                var routesUser = [];
                this.data.forEach(function(puki, index) {
                  var nam = puki.Link.substr(1);
                  routesUser.push(nam);
                }); 
                var n = routesUser.includes(this.$options.name);
                console.log(n)
                if(this.login == true && n == true){
                  this.loading = false;
                  this.getAction(this.id,this.$options.name)
                } else if (this.login == true && n == false) {
                  this.$router.push('/not404');
                  this.loading = false;
                } else {
                  window.location.href = "/";
                  // this.$router.push('/not404');
                  this.loading = false;
                }
            });
        });
    },
    computed: {
    },
    mounted() {
      this.loadItems()
    },
    methods: {
      getAction(id,link){
        axios
            .get("/api/action/" + id + "/" + link)
            .then(response => {
              this.action = response.data;
            });
      },
      loadItems() {
        this.getFromServer(this.serverParams).then((response) => {
              this.totalRecords = response.data.subklasifikasi1s.total;
              this.total1 = this.totalRecords
              this.rows = response.data.subklasifikasi1s.data;
          })

        this.getFromServer2(this.serverParams2).then((response) => {
              this.totalRecords2 = response.data.subklasifikasi2s.total;
              this.total2 = this.totalRecords2
              this.rows2 = response.data.subklasifikasi2s.data;
          })
      },
      getFromServer(subklasifikasi1s) {
        return axios.get(`/api/getSubKlasifikasi1?searchTerm=${subklasifikasi1s.searchTerm}&page=${subklasifikasi1s.page}&per_page=${subklasifikasi1s.perPage}&field=${subklasifikasi1s.sort.field}&type=${subklasifikasi1s.sort.type}`);
      },
      updateParams(newProps) {
        this.serverParams = Object.assign({}, this.serverParams, newProps);
      },
      onPageChange(params) {
        this.updateParams({page: params.currentPage});
        this.loadItems();
      },
      onPerPageChange(params) {
        this.updateParams({perPage: params.currentPerPage});
        this.loadItems();
      },
      onSortChange(params) {
        this.updateParams({
          sort: {
            type: params[0].type,
            field: params[0].field,
          },
        });
        this.loadItems();
      },
      onColumnFilter(params) {
        this.updateParams(params);
        this.loadItems();
      },
      onSearch(params) {
        this.updateParams(params);
        this.loadItems();
      },

      getFromServer2(subklasifikasi2s) {
        return axios.get(`/api/getSubKlasifikasi2?searchTerm=${subklasifikasi2s.searchTerm}&page=${subklasifikasi2s.page}&per_page=${subklasifikasi2s.perPage}&field=${subklasifikasi2s.sort.field}&type=${subklasifikasi2s.sort.type}`);
      },
      updateParams2(newProps) {
        this.serverParams2 = Object.assign({}, this.serverParams2, newProps);
      },
      onPageChange2(params) {
        this.updateParams2({page: params.currentPage});
        this.loadItems();
      },
      onPerPageChange2(params) {
        this.updateParams2({perPage: params.currentPerPage});
        this.loadItems();
      },
      onSortChange2(params) {
        this.updateParams2({
          sort: {
            type: params[0].type,
            field: params[0].field,
          },
        });
        this.loadItems();
      },
      onColumnFilter2(params) {
        this.updateParams2(params);
        this.loadItems();
      },
      onSearch2(params) {
        this.updateParams2(params);
        this.loadItems();
      },

      openModal1() {
          this.modalOpen1 = !this.modalOpen1;
      },
      openModal2() {
          this.modalOpen2 = !this.modalOpen2;
      }, 
      closeModal() {
          this.modalOpen1 = false;
          this.updateOpen1 = false;
          this.modalOpen2 = false;
          this.updateOpen2 = false;
      },
      updateModal1(params) {
          axios
            .get("/api/subklasifikasi1/" + params)
            .then(response => {
              this.update1 = response.data;
            });
          this.updateOpen1 = !this.updateOpen1;
      },
      updateModal2(params) {
          axios
            .get("/api/subklasifikasi2/" + params)
            .then(response => {
              this.update2 = response.data;
            });
          this.updateOpen2 = !this.updateOpen2;
      },

      deleteData1(id_subklasifikasi1) {
        Swal.fire({
          title: 'Are you sure?',
          text: "You won't be able to revert this!",
          type: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: 'Yes, delete it!',
          confirmButtonClass: 'btn btn-primary',
          cancelButtonClass: 'btn btn-danger ml-1',
          buttonsStyling: false,
        }).then(function (result) {
          if (result.value) {
            axios.post("/api/subklasifikasi1/" + id_subklasifikasi1, {
              username: localStorage.getItem('username'),
              fullname: localStorage.getItem('fullname'),
            }).then(response => {
              this.loadItems();
              Swal.fire(
                {
                  type: "success",
                  title: 'Deleted!',
                  text: 'Your file has been deleted.',
                  confirmButtonClass: 'btn btn-success',
                }
              )
            });
          }
        }.bind(this))
      },
      deleteData2(id_subklasifikasi2) {
        Swal.fire({
          title: 'Are you sure?',
          text: "You won't be able to revert this!",
          type: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: 'Yes, delete it!',
          confirmButtonClass: 'btn btn-primary',
          cancelButtonClass: 'btn btn-danger ml-1',
          buttonsStyling: false,
        }).then(function (result) {
          if (result.value) {
            axios.post("/api/subklasifikasi2/" + id_subklasifikasi2,{
              username: localStorage.getItem('username'),
              fullname: localStorage.getItem('fullname'),
            }).then(response => {
              this.loadItems();
              Swal.fire(
                {
                  type: "success",
                  title: 'Deleted!',
                  text: 'Your file has been deleted.',
                  confirmButtonClass: 'btn btn-success',
                }
              )
            });
          }
        }.bind(this))
      },

      onRefresh: function (event) {
        if (event) {
          // this.loadItems();
          this.content = '';
        }
      },

      formatDate(value) {
          return moment(value).format("DD MMMM YYYY")
      }

    }
};
</script>

