<template>
  <!-- Modal -->
  <div class="modal fade text-left updateSubKlasifikasi1Mod" id="default" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <h4 class="modal-title" id="myModalLabel1">Update Sub Kualifikasi</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <form id="formUpdateSubKasifikasi" @submit.prevent="updateData()" autocomplete="off">
                <div class="modal-body">
                  <div class="row">
                    <div class="form-group col-md-12">
                      <label class="form-control-label" for="inputBasicRoleName">Sub Kualifikasi </label>
                      <input
                        type="textfield"
                        class="form-control "
                        placeholder="Input your Sub Kualifikasi"
                        v-model="form.SubKlasifikasi1"
                        autocomplete="off"
                        required
                      >
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-pure" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
              </form>
          </div>
      </div>
  </div>

</template>

<!-- script js -->
<script>

export default {
  name: 'subklasifikasimodal',
  components :{
  },
  props : {
    updateModal1 : {
      type : Boolean
    },
    update : {
      type : Object
    },
    closeModal : {
      type : Function
    }
  },
  data(){
    return{
      form:{
        idSubKlasifikasi1: '',
        SubKlasifikasi1: '',
      },
    }
  },
  mounted() {
  },
  watch: {
    update(newVal) {
      if (newVal) {
        this.form.idSubKlasifikasi1 = newVal.id_subklasifikasi1;
        this.form.SubKlasifikasi1 = newVal.subklasifikasi1;
      }
    } 
  },
  methods: {
    updateData() {

      Swal.fire({
        title: 'Are you sure?',
        text: "You won't be able to revert this!",
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, update it!',
        confirmButtonClass: 'btn btn-primary',
        cancelButtonClass: 'btn btn-danger ml-1',
        buttonsStyling: false,
        showLoaderOnConfirm: true,
        preConfirm: () => {
          return axios.post("/api/subklasifikasi1/" + this.form.idSubKlasifikasi1, {
            subklasifikasi1: this.form.SubKlasifikasi1,
            username: localStorage.getItem('username'),
            fullname: localStorage.getItem('fullname'),
          })
          .then(response => {
            this.closeModal();
            $(".updateSubKlasifikasi1Mod").modal('hide');
            this.form.idSubKlasifikasi1 = ''
            this.form.SubKlasifikasi1 = ''
            return
          })
          .catch(error => {
            Swal.showValidationMessage(
              `Request failed: ${error}`
            )
          })       
        },
        allowOutsideClick: () => !this.$swal.isLoading()
        }).then(function (result) {
          if (result.value) {
            Swal.fire(
              {
                type: "success",
                title: 'Updated!',
                text: 'Your file has been Update.',
                confirmButtonClass: 'btn btn-success',
              }
            )
          }
      }.bind(this))
    }
  }
};
</script>

<style scoped>
</style>

