<template>
  <div>
    <!-- breadcrumb start-->
    <section class="breadcrumb breadcrumb_bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb_iner text-center">
                        <div class="breadcrumb_iner_item">
                            <h2 style="font-family: 'GothamBold'">{{ $t('message.sectionPaket3')}}</h2>
                            <p style="font-family: 'GothamNarrow'">{{ $t('message.sectionPaket1')}}<span>/</span>{{ $t('message.sectionPaket2')}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb start-->

    <!-- List Pelelangan -->
    <section class="special_cource padding_top" style="padding-bottom: 50px;" id="listKop">
        <div class="container">
            <div class="row">
              <div class="col-sm-12 col-lg-12 col-xl-12" > 
                <loading :active.sync="isLoading"
                                   :can-cancel="canCancel"
                                   :is-full-page="fullPage"
                                   :height="height"
                                   :width="width"
                                   :color="color"
                                   :loader="loader"
                                   :z-index="zindex"
                                   :background-color="bgColor"></loading>        
                <div class="row">
                  <div class="col-md-6" align="left">
                    <a type="button" class="btn_2" @click="back()" style="background-color:#ffffff">{{ $t('message.sectionPaketbtn3')}}</a>
                  </div>
                  <div class="form-group col-md-6" align="right">
                  </div>
                </div>
                <div class="card-body">
                  <table border='0' cellpadding='0' cellspacing='0' class='body' style='border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%; background-color: #f6f6f6;'>
                    <tr>
                      <td style='font-family: sans-serif; font-size: 14px; vertical-align: top;'>&nbsp;</td>
                      <td class='container' style='font-family: sans-serif; font-size: 14px; vertical-align: top; display: block; margin: 0 auto; max-width: 100%; padding: 10px; width: 100%;'>
                        <div class='content' style='box-sizing: border-box; display: block; margin: 0 auto; max-width: 100%; padding: 10px;'>

                          <!-- START CENTERED WHITE CONTAINER -->
                          <table class='main' style='border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%; background: #ffffff; border-radius: 3px;'>

                            <!-- START MAIN CONTENT AREA -->
                            <tr>
                              <td class='wrapper' style='font-family: sans-serif; font-size: 14px; vertical-align: top; box-sizing: border-box; padding: 20px;'>
                                <table border='0' cellpadding='0' cellspacing='0' style='border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%;'>
                                  <tr>
                                    <td style='font-family: sans-serif; font-size: 14px; vertical-align: top;' colspan="2">
                                      <h1>{{ detailPelelangan.nama_pekerjaan }}</h1>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td style='font-family: sans-serif; font-size: 14px; vertical-align: top;' colspan="2">
                                      <h2>Rp. {{ formatPrice(detailPelelangan.nilai_pagu) }}</h2>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td style='font-family: sans-serif; font-size: 14px; vertical-align: top;' colspan="2">
                                      <h4>{{ formatDate(detailPelelangan.valid_froms) }} - {{ formatDate(detailPelelangan.valid_tos) }}</h4>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td style='font-family: sans-serif; font-size: 14px; vertical-align: top;' colspan="2">
                                      <span class="ti-pencil-alt"></span> {{detailPelelangan.lokasi}}
                                      <hr>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td  colspan="2">
                                      <table class="table table-bordered" border="1" width="100%">
                                        <tbody>
                                          <tr>
                                            <td width="20%">Kode :</td>
                                            <td width="80%">{{detailPelelangan.kode_pekerjaan}}</td>
                                          </tr>
                                          <tr>
                                            <td width="20%">Nama Pekerjaan :</td>
                                            <td width="80%">{{detailPelelangan.nama_pekerjaan}}</td>
                                          </tr>
                                          <tr>
                                            <td width="20%">Lokasi Pekerjaan :</td>
                                            <td width="80%">{{detailPelelangan.lokasi}}</td>
                                          </tr>
                                          <tr>
                                            <td width="20%">Metode :</td>
                                            <td width="80%">{{detailPelelangan.metode}}</td>
                                          </tr>
                                          <tr>
                                            <td width="20%">Kategori :</td>
                                            <td width="80%">{{detailPelelangan.kategori_pekerjaan}}</td>
                                          </tr>
                                          <tr>
                                            <td width="20%">Kualifikasi :</td>
                                            <td width="80%">{{detailPelelangan.kualifikasi}}</td>
                                          </tr>
                                          <tr>
                                            <td width="20%">Anggaran :</td>
                                            <td width="80%">{{detailPelelangan.anggaran}}</td>
                                          </tr>
                                          <tr>
                                            <td width="20%">Nilai :</td>
                                            <td width="80%">Rp. {{ formatPrice(detailPelelangan.nilai_pagu) }}</td>
                                          </tr>
                                          <tr>
                                            <td width="20%">Keterangan :</td>
                                            <td v-html="detailPelelangan.keterangan" width="80%">{{detailPelelangan.keterangan}}</td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </td>
                                  </tr>
                                  <!-- <tr>
                                    <td v-html="detailPelelangan.keterangan" colspan="2">
                                      {{ detailPelelangan.keterangan }}
                                    </td>
                                  </tr> -->
                                  <tr>
                                    <td colspan="2">
                                      <hr>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td align="left"> 
                                      <div class="author_info">
                                        <span class="badge badge-round badge-info" style="font-weight:500;line-height:2;">{{detailPelelangan.stsJadwal}}</span>
                                        <p>Peserta : {{detailPelelangan.jmlVendor}}</p>
                                      </div>

                                    </td>
                                    <td align="right">
                                      <template v-if="detailPelelangan.stsJadwal == 'Info Pekerjaan'">
                                        <button class="btn_4" @click="ikutPelelangan(detailPelelangan.id_pekerjaan)" style="color:#fff;float:right">{{ $t('message.sectionPaketbtn6')}}</button>
                                      </template>
                                    </td>
                                  </tr>
                                </table>
                              </td>
                            </tr>
                          <!-- END MAIN CONTENT AREA -->
                          </table>

                          <!-- START FOOTER -->
                            <table border='0' cellpadding='0' cellspacing='0' style='border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%;'>
                            </table>
                          <!-- END FOOTER -->
                        <!-- END CENTERED WHITE CONTAINER -->
                        </div>
                      </td>
                      <td style='font-family: sans-serif; font-size: 14px; vertical-align: top;'>&nbsp;</td>
                    </tr>
                  </table>
                </div>   
              </div>
            </div>
        </div>
    </section>
    <!-- End List Pelelangan -->

  </div>
</template>

<!-- script js -->
<script>
import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.css';
import moment from 'moment';
moment.locale("id");

export default {
  name: 'detailpelelangan',
  components: {
    Loading 
  },
  data() {
    return {
      baseUrl: '',
      isLoading: false,
      fullPage: false,
      canCancel: false,
      useSlot: false,
      loader: 'spinner',
      bgColor: '#ffffff',
      height: 128,
      width: 128,
      color: '#1D437D',
      zindex: 9998,
      loading: false,
      login: false,
      disabled : false,
      detailPelelangan: {},
      next: '',
      prev: '',
      detailComment: [],
      detailCommentToShow: 5,
      dataLog: {
        email: '',
        idUser: '',
        idPost: '',
        role: '',
        login: false,
        username: '',
        nama: '',
        comment: '',
      },
    };
  },
  beforeCreate(){ 
    this.loading = true;
    axios
    .get("/session")
    .then(response => {
        this.dataLog.email = response.data.email;
        this.dataLog.idUser = response.data.id;
        this.dataLog.idPost = this.$route.params.id;
        this.dataLog.role = response.data.role;
        this.dataLog.login = response.data.login;
        this.dataLog.username = response.data.username;
        if(response.data.first_name == undefined){
          this.dataLog.nama = response.data.first_name;
        } else {
          this.dataLog.nama = response.data.first_name+" "+response.data.last_name;
        }
        
        if(response.data.login == undefined){
          this.login = false;
          this.disabled = false;
        } else {
          this.login = true;
          this.disabled = true;
        }
        var base_url = window.location.origin;
        this.baseUrl = base_url
    });
  },
  created() { 
    this.getDetail()
    this.getID()
  },
  mounted() {
    window.scrollTo(0, 500);
  },
  methods: {
    getID() {
      if(this.login !== false){
        this.disabled = false;
      } else {
        // this.disabled = true;
      }
    },
    getDetail() {
      this.isLoading = true;
      if(this.$route.params.id == undefined){
        this.$router.push("paketlelang");
      } else {
        axios
          .get("/api/getPelelanganbyID/" + this.$route.params.id)
          .then(response => {
            this.detailPelelangan = response.data;
            this.next = response.data.next;
            this.prev = response.data.prev;
            setTimeout(() => {
              this.isLoading = false
            },3000)
          });
      }
    },
    seeDetail(id){
      this.getDetail2(id)
    },
    getDetail2(id) {
      this.isLoading = true;
      if(this.$route.params.id == undefined){
        this.$router.push("paketlelang");
      } else {
        axios
          .get("/api/getPelelanganbyID/" + id)
          .then(response => {
            this.detailPelelangan = response.data;
            this.next = response.data.next;
            this.prev = response.data.prev;
            setTimeout(() => {
              this.isLoading = false
            },3000)
          });
      }
    },
    back(id){
      this.$router.push("paketlelang");
    },
    ikutPelelangan(id){
      console.log(this.login)
      if(this.login == false){
        this.$router.push("regin");
      } else {
        var sts;
        Swal.fire({
          title: 'Are you sure?',
          text: "You won't be able to revert this!",
          type: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: 'Yes, insert it!',
          confirmButtonClass: 'btn btn-primary',
          cancelButtonClass: 'btn btn-danger ml-1',
          buttonsStyling: false,
          showLoaderOnConfirm: true,
          preConfirm: () => {
            return axios.post("/api/applyPelelangan", {
              id: id,
              id_user: this.dataLog.idUser,
            })
            .then(response => {
              sts = response.data.status
              return
            })
            .catch(error => {
              Swal.showValidationMessage(
                `Request failed: ${error}`
              )
            })    
          },
          allowOutsideClick: () => !this.$swal.isLoading()
          }).then(function (result) {
            if (result.value) {
              if(sts == 'NoVendor'){
                Swal.fire(
                  {
                    type: "warning",
                    title: 'Failed!',
                    text: 'Tidak Ada Vendor.',
                    confirmButtonClass: 'btn btn-success',
                  }
                )
              } else if (sts == 'Gagal') {
                Swal.fire(
                  {
                    type: "warning",
                    title: 'Failed!',
                    text: 'Anda Sudah Apply Lelang.',
                    confirmButtonClass: 'btn btn-success',
                  }
                )
              } else {
                Swal.fire(
                  {
                    type: "success",
                    title: 'Inserted!',
                    text: 'Your file has been Insert.',
                    confirmButtonClass: 'btn btn-success',
                  }
                )
              }
            }
        }.bind(this))
      }
    },
    formatTime(value) {
        return moment(value, "HH:mm:ss").format("hh:mm");
    },
    formatDate(value) {
        return moment(value).format("DD MMMM YYYY");
    },
    formatPrice(value) {
        let val = (value/1).toFixed(2).replace('.', ',')
        return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")
    },
  }
};
</script>

<style scoped>
  .image{
      position:relative;
      overflow:hidden;
      padding-bottom:100%;
  }
  .image img{
        position: absolute;
        max-width: 100%;
        max-height: 100%;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
  }  
  .mobile-social-share {
      background: none repeat scroll 0 0 #EEEEEE;
      display: block !important;
      min-height: 70px !important;
      margin: 50px 0;
  }

  .mobile-social-share h3 {
      color: inherit;
      float: left;
      font-size: 15px;
      line-height: 20px;
      margin: 25px 25px 0 25px;
  }

  .share-group {
      float: right;
      /*margin: 18px 25px 0 0;*/
  }

  .btn-group {
      display: inline-block;
      font-size: 0;
      position: relative;
      vertical-align: middle;
      white-space: nowrap;
  }

  .mobile-social-share ul {
      float: right;
      list-style: none outside none;
      margin: 0;
      min-width: 61px;
      padding: 0;
  }

  .share {
      min-width: 17px;
  }

  .mobile-social-share li {
      display: block;
      font-size: 18px;
      list-style: none outside none;
      margin-bottom: 3px;
      margin-left: 4px;
      margin-top: 3px;
  }

  .btn-share {
      background-color: #BEBEBE;
      border-color: #CCCCCC;
      color: #333333;
  }

  .btn-twitter {
      background-color: #3399CC !important;
      width: 51px;
      color:#FFFFFF!important;
  }

  .btn-facebook {
      background-color: #3D5B96 !important;
      width: 51px;
      color:#FFFFFF!important;
  }

  .btn-facebook {
      background-color: #3D5B96 !important;
      width: 51px;
      color:#FFFFFF!important;
  }

  .btn-mail {
      background-color: #FFC90E !important;
      width: 51px;
      color:#FFFFFF!important;
  }

  .caret {
      border-left: 4px solid rgba(0, 0, 0, 0);
      border-right: 4px solid rgba(0, 0, 0, 0);
      border-top: 4px solid;
      display: inline-block;
      height: 0;
      margin-left: 2px;
      vertical-align: middle;
      width: 0;
  }

  #socialShare {
      /*max-width:59px;*/
      /*margin-bottom:18px;*/
  }

  #socialShare > a{
      padding: 6px 10px 6px 10px;
  }

  @media (max-width : 320px) {
      #socialHolder{
          padding-left:5px;
          padding-right:5px;
      }
      
      .mobile-social-share h3 {
          margin-left: 0;
          margin-right: 0;
      }
      
      #socialShare{
          margin-left:5px;
          margin-right:5px;
      }
      
      .mobile-social-share h3 {
          font-size: 15px;
      }
  }

  @media (max-width : 238px) {
      .mobile-social-share h3 {
          font-size: 12px;
      }
  }
</style>