<template>
  <div>
    <!-- breadcrumb start-->
    <section class="breadcrumb breadcrumb_bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb_iner text-center">
                        <div class="breadcrumb_iner_item">
                            <h2 style="font-family: 'GothamBold'">{{ $t('message.sectionPaket2')}}</h2>
                            <p style="font-family: 'GothamNarrow'">{{ $t('message.sectionPaket1')}}<span>/</span>{{ $t('message.sectionPaket2')}} BADDY</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb start-->

    <!-- List Pelelangan -->
    <section class="special_cource padding_top" style="padding-bottom: 50px;" id="listPelelangan">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-5">
                    <div class="section_tittle text-center">
                        <h2 style="font-family: 'GothamBold'">{{ $t('message.sectionPaket2')}}</h2>
                    </div>
                </div>
            </div>
            <div class="row">
              <div class="col-sm-12 col-lg-12 col-xl-12" style="margin-bottom:50px;">
                <div class="row">
                  <div class="col-md-12">
                    <template v-for="ops in myOptionsKategori">
                      <a type="button" class="btn_1" @click="cariKat(ops.text)" style="padding: 13.5px 44px;border-radius: 0;">{{ops.text}}</a>
                    </template>
                  </div>
                </div>
                 <div class="row">
                  <div class="col-md-3">
                  </div>
                  <div class="col-md-6" style="padding: 10px;">
                    <input
                      type="textfield"
                      class="form-control"
                      placeholder="Search"
                      v-on:keyup="cari()"
                      v-model="searchh"
                      autocomplete="off"
                      required
                    >
                  </div>
                  <div class="col-md-3" style="padding: 10px;">
                    <a type="button" href="#listPelelangan" class="btn_2" @click="reset()" style="background-color:#ffffff;float:right;">Reset</a>
                  </div>
                </div>
              </div>

              <div class="col-md-12 col-lg-12" style="min-height:500px;">
                <loading :active.sync="isLoading"
                         :can-cancel="canCancel"
                         :is-full-page="fullPage"
                         :height="height"
                         :width="width"
                         :color="color"
                         :loader="loader"
                         :z-index="zindex"
                         :background-color="bgColor"></loading>
                <div class="row">
                  <template v-if="list < listPelelangan.length" v-for="list in listPelelanganToShow">
                    <div class="col-md-12 col-lg-12" style="margin-bottom:10px;">
                        <div class="single_special_cource">
                          <div class="special_cource_text" style="border: 1px solid #edeff2;border-radius: 25px;">
                            <a href="#" @click="seeDetailPelelangan(listPelelangan[list].id_pekerjaan)"><h3 style="font-size:20px;height:60px;">{{listPelelangan[list].nama_pekerjaan}} </h3></a>
                            <!-- <template v-if="listPelelangan[list].nama_pekerjaan.length <= 45">
                              <a href="#" @click="seeDetail(listPelelangan[list].id_pekerjaan)"><h3 style="font-size:20px;height:60px;">{{listPelelangan[list].nama_pekerjaan}} </h3></a>
                            </template>
                            <template v-if="listPelelangan[list].nama_pekerjaan.length > 45">
                              <a href="#" @click="seeDetail(listPelelangan[list].id_pekerjaan)"><h3 style="font-size:20px;height:60px;">{{listPelelangan[list].nama_pekerjaan.substring(0, 45)}}. . .</h3></a>
                            </template> -->
                            <div class="author_info">
                                <div class="author_info_text">
                                    <h5>Rp. {{formatPrice(listPelelangan[list].nilai_pagu)}}</h5>
                                    <p>{{formatDate(listPelelangan[list].valid_from)}} - {{formatDate(listPelelangan[list].valid_to)}}</p>
                                    <p>{{listPelelangan[list].kategori_pekerjaan}}, {{listPelelangan[list].metode}}, {{listPelelangan[list].anggaran}}, {{listPelelangan[list].lokasi}}, {{listPelelangan[list].kualifikasi}}</p>
                                </div>
                                <div class="author_rating">
                                  <button class="btn_4" @click="seeDetailPelelangan(listPelelangan[list].id_pekerjaan)" style="color:#fff;">{{ $t('message.sectionPaketbtn2')}}</button>
                                </div>
                            </div>
                            <div class="author_info">
                                <div class="col-md-6" style="float:left">
                                    <span class="badge badge-round badge-info" style="float:left;font-weight:500;line-height:2;">{{listPelelangan[list].stsJadwal}}</span> 
                                </div>
                                <div class="col-md-6">  
                                    <p style="float:right">Peserta : {{listPelelangan[list].jmlVendor}}</p>
                                    <!-- <button class="btn_4" @click="ikutPelelangan(listPelelangan[list].id_pekerjaan)" style="color:#fff;float:right">{{ $t('message.sectionPaketbtn6')}}</button> -->
                                </div>
                            </div>
                          </div>
                        </div>
                    </div>
                  </template>
                </div>
              </div>
            </div>
            <template v-if="listPelelangan.length > 6">
              <div class="col-sm-12 col-lg-12 col-xl-12" style="margin-bottom:50px;margin-top:50px;" align="center">
                <a type="button" class="btn_2" @click="more()" style="background-color:#ffffff">{{ $t('message.sectionProfilebtn2')}}</a>
              </div>
            </template>
        </div>
    </section>
    <!-- End List Pelelangan -->

  </div>
</template>

<!-- script js -->
<script>
import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.css';
import moment from 'moment';
moment.locale("id");

export default {
  name: 'pelelangan',
  components: {
    Loading 
  },
  data() {
    return {
      baseUrl:'',
      isLoading: false,
      fullPage: false,
      canCancel: false,
      useSlot: false,
      loader: 'spinner',
      bgColor: '#ffffff',
      height: 128,
      width: 128,
      color: '#1D437D',
      zindex: 9998,
      loading: false,
      searchh: '',
      kat: 'kosong',
      listPelelangan: [],
      listPelelanganToShow: 6,
      myOptionsKategori: [],
    };
  },
  created() { 
    this.getListPelelangan()
    this.getKategori()
  },
  mounted() {
    window.scrollTo(0, 500);
  },
  methods: {
    getKategori(){
      axios.get("/api/dropdownkategoripekerjaan").then(response => {
        this.myOptionsKategori = response.data;
      });
    },
    getListPelelangan() {
      var base_url = window.location.origin;
      this.baseUrl = base_url
      this.isLoading = true;
      axios
        .get("/api/getListPelelanganAll/" + (this.listPelelanganToShow - 6))
        .then(response => {
          this.listPelelangan = response.data;
          setTimeout(() => {
            this.isLoading = false
          },3000)
        });
    },
    more(){
      this.listPelelanganToShow += 6;
      this.isLoading = true;
      axios
        .get("/api/getListPelelanganAll/" + (this.listPelelanganToShow - 6))
        .then(response => {
          var listlist = this.listPelelangan;
          response.data.forEach(function(puki, index) {
            listlist.push(puki);
          });
          this.listPelelangan = listlist;
          setTimeout(() => {
            this.isLoading = false
          },3000)
        });
    },
    cariKat(params) {
      this.kat = params
      this.cari()
    },
    cari() {
      this.isLoading = true;
      if(this.kat !== 'kosong' || this.searchh !== ''){
        var isi;
        if (this.searchh == '') {
          isi = "kosong"
        } else {
          isi = this.searchh
        }
        axios
          .get("/api/getListPelelanganAllCari/" + isi + "/" +this.kat)
          .then(response => {
          this.listPelelangan = response.data;
          setTimeout(() => {
            this.isLoading = false
          },3000)
        });
      } else {
        this.reset()
      }
    },
    reset() {
      this.getListPelelangan();
        this.searchh = ''
        this.kat = 'kosong'
    },
    seeDetailPelelangan(id){
      this.$router.push({ name: 'detailpelelangan', params: {id: id} });
    },
    // ikutPelelangan(id){
    //   if(this.login == false){
    //     this.$router.push("regin");
    //   } else {
    //     Swal.fire({
    //       title: 'Are you sure?',
    //       text: "You won't be able to revert this!",
    //       type: 'warning',
    //       showCancelButton: true,
    //       confirmButtonColor: '#3085d6',
    //       cancelButtonColor: '#d33',
    //       confirmButtonText: 'Yes, insert it!',
    //       confirmButtonClass: 'btn btn-primary',
    //       cancelButtonClass: 'btn btn-danger ml-1',
    //       buttonsStyling: false,
    //       showLoaderOnConfirm: true,
    //       preConfirm: () => {
    //         return axios.post("/api/applyPelelangan", {
    //           id: id,
    //         })
    //         .then(response => {
    //           return
    //         })
    //         .catch(error => {
    //           Swal.showValidationMessage(
    //             `Request failed: ${error}`
    //           )
    //         })    
    //       },
    //       allowOutsideClick: () => !this.$swal.isLoading()
    //       }).then(function (result) {
    //         if (result.value) {
    //           Swal.fire(
    //             {
    //               type: "success",
    //               title: 'Inserted!',
    //               text: 'Your file has been Insert.',
    //               confirmButtonClass: 'btn btn-success',
    //             }
    //           )
    //         }
    //     }.bind(this))
    //   }
    // },
    formatTime(value) {
        return moment(value, "HH:mm:ss").format("hh:mm");
    },
    formatPrice(value) {
        let val = (value/1).toFixed(2).replace('.', ',')
        return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")
    },
    formatDate(value) {
        return moment(value).format("DD MMMM YYYY");
    }
  }
};
</script>

<style scoped>
  .image{
      position:relative;
      overflow:hidden;
      padding-bottom:100%;
  }
  .image img{
        position: absolute;
        max-width: 100%;
        max-height: 100%;
        width: 100%;
        /*height: 100%;*/
        top: 50%;
        left: 50%;
        /*object-fit: cover;*/
        transform: translateX(-50%) translateY(-50%);
  }  

  .mobile-social-share {
      background: none repeat scroll 0 0 #EEEEEE;
      display: block !important;
      min-height: 70px !important;
      margin: 50px 0;
  }

  .mobile-social-share h3 {
      color: inherit;
      float: left;
      font-size: 15px;
      line-height: 20px;
      margin: 25px 25px 0 25px;
  }

  .share-group {
      float: right;
      /*margin: 18px 25px 0 0;*/
  }

  .btn-group {
      display: inline-block;
      font-size: 0;
      position: relative;
      vertical-align: middle;
      white-space: nowrap;
  }

  .mobile-social-share ul {
      float: right;
      list-style: none outside none;
      margin: 0;
      min-width: 61px;
      padding: 0;
  }

  .share {
      min-width: 17px;
  }

  .mobile-social-share li {
      display: block;
      font-size: 18px;
      list-style: none outside none;
      margin-bottom: 3px;
      margin-left: 4px;
      margin-top: 3px;
  }

  .btn-share {
      background-color: #BEBEBE;
      border-color: #CCCCCC;
      color: #333333;
  }

  .btn-twitter {
      background-color: #3399CC !important;
      width: 51px;
      color:#FFFFFF!important;
  }

  .btn-facebook {
      background-color: #3D5B96 !important;
      width: 51px;
      color:#FFFFFF!important;
  }

  .btn-facebook {
      background-color: #3D5B96 !important;
      width: 51px;
      color:#FFFFFF!important;
  }

  .btn-mail {
      background-color: #FFC90E !important;
      width: 51px;
      color:#FFFFFF!important;
  }

  .caret {
      border-left: 4px solid rgba(0, 0, 0, 0);
      border-right: 4px solid rgba(0, 0, 0, 0);
      border-top: 4px solid;
      display: inline-block;
      height: 0;
      margin-left: 2px;
      vertical-align: middle;
      width: 0;
  }

  #socialShare {
      /*max-width:59px;*/
      /*margin-bottom:18px;*/
  }

  #socialShare > a{
      padding: 6px 10px 6px 10px;
  }

  @media (max-width : 320px) {
      #socialHolder{
          padding-left:5px;
          padding-right:5px;
      }
      
      .mobile-social-share h3 {
          margin-left: 0;
          margin-right: 0;
      }
      
      #socialShare{
          margin-left:5px;
          margin-right:5px;
      }
      
      .mobile-social-share h3 {
          font-size: 15px;
      }
  }

  @media (max-width : 238px) {
      .mobile-social-share h3 {
          font-size: 12px;
      }
  }
</style>