<template>

  <!-- BEGIN: Content-->
  <div class="app-content content">
      <div class="content-overlay"></div>
      <div class="header-navbar-shadow"></div>
      <div class="content-wrapper">
          <div class="content-header row">
              <div class="content-header-left col-md-8 col-12 mb-2">
                  <div class="row breadcrumbs-top">
                      <div class="col-12">
                          <h2 class="content-header-title float-left mb-0">Penilaian Vendor</h2>
                          <div class="breadcrumb-wrapper col-12">
                              <ol class="breadcrumb">
                                  <li class="breadcrumb-item"><a href="index.html">Home</a>
                                  </li>
                                  <li class="breadcrumb-item"><a href="index.html">Penilaian Vendor</a>
                                  </li>
                                  <li class="breadcrumb-item active">Data Penilaian Vendor
                                  </li>
                              </ol>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="content-header-right text-md-right col-md-4 col-12 d-md-block d-none">
                  <div class="form-group breadcrum-right">
                      <div class="dropdown">

                          <button class="btn-icon btn btn-primary btn-round btn-sm dropdown-toggle"data-toggle="tooltip"
                            data-original-title="Refresh" v-on:click="onRefresh" aria-haspopup="true" aria-expanded="false"><i class="feather icon-refresh-ccw"></i>
                          </button>

                      </div>
                  </div>
              </div>
          </div>

          <view-penilaian-mod :open-modal="viewOpen" :view="view" :close-modal="loadItems"></view-penilaian-mod>
        
          <div class="content-body">
              <!-- Basic example section start -->
              <section id="basic-examples">
                  <div class="card">
                      <div class="card-header">
                          <h4 class="card-title">Jumlah Vendor : {{totalVendor}}</h4>
                      </div>
                      <div class="card-content">
                          <div class="card-body">

                            <vue-good-table
                              mode="remote"
                              @on-page-change="onPageChange"
                              @on-sort-change="onSortChange"
                              @on-column-filter="onColumnFilter"
                              @on-per-page-change="onPerPageChange"
                              @on-search="onSearch"
                              :totalRows="totalRecords"
                              :isLoading.sync="isLoading"
                              :pagination-options="{
                                enabled: true,
                                dropdownAllowAll: false,
                                mode: 'pages'
                              }"
                              :search-options="{
                                enabled: true,
                                skipDiacritics: true,
                              }"
                              :rows="rows"
                              :columns="columns">
                              <template slot="table-row" slot-scope="props">
                                <span v-if="props.column.field == 'action'"> 
                                  <button type="button" class="btn btn-outline-primary btn-sm dropdown-toggle mr-1" data-toggle="dropdown"><i class="feather icon-more-vertical"></i> Action</button>
                                  <ul class="dropdown-menu" style="top: auto; left: auto; padding: 5px;">
                                    <template v-for="actionS in action">
                                      <template v-if="actionS == 'View'">
                                        <li>
                                          <button class="btn-icon btn btn-primary btn-sm btn-block mr-1 mb-1 waves-effect waves-light" data-target=".viewPenilaianMod" data-toggle="modal" type="button" title='View Penilaian' @click="viewModal(props.row.id_vendor)"><i class="feather icon-eye" aria-hidden="true"></i> View Penilaian</button>
                                        </li>
                                      </template>
                                    </template>
                                  </ul>
                                </span>
                                <span v-if="props.column.field == 'rating'"> 
                                  <span class="pl-1 font-medium-3 border-left">
                                      <template v-for="b in 5">
                                        <a @click="addRating(b,props.row.id_vendor)"><i :id="'ratings'+b+'-'+props.row.id_vendor" class="feather icon-star text-warning"></i></a>
                                        {{cekRating(b,props.row.id_vendor,props.row.rating)}}
                                      </template>
                                  </span>
                                </span>
                                <span v-else-if="props.column.field == 'logo_vendor'">
                                  <img class="round-img" :src="`${props.row.logo_vendor}`" @error="(() => props.row.logo_vendor = 'uploads/logo_vendor/avatarDefault.png')" width="60" height="auto" alt="...">
                                </span>
                                <span v-else>
                                  {{props.formattedRow[props.column.field]}}
                                </span>
                              </template>
                            </vue-good-table>

                          </div>
                      </div>
                  </div>
              </section>
              <!-- // Basic example section end -->
          </div>
      </div>
  </div>
  <!-- END: Content-->

</template>

<!-- script js -->
<script>
import ViewPenilaian from './ViewPenilaian.vue';
import 'vue-good-table/dist/vue-good-table.css'
import { VueGoodTable } from 'vue-good-table';
import moment from 'moment';
moment.locale("id");

const _ = require('lodash');

export default {
    name: 'datapenilaianvendor',
    components: {
      'vue-good-table' : VueGoodTable,
      'view-penilaian-mod' : ViewPenilaian,
    },
    data() {
        return {
            totalVendor: '',
            isLoading: false,
            viewOpen: false,
            view: {},
            prints: [],
            columns: [
                {
                    label: 'Logo',
                    field: 'logo_vendor',
                },
                {
                    label: 'Nama Vendor',
                    field: 'nama_vendor',
                    filterable: true
                },
                {
                    label: 'Type',
                    field: 'jenis_vendor_new',
                    filterable: true
                },
                {
                    label: 'Email',
                    field: 'email_vendor',
                    filterable: true
                },
                {
                    label: 'Keikutsertaan Tender',
                    field: 'pekerjaan',
                    filterable: true
                },
                {
                    label: 'Rating',
                    field: 'rating',
                    filterable: true
                },
                {
                  label: 'Action',
                  field: 'action',
                  sortable: false,
                },
            ],
            rows: [],
            totalRecords: 0,
            serverParams: {
              columnFilters: {
              },
              sort: {       
                field: 'rating', 
                type: 'desc',
              },
              page: 1, 
              perPage: 10,
              searchTerm: ''
            },
            session: {
              id: '',
              id_person: '',
              role: ''
            },
            action: []
        };
    },
    beforeCreate(){
        this.loading = true;
        axios
        .get("/session")
        .then(response => {
            this.id = response.data.id;
            this.session.id = response.data.id;
            this.role = response.data.role;
            this.session.role = response.data.role;
            this.login = response.data.login;
            this.username = response.data.username;
            this.fullname = response.data.first_name+' '+response.data.last_name;
            axios
            .get("/api/getSide/" + this.id )
            .then(response => {
                this.data = response.data;
                var routesUser = [];
                this.data.forEach(function(puki, index) {
                  var nam = puki.Link.substr(1);
                  routesUser.push(nam);
                }); 
                var n = routesUser.includes(this.$options.name);
                console.log(n)
                if(this.login == true && n == true){
                  this.loading = false;
                  this.loadItems()
                  this.getAction(this.id,this.$options.name)
                } else if (this.login == true && n == false) {
                  this.$router.push('/not404');
                  this.loading = false;
                } else {
                  window.location.href = "/";
                  // this.$router.push('/not404');
                  this.loading = false;
                }
            });
        });
    },
    mounted() {
      this.listen()
        // this.loadItems()
        // this.cekUserMenu()
    },
    methods: {
      listen() {
        Echo.channel('newNotif') //Should be Channel Name
        .listen('NotifEvents', (e) => {
          if(this.id == e.message.id_receiver && e.message.jenis == "Pekerjaan"){
            this.loadItems()
          } 
        });

        Echo.channel('refreshEvent') //Should be Channel Name
        .listen('RefreshEvents', (e) => {
          this.loadItems()
        });
      },
      getAction(id,link){
        axios
            .get("/api/action/" + id + "/" + link)
            .then(response => {
              this.action = response.data;
            });
      },
      cekRating(id,id_vendor,cnt_ratings){

          $('#ratings'+id+'-'+id_vendor).removeClass('text-warning');
          $('#ratings'+id+'-'+id_vendor).removeClass("text-secondary");
          $('#ratings'+id+'-'+id_vendor).addClass("text-warning");

          if(id > cnt_ratings){
            var el = document.getElementById('ratings'+id+'-'+id_vendor);
            if(el !== null){
              if (this.hasClass(el, 'text-warning') == true){
                $('#ratings'+id+'-'+id_vendor).removeClass('text-warning');
                $('#ratings'+id+'-'+id_vendor).addClass("text-secondary");
              } else {
                $('#ratings'+id+'-'+id_vendor).removeClass('text-secondary');
                $('#ratings'+id+'-'+id_vendor).addClass("text-warning");
              }
            }
          }
      },
      addRating(id,id_vendor){ 
        Swal.fire({
          title: 'Are you sure?',
          text: "You won't be able to revert this!",
          type: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: 'Yes, insert it!',
          confirmButtonClass: 'btn btn-primary',
          cancelButtonClass: 'btn btn-danger ml-1',
          buttonsStyling: false,
          showLoaderOnConfirm: true,
          preConfirm: () => {
            return axios.post("/api/addRating", {
              rating: id,
              id_vendor: id_vendor,
              username: this.username,
              fullname: this.fullname,
              username: localStorage.getItem('username'),
              fullname: localStorage.getItem('fullname'),
            })
            .then(response => {
              for (let i = 1; i <= 5 ; i++) {
                $('#ratings'+i+'-'+id_vendor).removeClass('text-warning');
                $('#ratings'+i+'-'+id_vendor).addClass("text-secondary");
              }

              for (let j = 1; j <= id ; j++) {
                var el = document.getElementById('ratings'+j+'-'+id_vendor);
                if(el !== null){
                  if (this.hasClass(el, 'text-warning') == true){
                    $('#ratings'+j+'-'+id_vendor).removeClass('text-warning');
                    $('#ratings'+j+'-'+id_vendor).addClass("text-secondary");
                  } else {
                    $('#ratings'+j+'-'+id_vendor).removeClass('text-secondary');
                    $('#ratings'+j+'-'+id_vendor).addClass("text-warning");
                  }
                }
              }
              this.loadItems()
              this.loadItems() 
              return
            })
            .catch(error => {
              Swal.showValidationMessage(
                `Request failed: ${error}`
              )
            })
          },
          allowOutsideClick: () => !this.$swal.isLoading()
          }).then(function (result) {
            if (result.value) {
              Swal.fire(
                {
                  type: "success",
                  title: 'Inserted!',
                  text: 'Your file has been Insert.',
                  confirmButtonClass: 'btn btn-success',
                }
              )
            }
        }.bind(this))
      },
      hasClass(element, cls) {
        return (' ' + element.className + ' ').indexOf(' ' + cls + ' ') > -1;
      },
      getFromServer(vendors) {
          return axios.post(`/api/getPenilaianVendor?searchTerm=${vendors.searchTerm}&page=${vendors.page}&per_page=${vendors.perPage}&field=${vendors.sort.field}&type=${vendors.sort.type}`); 
      },

      updateParams(newProps) {
        this.serverParams = Object.assign({}, this.serverParams, newProps);
      },
      
      onPageChange(params) {
        this.updateParams({page: params.currentPage});
        this.loadItems();
      },

      onPerPageChange(params) {
        this.updateParams({perPage: params.currentPerPage});
        this.loadItems();
      },

      onSortChange(params) {
        this.updateParams({
          sort: {
            type: params[0].type,
            field: params[0].field,
          },
        });
        this.loadItems();
      },
      
      onColumnFilter(params) {
        this.updateParams(params);
        this.loadItems();
      },

      onSearch(params) {
        this.updateParams(params);
        this.loadItems();
      },

      closeModal() {
          this.viewOpen = false;
      },

      viewModal(params) {
          axios
            .get("/api/vendor/" + params)
            .then(response => {
              this.view = response.data;
            });
          this.viewOpen = !this.viewOpen;
      },


      loadItems() {
        this.getFromServer(this.serverParams).then((response) => {
            this.totalRecords = response.data.vendors.total;
            this.totalVendor = this.totalRecords
            this.rows = response.data.vendors.data;
        })
      },

      onRefresh: function (event) {
        if (event) {
          this.loadItems();
        }
      },

      formatDate(value) {
          return moment(value).format("DD MMMM YYYY")
      },

      formatPrice(value) {
          let val = (value/1).toFixed(2).replace('.', ',')
          return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")
      }

    }
};
</script>

<style scoped>
  .image img{
        position: absolute;
        max-width: 100%;
        max-height: 100%;
        width: 100%;
        /*height: 100%;*/
        top: 50%;
        left: 50%;
        /*object-fit: cover;*/
        transform: translateX(-50%) translateY(-50%);
  }   


</style>