<template>
  <!-- Modal -->
  <div class="modal fade text-left viewPenilaianMod" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel1">View Penilaian</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
          <!-- Nav tabs -->
          <ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">
              <li class="nav-item">
                  <a class="nav-link active" id="primer-tab-fill" data-toggle="tab" href="#primer-fill" role="tab" aria-controls="primer-fill" aria-selected="true">Data Vendor</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" id="dokumen-tab-fill" data-toggle="tab" href="#dokumen-fill" role="tab" aria-controls="dokumen-fill" aria-selected="false">Data Ikut Serta</a>
              </li>
          </ul>
          <!-- Tab panes -->
          <div class="tab-content pt-1">
              <div class="tab-pane active" id="primer-fill" role="tabpanel" aria-labelledby="primer-tab-fill">
                <div class="card-body">
                  <div class="row">
                    <div class="form-group col-md-12">
                      <label class="form-control-label" for="inputBasicFirstName">Vendor Logo</label>
                      <span v-if="form.logoVendor !== ''">
                        <img class="form-control" :src="`${form.logoVendor}`"  @error="(() => form.logoVendor = 'uploads/logo_vendor/avatarDefault.png')" style="width:30%;height:auto;" alt="...">
                      </span>
                    </div>
                    <div class="form-group col-md-12">
                      <label class="form-control-label" for="inputBasicFirstName">Nama Vendor</label>
                      <input
                        type="textfield"
                        class="form-control"
                        placeholder="Input your Vendor name"
                        v-model="form.namaVendor"
                        autocomplete="off"
                        required disabled
                      >
                    </div>
                    <div class="form-group col-md-12">
                      <label class="form-control-label" for="inputBasicFirstName">Deskripsi Vendor </label>
                      <textarea class="maxlength-textarea form-control" data-plugin="maxlength" data-placement="bottom-right-inside" maxlength="100" rows="3" placeholder="Input description" v-model="form.deskripsiVendor" required readonly></textarea>
                    </div>
                    <div class="form-group col-md-12">
                      <label class="form-control-label">Tipe Vendor</label>
                      <div class="col-md-12">
                        <Select2 id="jenisvendor" v-model="form.jenisVendor" :options="myOptionsJenis" :settings="{ placeholder: 'Select a Tipe', width: '100%' }" required disabled/>
                      </div>
                    </div>
                    <div class="form-group col-md-6">
                      <label class="form-control-label" for="inputBasicLastName">Nama PIC </label>
                      <input
                        type="textfield"
                        class="form-control"
                        placeholder="Input your name pic"
                        v-model="form.namaNarahubung"
                        autocomplete="off"
                        required disabled
                      >
                    </div>
                    <div class="form-group col-md-6">
                      <label class="form-control-label" for="inputBasicLastName">Email PIC </label>
                      <input
                        type="email"
                        class="form-control"
                        placeholder="Input your email pic"
                        v-model="form.emailNarahubung"
                        autocomplete="off"
                        required disabled
                      >
                    </div>
                    <div class="form-group col-md-6">
                      <label class="form-control-label" for="inputBasicLastName">Telpon PIC </label>
                      <input
                        type="number"
                        class="form-control"
                        placeholder="Input your telephone pic"
                        v-model="form.tlpNarahubung"
                        autocomplete="off"
                        required disabled
                      >
                    </div>
                    <div class="form-group col-md-12">
                      <label class="form-control-label" for="inputBasicLastName">Email Vendor</label>
                      <input
                        type="email"
                        class="form-control"
                        placeholder="Input your Vendor email"
                        v-model="form.emailVendor"
                        autocomplete="off"
                        required disabled
                      >
                    </div>
                    <div class="form-group col-md-6">
                      <label class="form-control-label" for="inputBasicLastName">No. Telp Vendor </label>
                      <input
                        type="number"
                        class="form-control"
                        placeholder="Input your Telp"
                        v-model="form.tlpVendor"
                        autocomplete="off"
                        required disabled
                      >
                    </div>
                    <div class="form-group col-md-6">
                      <label class="form-control-label" for="inputBasicLastName">No. Fax Vendor </label>
                      <input
                        type="number"
                        class="form-control"
                        placeholder="Input your Fax"
                        v-model="form.faxVendor"
                        autocomplete="off"
                        required disabled
                      >
                    </div>
                    <div class="form-group col-md-12">
                      <label class="form-control-label">Alamat Vendor</label>
                      <textarea class="maxlength-textarea form-control" data-plugin="maxlength" data-placement="bottom-right-inside" maxlength="100" rows="3" placeholder="Input address" v-model="form.alamatVendor" required disabled></textarea>
                    </div>
                    <div class="form-group col-md-6">
                      <label class="form-control-label" for="inputBasicLastName">Provinsi </label>
                      <input
                        type="textfield"
                        class="form-control"
                        placeholder="Input your work province"
                        v-model="form.provinsiVendor"
                        autocomplete="off"
                        required disabled
                      >
                    </div>
                    <div class="form-group col-md-6">
                      <label class="form-control-label" for="inputBasicLastName">Kota </label>
                      <input
                        type="textfield"
                        class="form-control"
                        placeholder="Input your work city"
                        v-model="form.kotaVendor"
                        autocomplete="off"
                        required disabled
                      >
                    </div>
                    <div class="form-group col-md-6">
                      <label class="form-control-label" for="inputBasicLastName">Kode Pos </label>
                      <input
                        type="number"
                        class="form-control"
                        placeholder="Input your Postal Code"
                        v-model="form.kodeposVendor"
                        autocomplete="off"
                        required disabled
                      >
                    </div>
                    <div class="form-group col-md-12">
                      <label class="form-control-label" for="inputBasicFirstName">Website Vendor</label>
                      <input
                        type="textfield"
                        class="form-control"
                        placeholder="Input your Vendor Website https://example.com"
                        v-model="form.webVendor"
                        autocomplete="off"
                        disabled
                      >
                    </div>
                    <div class="form-group col-md-12">
                      <label class="form-control-label" for="inputBasicFirstName">Facebook Vendor </label>
                      <input
                        type="textfield"
                        class="form-control"
                        placeholder="Input your Vendor facebook https://example.com/exampleName"
                        v-model="form.facebookVendor"
                        autocomplete="off"
                        disabled
                      >
                    </div>
                    <div class="form-group col-md-12">
                      <label class="form-control-label" for="inputBasicFirstName">Instagram Vendor</label>
                      <input
                        type="textfield"
                        class="form-control"
                        placeholder="Input your Vendor instagram https://example.com/exampleName"
                        v-model="form.instagramVendor"
                        autocomplete="off"
                        disabled
                      >
                    </div>
                    <div class="form-group col-md-12">
                      <label class="form-control-label" for="inputBasicLastName">Kantor Cabang </label>
                      <ul class="list-unstyled mb-0">
                          <li class="d-inline-block mr-2">
                            <table>
                              <tbody>
                                <tr>
                                  <td><input type="radio" id="inputBasicYes" name="inputCabang" value="Yes" v-model="form.cabangVendor" @change="cekCabang(1)" :checked="form.cabangVendor == 'Yes'" required disabled/></td>
                                  <td><label for="inputBasicYes" style="padding-left: 5px;">Yes</label></td>
                                </tr>
                              </tbody>
                            </table>                                 
                          </li>
                          <li class="d-inline-block mr-2">
                            <table>
                              <tbody>
                                <tr>
                                  <td><input type="radio" id="inputBasicNo" name="inputCabang" value="No" v-model="form.cabangVendor" @change="cekCabang(0)" :checked="form.cabangVendor == 'No'" required disabled/></td>
                                  <td><label for="inputBasicNo" style="padding-left: 5px;">No</label></td>
                                </tr>
                              </tbody>
                            </table>
                          </li>
                      </ul>
                    </div>
                    <template v-if="form.cabangVendor == 'Yes'">
                      <div class="form-group col-md-12">
                        <label class="form-control-label">Alamat Pusat<small style="color:red"> *required</small></label>
                        <textarea class="maxlength-textarea form-control" data-plugin="maxlength" data-placement="bottom-right-inside" maxlength="100" rows="3" placeholder="Input address" v-model="form.alamatPusat" required disabled ></textarea>
                      </div>
                      <div class="form-group col-md-6">
                        <label class="form-control-label" for="inputBasicLastName">No. Telp Pusat </label>
                        <input
                          type="number"
                          class="form-control"
                          placeholder="Input your Telp"
                          v-model="form.tlpPusat"
                          autocomplete="off"
                          required disabled
                        >
                      </div>
                      <div class="form-group col-md-6">
                        <label class="form-control-label" for="inputBasicLastName">No. Fak Pusat </label>
                        <input
                          type="number"
                          class="form-control"
                          placeholder="Input your Fax"
                          v-model="form.faxPusat"
                          autocomplete="off"
                          required disabled
                        >
                      </div>
                      <div class="form-group col-md-12">
                        <label class="form-control-label" for="inputBasicLastName">Email Pusat </label>
                        <input
                          type="email"
                          class="form-control"
                          placeholder="Input your Email"
                          v-model="form.emailPusat"
                          autocomplete="off"
                          required disabled
                        >
                      </div>
                    </template>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="dokumen-fill" role="tabpanel" aria-labelledby="dokumen-tab-fill">
                <div class="card-body">
                  <div class="accordion" id="accordionExample0">
                    <div class="collapse-border-item collapse-header card collapse-bordered" style="box-shadow: none;">
                      <template v-for="(row, index) in dataDokumen">
                        <div class="card-header" :id="`heading`+index" data-toggle="collapse" role="button" :data-target="`#collapse`+index" aria-expanded="false" :aria-controls="`collapse`+index">
                          <span class="lead collapse-title">
                            <span>{{row.nama_pekerjaan}} - Penawaran : Rp. {{ formatPrice(row.penawaran) }}</span>                                
                          </span>
                        </div>
                        <div :id="`collapse`+index" class="collapse"  :aria-labelledby="`heading`+index" data-parent="#accordionExample0">
                          <div class="card-body">
                            <div class="modal-body">
                              <div class="row">
                                <template v-if="row.status_penawaran !== 0">
                                </template>
                                <template v-else>
                                  <label class="form-control-label" for="inputBasicLastName" style="font-size: 24px;">Belum Upload</label>
                                </template>
      
                                <label class="form-control-label" for="inputBasicFirstName">Catatan</label>
                                <textarea class="maxlength-textarea form-control" data-plugin="maxlength" data-placement="bottom-right-inside" maxlength="100" rows="3" placeholder="Input catatan" disabled>{{row.catatan_penawaran}}</textarea>

                                <template v-if="row.validasi_penawaran == 2">
                                  <span class="badge badge-round badge-success">Diterima</span>
                                </template>
                                <template v-else-if="row.validasi_penawaran == 1">
                                  <span class="badge badge-round badge-danger">Ditolak</span>
                                </template>
                                <template v-else>
                                  <span class="badge badge-round badge-warning">Menunggu Validasi</span>
                                </template>

                              </div>
                            </div>
                          </div>
                        </div>
                      </template>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div> 
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!-- End Modal -->
</template>

<!-- script js -->
<script>
import Select2 from 'v-select2-component';
import pdf from 'vue-pdf';
export default {
  components: { 
    Select2,
    pdf
  },
  name: 'modal',
  props : {
    viewModal : {
      type : Boolean
    },
    view : {
      type : Object
    }
  },
  data(){
    return{
      form:{
        rating: '',
        idVendor: '',
        logoVendor: '',
        namaVendor: '',
        deskripsiVendor: '',
        namaNarahubung: '',
        emailNarahubung: '',
        tlpNarahubung: '',
        jenisVendor: '',
        emailVendor: '',
        tlpVendor: '',
        faxVendor: '',
        alamatVendor: '',
        provinsiVendor: '',
        kotaVendor: '',
        kodeposVendor: '',
        webVendor: '',
        facebookVendor: '',
        instagramVendor: '',
        cabangVendor: 'No',
        alamatPusat: '',
        emailPusat: '',
        tlpPusat: '',
        faxPusat: '',
      },
      myOptionsJenis: [],
      myOptionsPengurus: [
        {id:"Komisaris",text:"Komisaris"},
        {id:"Direksi",text:"Direksi"},
      ],
      myOptionsKlasifikasi1: [],
      myOptionsKlasifikasi2: [],
      dataDokumen: [],
    }
  },
  watch: {
    view(newVal) {
      if (newVal) {
        this.form.rating = newVal.rating
        this.form.idVendor = newVal.id_vendor
        this.form.logoVendor = newVal.logo_vendor
        this.form.namaVendor = newVal.nama_vendor
        this.form.deskripsiVendor = newVal.deskripsi_vendor
        this.form.namaNarahubung = newVal.nama_narahubung
        this.form.emailNarahubung = newVal.email_narahubung
        this.form.tlpNarahubung = newVal.tlp_narahubung
        this.form.jenisVendor = newVal.jenis_vendor
        this.form.emailVendor = newVal.email_vendor
        this.form.tlpVendor = newVal.tlp_vendor
        this.form.faxVendor = newVal.fax_vendor
        this.form.alamatVendor = newVal.alamat_vendor
        this.form.provinsiVendor = newVal.provinsi_vendor
        this.form.kotaVendor = newVal.kota_vendor
        this.form.kodeposVendor = newVal.kodepos_vendor
        this.form.webVendor = newVal.web_vendor
        this.form.facebookVendor = newVal.facebook_vendor
        this.form.instagramVendor = newVal.instagram_vendor
        this.form.cabangVendor = newVal.cabang_vendor
        this.form.alamatPusat = newVal.alamat_pusat
        this.form.emailPusat = newVal.email_pusat
        this.form.tlpPusat = newVal.tlp_pusat
        this.form.faxPusat = newVal.fax_pusat

        this.loadData();
      }
    } 
  },
  methods: {
    loadData() {
      axios.get("/api/dropdownJenisVendor").then(response => {
        this.myOptionsJenis = response.data;
      });

      axios.get("/api/dropdownSubKlasifikasi1").then(response => {
        this.myOptionsKlasifikasi1 = response.data;
      });

      axios.get("/api/dropdownSubKlasifikasi2").then(response => {
        this.myOptionsKlasifikasi2 = response.data;
      });

      this.getDokumen(this.form.idVendor)
    },
    getDokumen(id_vendor){
        axios
        .get("/api/getPenilaianIkutSerta/" + id_vendor)
        .then(response => {
          console.log(response.data)
          this.dataDokumen = response.data
        });
    },
    formatPrice(value) {
        let val = (value/1).toFixed(2).replace('.', ',')
        return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")
    }
  }
};
</script>

 