<template>  
        <!-- footer part start-->
        <footer class="footer-area">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-sm-6 col-md-8 col-xl-8">
                        <div class="single-footer-widget footer_2">
                            <h4 style="font-family: 'GothamNarrow'">{{ $t('message.sectionfooter4')}}</h4>
                            <div class="contact_info">
                                <p><span> </span>{{form.tempat}}  </p> <!-- {{ $t('message.sectionfooter5')}} -->
                                <p><span> </span>{{form.alamat}}</p> <!-- {{ $t('message.sectionfooter6')}} -->
                                <p><span> </span>{{form.email}}</p> <!-- {{ $t('message.sectionfooter7')}}  -->
                            </div>
                            <div class="social_icons">
                              <template v-if="form.facebook">
                                <a :href="form.facebook" target="_blank"> <i class="ti-facebook"></i> </a> &nbsp
                              </template>
                              <template v-if="form.twitter">
                                <a :href="form.twitter" target="_blank"> <i class="ti-twitter-alt"></i> </a> &nbsp
                              </template>
                              <template v-if="form.instagram">
                                <a :href="form.instagram" target="_blank"> <i class="ti-instagram"></i> </a> &nbsp
                              </template>
                                
                                 <!-- <a href="#"> <i class="ti-skype"></i> </a>  -->
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-sm-6 col-md-4">
                        <div class="single-footer-widget footer_1">
                            <a href="/"> <img src="themeLanding/img/logo-small2.png" alt=""> </a>
                            <template v-if="lg == 'ID'">
                                <!-- <p>{{form.kataMutiara}}</p> -->
                            </template>
                            <template v-else-if="lg == 'EN'">
                                <!-- <p>{{form.kataMutiaraEN}}</p> -->
                            </template>
                        </div>
                    </div>
                </div>

            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="copyright_part_text text-center">
                            <div class="row">
                                <div class="col-lg-12">
                                    <p class="footer-text m-0">
    								Copyright &copy; 2020 <a href="https://www.instagram.com/airbatbaddy/" class="text-bold-800 grey darken-2" target="_blank">Airbatbaddy</a> <br>All rights reserved
    								</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- footer part end-->
</template>

<script>
export default {
  name: 'FooterLanding',
  data() {
      return {
          isLoading: false,
          form:{
            id: '',
            instagram: '',
            facebook: '',
            twitter: '',
            email: '',
            tempat: '',
            alamat: '',
            kataMutiara: '',
            kataMutiaraEN: '',
          },
          action: [],
          lg: localStorage.getItem('lang'),
      };
  },
  computed() {
    this.displayLocale()
  },
  mounted() {
    this.getFooter()
  },
  methods: {
      getFooter(){
        axios
            .get("/api/getcontentFooter")
            .then(response => {
              this.form.id = response.data.id
              this.form.instagram = response.data.instagram
              this.form.facebook = response.data.facebook
              this.form.twitter = response.data.twitter
              this.form.email = response.data.email
              this.form.tempat = response.data.tempat
              this.form.alamat = response.data.alamat
              this.form.kataMutiara = response.data.katamutiara
              this.form.kataMutiaraEN = response.data.katamutiaraEN
            });
      },
  }
};
</script>



