<template>  
  <!--::header part start::-->
  <header class="main_menu home_menu">
      <div class="container">
          <div class="row align-items-center">
              <div class="col-lg-12"> 
                  <nav class="navbar navbar-expand-lg navbar-light">
                      <!-- <a class="navbar-brand" href="/"> <img src="themeLanding/img/logo-small.png" alt="Semua Murid Semua Guru" style="min-height: 53px; max-width: 100%;min-width: 137px;"> </a> -->
                      <a class="navbar-brand" href="/"> <img src="themeLanding/img/logo-small.png" alt="KIW" style="max-height: 53px; max-width: 100%;min-width: 137px;"> </a>

                      <button class="navbar-toggler" type="button" data-toggle="collapse"
                          data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                          aria-expanded="false" aria-label="Toggle navigation">
                          <span class="navbar-toggler-icon"></span>
                      </button>

                      <div class="collapse navbar-collapse main-menu-item justify-content-end"
                          id="navbarSupportedContent">
                          <template v-if="lg == 'ID'">
                            <ul class="navbar-nav align-items-center">
                              <template v-for="menua in menuA">
                                <template v-if="menua.Name == 'Beranda'">
                                  <li @click="selected = 'Beranda'" :class="{active:selected == 'Beranda'}">
                                    <router-link class="nav-link" style="font-family: 'GothamBold';font-size:16px;" to="/">Beranda
                                    </router-link>
                                  </li>
                                </template>
                                <template v-if="menua.Link !== '#' && menua.Name !== 'Beranda'">
                                  <li @click="selected = menua.Name" :class="{active:selected == menua.Name}">
                                    <template v-if="menua.linkhref == 'Link'">
                                      <a :href="menua.Link" aria-current="page" class="nav-link router-link-exact-active router-link-active" style="font-family: GothamBold; font-size: 16px;">{{menua.Name}}
                                      </a>
                                    </template>
                                    <template v-else>
                                      <router-link class="nav-link" style="font-family: 'GothamBold';font-size:16px;" :to="menua.Link">{{menua.Name}}
                                      </router-link>
                                    </template>
                                  </li>
                                </template>
                                <template v-else-if="menua.Link == '#'">
                                  <li class="nav-item dropdown" @click="selected = menua.Name" :class="{active:selected == menua.Name}">
                                      <a class="nav-link dropdown-toggle" style="font-family: 'GothamBold';font-size:16px;" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                          {{menua.Name}}
                                      </a>
                                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <template v-for="menub in menuB">
                                          <template v-if="login == true">
                                            <template v-if="menub.Link == '/profilevendor' && menua.MenuID == menub.MenuID">
                                              <router-link class="dropdown-item" style="font-family: 'GothamBold';font-size:16px;" :to="menub.Link">{{menub.Name}}
                                              </router-link>
                                            </template>
                                            <template v-else-if="menub.Link !== '#' && menua.MenuID == menub.MenuID">
                                              <template v-if="menub.linkhref == 'Link'">
                                                <a :href="menub.Link" class="dropdown-item" style="font-family: 'GothamBold';font-size:16px;">{{menub.Name}}
                                                </a>
                                              </template>
                                              <template v-else>
                                                <router-link class="dropdown-item" style="font-family: 'GothamBold';font-size:16px;" :to="menub.Link">{{menub.Name}}
                                                </router-link>
                                              </template>
                                            </template>
                                          </template>
                                          <template v-else-if="login == false">
                                            <template v-if="menub.Link == '/profilevendor' && menua.MenuID == menub.MenuID">
                                              <a class="dropdown-item" style="font-family: 'GothamBold';font-size:16px;" href="/login">{{menub.Name}}</a>
                                            </template>
                                            <template v-else-if="menub.Link !== '#' && menua.MenuID == menub.MenuID">
                                              <template v-if="menub.linkhref == 'Link'">
                                                <a :href="menub.Link" class="dropdown-item" style="font-family: 'GothamBold';font-size:16px;">{{menub.Name}}
                                                </a>
                                              </template>
                                              <template v-else>
                                                <router-link class="dropdown-item" style="font-family: 'GothamBold';font-size:16px;" :to="menub.Link">{{menub.Name}}
                                                </router-link>
                                              </template>
                                            </template>
                                          </template>
                                        </template>
                                      </div>
                                  </li>
                                </template>
                              </template>
                              <li class="nav-item dropdown">
                                  <a class="dropdown-toggle nav-link" style="font-family: 'GothamBold'" id="dropdown-flag" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="flag-icon flag-icon-us"></i><span class="selected-language"></span>{{ lg }}</a>
                                  <div class="dropdown-menu" aria-labelledby="dropdown-flag">
                                      <a class="dropdown-item" style="font-family: 'GothamBold';font-size:16px;" href="#" data-language="en" v-on:click="switchLocale('en')"><i class="flag-icon flag-icon-us"></i> EN</a>
                                      <a class="dropdown-item" style="font-family: 'GothamBold';font-size:16px;" href="#" data-language="id" v-on:click="switchLocale('id')"><i class="flag-icon flag-icon-us"></i> ID</a>
                                  </div>
                              </li>

                              <template v-if="login == true">
                                <li class="nav-item dropdown">
                                  <a class="dropdown-toggle nav-link"style="font-family: 'GothamBold'" id="dropdown-flag" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="flag-icon flag-icon-us"></i><span class="selected-language"></span>Hi, {{first_name}}</a>
                                  <div class="dropdown-menu" aria-labelledby="dropdown-flag">
                                      <a class="btn_1" :href="urlDash" style="font-size: 15px; font-weight: 500;margin-left:7px;padding: 13.5px 15px;">{{ $t('message.sectionbannerbtn3')}}</a>
                                      <a class="btn_2" href="/logout" style="background-color:#ffffff;margin-left: 7px;">{{ $t('message.sectionbannerbtn4')}}</a>
                                  </div>
                                </li>
                              </template>
                              <template v-else-if="login == false">
                                <li class="nav-item dropdown">
                                  <a class="dropdown-toggle nav-link"style="font-family: 'GothamBold'" id="dropdown-flag" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="flag-icon flag-icon-us"></i><span class="selected-language"></span>Akun</a>
                                  <div class="dropdown-menu" aria-labelledby="dropdown-flag">
                                      <router-link class="btn_1" to="/regIn" style="font-size: 15px; font-weight: 500;margin-left:7px;">{{ $t('message.sectionbannerbtn1')}}</router-link>
                                      <a class="btn_2" href="/login" style="background-color:#ffffff;margin-left: 7px;">{{ $t('message.sectionbannerbtn2')}}</a>
                                  </div>
                                </li>
                              </template>
                            </ul>
                          </template>
                          <template v-else>
                            <ul class="navbar-nav align-items-center">
                              <template v-for="menua in menuA">
                                <template v-if="menua.Name == 'Home'">
                                  <li @click="selected = 'Home'" :class="{active:selected == 'Home'}">
                                    <router-link class="nav-link" style="font-family: 'GothamBold';font-size:16px;" to="/">Home
                                    </router-link>
                                  </li>
                                </template>
                                <template v-if="menua.Link !== '#' && menua.Name !== 'Home'">
                                  <li @click="selected = menua.NameEn" :class="{active:selected == menua.NameEn}">
                                    <template v-if="menua.linkhref == 'Link'">
                                      <a :href="menua.Link" aria-current="page" class="nav-link router-link-exact-active router-link-active" style="font-family: 'GothamBold';font-size:16px;">{{menua.NameEn}}
                                      </a>
                                    </template>
                                    <template v-else>
                                      <router-link class="nav-link" style="font-family: 'GothamBold';font-size:16px;" :to="menua.Link">{{menua.NameEn}}
                                      </router-link>
                                    </template>
                                  </li>
                                </template>
                                <template v-else-if="menua.Link == '#'">
                                  <li class="nav-item dropdown" @click="selected = menua.NameEn" :class="{active:selected == menua.NameEn}">
                                      <a class="nav-link dropdown-toggle" style="font-family: 'GothamBold';font-size:16px;" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                          {{menua.NameEn}}
                                      </a>
                                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <template v-for="menub in menuB">
                                          <template v-if="login == true">
                                            <template v-if="menub.Link == '/profilevendor' && menua.MenuID == menub.MenuID">
                                              <router-link class="dropdown-item" style="font-family: 'GothamBold';font-size:16px;" :to="menub.Link">{{menub.NameEn}}
                                              </router-link>
                                            </template>
                                            <template v-else-if="menub.Link !== '#' && menua.MenuID == menub.MenuID">
                                              <template v-if="menub.linkhref == 'Link'">
                                                <a :href="menub.Link" class="dropdown-item" style="font-family: 'GothamBold';font-size:16px;">{{menub.NameEn}}
                                                </a>
                                              </template>
                                              <template v-else>
                                                <router-link class="dropdown-item" style="font-family: 'GothamBold';font-size:16px;" :to="menub.Link">{{menub.NameEn}}
                                                </router-link>
                                              </template>
                                            </template>
                                          </template>
                                          <template v-else-if="login == false">
                                            <template v-if="menub.Link == '/profilevendor' && menua.MenuID == menub.MenuID">
                                              <a class="dropdown-item" style="font-family: 'GothamBold';font-size:16px;" href="/login">{{menub.NameEn}}</a>
                                            </template>
                                            <template v-else-if="menub.Link !== '#' && menua.MenuID == menub.MenuID">
                                              <template v-if="menub.linkhref == 'Link'">
                                                <a :href="menub.Link" class="dropdown-item" style="font-family: 'GothamBold';font-size:16px;">{{menub.NameEn}}
                                                </a>
                                              </template>
                                              <template v-else>
                                                <router-link class="dropdown-item" style="font-family: 'GothamBold';font-size:16px;" :to="menub.Link">{{menub.NameEn}}
                                                </router-link>
                                              </template>
                                            </template>
                                          </template>

                                        </template>
                                      </div>
                                  </li>
                                </template>
                              </template>
                              <li class="nav-item dropdown">
                                  <a class="dropdown-toggle nav-link"style="font-family: 'GothamBold'" id="dropdown-flag" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="flag-icon flag-icon-us"></i><span class="selected-language"></span>{{ lg }}</a>
                                  <div class="dropdown-menu" aria-labelledby="dropdown-flag">
                                      <a class="dropdown-item" style="font-family: 'GothamBold';font-size:16px;" href="#" data-language="en" v-on:click="switchLocale('en')"><i class="flag-icon flag-icon-us"></i> EN</a>
                                      <a class="dropdown-item" style="font-family: 'GothamBold';font-size:16px;" href="#" data-language="id" v-on:click="switchLocale('id')"><i class="flag-icon flag-icon-us"></i> ID</a>
                                  </div>
                              </li>
                              
                              <template v-if="login == true">
                                <li class="nav-item dropdown">
                                  <a class="dropdown-toggle nav-link"style="font-family: 'GothamBold'" id="dropdown-flag" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="flag-icon flag-icon-us"></i><span class="selected-language"></span>Hi, {{first_name}}</a>
                                  <div class="dropdown-menu" aria-labelledby="dropdown-flag">
                                      <a class="btn_1" href="/dashboard" style="font-size: 15px; font-weight: 500;margin-left:7px;padding: 13.5px 15px;">{{ $t('message.sectionbannerbtn3')}}</a>
                                      <a class="btn_2" href="/logout" style="background-color:#ffffff;margin-left: 7px;">{{ $t('message.sectionbannerbtn4')}}</a>
                                  </div>
                                </li>
                              </template>
                              <template v-else-if="login == false">
                                <li class="nav-item dropdown">
                                  <a class="dropdown-toggle nav-link"style="font-family: 'GothamBold'" id="dropdown-flag" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="flag-icon flag-icon-us"></i><span class="selected-language"></span>Account</a>
                                  <div class="dropdown-menu" aria-labelledby="dropdown-flag">
                                      <router-link class="btn_1" to="/regIn" style="font-size: 15px; font-weight: 500;margin-left:7px;">{{ $t('message.sectionbannerbtn1')}}</router-link>
                                      <a class="btn_2" href="/login" style="background-color:#ffffff;margin-left: 7px;">{{ $t('message.sectionbannerbtn2')}}</a>
                                  </div>
                                </li>
                              </template>
                              
                            </ul>
                          </template>
                      </div>
                  </nav>
              </div>
          </div>
      </div>
  </header>
  <!-- Header part end-->
</template>

<script>
export default {
  name: 'NavbarLanding',
  data() {
      return {
          selected: undefined,
          login: undefined,
          first_name: '',
          urlDash: '/dashboard',
          isLoading: false,
          menuA: [],
          listIDmenuA: [],
          menuB: [],
          langs: ['en', 'id'],
          lg: localStorage.getItem('lang'),
      };
  },
  beforeCreate(){
    // cekUserMenu() { 
      this.loading = true;
      axios
      .get("/session")
      .then(response => {
          // this.id = response.data.id;
          // this.id_person = response.data.id_person;
          var roleku = response.data.role;
          if (roleku == "R000"){
            this.urlDash = "/dashboard";
          } else {
            this.urlDash = "/dashboard";
          }
          this.first_name = response.data.first_name;
          if(response.data.login == undefined){
            this.login = false;
          } else {
            this.login = true;
          }
          console.log(this.login)
      });
    // },

  },
  computed() {
    this.displayLocale()
  },
  mounted() {
    this.cekURL()
    this.getMenu()
  },
  methods: {
    cekURL(){
      var currentUrl = window.location.pathname;
      var currentUrl2 = ""
      if(currentUrl == '/'){
         currentUrl2 = "/kosong"
      } else {
         currentUrl2 = currentUrl
      }
      currentUrl2 = currentUrl2.substr(1)
      var sideName = ''

      axios
      .get("/api/getNavName/" + currentUrl2 )
      .then(response => {
          response.data.forEach(function(puki, index) {
            if(puki.nameA !== null){
              sideName = puki.nameA
            } 
            if(puki.nameB !== null){
              sideName = puki.nameB
            }
          });
          this.selected = sideName
      });
    },
    getMenu(){
      //menuA
      axios
        .get("/api/navmenuA")
        .then(response => {
          this.menuA = response.data;
          const menu = response.data;
          menu.map((r) => {
            if(r.Link == "#"){
              this.listIDmenuA.push(r.MenuID);
              // this.getMenuB(r.MenuID)
            }
          })
          this.getMenuBNew(this.listIDmenuA)
        });
    },
    getMenuBNew(menu){
      //menuB
      axios
        .get("/api/navmenuBNew/"+ menu)
        .then(response => {
          this.menuB = response.data;
        });
    },
    getMenuB(menu){
      //menuB
      axios
        .get("/api/navmenuB/"+ menu)
        .then(response => {
          var array = this.menuB;
          var count = response.data.length
          var i;
          for (i = 0; i < count; i++) {
            var newItem = response.data[i];
            const index = array.findIndex((e) => e.Link === newItem.Link);

            if (index === -1) {
                array.push(newItem);
            } else {
                array[index] = newItem;
            }
          }
        });
    },
    switchLocale(param) {
      // if (this.$i18n.locale === 'en') {
        this.$i18n.locale = param
        this.lg = param.toUpperCase()
        localStorage.setItem('lang',param.toUpperCase())
        location.reload();
      // } else if (this.$i18n.locale === 'id'){
      //   this.$i18n.locale = 'en'
      //   this.lg = 'EN'
      //   localStorage.setItem('lang','EN')
      // }
    }
  }
};
</script>



