<script>
	import Sidebar from './Sidebar.vue';
	import Navbar from './Navbar.vue';
	import Footers from './Footer.vue';

	import NavbarLanding from '../landing/base/Navbar.vue';
	import FooterLanding from '../landing/base/Footer.vue';

	export default {
		components: {
			Navbar,
			Sidebar,
			Footers,
			"navbar-landing" : NavbarLanding,
			"footer-landing" : FooterLanding,
		},
		data(){
		  return{
		    count: 1,
		    currentUrlFix: "kosong",
		    session: {
		      id: '',
		      login: '',
		      role: ''
		    },
		  }
		},
		beforeCreate(){
		    this.loading = true;
		    axios
		    .get("/session")
		    .then(response => {
		        this.id = response.data.id;
		        this.role = response.data.role;
		        this.login = response.data.login;
		        this.cekURL(this.id)
		    });

		    if(localStorage.getItem('lang') == undefined){
		    	localStorage.setItem('lang','ID')
		    	this.$i18n.locale = 'id'
		    } else {
		    	this.$i18n.locale = localStorage.getItem('lang').toLowerCase()
		    }

		},
		methods: {
		  cekURL(id){
		    var currentUrl = window.location.pathname;
		    var currentUrl = currentUrl.substr(1)
		    if(currentUrl == "" || currentUrl == null){
		    	this.currentUrlFix == 'kosong'
		    	this.count = 0
		    } else {
		    	this.currentUrlFix = currentUrl
		    }

		    if(this.currentUrlFix == 'kosong'){
		    	console.log(this.count)
		    } else {
		    	axios
		    	.get("/api/getSideCount/" + this.currentUrlFix +"/"+ id)
		    	.then(response => {
		    	    this.count = response.data
		    	    console.log(this.count) 
		    	});
		    }
		  },
		}
	};
</script>

<!-- Masalah disini berada pada create awal bila count di set undifined maka menu dan full view pada admin tidak akan berjalan karna melakukan pengecekan terlebih dahulu sebelum axios mendapat hasil-->

<template> 
	<div>
		<template v-if="count == 1">
			<navbar />
			<sidebar />
			<router-view></router-view>
			<footers />
		</template>
		<template v-else-if="count == 0">
			<navbar-landing />
			<router-view></router-view>
			<footer-landing />
		</template>
		<!-- <template v-if="currentUrlFix == 'kosong' && count == 1">
			<navbar-landing />
			<router-view></router-view>
			<footer-landing />
		</template> -->
		
	</div>
</template>


