<template>
    <nav class="header-navbar navbar-expand-lg navbar navbar-with-menu floating-nav navbar-light navbar-shadow">
        <div class="navbar-wrapper">
            <div class="navbar-container content">
                <div class="navbar-collapse" id="navbar-mobile">
                    <div class="mr-auto float-left bookmark-wrapper d-flex align-items-center">
                        <ul class="nav navbar-nav">
                            <li class="nav-item mobile-menu d-xl-none mr-auto"><a class="nav-link nav-menu-main menu-toggle hidden-xs" href="#"><i class="ficon feather icon-menu"></i></a>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav">
                            <li class="nav-item mobile-menu d-none mr-auto" style="font-size: 8px;">
                                <a class="nav-link">
                                    <template v-if="onLine == true">
                                        {{speed}}ms | <span class="success">Internet,</span>
                                    </template>
                                    <template v-else>
                                        0ms | <span class="danger">No Internet,</span>
                                    </template>
                                    <span class="warning" id="push"> Connecting</span>
                                </a>
                            </li>
                        </ul>

                        <audio id="xyz" src="uploads/fb_chat_2011.mp3" preload="auto"></audio>

                        <ul class="nav navbar-nav">
                            <li class="nav-item d-none d-lg-block">
                                <detected-speed @network-type="handleNetworkIdentified" @network-speed="handleNetworkSpeed"></detected-speed>
                                <a class="nav-link bookmark-star">
                                    <template v-if="onLine == true">
                                        <b>{{contype}}</b>
                                    </template>
                                    <template v-else>
                                        <b>None</b>
                                    </template>
                                    <template v-if="onLine == true && speed >= '0' && speed <= '34'">
                                        <i class="ficon feather icon-wifi danger" style="font-weight: 1000;"></i> 
                                    </template>
                                    <template v-else-if="onLine == true && speed >= '35' && speed <= '70'">
                                        <i class="ficon feather icon-wifi warning" style="font-weight: 1000;"></i> 
                                    </template>
                                    <template v-else-if="onLine == true && speed >= '70' && speed <= '100'">
                                        <i class="ficon feather icon-wifi success" style="font-weight: 1000;"></i> 
                                    </template>
                                    <template v-else>
                                        <i class="ficon feather icon-wifi danger" style="font-weight: 1000;"></i> 
                                    </template>

                                    <template v-if="onLine == true">
                                        {{speed}}ms | <span class="success">Internet,</span>
                                    </template>
                                    <template v-else>
                                        0ms | <span class="danger">No Internet,</span>
                                    </template>
                                    <span class="warning" id="push"> Connecting</span>
                                </a>
                            </li>
                        </ul>                     
                    </div>

                    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="5000">
                        <div class="toast-header">
                            <img src="theme/app-assets/images/logo/logo-warna2.png" class="rounded mr-2" alt="Toast image" style="width: 35px;height: auto;padding-top: 10px;">
                            <strong class="mr-auto">{{ messageX.jenis }}</strong>
                            <small>{{ formatTime(messageX.created_at) }}</small>
                            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="toast-body">
                            {{ messageX.isi }}
                        </div>
                    </div>
                    <div class="toast-bs-container">
                        <div class="toast-position">
                        </div>
                    </div>

                    <ul class="nav navbar-nav float-right">
                        <li class="nav-item d-none d-lg-block">
                            <a class="nav-link nav-link-expand">
                                <i class="ficon feather icon-maximize"></i>
                            </a>
                        </li>
                        <li class="dropdown dropdown-notification nav-item"><a class="nav-link nav-link-label" href="#" data-toggle="dropdown"><i class="ficon feather icon-bell"></i><span class="badge badge-pill badge-primary badge-up">{{ totalNotif }}</span></a>
                            <ul class="dropdown-menu dropdown-menu-media dropdown-menu-right">
                                <li class="dropdown-menu-header">
                                    <div class="dropdown-header m-0 p-2">
                                        <h3 class="white">{{ totalNotif }} New</h3><span class="notification-title">App Notifications</span>
                                    </div>
                                </li>
                                <li class="scrollable-container media-list">
                                    <template v-for="message in messages">
                                        <template v-if="message.jenis == 'Register'">
                                            <a class="d-flex justify-content-between" href="javascript:void(0)" @click="openNotif(message.id_notif)">
                                                <div class="media d-flex align-items-start">
                                                    <div class="media-left"><i class="feather icon-plus-square font-medium-5 primary"></i></div>
                                                    <div class="media-body">
                                                        <h6 class="primary media-heading">{{ message.jenis }}</h6><small class="notification-text"> {{ message.isi }}</small>
                                                    </div><small>
                                                        <time class="media-meta" datetime="2015-06-11T18:29:20+08:00">{{ formatTime(message.created_at) }}</time></small>
                                                </div>
                                            </a>
                                        </template>
                                        <template v-else-if="message.jenis == 'Chat Penunjukan Langsung'">
                                            <a class="d-flex justify-content-between" href="javascript:void(0)" @click="openNotif(message.id_notif)">
                                                <div class="media d-flex align-items-start">
                                                    <div class="media-left"><i class="feather icon-alert-triangle font-medium-5 danger"></i></div>
                                                    <div class="media-body">
                                                        <h6 class="danger media-heading yellow darken-3">{{ message.jenis }}</h6><small class="notification-text">{{ message.username }} : {{ message.isi }}</small>
                                                    </div><small>
                                                        <time class="media-meta" datetime="2015-06-11T18:29:20+08:00">{{ formatTime(message.created_at) }}</time></small>
                                                </div>
                                            </a>
                                        </template>
                                        <template v-else-if="message.jenis == 'Pekerjaan'">
                                            <a class="d-flex justify-content-between" href="javascript:void(0)" @click="openNotif(message.id_notif)">
                                                <div class="media d-flex align-items-start">
                                                    <div class="media-left"><i class="feather icon-download-cloud font-medium-5 success"></i></div>
                                                    <div class="media-body">
                                                        <h6 class="success media-heading red darken-1">{{ message.jenis }}</h6><small class="notification-text">{{ message.isi }}</small>
                                                    </div><small>
                                                        <time class="media-meta" datetime="2015-06-11T18:29:20+08:00">{{ formatTime(message.created_at) }}</time></small>
                                                </div>
                                            </a>
                                        </template>
                                        <template v-else-if="message.jenis == 'Umum'">
                                            <a class="d-flex justify-content-between" href="javascript:void(0)" @click="openNotif(message.id_notif)">
                                                <div class="media d-flex align-items-start">
                                                    <div class="media-left"><i class="feather icon-file font-medium-5 warning"></i></div>
                                                    <div class="media-body">
                                                        <h6 class="warning media-heading">{{ message.jenis }}</h6><small class="notification-text">{{ message.isi }}</small>
                                                    </div><small>
                                                        <time class="media-meta" datetime="2015-06-11T18:29:20+08:00">{{ formatTime(message.created_at) }}</time></small>
                                                </div>
                                            </a>
                                        </template>
                                    </template>
                                </li>
                                <li class="dropdown-menu-footer"><a class="dropdown-item p-1 text-center" href="javascript:void(0)">Read all notifications</a></li>
                            </ul>
                        </li>
                        <li class="dropdown dropdown-user nav-item">
                            <a class="dropdown-toggle nav-link dropdown-user-link" href="#" data-toggle="dropdown">
                                <div class="user-nav d-sm-flex d-none">
                                    <span class="user-name text-bold-600">{{ first_name }} {{ last_name }}</span>
                                    <span class="user-status">{{ user_role }}</span>
                                </div>
                                <span>
                                    <template v-if="photo_profile !== ''">

                                        <img class="round" :src="'uploads/photo_profile/' + photo_profile" @error="(() => photo_profile ='avatarDefault.png')" height="40" width="40" alt="..."/>
                                        
                                    </template>
                                </span>
                                <!-- masalah not found-->
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">

                                <a class="dropdown-item" v-if="role == 'R002'" href="/profile"><i class="feather icon-user"></i> Edit Profile</a>

                                <a class="dropdown-item" v-if="role == 'R000'" href="/profile"><i class="feather icon-user"></i> Edit Profile</a>
                                
                                <a class="dropdown-item" href="/"><i class="feather icon-command"></i> Landing Page</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/logout"><i class="feather icon-power"></i> Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <!-- END: Header-->
</template>

<script>
import moment from 'moment';
import DetectedSpeed from 'vue-identify-network';
moment.locale("id");

const _ = require('lodash');

export default {
    name: "Navbar",
    components: {
        'detected-speed' : DetectedSpeed,
    },
    data() {
        return {
            isLoading: false,
            id: "",
            user_role:'',
            first_name: "",
            last_name: "",
            photo_profile: "",
            role:'',
            messages: [],
            totalNotif: '',
            contype: '',
            speed: '',
            onLine: navigator.onLine,
            showBackOnline: false,
            messageX : {
                jenis: '',
                isi: '',
                createdAt: '',
            }
        };
    },
    mounted() {
        this.cekUserMenu()
        this.listen()
        window.addEventListener('online', this.updateOnlineStatus);
        window.addEventListener('offline', this.updateOnlineStatus);
    },
    watch: {
        onLine(v) {
            if (v) {
                this.showBackOnline = true;
                setTimeout(() => {
                    this.showBackOnline = false;
                }, 1000);
            }
        }
    },
    methods: {
        updateOnlineStatus(e) {
            const {
                type
            } = e;
            this.onLine = type === 'online';
        },
        cekUserMenu() {
            this.loading = true;
            axios.get("/session").then(response => {
                var roles = response.data.role;
                this.role = response.data.role;             
                this.user_role = response.data.nama_role

                localStorage.setItem('username',response.data.username)
                localStorage.setItem('fullname',response.data.first_name+" "+response.data.last_name)

                console.log(localStorage.getItem('username'))
                console.log(localStorage.getItem('fullname'))

                this.id = response.data.id;
                this.fetchNotifikasi(this.id)
                axios
                    .get("/api/person/" + response.data.id_person)
                    .then(response => {
                        this.first_name = response.data.first_name;
                        this.last_name = response.data.last_name;
                        this.photo_profile = response.data.photo_profile;
                });
            });
        },
        listen() {

            window.Echo.connector.pusher.connection.bind('error', function(error) {
              console.error('connection error', error)
            });

            window.Echo.connector.pusher.connection.bind('state_change', function(states) {
              var state = window.Echo.connector.pusher.connection.state;
              if(state == 'connecting'){
                $('span#push').removeClass('success');
                $('span#push').removeClass('danger');
                $('span#push').addClass("warning");
                $('span#push').text('Connecting');
              } else if(state == 'connected'){
                $('span#push').removeClass('warning');
                $('span#push').removeClass('danger');
                $('span#push').addClass("success");
                $('span#push').text('Connected');
              } else {
                $('span#push').removeClass('warning');
                $('span#push').removeClass('success');
                $('span#push').addClass("danger");
                $('span#push').text('Unavailable');
              }
              
              console.log(state)
              console.log("Channels current state is " + states.current)
            });

            Echo.channel('newNotif') //Should be Channel Name
            .listen('NotifEvents', (e) => {

              this.fetchNotifikasi(this.id)
              if(this.id == e.message.id_receiver){

                this.messageX.jenis = e.message.jenis
                this.messageX.isi = e.message.isi
                this.messageX.createdAt = e.message.created_at
                $('.toast').prependTo('.toast-bs-container .toast-position').toast('show')

                var promise = document.querySelector('audio').play();
                if (promise !== undefined) {
                  promise.then(_ => {
                    document.getElementById('xyz').play();
                  }).catch(error => {
                  });
                }
              }

              if (window.Notification) {
                  console.log('Notifications are supported!');
                  if(this.id == e.message.id_receiver){
                    Notification.requestPermission( permission => {
                      let notification = new Notification(e.message.jenis, {
                        body: e.message.isi, // content for the alert
                        icon: "theme/app-assets/images/logo/logo-warna.png" // optional image url
                      });
                      // link to page on clicking the notification
                      notification.onclick = () => {
                        window.open(window.location.href);
                      }; 
                    });
                  } 
              } else {
                  console.log('Notifications aren\'t supported on your browser! :(');
              }
            });

            Echo.channel('clearNotif') //Should be Channel Name
            .listen('ClearNotifEvents', (e) => {
              this.fetchNotifikasi(this.id)
            });

            Echo.channel('refreshEvent') //Should be Channel Name
            .listen('RefreshEvents', (e) => {
              this.fetchNotifikasi(this.id)
            });
        },
        fetchNotifikasi(id_receiver) {
            axios.get('/notifikasi/'+ id_receiver).then(response => {
                this.messages = response.data;
                this.totalNotif = this.messages.length
            }); 
        },
        openNotif(params){
            axios.post('/openNotif/'+ params).then(response => {
                this.fetchNotifikasi(this.id)
            });
        },
        handleNetworkIdentified(type) {
          // console.log('connection type: ', type);
          this.contype = type.toUpperCase();
        },
        handleNetworkSpeed(speed) {
          this.speed = '';
          var str = this.valueToPercent(speed)
          if(str.toString().length > 4){
            this.speed = str
          } else {
            this.speed = str
          }
        },
        valueToPercent (value) {
          const max = 10
          return (value * 100) / max
        }, 
        formatTime(value) {
          if(value !== 0){
            return moment(value).format("DD MMMM YYYY HH:mm");
          }
        },
        formatDate(value) {
            return moment(value).format("DD MMMM YYYY")
        }
       
    },
    beforeDestroy() {
        window.removeEventListener('online', this.updateOnlineStatus);
        window.removeEventListener('offline', this.updateOnlineStatus);
    }
};
</script>
<style scoped>
.row-alert {
    margin-left: 0px;
    margin-bottom: -14px;
}
</style>
