
<template>

  <!-- BEGIN: Content-->
  <div class="app-content content">
      <div class="content-overlay"></div>
      <div class="header-navbar-shadow"></div>
      <div class="content-wrapper">
          <div class="content-header row">
              <div class="content-header-left col-md-9 col-12 mb-2">
                  <div class="row breadcrumbs-top">
                      <div class="col-12">
                          <h2 class="content-header-title float-left mb-0">Profile's</h2>
                          <div class="breadcrumb-wrapper col-12">
                              <ol class="breadcrumb">
                                  <li class="breadcrumb-item"><a href="/dashboard">Home</a>
                                  </li>                                  
                                  <li class="breadcrumb-item active">Profile
                                  </li>
                              </ol>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="content-header-right text-md-right col-md-3 col-12 d-md-block d-none">
                  <div class="form-group breadcrum-right">
                      <div class="dropdown">

                      </div>
                  </div>
              </div>
          </div>


          <div class="content-body">
              <!-- Basic example section start -->
              <section id="basic-examples">
                  <div class="card">
                      <div class="card-header">
                          <h4 class="card-title">Profile</h4>
                      </div>
                      <div class="card-content">
                          <div class="card-body">

                              <div class="profile-header">
                                    <div class="relative">
                                        <div class="row">
                                            <div class="form-group col-md-4" style="text-align: left;">
                                                <div class="col-md-12">
                                                    <img
                                                        class="form-control"
                                                        v-if="user_info.cropImg"
                                                        :src="
                                                            'uploads/photo_profile/' +
                                                                user_info.cropImg
                                                        "
                                                        @error="
                                                            () =>
                                                                (user_info.cropImg = null)
                                                        "
                                                        alt="Image profil"
                                                        style="width:100%;height:auto;"
                                                    />
                                                </div>
                                            </div>

                                            <div class="form-group col-md-8">
                                                <div class="row">
                                                    <div class="form-group col-md-12">
                                                        <label for="firstName" class="form-control-label">
                                                            Nama
                                                        </label>
                                                        <input type="text" class="form-control" v-model="user_info.fullName" :disabled="disabled">
                                                    </div>

                                                     <div class="form-group col-md-12">
                                                        <label for="firstName" class="form-control-label">
                                                            Email :
                                                        </label>
                                                        <input type="text" class="form-control" v-model="user_info.emailUser" :disabled="disabled">
                                                    </div>

                                                     <div class="form-group col-md-12">
                                                        <label for="firstName" class="form-control-label">
                                                            Role
                                                        </label>
                                                        <input type="text" class="form-control" v-model="user_info.nama_role" :disabled="disabled">
                                                    </div>

                                                     <div class="form-group col-md-12">
                                                        <label for="firstName" class="form-control-label">
                                                            Username
                                                        </label>
                                                        <input type="text" class="form-control" v-model="user_info.userName" :disabled="disabled">
                                                    </div>

                                                     <div class="form-group col-md-6">
                                                        <label for="firstName" class="form-control-label">
                                                            Tempat lahir
                                                        </label>
                                                        <input type="text" class="form-control" v-model="user_info.tempatLahir" :disabled="disabled">
                                                    </div>

                                                     <div class="form-group col-md-6">
                                                        <label for="firstName" class="form-control-label">
                                                            Tanggal lahir
                                                        </label>
                                                        <input type="text" class="form-control" v-model="user_info.tanggalLahir" :disabled="disabled">
                                                    </div>
                                                </div>
                                                <button
                                                    class="btn btn-primary"
                                                    @click="gantiPass"
                                                    data-target=".gantiPasswordModal"
                                                    data-toggle="modal"
                                                    type="button"
                                                    aria-haspopup="true"
                                                    aria-expanded="false"
                                                >
                                                    Ganti Password
                                                </button>
                                                <button
                                                    class="btn btn-outline-primary"
                                                    @click="updateProfile"
                                                    data-target=".updateProfileModal"
                                                    data-toggle="modal"
                                                    type="button"
                                                    aria-haspopup="true"
                                                    aria-expanded="false"
                                                >
                                                    Edit
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>



                          </div>
                      </div>
                       <insert-ganti-mod
                            :open-modal="modalOpen" :viewGanti ="viewGanti"
                            :close-modal="getDataR"
                        ></insert-ganti-mod>
                        <update-ganti-mod
                            :open-modal="modalUpdate" :updateGanti ="updateGanti"
                            :close-modal="getDataR"
                        ></update-ganti-mod>

                  </div>
              </section>
              <!-- // Basic example section end -->
          </div>
      </div>
  </div>
  <!-- END: Content-->
</template>

<!-- script js -->
<script>

import moment from 'moment';
moment.locale("id");
import ModalPass from "../modal/ModalGantiPassword.vue";
import Update from "../modal/ModalUpdate.vue";

export default {
    name: "profile",
    components: {    
        "insert-ganti-mod": ModalPass,
        "update-ganti-mod": Update
    },
    data() {
        return {
            photo_profile: "",
            disabled : true,
            modalOpen: false,
            modalUpdate: false,
            isLoading: false,
            action: [],
            viewGanti : {},
            updateGanti : {},
            user_info: {
                firstName: "",
                lastName: "",
                fullName: "",
                emailUser: "",
                userName: "",
                cropImg: "",
                role: '',
                nama_role: '',
                tempatLahir : "", 
                tanggalLahir : '',
            }
        };
    },
    beforeCreate() {
        this.loading = true;
        axios.get("/session").then(response => {
            this.id = response.data.id;
            this.role = response.data.role;            
            this.login = response.data.login; 
            this.viewGanti = response.data;
            this.getData(response.data.id);          
            axios.get("/api/getSide/" + this.id).then(response => {
                this.data = response.data;
                var routesUser = [];
                this.data.forEach(function(puki, index) {
                    var nam = puki.Link.substr(1);
                    routesUser.push(nam);
                });
                var n = routesUser.includes(this.$options.name);
                console.log(n);
                if (this.login == true && n == true) {
                    this.loading = false;
                    // this.loadItems()
                    this.getAction(this.id, this.$options.name);
                } else if (this.login == true && n == false) {
                    this.$router.push("/not404");
                    this.loading = false;
                } else {
                    window.location.href = "/";
                    // this.$router.push('/not404');
                    this.loading = false;
                }
            });
        });
    },
    mounted() {},
    methods: {
        getData(id){
            axios.get("api/profil/"+ id).then(response => {               
               this.user_info.cropImg = response.data.photo_profile;
               this.user_info.firstName = response.data.first_name;
               this.user_info.lastName = response.data.last_name;
               this.user_info.fullName = this.user_info.firstName+" "+this.user_info.lastName;
               this.user_info.emailUser = response.data.email;
               this.user_info.userName = response.data.username;
               this.user_info.tempatLahir = response.data.birth_place;
               this.user_info.tanggalLahir = response.data.birth_date;
               this.user_info.role = response.data.role;
               this.user_info.nama_role = response.data.nama_role;
               // var datas = response.data.role;
               // if(datas == 'R002'){
               //      this.user_info.role = 'Admin KOP';
               // } else if(datas == 'R000'){
               //      this.user_info.role = 'Admin';
               // }
            });
        },
        getDataR(){
            this.getData(this.id)
        },
        getAction(id, link) {
            axios.get("/api/action/" + id + "/" + link).then(response => {
                this.action = response;
            });
        },
        gantiPass() {
            
           
        },
        closeModal() {
          this.modalUpdate = false;
        },
        updateProfile(){
            axios.get("api/profil/"+ this.id).then(response => {               
               this.updateGanti = response.data;
               this.modalUpdate = !this.modalUpdate;
            });
        }
    }
};
</script>

