<template>
  
  <!-- BEGIN: Main Menu-->
  <div class="main-menu menu-fixed menu-light menu-accordion menu-shadow" data-scroll-to-active="true">
      <div class="navbar-header">
          <ul class="nav navbar-nav flex-row">
              <li class="nav-item mr-auto"><a class="navbar-brand" href="/">
                      <!-- <div class="brand-logo"></div> -->
                      <!-- <h2 class="brand-text mb-0">SMSG</h2> -->
                      <img src="theme/app-assets/images/logo/logo-warna.png" height="auto" width="150" style="margin-top: -3px;" alt="...">
                  </a></li>
              <li class="nav-item nav-toggle"><a class="nav-link modern-nav-toggle pr-0" data-toggle="collapse"><i class="feather icon-x d-block d-xl-none font-medium-4 primary toggle-icon"></i><i class="toggle-icon feather icon-disc font-medium-4 d-none d-xl-block collapse-toggle-icon primary" data-ticon="icon-disc"></i></a></li>
          </ul>
      </div>
      <div class="shadow-bottom"></div>
      <div class="main-menu-content">
          <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
              <!-- <li @click="selected = 'Home'" :class="{active:selected == 'Home'}">
                <a href="/"><i class="feather icon-home"></i></i>
                  <span class="menu-title" data-i18n="Dashboard">Back to Home</span>
                </a>
              </li> -->

              <li @click="selected = 'Dashboard'" :class="{active:selected == 'Dashboard'}">
                <router-link to="/dashboard"><i class="feather icon-airplay" style="color:  #137BBF;"></i></i>
                  <span class="menu-title" data-i18n="Dashboard" style="font-size: 16px;">Dashboard</span>
                </router-link> 
              </li>

              <template v-for="menua in menuA">
                <template v-if="menua.Link !== '#' && menua.Name !== 'Dashboard'">
                  <li @click="selected = menua.ClassId" :class="{active:selected == menua.ClassId}">
                    <router-link :to="menua.Link"><i :class="menua.Icon" style="color:  #137BBF;"></i></i>
                      <span class="menu-title" :data-i18n="menua.Name" style="font-size: 16px;">{{menua.Name}}</span>
                    </router-link>
                  </li>
                </template>

                <template v-else-if="menua.Link == '#'">
                  <li class=" nav-item has-sub">
                    <a href="#"><i :class="menua.Icon" style="color:  #137BBF;"></i><span class="menu-title" :data-i18n="menua.Name" style="font-size: 16px;">{{menua.Name}}</span></a>
                    <ul class="menu-content">
                      <template v-for="menub in menuB">
                          <template v-if="menub.Link == '#' && menua.MenuID == menub.MenuID">
                            <li class=" has-sub">
                              <a href="#"><i class="feather icon-stop-circle" style="color: #28c76f;"></i><span class="menu-item" :data-i18n="menub.Name" style="font-size: 16px;">{{ menub.Name }}</span></a>
                              <ul class="menu-content">
                                <template v-for="menuc in menuC">
                                  <template v-if="menuc.Link == '#' && menub.DetailID == menuc.DetailID && menub.MenuID == menuc.MenuID">

                                  </template>

                                  <template v-if="menuc.Link !== '#' && menub.DetailID == menuc.DetailID && menub.MenuID == menuc.MenuID">
                                    <li @click="selected = menuc.ClassId" :class="{active:selected == menuc.ClassId}">
                                      <!-- jika pakai fitur chat tidak bisa routerlink -->
                                      <!-- <template v-if="menuc.Link == '/pl_aanwijzing' || menuc.Link == '/md_aanwijzing' || menuc.Link == '/td_aanwijzing'">
                                        <a :href="menuc.Link"><i class="feather icon-circle"></i></i>
                                          <span class="menu-item" :data-i18n="menuc.Name">{{ menuc.Name }}</span>
                                        </a>
                                      </template>
                                      <template v-else>
                                        <router-link :to="menuc.Link"><i class="feather icon-circle"></i></i>
                                          <span class="menu-item" :data-i18n="menuc.Name">{{ menuc.Name }}</span>
                                        </router-link>
                                      </template> -->
                                      <router-link :to="menuc.Link"><i class="feather icon-circle" style="color: #ff8510;"></i></i>
                                        <span class="menu-item" :data-i18n="menuc.Name">{{ menuc.Name }}</span>
                                      </router-link>
                                    </li>
                                  </template>
                                </template>
                              </ul>
                            </li>
                          </template>
                          <template v-if="menub.Link !== '#' && menua.MenuID == menub.MenuID">
                            <li @click="selected = menub.ClassId" :class="{active:selected == menub.ClassId}">
                              <router-link :to="menub.Link"><i class="feather icon-circle" style="color: #ff8510;"></i><span class="menu-item" :data-i18n="menub.Name" style="font-size: 16px;">{{ menub.Name }}</span>
                              </router-link>
                            </li>
                          </template>
                        </template>
                    </ul>
                  </li>
                </template>
              </template>
          </ul>
      </div>
  </div>
  <!-- END: Main Menu-->

</template>

<script>
export default {
  name: 'Sidebar',
  data(){
    return{
      selected: undefined,
      form:{
        id: '',
        idPerson: '',
        roleCode: '',
        firstName: '',
        lastName: '',
        userName: ''
      },
      isi:{
        bUser: [],
        bMenu: []
      },
      menuA: [],
      listIDmenuA: [],
      menuB: [],
      listIDmenuB: [],
      menuB2: [],
      menuC: []
    }
  },
  mounted() {
      this.cekUserMenu()    
      this.listen()
  },
  methods: {
    listen() {
        Echo.channel('refreshEvent') //Should be Channel Name
        .listen('RefreshEvents', (e) => {
          this.cekUserMenu()
          console.log(e)
        });
    },
    cekUserMenu() { 
      this.loading = true;
      axios
      .get("/session")
      .then(response => {
          this.form.id = response.data.id
          this.form.roleCode = response.data.role
          this.form.userName = response.data.username
          axios
          .get("/api/person/" + response.data.id_person)
          .then(response => {
            this.form.idPerson = response.data.id_person
            this.form.firstName = response.data.first_name
            this.form.lastName = response.data.last_name
            this.getMenu()
            this.cekURL()
          });
      });
    },
    cekURL(){
      var currentUrl = window.location.pathname;
      var currentUrl = currentUrl.substr(1)
      var sideName = ''
      if(currentUrl == ""){
        console.log('kosong')
      } else {
        axios
        .get("/api/getSideName/" + currentUrl )
        .then(response => {
            response.data.forEach(function(puki, index) {
              if(puki.ClassIdA !== null){
                sideName = puki.ClassIdA
              } 
              if(puki.nameB !== null){
                sideName = puki.ClassIdB
              }
              if(puki.nameC !== null){
                sideName = puki.ClassIdC
              }
            });
            this.selected = sideName
        });
      }
    },
    getMenu(){
      //menuA
      axios
        .get("/api/sidemenuA/"+ this.form.id)
        .then(response => {
          // console.log(response.data)
          this.menuA = response.data;
          const menu = response.data;
          menu.map((r) => {
            if(r.Link == "#"){
              this.listIDmenuA.push(r.MenuID);
              // this.getMenuB(this.form.id, r.MenuID)
            }
          })
          this.getMenuBNew(this.form.id, this.listIDmenuA)
        });
    },
    sortFunctionB(a, b) {
        if (a['ClassId'] === b['ClassId']) {
            return 0;
        }
        else {
            return (a['ClassId'] < b['ClassId']) ? -1 : 1;
        }
    },
    getMenuBNew(user, menu){
      //menuB
      axios
        .get("/api/sidemenuBNew/"+ user +"/"+ menu)
        .then(response => {
          this.menuB = response.data;
          this.menuB.sort(this.sortFunctionB);
          const menu = this.menuB;
          menu.map((r) => {
            if(r.Link == "#"){
              this.listIDmenuB.push(r.MenuID);
              // this.getMenuC(this.form.id, r.MenuID)
            }
          })
          this.getMenuCNew(this.form.id, this.listIDmenuB)
        });
    },
    sortFunctionC1(a, b) {
        if (a['DetailID'] === b['DetailID']) {
            return 0;
        }
        else {
            return (a['DetailID'] < b['DetailID']) ? -1 : 1;
        }
    },
    sortFunctionC2(a, b) {
        if (a['DetailID2'] === b['DetailID2']) {
            return 0;
        }
        else {
            return (a['DetailID2'] < b['DetailID2']) ? -1 : 1;
        }
    },
    getMenuCNew(user,menu){
      //menuC
      axios
        .get("/api/sidemenuCNew/"+ user +"/"+ menu)
        .then(response => {
          this.menuB.sort(this.sortFunctionC1);
          this.menuB.sort(this.sortFunctionC2);
          var array = this.menuC;
          var count = response.data.length
          var i;
          for (i = 0; i < count; i++) {
            var newItem = response.data[i];
            const index = array.findIndex((e) => e.Link === newItem.Link);

            if (index === -1) {
                array.push(newItem);
            } else {
                array[index] = newItem;
            }
          }
        });
    },
    getMenuB(user, menu){
      //menuB
      axios
        .get("/api/sidemenuB/"+ user +"/"+ menu)
        .then(response => {
          // this.menuB = response.data;
          var array = this.menuB;
          var count = response.data.length
          var i;
          for (i = 0; i < count; i++) {
            var newItem = response.data[i];
            const index = array.findIndex((e) => e.Link === newItem.Link);

            if (index === -1) {
                array.push(newItem);
            } else {
                array[index] = newItem;
            }
          }
          const menu = this.menuB;
          menu.map((r) => {
            if(r.Link == "#"){
              this.getMenuC(this.form.id, r.MenuID)
            }
          })
        });
    },
    getMenuC(user,menu){
      //menuC
      axios
        .get("/api/sidemenuC/"+ user +"/"+ menu)
        .then(response => {
          var array = this.menuC;
          var count = response.data.length
          var i;
          for (i = 0; i < count; i++) {
            var newItem = response.data[i];
            const index = array.findIndex((e) => e.Link === newItem.Link);

            if (index === -1) {
                array.push(newItem);
            } else {
                array[index] = newItem;
            }
          }
        });
    },
    pushB: function(user, menu){
      var newItem = menu;
      var array = this.isi.bMenu;
      array.indexOf(newItem) === -1 ? array.push(newItem) : console.log("This item already exists");
      this.isi.bUser = user
      var arrStr = encodeURIComponent(JSON.stringify(this.isi.bMenu));
    },
    getpushB(){
      console.log(this.menuA)
      console.log(this.menuB)
      console.log(this.menuC)
    },
  }
};
</script>



