<script>
// import the styles


// add to component
</script>

<template>

  <!-- BEGIN: Content-->
  <div class="app-content content">
      <div class="content-overlay"></div>
      <div class="header-navbar-shadow"></div>
      <div class="content-wrapper">
          <div class="content-header row">
              <div class="content-header-left col-md-9 col-12 mb-2">
                  <div class="row breadcrumbs-top">
                      <div class="col-12">
                          <h2 class="content-header-title float-left mb-0">Setting Footer</h2>
                          <div class="breadcrumb-wrapper col-12">
                              <ol class="breadcrumb">
                                  <li class="breadcrumb-item"><a href="index.html">Home</a>
                                  </li>
                                  <li class="breadcrumb-item"><a href="#">Master</a>
                                  </li>
                                  <li class="breadcrumb-item"><a href="#">Setting</a>
                                  </li>
                                  <li class="breadcrumb-item active">Footer
                                  </li>
                              </ol>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="content-header-right text-md-right col-md-3 col-12 d-md-block d-none">
                  <div class="form-group breadcrum-right">
                      <div class="dropdown">

                          <button class="btn-icon btn btn-primary btn-round btn-sm dropdown-toggle"data-toggle="tooltip"
                            data-original-title="Refresh" v-on:click="onRefresh" aria-haspopup="true" aria-expanded="false"><i class="feather icon-refresh-ccw"></i>
                          </button>

                      </div>
                  </div>
              </div>
          </div>
          <div class="content-body">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Setting Content Footer</h4>
                        </div>
                        <div class="card-content collapse show">
                          <div class="card-body">
                            <form id="formSetting" @submit.prevent="addData()" autocomplete="off">
                              <div class="modal-body">
                                <div class="row">
                                  <div class="form-group col-md-6">
                                    <label class="form-control-label" for="inputBasicUserName">Instagram</label>
                                    <input
                                      type="textfield"
                                      class="form-control "
                                      placeholder="Input your Instagram"
                                      v-model="form.instagram"
                                      autocomplete="off"
                                      
                                    >
                                  </div>
                                  <div class="form-group col-md-6">
                                    <label class="form-control-label" for="inputBasicUserName">Facebook</label>
                                    <input
                                      type="textfield"
                                      class="form-control "
                                      placeholder="Input your Facebook"
                                      v-model="form.facebook"
                                      autocomplete="off"
                                      
                                    >
                                  </div>
                                  <div class="form-group col-md-6">
                                    <label class="form-control-label" for="inputBasicUserName">Twitter</label>
                                    <input
                                      type="textfield"
                                      class="form-control "
                                      placeholder="Input your Twitter"
                                      v-model="form.twitter"
                                      autocomplete="off"
                                      
                                    >
                                  </div>
                                  <div class="form-group col-md-6">
                                    <label class="form-control-label" for="inputBasicUserName">Email</label>
                                    <input
                                      type="email"
                                      class="form-control "
                                      placeholder="Input your Email"
                                      v-model="form.email"
                                      autocomplete="off"
                                      
                                    >
                                  </div>
                                  <div class="form-group col-md-6">
                                    <label class="form-control-label" for="inputBasicUserName">Nama Tempat</label>
                                    <input
                                      type="textfield"
                                      class="form-control "
                                      placeholder="Input your Tempat"
                                      v-model="form.tempat"
                                      autocomplete="off"
                                      
                                    >
                                  </div>
                                  <div class="form-group col-md-12">
                                    <label class="form-control-label" for="inputBasicLastName">Alamat</label>
                                    <textarea class="maxlength-textarea form-control" data-plugin="maxlength" data-placement="bottom-right-inside" rows="3" placeholder="Input your Alamat" v-model="form.alamat" ></textarea>
                                  </div>
                                  <div class="form-group col-md-12">
                                    <label class="form-control-label" for="inputBasicLastName">Kata Mutiara ID</label>
                                    <textarea class="maxlength-textarea form-control" data-plugin="maxlength" data-placement="bottom-right-inside" rows="6" placeholder="Input your Kata Mutiara" v-model="form.kataMutiara" ></textarea>
                                  </div>
                                  <div class="form-group col-md-12">
                                    <label class="form-control-label" for="inputBasicLastName">Kata Mutiara EN</label>
                                    <textarea class="maxlength-textarea form-control" data-plugin="maxlength" data-placement="bottom-right-inside" rows="6" placeholder="Input your Kata Mutiara" v-model="form.kataMutiaraEN" ></textarea>
                                  </div>
                                </div>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-default btn-pure" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Save changes</button>
                              </div>
                            </form>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
      </div>
  </div>
  <!-- END: Content-->
</template>

<!-- script js -->
<script>
import moment from 'moment';

moment.locale("id");

const _ = require('lodash');

export default {
    name: 'mfooter',
    components: {

    },
    data() {
        return {
            isLoading: false,
            form:{
              id: '',
              instagram: '',
              facebook: '',
              twitter: '',
              email: '',
              tempat: '',
              alamat: '',
              kataMutiara: '',
              kataMutiaraEN: '',
            },
            action: []
        };
    },
    beforeCreate(){
        this.loading = true;
        axios
        .get("/session")
        .then(response => {
            this.id = response.data.id;
            this.role = response.data.role;
            this.login = response.data.login;
            axios
            .get("/api/getSide/" + this.id )
            .then(response => {
                this.data = response.data;
                var routesUser = [];
                this.data.forEach(function(puki, index) {
                  var nam = puki.Link.substr(1);
                  routesUser.push(nam);
                }); 
                var n = routesUser.includes(this.$options.name);
                console.log(n)
                if(this.login == true && n == true){
                  this.loading = false;
                  this.getAction(this.id,this.$options.name)
                } else if (this.login == true && n == false) {
                  this.$router.push('/not404');
                  this.loading = false;
                } else {
                  window.location.href = "/";
                  // this.$router.push('/not404');
                  this.loading = false;
                }
            });
        });
    },
    computed: {
    },
    mounted() {
      this.getFooter()
    },
    methods: {
      getFooter(){
        axios
            .get("/api/getcontentFooter")
            .then(response => {
              this.form.id = response.data.id
              this.form.instagram = response.data.instagram
              this.form.facebook = response.data.facebook
              this.form.twitter = response.data.twitter
              this.form.email = response.data.email
              this.form.tempat = response.data.tempat
              this.form.alamat = response.data.alamat
              this.form.kataMutiara = response.data.katamutiara
              this.form.kataMutiaraEN = response.data.katamutiaraEN
            });
      },
      getAction(id,link){
        axios
            .get("/api/action/" + id + "/" + link)
            .then(response => {
              this.action = response.data;
            });
      },


      addData() {
        Swal.fire({
          title: 'Are you sure?',
          text: "You won't be able to revert this!",
          type: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: 'Yes, insert it!',
          confirmButtonClass: 'btn btn-primary',
          cancelButtonClass: 'btn btn-danger ml-1',
          buttonsStyling: false,
        }).then(function (result) {
          if (result.value) {
            axios.post("/api/addContentFooter", {
              id: this.form.id,
              instagram: this.form.instagram,
              facebook: this.form.facebook,
              twitter: this.form.twitter,
              email: this.form.email,
              tempat: this.form.tempat,
              alamat: this.form.alamat,
              katamutiara: this.form.kataMutiara,
              katamutiaraEN: this.form.kataMutiaraEN,
              username: localStorage.getItem('username'),
              fullname: localStorage.getItem('fullname'),
            })
            .then(response => {
              this.getFooter()
              Swal.fire(
                {
                  type: "success",
                  title: 'Inserted!',
                  text: 'Your file has been Insert.',
                  confirmButtonClass: 'btn btn-success',
                }
              )
            });
          }
        }.bind(this))
      },

      onRefresh: function (event) {
        if (event) {
          this.getFooter();
        }
      },

      formatDate(value) {
          return moment(value).format("DD MMMM YYYY")
      }

    }
};
</script>

