<template>
  <div>
    <!-- breadcrumb start-->
    <section class="breadcrumb breadcrumb_bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb_iner text-center">
                        <div class="breadcrumb_iner_item">
                            <h2 style="font-family: 'GothamBold'">{{ $t('message.sectionManage2')}}</h2>
                            <p style="font-family: 'GothamNarrow'">{{ $t('message.sectionManage1')}}<span>/</span>{{ $t('message.sectionManage2')}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb start-->

    <!-- List Manage -->
    <section class="special_cource padding_top" style="padding-bottom: 50px;" id="listManage">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-5">
                    <div class="section_tittle text-center">
                        <h2 style="font-family: 'GothamBold'">{{ $t('message.sectionManage2')}}</h2>
                    </div>
                </div>
            </div>
            <div class="row">
              <div class="col-sm-12 col-lg-12 col-xl-12" style="margin-bottom:50px;">
                <div class="row">
                  <div class="col-md-3">
                  </div>
                  <div class="col-md-6" style="padding: 10px;">
                    <input
                      type="textfield"
                      class="form-control"
                      placeholder="Search"
                      v-on:keyup="cari()"
                      v-model="searchh"
                      autocomplete="off"
                      required
                    >
                  </div>
                  <div class="col-md-3">
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                  </div>
                  <div class="col-md-6" style="padding: 10px;">
                    <!-- <a type="button" href="#listManage" class="btn_1" @click="cari()" style="float:right;">Search</a> 
                    <a type="button" href="#listManage" class="btn_2" @click="reset()" style="background-color:#ffffff;float:left;">Reset</a> -->
                  </div>
                  <div class="col-md-3">
                  </div>
                </div>
              </div>

              <div class="col-md-12 col-lg-12" style="min-height:500px;">
                <loading :active.sync="isLoading"
                         :can-cancel="canCancel"
                         :is-full-page="fullPage"
                         :height="height"
                         :width="width"
                         :color="color"
                         :loader="loader"
                         :z-index="zindex"
                         :background-color="bgColor"></loading>
                <div class="row">
                  <template v-if="list < listManage.length" v-for="list in listManageToShow">
                    <div class="col-md-4 col-lg-4" style="margin-top:20px;">
                        <div class="single_special_cource">
                          <div class="special_cource_text" style="border: 1px solid #edeff2;border-radius: 25px;">
                            <div class="image">
                                <img :src="listManage[list].foto_arewe" @error="(() => list.foto_arewe = 'avatarDefault.png')" class="card-img-top" alt="logo" style="margin-bottom:10px;">
                            </div>
                            <!-- <h4>{{listManage[list].judul}}</h4> -->
                            <!-- <template v-if="listManage[list].nama_arewe.length <= 45"> -->
                              <a href="#"><h3 style="font-size:20px;height:60px;">{{listManage[list].nama_arewe}}</h3></a>
                            <!-- </template> -->

                            <div class="author_info">
                                <div class="author_info_text">
                                </div>
                                <div class="author_rating">
                                  <h4>{{listManage[list].posisi_arewe}}</h4>
                                </div>
                            </div>
                          </div>
                        </div>
                    </div>
                  </template>
                </div>
              </div>             
            </div>
            <template v-if="listManage.length > 6 && listManageToShow <= listManage.length">
              <div class="col-sm-12 col-lg-12 col-xl-12" style="margin-bottom:50px;margin-top:50px;" align="center">
                <a type="button" class="btn_2" @click="more()" style="background-color:#ffffff">{{ $t('message.sectionProfilebtn2')}}</a>
              </div>
            </template>
        </div>
    </section>
    <!-- End List Manage -->

  </div>
</template>

<!-- script js -->
<script>
import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.css';
import Select2 from 'v-select2-component';
import moment from 'moment';
moment.locale("id");

export default {
  name: 'kepengurusan',
  components: {
    Select2,
    Loading 
  },
  data() {
    return {
      baseUrl:'',
      isLoading: false,
      fullPage: false,
      canCancel: false,
      useSlot: false,
      loader: 'spinner',
      bgColor: '#ffffff',
      height: 128,
      width: 128,
      color: '#1D437D',
      zindex: 9998,
      loading: false,
      searchh: '',
      listManage: [],
      listManageToShow: 6,
    };
  },
  created() { 
    this.getListManage()
  },
  mounted() {
    window.scrollTo(0, 500);
  },
  methods: {
    getListManage() {
      var base_url = window.location.origin;
      this.baseUrl = base_url
      this.isLoading = true;
      axios
        .get("/api/getListManageAll/" + (this.listManageToShow - 6))
        .then(response => {
          this.listManage = response.data;
          setTimeout(() => {
            this.isLoading = false
          },3000)
        });
    },
    more(){
      this.listManageToShow += 6;
      this.isLoading = true;
      axios
        .get("/api/getListManageAll/" + (this.listManageToShow - 6))
        .then(response => {
          var listlist = this.listManage;
          response.data.forEach(function(puki, index) {
            listlist.push(puki);
          });
          this.listManage = listlist;
          setTimeout(() => {
            this.isLoading = false
          },3000)
        });
    },
    cari() {
      if(this.searchh !== ''){
        this.isLoading = true;
        axios
          .get("/api/getListManageAllCari/" + this.searchh)
          .then(response => {
          this.listManage = response.data;
          setTimeout(() => {
            this.isLoading = false
          },3000)
        });
        } else {
          this.reset()
        }
    },
    reset() {
      this.getListManage();
        this.searchh = ''
    },
    seeDetail(id){
      this.$router.push({ name: 'detailkegiatan', params: {id: id} });
    },
    formatTime(value) {
      if(value !== 0){
        return moment(value, "HH:mm:ss").format("hh:mm");
      }
    },
    formatDate(value) {
        return moment(value).format("DD MMMM YYYY");
    }
  }
};
</script>

<style scoped>
  .image{
      position:relative;
      overflow:hidden;
      padding-bottom:100%;
  }
  .image img{
        position: absolute;
        max-width: 100%;
        max-height: 100%;
        width: 100%;
        /*height: 100%;*/
        top: 50%;
        left: 50%;
        /*object-fit: cover;*/
        transform: translateX(-50%) translateY(-50%);
  }  

</style>