<script>
// import the styles


// add to component
</script>

<template>

  <!-- BEGIN: Content-->
  <div class="app-content content">
      <div class="content-overlay"></div>
      <div class="header-navbar-shadow"></div>
      <div class="content-wrapper">
          <div class="content-header row">
              <div class="content-header-left col-md-9 col-12 mb-2">
                  <div class="row breadcrumbs-top">
                      <div class="col-12">
                          <h2 class="content-header-title float-left mb-0">Tentang Kami</h2>
                          <div class="breadcrumb-wrapper col-12">
                              <ol class="breadcrumb">
                                  <li class="breadcrumb-item"><a href="index.html">Home</a>
                                  </li>
                                  <li class="breadcrumb-item"><a href="#">Master</a>
                                  </li>
                                  <li class="breadcrumb-item"><a href="#">Content</a>
                                  </li>
                                  <li class="breadcrumb-item active">Tentang Kami
                                  </li>
                              </ol>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="content-header-right text-md-right col-md-3 col-12 d-md-block d-none">
                  <div class="form-group breadcrum-right">
                      <div class="dropdown">

                          <button class="btn-icon btn btn-primary btn-round btn-sm dropdown-toggle"data-toggle="tooltip"
                            data-original-title="Refresh" v-on:click="onRefresh" aria-haspopup="true" aria-expanded="false"><i class="feather icon-refresh-ccw"></i>
                          </button>

                      </div>
                  </div>
              </div>
          </div>
          <div class="content-body">
            <!-- full Editor start -->
            <section class="full-editor">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Setting Main Content Tentang Kami</h4>
                            </div>
                            <div class="card-content collapse show">
                                <div class="card-body">
                                  <!-- Or manually control the data synchronization -->
                                  <h2>Content ID</h2>
                                  <div class="row">
                                    <div class="form-group col-md-12">
                                      <quill-editor
                                        :content="contentTentangKami"
                                        :options="editorOption"
                                        @change="onEditorChangeReg($event)"
                                      />
                                    </div>
                                    <div class="form-group col-md-12">
                                      <label class="form-control-label" for="inputBasicLastName">Setting Thumbnail Content Tentang Kami ID <small style="color:red"> *max 350 character</small></label>
                                      <textarea class="maxlength-textarea form-control" data-plugin="maxlength" data-placement="bottom-right-inside"
                                        maxlength="350" rows="5" placeholder="Input your content" v-model="contentTentangKamiThumb" required></textarea>
                                    </div>
                                  </div>
                                  <h2>Content EN</h2>
                                  <div class="row">
                                    <div class="form-group col-md-12">
                                      <quill-editor
                                        :content="contentTentangKamiEN"
                                        :options="editorOption"
                                        @change="onEditorChangeRegEN($event)"
                                      />
                                    </div>
                                    <div class="form-group col-md-12">
                                      <label class="form-control-label" for="inputBasicLastName">Setting Thumbnail Content Tentang Kami EN<small style="color:red"> *max 350 character</small></label>
                                      <textarea class="maxlength-textarea form-control" data-plugin="maxlength" data-placement="bottom-right-inside"
                                        maxlength="350" rows="5" placeholder="Input your content" v-model="contentTentangKamiThumbEN" required></textarea>
                                    </div>
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" @click="addContentTentangKami()"> Save</button>
                                  </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- full Editor end -->
          </div>
      </div>
  </div>
  <!-- END: Content-->
</template>

<!-- script js -->
<script>
import moment from 'moment';
import { quillEditor } from 'vue-quill-editor';
import 'quill/dist/quill.core.css'
import 'quill/dist/quill.snow.css'
import 'quill/dist/quill.bubble.css'
moment.locale("id");

const _ = require('lodash');

export default {
    name: 'tentangkami',
    components: {
      quillEditor
    },
    data() {
        return {
            isLoading: false,
            contentTentangKami: '',
            contentTentangKamiThumb: '',
            contentTentangKamiEN: '',
            contentTentangKamiThumbEN: '',
            editorOption: {
              placeholder: 'Compose an epic...',              
              theme: 'snow'
            },
            form:{
              menuID: '',
              nameChild: '',
            },
            action: []
        };
    },
    beforeCreate(){
        this.loading = true;
        axios
        .get("/session")
        .then(response => {
            this.id = response.data.id;
            this.role = response.data.role;
            this.login = response.data.login;
            axios
            .get("/api/getSide/" + this.id )
            .then(response => {
                this.data = response.data;
                var routesUser = [];
                this.data.forEach(function(puki, index) {
                  var nam = puki.Link.substr(1);
                  routesUser.push(nam);
                }); 
                var n = routesUser.includes(this.$options.name);
                console.log(n)
                if(this.login == true && n == true){
                  this.loading = false;
                  this.getAction(this.id,this.$options.name)
                } else if (this.login == true && n == false) {
                  this.$router.push('/not404');
                  this.loading = false;
                } else {
                  window.location.href = "/";
                  // this.$router.push('/not404');
                  this.loading = false;
                }
            });
        });
    },
    computed: {
    },
    mounted() {
      this.getContent()
    },
    methods: {
      getContent(){
        axios
            .get("/api/getcontentMainTentangKami")
            .then(response => {
              this.contentTentangKami = response.data[0].tentangkami_full;
              this.contentTentangKamiThumb = response.data[0].tentangkami_thumb;
              this.contentTentangKamiEN = response.data[0].tentangkami_fullEN;
              this.contentTentangKamiThumbEN = response.data[0].tentangkami_thumbEN;
            });
      },
      getAction(id,link){
        axios
            .get("/api/action/" + id + "/" + link)
            .then(response => {
              this.action = response.data;
            });
      },
      onEditorChangeReg({ quill, html, text }) {
        // console.log('editor change!', quill, html, text)
        this.contentTentangKami = html
      },
      onEditorChangeRegEN({ quill, html, text }) {
        // console.log('editor change!', quill, html, text)
        this.contentTentangKamiEN = html
      },

      addContentTentangKami() {
        Swal.fire({
          title: 'Are you sure?',
          text: "You won't be able to revert this!",
          type: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: 'Yes, insert it!',
          confirmButtonClass: 'btn btn-primary',
          cancelButtonClass: 'btn btn-danger ml-1',
          buttonsStyling: false,
        }).then(function (result) {
          if (result.value) {
            axios.post("/api/addContentTentangKami", {
              content_main: this.contentTentangKami,
              content_thumb: this.contentTentangKamiThumb,
              content_mainEN: this.contentTentangKamiEN,
              content_thumbEN: this.contentTentangKamiThumbEN,
              username: localStorage.getItem('username'),
              fullname: localStorage.getItem('fullname'),
            })
            .then(response => {
              this.getContent()
              Swal.fire(
                {
                  type: "success",
                  title: 'Inserted!',
                  text: 'Your file has been Insert.',
                  confirmButtonClass: 'btn btn-success',
                }
              )
            });
          }
        }.bind(this))
      },

      onRefresh: function (event) {
        if (event) {
          // this.loadItems();
          this.content = '';
          this.contentEN = '';
        }
      },

      formatDate(value) {
          return moment(value).format("DD MMMM YYYY")
      }

    }
};
</script>

