<template>
  <div>
    <!-- breadcrumb start-->
    <section class="breadcrumb breadcrumb_bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb_iner text-center">
                        <div class="breadcrumb_iner_item">
                            <h2>{{ $t('message.sectionSejarah1')}}</h2>
                            <p>Home<span>/</span>{{ $t('message.sectionhistory3')}}<span>/</span>{{ $t('message.sectionSejarah1')}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb start-->

    <!-- Vision part start-->
    <section class="learning_part" style="padding: 60px 0px 0px;">
        <div class="container">
            <div class="row align-items-sm-center align-items-lg-stretch">
                <div class="col-md-12 col-lg-12">
                    <div class="learning_member_text">
                        <h5>{{ $t('message.sectionSejarah1')}}</h5>
                        <!-- <h2>SemuaMurid<br>SemuaGuru</h2> -->
                        <!-- <h2>SemuaGuru</h2> -->
                        <template v-if="lg == 'ID'">
                          <p v-html="contentTentangKami">
                              {{ contentTentangKami }}
                          </p>
                        </template>
                        <template v-else>
                          <p v-html="contentTentangKamiEN">
                              {{ contentTentangKamiEN }}
                          </p>
                        </template>
                    </div>
                </div>
            </div> 
        </div>
    </section>
    <!-- Vision part end-->

  </div>
</template>

<!-- script js -->
<script>
import moment from 'moment';
moment.locale("id");

export default {
  name: 'landtentangkami',
  components: { 
  },
  data() {
    return {
      loading: false,
      count: 0,
      contentTentangKami: '',
      contentTentangKamiEN: '',
      lg: localStorage.getItem('lang'),
    };
  },
  computed() {
    this.displayLocale()
  },
  created() { 
    
  },
  mounted() {
    this.getContent()
    window.scrollTo(0, 500);
  },
  methods: {
    getContent(){
      axios
          .get("/api/getcontentMainTentangKami")
          .then(response => {
            this.contentTentangKami = response.data[0].tentangkami_full;
            this.contentTentangKamiEN = response.data[0].tentangkami_fullEN;
          });
    },
  }
};
</script>
