<template>
  <div>
    <!-- breadcrumb start-->
    <section class="breadcrumb breadcrumb_bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb_iner text-center">
                        <div class="breadcrumb_iner_item">
                            <h2>{{ $t('message.sectionhistory4')}}</h2>
                            <p>Home<span>/</span>{{ $t('message.sectionhistory3')}}<span>/</span>{{ $t('message.sectionhistory4')}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> 
    <!-- breadcrumb start-->

    <!-- Vision part start-->
    <section class="learning_part" style="padding:130px 0px;">
        <div class="container">
            <div class="row align-items-sm-center align-items-lg-stretch">
                <div class="col-md-7 col-lg-7">
                    <div class="learning_img">
                        <img src="themeLanding/img/learning_img.png" alt="">
                    </div>
                </div>
                <div class="col-md-5 col-lg-5">
                    <div class="learning_member_text">
                        <h5>{{ $t('message.sectionhistory3')}}</h5>
                        <h2>{{ $t('message.sectionhistory4')}}</h2>
                        <template v-if="lg == 'ID'">
                          <ul>
                              <template v-if="visimisi.isiVisiMisi1 !== ''">
                                  <li><span class="ti-pencil-alt"></span>{{visimisi.isiVisiMisi1}}</li>
                              </template>
                              <template v-if="visimisi.isiVisiMisi2 !== ''">
                                  <li><span class="ti-pencil-alt"></span>{{visimisi.isiVisiMisi2}}</li>
                              </template>
                              <template v-if="visimisi.isiVisiMisi3 !== ''">
                                  <li><span class="ti-pencil-alt"></span>{{visimisi.isiVisiMisi3}}</li>
                              </template>
                              <template v-if="visimisi.isiVisiMisi4 !== ''">
                                  <li><span class="ti-pencil-alt"></span>{{visimisi.isiVisiMisi4}}</li>
                              </template>
                              <template v-if="visimisi.isiVisiMisi5 !== ''">
                                  <li><span class="ti-pencil-alt"></span>{{visimisi.isiVisiMisi5}}</li>
                              </template>
                              <template v-if="visimisi.isiVisiMisi6 !== ''">
                                  <li><span class="ti-pencil-alt"></span>{{visimisi.isiVisiMisi6}}</li>
                              </template>
                          </ul>
                        </template>
                        <template v-else>
                          <ul>
                              <template v-if="visimisi.isiVisiMisiEN1 !== ''">
                                  <li><span class="ti-pencil-alt"></span>{{visimisi.isiVisiMisiEN1}}</li>
                              </template>
                              <template v-if="visimisi.isiVisiMisiEN2 !== ''">
                                  <li><span class="ti-pencil-alt"></span>{{visimisi.isiVisiMisiEN2}}</li>
                              </template>
                              <template v-if="visimisi.isiVisiMisiEN3 !== ''">
                                  <li><span class="ti-pencil-alt"></span>{{visimisi.isiVisiMisiEN3}}</li>
                              </template>
                              <template v-if="visimisi.isiVisiMisiEN4 !== ''">
                                  <li><span class="ti-pencil-alt"></span>{{visimisi.isiVisiMisiEN4}}</li>
                              </template>
                              <template v-if="visimisi.isiVisiMisiEN5 !== ''">
                                  <li><span class="ti-pencil-alt"></span>{{visimisi.isiVisiMisiEN5}}</li>
                              </template>
                              <template v-if="visimisi.isiVisiMisiEN6 !== ''">
                                  <li><span class="ti-pencil-alt"></span>{{visimisi.isiVisiMisiEN6}}</li>
                              </template>
                          </ul>
                        </template>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Vision part end-->

  </div>
</template>

<!-- script js -->
<script>

import moment from 'moment';
moment.locale("id");

export default {
  name: 'visi&misi',
  components: { 
  },
  data() {
    return {
      loading: false,
      count: 0,
      visimisi: {
        isiVisiMisi1: '',
        isiVisiMisiEN1: '',
        isiVisiMisi2: '',
        isiVisiMisiEN2: '',
        isiVisiMisi3: '',
        isiVisiMisiEN3: '',
        isiVisiMisi4: '',
        isiVisiMisiEN4: '',
        isiVisiMisi5: '',
        isiVisiMisiEN5: '',
        isiVisiMisi6: '',
        isiVisiMisiEN6: '',
      },
      lg: localStorage.getItem('lang'),
    };
  },
  created() { 
    
  },
  mounted() {
    this.getVisiMisi()
    window.scrollTo(0, 500);
  },
  methods: {
    getVisiMisi(){
        axios
            .get("/api/getcontentVisiMisi")
            .then(response => {
              this.visimisi.isiVisiMisi1 = response.data.isi_visimisi[0]
              this.visimisi.isiVisiMisiEN1 = response.data.isi_visimisiEN[0]
              this.visimisi.isiVisiMisi2 = response.data.isi_visimisi[1]
              this.visimisi.isiVisiMisiEN2 = response.data.isi_visimisiEN[1]
              this.visimisi.isiVisiMisi3 = response.data.isi_visimisi[2]
              this.visimisi.isiVisiMisiEN3 = response.data.isi_visimisiEN[2]
              this.visimisi.isiVisiMisi4 = response.data.isi_visimisi[3]
              this.visimisi.isiVisiMisiEN4 = response.data.isi_visimisiEN[3]
              this.visimisi.isiVisiMisi5 = response.data.isi_visimisi[4]
              this.visimisi.isiVisiMisiEN5 = response.data.isi_visimisiEN[4]
              this.visimisi.isiVisiMisi6 = response.data.isi_visimisi[5]
              this.visimisi.isiVisiMisiEN6 = response.data.isi_visimisiEN[5]
            });
    },
  }
};
</script>
