<template>
  <!-- Modal -->
  <div class="modal fade text-left viewBAUMMod" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel1">View BA Pelelangan Umum</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">

          <ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">
              <li class="nav-item">
                  <a class="nav-link active" id="aanwijzing-tab-fill" data-toggle="tab" href="#aanwijzing-fill" role="tab" aria-controls="aanwijzing-fill" aria-selected="false">Aanwijzing</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" id="penawaran-tab-fill" data-toggle="tab" href="#penawaran-fill" role="tab" aria-controls="penawaran-fill" aria-selected="false">Penawaran</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" id="negosiasi-tab-fill" data-toggle="tab" href="#negosiasi-fill" role="tab" aria-controls="negosiasi-fill" aria-selected="false">Klarifikasi & Negosiasi</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" id="pemenang-tab-fill" data-toggle="tab" href="#pemenang-fill" role="tab" aria-controls="pemenang-fill" aria-selected="false">Penetapan Pemenang</a>
              </li>
          </ul>

          <div class="tab-content pt-1">
            <div class="tab-pane active" id="aanwijzing-fill" role="tabpanel" aria-labelledby="aanwijzing-tab-fill">
              <div class="card-body">
                <div class="row">
                  <div class="form-group col-md-12">
                    <div class="table-responsive">
                      <table border="0" width="100%">
                        <tbody>
                          <tr>
                            <td></td>
                            <td style="text-align: center; vertical-align: middle;"><b>BERITA ACARA</b></td>
                            <td></td>
                          </tr>
                          <tr>
                            <td></td>
                            <td style="text-align: center; vertical-align: middle;">TENTANG</td>
                            <td></td>
                          </tr>
                          <tr>
                            <td></td>
                            <td style="text-align: center; vertical-align: middle;">{{upper(form.namaPekerjaan)}}</td>
                            <td></td>
                          </tr>
                          <tr>
                            <td colspan="3"><br></td>
                          </tr>
                          <tr>
                            <td colspan="3" style="text-align: justify; vertical-align: middle;">Pada hari ini {{hari(form.created_at)}} tanggal {{terbilang(form.created_at,'hari')}} bulan {{terbilang(form.created_at,'bulan')}} tahun {{terbilang(form.created_at,'tahun')}} telah dilakukan penjelasan/Aanwijzing untuk:</td>
                          </tr>
                          <tr>
                            <td colspan="3"><br></td>
                          </tr>
                        </tbody>
                      </table>
                      <table border="0" width="100%">
                        <tbody>
                          <tr>
                            <td style="text-align: justify; vertical-align: middle;" width="20%">Pekerjaan</td>
                            <td width="5%">:</td>
                            <td style="text-align: justify; vertical-align: middle;" width="75%">{{form.namaPekerjaan}}</td>
                          </tr>
                          <tr>
                            <td colspan="3"><br></td>
                          </tr>
                          <tr>
                            <td style="text-align: justify; vertical-align: middle;" width="20%">Lokasi</td>
                            <td width="5%">:</td>
                            <td style="text-align: justify; vertical-align: middle;" width="75%">{{form.lokasi}}</td>
                          </tr>
                          <tr>
                            <td colspan="3"><br></td>
                          </tr>
                          <tr>
                            <td style="text-align: justify; vertical-align: middle;" width="20%">Rapat Dipimpin</td>
                            <td width="5%">:</td>
                            <td style="text-align: justify; vertical-align: middle;" width="75%">{{form.pimpinanRapat}}</td>
                          </tr>
                          <tr>
                            <td colspan="3"><br></td>
                          </tr>
                          <tr>
                            <td style="text-align: justify; vertical-align: middle;" width="20%">Jabatan</td>
                            <td width="5%">:</td>
                            <td style="text-align: justify; vertical-align: middle;" width="75%">{{form.jabatanPimpinan}}</td>
                          </tr>
                          <tr>
                            <td colspan="3"><br></td>
                          </tr>
                          <tr>
                            <td style="text-align: justify; vertical-align: middle;" width="20%">Dimulai jam</td>
                            <td width="5%">:</td>
                            <td style="text-align: justify; vertical-align: middle;" width="75%">{{form.dimulaiJam}}</td>
                          </tr>
                          <tr>
                            <td colspan="3"><br></td>
                          </tr>
                          <tr>
                            <td style="text-align: justify; vertical-align: middle;text-decoration: underline;" width="20%">Peserta Rapat :</td>
                            <td width="5%"></td>
                            <td style="text-align: justify; vertical-align: middle;" width="75%"></td>
                          </tr>
                        </tbody>
                      </table>
                      <table border="0" width="100%">
                        <tbody>
                          <tr>
                            <td colspan="3"><br></td>
                          </tr>
                          <tr>
                            <td style="text-align: justify; vertical-align: middle;" width="20%">PT. KIW (Persero) :</td>
                            <td width="5%"></td>
                            <td style="text-align: justify; vertical-align: middle;" width="75%"></td>
                          </tr>
                        </tbody>
                      </table>
                      <table border="0" width="100%">
                        <tbody>
                          <template v-for="(row, index) in form.peserta">
                            <tr>
                              <td width="5%">{{index+1}}.</td>
                              <td style="text-align: justify; vertical-align: middle;" width="20%">{{row.nama}}</td>
                              <td width="5%">:</td>
                              <td style="text-align: justify; vertical-align: middle;"width="75%">{{row.jabatan}}</td>
                            </tr>
                          </template>
                        </tbody>
                      </table>
                      <table border="0" width="100%">
                        <tbody>
                          <tr>
                            <td colspan="3"><br></td>
                          </tr>
                          <tr>
                            <td style="text-align: justify; vertical-align: middle;text-decoration: underline;" width="20%">Penyedia jasa :</td>
                            <td width="5%"></td>
                            <td style="text-align: justify; vertical-align: middle;" width="75%"></td>
                          </tr>
                        </tbody>
                      </table>
                      <table border="0" width="100%">
                        <tbody>
                          <template v-for="(row, index) in form.penyedia">
                            <tr>
                              <td width="5%">{{index+1}}.</td>
                              <td style="text-align: justify; vertical-align: middle;" width="95%">{{row.nama_vendor}}</td>
                            </tr>
                          </template>
                        </tbody>
                      </table>
                      <table border="0" width="100%">
                        <tbody>
                          <tr>
                            <td colspan="3"><br></td>
                          </tr>
                          <tr>
                            <td style="text-align: justify; vertical-align: middle;text-decoration: underline;" width="50%">Pokok - pokok penjelasan :</td>
                            <td width="5%"></td>
                            <td style="text-align: justify; vertical-align: middle;" width="45%"></td>
                          </tr>
                        </tbody>
                      </table>
                      <table border="0" width="100%">
                        <tbody>
                          <tr>
                            <td colspan="3"><br></td>
                          </tr>
                          <tr>
                            <td width="100%" v-html="contentBA">{{contentBA}}</td>
                          </tr>
                          <tr>
                            <td colspan="3"><br></td>
                          </tr>
                          <tr>
                            <td colspan="3" style="text-align: justify; vertical-align: middle;">Demikian berita acara ini dibuat dengan sesungguhnya untuk dapat dipergunakan seperlunya.</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div class="form-group col-md-6">
                    <div class="table-responsive">
                      <table border="0" width="100%">
                        <tbody>
                          <tr>
                            <td style="text-align: justify; vertical-align: middle;" width="30%">Penyedia jasa :</td>
                            <td width="5%"></td>
                            <td style="text-align: justify; vertical-align: middle;" width="65%"></td>
                          </tr>
                        </tbody>
                      </table>
                      <table border="0" width="100%">
                        <tbody>
                          <template v-for="(row, index) in form.penyedia">
                            <tr>
                              <td width="5%">{{index+1}}.</td>
                              <td style="text-align: justify; vertical-align: middle;" width="95%">{{row.nama_vendor}}</td>
                            </tr>
                            <tr>
                              <td colspan="2" style="text-align: center; vertical-align: middle;" width="100%" height="100px">
                                <img class="round" :src="`uploads/signature/${row.signature}`" @error="(() => row.signature = '/signatureNone.png')" width="150" height="150" alt="...">
                              </td>
                            </tr>
                          </template>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div class="form-group col-md-6">
                    <div class="table-responsive">
                      <table border="0" width="100%">
                        <tbody>
                          <tr>
                            <td style="text-align: center; vertical-align: middle;" width="100%">Panitia Pengadaan :</td>
                          </tr>
                          <tr>
                            <td style="text-align: center; vertical-align: middle;" width="100%">PT. Kawasan Industri Wijayakusuma (Persero)</td>
                          </tr>
                          <tr>
                            <td style="text-align: center; vertical-align: middle;" width="100%">Semarang, Tahun {{year(form.created_at)}}</td>
                          </tr>
                          <tr>
                            <td style="text-align: center; vertical-align: middle;" width="100%" height="100px">
                                <img class="round" :src="`uploads/signature/${form.signaturePimpinan}`" @error="(() => form.signaturePimpinan = '/signatureNone.png')" width="150" height="150" alt="...">
                            </td>
                          </tr>
                          <tr>
                            <td style="text-align: center; vertical-align: middle;" width="100%">{{form.pimpinanRapat}}</td>
                          </tr>
                          <tr>
                            <td style="text-align: center; vertical-align: middle;" width="100%">{{form.jabatanPimpinan}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div class="form-group col-md-12">
                    <label class="form-control-label" for="inputBasicLastName">Attachment <small style="color:red"> *only .<b>PDF or .PNG, .JPG</b></small></label>
                    <div class="row">
                      <template v-if="form.attachmentAanwijzing.length < 1">
                        <div class="col-md-4">
                            <p>Tidak ada attachment</p>
                        </div>
                      </template>
                      <template v-else>
                        <template v-for="(row, index) in form.attachmentAanwijzing">
                          <template v-if="checkExt(row) == 'pdf'">
                            <div class="col-md-4">
                                <img class="card-img-top" src="/uploads/iconPDF.png" style="width:auto;height:50px;">                        
                                <div class="card-body">
                                  <a :href="'/uploads/attachmentBA/'+row" target="_blank" > attachment PDF {{index+1}} </a>
                                </div>
                            </div>
                          </template>
                          <template v-else-if="checkExt(row) == 'jpg' || checkExt(row) == 'jpeg' || checkExt(row) == 'png'">
                            <div class="col-md-4">
                                <img class="card-img-top" :src="'/uploads/attachmentBA/'+row" style="width:auto;height:50px;">                        
                                <div class="card-body">
                                  <a :href="'/uploads/attachmentBA/'+row" target="_blank" > attachment IMAGE {{index+1}} </a>
                                </div>
                            </div>
                          </template>
                        </template>
                      </template>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane" id="penawaran-fill" role="tabpanel" aria-labelledby="penawaran-tab-fill">
              <div class="card-body">
                <div class="row">
                  <div class="form-group col-md-12">
                    <div class="table-responsive">
                      <table border="0" width="100%">
                        <tbody>
                          <tr>
                            <td></td>
                            <td style="text-align: center; vertical-align: middle;"><b>BERITA ACARA</b></td>
                            <td></td>
                          </tr>
                          <tr>
                            <td></td>
                            <td style="text-align: center; vertical-align: middle;">TENTANG</td>
                            <td></td>
                          </tr>
                          <tr>
                            <td></td>
                            <td style="text-align: center; vertical-align: middle;">{{upper(form2.namaPekerjaan)}}</td>
                            <td></td>
                          </tr>
                          <tr>
                            <td colspan="3"><br></td>
                          </tr>
                          <tr>
                            <td colspan="3" style="text-align: justify; vertical-align: middle;">Pada hari ini {{hari(form2.created_at)}} tanggal {{terbilang(form2.created_at,'hari')}} bulan {{terbilang(form2.created_at,'bulan')}} tahun {{terbilang(form2.created_at,'tahun')}}, telah mengadakan rapat pemasukan dan pembukaan penawaran untuk:</td>
                          </tr>
                          <tr>
                            <td colspan="3"><br></td>
                          </tr>
                        </tbody>
                      </table>
                      <table border="0" width="100%">
                        <tbody>
                          <tr>
                            <td style="text-align: justify; vertical-align: middle;" width="20%">Pekerjaan</td>
                            <td width="5%">:</td>
                            <td style="text-align: justify; vertical-align: middle;" width="75%">{{form2.namaPekerjaan}}</td>
                          </tr>
                          <tr>
                            <td colspan="3"><br></td>
                          </tr>
                          <tr>
                            <td style="text-align: justify; vertical-align: middle;" width="20%">Lokasi</td>
                            <td width="5%">:</td>
                            <td style="text-align: justify; vertical-align: middle;" width="75%">{{form2.lokasi}}</td>
                          </tr>
                          <tr>
                            <td colspan="3"><br></td>
                          </tr>
                          <tr>
                            <td style="text-align: justify; vertical-align: middle;" width="20%">Rapat Dipimpin</td>
                            <td width="5%">:</td>
                            <td style="text-align: justify; vertical-align: middle;" width="75%">{{form2.pimpinanRapat}}</td>
                          </tr>
                          <tr>
                            <td colspan="3"><br></td>
                          </tr>
                          <tr>
                            <td style="text-align: justify; vertical-align: middle;" width="20%">Jabatan</td>
                            <td width="5%">:</td>
                            <td style="text-align: justify; vertical-align: middle;" width="75%">{{form2.jabatanPimpinan}}</td>
                          </tr>
                          <tr>
                            <td colspan="3"><br></td>
                          </tr>
                          <tr>
                            <td style="text-align: justify; vertical-align: middle;" width="20%">Dimulai jam</td>
                            <td width="5%">:</td>
                            <td style="text-align: justify; vertical-align: middle;" width="75%">{{form2.dimulaiJam}}</td>
                          </tr>
                          <tr>
                            <td colspan="3"><br></td>
                          </tr>
                          <tr>
                            <td style="text-align: justify; vertical-align: middle;text-decoration: underline;" width="20%">Peserta Rapat :</td>
                            <td width="5%"></td>
                            <td style="text-align: justify; vertical-align: middle;" width="75%"></td>
                          </tr>
                        </tbody>
                      </table>
                      <table border="0" width="100%">
                        <tbody>
                          <tr>
                            <td colspan="3"><br></td>
                          </tr>
                          <tr>
                            <td style="text-align: justify; vertical-align: middle;" width="20%">PT. KIW (Persero) :</td>
                            <td width="5%"></td>
                            <td style="text-align: justify; vertical-align: middle;" width="75%"></td>
                          </tr>
                        </tbody>
                      </table>
                      <table border="0" width="100%">
                        <tbody>
                          <template v-for="(row, index) in form2.peserta">
                            <tr>
                              <td width="5%">{{index+1}}.</td>
                              <td style="text-align: justify; vertical-align: middle;" width="20%">{{row.nama}}</td>
                              <td width="5%">:</td>
                              <td style="text-align: justify; vertical-align: middle;"width="75%">{{row.jabatan}}</td>
                            </tr>
                          </template>
                        </tbody>
                      </table>
                      <table border="0" width="100%">
                        <tbody>
                          <tr>
                            <td colspan="3"><br></td>
                          </tr>
                          <tr>
                            <td style="text-align: justify; vertical-align: middle;text-decoration: underline;" width="20%">Penyedia jasa :</td>
                            <td width="5%"></td>
                            <td style="text-align: justify; vertical-align: middle;" width="75%"></td>
                          </tr>
                        </tbody>
                      </table>
                      <table border="0" width="100%">
                        <tbody>
                          <template v-for="(row, index) in form2.penyedia">
                            <tr>
                              <td width="5%">{{index+1}}.</td>
                              <td style="text-align: justify; vertical-align: middle;" width="95%">{{row.nama_vendor}}</td>
                            </tr>
                          </template>
                        </tbody>
                      </table>
                      <table border="0" width="100%">
                        <tbody>
                          <tr>
                            <td colspan="3"><br></td>
                          </tr>
                          <tr>
                            <td style="text-align: justify; vertical-align: middle;text-decoration: underline;" width="50%">Pokok - pokok penjelasan :</td>
                            <td width="5%"></td>
                            <td style="text-align: justify; vertical-align: middle;" width="45%"></td>
                          </tr>
                        </tbody>
                      </table>
                      <table border="0" width="100%">
                        <tbody>
                          <tr>
                            <td colspan="3"><br></td>
                          </tr>
                          <tr>
                            <td width="100%" v-html="contentBA2">{{contentBA2}}</td>
                          </tr>
                          <tr>
                            <td colspan="3"><br></td>
                          </tr>
                        </tbody>
                      </table>
                      <table border="1" width="100%">
                        <thead>
                          <tr>
                            <th>NO</th>
                            <th>PENYEDIA JASA</th>
                            <th>HARGA PENAWARAN</th>
                            <th>KET</th>
                          </tr>
                        </thead>
                        <tbody>
                          <template v-for="(row, index) in form2.penawaran">
                            <tr>
                              <td width="5%">{{index+1}}.</td>
                              <td style="text-align: justify; vertical-align: middle;" width="40%">{{row.nama_vendor}}</td>
                              <td style="text-align: justify; vertical-align: middle;" width="40%">Rp. {{formatPrice(row.penawaran)}}</td>
                              <template v-if="row.validasi_penawaran == 2">
                                <td style="text-align: justify; vertical-align: middle;" width="15%">SAH</td>
                              </template>
                              <template v-else>
                                <td style="text-align: justify; vertical-align: middle;" width="15%">TIDAK SAH</td>
                              </template>
                            </tr>
                          </template>
                        </tbody>
                      </table>
                      <br>
                      <table border="1" width="100%">
                        <thead>
                          <tr>
                            <th style="text-align: center; vertical-align: middle;">NO</th>
                            <th style="text-align: center; vertical-align: middle;">NAMA REKANAN</th>
                            <th style="text-align: center; vertical-align: middle;" colspan="14">LAMPIRAN</th>
                            <th style="text-align: center; vertical-align: middle;">HARGA PENAWARAN</th>
                            <th style="text-align: center; vertical-align: middle;">JAMINAN</th>
                            <th style="text-align: center; vertical-align: middle;">KET</th>
                          </tr>
                          <tr>
                            <th></th>
                            <th></th>
                            <th style="text-align: center; vertical-align: middle;">a</th>
                            <th style="text-align: center; vertical-align: middle;">b</th>
                            <th style="text-align: center; vertical-align: middle;">c</th>
                            <th style="text-align: center; vertical-align: middle;">d</th>
                            <th style="text-align: center; vertical-align: middle;">e</th>
                            <th style="text-align: center; vertical-align: middle;">f</th>
                            <th style="text-align: center; vertical-align: middle;">g</th>
                            <th style="text-align: center; vertical-align: middle;">h</th>
                            <th style="text-align: center; vertical-align: middle;">i</th>
                            <th style="text-align: center; vertical-align: middle;">j</th>
                            <th style="text-align: center; vertical-align: middle;">k</th>
                            <th style="text-align: center; vertical-align: middle;">l</th>
                            <th style="text-align: center; vertical-align: middle;">m</th>
                            <th style="text-align: center; vertical-align: middle;">n</th>
                            <th></th>
                            <th></th>
                            <th></th>
                          </tr>
                        </thead>
                        <tbody>
                          <template v-for="(row, index) in form2.penawaran">
                            <tr>
                              <td width="5%">{{index+1}}.</td>
                              <td style="text-align: justify; vertical-align: middle;">{{row.nama_vendor}}</td>
                              
                                

                                <template v-for="(rows, indexs) in row.dokumen_penawaran">
                                  <template v-if="rows.dokumen_penawaran == null || rows.dokumen_penawaran == ''">
                                    <td style="text-align: center; vertical-align: middle;"><i class="feather icon-minus" aria-hidden="true"></i></td>
                                  </template>  
                                  <template v-else>
                                    <td style="text-align: center; vertical-align: middle;"><i class="feather icon-check" aria-hidden="true"></i></td>
                                  </template>
                                </template>
                              
                              <td style="text-align: justify; vertical-align: middle;">Rp. {{formatPrice(row.penawaran)}}</td>
                              <td style="text-align: justify; vertical-align: middle;">Rp. {{formatPrice(row.jaminan_penawaran)}}</td>
                              <template v-if="row.validasi_penawaran == 2">
                                <td style="text-align: justify; vertical-align: middle;">SAH</td>
                              </template>
                              <template v-else>
                                <td style="text-align: justify; vertical-align: middle;">TIDAK SAH</td>
                              </template>
                            </tr>
                          </template>
                        </tbody>
                      </table>
                      <table border="0" width="100%">
                        <tbody>
                          <tr>
                            <td colspan="3"><br></td>
                          </tr>
                          <tr>
                            <td colspan="3" style="text-align: justify; vertical-align: middle;">Demikian berita acara ini dibuat dengan sesungguhnya untuk dapat dipergunakan seperlunya.</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div class="form-group col-md-6">
                    <div class="table-responsive">
                      <table border="0" width="100%">
                        <tbody>
                          <tr>
                            <td style="text-align: justify; vertical-align: middle;" width="65%">Panitia Pengadaan :</td>
                            <td width="5%"></td>
                            <td style="text-align: justify; vertical-align: middle;" width="30%"></td>
                          </tr>
                        </tbody>
                      </table>
                      <table border="0" width="100%">
                        <tbody>
                          <template v-for="(row, index) in form2.peserta">
                            <!-- {{setIDini3(row.id_user)}} -->
                            <tr>
                              <td width="5%">{{index+1}}.</td>
                              <td style="text-align: justify; vertical-align: middle;" width="95%">{{row.nama}}</td>
                            </tr>
                            <tr>
                              <td colspan="2" style="text-align: center; vertical-align: middle;" width="100%" height="100px">
                                <img class="round" :src="`uploads/signature/${row.signature}`" @error="(() => row.signature = '/signatureNone.png')" width="150" height="150" alt="...">
                              </td>
                            </tr>
                          </template>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div class="form-group col-md-6">
                    <div class="table-responsive">
                      <table border="0" width="100%">
                        <tbody>
                          <tr>
                            <td style="text-align: justify; vertical-align: middle;" width="30%">Penyedia jasa :</td>
                            <td width="5%"></td>
                            <td style="text-align: justify; vertical-align: middle;" width="65%"></td>
                          </tr>
                        </tbody>
                      </table>
                      <table border="0" width="100%">
                        <tbody>
                          <template v-for="(row, index) in form2.penyedia">
                            <tr>
                              <td width="5%">{{index+1}}.</td>
                              <td style="text-align: justify; vertical-align: middle;" width="95%">{{row.nama_vendor}}</td>
                            </tr>
                            <tr>
                              <td colspan="2" style="text-align: center; vertical-align: middle;" width="100%" height="100px">
                                <img class="round" :src="`uploads/signature/${row.signature}`" @error="(() => row.signature = '/signatureNone.png')" width="150" height="150" alt="...">
                              </td>
                            </tr>
                          </template>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div class="form-group col-md-6">
                    <div class="table-responsive">
                      <table border="0" width="100%">
                        <tbody>
                          <tr>
                            <!-- <td style="text-align: left; vertical-align: middle;" width="100%">Panitia Pengadaan :</td> -->
                          </tr>
                          <tr>
                            <td style="text-align: left; vertical-align: middle;" width="100%">PT. Kawasan Industri Wijayakusuma (Persero)</td>
                          </tr>
                          <tr>
                            <td style="text-align: left; vertical-align: middle;" width="100%">Semarang, Tahun {{year(form2.created_at)}}</td>
                          </tr>
                          <tr>
                            <td style="text-align: center; vertical-align: middle;" width="100%" height="100px">
                                <img class="round" :src="`uploads/signature/${form2.signaturePimpinan}`" @error="(() => form2.signaturePimpinan = '/signatureNone.png')" width="150" height="150" alt="...">
                            </td>
                          </tr>
                          <tr>
                            <td style="text-align: center; vertical-align: middle;" width="100%">{{form2.pimpinanRapat}}</td>
                          </tr>
                          <tr>
                            <td style="text-align: center; vertical-align: middle;" width="100%">{{form2.jabatanPimpinan}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div class="form-group col-md-12">
                    <label class="form-control-label" for="inputBasicLastName">Attachment <small style="color:red"> *only .<b>PDF or .PNG, .JPG</b></small></label>
                    <div class="row">
                      <template v-if="form2.attachmentPenawaran.length < 1">
                        <div class="col-md-4">
                            <p>Tidak ada attachment</p>
                        </div>
                      </template>
                      <template v-else>
                        <template v-for="(row, index) in form2.attachmentPenawaran">
                          <template v-if="checkExt(row) == 'pdf'">
                            <div class="col-md-4">
                                <img class="card-img-top" src="/uploads/iconPDF.png" style="width:auto;height:50px;">                        
                                <div class="card-body">
                                  <a :href="'/uploads/attachmentBA/'+row" target="_blank" > attachment PDF {{index+1}} </a>
                                </div>
                            </div>
                          </template>
                          <template v-else-if="checkExt(row) == 'jpg' || checkExt(row) == 'jpeg' || checkExt(row) == 'png'">
                            <div class="col-md-4">
                                <img class="card-img-top" :src="'/uploads/attachmentBA/'+row" style="width:auto;height:50px;">                        
                                <div class="card-body">
                                  <a :href="'/uploads/attachmentBA/'+row" target="_blank" > attachment IMAGE {{index+1}} </a>
                                </div>
                            </div>
                          </template>
                        </template>
                      </template>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane" id="negosiasi-fill" role="tabpanel" aria-labelledby="negosiasi-tab-fill">
              <div class="card-body">
                <div class="row">
                  <div class="form-group col-md-12">
                    <div class="table-responsive">
                      <table border="0" width="100%">
                        <tbody>
                          <tr>
                            <td></td>
                            <td style="text-align: center; vertical-align: middle;"><b>BERITA ACARA</b></td>
                            <td></td>
                          </tr>
                          <tr>
                            <td></td>
                            <td style="text-align: center; vertical-align: middle;">TENTANG</td>
                            <td></td>
                          </tr>
                          <tr>
                            <td></td>
                            <td style="text-align: center; vertical-align: middle;">{{upper(form3.namaPekerjaan)}}</td>
                            <td></td>
                          </tr>
                          <tr>
                            <td colspan="3"><br></td>
                          </tr>
                          <tr>
                            <td colspan="3" style="text-align: justify; vertical-align: middle;">Pada hari ini {{hari(form3.created_at)}} tanggal {{terbilang(form3.created_at,'hari')}} bulan {{terbilang(form3.created_at,'bulan')}} tahun {{terbilang(form3.created_at,'tahun')}} PT. Kawasan Industri Wijayakusuma (Persero) dan {{form3.namaVendor}} telah mengadakan rapat Klarifikasi & Negosiasi terhadap penawaran dari {{form3.namaVendor}}:</td>
                          </tr>
                          <tr>
                            <td colspan="3"><br></td>
                          </tr>
                        </tbody>
                      </table>
                      <table border="0" width="100%">
                        <tbody>
                          <tr>
                            <td style="text-align: justify; vertical-align: middle;" width="20%">Pekerjaan</td>
                            <td width="5%">:</td>
                            <td style="text-align: justify; vertical-align: middle;" width="75%">{{form3.namaPekerjaan}}</td>
                          </tr>
                          <tr>
                            <td colspan="3"><br></td>
                          </tr>
                          <tr>
                            <td style="text-align: justify; vertical-align: middle;" width="20%">Lokasi</td>
                            <td width="5%">:</td>
                            <td style="text-align: justify; vertical-align: middle;" width="75%">{{form3.lokasi}}</td>
                          </tr>
                          <tr>
                            <td colspan="3"><br></td>
                          </tr>
                          <tr>
                            <td style="text-align: justify; vertical-align: middle;" width="20%">Rapat Dipimpin</td>
                            <td width="5%">:</td>
                            <td style="text-align: justify; vertical-align: middle;" width="75%">{{form3.pimpinanRapat}}</td>
                          </tr>
                          <tr>
                            <td colspan="3"><br></td>
                          </tr>
                          <tr>
                            <td style="text-align: justify; vertical-align: middle;" width="20%">Jabatan</td>
                            <td width="5%">:</td>
                            <td style="text-align: justify; vertical-align: middle;" width="75%">{{form3.jabatanPimpinan}}</td>
                          </tr>
                          <tr>
                            <td colspan="3"><br></td>
                          </tr>
                          <tr>
                            <td style="text-align: justify; vertical-align: middle;" width="20%">Dimulai jam</td>
                            <td width="5%">:</td>
                            <td style="text-align: justify; vertical-align: middle;" width="75%">{{form3.dimulaiJam}}</td>
                          </tr>
                          <tr>
                            <td colspan="3"><br></td>
                          </tr>
                          <tr>
                            <td style="text-align: justify; vertical-align: middle;text-decoration: underline;" width="20%">Peserta Rapat :</td>
                            <td width="5%"></td>
                            <td style="text-align: justify; vertical-align: middle;" width="75%"></td>
                          </tr>
                        </tbody>
                      </table>
                      <table border="0" width="100%">
                        <tbody>
                          <tr>
                            <td colspan="3"><br></td>
                          </tr>
                          <tr>
                            <td style="text-align: justify; vertical-align: middle;" width="20%">PT. KIW (Persero) :</td>
                            <td width="5%"></td>
                            <td style="text-align: justify; vertical-align: middle;" width="75%"></td>
                          </tr>
                        </tbody>
                      </table>
                      <table border="0" width="100%">
                        <tbody>
                          <template v-for="(row, index) in form3.peserta">
                            <tr>
                              <td width="5%">{{index+1}}.</td>
                              <td style="text-align: justify; vertical-align: middle;" width="20%">{{row.nama}}</td>
                              <td width="5%">:</td>
                              <td style="text-align: justify; vertical-align: middle;"width="75%">{{row.jabatan}}</td>
                            </tr>
                          </template>
                        </tbody>
                      </table>
                      <table border="0" width="100%">
                        <tbody>
                          <tr>
                            <td colspan="3"><br></td>
                          </tr>
                          <tr>
                            <td style="text-align: justify; vertical-align: middle;text-decoration: underline;" width="20%">Penyedia jasa :</td>
                            <td width="5%"></td>
                            <td style="text-align: justify; vertical-align: middle;" width="75%"></td>
                          </tr>
                        </tbody>
                      </table>
                      <table border="0" width="100%">
                        <tbody>
                          <template v-for="(row, index) in form3.penyedia">
                            <tr>
                              <td width="5%">{{index+1}}.</td>
                              <td style="text-align: justify; vertical-align: middle;" width="95%">{{row.nama_vendor}}</td>
                            </tr>
                          </template>
                        </tbody>
                      </table>
                      <table border="0" width="100%">
                        <tbody>
                          <tr>
                            <td colspan="3"><br></td>
                          </tr>
                          <tr>
                            <td style="text-align: justify; vertical-align: middle;text-decoration: underline;" width="50%">Pokok - pokok penjelasan :</td>
                            <td width="5%"></td>
                            <td style="text-align: justify; vertical-align: middle;" width="45%"></td>
                          </tr>
                        </tbody>
                      </table>
                      <table border="0" width="100%">
                        <tbody>
                          <tr>
                            <td colspan="3"><br></td>
                          </tr>
                          <tr>
                            <td width="100%" v-html="contentBA3">{{contentBA3}}</td>
                          </tr>
                          <tr>
                            <td colspan="3"><br></td>
                          </tr>
                          <tr>
                            <td colspan="3" style="text-align: justify; vertical-align: middle;">Demikian berita acara ini dibuat dengan sesungguhnya untuk dapat dipergunakan seperlunya.</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>

                  <div class="form-group col-md-6">
                    <div class="table-responsive">
                      <table border="0" width="100%">
                        <tbody>
                          <tr>
                            <td style="text-align: justify; vertical-align: middle;" width="30%">Penyedia jasa :</td>
                            <td width="5%"></td>
                            <td style="text-align: justify; vertical-align: middle;" width="65%"></td>
                          </tr>
                        </tbody>
                      </table>
                      <table border="0" width="100%">
                        <tbody>
                          <template v-for="(row, index) in form3.penyedia">
                            {{namaVen(row.nama_vendor)}}
                            <tr>
                              <td width="5%">{{index+1}}.</td>
                              <td style="text-align: justify; vertical-align: middle;" width="95%">{{row.nama_vendor}}</td>
                            </tr>
                            <tr>
                              <td colspan="2" style="text-align: center; vertical-align: middle;" width="100%" height="100px">
                                <img class="round" :src="`uploads/signature/${row.signature}`" @error="(() => row.signature = '/signatureNone.png')" width="150" height="150" alt="...">
                              </td>
                            </tr>
                          </template>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div class="form-group col-md-6">
                    <div class="table-responsive">
                      <table border="0" width="100%">
                        <tbody>
                          <tr>
                            <!-- <td style="text-align: left; vertical-align: middle;" width="100%">Panitia Pengadaan :</td> -->
                          </tr>
                          <tr>
                            <td style="text-align: left; vertical-align: middle;" width="100%">PT. Kawasan Industri Wijayakusuma (Persero)</td>
                          </tr>
                          <tr>
                            <td style="text-align: left; vertical-align: middle;" width="100%">Semarang, Tahun {{year(form3.created_at)}}</td>
                          </tr>
                          <tr>
                            <td style="text-align: center; vertical-align: middle;" width="100%" height="100px">
                                <img class="round" :src="`uploads/signature/${form3.signaturePimpinan}`" @error="(() => form3.signaturePimpinan = '/signatureNone.png')" width="150" height="150" alt="...">
                            </td>
                          </tr>
                          <tr>
                            <td style="text-align: center; vertical-align: middle;" width="100%">{{form3.pimpinanRapat}}</td>
                          </tr>
                          <tr>
                            <td style="text-align: center; vertical-align: middle;" width="100%">{{form3.jabatanPimpinan}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div class="form-group col-md-12">
                    <label class="form-control-label" for="inputBasicLastName">Attachment <small style="color:red"> *only .<b>PDF or .PNG, .JPG</b></small></label>
                    <div class="row">
                      <template v-if="form3.attachmentNegosiasi.length < 1">
                        <div class="col-md-4">
                            <p>Tidak ada attachment</p>
                        </div>
                      </template>
                      <template v-else>
                        <template v-for="(row, index) in form3.attachmentNegosiasi">
                          <template v-if="checkExt(row) == 'pdf'">
                            <div class="col-md-4">
                                <img class="card-img-top" src="/uploads/iconPDF.png" style="width:auto;height:50px;">                        
                                <div class="card-body">
                                  <a :href="'/uploads/attachmentBA/'+row" target="_blank" > attachment PDF {{index+1}} </a>
                                </div>
                            </div>
                          </template>
                          <template v-else-if="checkExt(row) == 'jpg' || checkExt(row) == 'jpeg' || checkExt(row) == 'png'">
                            <div class="col-md-4">
                                <img class="card-img-top" :src="'/uploads/attachmentBA/'+row" style="width:auto;height:50px;">                        
                                <div class="card-body">
                                  <a :href="'/uploads/attachmentBA/'+row" target="_blank" > attachment IMAGE {{index+1}} </a>
                                </div>
                            </div>
                          </template>
                        </template>
                      </template>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane" id="pemenang-fill" role="tabpanel" aria-labelledby="pemenang-tab-fill">
              <div class="card-body">
                <div class="row">
                  <div class="form-group col-md-12">
                    <div class="table-responsive">
                      <table border="0" width="100%">
                        <tbody>
                          <tr>
                            <td style="text-align: left; vertical-align: middle;">No  : {{form4.noSurat}}</td>
                            <td></td>
                            <td style="text-align: right; vertical-align: middle;">Semarang, {{formatDate(form4.created_at)}}</td>
                          </tr>
                          <tr>
                            <td style="text-align: left; vertical-align: middle;">Hal : Pemberitahuan Pemenang Pelelangan Umum</td>
                            <td></td>
                            <td></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div class="form-group col-md-7">
                  </div>
                  <div class="form-group col-md-5">
                    <div class="table-responsive">
                      <table border="0" width="100%">
                        <tbody>
                          <tr>
                            <td style="text-align: left; vertical-align: middle;" colspan="2">Kepada Yth :</td>
                          </tr>
                          <template v-for="(row, index) in form4.penyedia">
                            <tr>
                              <td width="5%">{{index+1}}.</td>
                              <td style="text-align: justify; vertical-align: middle;" width="95%">{{row.nama_vendor}}</td>
                            </tr>
                            <tr>
                              <td width="5%"></td>
                              <td style="text-align: justify; vertical-align: middle;" width="95%">{{row.alamat_vendor}}</td>
                            </tr>
                          </template>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div class="form-group col-md-12">
                    <div class="table-responsive">
                      <table border="0" width="100%">
                        <tbody>
                          <tr>
                            <td colspan="3" style="text-align: justify; vertical-align: middle;">Berdasarkan Surat Direksi PT. KIW (Persero) Nomor: {{form4.noSuratDir}} tanggal {{form4.tglSuratDir}} perihal Persetujuan Penetapan Pemenang Pelelangan Umum Pekerjaan {{form4.namaPekerjaan}}, bersama ini kami sampaikan bahwa sebagai pemenang pekerjaan tersebut adalah:</td>
                          </tr>
                        </tbody>
                      </table>
                      <table border="0" width="100%">
                        <tbody>
                          <tr>
                            <td style="text-align: justify; vertical-align: middle;" width="20%">Nama</td>
                            <td width="5%">:</td>
                            <td style="text-align: justify; vertical-align: middle;" width="75%">{{form4.namaVendor}}</td>
                          </tr>
                          <tr>
                            <td colspan="3"><br></td>
                          </tr>
                          <tr>
                            <td style="text-align: justify; vertical-align: middle;" width="20%">Alamat</td>
                            <td width="5%">:</td>
                            <td style="text-align: justify; vertical-align: middle;" width="75%">{{form4.alamatVendor}}</td>
                          </tr>
                          <tr>
                            <td colspan="3"><br></td>
                          </tr>
                          <tr>
                            <td style="text-align: justify; vertical-align: middle;" width="20%">NPWP</td>
                            <td width="5%">:</td>
                            <td style="text-align: justify; vertical-align: middle;" width="75%">{{form4.npwpVendor}}</td>
                          </tr>
                          <tr>
                            <td colspan="3"><br></td>
                          </tr>
                          <tr>
                            <td style="text-align: justify; vertical-align: middle;" width="20%">Harga Kesepakatan</td>
                            <td width="5%">:</td>
                            <td style="text-align: justify; vertical-align: middle;" width="75%">Rp. {{formatPrice(form4.kesepakatan)}} ( {{terbilang2(form4.kesepakatan)}} rupiah ) , harga sudah termasuk Jasa, pajak dan segala pengeluaran yang berkaitan dengan pekerjaan ini</td>
                          </tr>
                          <tr>
                            <td colspan="3"><br></td>
                          </tr>
                          <tr>
                            <td style="text-align: justify; vertical-align: middle;" width="20%">Waktu Pelaksanaan</td>
                            <td width="5%">:</td>
                            <td style="text-align: justify; vertical-align: middle;" width="75%">{{form4.pelaksanaan}} ( {{terbilang2(form4.pelaksanaan)}} ) hari kalender</td>
                          </tr>
                          <tr>
                            <td colspan="3"><br></td>
                          </tr>
                          <tr>
                            <td style="text-align: justify; vertical-align: middle;" width="20%">Waktu Pemeliharaan</td>
                            <td width="5%">:</td>
                            <td style="text-align: justify; vertical-align: middle;" width="75%">{{form4.pemeliharaan}} ( {{terbilang2(form4.pemeliharaan)}} ) hari kalender</td>
                          </tr>
                          <tr>
                            <td colspan="3"><br></td>
                          </tr>
                        </tbody>
                      </table> 

                      <table border="0" width="100%">
                        <tbody>
                          <tr>
                            <td colspan="3"><br></td>
                          </tr>
                          <tr>
                            <td colspan="3"><br></td>
                          </tr>
                          <tr>
                            <td colspan="3" style="text-align: justify; vertical-align: middle;">Demikian, atas perhatian dan partisipasi Saudara diucapkan terima kasih.</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div class="form-group col-md-6">
                  </div>
                  <div class="form-group col-md-6">
                    <div class="table-responsive">
                      <table border="0" width="100%">
                        <tbody>
                          <tr>
                            <td style="text-align: center; vertical-align: middle;" width="100%">PT. Kawasan Industri Wijayakusuma (Persero)</td>
                          </tr>
                          <tr>
                            <td style="text-align: center; vertical-align: middle;" width="100%">Semarang, Tahun {{year(form4.created_at)}}</td>
                          </tr>
                          <tr>
                            <td style="text-align: center; vertical-align: middle;" width="100%" height="100px">
                                <img class="round" :src="`uploads/signature/${form4.signature}`" @error="(() => form4.signature = '/signatureNone.png')" width="150" height="150" alt="...">
                            </td>
                          </tr>
                          <tr>
                            <td style="text-align: center; vertical-align: middle;" width="100%">{{form4.namaKetuaPanitia}}</td>
                          </tr>
                          <tr>
                            <td style="text-align: center; vertical-align: middle;" width="100%">Ketua Panitia</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div class="form-group col-md-12">
                    <label class="form-control-label" for="inputBasicLastName">Attachment <small style="color:red"> *only .<b>PDF or .PNG, .JPG</b></small></label>
                    <div class="row">
                      <template v-if="form4.attachmentPemenang.length < 1">
                        <div class="col-md-4">
                            <p>Tidak ada attachment</p>
                        </div>
                      </template>
                      <template v-else>
                        <template v-for="(row, index) in form4.attachmentPemenang">
                          <template v-if="checkExt(row) == 'pdf'">
                            <div class="col-md-4">
                                <img class="card-img-top" src="/uploads/iconPDF.png" style="width:auto;height:50px;">                        
                                <div class="card-body">
                                  <a :href="'/uploads/attachmentBA/'+row" target="_blank" > attachment PDF {{index+1}} </a>
                                </div>
                            </div>
                          </template>
                          <template v-else-if="checkExt(row) == 'jpg' || checkExt(row) == 'jpeg' || checkExt(row) == 'png'">
                            <div class="col-md-4">
                                <img class="card-img-top" :src="'/uploads/attachmentBA/'+row" style="width:auto;height:50px;">                        
                                <div class="card-body">
                                  <a :href="'/uploads/attachmentBA/'+row" target="_blank" > attachment IMAGE {{index+1}} </a>
                                </div>
                            </div>
                          </template>
                        </template>
                      </template>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div> 
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!-- End Modal -->
</template>

<!-- script js -->
<script>
import Select2 from "v-select2-component";
import Select2MultipleControl from 'v-select2-multiple-component';
import pdf from 'vue-pdf';
import 'vue-good-table/dist/vue-good-table.css'
import { VueGoodTable } from 'vue-good-table';
import moment from 'moment';
export default {
  components: { 
    Select2,
    Select2MultipleControl,
    pdf,
    'vue-good-table' : VueGoodTable,
  },
  name: 'modal',
  props : {
    viewModal : {
      type : Boolean
    },
    view : {
      type : Object
    },
    closeModal : {
      type : Function
    }
  },
  data(){
    return{
      role: 'R002',
      tampil: false,
      form:{
        idUser : '',
        role : '',
        idPekerjaan: '',
        namaPekerjaan: '',
        idVendor: '',
        noBA: '',
        lokasi: '',
        idPimpinanRapat:'',
        pimpinanRapat: '',
        jabatanPimpinan: '',
        signaturePimpinan: '',
        stsSignaturePimpinan: '',
        stsSignaturePenyedia: '',
        stsSignaturePenyedia2: '',
        dimulaiJam: '',
        peserta: [],
        penyedia: [],
        attachmentAanwijzing: [],
        createdAt: '',
      },
      contentBA: '',
      signature: '',
      form2:{
        idUser : '',
        role : '',
        idPekerjaan: '',
        namaPekerjaan: '',
        idVendor: '',
        noBA: '',
        lokasi: '',
        idPimpinanRapat:'',
        pimpinanRapat: '',
        jabatanPimpinan: '',
        signaturePimpinan: '',
        stsSignaturePimpinan: '',
        stsSignaturePenyedia: '',
        stsSignaturePenyedia2: '',
        stsSignaturePeserta: '',
        stsSignaturePeserta2: '',
        dimulaiJam: '',
        peserta: [],
        penyedia: [],
        penawaran: [],
        attachmentPenawaran: [],
        createdAt: '',
      },
      contentBA2: '',
      signature2: '',
      form3:{
        idUser : '',
        role : '',
        idPekerjaan: '',
        namaPekerjaan: '',
        idVendor: '',
        noBA: '',
        lokasi: '',
        idPimpinanRapat:'',
        pimpinanRapat: '',
        jabatanPimpinan: '',
        signaturePimpinan: '',
        stsSignaturePimpinan: '',
        stsSignaturePenyedia: '',
        stsSignaturePenyedia2: '',
        dimulaiJam: '',
        peserta: [],
        penyedia: [],
        attachmentNegosiasi: [],
        createdAt: '',
        namaVendor: '',
      },
      contentBA3: '',
      signature3: '',
      form4:{
        idUser : '',
        role : '',
        idPekerjaan: '',
        namaPekerjaan: '',
        idVendor: '',
        noSuratDir: '',
        tglSuratDir: '',
        noSurat: '',
        idKetuaPanitia:'',
        namaKetuaPanitia: '',
        signature: '',
        stsSignature: '',
        namaVendor: '',
        alamatVendor: '',
        npwpVendor: '',
        kesepakatan: '',
        pelaksanaan: '',
        pemeliharaan: '',
        createdAt: '',
        penyedia: [],
        attachmentPemenang: [],
      },
      signature4: '',
      tampil4: false,
    }
  },
  watch: {
    view(newVal) {
      if (newVal) {
        this.form.idPekerjaan = newVal.id_pekerjaan
        this.form.namaPekerjaan = newVal.nama_pekerjaan
        this.form.IdVendor = newVal.id_vendor
        this.session()
      }
    } 
  },
  methods: {
    session(){
      axios
        .get("/session")
        .then(response => {
          this.role = response.data.role
          this.form.idUser = response.data.id
          this.getBAaanwijzing(this.form.idPekerjaan,this.form.idUser)
          this.getBApenawaran(this.form.idPekerjaan,this.form.idUser)
          this.getBANegosiasi(this.form.idPekerjaan,this.form.idUser)
          this.getPemenang(this.form.idPekerjaan,this.form.idUser)
      });
    },
    getBAaanwijzing(idPekerjaan,idUser){
      axios
        .get("/api/getBAAanwijzing/" + idPekerjaan)
        .then(response => {
          this.form.noBA = response.data.no_ba
          this.form.lokasi = response.data.lokasi
          this.form.idPimpinanRapat = response.data.id_pimpinan_rapat
          this.form.pimpinanRapat = response.data.pimpinan_rapat
          this.form.jabatanPimpinan = response.data.jabatan_pimpinan
          this.form.signaturePimpinan = response.data.signature
          this.form.stsSignaturePimpinan = response.data.sts_signature_pimpinan
          this.form.dimulaiJam = response.data.dimulai_jam
          this.form.peserta = response.data.peserta
          this.form.penyedia = response.data.penyedia
          var a = [];
          $.each(response.data.penyedia, function (index, value) {
            if(value.sts_signature == 0){
              a.push(true);
            }
          });
          if(a.length > 0){
            this.form.stsSignaturePenyedia = 0
          } else {
            this.form.stsSignaturePenyedia = 2
          }

          var stsTampung;
          $.each(response.data.penyedia, function (index, value) {
            if(value.id_user == idUser){
              stsTampung = value.sts_signature
            }
          });
          this.form.stsSignaturePenyedia2 = stsTampung
          this.form.attachmentAanwijzing = response.data.attachment
          this.form.createdAt = response.data.created_at
          this.contentBA = response.data.hasil
      });
    },
    getBApenawaran(idPekerjaan,idUser){
      axios
        .get("/api/getBAPenawaran/" + idPekerjaan)
        .then(response => {
          this.form2.noBA = response.data.no_ba
          this.form2.lokasi = response.data.lokasi
          this.form2.idPimpinanRapat = response.data.id_pimpinan_rapat
          this.form2.pimpinanRapat = response.data.pimpinan_rapat
          this.form2.jabatanPimpinan = response.data.jabatan_pimpinan
          this.form2.signaturePimpinan = response.data.signature
          this.form2.stsSignaturePimpinan = response.data.sts_signature_pimpinan
          this.form2.dimulaiJam = response.data.dimulai_jam
          this.form2.peserta = response.data.peserta
          this.form2.penyedia = response.data.penyedia
          this.form2.penawaran = response.data.penawaran
          var a = [];
          $.each(response.data.penyedia, function (index, value) {
            if(value.sts_signature == 0){
              a.push(true);
            }
          });
          if(a.length > 0){
            this.form2.stsSignaturePenyedia = 0
          } else {
            this.form2.stsSignaturePenyedia = 2
          }

          var stsTampung;
          $.each(response.data.penyedia, function (index, value) {
            if(value.id_user == idUser){
              stsTampung = value.sts_signature
            }
          });
          this.form.stsSignaturePenyedia2 = stsTampung

          var b = [];
          $.each(response.data.peserta, function (index, value) {
            if(value.sts_signature == 0){
              b.push(true);
            }
          });
          if(b.length > 0){
            this.form.stsSignaturePeserta = 0
          } else {
            this.form.stsSignaturePeserta = 2
          }

          var stsTampung2;
          $.each(response.data.peserta, function (index, value) {
            if(value.id_user == idUser){
              stsTampung2 = value.sts_signature
            }
          });
          this.form2.stsSignaturePeserta2 = stsTampung2
          this.form2.attachmentPenawaran = response.data.attachment
          this.form2.createdAt = response.data.created_at
          this.contentBA2 = response.data.hasil
      });
    },
    getBANegosiasi(idPekerjaan,idUser){
      axios
        .get("/api/getBANegosiasi/" + idPekerjaan)
        .then(response => {
          this.form3.noBA = response.data.no_ba
          this.form3.lokasi = response.data.lokasi
          this.form3.idPimpinanRapat = response.data.id_pimpinan_rapat
          this.form3.pimpinanRapat = response.data.pimpinan_rapat
          this.form3.jabatanPimpinan = response.data.jabatan_pimpinan
          this.form3.signaturePimpinan = response.data.signature
          this.form3.stsSignaturePimpinan = response.data.sts_signature_pimpinan
          this.form3.dimulaiJam = response.data.dimulai_jam
          this.form3.peserta = response.data.peserta
          this.form3.penyedia = response.data.penyedia
          var a = [];
          $.each(response.data.penyedia, function (index, value) {
            if(value.sts_signature == 0){
              a.push(true);
            }
          });
          if(a.length > 0){
            this.form3.stsSignaturePenyedia = 0
          } else {
            this.form3.stsSignaturePenyedia = 2
          }

          var stsTampung;
          $.each(response.data.penyedia, function (index, value) {
            if(value.id_user == idUser){
              stsTampung = value.sts_signature
            }
          });
          this.form3.stsSignaturePenyedia2 = stsTampung
          this.form3.attachmentNegosiasi = response.data.attachment
          this.form3.createdAt = response.data.created_at
          this.contentBA3 = response.data.hasil
      });
    },
    getPemenang(idPekerjaan,idUser){
      axios
        .get("/api/getPemenang/" + idPekerjaan)
        .then(response => {
          this.form4.noSuratDir = response.data.no_surat_dir
          this.form4.tglSuratDir = response.data.tgl_surat_dir
          this.form4.noSurat = response.data.no_surat
          this.form4.idKetuaPanitia = response.data.ketua_panitia
          this.form4.namaKetuaPanitia = response.data.nama_ketua_panitia
          this.form4.signature = response.data.signature
          this.form4.stsSignature = response.data.sts_signature
          this.form4.createdAt = response.data.created_at
          this.form4.penyedia = response.data.penyedia
          this.form4.namaVendor = response.data.nama_vendor
          this.form4.alamatVendor = response.data.alamat_vendor
          this.form4.npwpVendor = response.data.npwp_vendor
          this.form4.kesepakatan = response.data.kesepakatan
          this.form4.pelaksanaan = response.data.pelaksanaan
          this.form4.pemeliharaan = response.data.pemeliharaan
          this.form4.attachmentPemenang = response.data.attachment
          // console.log(this.form4)
          if(this.form4.stsSignature == 0){
            this.tampil4 = true
          }
      });
    },
    namaVen(params){
      this.form3.namaVendor = params
    },
    formatPrice(value) {
        let val = (value/1).toFixed(2).replace('.', ',')
        // console.log(val)
        return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")
    },
    formatDate(param){
      return moment(param).format('Do MMMM YYYY');
    },
    upper(param){
      return param.toUpperCase()
    },
    hari(param){
      return moment(param).format('dddd'); 
    },
    year(param){
      return moment(param).format('YYYY'); 
    },
    terbilang(params,par){
        if(par == 'hari'){
          var bilangan=moment(params).format('DD');
        } else if(par == 'bulan'){
          var bilangan=moment(params).format('MM');
        } if(par == 'tahun'){
          var bilangan=moment(params).format('YYYY');
        }
        
        var kalimat="";
        var angka   = new Array('0','0','0','0','0','0','0','0','0','0','0','0','0','0','0','0');
        var kata    = new Array('','Satu','Dua','Tiga','Empat','Lima','Enam','Tujuh','Delapan','Sembilan');
        var tingkat = new Array('','Ribu','Juta','Milyar','Triliun');
        var panjang_bilangan = bilangan.length;
         
        /* pengujian panjang bilangan */
        if(panjang_bilangan > 15){
            kalimat = "Diluar Batas";
        }else{
            /* mengambil angka-angka yang ada dalam bilangan, dimasukkan ke dalam array */
            for(i = 1; i <= panjang_bilangan; i++) {
                angka[i] = bilangan.substr(-(i),1);
            }
             
            var i = 1;
            var j = 0;
             
            /* mulai proses iterasi terhadap array angka */
            while(i <= panjang_bilangan){
                var subkalimat = "";
                var kata1 = "";
                var kata2 = "";
                var kata3 = "";
                 
                /* untuk Ratusan */
                if(angka[i+2] != "0"){
                    if(angka[i+2] == "1"){
                        kata1 = "Seratus";
                    }else{
                        kata1 = kata[angka[i+2]] + " Ratus";
                    }
                }
                 
                /* untuk Puluhan atau Belasan */
                if(angka[i+1] != "0"){
                    if(angka[i+1] == "1"){
                        if(angka[i] == "0"){
                            kata2 = "Sepuluh";
                        }else if(angka[i] == "1"){
                            kata2 = "Sebelas";
                        }else{
                            kata2 = kata[angka[i]] + " Belas";
                        }
                    }else{
                        kata2 = kata[angka[i+1]] + " Puluh";
                    }
                }
                 
                /* untuk Satuan */
                if (angka[i] != "0"){
                    if (angka[i+1] != "1"){
                        kata3 = kata[angka[i]];
                    }
                }
                 
                /* pengujian angka apakah tidak nol semua, lalu ditambahkan tingkat */
                if ((angka[i] != "0") || (angka[i+1] != "0") || (angka[i+2] != "0")){
                    subkalimat = kata1+" "+kata2+" "+kata3+" "+tingkat[j]+" ";
                }
                 
                /* gabungkan variabe sub kalimat (untuk Satu blok 3 angka) ke variabel kalimat */
                kalimat = subkalimat + kalimat;
                i = i + 3;
                j = j + 1;
            }
             
            /* mengganti Satu Ribu jadi Seribu jika diperlukan */
            if ((angka[5] == "0") && (angka[6] == "0")){
                kalimat = kalimat.replace("Satu Ribu","Seribu");
            }
        }

        return kalimat;
    },
    terbilang2(params){
        var bilangan = params.toString();

        var kalimat="";
        var angka   = new Array('0','0','0','0','0','0','0','0','0','0','0','0','0','0','0','0');
        var kata    = new Array('','Satu','Dua','Tiga','Empat','Lima','Enam','Tujuh','Delapan','Sembilan');
        var tingkat = new Array('','Ribu','Juta','Milyar','Triliun');
        var panjang_bilangan = bilangan.length;

        /* pengujian panjang bilangan */
        if(panjang_bilangan > 15){
            kalimat = "Diluar Batas";
        }else{
            /* mengambil angka-angka yang ada dalam bilangan, dimasukkan ke dalam array */
            for(i = 1; i <= panjang_bilangan; i++) {
                angka[i] = bilangan.substr(-(i),1);
            }
             
            var i = 1;
            var j = 0;
             
            /* mulai proses iterasi terhadap array angka */
            while(i <= panjang_bilangan){
                var subkalimat = "";
                var kata1 = "";
                var kata2 = "";
                var kata3 = "";
                 
                /* untuk Ratusan */
                if(angka[i+2] != "0"){
                    if(angka[i+2] == "1"){
                        kata1 = "Seratus";
                    }else{
                        kata1 = kata[angka[i+2]] + " Ratus";
                    }
                }
                 
                /* untuk Puluhan atau Belasan */
                if(angka[i+1] != "0"){
                    if(angka[i+1] == "1"){
                        if(angka[i] == "0"){
                            kata2 = "Sepuluh";
                        }else if(angka[i] == "1"){
                            kata2 = "Sebelas";
                        }else{
                            kata2 = kata[angka[i]] + " Belas";
                        }
                    }else{
                        kata2 = kata[angka[i+1]] + " Puluh";
                    }
                }
                 
                /* untuk Satuan */
                if (angka[i] != "0"){
                    if (angka[i+1] != "1"){
                        kata3 = kata[angka[i]];
                    }
                }
                 
                /* pengujian angka apakah tidak nol semua, lalu ditambahkan tingkat */
                if ((angka[i] != "0") || (angka[i+1] != "0") || (angka[i+2] != "0")){
                    subkalimat = kata1+" "+kata2+" "+kata3+" "+tingkat[j]+" ";
                }
                 
                /* gabungkan variabe sub kalimat (untuk Satu blok 3 angka) ke variabel kalimat */
                kalimat = subkalimat + kalimat;
                i = i + 3;
                j = j + 1;
            }
             
            /* mengganti Satu Ribu jadi Seribu jika diperlukan */
            if ((angka[5] == "0") && (angka[6] == "0")){
                kalimat = kalimat.replace("Satu Ribu","Seribu");
            }
        }

        return kalimat;
    },
    checkExt(params){

      return params.split('.')[1]

      // let file = params.target.files[0];
      // let reader = new FileReader();

      // if(files[0]['type']==='image/jpeg')
      // // let vm = this;
      // if (file['size'] < 200000){

      //         reader.onloadend = (file) => {
      //             // console.log('RESULT', reader.result)
      //             this.form.mellicode_front_url = reader.result;
      //         }
      //         reader.readAsDataURL(file);
      // }else
      // {
      //     swal({
      //         type: 'error',
      //         title: 'Size limited.',
      //         text: 'size limit',
      //     })
      // }
    },
  }
};
</script>

 