<template>
  <!-- Modal -->
  <div class="modal fade text-left insertKategoriPekerjaanMod" id="default" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <h4 class="modal-title" id="myModalLabel1">Insert Kategori Pekerjaan</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <form id="formKategori Pekerjaan" @submit.prevent="addData()" autocomplete="off">
                <div class="modal-body">
                  <div class="row">
                    <div class="form-group col-md-12">
                      <label class="form-control-label" for="inputBasicRoleName">Kategori Pekerjaan </label>
                      <input
                        type="textfield"
                        class="form-control "
                        placeholder="Input your Kategori Pekerjaan"
                        v-model="form.KategoriPekerjaan"
                        autocomplete="off"
                        required
                      >
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-pure" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
              </form>
          </div>
      </div>
  </div>

</template>

<!-- script js -->
<script>

export default {
  name: 'kategoripekerjaanmodal',
  components :{

  },
  props : {
    openModal : {
      type : Boolean
    },
    closeModal : {
      type : Function
    }
  },
  data(){
    return{
      form:{
        KategoriPekerjaan : '',
      },
    }
  },
  mounted() {
  },
  methods: {

    addData() {
      Swal.fire({
        title: 'Are you sure?',
        text: "You won't be able to revert this!",
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, insert it!',
        confirmButtonClass: 'btn btn-primary',
        cancelButtonClass: 'btn btn-danger ml-1',
        buttonsStyling: false,
        showLoaderOnConfirm: true,
        preConfirm: () => {
          if(this.form.logoKomunitas !== "kosong"){
              return axios.post("/api/addkategoripekerjaan", {
                kategori_pekerjaan: this.form.KategoriPekerjaan,
                username: localStorage.getItem('username'),
                fullname: localStorage.getItem('fullname'),
              })
              .then(response => {
                $(".insertKategoriPekerjaanMod").modal('hide');
                this.closeModal();
                this.form.KategoriPekerjaan = ''
                return
              })
              .catch(error => {
                Swal.showValidationMessage(
                  `Request failed: ${error}`
                )
              })
                
          } else {
            Swal.showValidationMessage(
                'Crop your photo !'
              )
          }  
        },
        allowOutsideClick: () => !this.$swal.isLoading()
        }).then(function (result) {
          if (result.value) {
            Swal.fire(
              {
                type: "success",
                title: 'Inserted!',
                text: 'Your file has been Insert.',
                confirmButtonClass: 'btn btn-success',
              }
            )
          }
      }.bind(this))
    }
  }
};
</script>

<style scoped>

</style>

