<template>
  <!-- BEGIN: Content-->
  <div class="app-content content">
      <div class="content-overlay"></div>
      <div class="header-navbar-shadow"></div>
      <div class="content-wrapper">
          <div class="content-header row">
          </div>
          <div class="content-body">
            <!-- breadcrumb start-->
            <section class="breadcrumb breadcrumb_bg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="breadcrumb_iner text-center">
                                <div class="breadcrumb_iner_item">
                                    <h2 style="font-family: 'GothamBold'">Ooppssss !!!</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- breadcrumb start-->
            <section class="special_cource padding_top" style="padding-bottom: 50px;" id="listKegiatan">
                <div class="container">
                    <div class="row">
                      <div class="col-lg-12 col-md-12 col-sm-12">
                          <!-- <div class="card bg-analytics text-white"> -->
                              <div class="card-content bg-transparent shadow-none rounded-0 mb-0 w-100">
                                  <div class="card-body text-center ">
                                      <img src="theme/app-assets/images/pages/404.png" class="img-fluid align-self-center" alt="branding logo">
                                      <h1 class="font-large-2 my-1">OHH SORRY !</h1>
                                      <p class="p-2">
                                          YOU DON'T HAVE ACCESS FOR THIS PAGE

                                          YOU SEEM TO BE TRYING TO FIND HIS WAY HOME
                                      </p>
                                      <router-link to="/" class="btn btn-primary btn-lg mt-2">Back to Home</router-link>
                                  </div>
                              </div>
                          <!-- </div> -->
                      </div>
                    </div>
                </div>
            </section>
          </div>
      </div>
  </div>
  <!-- END: Content-->
</template>

<!-- script js -->
<script>
export default {
  name: 'not404land',
  data() {
    return {
      loading: false,
    };
  },
  methods: {

  }
};
</script>