<template>
  <!-- BEGIN: Content-->
  <div class="app-content content">
      <div class="content-overlay"></div>
      <div class="header-navbar-shadow"></div>
      <div class="content-wrapper">
          <div class="content-header row">
          </div>
          <div class="content-body">
              <detected-speed @network-type="handleNetworkIdentified" @network-speed="handleNetworkSpeed"></detected-speed>
              <!-- Dashboard Analytics Start -->

              <section id="dashboard-analytics">
                  <div class="row"> 
                    <template v-if="role == 'R002'">
                      <div class="col-lg-3 col-md-6 col-12">
                          <div class="card">
                              <div class="card-header d-flex justify-content-between pb-0">
                                  <h4 class="card-title">Signal Tracker</h4>
                              </div>
                              <div class="card-content">
                                  <div class="card-body pt-0">
                                      <div class="row">
                                          <div class="col-sm-2 col-12 d-flex flex-column flex-wrap text-center">
                                              <h1 class="font-large-2 text-bold-700 mt-2 mb-0">{{ this.contype }}</h1>
                                          </div>
                                          <div class="col-sm-10 col-12 d-flex justify-content-center">
                                              <apexchart :options="chartOptionsInternet" :series="speed"></apexchart>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                    </template>
                    <template v-else>
                      <div class="col-lg-3 col-md-12 col-sm-12">
                          <div class="card bg-analytics text-white" style="min-height: 308px;">
                              <div class="card-content">
                                  <div class="card-body text-center">
                                      <img src="theme/app-assets/images/elements/decore-left.png" class="img-left" alt="card-img-left">
                                      <img src="theme/app-assets/images/elements/decore-right.png" class="img-right" alt="card-img-right">
                                      <div class="avatar avatar-xl bg-primary shadow mt-0">
                                          <div class="avatar-content">
                                              <i class="feather icon-award white font-large-1"></i>
                                          </div>
                                      </div>
                                      <div class="text-center">
                                          <h1 class="mb-2 text-white">Persons, {{ count }}</h1>
                                          <!-- <p class="m-auto w-75">You have done <strong>57.6%</strong> more sales today. Check your new badge in your profile.</p> -->
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-3 col-md-6 col-12">
                          <div class="card">
                              <div class="card-header d-flex flex-column align-items-start pb-0">
                                  <div class="row">
                                    <loading :active.sync="isLoadingPengumuman"
                                           :can-cancel="canCancel"
                                           :is-full-page="fullPage"
                                           :height="height"
                                           :width="width"
                                           :color="color"
                                           :loader="loader"
                                           :z-index="zindex"
                                           :background-color="bgColor"></loading>
                                    <div class="form-group col-md-3">
                                      <div class="avatar bg-rgba-primary p-50 m-0">
                                          <div class="avatar-content">
                                              <i class="feather icon-users text-primary font-medium-5"></i>
                                          </div>
                                      </div>
                                    </div>
                                    <div class="form-group col-md-9">
                                      <label class="form-control-label" for="inputBasicLastName">Filter</label>
                                      <div class="row">
                                        <div class="form-group col-md-6">
                                          <input type="number" class="form-control" v-model="filterS1" placeholder="ex. 2021" autocomplete="off">
                                        </div>
                                        <div class="form-group col-md-4">
                                          <a type="button" class="btn btn-outline-danger" @click="getChart1()"> Set</a>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <h2 class="text-bold-700 mt-1 mb-25">{{gained1Tot}}</h2>
                                  <p class="mb-0">Pengumuman</p>
                              </div>
                              <div class="card-content">
                                  <apexchart :options="gainedChartoptions1" :series="gained1"></apexchart>
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-3 col-md-6 col-12">
                          <div class="card">
                              <div class="card-header d-flex flex-column align-items-start pb-0">
                                <div class="row">
                                  <loading :active.sync="isLoadingBerita"
                                         :can-cancel="canCancel"
                                         :is-full-page="fullPage"
                                         :height="height"
                                         :width="width"
                                         :color="color"
                                         :loader="loader"
                                         :z-index="zindex"
                                         :background-color="bgColor"></loading>
                                    <div class="form-group col-md-3">
                                      <div class="avatar bg-rgba-warning p-50 m-0">
                                          <div class="avatar-content">
                                              <i class="feather icon-package text-warning font-medium-5"></i>
                                          </div>
                                      </div>
                                    </div>
                                    <div class="form-group col-md-9">
                                      <label class="form-control-label" for="inputBasicLastName">Filter</label>
                                      <div class="row">
                                        <div class="form-group col-md-6">
                                          <input type="number" class="form-control" v-model="filterS2" placeholder="ex. 2021" autocomplete="off">
                                        </div>
                                        <div class="form-group col-md-4">
                                          <a type="button" class="btn btn-outline-danger" @click="getChart2()"> Set</a>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <h2 class="text-bold-700 mt-1 mb-25">{{gained2Tot}}</h2>
                                  <p class="mb-0">Berita</p>
                              </div>
                              <div class="card-content">
                                  <apexchart :options="gainedChartoptions2" :series="gained2"></apexchart>
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-3 col-md-6 col-12">
                          <div class="card">
                              <div class="card-header d-flex justify-content-between pb-0">
                                  <h4 class="card-title">Signal Tracker</h4>
                              </div>
                              <div class="card-content">
                                  <div class="card-body pt-0">
                                      <div class="row">
                                          <div class="col-sm-2 col-12 d-flex flex-column flex-wrap text-center">
                                              <h1 class="font-large-2 text-bold-700 mt-2 mb-0">{{ this.contype }}</h1>
                                          </div>
                                          <div class="col-sm-10 col-12 d-flex justify-content-center">
                                              <apexchart :options="chartOptionsInternet" :series="speed"></apexchart>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>

                      <div class="col-md-12 col-12">
                          <div class="card">
                              <div class="card-content">
                                  <div class="card-body">
                                      <div class="row pb-50">
                                          <div class="col-lg-4 col-12 d-flex justify-content-between flex-column text-left order-lg-2 order-1">
                                            <loading :active.sync="isLoadingPL"
                                                   :can-cancel="canCancel"
                                                   :is-full-page="fullPage"
                                                   :height="height"
                                                   :width="width"
                                                   :color="color"
                                                   :loader="loader"
                                                   :z-index="zindex"
                                                   :background-color="bgColor"></loading>
                                              <div>
                                                  <h2 class="text-bold-700 mb-25">{{avg1Tot}}</h2>
                                                  <p class="text-bold-500 mb-75">Penunjukan Langsung</p>
                                              </div>
                                              <div class="dropdown chart-dropdown">
                                                  <!-- <button class="btn btn-sm border-0 dropdown-toggle p-0" type="button" id="dropdownItem5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                      Filter
                                                  </button> -->
                                                  <label class="form-control-label" for="inputBasicLastName">Filter</label>
                                                  <div class="row"> 
                                                    <div class="form-group col-md-5">
                                                      <input type="number" class="form-control" v-model="filter1" placeholder="ex. 2021" autocomplete="off">
                                                    </div>
                                                    <div class="form-group col-md-5">
                                                      <a type="button" class="btn btn-outline-danger" @click="getChartPL()"> Set</a>
                                                    </div>
                                                    <div class="form-group col-md-2">
                                                    </div>
                                                  </div>
                                                  <br>
                                                  <!-- <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownItem5">
                                                      <a class="dropdown-item" href="#">Last Month</a>
                                                      <a class="dropdown-item" href="#">Last Year</a>
                                                  </div> -->
                                              </div>
                                              <apexchart :options="avgChartoptions1" :series="avg1"></apexchart>
                                          </div>
                                          <div class="col-lg-4 col-12 d-flex justify-content-between flex-column text-left order-lg-2 order-1">
                                            <loading :active.sync="isLoadingPT"
                                                   :can-cancel="canCancel"
                                                   :is-full-page="fullPage"
                                                   :height="height"
                                                   :width="width"
                                                   :color="color"
                                                   :loader="loader"
                                                   :z-index="zindex"
                                                   :background-color="bgColor"></loading>
                                              <div>
                                                  <h2 class="text-bold-700 mb-25">{{avg2Tot}}</h2>
                                                  <p class="text-bold-500 mb-75">Pelelangan Terbatas</p>
                                              </div>
                                              <div class="dropdown chart-dropdown">
                                                  <!-- <button class="btn btn-sm border-0 dropdown-toggle p-0" type="button" id="dropdownItem5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                      Filter
                                                  </button> -->
                                                  <label class="form-control-label" for="inputBasicLastName">Filter</label>
                                                  <div class="row"> 
                                                    <div class="form-group col-md-5">
                                                      <input type="number" class="form-control" v-model="filter2" placeholder="ex. 2021" autocomplete="off">
                                                    </div>
                                                    <div class="form-group col-md-5">
                                                      <a type="button" class="btn btn-outline-danger" @click="getChartPT()"> Set</a>
                                                    </div>
                                                    <div class="form-group col-md-2">
                                                    </div>
                                                  </div>
                                                  <br>
                                              </div>
                                              <apexchart :options="avgChartoptions2" :series="avg2"></apexchart>
                                          </div>
                                          <div class="col-lg-4 col-12 d-flex justify-content-between flex-column text-left order-lg-2 order-1">
                                            <loading :active.sync="isLoadingUM"
                                                   :can-cancel="canCancel"
                                                   :is-full-page="fullPage"
                                                   :height="height"
                                                   :width="width"
                                                   :color="color"
                                                   :loader="loader"
                                                   :z-index="zindex"
                                                   :background-color="bgColor"></loading>
                                              <div>
                                                  <h2 class="text-bold-700 mb-25">{{avg3Tot}}</h2>
                                                  <p class="text-bold-500 mb-75">Pelelangan Umum</p>
                                              </div>
                                              <div class="dropdown chart-dropdown">
                                                  <!-- <button class="btn btn-sm border-0 dropdown-toggle p-0" type="button" id="dropdownItem5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                      Filter
                                                  </button>
                                                  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownItem5">
                                                      <a class="dropdown-item" href="#">Last Month</a>
                                                      <a class="dropdown-item" href="#">Last Year</a>
                                                  </div> -->
                                                  <label class="form-control-label" for="inputBasicLastName">Filter</label>
                                                  <div class="row"> 
                                                    <div class="form-group col-md-5">
                                                      <input type="number" class="form-control" v-model="filter3" placeholder="ex. 2021" autocomplete="off">
                                                    </div>
                                                    <div class="form-group col-md-5">
                                                      <a type="button" class="btn btn-outline-danger" @click="getChartUM()"> Set</a>
                                                    </div>
                                                    <div class="form-group col-md-2">
                                                    </div>
                                                  </div>
                                                  <br>
                                              </div>
                                              <apexchart :options="avgChartoptions3" :series="avg3"></apexchart>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                    </template>         
                  </div>     

                  <template v-if="role !== 'R002'">
                    <div class="row">
                      <div class="col-lg-4 col-12">
                          <div class="card">
                              <div class="card-header d-flex justify-content-between pb-0">
                                  <h4 class="card-title">Penunjukan Langsung ( {{series1Total}} )</h4>
                                  <!-- <div class="dropdown chart-dropdown">
                                      <button class="btn btn-sm border-0 dropdown-toggle px-0" type="button" id="dropdownItem3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                          Filter
                                      </button>
                                      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownItem3">
                                          <a class="dropdown-item" href="#">This Month</a>
                                          <a class="dropdown-item" href="#">This Year</a>
                                      </div>
                                  </div> -->
                              </div>
                              <div class="card-content">
                                  <div class="card-body py-0">
                                      <apexchart type="pie" :options="chartOptions1" :series="series1"></apexchart>
                                  </div>
                                  <ul class="list-group list-group-flush customer-info">
                                      <li class="list-group-item d-flex justify-content-between ">
                                          <div class="series-info">
                                              <i class="fa fa-circle font-small-3" style="color:#7367F0"></i>
                                              <span class="text-bold-600">Pemasukan Dokumen Kualifikasi</span>
                                          </div>
                                          <div class="product-result">
                                              <span>{{series1[0]}}</span>
                                          </div>
                                      </li>
                                      <li class="list-group-item d-flex justify-content-between ">
                                          <div class="series-info">
                                              <i class="fa fa-circle font-small-3" style="color:#FF9F43"></i>
                                              <span class="text-bold-600">Pelaksanaan Aanwijzing</span>
                                          </div>
                                          <div class="product-result">
                                              <span>{{series1[1]}}</span>
                                          </div>
                                      </li>
                                      <li class="list-group-item d-flex justify-content-between ">
                                          <div class="series-info">
                                              <i class="fa fa-circle font-small-3" style="color:#EA5455"></i>
                                              <span class="text-bold-600">Pemasukan Penawaran</span>
                                          </div>
                                          <div class="product-result">
                                              <span>{{series1[2]}}</span>
                                          </div>
                                      </li>
                                      <li class="list-group-item d-flex justify-content-between ">
                                          <div class="series-info">
                                              <i class="fa fa-circle font-small-3" style="color:#4ea397"></i>
                                              <span class="text-bold-600">Evaluasi Penawaran</span>
                                          </div>
                                          <div class="product-result">
                                              <span>{{series1[3]}}</span>
                                          </div>
                                      </li>
                                      <li class="list-group-item d-flex justify-content-between ">
                                          <div class="series-info">
                                              <i class="fa fa-circle font-small-3" style="color:#00cfe8"></i>
                                              <span class="text-bold-600">Klarifikasi & Negosiasi</span>
                                          </div>
                                          <div class="product-result">
                                              <span>{{series1[4]}}</span>
                                          </div>
                                      </li>
                                      <li class="list-group-item d-flex justify-content-between ">
                                          <div class="series-info">
                                              <i class="fa fa-circle font-small-3" style="color:#28C76F"></i>
                                              <span class="text-bold-600">Penetapan Pemenang</span>
                                          </div>
                                          <div class="product-result">
                                              <span>{{series1[5]}}</span>
                                          </div>
                                      </li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-4 col-12">
                          <div class="card">
                              <div class="card-header d-flex justify-content-between pb-0">
                                  <h4 class="card-title">Pelelangan Terbatas ( {{series2Total}} )</h4>
                                  <div class="dropdown chart-dropdown">
                                      <!-- <button class="btn btn-sm border-0 dropdown-toggle px-0" type="button" id="dropdownItem3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                          Filter
                                      </button>
                                      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownItem3">
                                          <a class="dropdown-item" href="#">This Month</a>
                                          <a class="dropdown-item" href="#">This Year</a>
                                      </div> -->
                                  </div>
                              </div>
                              <div class="card-content">
                                  <div class="card-body py-0">
                                      <apexchart type="pie" :options="chartOptions2" :series="series2"></apexchart>
                                  </div>
                                  <ul class="list-group list-group-flush customer-info">
                                      <li class="list-group-item d-flex justify-content-between ">
                                          <div class="series-info">
                                              <i class="fa fa-circle font-small-3" style="color:#7367F0"></i>
                                              <span class="text-bold-600">Pemasukan Dokumen Kualifikasi</span>
                                          </div>
                                          <div class="product-result">
                                              <span>{{series2[0]}}</span>
                                          </div>
                                      </li>
                                      <li class="list-group-item d-flex justify-content-between ">
                                          <div class="series-info">
                                              <i class="fa fa-circle font-small-3" style="color:#FF9F43"></i>
                                              <span class="text-bold-600">Pelaksanaan Aanwijzing</span>
                                          </div>
                                          <div class="product-result">
                                              <span>{{series2[1]}}</span>
                                          </div>
                                      </li>
                                      <li class="list-group-item d-flex justify-content-between ">
                                          <div class="series-info">
                                              <i class="fa fa-circle font-small-3" style="color:#EA5455"></i>
                                              <span class="text-bold-600">Pemasukan Penawaran</span>
                                          </div>
                                          <div class="product-result">
                                              <span>{{series2[2]}}</span>
                                          </div>
                                      </li>
                                      <li class="list-group-item d-flex justify-content-between ">
                                          <div class="series-info">
                                              <i class="fa fa-circle font-small-3" style="color:#4ea397"></i>
                                              <span class="text-bold-600">Evaluasi Penawaran</span>
                                          </div>
                                          <div class="product-result">
                                              <span>{{series2[3]}}</span>
                                          </div>
                                      </li>
                                      <li class="list-group-item d-flex justify-content-between ">
                                          <div class="series-info">
                                              <i class="fa fa-circle font-small-3" style="color:#00cfe8"></i>
                                              <span class="text-bold-600">Klarifikasi & Negosiasi</span>
                                          </div>
                                          <div class="product-result">
                                              <span>{{series2[4]}}</span>
                                          </div>
                                      </li>
                                      <li class="list-group-item d-flex justify-content-between ">
                                          <div class="series-info">
                                              <i class="fa fa-circle font-small-3" style="color:#28C76F"></i>
                                              <span class="text-bold-600">Penetapan Pemenang</span>
                                          </div>
                                          <div class="product-result">
                                              <span>{{series2[5]}}</span>
                                          </div>
                                      </li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-4 col-12">
                          <div class="card">
                              <div class="card-header d-flex justify-content-between pb-0">
                                  <h4 class="card-title">Pelelangan Umum ( {{series3Total}} )</h4>
                                  <!-- <div class="dropdown chart-dropdown">
                                      <button class="btn btn-sm border-0 dropdown-toggle px-0" type="button" id="dropdownItem3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                          Filter
                                      </button>
                                      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownItem3">
                                          <a class="dropdown-item" href="#">This Month</a>
                                          <a class="dropdown-item" href="#">This Year</a>
                                      </div>
                                  </div> -->
                              </div>
                              <div class="card-content">
                                  <div class="card-body py-0">
                                      <apexchart type="pie" :options="chartOptions3" :series="series3"></apexchart>
                                  </div>
                                  <ul class="list-group list-group-flush customer-info">
                                      <li class="list-group-item d-flex justify-content-between ">
                                          <div class="series-info">
                                              <i class="fa fa-circle font-small-3" style="color:#7367F0"></i>
                                              <span class="text-bold-600">Pemasukan Dokumen Kualifikasi</span>
                                          </div>
                                          <div class="product-result">
                                              <span>{{series3[0]}}</span>
                                          </div>
                                      </li>
                                      <li class="list-group-item d-flex justify-content-between ">
                                          <div class="series-info">
                                              <i class="fa fa-circle font-small-3" style="color:#FF9F43"></i>
                                              <span class="text-bold-600">Pelaksanaan Aanwijzing</span>
                                          </div>
                                          <div class="product-result">
                                              <span>{{series3[1]}}</span>
                                          </div>
                                      </li>
                                      <li class="list-group-item d-flex justify-content-between ">
                                          <div class="series-info">
                                              <i class="fa fa-circle font-small-3" style="color:#EA5455"></i>
                                              <span class="text-bold-600">Pemasukan Penawaran</span>
                                          </div>
                                          <div class="product-result">
                                              <span>{{series3[2]}}</span>
                                          </div>
                                      </li>
                                      <li class="list-group-item d-flex justify-content-between ">
                                          <div class="series-info">
                                              <i class="fa fa-circle font-small-3" style="color:#4ea397"></i>
                                              <span class="text-bold-600">Evaluasi Penawaran</span>
                                          </div>
                                          <div class="product-result">
                                              <span>{{series3[3]}}</span>
                                          </div>
                                      </li>
                                      <li class="list-group-item d-flex justify-content-between ">
                                          <div class="series-info">
                                              <i class="fa fa-circle font-small-3" style="color:#00cfe8"></i>
                                              <span class="text-bold-600">Klarifikasi & Negosiasi</span>
                                          </div>
                                          <div class="product-result">
                                              <span>{{series3[4]}}</span>
                                          </div>
                                      </li>
                                      <li class="list-group-item d-flex justify-content-between ">
                                          <div class="series-info">
                                              <i class="fa fa-circle font-small-3" style="color:#28C76F"></i>
                                              <span class="text-bold-600">Penetapan Pemenang</span>
                                          </div>
                                          <div class="product-result">
                                              <span>{{series3[5]}}</span>
                                          </div>
                                      </li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                    </div> 
                  </template>

                  <div class="row">
                      <div class="col-12">
                          <div class="card">
                              <div class="card-header">
                                  <h4 class="mb-0">Paket Lelang</h4>
                              </div>
                              <div class="card-content">
                                  <!-- <div class="table-responsive mt-1">
                                      <table class="table table-hover-animation mb-0">
                                          <thead>
                                              <tr>
                                                  <th>Kode</th>
                                                  <th>Pekerjaan</th>
                                                  <th>Vendor</th>
                                                  <th>Lokasi</th>
                                                  <th>Progres</th>
                                                  <th>Nilai Pagu</th>
                                                  <th>Sepakat</th>
                                              </tr>
                                          </thead>
                                          <tbody>
                                            <template v-for="(row, index) in allTender">
                                              <tr>
                                                  <td>#{{row.kode_pekerjaan}}</td>
                                                  <td>{{row.nama_pekerjaan}}</td>
                                                  <td class="p-1">
                                                      <ul class="list-unstyled users-list m-0  d-flex align-items-center">
                                                        <template v-for="(rows, indexs) in row.logo">
                                                          <li data-toggle="tooltip" data-popup="tooltip-custom" data-placement="bottom" :data-original-title="rows.nama_vendor" class="avatar pull-up">
                                                              <img class="media-object rounded-circle" :src="`uploads/logo_vendor/`+row.logo[0].logo_vendor" @error="(() => row.logo[0].logo_vendor = 'uploads/logo_vendor/avatarDefault.png')" alt="Avatar" height="30" width="30">
                                                          </li>
                                                        </template>
                                                      </ul>
                                                  </td>
                                                  <td>{{row.lokasi}}</td>
                                                  <td>
                                                      <span>{{row.jadwal}}</span>
                                                      <div class="progress progress-bar-success mt-1 mb-0">
                                                        <div class="progress-bar" role="progressbar" :style="'width:'+row.persen+'%'" :aria-valuenow="row.persen" aria-valuemin="0" aria-valuemax="100"></div>
                                                      </div>
                                                  </td>
                                                  <td>Rp. {{formatPrice(row.nilai_pagu)}}</td>
                                                  <td>Rp. {{formatPrice(row.harga_sepakat)}}</td>
                                              </tr>
                                            </template>
                                          </tbody>
                                      </table>
                                  </div> -->

                                <div class="card-body">
                                  <vue-good-table
                                    mode="remote"
                                    @on-page-change="onPageChange"
                                    @on-sort-change="onSortChange"
                                    @on-column-filter="onColumnFilter"
                                    @on-per-page-change="onPerPageChange"
                                    @on-search="onSearch"
                                    :totalRows="totalRecords"
                                    :isLoading.sync="isLoading"
                                    :pagination-options="{
                                      enabled: true,
                                      dropdownAllowAll: false,
                                      mode: 'pages'
                                    }"
                                    :search-options="{
                                      enabled: true,
                                      skipDiacritics: true,
                                    }"
                                    :rows="rows"
                                    :columns="columns">
                                    <template slot="table-row" slot-scope="props">
                                      <span v-if="props.column.field == 'kode'">
                                        #{{props.row.kode_pekerjaan}}
                                      </span>
                                      <span v-if="props.column.field == 'vendor'">
                                        <ul class="list-unstyled users-list m-0  d-flex align-items-center">
                                          <template v-for="(rows, indexs) in props.row.logo">
                                            <li data-toggle="tooltip" data-popup="tooltip-custom" data-placement="bottom" :data-original-title="props.row.logo[indexs].nama_vendor" class="avatar pull-up">
                                                <img class="media-object rounded-circle" :src="`uploads/logo_vendor/`+props.row.logo[indexs].logo_vendor" @error="(() => props.row.logo[indexs].logo_vendor = 'uploads/logo_vendor/avatarDefault.png')" alt="Avatar" height="30" width="30"> 
                                            </li>
                                          </template>
                                        </ul>
                                      </span>
                                      <span v-if="props.column.field == 'progres'">
                                        <span>{{props.row.jadwal}}</span>
                                        <div class="progress progress-bar-success mt-1 mb-0">
                                          <div class="progress-bar" role="progressbar" :style="'width:'+props.row.persen+'%'" :aria-valuenow="props.row.persen" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                      </span>
                                      <span v-if="props.column.field == 'pagu'">
                                        Rp. {{formatPrice(props.row.nilai_pagu)}}
                                      </span>
                                      <span v-if="props.column.field == 'sepakat'">
                                        <template v-if="props.row.harga_sepakat == null">
                                          belum ada
                                        </template>
                                        <template v-else>
                                          Rp. {{formatPrice(props.row.harga_sepakat)}}
                                        </template>
                                      </span>
                                      <span v-else>
                                        {{props.formattedRow[props.column.field]}}
                                      </span>
                                    </template>
                                  </vue-good-table>
                                </div>

                              </div>
                          </div>
                      </div>
                  </div>   
              </section>
        <!-- Dashboard Analytics end -->
      </div>
    </div>
  </div>
  <!-- END: Content-->
</template>

<!-- script js -->
<script>

import moment from "moment";
import DetectedSpeed from 'vue-identify-network';
import VueApexCharts from 'vue-apexcharts';
import 'vue-good-table/dist/vue-good-table.css'
import { VueGoodTable } from 'vue-good-table';

import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.css';

moment.locale("id");
const _ = require("lodash");

var $white = '#FFFFFF';
var $primary = '#7367F0';
var $success = '#28C76F';
var $danger = '#EA5455';
var $warning = '#FF9F43';
var $info = '#00cfe8';
var $dark_green = '#4ea397';

var $primary_light = '#A9A2F6';
var $danger_light = '#f29292';
var $success_light = '#55DD92';
var $warning_light = '#ffc085';
var $info_light = '#ffc085';
var $dark_green_light = '#4ea397';

var $strok_color = '#b9c3cd';
var $label_color = '#e7eef7';

export default {
  name: 'dashboard',
  components: {
    'apexchart' : VueApexCharts,
    'detected-speed' : DetectedSpeed,
    'vue-good-table' : VueGoodTable,
    Loading
  },
  data() {
    return {
      isLoading: false,
      isLoadingPengumuman: false,
      isLoadingBerita: false,
      isLoadingPL: false,
      isLoadingPT: false,
      isLoadingUM: false,
      fullPage: false,
      canCancel: false,
      useSlot: false,
      loader: 'spinner',
      bgColor: '#ffffff',
      height: 128,
      width: 128,
      color: '#1D437D',
      zindex: 9998,
      role: '',
      total: 0,
      count: 0,
      loading: false,
      cek: [],     
      series1: [44, 55, 13, 44, 55, 13],
      series1Total: '',
      series2: [44, 55, 13, 44, 55, 13],
      series2Total: '',
      series3: [44, 55, 13, 44, 55, 13],
      series3Total: '',
      contype: '',
      speed: [],
      gained1Tot : 0,
      gained1 : [],
      gained2Tot : 0,
      gained2 : [],
      filterS1 : '',
      filterS2 : '',
      avg1Tot : 0,
      avg1 : [{
                name: 'Sessions',
                data: [{
                    x: 'Apple',
                    y: 54
                }, {
                    x: 'Orange',
                    y: 66
                }],
            }], 
      filter1 : '',
      avg2Tot : 0,
      avg2 : [{
                name: 'Sessions',
                data: [{
                    x: 'Apple',
                    y: 54
                }, {
                    x: 'Orange',
                    y: 66
                }],
            }],
      filter2 : '',             
      avg3Tot : 0,
      avg3 : [{
                name: 'Sessions',
                data: [{
                    x: 'Apple',
                    y: 54
                }, {
                    x: 'Orange',
                    y: 66
                }],
            }],
      filter3 : '',
      notify: [],
      notifyCo: 0,
      idUser: '',

      gainedChartoptions1 : {
        chart: {
          height: 100,
          type: 'area',
          toolbar: {
            show: false,
          },
          sparkline: {
            enabled: true
          },
          grid: {
            show: false,
            padding: {
              left: 0,
              right: 0
            }
          },
        },
        colors: [$primary],
        dataLabels: {
          enabled: false
        },
        stroke: {
          curve: 'smooth',
          width: 2.5
        },
        fill: {
          type: 'gradient',
          gradient: {
            shadeIntensity: 0.9,
            opacityFrom: 0.7,
            opacityTo: 0.5,
            stops: [0, 80, 100]
          }
        },
        xaxis: {
          labels: {
            show: false,
          },
          axisBorder: {
            show: false,
          }
        },
        yaxis: [{
          y: 0,
          offsetX: 0,
          offsetY: 0,
          padding: { left: 0, right: 0 },
        }],
        tooltip: {
          x: { show: true }
        },
      },

      gainedChartoptions2 : {
        chart: {
          height: 100,
          type: 'area',
          toolbar: {
            show: false,
          },
          sparkline: {
            enabled: true
          },
          grid: {
            show: false,
            padding: {
              left: 0,
              right: 0
            }
          },
        },
        colors: [$warning],
        dataLabels: {
          enabled: false
        },
        stroke: {
          curve: 'smooth',
          width: 2.5
        },
        fill: {
          type: 'gradient',
          gradient: {
            shadeIntensity: 0.9,
            opacityFrom: 0.7,
            opacityTo: 0.5,
            stops: [0, 80, 100]
          }
        },
        xaxis: {
          labels: {
            show: false,
          },
          axisBorder: {
            show: false,
          }
        },
        yaxis: [{
          y: 0,
          offsetX: 0,
          offsetY: 0,
          padding: { left: 0, right: 0 },
        }],
        tooltip: {
          x: { show: true }
        },
      },

      chartOptionsInternet: {
        chart: {
          height: 270,
          type: 'radialBar',
        },
        plotOptions: {
          radialBar: {
            size: 150,
            startAngle: -150,
            endAngle: 150,
            offsetY: 20,
            hollow: {
              size: '65%',
            },
            track: {
              background: $white,
              strokeWidth: '100%',
            },
            dataLabels: {
              value: {
                formatter: function(val) {
                  return parseInt(val);
                },
                offsetY: 30,
                color: '#99a2ac',
                fontSize: '2rem'
              }
            }
          },
        },
        colors: [$danger],
        fill: {
          type: 'gradient',
          gradient: {
            // enabled: true,
            shade: 'dark',
            type: 'horizontal',
            shadeIntensity: 0.5,
            gradientToColors: [$primary],
            inverseColors: true,
            opacityFrom: 1,
            opacityTo: 1,
            stops: [0, 100]
          },
        },
        stroke: {
          dashArray: 8
        },
        labels: ['Speed'],
      },

      avgChartoptions1 : {
        chart: {
          type: 'bar',
          height: 200,
          sparkline: { enabled: true },
          toolbar: { show: false },
        },
        states: {
          hover: {
            filter: 'none'
          }
        },
        colors: [$success_light, $success_light, $success_light, $success_light, $success_light, $success_light],
        grid: {
          show: false,
          padding: {
            left: 0,
            right: 0
          }
        },

        plotOptions: {
          bar: {
            columnWidth: '45%',
            distributed: true,
            endingShape: 'rounded'
          },
        },
        tooltip: {
          x: { show: true }
        },
        xaxis: {
          type: 'category'
        }
      },
      avgChartoptions2 : {
        chart: {
          type: 'bar',
          height: 200,
          sparkline: { enabled: true },
          toolbar: { show: false },
        },
        states: {
          hover: {
            filter: 'none'
          }
        },
        colors: [$primary_light, $primary_light, $primary_light, $primary_light, $primary_light, $primary_light],
        grid: {
          show: false,
          padding: {
            left: 0,
            right: 0
          }
        },

        plotOptions: {
          bar: {
            columnWidth: '45%',
            distributed: true,
            endingShape: 'rounded'
          }
        },
        tooltip: {
          x: { show: true }
        },
        xaxis: {
          type: 'category'
        }
      },
      avgChartoptions3 : {
        chart: {
          type: 'bar',
          height: 200,
          sparkline: { enabled: true },
          toolbar: { show: false },
        },
        states: {
          hover: {
            filter: 'none'
          }
        },
        colors: [$warning_light, $warning_light, $warning_light, $warning_light, $warning_light, $warning_light],
        grid: {
          show: false,
          padding: {
            left: 0,
            right: 0
          }
        },

        plotOptions: {
          bar: {
            columnWidth: '45%',
            distributed: true,
            endingShape: 'rounded'
          }
        },
        tooltip: {
          x: { show: true }
        },
        xaxis: {
          type: 'category'
        }
      },

      

      chartOptions1: {
        chart: {
          type: 'pie',
          height: 330,
          dropShadow: {
            enabled: false,
            blur: 5,
            left: 1,
            top: 1,
            opacity: 0.2
          },
          toolbar: {
            show: false
          },
        },
        labels: ['Pemasukan Dokumen Kualifikasi', 'Pelaksanaan Aanwijzing', 'Pemasukan Penawaran', 'Evaluasi Penawaran', 'Klarifikasi & Negosiasi', 'Penetapan Pemenang'],
        dataLabels: {
          enabled: false,
        },
        legend: { 
          show: false 
        },
        stroke: {
          width: 5
        },
        colors: [$primary, $warning, $danger, $dark_green, $info, $success],
        fill: {
          type: 'gradient',
          gradient: {
            gradientToColors: [$info_light, $info_light, $info_light, $info_light, $info_light, $info_light]
          }
        },
        tooltip: {
          enabled: true,
          enabledOnSeries: undefined,
          shared: true,
          followCursor: false,
          intersect: false,
          inverseOrder: false,
          custom: undefined,
          fillSeriesColor: false,
          theme: false,
          style: {
            fontSize: '12px',
            fontFamily: undefined
          },
        },
        responsive: [{
          breakpoint: 480,
          options: {
            chart: {
              width: 200
            }
          }
        }]
      },
      chartOptions2: {
        chart: {
          type: 'pie',
          height: 330,
          dropShadow: {
            enabled: false,
            blur: 5,
            left: 1,
            top: 1,
            opacity: 0.2
          },
          toolbar: {
            show: false
          },
        },
        labels: ['Pemasukan Dokumen Kualifikasi', 'Pelaksanaan Aanwijzing', 'Pemasukan Penawaran', 'Evaluasi Penawaran', 'Klarifikasi & Negosiasi', 'Penetapan Pemenang'],
        dataLabels: {
          enabled: false,
        },
        legend: { 
          show: false 
        },
        stroke: {
          width: 5
        },
        colors: [$primary, $warning, $danger, $dark_green, $info, $success],
        fill: {
          type: 'gradient',
          gradient: {
            gradientToColors: [$info_light, $info_light, $info_light, $info_light, $info_light, $info_light]
          }
        },
        tooltip: {
          enabled: true,
          enabledOnSeries: undefined,
          shared: true,
          followCursor: false,
          intersect: false,
          inverseOrder: false,
          custom: undefined,
          fillSeriesColor: false,
          theme: false,
          style: {
            fontSize: '12px',
            fontFamily: undefined
          },
        },
        responsive: [{
          breakpoint: 480,
          options: {
            chart: {
              width: 200
            }
          }
        }]
      },
      chartOptions3: {
        chart: {
          type: 'pie',
          height: 330,
          dropShadow: {
            enabled: false,
            blur: 5,
            left: 1,
            top: 1,
            opacity: 0.2
          },
          toolbar: {
            show: false
          },
        },
        labels: ['Pemasukan Dokumen Kualifikasi', 'Pelaksanaan Aanwijzing', 'Pemasukan Penawaran', 'Evaluasi Penawaran', 'Klarifikasi & Negosiasi', 'Penetapan Pemenang'],
        dataLabels: {
          enabled: false,
        },
        legend: { 
          show: false 
        },
        stroke: {
          width: 5
        },
        colors: [$primary, $warning, $danger, $dark_green, $info, $success],
        fill: {
          type: 'gradient',
          gradient: {
            gradientToColors: [$info_light, $info_light, $info_light, $info_light, $info_light, $info_light]
          }
        },
        tooltip: {
          enabled: true,
          enabledOnSeries: undefined,
          shared: true,
          followCursor: false,
          intersect: false,
          inverseOrder: false,
          custom: undefined,
          fillSeriesColor: false,
          theme: false,
          style: {
            fontSize: '12px',
            fontFamily: undefined
          },
        },
        responsive: [{
          breakpoint: 480,
          options: {
            chart: {
              width: 200
            }
          }
        }]
      },

      allTender : [],

      columns: [
          {
              label: 'Kode',
              field: 'kode',
              filterable: true,
          },
          {
              label: 'Metode',
              field: 'metode',
              filterable: true,
          },
          {
              label: 'Pekerjaan',
              field: 'nama_pekerjaan',
              filterable: true,
          },
          {
              label: 'Vendor',
              field: 'vendor',
              filterable: true,
          },
          {
              label: 'Lokasi',
              field: 'lokasi',
              filterable: true,
          },
          {
              label: 'Progres',
              field: 'progres',
              filterable: true,
          },
          {
              label: 'Nilai Pagu',
              field: 'pagu',
              filterable: true,
          },
          {
              label: 'Sepakat',
              field: 'sepakat',
              filterable: true,
          },
      ],
      rows: [],
      totalRecords: 0,
      serverParams: {
        columnFilters: {
        },
        sort: {       
          field: 'created_at', 
          type: 'desc',
        },
        page: 1, 
        perPage: 10,
        searchTerm: ''
      },
      action: [],
      total: ''
    };
  },
  beforeCreate() {
    // cekUserMenu() {
    this.loading = true;
    axios.get("/session").then(response => {
      this.idUser = response.data.id;
      this.id = response.data.id;
      this.id_person = response.data.id_person;
      this.role = response.data.role;   
      this.login = response.data.login;
      
      axios.get("/api/getSide/" + this.id).then(response => {
        this.data = response.data;
        var routesUser = [];
        this.data.forEach(function(puki, index) {
          var nam = puki.Link.substr(1);
          routesUser.push(nam);
        });
        var n = routesUser.includes(this.$options.name);
        console.log(n);
        if (this.login == true && n == true) {
          this.loading = false;
          this.loadData();
          this.loadItems(this.role,this.id)
        } else if (this.login == true && n == false) {
          this.$router.push("/not404");
          this.loading = false;
        } else {
          window.location.href = "/";
          // this.$router.push('/not404');
          this.loading = false;
        }
      });
    });

    // },
  },
  created() {},
  mounted() {
      this.listen()
      this.notif()
      this.getChart1()
      this.getChart2()
      this.getChartPL()
      this.getChartPT()
      this.getChartUM()
      this.getPie1()
      this.getPie2()
      this.getPie3()
      // this.allTenderData()
  },
  methods: {
    getChart1(){
      this.isLoadingPengumuman = true;
      axios.post("/api/getCountPengumuman", {filter: this.filterS1}).then(response => {
        this.gained1Tot = response.data[0].total
        var isi = [];
        isi.push(response.data[0].data);
        this.gained1 = isi
        setTimeout(() => {
          this.isLoadingPengumuman = false
        },3000)
      });
    },
    getChart2(){
      this.isLoadingBerita = true;
      axios.post("/api/getCountBerita", {filter: this.filterS2}).then(response => {
        this.gained2Tot = response.data[0].total
        var isi = [];
        isi.push(response.data[0].data);
        this.gained2 = isi
        setTimeout(() => {
          this.isLoadingBerita = false
        },3000)
      });
    },
    getChartPL(){
      this.isLoadingPL = true;
      axios.post("/api/getPL", {filter: this.filter1}).then(response => {
        this.avg1Tot = response.data[0].total
        var isi = [];
        isi.push(response.data[0].data);
        this.avg1  = isi  
        setTimeout(() => {
          this.isLoadingPL = false
        },3000)
      });
    },
    getChartPT(){
      this.isLoadingPT = true;
      axios.post("/api/getPT", {filter: this.filter2}).then(response => {
        this.avg2Tot = response.data[0].total
        var isi = [];
        isi.push(response.data[0].data);
        this.avg2  = isi
        setTimeout(() => {
          this.isLoadingPT = false
        },3000)
      });
    },
    getChartUM(){
      this.isLoadingUM = true;
      axios.post("/api/getUM", {filter: this.filter3}).then(response => {
        this.avg3Tot = response.data[0].total
        var isi = [];
        isi.push(response.data[0].data);
        this.avg3  = isi
        setTimeout(() => {
          this.isLoadingUM = false
        },3000)
      });
    },
    getPie1(){
      axios.get("/api/getCountPL").then(response => {
        this.series1Total = response.data[0].total 
        this.series1 = response.data[0].count
      });
    },
    getPie2(){
      axios.get("/api/getCountPT").then(response => {
        this.series2Total = response.data[0].total 
        this.series2 = response.data[0].count
      });
    },
    getPie3(){
      axios.get("/api/getCountUM").then(response => {
        this.series3Total = response.data[0].total 
        this.series3 = response.data[0].count
      });
    },
    allTenderData(){
      axios.get("/api/getAllTender").then(response => {
        var isi = [];
        for (let i = 0; i < response.data.length; i++) {
          isi.push(response.data[i].data);
        }
        this.allTender  = isi
      });
    },
    loadData() {
      // fetch data dari api menggunakan axios
      axios.get("/api/getCountPerson").then(response => {
        // mengirim data hasil fetch ke varibale array persons
        this.count = response.data;
      });
    },
    formatDate(value) {
      return moment(value).format("DD MMMM YYYY");
    },
    listen() {
        Echo.channel('newPerson') //Should be Channel Name
        .listen('PersonEvents', (e) => {
          this.count = e.task
        });
    },
    notif() {
        Echo.channel('newNotif') //Should be Channel Name
        .listen('NotifEvents', (e) => {
          this.notify = e.task
          // console.log(this.notify)
          // this.notifyCo = e.task
        });
    },
    handleNetworkIdentified(type) {
      // console.log('connection type: ', type);
      this.contype = type.toUpperCase();
    },
    handleNetworkSpeed(speed) {
      // console.log('download speed: ', speed);
      this.speed = [];
      this.speed.push(this.valueToPercent(speed));
    },
    valueToPercent (value) {
      const max = 10
      return (value * 100) / max
    },
    formatPrice(value) {
        let val = (value/1).toFixed(2).replace('.', ',')
        return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")
    },

    getFromServer(tenders,role,id) {
      if(role == "R002") {
        return axios.post(`/api/getAllTender2Vendor/`+id+`?searchTerm=${tenders.searchTerm}&page=${tenders.page}&per_page=${tenders.perPage}&field=${tenders.sort.field}&type=${tenders.sort.type}`); 
      } else {
        return axios.post(`/api/getAllTender2?searchTerm=${tenders.searchTerm}&page=${tenders.page}&per_page=${tenders.perPage}&field=${tenders.sort.field}&type=${tenders.sort.type}`); 
      }

      // return axios.post(`/api/getAllTender2?searchTerm=${tenders.searchTerm}&page=${tenders.page}&per_page=${tenders.perPage}&field=${tenders.sort.field}&type=${tenders.sort.type}`);
    },

    loadItems(role,id) {
      this.getFromServer(this.serverParams,role,id).then((response) => {
            this.totalRecords = response.data.tenders.total;
            this.total = this.totalRecords
            this.rows = response.data.tenders.data;
        })
    },

    updateParams(newProps) {
      this.serverParams = Object.assign({}, this.serverParams, newProps);
    },
    
    onPageChange(params) {
      this.updateParams({page: params.currentPage});
      this.loadItems();
    },

    onPerPageChange(params) {
      this.updateParams({perPage: params.currentPerPage});
      this.loadItems();
    },

    onSortChange(params) {
      this.updateParams({
        sort: {
          type: params[0].type,
          field: params[0].field,
        },
      });
      this.loadItems();
    },
    
    onColumnFilter(params) {
      this.updateParams(params);
      this.loadItems();
    },

    onSearch(params) {
      this.updateParams(params);
      this.loadItems();
    },
  }
};
</script>

<style type="text/css" media="screen">
.apexcharts-tooltip {
    background: #f3f3f3 !important;
  }  
</style>