<script>
// import the styles


// add to component
</script>

<template>

  <!-- BEGIN: Content-->
  <div class="app-content content">
      <div class="content-overlay"></div>
      <div class="header-navbar-shadow"></div>
      <div class="content-wrapper">
          <div class="content-header row">
              <div class="content-header-left col-md-9 col-12 mb-2">
                  <div class="row breadcrumbs-top">
                      <div class="col-12">
                          <h2 class="content-header-title float-left mb-0">Visi & Misi</h2>
                          <div class="breadcrumb-wrapper col-12">
                              <ol class="breadcrumb">
                                  <li class="breadcrumb-item"><a href="index.html">Home</a>
                                  </li>
                                  <li class="breadcrumb-item"><a href="#">Master</a>
                                  </li>
                                  <li class="breadcrumb-item"><a href="#">Content</a>
                                  </li>
                                  <li class="breadcrumb-item active">Visi & Misi
                                  </li>
                              </ol>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="content-header-right text-md-right col-md-3 col-12 d-md-block d-none">
                  <div class="form-group breadcrum-right">
                      <div class="dropdown">

                          <button class="btn-icon btn btn-primary btn-round btn-sm dropdown-toggle"data-toggle="tooltip"
                            data-original-title="Refresh" v-on:click="onRefresh" aria-haspopup="true" aria-expanded="false"><i class="feather icon-refresh-ccw"></i>
                          </button>

                      </div>
                  </div>
              </div>
          </div>
          <div class="content-body">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Setting Main Content Visi Misi</h4>
                        </div>
                        <div class="card-content collapse show">
                          <div class="card-body">
                            <form id="formVisiMisi" @submit.prevent="addData()" autocomplete="off">
                              <div class="modal-body">
                                <div class="row">
                                  <div class="form-group col-md-12">
                                    <label class="form-control-label" for="inputBasicLastName">Visi & Misi 1 ID</label>
                                    <textarea class="maxlength-textarea form-control" data-plugin="maxlength" data-placement="bottom-right-inside" rows="3" placeholder="Input your Visi & Misi 1" v-model="form.isiVisiMisi1" ></textarea>
                                  </div>
                                  <div class="form-group col-md-12">
                                    <label class="form-control-label" for="inputBasicLastName">Visi & Misi 1 EN</label>
                                    <textarea class="maxlength-textarea form-control" data-plugin="maxlength" data-placement="bottom-right-inside" rows="3" placeholder="Input your Visi & Misi 1" v-model="form.isiVisiMisiEN1" ></textarea>
                                  </div>
                                  <div class="form-group col-md-12">
                                    <label class="form-control-label" for="inputBasicLastName">Visi & Misi 2 ID</label>
                                    <textarea class="maxlength-textarea form-control" data-plugin="maxlength" data-placement="bottom-right-inside" rows="3" placeholder="Input your Visi & Misi 2" v-model="form.isiVisiMisi2" ></textarea>
                                  </div>
                                  <div class="form-group col-md-12">
                                    <label class="form-control-label" for="inputBasicLastName">Visi & Misi 2 EN</label>
                                    <textarea class="maxlength-textarea form-control" data-plugin="maxlength" data-placement="bottom-right-inside" rows="3" placeholder="Input your Visi & Misi 2" v-model="form.isiVisiMisiEN2" ></textarea>
                                  </div>
                                  <div class="form-group col-md-12">
                                    <label class="form-control-label" for="inputBasicLastName">Visi & Misi 3 ID</label>
                                    <textarea class="maxlength-textarea form-control" data-plugin="maxlength" data-placement="bottom-right-inside" rows="3" placeholder="Input your Visi & Misi 3" v-model="form.isiVisiMisi3" ></textarea>
                                  </div>
                                  <div class="form-group col-md-12">
                                    <label class="form-control-label" for="inputBasicLastName">Visi & Misi 3 EN</label>
                                    <textarea class="maxlength-textarea form-control" data-plugin="maxlength" data-placement="bottom-right-inside" rows="3" placeholder="Input your Visi & Misi 3" v-model="form.isiVisiMisiEN3" ></textarea>
                                  </div>
                                  <div class="form-group col-md-12">
                                    <label class="form-control-label" for="inputBasicLastName">Visi & Misi 4 ID</label>
                                    <textarea class="maxlength-textarea form-control" data-plugin="maxlength" data-placement="bottom-right-inside" rows="3" placeholder="Input your Visi & Misi 4" v-model="form.isiVisiMisi4" ></textarea>
                                  </div>
                                  <div class="form-group col-md-12">
                                    <label class="form-control-label" for="inputBasicLastName">Visi & Misi 4 EN</label>
                                    <textarea class="maxlength-textarea form-control" data-plugin="maxlength" data-placement="bottom-right-inside" rows="3" placeholder="Input your Visi & Misi 4" v-model="form.isiVisiMisiEN4" ></textarea>
                                  </div>
                                  <div class="form-group col-md-12">
                                    <label class="form-control-label" for="inputBasicLastName">Visi & Misi 5ID</label>
                                    <textarea class="maxlength-textarea form-control" data-plugin="maxlength" data-placement="bottom-right-inside" rows="3" placeholder="Input your Visi & Misi 5" v-model="form.isiVisiMisi5" ></textarea>
                                  </div>
                                  <div class="form-group col-md-12">
                                    <label class="form-control-label" for="inputBasicLastName">Visi & Misi 5 EN</label>
                                    <textarea class="maxlength-textarea form-control" data-plugin="maxlength" data-placement="bottom-right-inside" rows="3" placeholder="Input your Visi & Misi 5" v-model="form.isiVisiMisiEN5" ></textarea>
                                  </div>
                                  <div class="form-group col-md-12">
                                    <label class="form-control-label" for="inputBasicLastName">Visi & Misi 6 ID</label>
                                    <textarea class="maxlength-textarea form-control" data-plugin="maxlength" data-placement="bottom-right-inside" rows="3" placeholder="Input your Visi & Misi 6" v-model="form.isiVisiMisi6" ></textarea>
                                  </div>
                                  <div class="form-group col-md-12">
                                    <label class="form-control-label" for="inputBasicLastName">Visi & Misi 6 EN</label>
                                    <textarea class="maxlength-textarea form-control" data-plugin="maxlength" data-placement="bottom-right-inside" rows="3" placeholder="Input your Visi & Misi 6" v-model="form.isiVisiMisiEN6" ></textarea>
                                  </div>
                                </div>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-default btn-pure" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Save changes</button>
                              </div>
                            </form>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
      </div>
  </div>
  <!-- END: Content-->
</template>

<!-- script js -->
<script>
import moment from 'moment';

moment.locale("id");

const _ = require('lodash');

export default {
    name: 'visimisi',
    components: {

    },
    data() {
        return {
            isLoading: false,
            form:{
              id: '',
              isiVisiMisi: [],
              isiVisiMisi1: '',
              isiVisiMisiEN1: '',
              isiVisiMisi2: '',
              isiVisiMisiEN2: '',
              isiVisiMisi3: '',
              isiVisiMisiEN3: '',
              isiVisiMisi4: '',
              isiVisiMisiEN4: '',
              isiVisiMisi5: '',
              isiVisiMisiEN5: '',
              isiVisiMisi6: '',
              isiVisiMisiEN6: '',
            },
            action: []
        };
    },
    beforeCreate(){
        this.loading = true;
        axios
        .get("/session")
        .then(response => {
            this.id = response.data.id;
            this.role = response.data.role;
            this.login = response.data.login;
            axios
            .get("/api/getSide/" + this.id )
            .then(response => {
                this.data = response.data;
                var routesUser = [];
                this.data.forEach(function(puki, index) {
                  var nam = puki.Link.substr(1);
                  routesUser.push(nam);
                }); 
                var n = routesUser.includes(this.$options.name);
                console.log(n)
                if(this.login == true && n == true){
                  this.loading = false;
                  this.getAction(this.id,this.$options.name)
                } else if (this.login == true && n == false) {
                  this.$router.push('/not404');
                  this.loading = false;
                } else {
                  window.location.href = "/";
                  // this.$router.push('/not404');
                  this.loading = false;
                }
            });
        });
    },
    computed: {
    },
    mounted() {
      this.getVisiMisi()
    },
    methods: {
      getVisiMisi(){
        axios
            .get("/api/getcontentVisiMisi")
            .then(response => {
              this.form.id = response.data.id
              this.form.isiVisiMisi = response.data.isi_visimisi
              this.form.isiVisiMisi1 = response.data.isi_visimisi[0]
              this.form.isiVisiMisiEN1 = response.data.isi_visimisiEN[0]
              this.form.isiVisiMisi2 = response.data.isi_visimisi[1]
              this.form.isiVisiMisiEN2 = response.data.isi_visimisiEN[1]
              this.form.isiVisiMisi3 = response.data.isi_visimisi[2]
              this.form.isiVisiMisiEN3 = response.data.isi_visimisiEN[2]
              this.form.isiVisiMisi4 = response.data.isi_visimisi[3]
              this.form.isiVisiMisiEN4 = response.data.isi_visimisiEN[3]
              this.form.isiVisiMisi5 = response.data.isi_visimisi[4]
              this.form.isiVisiMisiEN5 = response.data.isi_visimisien[4]
              this.form.isiVisiMisi6 = response.data.isi_visimisi[5]
              this.form.isiVisiMisiEN6 = response.data.isi_visimisiEN[5]
            });
      },
      getAction(id,link){
        axios
            .get("/api/action/" + id + "/" + link)
            .then(response => {
              this.action = response.data;
            });
      },


      addData() {
        Swal.fire({
          title: 'Are you sure?',
          text: "You won't be able to revert this!",
          type: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: 'Yes, insert it!',
          confirmButtonClass: 'btn btn-primary',
          cancelButtonClass: 'btn btn-danger ml-1',
          buttonsStyling: false,
        }).then(function (result) {
          if (result.value) {
            axios.post("/api/addContentVisiMisi", {
              isiVisiMisi1: this.form.isiVisiMisi1,
              isiVisiMisiEN1: this.form.isiVisiMisiEN1,
              isiVisiMisi2: this.form.isiVisiMisi2,
              isiVisiMisiEN2: this.form.isiVisiMisiEN2,
              isiVisiMisi3: this.form.isiVisiMisi3,
              isiVisiMisiEN3: this.form.isiVisiMisiEN3,
              isiVisiMisi4: this.form.isiVisiMisi4,
              isiVisiMisiEN4: this.form.isiVisiMisiEN4,
              isiVisiMisi5: this.form.isiVisiMisi5,
              isiVisiMisiEN5: this.form.isiVisiMisiEN5,
              isiVisiMisi6: this.form.isiVisiMisi6,
              isiVisiMisiEN6: this.form.isiVisiMisiEN6,
              username: localStorage.getItem('username'),
              fullname: localStorage.getItem('fullname'),
            })
            .then(response => {
              this.getVisiMisi()
              Swal.fire(
                {
                  type: "success",
                  title: 'Inserted!',
                  text: 'Your file has been Insert.',
                  confirmButtonClass: 'btn btn-success',
                }
              )
            });
          }
        }.bind(this))
      },

      onRefresh: function (event) {
        if (event) {
          // this.loadItems();
          this.content = '';
        }
      },

      formatDate(value) {
          return moment(value).format("DD MMMM YYYY")
      }

    }
};
</script>

