<template>
  <div>
    <!-- breadcrumb start-->
    <section class="breadcrumb breadcrumb_bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb_iner text-center">
                        <div class="breadcrumb_iner_item">
                            <h2 style="font-family: 'GothamBold'">{{ $t('message.sectionBerita3')}}</h2>
                            <p style="font-family: 'GothamNarrow'">{{ $t('message.sectionBerita1')}}<span>/</span>{{ $t('message.sectionBerita2')}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb start-->

    <!-- List KOP -->
    <section class="special_cource padding_top" style="padding-bottom: 50px;" id="listKop">
        <div class="container">
            <div class="row">
              <div class="col-sm-12 col-lg-12 col-xl-12" >
                <loading :active.sync="isLoading"
                                   :can-cancel="canCancel"
                                   :is-full-page="fullPage"
                                   :height="height"
                                   :width="width"
                                   :color="color"
                                   :loader="loader"
                                   :z-index="zindex"
                                   :background-color="bgColor"></loading>          
                <div class="row">
                  <div class="col-md-6" align="left">
                    <a type="button" class="btn_2" @click="back()" style="background-color:#ffffff">{{ $t('message.sectionBeritabtn3')}}</a>
                  </div>
                  <div class="form-group col-md-6" align="right">
                  </div>
                </div>
                <div class="card-body">
                  <table border='0' cellpadding='0' cellspacing='0' class='body' style='border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%; background-color: #f6f6f6;'>
                    <tr>
                      <td style='font-family: sans-serif; font-size: 14px; vertical-align: top;'>&nbsp;</td>
                      <td class='container' style='font-family: sans-serif; font-size: 14px; vertical-align: top; display: block; margin: 0 auto; max-width: 100%; padding: 10px; width: 100%;'>
                        <div class='content' style='box-sizing: border-box; display: block; margin: 0 auto; max-width: 100%; padding: 10px;'>

                          <!-- START CENTERED WHITE CONTAINER -->
                          <table class='main' style='border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%; background: #ffffff; border-radius: 3px;'>

                            <!-- START MAIN CONTENT AREA -->
                            <tr>
                              <td class='wrapper' style='font-family: sans-serif; font-size: 14px; vertical-align: top; box-sizing: border-box; padding: 20px;'>
                                <table border='0' cellpadding='0' cellspacing='0' style='border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%;'>
                                  <tr>
                                    <td style='font-family: sans-serif; font-size: 14px; vertical-align: top;' colspan="2">
                                      <h1>{{ detailBerita.judul }}</h1>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td style='font-family: sans-serif; font-size: 14px; vertical-align: top;' colspan="2">
                                      <h4>{{ formatDate(detailBerita.tanggal) }}</h4>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td style='font-family: sans-serif; font-size: 14px; vertical-align: top;' colspan="2">
                                      <template v-if="detailBerita.jam_mulai == null && detailBerita.jam_selesa == null">
                                        <p style="margin-top:16px;"></p>
                                      </template>
                                      <template v-else-if="detailBerita.jam_selesai == null">
                                        <p>{{formatTime(detailBerita.jam_mulai)}}</p>
                                      </template>
                                      <template v-else>
                                        <p>{{formatTime(detailBerita.jam_mulai)}} - {{formatTime(detailBerita.jam_selesai)}}</p>
                                      </template>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td v-html="detailBerita.content" colspan="2">
                                      {{ detailBerita.content }}
                                    </td>
                                  </tr>
                                  <tr>
                                    <td colspan="2">
                                      <hr>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td align="left">
                                      <template v-if="detailBerita.link_instagram !== null">
                                        <a :href="'http://www.instagram.com/'+detailBerita.link_instagram" target="_blank" style="padding-right:30px">
                                          <b><i class="ti-instagram"></i> Instagram</b>
                                        </a>
                                      </template>
                                      <template v-if="detailBerita.link_fb !== null">
                                        <a :href="'http://www.facebook.com/'+detailBerita.link_fb" target="_blank" style="padding-right:30px">
                                          <b><i class="ti-facebook"></i> Facebook</b>
                                        </a>
                                      </template>
                                      <template v-if="detailBerita.link_youtube !== null">
                                        <a :href="'http://www.youtube.com/'+detailBerita.link_youtube" target="_blank">
                                          <b><i class="ti-youtube"></i> Youtube</b>
                                        </a>
                                      </template>
                                    </td>
                                    <td align="right">
                                      <div id="socialShare" class="btn-group share-group">
                                          <button href="#" data-toggle="dropdown" class="btn btn-info dropdown-toggle share" style="color: #888888;background-color: #ffffff;border-color: #ffffff;padding:0px;">
                                              <i class="fa fa-share-alt"></i> 
                                          </button>
                                          <social-sharing 
                                            :url="baseUrl+'/detailBeritaShare?id='+detailBerita.id" 
                                            :quote="detailBerita.judul"
                                            style="{backgroundColor: #1877f2}"
                                            inline-template > 
                                            <div>       
                                              <ul class="dropdown-menu" style="    border: 1px solid rgba(0, 0, 0, 0.15) !important;background-color: rgb(255, 255, 255);">
                                                  <li>
                                                      <a data-original-title="Twitter" rel="tooltip" class="btn" data-placement="left">
                                                          <network network="twitter">
                                                            <p><i class="fa fa-twitter"></i> &nbspTwitter</p>
                                                          </network>
                                                      </a>
                                                  </li>
                                                  <li>
                                                      <a data-original-title="Facebook" rel="tooltip" class="btn" data-placement="left">
                                                          <network network="facebook">
                                                            <p><i class="fa fa-facebook"></i> &nbsp&nbspFacebook</p>
                                                          </network>
                                                      </a>
                                                  </li>                   
                                                  <li>
                                                      <a  data-original-title="Email" rel="tooltip" class="btn" data-placement="left">
                                                          <network network="whatsapp">
                                                            <p><i class="fa fa-whatsapp"></i> &nbspWhatsapp</p>
                                                          </network>
                                                      </a>
                                                  </li>
                                                  <!-- <li>
                                                      <a @click="copylink()"> 
                                                          <p><i class="fa fa-copy"></i> &nbspCopy Link</p>
                                                      </a>
                                                  </li> -->
                                              </ul>
                                            </div>
                                          </social-sharing>
                                      </div>
                                    </td>
                                  </tr>
                                </table>
                              </td>
                            </tr>
                          <!-- END MAIN CONTENT AREA -->
                          </table>

                          <!-- START FOOTER -->
                            <table border='0' cellpadding='0' cellspacing='0' style='border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%;'>
                            </table>
                          <!-- END FOOTER -->
                        <!-- END CENTERED WHITE CONTAINER -->
                        </div>
                      </td>
                      <td style='font-family: sans-serif; font-size: 14px; vertical-align: top;'>&nbsp;</td>
                    </tr>
                  </table>
                </div>   
              </div>
              <div class="col-sm-12 col-lg-12 col-xl-12" >
                <div class="row">
                  <div class="col-md-6" align="left">
                    <template v-if="prev !== 0">
                      <a type="button" class="btn_2" @click="seeDetail(prev)" style="background-color:#ffffff">{{ $t('message.sectionBeritabtn4')}}</a>
                    </template>
                  </div>
                  <div class="form-group col-md-6" align="right">
                    <template v-if="next !== 0">
                      <a type="button" class="btn_2" @click="seeDetail(next)" style="background-color:#ffffff">{{ $t('message.sectionBeritabtn5')}}</a>
                    </template>
                  </div>
                </div>
              </div>
              <div class="col-sm-12 col-lg-12 col-xl-12" >
                <loading :active.sync="isLoading"
                                   :can-cancel="canCancel"
                                   :is-full-page="fullPage"
                                   :height="height"
                                   :width="width"
                                   :color="color"
                                   :loader="loader"
                                   :z-index="zindex"
                                   :background-color="bgColor"></loading>          
                <div class="row">
                </div>
                <div class="card-body">
                  <table border='0' cellpadding='0' cellspacing='0' class='body' style='border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%; background-color: #f6f6f6;'>
                    <tr>
                      <td style='font-family: sans-serif; font-size: 14px; vertical-align: top;'>&nbsp;</td>
                      <td class='container' style='font-family: sans-serif; font-size: 14px; vertical-align: top; display: block; margin: 0 auto; max-width: 100%; padding: 10px; width: 100%;'>
                        <div class='content' style='box-sizing: border-box; display: block; margin: 0 auto; max-width: 100%; padding: 10px;'>

                          <!-- START CENTERED WHITE CONTAINER -->
                          <table class='main' style='border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%; background: #ffffff; border-radius: 3px;'>

                            <!-- START MAIN CONTENT AREA -->
                            <tr>
                              <td class='wrapper' style='font-family: sans-serif; font-size: 14px; vertical-align: top; box-sizing: border-box; padding: 20px;'>
                                <table border='0' cellpadding='0' cellspacing='0' style='border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%;'>
                                  <tr>
                                    <td style='font-family: sans-serif; font-size: 14px; vertical-align: top;'>
                                      <h3>{{ $t('message.sectionKomen')}}</h3>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td style='font-family: sans-serif; font-size: 14px; vertical-align: top;'>
                                      <div class="row">
                                        <div class="col-md-6" style="padding: 10px;">
                                          <label><p>Email</p></label>
                                          <input
                                            type="textfield"
                                            class="form-control"
                                            v-model="dataLog.email"
                                            autocomplete="off"
                                            required
                                            :disabled='disabled'
                                          >
                                        </div>
                                        <div class="col-md-6" style="padding: 10px;">
                                          <label><p>Nama</p></label>
                                          <input
                                            type="textfield"
                                            class="form-control"
                                            v-model="dataLog.nama"
                                            autocomplete="off"
                                            required
                                            :disabled='disabled'
                                          >
                                        </div>
                                        <div class="col-md-12" style="padding: 10px;">
                                          <textarea class="maxlength-textarea form-control" data-plugin="maxlength" data-placement="bottom-right-inside" maxlength="100" rows="5"  v-model="dataLog.comment" required></textarea>
                                        </div>
                                        <div class="col-md-12" style="padding: 10px;">
                                          <a type="button" class="btn_2" @click="comment()" style="float:right;">{{ $t('message.sectionKomenbtn1')}}</a>
                                        </div>
                                      </div>
                                    </td>
                                  </tr>
                                </table>
                              </td>
                            </tr>
                          <!-- END MAIN CONTENT AREA -->
                          </table>

                          <!-- START FOOTER -->
                            <table border='0' cellpadding='0' cellspacing='0' style='border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%;'>
                            </table>
                          <!-- END FOOTER -->
                        <!-- END CENTERED WHITE CONTAINER -->
                        </div>
                      </td>
                      <td style='font-family: sans-serif; font-size: 14px; vertical-align: top;'>&nbsp;</td>
                    </tr>
                  </table>

                  <template v-if="list < detailComment.length" v-for="list in detailCommentToShow">
                    <table border='0' cellpadding='0' cellspacing='0' class='body' style='border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%; background-color: #f6f6f6;'>
                      <tr>
                        <td style='font-family: sans-serif; font-size: 14px; vertical-align: top;'>&nbsp;</td>
                        <td class='container' style='font-family: sans-serif; font-size: 14px; vertical-align: top; display: block; margin: 0 auto; max-width: 100%; padding: 10px; width: 100%;'>
                          <div class='content' style='box-sizing: border-box; display: block; margin: 0 auto; max-width: 100%; padding: 10px;'>

                            <!-- START CENTERED WHITE CONTAINER -->
                            <table class='main' style='border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%; background: #ffffff; border-radius: 3px;'>

                              <!-- START MAIN CONTENT AREA -->
                              <tr>
                                <td class='wrapper' style='font-family: sans-serif; font-size: 14px; vertical-align: top; box-sizing: border-box; padding: 20px;'>
                                  <table border='0' cellpadding='0' cellspacing='0' style='border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%;'>
                                    <tr>
                                      <td style='font-family: sans-serif; font-size: 14px; vertical-align: bottom;'>
                                        <h3><img :src="detailComment[list].photo_profile" @error="(() => list.photo_profile = 'avatarDefault.png')" alt="" style="width:60px;height:width:60px;border-radius: 30px;border: 1px solid #00000033;">&nbsp;&nbsp;{{detailComment[list].nama}}</h3>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td style='font-family: sans-serif; font-size: 14px; vertical-align: top;'>
                                        <p>{{detailComment[list].comment}}</p>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td style='font-family: sans-serif; font-size: 10px;' valign="bottom" align="right">
                                        <p>{{formatDate(detailComment[list].created_at)}}</p>
                                        <template v-if="detailComment[list].edited_by !== null">
                                          <p>edited by {{detailComment[list].edited_by}}</p>
                                        </template>
                                      </td>
                                    </tr>
                                    <template v-if="detailComment[list].nama == dataLog.nama">
                                      <tr>
                                        <td style='font-family: sans-serif; font-size: 10px;' valign="bottom" align="right">
                                            <a type="button" class="btn_2" @click="deleteCom(detailComment[list].id)" style="float:right;padding: 2px 22px;margin-left: 10px;">Delete</a>
                                            <a type="button" class="btn_2" @click="updateCom(detailComment[list].id)" style="float:right;padding: 2px 22px;margin-left: 10px;">Update</a>
                                        </td>
                                      </tr>
                                    </template>
                                  </table>
                                </td>
                              </tr>
                            <!-- END MAIN CONTENT AREA -->
                            </table>

                            <!-- START FOOTER -->
                              <table border='0' cellpadding='0' cellspacing='0' style='border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%;'>
                              </table>
                            <!-- END FOOTER -->
                          <!-- END CENTERED WHITE CONTAINER -->
                          </div>
                        </td>
                        <td style='font-family: sans-serif; font-size: 14px; vertical-align: top;'>&nbsp;</td>
                      </tr>
                    </table>
                  </template>

                  <template v-if="detailComment.length > 5">
                    <div class="col-sm-12 col-lg-12 col-xl-12" style="margin-bottom:50px;margin-top:50px;" align="center">
                      <a type="button" class="btn_2" @click="detailCommentToShow += 5" style="background-color:#ffffff">{{ $t('message.sectionProfilebtn2')}}</a>
                    </div>
                  </template>
                </div>   
              </div>
            </div>
        </div>
    </section>
    <!-- End List KOP -->

  </div>
</template>

<!-- script js -->
<script>
import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.css';
import moment from 'moment';
moment.locale("id");

export default {
  name: 'detailberita',
  components: {
    'social-sharing': SocialSharing,
    Loading
  },
  data() {
    return {
      baseUrl:'',
      isLoading: false,
      fullPage: false,
      canCancel: false,
      useSlot: false,
      loader: 'spinner',
      bgColor: '#ffffff',
      height: 128,
      width: 128,
      color: '#1D437D',
      zindex: 9998,
      loading: false,
      detailBerita: {},
      next: '',
      prev: '',
      login: false,
      disabled : false,
      detailComment: [],
      detailCommentToShow: 5,
      dataLog: {
        email: '',
        idUser: '',
        idPost: '',
        role: '',
        login: false,
        username: '',
        nama: '',
        comment: '',
        
      },
    };
  },
  beforeCreate(){ 
    this.loading = true;
    axios
    .get("/session")
    .then(response => {
        this.dataLog.email = response.data.email;
        this.dataLog.idUser = response.data.id;
        this.dataLog.idPost = this.$route.params.id;
        this.dataLog.role = response.data.role;
        this.dataLog.login = response.data.login;
        this.dataLog.username = response.data.username;
        if(response.data.first_name == undefined){
          this.dataLog.nama = response.data.first_name;
        } else {
          this.dataLog.nama = response.data.first_name+" "+response.data.last_name;
        }
        
        if(response.data.login == undefined){
          this.login = false;
          this.disabled = false;
        } else {
          this.login = true;
          this.disabled = true;
        }

        var base_url = window.location.origin;
        this.baseUrl = base_url
    });
  },
  created() { 
    this.getDetail()
    this.getComment()
    this.getID()
  },
  mounted() {
    window.scrollTo(0, 500);
  },
  methods: {
    getID() {
      if(this.login !== false){
        this.disabled = false;
      } else {
        // this.disabled = true;
      }
    },
    getDetail() {
      this.isLoading = true;
      if(this.$route.params.id == undefined){
        this.$router.push("berita");
      } else {
        axios
          .get("/api/getBeritabyID/" + this.$route.params.id)
          .then(response => {
            this.detailBerita = response.data;
            this.next = response.data.next;
            this.prev = response.data.prev;
            setTimeout(() => {
              this.isLoading = false
            },3000)
          });
      }
    },
    getComment() {
      this.isLoading = true;
      axios
        .get("/api/getCommentbyID/" + this.$route.params.id + '/Berita')
        .then(response => {
          this.detailComment = response.data;
          setTimeout(() => {
            this.isLoading = false
          },3000)
        });
    },
    seeDetail(id){
      this.getDetail2(id)
      this.getComment2(id)
    },
    getDetail2(id) {
      this.isLoading = true;
      if(this.$route.params.id == undefined){
        this.$router.push("berita");
      } else {
        axios
          .get("/api/getBeritabyID/" + id)
          .then(response => {
            this.detailBerita = response.data;
            this.next = response.data.next;
            this.prev = response.data.prev;
            setTimeout(() => {
              this.isLoading = false
            },3000)
          });
      }
    },
    getComment2(id) {
      this.isLoading = true;
      axios
        .get("/api/getCommentbyID/" + id + '/Berita')
        .then(response => {
          this.detailComment = response.data;
          setTimeout(() => {
            this.isLoading = false
          },3000)
        });
    },
    back(id){
      this.$router.push("berita");
    },
    comment(){
      Swal.fire({
        title: "Are you sure?",
        text: "You won't be able to revert this!",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, insert it!',
        confirmButtonClass: 'btn btn-primary',
        cancelButtonClass: 'btn btn-danger ml-1',
        buttonsStyling: false,
      }).then(function (result) {
        if (result.value) {
          if(this.dataLog.comment !== "" && this.dataLog.email !== "" && this.dataLog.nama !== ""){
            axios.post("/api/Comment", {
              email: this.dataLog.email,
              id_post: this.dataLog.idPost,
              id_user: this.dataLog.idUser,
              role: this.dataLog.role,
              username: this.dataLog.username,
              nama: this.dataLog.nama,
              comment: this.dataLog.comment,
              tipe: 'Berita',
            })
            .then(response => {
              if (response.status == 200) {
                Swal.fire({
                  type: "success",
                  title: "Inserted!",
                  text: "Your file has been Insert.",
                  confirmButtonClass: "btn btn-success"
                });
              } else {
                Swal.fire({
                  type: "error",
                  title: "Failed!",
                  text: "Your file has been failled to Insert.",
                  confirmButtonClass: "btn btn-danger"
                });
              } 
              if(this.login == true){
                this.dataLog.comment = ''
              } else {
                this.dataLog.email = ''
                this.dataLog.idPost = ''
                this.dataLog.idUser = ''
                this.dataLog.role = ''
                this.dataLog.username = ''
                this.dataLog.nama = ''
                this.dataLog.comment = ''
              }
              this.getComment();
              this.getDetail();
            });
          } else {
            Swal.fire(
              {
                type: "error",
                title: "Failed!",
                text: "Please fill your Comment, Email and Name",
                confirmButtonClass: "btn btn-success"
              });
            }
          }
        }.bind(this)
      );
    },
    deleteCom(id){
      Swal.fire({
        title: 'Are you sure?',
        text: "You won't be able to revert this!",
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, delete it!',
        confirmButtonClass: 'btn btn-primary',
        cancelButtonClass: 'btn btn-danger ml-1',
        buttonsStyling: false,
      }).then(function (result) {
        if (result.value) {
          axios.delete("/api/deleteComment/" + id).then(response => {
            Swal.fire(
              {
                type: "success",
                title: 'Deleted!',
                text: 'Your file has been deleted.',
                confirmButtonClass: 'btn btn-success',
              }
            )
            this.getComment();
            this.getDetail();
          });
        }
      }.bind(this))
    },
    updateCom(id){
      Swal.fire({
        title: 'Are you sure?',
        input: 'text',
        inputAttributes: {
          autocapitalize: 'off'
        },
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, Update it!',
        confirmButtonClass: 'btn btn-primary',
        cancelButtonClass: 'btn btn-danger ml-1',
        buttonsStyling: false,
        showLoaderOnConfirm: true,
        preConfirm: (comment) => {
          return axios.post("/api/updateComment", {
            id: id,
            comment: comment,
          })
          .then(response => {
            this.getComment();
            this.getDetail();
            return 
          }); 
        },
        allowOutsideClick: () => !this.$swal.isLoading()
      }).then(function (result) {
        if (result.value) {
          Swal.fire(
            {
              type: "success",
              title: 'Inserted!',
              text: 'Your file has been Insert.',
              confirmButtonClass: 'btn btn-success',
            }
          )
        }
      }.bind(this))
    },
    formatTime(value) {
        return moment(value).format("hh:mm");
    },
    formatDate(value) {
        return moment(value).format("DD MMMM YYYY");
    }
  }
};
</script>

<style scoped>
  .image{
      position:relative;
      overflow:hidden;
      padding-bottom:100%;
  }
  .image img{
        position: absolute;
        max-width: 100%;
        max-height: 100%;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
  }  
  .mobile-social-share {
      background: none repeat scroll 0 0 #EEEEEE;
      display: block !important;
      min-height: 70px !important;
      margin: 50px 0;
  }

  .mobile-social-share h3 {
      color: inherit;
      float: left;
      font-size: 15px;
      line-height: 20px;
      margin: 25px 25px 0 25px;
  }

  .share-group {
      float: right;
      /*margin: 18px 25px 0 0;*/
  }

  .btn-group {
      display: inline-block;
      font-size: 0;
      position: relative;
      vertical-align: middle;
      white-space: nowrap;
  }

  .mobile-social-share ul {
      float: right;
      list-style: none outside none;
      margin: 0;
      min-width: 61px;
      padding: 0;
  }

  .share {
      min-width: 17px;
  }

  .mobile-social-share li {
      display: block;
      font-size: 18px;
      list-style: none outside none;
      margin-bottom: 3px;
      margin-left: 4px;
      margin-top: 3px;
  }

  .btn-share {
      background-color: #BEBEBE;
      border-color: #CCCCCC;
      color: #333333;
  }

  .btn-twitter {
      background-color: #3399CC !important;
      width: 51px;
      color:#FFFFFF!important;
  }

  .btn-facebook {
      background-color: #3D5B96 !important;
      width: 51px;
      color:#FFFFFF!important;
  }

  .btn-mail {
      background-color: #FFC90E !important;
      width: 51px;
      color:#FFFFFF!important;
  }

  .caret {
      border-left: 4px solid rgba(0, 0, 0, 0);
      border-right: 4px solid rgba(0, 0, 0, 0);
      border-top: 4px solid;
      display: inline-block;
      height: 0;
      margin-left: 2px;
      vertical-align: middle;
      width: 0;
  }

  #socialShare {
      /*max-width:59px;*/
      /*margin-bottom:18px;*/
  }

  #socialShare > a{
      padding: 6px 10px 6px 10px;
  }

  @media (max-width : 320px) {
      #socialHolder{
          padding-left:5px;
          padding-right:5px;
      }
      
      .mobile-social-share h3 {
          margin-left: 0;
          margin-right: 0;
      }
      
      #socialShare{
          margin-left:5px;
          margin-right:5px;
      }
      
      .mobile-social-share h3 {
          font-size: 15px;
      }
  }

  @media (max-width : 238px) {
      .mobile-social-share h3 {
          font-size: 12px;
      }
  }
</style>