<template>
  <div>
    <!-- breadcrumb start-->
    <section class="breadcrumb breadcrumb_bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb_iner text-center">
                        <div class="breadcrumb_iner_item">
                            <h2 style="font-family: 'GothamBold'">{{ $t('message.sectionBerita2')}}</h2>
                            <p style="font-family: 'GothamNarrow'">{{ $t('message.sectionBerita1')}}<span>/</span>{{ $t('message.sectionBerita2')}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb start-->

    <!-- List Berita -->
    <section class="special_cource padding_top" style="padding-bottom: 50px;" id="listBerita">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-5">
                    <div class="section_tittle text-center">
                        <h2 style="font-family: 'GothamBold'">{{ $t('message.sectionBerita2')}}</h2>
                    </div>
                </div>
            </div>
            <div class="row">
              <div class="col-sm-12 col-lg-12 col-xl-12" style="margin-bottom:50px;">
                <div class="row">
                  <div class="col-md-3">
                  </div>
                  <div class="col-md-6" style="padding: 10px;">
                    <input
                      type="textfield"
                      class="form-control"
                      placeholder="Search"
                      v-on:keyup="cari()"
                      v-model="searchh"
                      autocomplete="off"
                      required
                    >
                  </div>
                  <div class="col-md-3">
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                  </div>
                  <div class="col-md-6" style="padding: 10px;">
                    <!-- <a type="button" href="#listBerita" class="btn_1" @click="cari()" style="float:right;">Search</a> 
                    <a type="button" href="#listBerita" class="btn_2" @click="reset()" style="background-color:#ffffff;float:left;">Reset</a> -->
                  </div>
                  <div class="col-md-3">
                  </div>
                </div>
              </div>

              <div class="col-md-12 col-lg-12" style="min-height:500px;">
                <loading :active.sync="isLoading"
                         :can-cancel="canCancel"
                         :is-full-page="fullPage"
                         :height="height"
                         :width="width"
                         :color="color"
                         :loader="loader"
                         :z-index="zindex"
                         :background-color="bgColor"></loading>
                <div class="row">
                  <template v-if="list < listBerita.length" v-for="list in listBeritaToShow">
                    <template v-if="listBerita[list].publishDate == 'lewat' || listBerita[list].publishDate <= 7">
                      <div class="col-md-4 col-lg-4" style="margin-top:20px;">
                          <div class="single_special_cource">
                            <div class="special_cource_text" style="border: 1px solid #edeff2;border-radius: 25px;">
                              <div class="image">
                                  <img :src="listBerita[list].gambar" @error="(() => list.gambar = 'avatarDefault.png')" class="card-img-top" alt="logo" style="margin-bottom:10px;">
                              </div>
                              <!-- <h4>{{listBerita[list].judul}}</h4> -->
                              <template v-if="listBerita[list].judul.length <= 45">
                                <a href="#" @click="seeDetail(listBerita[list].id)"><h3 style="font-size:20px;height:60px;">{{listBerita[list].judul}}</h3></a>
                              </template>
                              <template v-if="listBerita[list].judul.length > 45">
                                <a href="#" @click="seeDetail(listBerita[list].id)"><h3 style="font-size:20px;height:60px;">{{listBerita[list].judul.substring(0, 45)}}. . .</h3></a>
                              </template>
                              <div class="author_info">
                                  <div class="author_info_text">
                                      <h5>{{formatDate(listBerita[list].tanggal)}} </h5>
                                      <template v-if="listBerita[list].jam_mulai == null && listBerita[list].jam_selesa == null">
                                        <p style="margin-top:16px;"></p>
                                      </template>
                                      <template v-else-if="listBerita[list].jam_selesai == null">
                                        <p>{{formatTime(listBerita[list].jam_mulai)}}</p>
                                      </template>
                                      <template v-else>
                                        <p>{{formatTime(listBerita[list].jam_mulai)}} - {{formatTime(listBerita[list].jam_selesai)}}</p>
                                      </template>
                                  </div>
                                  <div class="author_rating">
                                    <button class="btn_4" @click="seeDetail(listBerita[list].id)" style="color:#fff;">{{ $t('message.sectionBeritabtn2')}}</button>
                                  </div>
                              </div>
                              <div class="author_info">
                                  <div class="col-md-6">
                                      <a href="#" @click="seeDetail(listBerita[list].id)"><p style="float:left;"><span class="ti-comments"></span> {{listBerita[list].valComment}} Comments</p></a>
                                  </div>
                                  <div class="col-md-6">                                     
                                      <div id="socialShare" class="btn-group share-group">
                                          <button href="#" data-toggle="dropdown" class="btn btn-info dropdown-toggle share" style="color: #888888;background-color: #ffffff;border-color: #ffffff;padding:0px;">
                                              <i class="fa fa-share-alt"></i> 
                                          </button>
                                          <social-sharing 
                                            :url="baseUrl+'/detailBeritaShare?id='+listBerita[list].id" 
                                            :quote="listBerita[list].judul"
                                            style="{backgroundColor: #1877f2}"
                                            inline-template > 
                                            <div>       
                                              <ul class="dropdown-menu" style="    border: 1px solid rgba(0, 0, 0, 0.15) !important;background-color: rgb(255, 255, 255);">
                                                  <li>
                                                      <a data-original-title="Twitter" rel="tooltip" class="btn" data-placement="left">
                                                          <network network="twitter">
                                                            <p><i class="fa fa-twitter"></i> &nbspTwitter</p>
                                                          </network>
                                                      </a>
                                                  </li>
                                                  <li>
                                                      <a data-original-title="Facebook" rel="tooltip" class="btn" data-placement="left">
                                                          <network network="facebook">
                                                            <p><i class="fa fa-facebook"></i> &nbsp&nbspFacebook</p>
                                                          </network>
                                                      </a>
                                                  </li>                   
                                                  <li>
                                                      <a  data-original-title="Email" rel="tooltip" class="btn" data-placement="left">
                                                          <network network="whatsapp">
                                                            <p><i class="fa fa-whatsapp"></i> &nbspWhatsapp</p>
                                                          </network>
                                                      </a>
                                                  </li>
                                                  <!-- <li>
                                                      <a @click="copylink()"> 
                                                          <p><i class="fa fa-copy"></i> &nbspCopy Link</p>
                                                      </a>
                                                  </li> -->
                                              </ul>
                                            </div>
                                          </social-sharing>
                                      </div>
                                  </div>
                              </div>
                            </div>
                          </div>
                      </div>
                    </template>
                  </template>
                </div>
              </div>             
            </div>
            <template v-if="listBerita.length > 6">
              <div class="col-sm-12 col-lg-12 col-xl-12" style="margin-bottom:50px;margin-top:50px;" align="center">
                <a type="button" class="btn_2" @click="more()" style="background-color:#ffffff">{{ $t('message.sectionProfilebtn2')}}</a>
              </div>
            </template>
        </div>
    </section>
    <!-- End List Berita -->

  </div>
</template>

<!-- script js -->
<script>
import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.css';
import Select2 from 'v-select2-component';
import moment from 'moment';
moment.locale("id");

export default {
  name: 'berita',
  components: {
    Select2,
    'social-sharing': SocialSharing,
    Loading 
  },
  data() {
    return {
      baseUrl:'',
      isLoading: false,
      fullPage: false,
      canCancel: false,
      useSlot: false,
      loader: 'spinner',
      bgColor: '#ffffff',
      height: 128,
      width: 128,
      color: '#1D437D',
      zindex: 9998,
      loading: false,
      searchh: '',
      listBerita: [],
      listBeritaToShow: 6,
    };
  },
  created() { 
    this.getListBerita()
  },
  mounted() {
    window.scrollTo(0, 500);
  },
  methods: {
    getListBerita() {
      var base_url = window.location.origin;
      this.baseUrl = base_url
      this.isLoading = true;
      axios
        .get("/api/getListBeritaAll/" + (this.listBeritaToShow - 6))
        .then(response => {
          this.listBerita = response.data;
          setTimeout(() => {
            this.isLoading = false
          },3000)
        });
    },
    more(){
      this.listBeritaToShow += 6;
      this.isLoading = true;
      axios
        .get("/api/getListBeritaAll/" + (this.listBeritaToShow - 6))
        .then(response => {
          var listlist = this.listBerita;
          response.data.forEach(function(puki, index) {
            listlist.push(puki);
          });
          this.listBerita = listlist;
          setTimeout(() => {
            this.isLoading = false
          },3000)
        });
    },
    cari() {
      if(this.searchh !== ''){
        this.isLoading = true;
        axios
          .get("/api/getListBeritaAll/" + this.searchh)
          .then(response => {
          this.listBerita = response.data;
          setTimeout(() => {
            this.isLoading = false
          },3000)
        });
        } else {
          this.reset()
        }
    },
    reset() {
      this.getListBerita();
        this.searchh = ''
    },
    seeDetail(id){
      this.$router.push({ name: 'detailberita', params: {id: id} });
    },
    formatAlamat(lngLat){
        var alamat;
        axios
          .get("api/getMap/"+lngLat)
          .then(response => {
            this.viewAlamat = ''
            this.viewAlamat = response.data[0].Response.View[0].Result[0].Location.Address.Label;
        }); 
    },
    formatTime(value) {
      if(value !== 0){
        return moment(value, "HH:mm:ss").format("hh:mm");
      }
    },
    formatDate(value) {
        return moment(value).format("DD MMMM YYYY");
    }
  }
};
</script>

<style scoped>
  .image{
      position:relative;
      overflow:hidden;
      padding-bottom:100%;
  }
  .image img{
        position: absolute;
        max-width: 100%;
        max-height: 100%;
        width: 100%;
        /*height: 100%;*/
        top: 50%;
        left: 50%;
        /*object-fit: cover;*/
        transform: translateX(-50%) translateY(-50%);
  }  

  .mobile-social-share {
      background: none repeat scroll 0 0 #EEEEEE;
      display: block !important;
      min-height: 70px !important;
      margin: 50px 0;
  }

  .mobile-social-share h3 {
      color: inherit;
      float: left;
      font-size: 15px;
      line-height: 20px;
      margin: 25px 25px 0 25px;
  }

  .share-group {
      float: right;
      /*margin: 18px 25px 0 0;*/
  }

  .btn-group {
      display: inline-block;
      font-size: 0;
      position: relative;
      vertical-align: middle;
      white-space: nowrap;
  }

  .mobile-social-share ul {
      float: right;
      list-style: none outside none;
      margin: 0;
      min-width: 61px;
      padding: 0;
  }

  .share {
      min-width: 17px;
  }

  .mobile-social-share li {
      display: block;
      font-size: 18px;
      list-style: none outside none;
      margin-bottom: 3px;
      margin-left: 4px;
      margin-top: 3px;
  }

  .btn-share {
      background-color: #BEBEBE;
      border-color: #CCCCCC;
      color: #333333;
  }

  .btn-twitter {
      background-color: #3399CC !important;
      width: 51px;
      color:#FFFFFF!important;
  }

  .btn-facebook {
      background-color: #3D5B96 !important;
      width: 51px;
      color:#FFFFFF!important;
  }

  .btn-facebook {
      background-color: #3D5B96 !important;
      width: 51px;
      color:#FFFFFF!important;
  }

  .btn-mail {
      background-color: #FFC90E !important;
      width: 51px;
      color:#FFFFFF!important;
  }

  .caret {
      border-left: 4px solid rgba(0, 0, 0, 0);
      border-right: 4px solid rgba(0, 0, 0, 0);
      border-top: 4px solid;
      display: inline-block;
      height: 0;
      margin-left: 2px;
      vertical-align: middle;
      width: 0;
  }

  #socialShare {
      /*max-width:59px;*/
      /*margin-bottom:18px;*/
  }

  #socialShare > a{
      padding: 6px 10px 6px 10px;
  }

  @media (max-width : 320px) {
      #socialHolder{
          padding-left:5px;
          padding-right:5px;
      }
      
      .mobile-social-share h3 {
          margin-left: 0;
          margin-right: 0;
      }
      
      #socialShare{
          margin-left:5px;
          margin-right:5px;
      }
      
      .mobile-social-share h3 {
          font-size: 15px;
      }
  }

  @media (max-width : 238px) {
      .mobile-social-share h3 {
          font-size: 12px;
      }
  }
</style>