<script>
// import the styles


// add to component
</script>

<template>

  <!-- BEGIN: Content-->
  <div class="app-content content">
      <div class="content-overlay"></div>
      <div class="header-navbar-shadow"></div>
      <div class="content-wrapper">
          <div class="content-header row">
              <div class="content-header-left col-md-8 col-12 mb-2">
                  <div class="row breadcrumbs-top">
                      <div class="col-12">
                          <h2 class="content-header-title float-left mb-0">Management</h2>
                          <div class="breadcrumb-wrapper col-12">
                              <ol class="breadcrumb">
                                  <li class="breadcrumb-item"><a href="index.html">Home</a>
                                  </li>
                                  <li class="breadcrumb-item active">Manage Comment
                                  </li>
                              </ol>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="content-header-right text-md-right col-md-4 col-12 d-md-block d-none">
                  <div class="form-group breadcrum-right">
                      <div class="dropdown">
                        <template v-for="actionS in action">
                          <template v-if="actionS == 'Export'">
                            <a target="_blank" rel="noopener noreferrer" href="/downloadExcelPerson">
                              <button class="btn-icon btn btn-primary btn-round btn-sm dropdown-toggle" aria-haspopup="true" aria-expanded="false"><i class="feather icon-log-out"></i> <b>Export</b> </button>
                            </a>
                          </template>
                          <template v-if="actionS == 'Insert'">
                            <!-- <button class="btn-icon btn btn-primary btn-round btn-sm dropdown-toggle" data-target=".insertPersonMod" data-toggle="modal" type="button" @click="openModal" aria-haspopup="true" aria-expanded="false"><i class="feather icon-file-plus"></i> <b>New</b> </button> -->
                          </template>

                        </template>

                          <button class="btn-icon btn btn-primary btn-round btn-sm dropdown-toggle"data-toggle="tooltip"
                            data-original-title="Refresh" v-on:click="onRefresh" aria-haspopup="true" aria-expanded="false"><i class="feather icon-refresh-ccw"></i>
                          </button>

                      </div>
                  </div>
              </div>
          </div>

          <update-comment-mod :open-modal="updateOpen" :update="update" :close-modal="loadItems"></update-comment-mod>

          <div class="content-body">
              <!-- Basic example section start -->
              <section id="basic-examples">
                  <div class="card">
                      <div class="card-header">
                          <h4 class="card-title">Jumlah Comment : {{total}}</h4>
                      </div>
                      <div class="card-content">
                          <div class="card-body">

                            <vue-good-table
                              mode="remote"
                              @on-page-change="onPageChange"
                              @on-sort-change="onSortChange"
                              @on-column-filter="onColumnFilter"
                              @on-per-page-change="onPerPageChange"
                              @on-search="onSearch"
                              :totalRows="totalRecords"
                              :isLoading.sync="isLoading"
                              :pagination-options="{
                                enabled: true,
                                dropdownAllowAll: false,
                                mode: 'pages'
                              }"
                              :search-options="{
                                enabled: true,
                                skipDiacritics: true,
                              }"
                              :rows="rows"
                              :columns="columns">
                              <template slot="table-row" slot-scope="props">
                                <template v-if="role == 'R000'">
                                  <span v-if="props.column.field == 'action'"> 
                                    <button type="button" class="btn btn-outline-primary btn-sm dropdown-toggle mr-1" data-toggle="dropdown"><i class="feather icon-more-vertical"></i> Action</button>
                                    <ul class="dropdown-menu" style="top: auto; left: auto; padding: 5px;">
                                      <template v-for="actionS in action">
                                        <template v-if="actionS == 'Update'">
                                          <li>
                                            <button class="btn-icon btn btn-info btn-sm btn-block mr-1 mb-1 waves-effect waves-light" data-target=".updateCommentMod" data-toggle="modal" type="button" title='Update' @click="updateModal(props.row.id)"><i class="feather icon-edit" aria-hidden="true"></i> Update</button>
                                        </li>
                                        </template>
                                        <template v-if="actionS == 'Delete'">
                                          <li>
                                            <button class="btn-icon btn btn-danger btn-sm btn-block mr-1 mb-1 waves-effect waves-light" title='Delete' @click="deleteData(props.row.id)"><i class="feather icon-delete" aria-hidden="true"></i> Delete</button>
                                          </li>
                                        </template>
                                      </template>
                                    </ul>
                                  </span>
                                </template>
                                <template v-else>
                                  <span v-if="props.column.field == 'action'"> 
                                    <button type="button" class="btn btn-outline-primary btn-sm dropdown-toggle mr-1" data-toggle="dropdown"><i class="feather icon-more-vertical"></i> Action</button>
                                    <ul class="dropdown-menu" style="top: auto; left: auto; padding: 5px;">
                                      <template v-for="actionS in action">
                                        <template v-if="actionS == 'Update'">
                                          <li>
                                            <button class="btn-icon btn btn-info btn-sm btn-block mr-1 mb-1 waves-effect waves-light" data-target=".updateCommentMod" data-toggle="modal" type="button" title='Update' @click="updateModal(props.row.id)"><i class="feather icon-edit" aria-hidden="true"></i> Update</button>
                                        </li>
                                        </template>
                                        <template v-if="actionS == 'Delete'">
                                          <li>
                                            <button class="btn-icon btn btn-danger btn-sm btn-block mr-1 mb-1 waves-effect waves-light" title='Delete' @click="deleteData(props.row.id)"><i class="feather icon-delete" aria-hidden="true"></i> Delete</button>
                                          </li>
                                        </template>
                                      </template>
                                    </ul>
                                  </span>
                                </template>
                                <span v-else>
                                  {{props.formattedRow[props.column.field]}}
                                </span>
                              </template>
                            </vue-good-table>

                          </div>
                      </div>
                  </div>
              </section>
              <!-- // Basic example section end -->
          </div>
      </div>
  </div>
  <!-- END: Content-->

</template>

<!-- script js -->
<script>
import UpdateComment from './UpdateComment.vue';
import 'vue-good-table/dist/vue-good-table.css'
import { VueGoodTable } from 'vue-good-table';
import moment from 'moment';
moment.locale("id");

const _ = require('lodash');

export default {
    name: 'managecomment',
    components: {
      'vue-good-table' : VueGoodTable,
      'update-comment-mod' : UpdateComment,
    },
    data() {
        return {
            isLoading: false,
            modalOpen: false,
            viewOpen: false,
            view: {},
            updateOpen: false,
            update: {},
            prints: [],
            columns: [
                {
                    label: 'Judul',
                    field: 'judul_post',
                },
                {
                    label: 'Comment',
                    field: 'comment',
                    filterable: true
                },
                {
                    label: 'Tipe',
                    field: 'tipe',
                    filterable: true
                },
                {
                    label: 'Nama',
                    field: 'nama',
                    filterable: true
                },
                {
                  label: 'Action',
                  field: 'action',
                  sortable: false,
                },
            ],
            rows: [],
            totalRecords: 0,
            serverParams: {
              columnFilters: {
              },
              sort: {       
                field: 'created_at', 
                type: 'desc',
              },
              page: 1, 
              perPage: 10,
              searchTerm: ''
            },
            session: {
              id: '',
              id_person: '',
              role: ''
            },
            action: [],
            total: ''
        };
    },
    beforeCreate(){
        this.loading = true;
        axios
        .get("/session")
        .then(response => {
            this.id = response.data.id;
            this.role = response.data.role;
            this.login = response.data.login;
            axios
            .get("/api/getSide/" + this.id )
            .then(response => {
                this.data = response.data;
                var routesUser = [];
                this.data.forEach(function(puki, index) {
                  var nam = puki.Link.substr(1);
                  routesUser.push(nam);
                }); 
                var n = routesUser.includes(this.$options.name);
                console.log(n)
                if(this.login == true && n == true){
                  this.loading = false;
                  this.loadItems()
                  this.getAction(this.id,this.$options.name)
                } else if (this.login == true && n == false) {
                  this.$router.push('/not404');
                  this.loading = false;
                } else {
                  window.location.href = "/";
                  // this.$router.push('/not404');
                  this.loading = false;
                }
            });
        });
    },
    mounted() {
        // this.loadItems()
        // this.cekUserMenu()
    },
    methods: {
      getAction(id,link){
        axios
            .get("/api/action/" + id + "/" + link)
            .then(response => {
              this.action = response.data;
            });
      },
      getFromServer(comments) {
        return axios.get(`/api/getAllComment?searchTerm=${comments.searchTerm}&page=${comments.page}&per_page=${comments.perPage}&field=${comments.sort.field}&type=${comments.sort.type}`); 
      },

      updateParams(newProps) {
        this.serverParams = Object.assign({}, this.serverParams, newProps);
      },
      
      onPageChange(params) {
        this.updateParams({page: params.currentPage});
        this.loadItems();
      },

      onPerPageChange(params) {
        this.updateParams({perPage: params.currentPerPage});
        this.loadItems();
      },

      onSortChange(params) {
        this.updateParams({
          sort: {
            type: params[0].type,
            field: params[0].field,
          },
        });
        this.loadItems();
      },
      
      onColumnFilter(params) {
        this.updateParams(params);
        this.loadItems();
      },

      onSearch(params) {
        this.updateParams(params);
        this.loadItems();
      },

      openModal() {
          this.modalOpen = !this.modalOpen;
      }, 

      closeModal() {
          this.modalOpen = false;
          this.updateOpen = false;
      },

      updateModal(params) {
          axios
            .get("/api/getCommentbyIDAdm/" + params)
            .then(response => {
              this.update = response.data;
              console.log(this.update)
            });
          this.updateOpen = !this.updateOpen;
      },

      deleteData(id){
        Swal.fire({
          title: 'Are you sure?',
          text: "You won't be able to revert this!",
          type: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: 'Yes, delete it!',
          confirmButtonClass: 'btn btn-primary',
          cancelButtonClass: 'btn btn-danger ml-1',
          buttonsStyling: false,
        }).then(function (result) {
          if (result.value) {
            axios.post("/api/deleteComment/" + id, {
              username: localStorage.getItem('username'),
              fullname: localStorage.getItem('fullname'),
            }).then(response => {
              Swal.fire(
                {
                  type: "success",
                  title: 'Deleted!',
                  text: 'Your file has been deleted.',
                  confirmButtonClass: 'btn btn-success',
                }
              )
              this.loadItems();
            });
          }
        }.bind(this))
      },

      loadItems() {
        this.getFromServer(this.serverParams).then((response) => {
            this.totalRecords = response.data.comments.total;
            this.total = this.totalRecords
            this.rows = response.data.comments.data;
        })
      },

      onRefresh: function (event) {
        if (event) {
          this.loadItems();
        }
      },

      formatDate(value) {
          return moment(value).format("DD MMMM YYYY")
      }

    }
};
</script>

