<template>
  <!-- Modal -->
  <div class="modal fade text-left updateCommentMod" id="default" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel1">Update Comment</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form id="formUserUpdate" @submit.prevent="updateData()" autocomplete="off">
          <div class="modal-body">
            <div class="row">
              <div class="form-group col-md-12">
                <label class="form-control-label" for="inputBasicFirstName">Judul</label>
                <input
                  type="textfield"
                  class="form-control"
                  placeholder="Input your judul"
                  v-model="form.judul"
                  autocomplete="off"
                  required readonly
                >
              </div>
              <div class="form-group col-md-6">
                <label class="form-control-label" for="inputBasicFirstName">Nama</label>
                <input
                  type="textfield"
                  class="form-control"
                  placeholder="Input your nama"
                  v-model="form.nama"
                  autocomplete="off"
                  required readonly
                >
              </div>
              <div class="form-group col-md-6">
                <label class="form-control-label" for="inputBasicFirstName">Tipe</label>
                <input
                  type="textfield"
                  class="form-control"
                  placeholder="Input your tipe"
                  v-model="form.tipe"
                  autocomplete="off"
                  required readonly
                >
              </div>
              <div class="form-group col-md-12">
                <label class="form-control-label" for="inputBasicFirstName">Comment</label>
                <textarea class="maxlength-textarea form-control" data-plugin="maxlength" data-placement="bottom-right-inside"
                  maxlength="100" rows="3" placeholder="Input your comment" v-model="form.comment" required></textarea>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default btn-pure" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Update changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- End Modal -->
</template>

<!-- script js -->
<script>

export default {
  name: 'modal',
  props : {
    updateModal : {
      type : Boolean
    },
    update : {
      type : Object
    },
    closeModal : {
      type : Function
    }
  },
  data(){
    return{
      form:{
        id: '',
        judul: '',
        nama: '',
        tipe: '',
        comment: '',
      },
    }
  },
  watch: {
    update(newVal) {
      if (newVal) { 
        this.form.id = newVal.id; 
        this.form.judul = newVal.judul_post;
        this.form.nama = newVal.nama;
        this.form.tipe = newVal.tipe;
        this.form.comment = newVal.comment;
      }
    }
  },
  methods: {
    updateData() {
      Swal.fire({
        title: 'Are you sure?',
        text: "You won't be able to revert this!",
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, update it!',
        confirmButtonClass: 'btn btn-primary',
        cancelButtonClass: 'btn btn-danger ml-1',
        buttonsStyling: false,
      }).then(function (result) {
        if (result.value) {
          axios.post("/api/updateComment/", {
            id: this.form.id,
            comment: this.form.comment,
            username: localStorage.getItem('username'),
            fullname: localStorage.getItem('fullname'),
          })
          .then(response => {
            Swal.fire(
              {
                type: "success",
                title: 'Updated!',
                text: 'Your file has been Update.',
                confirmButtonClass: 'btn btn-success',
              }
            )
            this.closeModal();
            $(".updateCommentMod").modal('hide');
            this.closeModal();
            this.form.id = ''
            this.form.judul = ''
            this.form.nama = ''
            this.form.tipe = ''
            this.form.comment = ''
          });
        }
      }.bind(this)) 
    }
  }
};
</script>

