<template>
    <!-- BEGIN: Content-->
    <div class="app-content content">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper">
            <div class="content-header row">
                <div class="content-header-left col-md-9 col-12 mb-2">
                    <div class="row breadcrumbs-top">
                        <div class="col-12">
                            <h2 class="content-header-title float-left mb-0">
                                Berita
                            </h2>
                            <div class="breadcrumb-wrapper col-12">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item">
                                        <a href="index.html">Home</a>
                                    </li>
                                    <li class="breadcrumb-item">
                                        <a href="#">Master</a>
                                    </li>
                                    <li class="breadcrumb-item active">
                                        Berita 
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content-header-right text-md-right col-md-3 col-12 d-md-block d-none">
                    <div class="form-group breadcrum-right">
                        <div class="dropdown">
                            <template v-for="actionS in action" v-if="actionS == 'Insert'">
                                <!-- <template v-if="role !== 'R000'"> -->
                                    <template v-if="tambah == false && ubah == false">
                                        <button class="btn-icon btn btn-primary btn-round btn-sm dropdown-toggle" type="button" @click="showForm"><i class="feather icon-file-plus"></i><b> Tambah</b>
                                        </button>
                                    </template>
                                    <template v-if="tambah == true || ubah == true">
                                        <button class="btn-icon btn btn-primary btn-round btn-sm dropdown-toggle" type="button" @click="hideForm" ><i class="feather icon-arrow-left-circle"></i><b> Kembali</b>
                                        </button>
                                    </template>
                                <!-- </template> -->
                            </template>
                            <button
                                class="btn-icon btn btn-primary btn-round btn-sm dropdown-toggle"
                                data-toggle="tooltip"
                                data-original-title="Refresh"
                                v-on:click="onRefresh"
                                aria-haspopup="true"
                                aria-expanded="false"
                            >
                                <i class="feather icon-refresh-ccw"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-body">
                <!-- Basic example section start -->
                <section id="basic-examples">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">{{ title }} : {{total}}</h4>
                        </div>
                        <div class="card-content">
                            <div class="card-body">                               
                                <template v-if="tambah == false && lihat == false && ubah == false">
                                    <div class="table-responsive mt-1">
                                        <vue-good-table
                                            mode="remote"
                                            @on-page-change="onPageChange"
                                            @on-sort-change="onSortChange"
                                            @on-column-filter="onColumnFilter"
                                            @on-per-page-change="onPerPageChange"
                                            @on-search="onSearch"
                                            :totalRows="totalRecords"
                                            :isLoading.sync="isLoading"
                                            :pagination-options="{
                                                enabled: true,
                                                dropdownAllowAll: false,
                                                mode: 'pages'
                                            }"
                                            :search-options="{
                                                enabled: true,
                                                skipDiacritics: true
                                            }"
                                            :rows="rows"
                                            :columns="columns">
                                            <template slot="table-row" slot-scope="props">
                                                <span v-if="props.column.field =='action'">
                                                  <button type="button" class="btn btn-outline-primary btn-sm dropdown-toggle mr-1" data-toggle="dropdown"><i class="feather icon-more-vertical"></i> Action</button>
                                                  <ul class="dropdown-menu" style="top: auto; left: auto; padding: 5px;">
                                                    <template v-if="props.row.flag == 2 || props.row.flag == 3">
                                                        <template v-if="props.row.flag == 2">
                                                          <li>
                                                            <button class="btn-icon btn btn-danger btn-sm btn-block mr-1 mb-1 waves-effect waves-light" type="button" title="Unpublish" @click="draftData(props.row.id,props.row.flag)">
                                                                <i class="feather icon-x-circle" aria-hidden="true"></i> Unpublish
                                                            </button>
                                                          </li>
                                                          <li>
                                                            <button class="btn-icon btn btn-success btn-sm btn-block mr-1 mb-1 waves-effect waves-light" type="button" title="Publish" @click="draftData(props.row.id,props.row.flag)" disabled><i class="feather icon-check-circle" aria-hidden="true"></i> Publish
                                                            </button>
                                                          </li>
                                                        </template>

                                                        <template v-if="props.row.flag == 3">
                                                          <li>
                                                            <button class="btn-icon btn btn-danger btn-sm btn-block mr-1 mb-1 waves-effect waves-light" type="button" title="Unpublish" @click="draftData(props.row.id,props.row.flag)" disabled>
                                                                <i class="feather icon-x-circle" aria-hidden="true"></i> Unpublish
                                                            </button>
                                                          </li>
                                                          <li>
                                                            <button class="btn-icon btn btn-success btn-sm btn-block mr-1 mb-1 waves-effect waves-light" type="button" title="Publish" @click="draftData(props.row.id,props.row.flag)" ><i class="feather icon-check-circle" aria-hidden="true"></i> Publish
                                                            </button>
                                                          </li>
                                                        </template>
                                                        
                                                        <li>
                                                          <button class="btn-icon btn btn-primary btn-sm btn-block mr-1 mb-1 waves-effect waves-light" type="button" title="View" @click="viewdraftData(props.row.id, props.row.flag)"><i class="feather icon-eye" aria-hidden="true"></i> View
                                                          </button>
                                                        </li>

                                                        <li>
                                                          <button
                                                           class="btn-icon btn btn-info btn-sm btn-block mr-1 mb-1 waves-effect waves-light"
                                                           type="button"
                                                           title="Update"
                                                           @click="updatedraftData(props.row.id, props.row.flag)">
                                                             <i class="feather icon-edit" aria-hidden="true"></i> Update
                                                          </button>
                                                        </li>

                                                        <template v-if="role == 'R000'">
                                                          <li>
                                                            <button class="btn-icon btn btn-danger btn-sm btn-block mr-1 mb-1 waves-effect waves-light" type="button" title="Delete" @click="deletedraftData(props.row.id, props.row.flag)"><i class="feather icon-trash" aria-hidden="true"></i> Delete
                                                            </button>
                                                          </li>
                                                        </template>
                                                    </template>
                                                    <template v-else-if="props.row.flag == 1">
                                                      <li>
                                                        <button class="btn-icon btn btn-success btn-sm btn-block mr-1 mb-1 waves-effect waves-light" type="button" title="Publish" @click="draftData(props.row.id,props.row.flag)"><i class="feather icon-check-circle" aria-hidden="true"></i> Publish
                                                        </button>
                                                      </li>
                                                      <li>
                                                        <button class="btn-icon btn btn-primary btn-sm btn-block mr-1 mb-1 waves-effect waves-light" type="button" title="View" @click="viewdraftData(props.row.id, props.row.flag)"><i class="feather icon-eye" aria-hidden="true"></i> View
                                                        </button>
                                                      </li>
                                                      <li>
                                                        <button
                                                         class="btn-icon btn btn-info btn-sm btn-block mr-1 mb-1 waves-effect waves-light"
                                                         type="button"
                                                         title="Update"
                                                         @click="updatedraftData(props.row.id, props.row.flag)">
                                                           <i class="feather icon-edit" aria-hidden="true"></i> Update
                                                        </button>
                                                      </li>

                                                        <template v-if="role == 'R000'">
                                                          <li>
                                                            <button class="btn-icon btn btn-danger btn-sm btn-block mr-1 mb-1 waves-effect waves-light" type="button" title="Delete" @click="deletedraftData(props.row.id, props.row.flag)"><i class="feather icon-trash" aria-hidden="true"></i> Delete
                                                            </button>
                                                          </li>
                                                        </template>
                                                    </template>
                                                  </ul>
                                                    
                                                </span>
                                                <span v-else-if="props.column.field == 'flag'">
                                                    <template v-if="props.row.flag == 2 ">
                                                      <div>
                                                        <i class="feather icon-check-circle" style="color:green"></i> 
                                                        Publish
                                                      </div> 
                                                    </template>
                                                    <template v-else-if="props.row.flag == 3 ">
                                                      <div>
                                                        <i class="feather icon-disc" style="color:red"></i> Unpublish                                     
                                                      </div>
                                                    </template> 
                                                    <template v-else-if="props.row.flag == 1 ">
                                                      <div>
                                                        <i class="feather icon-disc" style="color:yellow"></i> Draft                                     
                                                      </div>
                                                    </template>
                                                 </span>
                                                 <span v-else>
                                                    {{
                                                        props.formattedRow[
                                                            props.column.field
                                                        ]
                                                    }}
                                                </span>
                                              </template>
                                        </vue-good-table>
                                    </div>
                                </template>
                                <template v-if="tambah == true && lihat == false && ubah == false">
                                  <div class="relative">
                                    <form  @submit.prevent="addData()" autocomplete="off">
                                      <div class="row">
                                          <div class="form-group col-md-6">
                                            <div class="row">
                                              <div class="form-group col-md-12">
                                                <label for="judul" class="form-control-label">Judul :</label>
                                                <input type="text" class="form-control" required v-model="form.judulBerita">
                                              </div>
                                              <div class="form-group col-md-12">
                                                <label for="content" class="form-control-label">Content:</label>
                                                <quill-editor 
                                                  :content="form.contentBerita"
                                                  :options="editorOption"  
                                                  ref="myQuillEditor"                        
                                                  @change="onEditorChangeText($event)"                               
                                                  :required="req">
                                                </quill-editor>                                 
                                              </div>
                                            </div>                                        
                                          </div>                                    
                                          <div class="form-group col-md-6">
                                            <div class="row" style="margin-top:20px">
                                              <div class="form-group col-md-6">
                                                <label class="sr-only" for="textButton">Button :</label>
                                                <input type="text" class="form-control mb-2" 
                                                  id="textButton" placeholder="Tambahkan Informasi Pendaftaran" v-model="form.text_button">
                                              </div>
                                              <div class="form-group col-md-6">
                                                <label class="sr-only" for="inlineFormInputGroup">Link :</label>
                                                  <div class="input-group mb-2">
                                                    <div class="input-group-prepend">
                                                      <div class="input-group-text">
                                                        <i class="feather icon-link"></i>
                                                      </div>
                                                    </div>
                                                    <input type="text" class="form-control" id="inlineFormInputGroup"
                                                   placeholder="Tambahkan Informasi Link Pendaftaran. misal https://alamatwebsite.com" v-model="form.link_button" @change="showButtonLink($event)">                                                   
                                                  </div>
                                              </div>

                                              <div class="form-group col-md-4" v-if="insertLink == true">
                                                <button class="btn btn-primary" 
                                                     type="button" v-on:click="addLink">
                                                    Input Link</button>                                                 
                                              </div>
                                              <div class="form-group col-md-12">
                                                <label for="file" class="form-control-label">Attach image :</label>
                                                <small style="color:red"> *Maximum size for image upload is 2MB</small>
                                                <input type="file" id="getFile" class="form-control" placeholder="Pilih file"
                                                    @change="handleImage($event)" readonly aria-describedby="imageUploadAddon"/>   
                                              </div>

                                              <div class="form-group col-md-12">
                                                <label class="form-control-label" for="">Social Media :</label>
                                                <div class="row">
                                                    <div class="input-group mb-2">
                                                      <div class="input-group-prepend">
                                                        <div class="input-group-text">
                                                           <font-awesome-icon :icon="{ prefix: 'fab', iconName: 'instagram'}"/>
                                                        </div>
                                                      </div>
                                                      <input type="text" class="form-control" id="instagram"
                                                     v-model="form.link_instagram " placeholder="Instagram">
                                                    </div>
                                                    <div class="input-group mb-2">
                                                      <div class="input-group-prepend">
                                                        <div class="input-group-text">
                                                          <font-awesome-icon :icon="{ prefix: 'fab', iconName: 'facebook'}"/>
                                                         </div>
                                                      </div>
                                                      <input type="text" v-model="form.link_fb" class="form-control" id="facebook" placeholder="Facebook">
                                                    </div>
                                                    <div class="input-group mb-2">
                                                      <div class="input-group-prepend">
                                                       <div class="input-group-text">
                                                          <font-awesome-icon 
                                                          :icon="{ prefix: 'fab', iconName: 'youtube'}"/>
                                                       </div>
                                                      </div>
                                                      <input type="text" v-model="form.link_youtube" class="form-control" id="youtube" placeholder="Youtube">
                                                    </div>
                                                </div>
                                              </div>
                                              <div class="form-group col-md-6">
                                                  <button class="btn btn-warning btn-block" 
                                                   type="submit" @click="setDraft(true)" :disabled="disabled">
                                                    <i class="feather icon-disc"></i>
                                                   <b>Save Draft</b> </button>
                                              </div>

                                              <div class="form-group col-md-6">
                                                  <button class="btn btn-primary btn-block" 
                                                   type="submit" @click="setDraft(false)" :disabled="disabled">
                                                  <i class="feather icon-check-circle"></i>
                                                   <b>Publish</b> </button>
                                              </div>
                                            </div>
                                          </div>
                                      </div>
                                    </form>
                                  </div>
                                </template>
                                <template v-if="tambah == false && lihat == true && ubah == false">
                                  <div class="row">
                                    <div class="col-md-6" align="left">
                                      <button class="btn btn-outline-primary" @click="back()">
                                        <b><i class="feather icon-arrow-left"></i>Back</b>
                                      </button>
                                    </div>
                                    <div class="form-group col-md-6" align="right">
                                      <!-- <button class="btn btn-warning" 
                                         type="submit" @click="setviewDraft(true)" >
                                          <i class="feather icon-disc"></i>
                                        <b>Don't Publish</b> 
                                      </button>
                                      <button class="btn btn-primary" 
                                         type="submit" @click="setviewDraft(false)">
                                        <i class="feather icon-check-circle"></i>
                                        <b>Publish</b> 
                                      </button> -->
                                    </div>
                                  </div>
                                  <div class="card-body">
                                    <table border='0' cellpadding='0' cellspacing='0' class='body' style='border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%; background-color: #f6f6f6;'>
                                      <tr>
                                        <td style='font-family: sans-serif; font-size: 14px; vertical-align: top;'>&nbsp;</td>
                                        <td class='container' style='font-family: sans-serif; font-size: 14px; vertical-align: top; display: block; margin: 0 auto; max-width: 700px; padding: 10px; width: 700px;'>
                                          <div class='content' style='box-sizing: border-box; display: block; margin: 0 auto; max-width: 700px; padding: 10px;'>

                                            <!-- START CENTERED WHITE CONTAINER -->
                                            <table class='main' style='border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%; background: #ffffff; border-radius: 3px;'>

                                              <!-- START MAIN CONTENT AREA -->
                                              <tr>
                                                <td class='wrapper' style='font-family: sans-serif; font-size: 14px; vertical-align: top; box-sizing: border-box; padding: 20px;'>
                                                  <table border='0' cellpadding='0' cellspacing='0' style='border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%;'>
                                                    <tr>
                                                      <td style='font-family: sans-serif; font-size: 14px; vertical-align: top;' colspan="2">
                                                        <h1>{{ view.judul }}</h1>
                                                      </td>
                                                    </tr>
                                                    <tr>
                                                      <td style='font-family: sans-serif; font-size: 14px; vertical-align: top;' colspan="2">
                                                        <h4>{{ formatDate(view.tanggal) }}</h4>
                                                      </td>
                                                    </tr>
                                                    <tr>
                                                      <td style='font-family: sans-serif; font-size: 14px; vertical-align: top;' colspan="2">
                                                        <template v-if="view.jam_selesai == null">
                                                          <h4>{{ view.jam_mulai }}</h4>
                                                        </template>
                                                        <template v-else>
                                                          <h4>{{ view.jam_mulai }} - {{ view.jam_selesai }}</h4>
                                                        </template>
                                                      </td>
                                                    </tr>
                                                    <tr>
                                                      <td v-html="view.content" colspan="2">
                                                        {{ view.content }}
                                                      </td>
                                                    </tr>
                                                    <tr>
                                                      <td colspan="2">
                                                        <hr>
                                                      </td>
                                                    </tr>
                                                    <tr>
                                                      <td align="left">

                                                        <template v-if="view.link_instagram !== null">
                                                          <a class="btn btn-outline-info btn-sm" :href="'http://www.instagram.com/'+view.link_instagram" target="_blank">
                                                            <b><font-awesome-icon :icon="{ prefix: 'fab', iconName: 'instagram'}"/> Instagram</b>
                                                          </a>
                                                        </template>
                                                        <template v-if="view.link_fb !== null">
                                                          <a class="btn btn-outline-primary btn-sm" :href="'http://www.facebook.com/'+view.link_fb">
                                                            <b><font-awesome-icon :icon="{ prefix: 'fab', iconName: 'facebook'}"/> Facebook</b>
                                                          </a>
                                                        </template>
                                                        <template v-if="view.link_youtube !== null">
                                                          <a class="btn btn-outline-danger btn-sm" :href="'http://www.youtube.com/'+view.link_youtube">
                                                            <b><font-awesome-icon :icon="{ prefix: 'fab', iconName: 'youtube'}"/> Youtube</b>
                                                          </a>
                                                        </template>
                                                      </td>
                                                      <td align="right">
                                                        <div id="socialShare" class="btn-group share-group">
                                                            <button href="#" data-toggle="dropdown" class="btn dropdown-toggle share" style="color: #888888;background-color: #ffffff;border-color: #ffffff;padding:0px;">
                                                                <i class="fa fa-share-alt"></i> 
                                                            </button>
                                                            <social-sharing 
                                                              :url="baseUrl+'/detailBeritaShare?id='+view.id" 
                                                              :quote="view.judul"
                                                              style="{backgroundColor: #1877f2}"
                                                              inline-template > 
                                                              <div>       
                                                                <ul class="dropdown-menu" style="    border: 1px solid rgba(0, 0, 0, 0.15) !important;background-color: rgb(255, 255, 255);">
                                                                    <li>
                                                                        <a data-original-title="Twitter" rel="tooltip" class="btn" data-placement="left">
                                                                            <network network="twitter">
                                                                              <p><i class="fa fa-twitter"></i> &nbspTwitter</p>
                                                                            </network>
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <a data-original-title="Facebook" rel="tooltip" class="btn" data-placement="left">
                                                                            <network network="facebook">
                                                                              <p><i class="fa fa-facebook"></i> &nbsp&nbspFacebook</p>
                                                                            </network>
                                                                        </a>
                                                                    </li>                   
                                                                    <li>
                                                                        <a  data-original-title="Email" rel="tooltip" class="btn" data-placement="left">
                                                                            <network network="whatsapp">
                                                                              <p><i class="fa fa-whatsapp"></i> &nbspWhatsapp</p>
                                                                            </network>
                                                                        </a>
                                                                    </li>
                                                                    <!-- <li>
                                                                        <a @click="copylink()"> 
                                                                            <p><i class="fa fa-copy"></i> &nbspCopy Link</p>
                                                                        </a>
                                                                    </li> -->
                                                                </ul>
                                                              </div>
                                                            </social-sharing>
                                                        </div>
                                                      </td>
                                                    </tr>
                                                  </table>
                                                </td>
                                              </tr>
                                            <!-- END MAIN CONTENT AREA -->
                                            </table>

                                            <!-- START FOOTER -->
                                              <table border='0' cellpadding='0' cellspacing='0' style='border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%;'>
                                              </table>
                                            <!-- END FOOTER -->
                                          <!-- END CENTERED WHITE CONTAINER -->
                                          </div>
                                        </td>
                                        <td style='font-family: sans-serif; font-size: 14px; vertical-align: top;'>&nbsp;</td>
                                      </tr>
                                    </table>
                                  </div>
                                  <!-- <h1>{{ view.judul }}</h1>
                                  <h4>{{ formatDate(view.tanggal_publish) }}</h4>
                                  <hr>
                                  <div v-html="view.content">
                                    {{ view.content }}
                                  </div> -->
                                </template>
                                <template v-if="tambah == false && lihat == false && ubah == true">
                                  <div class="relative">
                                    <form  @submit.prevent="updateData()" autocomplete="off">
                                      <div class="row">
                                          <div class="form-group col-md-6">
                                            <div class="row">
                                              <div class="form-group col-md-12">
                                                <label for="judul" class="form-control-label">Judul :</label>
                                                <input type="text" class="form-control" required v-model="formUbah.judulBerita">
                                              </div>
                                              <div class="form-group col-md-12">
                                                <label for="content" class="form-control-label">Content:</label>
                                                <quill-editor 
                                                  :content="formUbah.contentBerita"
                                                  :options="editorOption"  
                                                  ref="myQuillEditor"                        
                                                  @change="onEditorChangeTextUbah($event)"                               
                                                  :required="req">
                                                </quill-editor>                                 
                                              </div>
                                            </div>                                        
                                          </div>                                    
                                          <div class="form-group col-md-6">
                                            <div class="row" style="margin-top:20px">
                                              <div class="form-group col-md-6">
                                                <label class="sr-only" for="textButton">Button :</label>
                                                <input type="text" class="form-control mb-2" 
                                                  id="textButton" placeholder="Tambahkan Informasi Pendaftaran" v-model="formUbah.text_button">
                                              </div>
                                              <div class="form-group col-md-6">
                                                <label class="sr-only" for="inlineFormInputGroup">Link :</label>
                                                  <div class="input-group mb-2">
                                                    <div class="input-group-prepend">
                                                      <div class="input-group-text">
                                                        <i class="feather icon-link"></i>
                                                      </div>
                                                    </div>
                                                    <input type="text" class="form-control" id="inlineFormInputGroup"
                                                   placeholder="Tambahkan Informasi Link Pendaftaran" v-model="formUbah.link_button" @change="showButtonLinkUbah($event)">                                                   
                                                  </div>
                                              </div>

                                              <div class="form-group col-md-4" v-if="insertLinkUbah == true">
                                                <button class="btn btn-primary" 
                                                     type="button" v-on:click="addLinkUbah">
                                                    Input Link</button>                                                 
                                              </div>
                                              <div class="form-group col-md-12">
                                                <label for="file" class="form-control-label">Attach file :</label>
                                                <small style="color:red"> *Maximum size for file upload is 2MB</small>
                                                <input type="file" id="getFileUbah" class="form-control" placeholder="Pilih file"
                                                    @change="handleImageUbah($event)" readonly aria-describedby="imageUploadAddon"/>   
                                              </div>

                                              <div class="form-group col-md-12">
                                                <label class="form-control-label" for="">Social Media :</label>
                                                <div class="row">
                                                    <div class="input-group mb-2">
                                                      <div class="input-group-prepend">
                                                        <div class="input-group-text">
                                                           <font-awesome-icon :icon="{ prefix: 'fab', iconName: 'instagram'}"/>
                                                        </div>
                                                      </div>
                                                      <input type="text" class="form-control" id="instagram"
                                                     v-model="formUbah.link_instagram " placeholder="Instagram">
                                                    </div>
                                                    <div class="input-group mb-2">
                                                      <div class="input-group-prepend">
                                                        <div class="input-group-text">
                                                          <font-awesome-icon :icon="{ prefix: 'fab', iconName: 'facebook'}"/>
                                                         </div>
                                                      </div>
                                                      <input type="text" v-model="formUbah.link_fb" class="form-control" id="facebook" placeholder="Facebook">
                                                    </div>
                                                    <div class="input-group mb-2">
                                                      <div class="input-group-prepend">
                                                       <div class="input-group-text">
                                                          <font-awesome-icon 
                                                          :icon="{ prefix: 'fab', iconName: 'youtube'}"/>
                                                       </div>
                                                      </div>
                                                      <input type="text" v-model="formUbah.link_youtube" class="form-control" id="youtube" placeholder="Youtube">
                                                    </div>
                                                </div>
                                              </div>
                                              <div class="form-group col-md-6" align="left">
                                                <button class="btn btn-outline-primary" @click="back()">
                                                  <b><i class="feather icon-arrow-left"></i>Back</b>
                                                </button>
                                              </div>

                                              <div class="form-group col-md-6" align="right">
                                                  <button class="btn btn-primary" 
                                                   type="submit">
                                                  <i class="feather icon-check-circle"></i>
                                                   <b>Update</b> </button>
                                              </div>
                                            </div>
                                          </div>
                                      </div>
                                    </form>
                                  </div>
                                </template>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- // Basic example section end -->
            </div>
        </div>
    </div>
    <!-- END: Content-->
</template>

<!-- script js -->
<script>
import 'vue-good-table/dist/vue-good-table.css';
import { VueGoodTable } from 'vue-good-table';

import { library } from '@fortawesome/fontawesome-svg-core'
import { faFacebook } from '@fortawesome/free-brands-svg-icons';
import { faInstagram } from '@fortawesome/free-brands-svg-icons';
import { faYoutube } from '@fortawesome/free-brands-svg-icons';
import { faLinkedin } from '@fortawesome/free-brands-svg-icons';
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome';

library.add(faFacebook, faInstagram, faYoutube, faLinkedin);


 import { quillEditor, Quill } from 'vue-quill-editor'
 import ImageResize from 'quill-image-resize';    
 Quill.register('modules/imageResize', ImageResize);

import 'quill/dist/quill.core.css'
import 'quill/dist/quill.snow.css'
import 'quill/dist/quill.bubble.css'
import moment from 'moment';
moment.locale("id");

const _ = require('lodash');

export default {
    name: 'mberita',
    components: {
      'vue-good-table' : VueGoodTable,
      'quill-editor' : quillEditor, 
      'font-awesome-icon' : FontAwesomeIcon,
      'social-sharing': SocialSharing
    },
    data() {
        return {
          baseUrl:'',
            isLoading: false,            
            tambah : false,
            lihat : false,
            ubah : false,
            title : 'Berita',           
            draft : false,
            req : true,
            disabled : true,
            insertLink : false,
            insertLinkUbah : false,
            id_kop : '',
            view : {},
            form : {
              judulBerita : '',
              contentBerita : '',
              image : '',
              text_button:'',
              link_button:'',
              flag : '',
              link_fb: '',
              link_instagram :'',
              link_youtube:'',
              images: [],           
            },
            formUbah : {
              id: '',
              id_kop: '',
              judulBerita : '',
              contentBerita : '',
              gambar : '',
              text_button:'',
              link_button:'',
              flag : '',
              link_fb: '',
              link_instagram :'',
              link_youtube:'',
              images: [],           
            },         
            editorOption: {
              placeholder: 'Create content',              
              theme: 'snow',
              modules: {
                toolbar: {
                  container: [
                    [{ 'header': [1, 2, 3, 4, false] }],
                    ['bold', 'italic', 'underline', 'strike', 'blockquote'],
                    [{ 'list': 'ordered'}, { 'list': 'bullet' }],
                    [{ 'script': 'sub'}, { 'script': 'super' }],      // superscript/subscript
                    [{ 'indent': '-1'}, { 'indent': '+1' }],          // outdent/indent
                    [{ 'direction': 'rtl' }],                      
                    [{ 'size': ['small', false, 'large', 'huge'] }],  // custom dropdown
                    [{ 'header': [1, 2, 3, 4, 5, 6, false] }],
                    [{'color': []}, {'background': []}],
                    // [{'font': []}],
                    [{'align': []}],
                    [ 'link', 'image', 'video', 'formula' ],   
                    ['clean']
                  ],
                  handlers: {
                     'image': function(value){
                        if (value){
                          document.getElementById('getFile').click();
                          }else{
                          this.quill.format('image', false);
                        }                 
                      }
                  },
                  history: {
                    delay: 1000,
                    maxStack: 50,
                    userOnly: false
                  },
                  imageResize: {
                      displayStyles: {
                          backgroundColor: 'black',
                          border: 'none',
                          color: 'white'
                      },
                      modules: [ 'Resize', 'DisplaySize', 'Toolbar' ]
                  }
                },
              }
            },        
            columns: [
                {
                    label: 'Judul',
                    field: 'judul',
                    sortable: false,
                },
                {
                    label: 'Status',
                    field: 'flag',
                    filterable: true,
                },
                  {
                    label: 'Tanggal publish',
                    field: 'tanggal_publish',
                    filterable: true,
                 },
                {
                    label: 'Alasan',
                    field: 'keterangan',
                    filterable: true,
                    sortable: false,
                },                
                {
                  label: 'Action',
                  field: 'action',
                  sortable: false,
                },
            ],
            rows: [],
            totalRecords: 0,
            serverParams: {
              columnFilters: {
              },
              sort: {       
                field: 'created_at', 
                type: 'desc',
              },
              page: 1, 
              perPage: 10,
              searchTerm: ''
            },
            action: [],
            total: ''
        };
    },
    beforeCreate(){
        this.loading = true;
        axios
        .get("/session")
        .then(response => {
            this.id = response.data.id;  
            this.id_kop = response.data.id;            
            this.role = response.data.role;
            this.login = response.data.login;
            axios
            .get("/api/getSide/" + this.id)
            .then(response => {
                this.data = response.data;
                var routesUser = [];
                this.data.forEach(function(puki, index) {
                  var nam = puki.Link.substr(1);
                  routesUser.push(nam);
                }); 
                var n = routesUser.includes(this.$options.name);
                console.log(n)
                if(this.login == true && n == true){
                  this.loading = false;
                  this.loadItems();
                  this.getAction(this.id, this.$options.name)
                } else if (this.login == true && n == false) {
                  this.$router.push('/not404');
                  this.loading = false;
                } else {
                  window.location.href = "/";
                  // this.$router.push('/not404');
                  this.loading = false;
                }
                var base_url = window.location.origin;
                this.baseUrl = base_url
            });
        });
    },

    computed: {        
      editor(){
        return this.$refs.myQuillEditor.quill        
      }        
    },
    mounted() {       
    // this.imageHandler()
    },
    methods: {
      showButtonLink (e){   
        if(this.form.link_button == '' || this.form.text_button == ''){       
           this.insertLink = false;
        }else{
           this.insertLink = true;
        }       
      },

      showButtonLinkUbah (e){   
        if(this.formUbah.link_button == '' || this.formUbah.text_button == ''){       
           this.insertLinkUbah = false;
        }else{
           this.insertLinkUbah = true;
        }       
      },

      setDraft(data){
        if(data == true){
          this.form.flag = 1;
        }else{
          this.form.flag = 2;
        }
        this.draft = data;
        },
     
       getAction(id,link){             
        axios
            .get("/api/action/" + id + "/" + link)
            .then(response => {
              this.action = response.data;
            });
      },
      setviewDraft(data){
        if(data == true){
          this.form.flag = 1;
        }else{
          this.form.flag = 2;
        }
        this.draft = data;
      },
      
      getAction(id,link){             
        axios
            .get("/api/action/" + id + "/" + link)
            .then(response => {
              this.action = response.data;
            });
      },

      getFromServer(berita, id) {        
        return axios.get(`/api/getBerita/${this.role}?searchTerm=${berita.searchTerm}&page=${berita.page}&per_page=
        ${berita.perPage}&field=${berita.sort.field}&type=${berita.sort.type}&id_kop=${id}`);
      },

      loadItems() {             
        this.getFromServer(this.serverParams, this.id).then((response) => {          
              this.totalRecords = response.data.berita.total;
              this.total = this.totalRecords
              this.rows = response.data.berita.data;
          })
      },      
        
      updateParams(newProps) {
          this.serverParams = Object.assign({}, this.serverParams, newProps);
      },

      onPageChange(params) {
          this.updateParams({ page: params.currentPage });
          this.loadItems();
         
      },

      onPerPageChange(params) {
          this.updateParams({ perPage: params.currentPerPage });
          this.loadItems();
      },

      onSortChange(params) {
          this.updateParams({
              sort: {
                  type: params[0].type,
                  field: params[0].field
              }
          });
          this.loadItems();
      },

      onColumnFilter(params) {
          this.updateParams(params);
          this.loadItems();
      },

      onSearch(params) {
          this.updateParams(params);
          this.loadItems();
      }, 

      onEditorChangeText({ quill, html, text }) {
        // console.log('editor change!', quill, html, text)
        if(html !== '' ){        
          this.disabled = false;
          this.form.contentBerita = html
        }else{
          this.disabled = true;
        }
      },
      onEditorChangeTextUbah({ quill, html, text }) {
        // console.log('editor change!', quill, html, text)
        if(html !== '' ){        
          this.disabled = false;
          this.formUbah.contentBerita = html
        }else{
          this.disabled = true;
        }
      },

      addLink(e){
        this.editor.focus();
        const index = (this.editor.getSelection() || {}).index || this.editor.getLength() - 1;
        // this.editor.insertText(index, this.form.text_button, 'link', this.form.link_button);
        var link = this.form.link_button;
        if (link.includes("https://") || link.includes("http://")){
            //link valid
        } else {
            link = "https://" + link;
        }
        var html = '<a class="btn btn-outline-primary" href="'+link+'" target="_blank" rel="noopener noreferrer"><b>'+this.form.text_button+'</b> </a>';
        this.editor.root.innerHTML = this.form.contentBerita + html;
      },
      addLinkUbah(e){
        this.editor.focus();
        const index = (this.editor.getSelection() || {}).index || this.editor.getLength() - 1;
        // this.editor.insertText(index, this.form.text_button, 'link', this.form.link_button);
        var link = this.formUbah.link_button;
        if (link.includes("https://") || link.includes("http://")){
            //link valid
        } else {
            link = "https://" + link;
        }
        var html = '<a class="btn btn-outline-primary" href="'+link+'" target="_blank" rel="noopener noreferrer"><b>'+this.formUbah.text_button+'</b> </a>';
        this.editor.root.innerHTML = this.formUbah.contentBerita + html;
      },
      
      showForm(){
         this.tambah = true;
         this.lihat = false;
         this.ubah = false;
         this.title = 'Tambah Berita';
      },
      hideForm(){
          this.tambah = false;
          this.lihat = false;
          this.ubah = false;
          this.title = 'Berita';
      },
      viewdraftData(id, param) {
        this.tambah = false;
        this.lihat = true;
        this.title = 'Lihat Berita'; 

        axios
          .get("/api/getBeritabyID/" + id)
          .then(response => {
            this.view = response.data;
        });  
      },
      deletedraftData(id, param) {
        Swal.fire({
          title: 'Are you sure?',
          text: "You won't be able to revert this!",
          type: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: 'Yes, delete it!',
          confirmButtonClass: 'btn btn-primary',
          cancelButtonClass: 'btn btn-danger ml-1',
          buttonsStyling: false,
          showLoaderOnConfirm: true,
          preConfirm: () => {
            return axios.post("/api/deleteBerita/" + id,{
              username: localStorage.getItem('username'),
              fullname: localStorage.getItem('fullname'),

            })
            .then(response => {
              this.loadItems();
              return 
            })
            .catch(error => {
              Swal.showValidationMessage(
                `Request failed: ${error}`
              )
            })
          },
          allowOutsideClick: () => !this.$swal.isLoading()
        }).then(function (result) {
          if (result.value) {
            Swal.fire(
              {
                type: "success",
                title: 'Delete!',
                text: 'Your file has been Deleted.',
                confirmButtonClass: 'btn btn-success',
              }
            )
          }
        }.bind(this))
      },
      updatedraftData(id, param) {
        this.tambah = false;
        this.lihat = false;
        this.ubah = true;
        this.title = 'Ubah Berita';

        axios
          .get("/api/getBeritabyID/" + id)
          .then(response => {
            this.formUbah.id= response.data.id;
            this.formUbah.id_kop= response.data.id_kop;
            this.formUbah.judulBerita = response.data.judul;
            this.formUbah.gambar = response.data.gambarOld;
            // this.formUbah.contentBerita = response.data.content;
            var content = response.data.content;
            var text = content.replace('<a class="btn btn-outline-primary"', '<a class="btn btn-outline-primary"');
            this.editor.focus();
            const index = (this.editor.getSelection() || {}).index || this.editor.getLength() - 1;
            this.editor.root.innerHTML = text;
            
            this.formUbah.link_fb= response.data.link_fb;
            this.formUbah.link_instagram = response.data.link_instagram;
            this.formUbah.link_youtube= response.data.link_youtube;
        });
      },
      back(){
         this.tambah = false;
         this.lihat = false;
         this.ubah = false;
         this.title = 'Berita';
         this.view = {}
      },

      handleImage(e) { 
        if (e.target.files.length !== 0) {
        let quill = this.editor;
        let reader = new FileReader();
        var img = new Image();
        reader.readAsDataURL(e.target.files[0]);
        let self = this;
        var isi = this.form.contentBerita;

          reader.onloadend = function() {
            img.src = reader.result;
            img.onload = function() {
                let base64data = reader.result;
                self.form.images.push(base64data);
                if (img.width > img.height){
                    //it's a landscape
                    var html = '<img style="max-width:75%;width:75%;height:auto;margin-left: auto;margin-right: auto;display: block;" src="'+base64data+'"/>';
                } else if (img.width < img.height){
                    //it's a portrait
                    var html = '<img style="max-width:50%;width:50%;height:auto;margin-left: auto;margin-right: auto;display: block;" src="'+base64data+'"/>';
                } else {
                    //image width and height are equal, therefore it is square.
                    var html = '<img style="max-width:50%;width:50%;height:auto;margin-left: auto;margin-right: auto;display: block;" src="'+base64data+'"/>';
                }
                
                quill.root.innerHTML = isi + html;
            }
          }     
       

        }              
      }, 
      handleImageUbah(e) { 
        if (e.target.files.length !== 0) {
        let quill = this.editor;
        let reader = new FileReader();
        var img = new Image();
        reader.readAsDataURL(e.target.files[0]);
        let self = this;
        var isi = this.formUbah.contentBerita;

        reader.onloadend = function() {
          img.src = reader.result;
          img.onload = function() {
              let base64data = reader.result;
              self.form.images.push(base64data);
              if (img.width > img.height){
                  //it's a landscape
                  var html = '<img style="max-width:75%;width:75%;height:auto;margin-left: auto;margin-right: auto;display: block;" src="'+base64data+'"/>';
              } else if (img.width < img.height){
                  //it's a portrait
                  var html = '<img style="max-width:50%;width:50%;height:auto;margin-left: auto;margin-right: auto;display: block;" src="'+base64data+'"/>';
              } else {
                  //image width and height are equal, therefore it is square.
                  var html = '<img style="max-width:50%;width:50%;height:auto;margin-left: auto;margin-right: auto;display: block;" src="'+base64data+'"/>';
              }
              
              quill.root.innerHTML = isi + html;
          }
        }     
       

        }              
      },        

      addData(){ 
        Swal.fire({
          title: 'Are you sure?',
          text: "You won't be able to revert this!",
          type: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: 'Yes, insert it!',
          confirmButtonClass: 'btn btn-primary',
          cancelButtonClass: 'btn btn-danger ml-1',
          buttonsStyling: false,
          showLoaderOnConfirm: true,
          preConfirm: () => {
                return axios.post("/api/insertBerita", {
                  judul: this.form.judulBerita,                
                  id_kop: this.id,
                  content: this.form.contentBerita,
                  gambar : this.form.images,
                  link_fb : this.form.link_fb,
                  link_instagram : this.form.link_instagram ,
                  link_youtube : this.form.link_youtube,
                  flag : this.form.flag,
                  username: localStorage.getItem('username'),
                  fullname: localStorage.getItem('fullname'),
                })
                .then(response => {
                  this.loadItems()
                  this.form.judulBerita  = ''              
                  this.form.contentBerita = ''
                  this.form.images = ''
                  this.form.link_fb = ''
                  this.form.link_instagram = ''
                  this.form.link_youtube = ''
                  this.form.flag = ''
                  this.tambah = false;
                  this.lihat = false;
                  this.ubah = false;
                  return 
                })
                .catch(error => {
                  Swal.showValidationMessage(
                    `Request failed: ${error}`
                  )
                })
          },
          allowOutsideClick: () => !this.$swal.isLoading()
        }).then(function (result) {
          if (result.value) {
            Swal.fire(
              {
                type: "success",
                title: 'Inserted!',
                text: 'Your file has been Insert.',
                confirmButtonClass: 'btn btn-success',
              }
            )
          }
        }.bind(this))
      },

      updateData(){ 
        Swal.fire({
          title: 'Are you sure?',
          text: "You won't be able to revert this!",
          type: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: 'Yes, update it!',
          confirmButtonClass: 'btn btn-primary',
          cancelButtonClass: 'btn btn-danger ml-1',
          buttonsStyling: false,
          showLoaderOnConfirm: true,
          preConfirm: () => {
                return axios.post("/api/updateBerita", {
                  judul: this.formUbah.judulBerita,  
                  id: this.formUbah.id,              
                  id_kop: this.formUbah.id_kop,
                  content: this.formUbah.contentBerita,
                  gambar : this.formUbah.gambar,
                  images : this.formUbah.images,
                  link_fb : this.formUbah.link_fb,
                  link_instagram : this.formUbah.link_instagram ,
                  link_youtube : this.formUbah.link_youtube,
                  username: localStorage.getItem('username'),
                  fullname: localStorage.getItem('fullname'),
                })
                .then(response => {
                  this.loadItems()
                  this.formUbah.judulBerita = ''  
                  this.formUbah.id = ''              
                  this.formUbah.id_kop = ''
                  this.formUbah.contentBerita = ''
                  this.formUbah.gambar = ''
                  this.formUbah.images = ''
                  this.formUbah.link_fb = ''
                  this.formUbah.link_instagram = ''
                  this.formUbah.link_youtube = ''
                  this.tambah = false;
                  this.lihat = false;
                  this.ubah = false;
                  return 
                })
                .catch(error => {
                  Swal.showValidationMessage(
                    `Request failed: ${error}`
                  )
                })
          },
          allowOutsideClick: () => !this.$swal.isLoading()
        }).then(function (result) {
          if (result.value) {
            Swal.fire(
              {
                type: "success",
                title: 'Updated!',
                text: 'Your file has been Update.',
                confirmButtonClass: 'btn btn-success',
              }
            )
          }
        }.bind(this))
      },
     
      draftData(id, param) {
        if (param == 1){
          var ket = 'Publish';
          var flag = 2;
         
        } else if(param == 2) {
          var ket = 'Unpublish';
          var flag = 3;
        } else if(param == 3) {
          var ket = 'Publish';
          var flag = 2;
        }     
       
        Swal.fire({
          title: 'Are you sure?',
          text: "You won't be able to revert this!",
          type: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: 'Yes,' +ket+ ' it!',
          confirmButtonClass: 'btn btn-primary',
          cancelButtonClass: 'btn btn-danger ml-1',
          buttonsStyling: false,
        }).then(function (result) {
          if (result.value) {
            axios.post("/api/prosesBerita/", {
              id : id,
              flag : flag

            }).then(response => {
               if (response.status == 200) {
              this.loadItems();
              Swal.fire(
                {
                  type: "success",
                  title: ket+' !',
                  text: 'Your file has been update.',
                  confirmButtonClass: 'btn btn-success',
                }
              )
            }else{
              
               Swal.fire({
                    type: "error",
                    title: "Failed!",
                    text: "Your file has been failled to save.",
                    confirmButtonClass: "btn btn-danger"
                  });

              }
            });
          }
        }.bind(this))
      },

      onRefresh: function (event) {
        if (event) {
          this.loadItems();
          this.content = '';
        }
      },

      formatDate(value) {
          return moment(value).format("DD MMMM YYYY")
      }
    }
};
</script>
<style>   
    #Mapbox { 
        /*position: relative; */
        top: 0; 
        bottom: 0; 
        right: 0;
        width: 100%; 
        height: 500px; 
    } 

    .mapboxgl-ctrl-attrib-inner {
        display: none;     
    } 
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}  

.mobile-social-share {
    background: none repeat scroll 0 0 #EEEEEE;
    display: block !important;
    min-height: 70px !important;
    margin: 50px 0;
}

.mobile-social-share h3 {
    color: inherit;
    float: left;
    font-size: 15px;
    line-height: 20px;
    margin: 25px 25px 0 25px;
}

.share-group {
    float: right;
    /*margin: 18px 25px 0 0;*/
}

.btn-group {
    display: inline-block;
    font-size: 0;
    position: relative;
    vertical-align: middle;
    white-space: nowrap;
}

.mobile-social-share ul {
    float: right;
    list-style: none outside none;
    margin: 0;
    min-width: 61px;
    padding: 0;
}

.share {
    min-width: 17px;
}

.mobile-social-share li {
    display: block;
    font-size: 18px;
    list-style: none outside none;
    margin-bottom: 3px;
    margin-left: 4px;
    margin-top: 3px;
}

.btn-share {
    background-color: #BEBEBE;
    border-color: #CCCCCC;
    color: #333333;
}

.btn-twitter {
    background-color: #3399CC !important;
    width: 51px;
    color:#FFFFFF!important;
}

.btn-facebook {
    background-color: #3D5B96 !important;
    width: 51px;
    color:#FFFFFF!important;
}

.btn-facebook {
    background-color: #3D5B96 !important;
    width: 51px;
    color:#FFFFFF!important;
}

.btn-mail {
    background-color: #FFC90E !important;
    width: 51px;
    color:#FFFFFF!important;
}

.caret {
    border-left: 4px solid rgba(0, 0, 0, 0);
    border-right: 4px solid rgba(0, 0, 0, 0);
    border-top: 4px solid;
    display: inline-block;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    width: 0;
}

#socialShare {
    /*max-width:59px;*/
    /*margin-bottom:18px;*/
}

#socialShare > a{
    padding: 6px 10px 6px 10px;
}

@media (max-width : 320px) {
    #socialHolder{
        padding-left:5px;
        padding-right:5px;
    }
    
    .mobile-social-share h3 {
        margin-left: 0;
        margin-right: 0;
    }
    
    #socialShare{
        margin-left:5px;
        margin-right:5px;
    }
    
    .mobile-social-share h3 {
        font-size: 15px;
    }
}

@media (max-width : 238px) {
    .mobile-social-share h3 {
        font-size: 12px;
    }
}
  
</style>
