<template>
  <!-- Modal -->
  <div class="modal fade text-left importPersonMod" id="default" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel1">Import Person</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <!-- <form id="formPersonImport" @submit.prevent="addData()" autocomplete="off"> -->
          <div class="modal-body">
            <div class="row">
              <div class="form-group col-md-6">
                <label class="form-control-label" for="inputBasicFileExcel">Import File Excel XLSX</label>
                <input type="file" id="fileXLXS" @change="previewFiles" />
              </div>
            </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default btn-pure" data-dismiss="modal">Close</button>
            <!-- <button type="submit" class="btn btn-primary">Save changes</button> -->
            <button type="button" v-on:click="submitFile()" class="btn btn-primary">Import</button>
          </div>
        <!-- </form> -->
      </div>
    </div>
  </div>
  <!-- End Modal -->
</template>

<!-- script js -->
<script>
import XLSX from 'xlsx';

export default {
  name: 'modal',
  props : {
    openImportModal : {
      type : Boolean
    },
    closeModal : {
      type : Function
    }
  },
  data(){
    return{
      form:{
        file: '',
      },
    }
  },
  mounted() {

  },
  methods: {
    previewFiles(e) {
        var files = e.target.files, f = files[0];
        var reader = new FileReader();
        var isiXLSX = [];
        reader.onload = function(e) {
          var data = new Uint8Array(e.target.result);
          var workbook = XLSX.read(data, {type: 'array'});
          let sheetName = workbook.SheetNames[0]
          workbook.SheetNames.forEach(function (sheetName) {
              // Get headers.
              var headers = [];
              var sheet = workbook.Sheets[sheetName];
              var range = XLSX.utils.decode_range(sheet['!ref']);
              var C, R = range.s.r;
              /* start in the first row */
              /* walk every column in the range */
              for (C = range.s.c; C <= range.e.c; ++C) {
                  var cell = sheet[XLSX.utils.encode_cell({c: C, r: R})];
                  /* find the cell in the first row */

                  var hdr = "UNKNOWN " + C; // <-- replace with your desired default
                  if (cell && cell.t) {
                      hdr = XLSX.utils.format_cell(cell);
                  }
                  headers.push(hdr);
              }
              // For each sheets, convert to json.
              var roa = XLSX.utils.sheet_to_json(workbook.Sheets[sheetName]);
              if (roa.length > 0) {
                  roa.forEach(function (row) {
                      // Set empty cell to ''.
                      headers.forEach(function (hd) {
                          if (row[hd] == undefined) {
                              row[hd] = '';
                          }
                      });
                  });
              }
              isiXLSX = roa;
              Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, import it!',
                confirmButtonClass: 'btn btn-primary',
                cancelButtonClass: 'btn btn-danger ml-1',
                buttonsStyling: false,
              }).then(function (result) {
                if (result.value) {
                  axios.post("/api/importPersonXLXS", {
                    isiXLSX: isiXLSX,
                  })
                  .then(response => {
                    $(".importPersonMod").modal('hide');
                    $("#fileXLXS").val("");
                    if(response.data == 'oke'){
                      Swal.fire(
                        {
                          type: "success",
                          title: 'Imported!',
                          text: 'Your file has been Import.',
                          confirmButtonClass: 'btn btn-success',
                        }
                      )
                    } else if(response.data == 'fail') {
                      Swal.fire(
                        {
                          type: "error",
                          title: 'Failed!',
                          text: 'Your environment has not been Imported !',
                          confirmButtonClass: 'btn btn-success',
                        }
                      )
                    } else {
                      Swal.fire(
                        {
                          type: "error",
                          title: 'Failed!',
                          text: response.data,
                          confirmButtonClass: 'btn btn-success',
                        }
                      )
                    }
                  });
                }
              }.bind(this))
          });
        };
        reader.readAsArrayBuffer(f);
    }
  }
};
</script>


