<script>
// import the styles


// add to component
</script>

<template>

  <!-- BEGIN: Content-->
  <div class="app-content content">
      <div class="content-overlay"></div>
      <div class="header-navbar-shadow"></div>
      <div class="content-wrapper">
          <div class="content-header row">
              <div class="content-header-left col-md-8 col-12 mb-2">
                  <div class="row breadcrumbs-top">
                      <div class="col-12">
                          <h2 class="content-header-title float-left mb-0">Person</h2>
                          <div class="breadcrumb-wrapper col-12">
                              <ol class="breadcrumb">
                                  <li class="breadcrumb-item"><a href="index.html">Home</a>
                                  </li>
                                  <li class="breadcrumb-item active">Data Persons
                                  </li>
                              </ol>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="content-header-right text-md-right col-md-4 col-12 d-md-block d-none">
                  <div class="form-group breadcrum-right">
                      <div class="dropdown">
                        <template v-for="actionS in action">
                          <template v-if="actionS == 'Export'">
                            <a target="_blank" rel="noopener noreferrer" href="/downloadExcelPerson">
                              <button class="btn-icon btn btn-primary btn-round btn-sm dropdown-toggle" aria-haspopup="true" aria-expanded="false"><i class="feather icon-log-out"></i> <b>Export</b> </button>
                            </a>
                          </template>
                          <template v-if="actionS == 'Import'">
                            <button class="btn-icon btn btn-primary btn-round btn-sm dropdown-toggle" data-target=".importPersonMod" data-toggle="modal" type="button" @click="openImportModal" aria-haspopup="true" aria-expanded="false"><i class="feather icon-log-in"></i> <b>Import</b> </button>
                          </template>
                          <template v-if="actionS == 'Insert'">
                            <button class="btn-icon btn btn-primary btn-round btn-sm dropdown-toggle" data-target=".insertPersonMod" data-toggle="modal" type="button" @click="openModal" aria-haspopup="true" aria-expanded="false"><i class="feather icon-file-plus"></i> <b>New</b> </button>
                          </template>

                        </template>

                          <button class="btn-icon btn btn-primary btn-round btn-sm dropdown-toggle"data-toggle="tooltip"
                            data-original-title="Refresh" v-on:click="onRefresh" aria-haspopup="true" aria-expanded="false"><i class="feather icon-refresh-ccw"></i>
                          </button>

                      </div>
                  </div>
              </div>
          </div>

          <insert-person-mod :open-modal="modalOpen" :close-modal="loadItems"></insert-person-mod>
          <import-person-mod :open-modal="modalOpenImport" :close-modal="loadItems"></import-person-mod>
          <view-person-mod :open-modal="viewOpen" :view="view"></view-person-mod>
          <update-person-mod :open-modal="updateOpen" :update="update" :close-modal="loadItems"></update-person-mod>

          <div class="content-body">
              <!-- Basic example section start -->
              <section id="basic-examples">
                  <div class="card">
                      <div class="card-header">
                          <h4 class="card-title">Jumlah Person : {{total}}</h4>
                      </div>
                      <div class="card-content">
                          <div class="card-body">

                            <vue-good-table
                              mode="remote"
                              @on-page-change="onPageChange"
                              @on-sort-change="onSortChange"
                              @on-column-filter="onColumnFilter"
                              @on-per-page-change="onPerPageChange"
                              @on-search="onSearch"
                              :totalRows="totalRecords"
                              :isLoading.sync="isLoading"
                              :pagination-options="{
                                enabled: true,
                                dropdownAllowAll: false,
                                mode: 'pages'
                              }"
                              :search-options="{
                                enabled: true,
                                skipDiacritics: true,
                              }"
                              :rows="rows"
                              :columns="columns">
                              <template slot="table-row" slot-scope="props">
                                <template v-if="role == 'R000'">
                                  <span v-if="props.column.field == 'action'"> 
                                    <button type="button" class="btn btn-outline-primary btn-sm dropdown-toggle mr-1" data-toggle="dropdown"><i class="feather icon-more-vertical"></i> Action</button>
                                    <ul class="dropdown-menu" style="top: auto; left: auto; padding: 5px;">
                                      <template v-for="actionS in action">
                                        <template v-if="actionS == 'View'">
                                          <li>
                                            <button class="btn-icon btn btn-primary btn-sm btn-block mr-1 mb-1 waves-effect waves-light" data-target=".viewPersonMod" data-toggle="modal" type="button" title='View' @click="viewModal(props.row.id_person)"><i class="feather icon-eye" aria-hidden="true"></i> View</button>
                                          </li>
                                        </template>
                                        <template v-if="actionS == 'Update'">
                                          <li>
                                            <button class="btn-icon btn btn-info btn-sm btn-block mr-1 mb-1 waves-effect waves-light" data-target=".updatePersonMod" data-toggle="modal" type="button" title='Update' @click="updateModal(props.row.id_person)"><i class="feather icon-edit" aria-hidden="true"></i> Update</button>
                                          </li>
                                        </template>
                                        <template v-if="actionS == 'Delete'">
                                          <li>
                                            <button class="btn-icon btn btn-danger btn-sm btn-block mr-1 mb-1 waves-effect waves-light" title='Delete' @click="deleteData(props.row.id_person)"><i class="feather icon-delete" aria-hidden="true"></i> Delete</button>
                                          </li>
                                        </template>
                                        <template v-if="actionS == 'Pdf'">
                                          <li>
                                            <a target="_blank" rel="noopener noreferrer" :href="'api/pdfPerson/' + props.row.id_person">
                                              <button class="btn-icon btn btn-warning btn-sm btn-block mr-1 mb-1 waves-effect waves-light" title='Pdf'><i class="feather icon-upload-cloud" aria-hidden="true"></i> Download Pdf</button>
                                            </a>
                                          </li>
                                        </template>
                                      </template>
                                    </ul>
                                  </span>
                                </template>
                                <template v-else>
                                  <span v-if="props.column.field == 'action'"> 
                                    <template v-if="props.row.id_person == '73'">
                                      <span class="badge badge-round badge-danger">Not Allowed</span>   
                                    </template>
                                    <template v-else>
                                      <button type="button" class="btn btn-outline-primary btn-sm dropdown-toggle mr-1" data-toggle="dropdown"><i class="feather icon-more-vertical"></i> Action</button>
                                      <ul class="dropdown-menu" style="top: auto; left: auto; padding: 5px;">
                                        <template v-for="actionS in action">
                                          <template v-if="actionS == 'View'">
                                            <li>
                                              <button class="btn-icon btn btn-primary btn-sm btn-block mr-1 mb-1 waves-effect waves-light" data-target=".viewPersonMod" data-toggle="modal" type="button" title='View' @click="viewModal(props.row.id_person)"><i class="feather icon-eye" aria-hidden="true"></i> View</button>
                                            </li>
                                          </template>
                                          <template v-if="actionS == 'Update'">
                                            <li>
                                              <button class="btn-icon btn btn-info btn-sm btn-block mr-1 mb-1 waves-effect waves-light" data-target=".updatePersonMod" data-toggle="modal" type="button" title='Update' @click="updateModal(props.row.id_person)"><i class="feather icon-edit" aria-hidden="true"></i> Update</button>
                                            </li>
                                          </template>
                                          <template v-if="actionS == 'Delete'">
                                            <li>
                                              <button class="btn-icon btn btn-danger btn-sm btn-block mr-1 mb-1 waves-effect waves-light" title='Delete' @click="deleteData(props.row.id_person)"><i class="feather icon-delete" aria-hidden="true"></i> Delete</button>
                                            </li>
                                          </template>
                                          <template v-if="actionS == 'Pdf'">
                                            <li>
                                              <a target="_blank" rel="noopener noreferrer" :href="'api/pdfPerson/' + props.row.id_person">
                                                <button class="btn-icon btn btn-warning btn-sm btn-block mr-1 mb-1 waves-effect waves-light" title='Pdf'><i class="feather icon-upload-cloud" aria-hidden="true"></i> Download Pdf</button>
                                              </a>
                                            </li>
                                          </template>
                                        </template>
                                      </ul>
                                    </template>
                                  </span>
                                </template>
                                <span v-if="props.column.field == 'photo'">
                                  <img class="round" :src="`uploads/photo_profile/${props.row.photo_profile}`" @error="(() => props.row.photo_profile = 'avatarDefault.png')" width="50" height="50" alt="...">
                                </span>
                                <span v-else-if="props.column.field == 'first_name'">
                                  {{ props.row.first_name }} {{ props.row.last_name }}
                                </span>
                                <span v-else-if="props.column.field == 'birth_date'">
                                  {{ formatDate(props.row.birth_date) }}
                                </span>
                                <span v-else>
                                  {{props.formattedRow[props.column.field]}}
                                </span>
                              </template>
                            </vue-good-table>

                          </div>
                      </div>
                  </div>
              </section>
              <!-- // Basic example section end -->

              <!-- Scroll - horizontal and vertical table -->
              <!-- <section id="horizontal-vertical">
                  <div class="row">
                      <div class="col-12">
                          <div class="card">
                              <div class="card-header">
                                  <h4 class="card-title">Scroll - horizontal and vertical</h4>
                              </div>
                              <div class="card-content">
                                  <div class="card-body card-dashboard">
                                      <p class="card-text">In this example you can see DataTables doing both horizontal and vertical scrolling at the same time. Note also that pagination is enabled in this example, and the scrolling accounts for this.</p>
                                      <div class="table-responsive">
                                          <table class="table nowrap scroll-horizontal-vertical">
                                              <thead>
                                                  <tr>
                                                      <th>First name</th>
                                                      <th>Last name</th>
                                                      <th>Position</th>
                                                      <th>Office</th>
                                                      <th>Age</th>
                                                      <th>Start date</th>
                                                      <th>Salary</th>
                                                      <th>Extn.</th>
                                                      <th>E-mail</th>
                                                  </tr>
                                              </thead>
                                              <tbody>
                                                  <tr>
                                                      <td>Tiger</td>
                                                      <td>Nixon</td>
                                                      <td>System Architect</td>
                                                      <td>Edinburgh</td>
                                                      <td>61</td>
                                                      <td>2011/04/25</td>
                                                      <td>$320,800</td>
                                                      <td>5421</td>
                                                      <td>t.nixon@datatables.net</td>
                                                  </tr>
                                                  <tr>
                                                      <td>Garrett</td>
                                                      <td>Winters</td>
                                                      <td>Accountant</td>
                                                      <td>Tokyo</td>
                                                      <td>63</td>
                                                      <td>2011/07/25</td>
                                                      <td>$170,750</td>
                                                      <td>8422</td>
                                                      <td>g.winters@datatables.net</td>
                                                  </tr>
                                                  <tr>
                                                      <td>Ashton</td>
                                                      <td>Cox</td>
                                                      <td>Junior Technical Author</td>
                                                      <td>San Francisco</td>
                                                      <td>66</td>
                                                      <td>2009/01/12</td>
                                                      <td>$86,000</td>
                                                      <td>1562</td>
                                                      <td>a.cox@datatables.net</td>
                                                  </tr>
                                                  <tr>
                                                      <td>Cedric</td>
                                                      <td>Kelly</td>
                                                      <td>Senior Javascript Developer</td>
                                                      <td>Edinburgh</td>
                                                      <td>22</td>
                                                      <td>2012/03/29</td>
                                                      <td>$433,060</td>
                                                      <td>6224</td>
                                                      <td>c.kelly@datatables.net</td>
                                                  </tr>
                                                  <tr>
                                                      <td>Airi</td>
                                                      <td>Satou</td>
                                                      <td>Accountant</td>
                                                      <td>Tokyo</td>
                                                      <td>33</td>
                                                      <td>2008/11/28</td>
                                                      <td>$162,700</td>
                                                      <td>5407</td>
                                                      <td>a.satou@datatables.net</td>
                                                  </tr>
                                                  <tr>
                                                      <td>Brielle</td>
                                                      <td>Williamson</td>
                                                      <td>Integration Specialist</td>
                                                      <td>New York</td>
                                                      <td>61</td>
                                                      <td>2012/12/02</td>
                                                      <td>$372,000</td>
                                                      <td>4804</td>
                                                      <td>b.williamson@datatables.net</td>
                                                  </tr>
                                                  <tr>
                                                      <td>Herrod</td>
                                                      <td>Chandler</td>
                                                      <td>Sales Assistant</td>
                                                      <td>San Francisco</td>
                                                      <td>59</td>
                                                      <td>2012/08/06</td>
                                                      <td>$137,500</td>
                                                      <td>9608</td>
                                                      <td>h.chandler@datatables.net</td>
                                                  </tr>
                                                  <tr>
                                                      <td>Rhona</td>
                                                      <td>Davidson</td>
                                                      <td>Integration Specialist</td>
                                                      <td>Tokyo</td>
                                                      <td>55</td>
                                                      <td>2010/10/14</td>
                                                      <td>$327,900</td>
                                                      <td>6200</td>
                                                      <td>r.davidson@datatables.net</td>
                                                  </tr>
                                                  <tr>
                                                      <td>Colleen</td>
                                                      <td>Hurst</td>
                                                      <td>Javascript Developer</td>
                                                      <td>San Francisco</td>
                                                      <td>39</td>
                                                      <td>2009/09/15</td>
                                                      <td>$205,500</td>
                                                      <td>2360</td>
                                                      <td>c.hurst@datatables.net</td>
                                                  </tr>
                                              </tbody>
                                          </table>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </section> -->
              <!--/ Scroll - horizontal and vertical table -->
          </div>
      </div>
  </div>
  <!-- END: Content-->

</template>

<!-- script js -->
<script>
import InsertPerson from './InsertPerson.vue';
import ImportPerson from './ImportPerson.vue';
import ViewPerson from './ViewPerson.vue';
import UpdatePerson from './UpdatePerson.vue';
import 'vue-good-table/dist/vue-good-table.css'
import { VueGoodTable } from 'vue-good-table';
import moment from 'moment';
moment.locale("id");

const _ = require('lodash');

export default {
    name: 'persons',
    components: {
      'vue-good-table' : VueGoodTable,
      'insert-person-mod' : InsertPerson,
      'import-person-mod' : ImportPerson,
      'view-person-mod' : ViewPerson,
      'update-person-mod' : UpdatePerson
    },
    data() {
        return {
            isLoading: false,
            modalOpen: false,
            modalOpenImport: false,
            viewOpen: false,
            view: {},
            updateOpen: false,
            update: {},
            prints: [],
            columns: [
                {
                    label: 'Foto',
                    field: 'photo',
                },
                {
                    label: 'Nama',
                    field: 'first_name',
                    filterable: true
                },
                {
                    label: 'Divisi',
                    field: 'divisi',
                    filterable: true
                },
                {
                    label: 'Jabatan',
                    field: 'jabatan',
                    filterable: true
                },
                {
                    label: 'Vendor',
                    field: 'nama_vendor',
                    filterable: true
                },
                {
                  label: 'Action',
                  field: 'action',
                  sortable: false,
                },
            ],
            rows: [],
            totalRecords: 0,
            serverParams: {
              columnFilters: {
              },
              sort: {       
                field: 'created_at', 
                type: 'desc',
              },
              page: 1, 
              perPage: 10,
              searchTerm: ''
            },
            session: {
              id: '',
              id_person: '',
              role: ''
            },
            action: [],
            total: ''
        };
    },
    beforeCreate(){
        this.loading = true;
        axios
        .get("/session")
        .then(response => {
            this.id = response.data.id;
            this.role = response.data.role;
            this.login = response.data.login;
            axios
            .get("/api/getSide/" + this.id )
            .then(response => {
                this.data = response.data;
                var routesUser = [];
                this.data.forEach(function(puki, index) {
                  var nam = puki.Link.substr(1);
                  routesUser.push(nam);
                }); 
                var n = routesUser.includes(this.$options.name);
                console.log(n)
                if(this.login == true && n == true){
                  this.loading = false;
                  this.loadItems()
                  this.dataTable()
                  this.getAction(this.id,this.$options.name)
                } else if (this.login == true && n == false) {
                  this.$router.push('/not404');
                  this.loading = false;
                } else {
                  window.location.href = "/";
                  // this.$router.push('/not404');
                  this.loading = false;
                }
            });
        });
    },
    mounted() {
        // this.loadItems()
        // this.cekUserMenu()
    },
    methods: {
      dataTable(){
        // $('.scroll-horizontal-vertical').DataTable( {
        //     "scrollY": 200,
        //     "scrollX": true
        // });
        $('.scroll-horizontal-vertical').DataTable();
      },
      getAction(id,link){
        axios
            .get("/api/action/" + id + "/" + link)
            .then(response => {
              this.action = response.data;
            });
      },
      getFromServer(persons) {
        return axios.get(`/api/getRecords2?searchTerm=${persons.searchTerm}&page=${persons.page}&per_page=${persons.perPage}&field=${persons.sort.field}&type=${persons.sort.type}`); 
      },

      updateParams(newProps) {
        this.serverParams = Object.assign({}, this.serverParams, newProps);
      },
      
      onPageChange(params) {
        this.updateParams({page: params.currentPage});
        this.loadItems();
      },

      onPerPageChange(params) {
        this.updateParams({perPage: params.currentPerPage});
        this.loadItems();
      },

      onSortChange(params) {
        this.updateParams({
          sort: {
            type: params[0].type,
            field: params[0].field,
          },
        });
        this.loadItems();
      },
      
      onColumnFilter(params) {
        this.updateParams(params);
        this.loadItems();
      },

      onSearch(params) {
        this.updateParams(params);
        this.loadItems();
      },

      openModal() {
          this.modalOpen = !this.modalOpen;
      }, 

      closeModal() {
          this.modalOpen = false;
          this.updateOpen = false;
      },

      openImportModal() {
          this.modalOpenImport = !this.modalOpenImport;
      }, 

      viewModal(params) {
          axios
            .get("/api/person/" + params)
            .then(response => {
              this.view = response.data;
            });
          this.viewOpen = !this.viewOpen;
      },

      updateModal(params) {
          axios
            .get("/api/person/" + params)
            .then(response => {
              this.update = response.data;
            });
          this.updateOpen = !this.updateOpen;
      },

      deleteData(id_person) {
        Swal.fire({
          title: 'Are you sure?',
          text: "You won't be able to revert this!",
          type: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: 'Yes, delete it!',
          confirmButtonClass: 'btn btn-primary',
          cancelButtonClass: 'btn btn-danger ml-1',
          buttonsStyling: false,
        }).then(function (result) {
          if (result.value) {
            axios.post("/api/person/" + id_person,{
              username: localStorage.getItem('username'),
              fullname: localStorage.getItem('fullname'),
            }).then(response => {
              this.loadItems();
              Swal.fire(
                {
                  type: "success",
                  title: 'Deleted!',
                  text: 'Your file has been deleted.',
                  confirmButtonClass: 'btn btn-success',
                }
              )
            });
          }
        }.bind(this))
      },

      loadItems() {
        this.getFromServer(this.serverParams).then((response) => {
            this.totalRecords = response.data.persons.total;
            this.total = this.totalRecords
            this.rows = response.data.persons.data;
        })
      },

      onRefresh: function (event) {
        if (event) {
          this.loadItems();
        }
      },

      formatDate(value) {
          return moment(value).format("DD MMMM YYYY")
      }

    }
};
</script>

