<template>
  <!-- Modal -->
  <div class="modal fade text-left updatePersonMod" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel1">Update Person</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form id="formPersonUpdate" @submit.prevent="updateData()" autocomplete="off">
          <div class="modal-body">
            <div class="row">
              <div class="form-group col-md-6">
                <label class="form-control-label" for="inputBasicFirstName">Foto Profil</label>
                <div class="img-cropper">
                  <vue-cropper
                    ref="cropper"
                    class="img-crop"
                    :aspect-ratio="1 / 1"
                    :cropBoxMovable="true"
                    :cropBoxResizable="false"
                    :autoCrop="true"
                    :autoCropArea="1"
                    :viewMode="3"
                    :minCropBoxWidth="200"
                    :minCropBoxHeight="200"
                    :minContainerWidth="200"
                    :minContainerHeight="200"
                    :background="false"
                    :src="imgSrc"
                    preview=".preview"
                    dragMode="move"
                  />
                </div>
              <br>
              <input
                ref="input"
                type="file"
                id="imageUp"
                name="image"
                accept="image/*"
                @change="setImage"
              />
              <br><br>
              <button type="button" class="btn btn-primary" @click.prevent="cropImage">Crop</button>
              </div>
              <div class="form-group col-md-6" style="text-align: center;">
                <label class="form-control-label" for="inputBasicFirstName">Preview</label>
                <img
                  class="form-control"
                  v-if="cropImg"
                  :src="cropImg"
                  alt="Cropped Image"
                  style="width:100%;height:auto;"
                />
              </div>
              <div class="form-group col-md-6">
                <label class="form-control-label" for="inputBasicFirstName">Nama Depan</label>
                <input
                  type="textfield"
                  class="form-control"
                  placeholder="Input your first name"
                  v-model="form.firstName"
                  autocomplete="off"
                  require
                >
              </div>
              <div class="form-group col-md-6">
                <label class="form-control-label" for="inputBasicLastName">Nama Belakang</label>
                <input
                  type="textfield"
                  class="form-control"
                  placeholder="Input your last name"
                  v-model="form.lastName"
                  autocomplete="off"
                  require
                >
              </div>
              <div class="form-group form-material col-md-6">
                <label class="form-control-label" for="inputBasicLastName">Jenis Kelamin</label>
                <ul class="list-unstyled mb-0">
                    <li class="d-inline-block mr-2">
                        <fieldset>
                            <div class="vs-radio-con">
                                <input type="radio" id="inputBasicMaleU" name="inputGender" value="Laki-Laki" v-model="form.gender"/>
                                <span class="vs-radio">
                                    <span class="vs-radio--border"></span>
                                    <span class="vs-radio--circle"></span>
                                </span>
                                <span class="">Laki-Laki</span>
                            </div>
                        </fieldset>
                    </li>
                    <li class="d-inline-block mr-2">
                        <fieldset>
                            <div class="vs-radio-con">
                                <input type="radio" id="inputBasicFemaleU" name="inputGender" value="Perempuan" v-model="form.gender" />
                                <span class="vs-radio">
                                    <span class="vs-radio--border"></span>
                                    <span class="vs-radio--circle"></span>
                                </span>
                                <span class="">Perempuan</span>
                            </div>
                        </fieldset>
                    </li>
                </ul>
              </div>
              <div class="form-group col-md-6"></div>
              <div class="form-group col-md-6">
                <label class="form-control-label" for="inputBasicLastName">Tempat Lahir</label>
                <input
                  type="textfield"
                  class="form-control"
                  placeholder="Input your birth place"
                  v-model="form.birthPlace"
                  autocomplete="off"
                  require
                >
              </div>
              <div class="form-group col-md-6">
                <label class="form-control-label" for="inputBasicLastName">Tanggal Lahir</label>
                <div class="input-group">
                  <span class="input-group-addon">
                    <i class="icon md-calendar" aria-hidden="true"></i>
                  </span>
                  <input type="date" class="form-control" placeholder="yyyy/mm/dd" pattern="(^(((0[1-9]|1[0-9]|2[0-8])[\/](0[1-9]|1[012]))|((29|30|31)[\/](0[13578]|1[02]))|((29|30)[\/](0[4,6,9]|11)))[\/](19|[2-9][0-9])\d\d$)|(^29[\/]02[\/](19|[2-9][0-9])(00|04|08|12|16|20|24|28|32|36|40|44|48|52|56|60|64|68|72|76|80|84|88|92|96)$)" v-model="form.birthDate" require>
                </div>
              </div>
              <div class="form-group col-md-6">
                <label class="form-control-label" for="inputBasicMasterName">Divisi</label>
                <div class="col-md-12">
                  <Select2 id="fulltypeDivisiU" v-model="form.divisi" :options="myOptionsDivisi" :settings="{ placeholder: 'Select a Divisi', width: '100%' }" />
                </div>
              </div>
              <div class="form-group col-md-6">
                <label class="form-control-label" for="inputBasicMasterName">Jabatan</label>
                <div class="col-md-12">
                  <Select2 id="fulltypeJabatanU" v-model="form.jabatan" :options="myOptionsJabatan" :settings="{ placeholder: 'Select a Jabatan', width: '100%' }" />
                </div>
              </div>
              <div class="form-group col-md-12">
                <label class="form-control-label" for="inputBasicLastName">Alamat</label>
                <textarea class="maxlength-textarea form-control" data-plugin="maxlength" data-placement="bottom-right-inside"
                  maxlength="100" rows="3" placeholder="Input your address" v-model="form.address" require></textarea>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default btn-pure" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Update changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- End Modal -->
</template>

<!-- script js -->
<script>
import VueCropper from 'vue-cropperjs';
import 'cropperjs/dist/cropper.css';
import Select2 from 'v-select2-component';
export default {
  name: 'modal',
  components: { 
    VueCropper,
    Select2
  },
  props : {
    updateModal : {
      type : Boolean
    },
    update : {
      type : Object
    },
    closeModal : {
      type : Function
    }
  },
  data(){
    return{
      imgSrc: 'theme/avatar.png',
      cropImg: '',
      form:{
        idPerson: '',
        photoProfile: 'kosong',
        photoProfileOld: '',
        firstName: '',
        lastName: '',
        gender: '',
        birthPlace: '',
        birthDate: '',
        divisi: '',
        jabatan: '',
        address: ''
      },
      myOptionsDivisi: [],
      myOptionsJabatan: [],
    }
  },
  watch: {
    update(newVal) {
      if (newVal) {
        this.loadData()
        this.form.idPerson = newVal.id_person;
        this.imgSrc = newVal.photo_profile;
        this.form.photoProfileOld = newVal.photo_profile;
        this.form.firstName = newVal.first_name;
        this.form.lastName = newVal.last_name;
        this.form.gender = newVal.gender;
        this.form.birthPlace = newVal.birth_place;
        this.form.birthDate = newVal.birth_date;
        this.form.divisi = newVal.id_divisi;
        this.form.jabatan = newVal.id_jabatan;
        this.form.address = newVal.address;
        this.$refs.cropper.replace("uploads/photo_profile/"+newVal.photo_profile);
      }
    } 
  },
  methods: {
    loadData() {
      axios.get("/api/dropdownjabatan").then(response => {
        this.myOptionsJabatan = response.data;
      });

      axios.get("/api/dropdowndivisi").then(response => {
        this.myOptionsDivisi = response.data;
      });
    },
    cropImage() {
      // get image data for post processing, e.g. upload or setting image src
      this.cropImg = this.$refs.cropper.getCroppedCanvas().toDataURL();
      this.form.photoProfile = this.$refs.cropper.getCroppedCanvas().toDataURL();
    },
    setImage(e) {
      const file = e.target.files[0];
      if (file.type.indexOf('image/') === -1) {
        alert('Please select an image file');
        return;
      }
      if (typeof FileReader === 'function') {
        const reader = new FileReader();
        reader.onload = (event) => {
          this.imgSrc = event.target.result;
          // rebuild cropperjs with the updated source
          this.$refs.cropper.replace(event.target.result);
        };
        reader.readAsDataURL(file);
      } else {
        alert('Sorry, FileReader API not supported');
      }
    },
    move(offsetX, offsetY) {
      this.$refs.cropper.move(offsetX, offsetY);
    },
    reset() {
      this.$refs.cropper.reset();
    },
    updateData() {
      var currentState = window.Echo.connector.pusher.connection.state;
      if(currentState == "unavailable") {
        Swal.fire(
          {
            type: "warning",
            title: 'Peringatan!',
            text: 'Koneksi buruk / tidak terkoneksi dengan Internet. Mohon cek kembali koneksi Internet anda.',
            confirmButtonClass: 'btn btn-success',
          }
        )
      } else {
        Swal.fire({
          title: 'Are you sure?',
          text: "You won't be able to revert this!",
          type: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: 'Yes, update it!',
          confirmButtonClass: 'btn btn-primary',
          cancelButtonClass: 'btn btn-danger ml-1',
          buttonsStyling: false,
          showLoaderOnConfirm: true,
          preConfirm: () => {
              return axios.post("/api/updateperson/" + this.form.idPerson, {

                headers : {
                            'Content-Type': 'multipart/form-data'
                          },

                photo_profile: this.form.photoProfile,
                photo_profile_old: this.form.photoProfileOld,
                first_name: this.form.firstName,
                last_name: this.form.lastName,
                gender: this.form.gender,
                birth_place: this.form.birthPlace,
                birth_date: this.form.birthDate,
                divisi: this.form.divisi,
                jabatan: this.form.jabatan,
                address: this.form.address,
                username: localStorage.getItem('username'),
                fullname: localStorage.getItem('fullname'),
              })
              .then(response => {
                $(".updatePersonMod").modal('hide');
                this.closeModal();
                this.reset();
                this.imgSrc = 'theme/avatar.png',
                this.cropImg = '',
                this.form.photoProfile = 'kosong'
                this.form.photoProfileOld = ''
                this.form.firstName = ''
                this.form.lastName = ''
                this.form.gender = ''
                this.form.birthPlace = ''
                this.form.birthDate = ''
                this.form.divisi = ''
                this.form.jabatan = ''
                this.form.address = ''
                $('#imageUp').val("");
                return 
              })
              .catch(error => {
                Swal.showValidationMessage(
                  `Request failed: ${error}`
                )
              })
          },
          allowOutsideClick: () => !this.$swal.isLoading()
        }).then(function (result) {
          if (result.value) {
            Swal.fire(
              {
                type: "success",
                title: 'Updated!',
                text: 'Your file has been Update.',
                confirmButtonClass: 'btn btn-success',
              }
            )
          }
        }.bind(this))
      } 
    }
  }
};
</script>

<style scoped>
  .img-crop {
    width: 200px;
    height: 200px;
  }
</style>

