<template>
  <!-- Modal -->
  <div class="modal fade text-left viewPersonMod" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel1">View Person</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="form-group col-md-6">
              <label class="form-control-label" for="inputBasicFirstName">Foto Profil</label>
              <span v-if="form.photoProfile !== ''">
                <img class="form-control" :src="`uploads/photo_profile/${form.photoProfile}`" @error="(() => form.photoProfile = null)" style="width:50%;height:auto;" alt="...">
              </span>
            </div>
            <div class="form-group col-md-6">
            </div>
            <div class="form-group col-md-6">
              <label class="form-control-label" for="inputBasicFirstName">Nama Depan</label>
              <input
                type="textfield"
                class="form-control"
                placeholder="Input your first name"
                v-model="form.firstName"
                autocomplete="off"
                readonly
              >
            </div>
            <div class="form-group col-md-6">
              <label class="form-control-label" for="inputBasicLastName">Nama Belakang</label>
              <input
                type="textfield"
                class="form-control"
                placeholder="Input your last name"
                v-model="form.lastName"
                autocomplete="off"
                readonly
              >
            </div>
            <div class="form-group form-material col-md-6">
              <label class="form-control-label" for="inputBasicLastName">Jenis Kelamin</label>
              <ul class="list-unstyled mb-0">
                  <li class="d-inline-block mr-2">
                      <fieldset>
                          <div class="vs-radio-con">
                              <input type="radio" id="inputBasicMaleV" name="inputGender" value="Laki-Laki" v-model="form.gender" disabled/>
                              <span class="vs-radio">
                                  <span class="vs-radio--border"></span>
                                  <span class="vs-radio--circle"></span>
                              </span>
                              <span class="">Laki-Laki</span>
                          </div>
                      </fieldset>
                  </li>
                  <li class="d-inline-block mr-2">
                      <fieldset>
                          <div class="vs-radio-con">
                              <input type="radio" id="inputBasicFemaleV" name="inputGender" value="Perempuan" v-model="form.gender" disabled/>
                              <span class="vs-radio">
                                  <span class="vs-radio--border"></span>
                                  <span class="vs-radio--circle"></span>
                              </span>
                              <span class="">Perempuan</span>
                          </div>
                      </fieldset>
                  </li>
              </ul>
            </div>
            <div class="form-group col-md-6"></div>
            <div class="form-group col-md-6">
              <label class="form-control-label" for="inputBasicLastName">Tempat Lahir</label>
              <input
                type="textfield"
                class="form-control"
                placeholder="Input your birth place"
                v-model="form.birthPlace"
                autocomplete="off"
                readonly
              >
            </div>
            <div class="form-group col-md-6">
              <label class="form-control-label" for="inputBasicLastName">Tanggal Lahir</label>
              <div class="input-group">
                <span class="input-group-addon">
                  <i class="icon md-calendar" aria-hidden="true"></i>
                </span>
                <input type="date" class="form-control" v-model="form.birthDate" readonly>
              </div>
            </div>
            <div class="form-group col-md-6">
              <label class="form-control-label" for="inputBasicMasterName">Divisi</label>
              <div class="col-md-12">
                <Select2 id="fulltypeDivisi" v-model="form.divisi" :options="myOptionsDivisi" :settings="{ placeholder: 'Select a Divisi', width: '100%' }" disabled/>
              </div>
            </div>
            <div class="form-group col-md-6">
              <label class="form-control-label" for="inputBasicMasterName">Jabatan</label>
              <div class="col-md-12">
                <Select2 id="fulltypeJabatan" v-model="form.jabatan" :options="myOptionsJabatan" :settings="{ placeholder: 'Select a Jabatan', width: '100%' }" disabled/>
              </div>
            </div>
            <div class="form-group col-md-12">
              <label class="form-control-label" for="inputBasicLastName">Alamat</label>
              <textarea class="maxlength-textarea form-control" data-plugin="maxlength" data-placement="bottom-right-inside"
                maxlength="100" rows="3" placeholder="Input your address" v-model="form.address" readonly></textarea>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!-- End Modal -->
</template>

<!-- script js -->
<script>
import Select2 from 'v-select2-component';
export default {
  name: 'modal',
  components: { 
    Select2
  },
  props : {
    viewModal : {
      type : Boolean
    },
    view : {
      type : Object
    }
  },
  data(){
    return{
      form:{
        photoProfile: '',
        firstName: '',
        lastName: '',
        gender: '',
        birthPlace: '',
        birthDate: '',
        divisi: '',
        jabatan: '',
        address: ''
      },
      myOptionsDivisi: [],
      myOptionsJabatan: [],
    }
  },
  watch: {
    view(newVal) {
      if (newVal) {
        this.loadData()
        this.form.photoProfile = newVal.photo_profile;
        this.form.firstName = newVal.first_name;
        this.form.lastName = newVal.last_name;
        this.form.gender = newVal.gender;
        this.form.birthPlace = newVal.birth_place;
        this.form.birthDate = newVal.birth_date;
        this.form.divisi = newVal.id_divisi;
        this.form.jabatan = newVal.id_jabatan;
        this.form.address = newVal.address;
      }
    } 
  },
  methods: {
    loadData() {
      axios.get("/api/dropdownjabatan").then(response => {
        this.myOptionsJabatan = response.data;
      });

      axios.get("/api/dropdowndivisi").then(response => {
        this.myOptionsDivisi = response.data;
      });
    },
  }
};
</script>

