 <template>
  <div>

    <!-- banner part start-->
    <!-- <section class="banner_part" style="background-size: 70%">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-xl-6">
                    <div class="banner_text">
                        <div class="banner_text_iner">
                            <h5 style="font-family: 'GothamNarrow'">{{ $t('message.sectionbanner1')}}</h5>
                            <h1 style="font-family: 'GothamNarrow';text-transform: none;">{{ $t('message.sectionbanner2')}}</h1>
                            <p style="font-family: 'GothamNarrow'">{{ $t('message.sectionbanner3')}}</p>

                            <h5 style="font-family: 'GothamNarrow';text-transform: none;">{{ tagline1 }}</h5>
                            <h1 style="font-family: 'GothamNarrow';text-transform: none;">{{ tagline2 }}</h1>
                            <p style="font-family: 'GothamNarrow';text-transform: none;">{{ tagline3 }}</p>

                            <template v-if="login == true">
                                <a class="btn_1" href="/dashboard" style="font-size: 15px; font-weight: 500;">{{ $t('message.sectionbannerbtn3')}}</a>
                                <a class="btn_2" href="/logout" style="background-color:#ffffff">{{ $t('message.sectionbannerbtn4')}}</a>
                            </template>
                            <template v-else-if="login == false">
                                <router-link class="btn_1" to="/regIn" style="font-size: 15px; font-weight: 500;">{{ $t('message.sectionbannerbtn1')}}</router-link>
                                <a class="btn_2" href="/login" style="background-color:#ffffff">{{ $t('message.sectionbannerbtn2')}}</a>
                            </template>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-xl-6">
                    <img :src="landingGambar" alt="logo">
                </div>
            </div>
        </div>
    </section> -->

    <!-- banner baru full image -->
    <!-- <section class="banner_part" :style="'background-position: center center !important; background-size: cover; background-image:url('+landingGambar+')'"> -->
    <section class="banner_part" :style="'background-position: center center !important; background-size: 70%; background-image:url('+landingGambar+')'">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-xl-6"> 
                    <div class="banner_text">
                        <div class="banner_text_iner">
                            <h5 style="font-family: 'GothamNarrow';text-transform: none;">{{ tagline1 }}</h5>
                            <h1 style="font-family: 'GothamNarrow';text-transform: none;">{{ tagline2 }}</h1>
                            <p style="font-family: 'GothamNarrow';text-transform: none;">{{ tagline3 }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-xl-6">
                    <!-- <img :src="landingGambar" alt="logo">  -->
                </div>
            </div>
        </div>
    </section>
    <!-- banner part start-->

    <!-- carousel_part start-->
    <section class="feature_part" style="padding-bottom:30px;">
        <div class="container">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
               <ol class="carousel-indicators">
                 <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                 <template v-for="bannerS in banner"> 
                    <li :data-target="'#'+bannerS.judul_banner" :data-slide-to="bannerS.rownum"></li>
                 </template>
               </ol>

               <div class="carousel-inner">
                 <div class="carousel-item active">
                   <img class="d-block w-100" src="themeLanding/img/slide/slide11.png" alt="First slide"> 
                 </div>
                 <template v-for="bannerS in banner"> 
                    <div class="carousel-item">
                        <a :href="bannerS.link_banner" >
                            <img class="d-block w-100" :src="bannerS.foto_banner" :alt="bannerS.judul_banner">
                        </a>
                    </div>
                 </template>
               </div>

               <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
               <span class="carousel-control-prev-icon" aria-hidden="true"></span>
               <span class="sr-only">Previous</span>
             </a>
               <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
               <span class="carousel-control-next-icon" aria-hidden="true"></span>
               <span class="sr-only">Next</span>
             </a>
             </div>
        </div>
    </section>
    <!-- upcoming_event part start-->

    <!-- Vision part start-->
    <!-- <section class="learning_part">
        <div class="container">
            <div class="row align-items-sm-center align-items-lg-stretch">
                <div class="col-md-7 col-lg-7">
                    <div class="learning_img">
                        <img src="themeLanding/img/learning_img.png" alt="">
                    </div>
                </div>
                <div class="col-md-5 col-lg-5">
                    <div class="learning_member_text">
                        <h5 style="font-family: 'GothamNarrow'">{{ $t('message.sectionhistory3')}}</h5>
                        <h2 style="font-family: 'GothamNarrow'">{{ $t('message.sectionhistory4')}}</h2>
                        <ul>
                            <template v-if="lg == 'ID'">
                                <template v-if="visimisi.isiVisiMisi1 !== ''">
                                    <li><span class="ti-pencil-alt"></span>{{visimisi.isiVisiMisi1}}</li>
                                </template>
                                <template v-if="visimisi.isiVisiMisi2 !== ''">
                                    <li><span class="ti-pencil-alt"></span>{{visimisi.isiVisiMisi2}}</li>
                                </template>
                                <template v-if="visimisi.isiVisiMisi3 !== ''">
                                    <li><span class="ti-pencil-alt"></span>{{visimisi.isiVisiMisi3}}</li>
                                </template>
                                <template v-if="visimisi.isiVisiMisi4 !== ''">
                                    <li><span class="ti-pencil-alt"></span>{{visimisi.isiVisiMisi4}}</li>
                                </template>
                                <template v-if="visimisi.isiVisiMisi5 !== ''">
                                    <li><span class="ti-pencil-alt"></span>{{visimisi.isiVisiMisi5}}</li>
                                </template>
                                <template v-if="visimisi.isiVisiMisi6 !== ''">
                                    <li><span class="ti-pencil-alt"></span>{{visimisi.isiVisiMisi6}}</li>
                                </template>
                            </template>
                            <template v-else>
                                <template v-if="visimisi.isiVisiMisiEN1 !== ''">
                                    <li><span class="ti-pencil-alt"></span>{{visimisi.isiVisiMisiEN1}}</li>
                                </template>
                                <template v-if="visimisi.isiVisiMisiEN2 !== ''">
                                    <li><span class="ti-pencil-alt"></span>{{visimisi.isiVisiMisiEN2}}</li>
                                </template>
                                <template v-if="visimisi.isiVisiMisiEN3 !== ''">
                                    <li><span class="ti-pencil-alt"></span>{{visimisi.isiVisiMisiEN3}}</li>
                                </template>
                                <template v-if="visimisi.isiVisiMisiEN4 !== ''">
                                    <li><span class="ti-pencil-alt"></span>{{visimisi.isiVisiMisiEN4}}</li>
                                </template>
                                <template v-if="visimisi.isiVisiMisiEN5 !== ''">
                                    <li><span class="ti-pencil-alt"></span>{{visimisi.isiVisiMisiEN5}}</li>
                                </template>
                                <template v-if="visimisi.isiVisiMisiEN6 !== ''">
                                    <li><span class="ti-pencil-alt"></span>{{visimisi.isiVisiMisiEN6}}</li>
                                </template>
                            </template>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <!-- Vision part end-->

    <!-- PaketLelang part start-->
    <template v-if="listPelelangan.length == 1">
        <section class="special_cource" style="padding:130px 0px;">
        </section>
    </template>
    <template v-else>
        <section class="special_cource" style="padding:130px 0px;">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-5">
                        <div class="section_tittle text-center">
                            <p style="font-family: 'GothamNarrow'">{{ $t('message.sectionPaket1')}}</p>
                            <h2 style="font-family: 'GothamNarrow'">{{ $t('message.sectionPaket2')}}</h2>
                        </div>
                    </div>
                </div>
                <div class="row align-items-sm-center align-items-lg-stretch">
                    <div class="col-md-12 col-lg-12" style="min-height:300px;">
                        <loading :active.sync="isLoadingPelelangan"
                               :can-cancel="canCancel"
                               :is-full-page="fullPage"
                               :height="height"
                               :width="width"
                               :color="color"
                               :loader="loader"
                               :z-index="zindex"
                               :background-color="bgColor"></loading>
                        <div class="row">
                            <template v-if="list < listPelelangan.length" v-for="list in listPelelanganToShow">
                                <template v-if="listPelelangan[list].publishDateFrom == 'show' || listPelelangan[list].publishDateTo <= 'belum'">
                                    <div class="col-md-12 col-lg-12" style="margin-bottom:10px;">
                                        <div class="single_special_cource">
                                          <div class="special_cource_text" style="border: 1px solid #edeff2;border-radius: 25px;">
                                            <a href="#" @click="seeDetailPelelangan(listPelelangan[list].id_pekerjaan)"><h3 style="font-size:20px;height:60px;">{{listPelelangan[list].nama_pekerjaan}} </h3></a>
                                            <!-- <template v-if="listPelelangan[list].nama_pekerjaan.length <= 45">
                                              <a href="#" @click="seeDetail(listPelelangan[list].id_pekerjaan)"><h3 style="font-size:20px;height:60px;">{{listPelelangan[list].nama_pekerjaan}} </h3></a>
                                            </template>
                                            <template v-if="listPelelangan[list].nama_pekerjaan.length > 45">
                                              <a href="#" @click="seeDetail(listPelelangan[list].id_pekerjaan)"><h3 style="font-size:20px;height:60px;">{{listPelelangan[list].nama_pekerjaan.substring(0, 45)}}. . .</h3></a>
                                            </template> -->
                                            <div class="author_info">
                                                <div class="author_info_text">
                                                    <h5>Rp. {{formatPrice(listPelelangan[list].nilai_pagu)}}</h5>
                                                    <p>{{formatDate(listPelelangan[list].valid_from)}} - {{formatDate(listPelelangan[list].valid_to)}}</p>
                                                    <p>{{listPelelangan[list].kategori_pekerjaan}}, {{listPelelangan[list].metode}}, {{listPelelangan[list].anggaran}}, {{listPelelangan[list].lokasi}}, {{listPelelangan[list].kualifikasi}}</p>
                                                </div>
                                                <div class="author_rating">
                                                  <button class="btn_4" @click="seeDetailPelelangan(listPelelangan[list].id_pekerjaan)" style="color:#fff;">{{ $t('message.sectionPaketbtn2')}}</button>
                                                </div>
                                            </div>
                                            <div class="author_info">
                                                <div class="col-md-6" style="float:left">
                                                    <span class="badge badge-round badge-info" style="float:left;font-weight:500;line-height:2;">{{listPelelangan[list].stsJadwal}}</span> 
                                                </div>
                                                <div class="col-md-6">  
                                                    <p style="float:right">Peserta : {{listPelelangan[list].jmlVendor}}</p>
                                                    <!-- <button class="btn_4" @click="ikutPelelangan(listPelelangan[list].id_pekerjaan)" style="color:#fff;float:right">{{ $t('message.sectionPaketbtn6')}}</button> -->
                                                </div>
                                            </div>
                                          </div>
                                        </div>
                                    </div>
                                </template>       
                            </template>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-12 col-xl-12" style="margin-bottom:50px;margin-top:50px;" align="center">
                        <router-link to="paketlelang" class="btn_1" style="margin:20px;">{{ $t('message.sectionPaketbtn1')}}</router-link>
                    </div>
                </div>
            </div>
        </section>
    </template>
    <!-- PaketLelang part end-->

    <!-- Pengumuman part start-->
    <template v-if="listPengumuman.length == 1">
        <section class="special_cource">
        </section>
    </template>
    <template v-else>
        <section class="special_cource">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-5">
                        <div class="section_tittle text-center">
                            <p style="font-family: 'GothamNarrow'">{{ $t('message.sectionPengumuman1')}}</p>
                            <h2 style="font-family: 'GothamNarrow'">{{ $t('message.sectionPengumuman2')}}</h2>
                        </div>
                    </div>
                </div>
                <div class="row align-items-sm-center align-items-lg-stretch">
                    <div class="col-md-12 col-lg-12" style="min-height:300px;">
                        <loading :active.sync="isLoadingPengumuman"
                               :can-cancel="canCancel"
                               :is-full-page="fullPage"
                               :height="height"
                               :width="width"
                               :color="color"
                               :loader="loader"
                               :z-index="zindex"
                               :background-color="bgColor"></loading>
                        <div class="row">
                            <template v-if="list < listPengumuman.length" v-for="list in listPengumumanToShow">
                                <template v-if="listPengumuman[list].publishDate == 'lewat' || listPengumuman[list].publishDate <= 7">
                                    <div class="col-md-4 col-lg-4">
                                        <div class="single_special_cource">
                                          <div class="special_cource_text" style="border: 1px solid #edeff2;border-radius: 25px;">
                                            <div class="image">
                                                <img :src="listPengumuman[list].gambar" @error="(() => listPengumuman[list].gambar = 'avatarDefault.png')" class="card-img-top" alt="logo" style="margin-bottom:10px;">
                                            </div>
                                            <!-- <h4>{{listPengumuman[list].judul}}</h4> -->
                                            <template v-if="listPengumuman[list].judul.length <= 45">
                                              <a href="#" @click="seeDetail(listPengumuman[list].id)"><h3 style="font-size:20px;height:60px;">{{listPengumuman[list].judul}} </h3></a>
                                            </template>
                                            <template v-if="listPengumuman[list].judul.length > 45">
                                              <a href="#" @click="seeDetail(listPengumuman[list].id)"><h3 style="font-size:20px;height:60px;">{{listPengumuman[list].judul.substring(0, 45)}}. . .</h3></a>
                                            </template>
                                            <div class="author_info">
                                                <div class="author_info_text">
                                                    <h5>{{formatDate(listPengumuman[list].tanggal)}}</h5>
                                                    <template v-if="listPengumuman[list].jam_mulai == null && listPengumuman[list].jam_selesa == null">
                                                      <p style="margin-top:16px;"></p>
                                                    </template>
                                                    <template v-else-if="listPengumuman[list].jam_selesai == null">
                                                      <p>{{formatTime(listPengumuman[list].jam_mulai)}}</p>
                                                    </template>
                                                    <template v-else>
                                                      <p>{{formatTime(listPengumuman[list].jam_mulai)}} - {{formatTime(listPengumuman[list].jam_selesai)}}</p>
                                                    </template>
                                                    <template v-if="listPengumuman[list].alamat2.length <= 30">
                                                      <a :href="'http://maps.google.com/?q='+listPengumuman[list].alamat" target="_blank" rel="noopener noreferrer" style="height:40px;"><span class="ti-pencil-alt"></span> {{listPengumuman[list].alamat2}}</a>
                                                    </template>
                                                    <template v-if="listPengumuman[list].alamat2.length > 30">
                                                      <a :href="'http://maps.google.com/?q='+listPengumuman[list].alamat" target="_blank" rel="noopener noreferrer" style="height:40px;"><span class="ti-pencil-alt"></span> {{listPengumuman[list].alamat2.substring(0, 25)}}. . .</a>
                                                    </template>
                                                </div>
                                                <div class="author_rating">
                                                  <button class="btn_4" @click="seeDetail(listPengumuman[list].id)" style="color:#fff;">{{ $t('message.sectionPengumumanbtn2')}}</button>
                                                </div>
                                            </div>
                                            <div class="author_info">
                                                <div class="col-md-6">
                                                    <a href="#" @click="seeDetail(listPengumuman[list].id)"><p style="float:left;"><span class="ti-comments"></span> {{listPengumuman[list].valComment}} Comments</p></a>
                                                </div>
                                                <div class="col-md-6">                                     
                                                    <div id="socialShare" class="btn-group share-group">
                                                        <button href="#" data-toggle="dropdown" class="btn btn-info dropdown-toggle share" style="color: #888888;background-color: #ffffff;border-color: #ffffff;padding:0px;">
                                                            <i class="fa fa-share-alt"></i> 
                                                        </button>
                                                        <social-sharing 
                                                          :url="baseUrl+'/detailPengumumanShare?id='+listPengumuman[list].id" 
                                                          :quote="listPengumuman[list].judul"
                                                          style="{backgroundColor: #1877f2}"
                                                          inline-template> 
                                                          <div>       
                                                            <ul class="dropdown-menu" style="    border: 1px solid rgba(0, 0, 0, 0.15) !important;background-color: rgb(255, 255, 255);">
                                                                <li>
                                                                    <a data-original-title="Twitter" rel="tooltip" class="btn" data-placement="left">
                                                                        <network network="twitter">
                                                                          <p><i class="fa fa-twitter"></i> &nbspTwitter</p>
                                                                        </network>
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a data-original-title="Facebook" rel="tooltip" class="btn" data-placement="left">
                                                                        <network network="facebook">
                                                                          <p><i class="fa fa-facebook"></i> &nbsp&nbspFacebook</p>
                                                                        </network>
                                                                    </a>
                                                                </li>                   
                                                                <li>
                                                                    <a  data-original-title="Email" rel="tooltip" class="btn" data-placement="left">
                                                                        <network network="whatsapp">
                                                                          <p><i class="fa fa-whatsapp"></i> &nbspWhatsapp</p>
                                                                        </network>
                                                                    </a>
                                                                </li>
                                                                <!-- <li>
                                                                    <a @click="copylink()"> 
                                                                        <p><i class="fa fa-copy"></i> &nbspCopy Link</p>
                                                                    </a>
                                                                </li> -->
                                                            </ul>
                                                          </div>
                                                        </social-sharing>
                                                    </div>
                                                </div>
                                            </div>
                                          </div>
                                        </div>
                                    </div>
                                </template>       
                            </template>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-12 col-xl-12" style="margin-bottom:50px;margin-top:50px;" align="center">
                        <router-link to="pengumuman" class="btn_1" style="margin:20px;">{{ $t('message.sectionPengumumanbtn1')}}</router-link>
                    </div>
                </div>
            </div>
        </section>
    </template>
    <!-- Pengumuman part end-->

    <!-- Berita part start-->
    <template v-if="listBerita.length == 1">
        <section class="special_cource">
        </section>
    </template>
    <template v-else>
        <section class="special_cource">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-5">
                        <div class="section_tittle text-center">
                            <p style="font-family: 'GothamNarrow'">{{ $t('message.sectionBerita1')}}</p>
                            <h2 style="font-family: 'GothamNarrow'">{{ $t('message.sectionBerita2')}}</h2>
                        </div>
                    </div>
                </div>
                <div class="row align-items-sm-center align-items-lg-stretch">
                    <div class="col-md-12 col-lg-12" style="min-height:300px;">
                        <loading :active.sync="isLoadingBerita"
                               :can-cancel="canCancel"
                               :is-full-page="fullPage"
                               :height="height"
                               :width="width"
                               :color="color"
                               :loader="loader"
                               :z-index="zindex"
                               :background-color="bgColor"></loading>
                        <div class="row">
                            <template v-if="list < listBerita.length" v-for="list in listBeritaToShow">
                                <template v-if="listBerita[list].publishDate == 'lewat' || listBerita[list].publishDate <= 7">
                                    <div class="col-md-4 col-lg-4">
                                        <div class="single_special_cource">
                                          <div class="special_cource_text" style="border: 1px solid #edeff2;border-radius: 25px;">
                                            <div class="image">
                                                <img :src="listBerita[list].gambar" @error="(() => list.gambar = 'avatarDefault.png')" class="card-img-top" alt="logo" style="margin-bottom:10px;">
                                            </div>
                                            <template v-if="listBerita[list].judul.length <= 45">
                                              <a href="#" @click="seeDetailBerita(listBerita[list].id)"><h3 style="font-size:20px;height:60px;">{{listBerita[list].judul}}</h3></a>
                                            </template>
                                            <template v-if="listBerita[list].judul.length > 45">
                                              <a href="#" @click="seeDetailBerita(listBerita[list].id)"><h3 style="font-size:20px;height:60px;">{{listBerita[list].judul.substring(0, 45)}}. . .</h3></a>
                                            </template>
                                            <div class="author_info">
                                                <div class="author_info_text">
                                                    <h5>{{formatDate(listBerita[list].tanggal_publish)}}</h5>
                                                </div>
                                                <div class="author_rating">
                                                  <button class="btn_4" @click="seeDetailBerita(listBerita[list].id)" style="color:#fff;">{{ $t('message.sectionBeritabtn2')}}</button>
                                                </div>
                                            </div>
                                            <div class="author_info">
                                                <div class="col-md-6">
                                                    <a href="#" @click="seeDetailBerita(listBerita[list].id)"><p style="float:left;"><span class="ti-comments"></span> {{listBerita[list].valComment}} Comments</p></a>
                                                </div>
                                                <div class="col-md-6">                                   
                                                    <div id="socialShare" class="btn-group share-group">
                                                        <button href="#" data-toggle="dropdown" class="btn btn-info dropdown-toggle share" style="color: #888888;background-color: #ffffff;border-color: #ffffff;padding:0px;">
                                                            <i class="fa fa-share-alt"></i> 
                                                        </button>
                                                        <social-sharing 
                                                          :url="baseUrl+'/detailBeritaShare?id='+listBerita[list].id" 
                                                          :quote="listBerita[list].judul"
                                                          style="{backgroundColor: #1877f2}"
                                                          inline-template > 
                                                          <div>       
                                                            <ul class="dropdown-menu" style="    border: 1px solid rgba(0, 0, 0, 0.15) !important;background-color: rgb(255, 255, 255);">
                                                                <li>
                                                                    <a data-original-title="Twitter" rel="tooltip" class="btn" data-placement="left">
                                                                        <network network="twitter">
                                                                          <p><i class="fa fa-twitter"></i> &nbspTwitter</p>
                                                                        </network>
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a data-original-title="Facebook" rel="tooltip" class="btn" data-placement="left">
                                                                        <network network="facebook">
                                                                          <p><i class="fa fa-facebook"></i> &nbsp&nbspFacebook</p>
                                                                        </network>
                                                                    </a>
                                                                </li>                   
                                                                <li>
                                                                    <a  data-original-title="Email" rel="tooltip" class="btn" data-placement="left">
                                                                        <network network="whatsapp">
                                                                          <p><i class="fa fa-whatsapp"></i> &nbspWhatsapp</p>
                                                                        </network>
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                          </div>
                                                        </social-sharing>
                                                    </div>
                                                </div>
                                            </div>
                                          </div>
                                        </div>
                                    </div>
                                </template>
                            </template>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-12 col-xl-12" style="margin-bottom:50px;margin-top:50px;" align="center">
                        <router-link to="berita" class="btn_1" style="margin:20px;">{{ $t('message.sectionBeritabtn1')}}</router-link>
                    </div>
                </div>
            </div>
        </section>
    </template>
    <!-- Berita part end-->

    <!-- member_counter counter start -->
    <section class="member_counter">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-sm-6">
                    <div class="single_member_counter">
                        <!-- <span class="counter">{{counterz.community}}</span> -->
                        <span>{{counterz.rekanan}}</span>
                        <h4 style="font-family: 'GothamNarrow'">{{ $t('message.sectioncheck1')}}</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single_member_counter">
                        <span>{{counterz.barang}}</span>
                        <h4 style="font-family: 'GothamNarrow'">{{ $t('message.sectioncheck2')}}</h4>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <div class="single_member_counter">
                        <span>{{counterz.kontruksi}}</span>
                        <h4 style="font-family: 'GothamNarrow'">{{ $t('message.sectioncheck3')}}</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single_member_counter">
                        <span>{{counterz.badanusaha}}</span>
                        <h4 style="font-family: 'GothamNarrow'">{{ $t('message.sectioncheck4')}}</h4>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <div class="single_member_counter">
                        <span>{{counterz.perorangan}}</span>
                        <h4 style="font-family: 'GothamNarrow'">{{ $t('message.sectioncheck5')}}</h4>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- member_counter counter end -->

    <!-- history part start-->  
    <section class="advance_feature learning_part" style="padding:130px 0px;">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-5">
                    <div class="section_tittle text-center">
                        <p style="font-family: 'GothamNarrow'">{{ $t('message.sectionhistory1')}}</p>
                        <h2 style="font-family: 'GothamNarrow'">{{ $t('message.sectionhistory2')}}</h2>
                    </div>
                </div>
            </div>
            <div class="row align-items-sm-center align-items-xl-stretch">
                <div class="col-md-6 col-lg-6">
                    <div class="learning_member_text">
                        <h5 style="font-family: 'GothamNarrow'">{{ $t('message.sectionhistory3')}}</h5>
                        <img src="themeLanding/img/logo2.png" alt="logo">
                        <template v-if="lg == 'ID'">
                            <p style="margin-top:20px;">{{ contentTentangKamiThumb }}</p>
                        </template>
                        <template v-else>
                            <p style="margin-top:20px;">{{ contentTentangKamiThumbEN }}</p>
                        </template>
                        <router-link to="landtentangkami" class="btn_1" style="margin:20px;">{{ $t('message.sectionhistorybtn1')}}</router-link>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="learning_img">
                        <div class="video-container">
                          <iframe src="https://www.youtube.com/embed/-jK-qj3ZNLI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- history part end-->

    <!--::Who Are We start::-->
    <section class="testimonial_part">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-xl-5">
                    <div class="section_tittle text-center">
                        <p style="font-family: 'GothamNarrow'">{{ $t('message.sectionhistory3')}}</p>
                        <h2 style="font-family: 'GothamNarrow'">{{ $t('message.sectionhistory5')}} </h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div id="beritaCarousel" class="carousel slide" data-ride="carousel" style="margin-top: 0px;background-color:transparent;box-shadow: none;">
                        <div class="carousel-inner">

                            <!-- <template v-for="list in areweCn">
                                <div>start
                                    <template v-for="(n, index) in arewe.slice(minAre,maxAre)">
                                        <template v-if="setVal(index+1)"></template>
                                        {{n}}
                                    </template>
                                end</div>
                                {{val}}
                                <template v-if="updateMin(val)"></template> 
                            </template> -->

                                <div class="carousel-item active">
                                    <div class="row">
                                        <template v-for="list in arewe">
                                            <template v-if="list.rownum == 1 || list.rownum == 2 || list.rownum == 3 || list.rownum == 4">
                                                <div class="col-lg-3 col-md-6 col-sm-6">
                                                  <div class="our-team">
                                                    <div class="pic">
                                                      <img :src="list.foto_arewe">
                                                    </div>
                                                    <div class="team-content">
                                                      <h3 class="title" style="min-height: 80px">{{list.nama_arewe}}</h3>
                                                      <span class="post" style="min-height: 45px">{{list.posisi_arewe}}</span>
                                                    </div>
                                                    <ul class="social"> 
                                                      <li>
                                                        <a href="#" class="fa fa-envelope"></a>
                                                      </li>
                                                    </ul>
                                                  </div>
                                                </div>
                                            </template>
                                        </template>
                                    </div>
                                </div>                         
                            <template v-if="arewe.length > 4">
                               <div class="carousel-item dua">
                                   <div class="row">
                                       <template v-for="list in arewe">
                                           <template v-if="list.rownum == 5 || list.rownum == 6 || list.rownum == 7 || list.rownum == 8">
                                               <div class="col-lg-3 col-md-6 col-sm-6">
                                                 <div class="our-team">
                                                   <div class="pic">
                                                     <img :src="list.foto_arewe">
                                                   </div>
                                                   <div class="team-content">
                                                     <h3 class="title" style="min-height: 80px">{{list.nama_arewe}}</h3>
                                                     <span class="post" style="min-height: 45px">{{list.posisi_arewe}}</span>
                                                   </div>
                                                   <ul class="social"> 
                                                     <li>
                                                       <a href="#" class="fa fa-envelope"></a>
                                                     </li>
                                                   </ul>
                                                 </div>
                                               </div>
                                           </template>
                                       </template>
                                   </div>
                               </div> 
                            </template>
                            <template v-if="arewe.length > 8">
                               <div class="carousel-item tiga">
                                   <div class="row">
                                       <template v-for="list in arewe">
                                           <template v-if="list.rownum == 9 || list.rownum == 10 || list.rownum == 11 || list.rownum == 12">
                                               <div class="col-lg-3 col-md-6 col-sm-6">
                                                 <div class="our-team">
                                                   <div class="pic">
                                                     <img :src="list.foto_arewe">
                                                   </div>
                                                   <div class="team-content">
                                                     <h3 class="title" style="min-height: 80px">{{list.nama_arewe}}</h3>
                                                     <span class="post" style="min-height: 45px">{{list.posisi_arewe}}</span>
                                                   </div>
                                                   <ul class="social"> 
                                                     <li>
                                                       <a href="#" class="fa fa-envelope"></a>
                                                     </li>
                                                   </ul>
                                                 </div>
                                               </div>
                                           </template>
                                       </template>
                                   </div>
                               </div> 
                            </template>
                            <template v-if="arewe.length > 12">
                               <div class="carousel-item empat">
                                   <div class="row">
                                       <template v-for="list in arewe">
                                           <template v-if="list.rownum == 13 || list.rownum == 14 || list.rownum == 15 || list.rownum == 16">
                                               <div class="col-lg-3 col-md-6 col-sm-6">
                                                 <div class="our-team">
                                                   <div class="pic">
                                                     <img :src="list.foto_arewe">
                                                   </div>
                                                   <div class="team-content">
                                                     <h3 class="title" style="min-height: 80px">{{list.nama_arewe}}</h3>
                                                     <span class="post" style="min-height: 45px">{{list.posisi_arewe}}</span>
                                                   </div>
                                                   <ul class="social"> 
                                                     <li>
                                                       <a href="#" class="fa fa-envelope"></a>
                                                     </li>
                                                   </ul>
                                                 </div>
                                               </div>
                                           </template>
                                       </template>
                                   </div>
                               </div> 
                            </template>
                        </div>
                    </div>

                </div>
                <div class="col-sm-12 col-lg-12 col-xl-12" style="margin-bottom:50px;margin-top:50px;" align="center">
                    <router-link to="kepengurusan" class="btn_1" style="margin:20px;">{{ $t('message.sectionAreWebtn1')}}</router-link>
                </div>
            </div>
        </div>
    </section>
    <!--::Who Are We end::-->
  </div>
</template>

<!-- script js -->
<script> 
import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.css';
import moment from 'moment';
moment.locale("id");

export default { 
  name: 'home', 
  metaInfo() {
    return {
    title: "KIW - ePro",  
    }
  },
  components: { 
    'social-sharing': SocialSharing,
    Loading
  },
  data() {
    return {
      baseUrl:'',
      isLoadingPelelangan: false,
      isLoadingPengumuman: false,
      isLoadingBerita: false,
      fullPage: false,
      canCancel: false,
      useSlot: false,
      loader: 'spinner',
      bgColor: '#ffffff',
      height: 128,
      width: 128,
      color: '#1D437D',
      zindex: 9998,
      count: 0,
      tagline1: '',
      tagline2: '',
      tagline3: '',
      landingGambar: '',
      contentTentangKamiThumb: '',
      contentTentangKamiThumbEN: '',
      login: undefined,
      loading: false,
      banner: [],
      cek: [],
      listPelelangan: [],
      listPelelanganToShow: 3,
      listPengumuman: [],
      listPengumumanToShow: 3,
      listBerita: [],
      listBeritaToShow: 3,
      viewAlamat: '',
      visimisi: {
        isiVisiMisi1: '',
        isiVisiMisiEN1: '',
        isiVisiMisi2: '',
        isiVisiMisiEN2: '',
        isiVisiMisi3: '',
        isiVisiMisiEN3: '',
        isiVisiMisi4: '',
        isiVisiMisiEN4: '',
        isiVisiMisi5: '',
        isiVisiMisiEN5: '',
        isiVisiMisi6: '',
        isiVisiMisiEN6: '',
      },
      counterz: {
        rekanan: '',
        barang: '',
        kontruksi: '',
        badanusaha: '',
        perorangan: '',
      },
      sponsor: [],
      arewe: [],
      areweCn: 0,
      listAreWeToShow: 2,
      minAre: 0,
      maxAre: 4,
      val: 0,
      lg: localStorage.getItem('lang'),
    };
  },
  beforeCreate(){
      this.loading = true;
      axios
      .get("/session")
      .then(response => {
          // this.id = response.data.id;
          // this.id_person = response.data.id_person;
          // this.role = response.data.role;
          if(response.data.login == undefined){
            this.login = false;
          } else {
            this.login = true;
          }
          console.log(this.login)
          var base_url = window.location.origin;
          this.baseUrl = base_url
      });
  },
  computed() {
  },
  created() { 
    this.getLanding()
    this.getCounter()
    this.getContent()
    this.getBanner()
    this.getVisiMisi()
    this.getAreWe()
    this.getListPelelangan()
    this.getListPengumuman()
    this.getListBerita()
  },
  mounted() {
    this.listen()
  },
  methods: {
    listen() {
      Echo.channel('refreshEvent') //Should be Channel Name
      .listen('RefreshEvents', (e) => {
        this.getListPelelangan()
      });
    },
    setVal(i){
        this.val = i;
    },
    updateMin(val){
        this.minAre = val;
        console.log(this.maxAre*2);
        // this.maxAre = (this.maxAre*2);
    },
    setMeta() {
        document.title = "Hallo maman"
    },
    getListPelelangan() {
      this.isLoadingPelelangan = true;
      axios
        .get("/api/getListPelelangan")
        .then(response => {
          this.listPelelangan = response.data;
          setTimeout(() => {
            this.isLoadingPelelangan = false
          },3000)
        });
    },
    getListPengumuman() {
      this.isLoadingPengumuman = true;
      axios
        .get("/api/getListPengumuman")
        .then(response => {
          this.listPengumuman = response.data;
          setTimeout(() => {
            this.isLoadingPengumuman = false
          },3000)
        });
    },
    getListBerita() {
      this.isLoadingBerita = true;
      axios
        .get("/api/getListBerita")
        .then(response => {
          this.listBerita = response.data;
          setTimeout(() => {
            this.isLoadingBerita = false
          },3000)
        });
    },
    getBanner(){
      axios
          .get("/api/getcontentBanner")
          .then(response => {
            this.banner = response.data;
          });
    },
    getCounter(){
      axios
          .get("/api/getcontentCounter")
          .then(response => {
            this.counterz.rekanan = response.data.rekanan
            this.counterz.barang = response.data.barang
            this.counterz.kontruksi = response.data.kontruksi
            this.counterz.badanusaha = response.data.badanusaha
            this.counterz.perorangan = response.data.perorangan
          });

    },
    getContent(){
      axios
          .get("/api/getcontentMainTentangKami")
          .then(response => {
            this.contentTentangKamiThumb = response.data[0].tentangkami_thumb;
            this.contentTentangKamiThumbEN = response.data[0].tentangkami_thumbEN;
          });
    },
    getLanding(){
      axios
          .get("/api/getcontentLanding")
          .then(response => {
            this.tagline1 = response.data.tagline1;
            this.tagline2 = response.data.tagline2;
            this.tagline3 = response.data.tagline3;
            this.landingGambar = response.data.gambar;
          });
    },
    getVisiMisi(){
        axios
            .get("/api/getcontentVisiMisi")
            .then(response => {
              this.visimisi.isiVisiMisi1 = response.data.isi_visimisi[0]
              this.visimisi.isiVisiMisiEN1 = response.data.isi_visimisiEN[0]
              this.visimisi.isiVisiMisi2 = response.data.isi_visimisi[1]
              this.visimisi.isiVisiMisiEN2 = response.data.isi_visimisiEN[1]
              this.visimisi.isiVisiMisi3 = response.data.isi_visimisi[2]
              this.visimisi.isiVisiMisiEN3 = response.data.isi_visimisiEN[2]
              this.visimisi.isiVisiMisi4 = response.data.isi_visimisi[3]
              this.visimisi.isiVisiMisiEN4 = response.data.isi_visimisiEN[3]
              this.visimisi.isiVisiMisi5 = response.data.isi_visimisi[4]
              this.visimisi.isiVisiMisiEN5 = response.data.isi_visimisiEN[4]
              this.visimisi.isiVisiMisi6 = response.data.isi_visimisi[5]
              this.visimisi.isiVisiMisiEN6 = response.data.isi_visimisiEN[5]
            });
    },
    getAreWe(){
      axios
          .get("/api/getcontentAreWe")
          .then(response => {
            this.arewe = response.data;
            this.areweCn = Math.ceil(this.arewe.length / 4)
          });
    },

    seeDetail(id){
      this.$router.push({ name: 'detailpengumuman', params: {id: id} });
    },

    seeDetailPelelangan(id){
      this.$router.push({ name: 'detailpelelangan', params: {id: id} });
    },
    // ikutPelelangan(id){
    //   this.$router.push({ name: 'detailpelelangan', params: {id: id} });
    // },

    seeDetailBerita(id){
      this.$router.push({ name: 'detailberita', params: {id: id} });
    },

    formatAlamat(lngLat){
        var alamat;
        axios
          .get("api/getMap/"+lngLat)
          .then(response => {
            this.viewAlamat = ''
            this.viewAlamat = response.data[0].Response.View[0].Result[0].Location.Address.Label;
        }); 
    },
    formatTime(value) {
      if(value !== 0){
        return moment(value, "HH:mm:ss").format("hh:mm");
      }
    },
    formatDate(value) {
        return moment(value).format("DD MMMM YYYY");
    },
    formatPrice(value) {
        let val = (value/1).toFixed(2).replace('.', ',')
        return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")
    },
    copylink(){
        var copyText = baseUrl+'/detailPengumumanShare?id=';

        /* Select the text field */
        // copyText.select();
        // copyText.setSelectionRange(0, 99999); 
        /*For mobile devices*/

        /* Copy the text inside the text field */
        // document.execCommand("copy");
        alert(copyText)
    }
  }
};
</script>

<style scoped>
/* TITRE */
h1 {
  margin-top: 0;
  font-size: 3rem;
  display: inline-block;
}
h1 div {
  position: relative;
  float: left;
}
h1 div:first-child {
  color: #3498db;
  margin-right: 1rem;
}
/* PROFIL */
.berita .carousel-indicators {
    left: 0;
    top: auto;
    bottom: -40px;

}

/* The colour of the indicators */
.berita .carousel-indicators li {
    background: #a3a3a3;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    margin-bottom:10px;
    
}

.berita .carousel-indicators .active {
background: #707070;
margin-bottom:10px;
}

.our-team-section {
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;
}
.our-team-section:before {
  position: absolute;
  top: -0;
  left: 0;
  content: " ";
  background-color: transparent;
  background-size: 100% 100px;
  width: 100%;
  height: 100px;
  float: left;
  z-index: 99;
}
.our-team {
  padding: 0 0 40px;
  background: #f9f9f9;
  text-align: center;
  overflow: hidden;
  position: relative;
  border-bottom: 5px solid #00325a;
}
/*.our-team:hover {
  border-bottom: 5px solid #2f2f2f;
}*/

.our-team .pic {
  display: inline-block;
  width: 130px;
  height: 130px;
  margin-bottom: 50px;
  z-index: 1;
  position: relative;
}
.our-team .pic:before {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #00325a;
  position: absolute;
  bottom: 135%;
  right: 0;
  left: 0;
  opacity: 1;
  transform: scale(3);
  transition: all 0.3s linear 0s;
}
/*.our-team:hover .pic:before {
  height: 100%;
  background: #2f2f2f;
}*/
/*.our-team .pic:after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #ffffff00;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transition: all 0.3s linear 0s;
}*/
/*.our-team:hover .pic:after {
  background: #7ab92d;
}*/
.our-team .pic img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transform: scale(1);
  transition: all 0.9s ease 0s;
  box-shadow: 0 0 0 14px #f7f5ec;
  transform: scale(0.7);
  position: relative;
  z-index: 2;
}
/*.our-team:hover .pic img {
  box-shadow: 0 0 0 14px #f7f5ec;
  transform: scale(0.7);
}*/
.our-team .team-content {
  margin-bottom: 30px;
}
.our-team .title {
  font-size: 22px;
  font-weight: 700;
  color: #4e5052;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin-bottom: 5px;
}
.our-team .post {
  display: block;
  font-size: 15px;
  color: #4e5052;
  text-transform: capitalize;
}
.our-team .social {
  width: 100%;
  padding-top: 10px;
  margin: 0;
  background: #2f2f2f;
  position: absolute;
  bottom: -100px;
  left: 0;
  transition: all 0.5s ease 0s;
}
/*.our-team:hover .social {
  bottom: 0;
}*/
.our-team .social li {
  display: inline-block;
}
.our-team .social li a {
  display: block;
  padding-top: 6px;
  font-size: 15px;
  color: #fff;
  transition: all 0.3s ease 0s;
}
/*.our-team .social li a:hover {
  color: #2f2f2f;
  background: #f7f5ec;
}*/
@media only screen and (max-width: 990px) {
  .our-team {
    margin-bottom: 10px;
  }
}

.image{
      position:relative;
      overflow:hidden;
      padding-bottom:100%;
  }
  .image img{
        position: absolute;
        max-width: 100%;
        max-height: 100%;
        width: 100%;
        /*height: 100%;*/
        top: 50%;
        left: 50%;
        /*object-fit: cover;*/
        transform: translateX(-50%) translateY(-50%);
  }  

.mobile-social-share {
    background: none repeat scroll 0 0 #EEEEEE;
    display: block !important;
    min-height: 70px !important;
    margin: 50px 0;
}

.mobile-social-share h3 {
    color: inherit;
    float: left;
    font-size: 15px;
    line-height: 20px;
    margin: 25px 25px 0 25px;
}

.share-group {
    float: right;
    /*margin: 18px 25px 0 0;*/
}

.btn-group {
    display: inline-block;
    font-size: 0;
    position: relative;
    vertical-align: middle;
    white-space: nowrap;
}

.mobile-social-share ul {
    float: right;
    list-style: none outside none;
    margin: 0;
    min-width: 61px;
    padding: 0;
}

.share {
    min-width: 17px;
}

.mobile-social-share li {
    display: block;
    font-size: 18px;
    list-style: none outside none;
    margin-bottom: 3px;
    margin-left: 4px;
    margin-top: 3px;
}

.btn-share {
    background-color: #BEBEBE;
    border-color: #CCCCCC;
    color: #333333;
}


.caret {
    border-left: 4px solid rgba(0, 0, 0, 0);
    border-right: 4px solid rgba(0, 0, 0, 0);
    border-top: 4px solid;
    display: inline-block;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    width: 0;
}

#socialShare {
    /*max-width:59px;*/
    /*margin-bottom:18px;*/
}

#socialShare > a{
    padding: 6px 10px 6px 10px;
}

@media (max-width : 320px) {
    #socialHolder{
        padding-left:5px;
        padding-right:5px;
    }
    
    .mobile-social-share h3 {
        margin-left: 0;
        margin-right: 0;
    }
    
    #socialShare{
        margin-left:5px;
        margin-right:5px;
    }
    
    .mobile-social-share h3 {
        font-size: 15px;
    }
}

@media (max-width : 238px) {
    .mobile-social-share h3 {
        font-size: 12px;
    }
}

@media (max-width: 576px){
    .carousel {
        margin-top: 0px !important;
    }
}



</style>
