<template>
  <div>
    <!-- breadcrumb start-->
    <section class="breadcrumb breadcrumb_bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb_iner text-center">
                        <div class="breadcrumb_iner_item">
                            <h2 style="font-family: 'GothamBold'">{{ $t('message.sectionProfile1')}}</h2>
                            <p style="font-family: 'GothamNarrow'">{{ $t('message.sectionJaringan1')}}<span>/</span>{{ $t('message.sectionProfile1')}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb start-->

    <template v-if="viewDetail == true">
      <!-- View Area -->
      <section class="blog_part padding_top" id="detail">
          <div class="container">
              <div class="row justify-content-center">
                  <div class="col-xl-5">
                      <div class="section_tittle text-center">
                          <h2 style="font-family: 'GothamBold'">{{ $t('message.sectionProfile2')}}</h2>
                      </div>
                  </div>
              </div>
              <div class="row">
                <div class="col-md-6" align="left">
                  <a type="button" class="btn_2" @click="back()" style="background-color:#ffffff">{{ $t('message.sectionJaringanbtn3')}}</a>
                </div>
                <div class="form-group col-md-6" align="right">
                </div>
              </div>
              <br>
              <div class="row">
                <template v-for="details in detailVendor">
                  <div class="col-sm-12 col-lg-12 col-xl-12">
                    <loading :active.sync="isLoading"
                                         :can-cancel="canCancel"
                                         :is-full-page="fullPage"
                                         :height="height"
                                         :width="width"
                                         :color="color"
                                         :loader="loader"
                                         :z-index="zindex"
                                         :background-color="bgColor"></loading>
                      <div class="single-home-blog">
                          <div class="card">
                              <div class="card-body" style="border: 1px solid #d4d4d4;">
                                <div class="row">
                                  <div class="col-md-12" >
                                    <div class="section_tittle text-center" style="margin-bottom: 0px;">
                                      <a href="#">
                                        <h4 style="color: #ff663b;font-weight: 600;font-size: 24pt;">{{details.nama_vendor}}</h4>
                                      </a>
                                    </div>
                                    <div class="">
                                        <img :src="`uploads/logo_vendor/`+details.logo_vendor" @error="(() => details.logo_vendor = 'uploads/logo_vendor/imgDefault.png')" class="card-img-top" alt="logo" style="max-width:50%;width:50%;height:auto;margin-left: auto;margin-right: auto;display: block;">
                                    </div>
                                    <br><br>
                                    <table border='0' width="50%" style="margin: 0 auto;">
                                      <tbody>
                                        <tr>
                                          <td width="30%">
                                            <p style="font-weight:500;color: #0c2e60;">{{ $t('message.sectionProfile3')}}</p>
                                          </td>
                                          <td width="80%">
                                            <p>{{details.nama_narahubung}}</p>
                                          </td>
                                        </tr>
                                        <tr>
                                          <td width="30%">
                                            <p style="font-weight:500;color: #0c2e60;">{{ $t('message.sectionProfile4')}}</p>
                                          </td>
                                          <td width="80%">
                                            <p>{{details.email_narahubung}}</p>
                                          </td>
                                        </tr>
                                        <tr>
                                          <td width="30%">
                                            <p style="font-weight:500;color: #0c2e60;">{{ $t('message.sectionProfile5')}}</p>
                                          </td>
                                          <td width="80%">
                                            <p>{{details.email_vendor}}</p>
                                          </td>
                                        </tr>
                                        <tr>
                                          <td width="30%">
                                            <p style="font-weight:500;color: #0c2e60;">{{ $t('message.sectionProfile9')}}</p>
                                          </td>
                                          <td width="80%">
                                            <p>{{details.provinsi_vendor}}</p>
                                          </td>
                                        </tr>
                                        <tr>
                                          <td width="30%">
                                            <p style="font-weight:500;color: #0c2e60;">{{ $t('message.sectionProfile10')}}</p>
                                          </td>
                                          <td width="80%">
                                            <p>{{details.kota_vendor}}</p>
                                          </td>
                                        </tr>
                                        <tr>
                                          <td width="30%">
                                            <p style="font-weight:500;color: #0c2e60;">{{ $t('message.sectionProfile11')}}</p>
                                          </td>
                                          <td width="80%">
                                            <p>{{details.deskripsi_vendor}}</p>
                                          </td>
                                        </tr>
                                        <tr>
                                          <td width="30%">
                                            <p style="font-weight:500;color: #0c2e60;">Website</p>
                                          </td>
                                          <td width="80%">
                                            <p>{{details.web_vendor}}</p>
                                          </td>
                                        </tr>
                                        <tr>
                                          <td width="30%">
                                            <p style="font-weight:500;color: #0c2e60;">Facebook</p>
                                          </td>
                                          <td width="80%">
                                            <p>{{details.facebook_vendor}}</p>
                                          </td>
                                        </tr>
                                        <tr>
                                          <td width="30%">
                                            <p style="font-weight:500;color: #0c2e60;">Instagram</p>
                                          </td>
                                          <td width="80%">
                                            <p>{{details.instagram_vendor}}</p>
                                          </td>
                                        </tr>
                                        <tr>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </div>
                                </div>
                              </div>
                          </div>
                      </div>
                  </div>
                </template>
              </div>
              <br>
          </div>
      </section>
      <!-- End View Area -->
    </template>
    <template v-if="viewDetail == false">
      <!-- List Vendor -->
      <section class="special_cource padding_top" style="padding-bottom: 50px;" id="listVendor">
          <div class="container">
              <div class="row justify-content-center">
                  <div class="col-xl-5">
                      <div class="section_tittle text-center">
                          <h2>{{ $t('message.sectionProfile1')}}</h2>
                      </div>
                  </div>
              </div>
              <div class="row">
                <div class="col-sm-12 col-lg-12 col-xl-12" style="margin-bottom:50px;">
                  <div class="row">
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-4" style="margin-top: 10px;">
                      <input
                        type="textfield"
                        class="search"
                        placeholder="Search your Vendor name"
                        v-model="searchh"
                        v-on:keyup="cari()"
                        autocomplete="off"
                        required
                      >
                    </div>
                    <div class="col-md-4">
                      <!-- <a type="button" href="#listVendor" class="btn_1" @click="cari()">Search</a> 
                      <a type="button" href="#listVendor" class="btn_2" @click="reset()" style="background-color:#ffffff">Reset</a> -->
                    </div>
                  </div>
                </div>
                <div class="col-md-12 col-lg-12" style="min-height:500px;">
                  <loading :active.sync="isLoading"
                                       :can-cancel="canCancel"
                                       :is-full-page="fullPage"
                                       :height="height"
                                       :width="width"
                                       :color="color"
                                       :loader="loader"
                                       :z-index="zindex"
                                       :background-color="bgColor"></loading>
                  <div class="row">
                    <template v-if="list < listVendor.length" v-for="list in listVendorToShow">
                      <div class="col-sm-6 col-lg-4 col-xl-4" style="margin-top:20px;">
                        <div class="single_special_cource">
                          <div class="special_cource_text" style="border: 1px solid #edeff2;border-radius: 25px;">
                            <div class="image">
                                <img :src="`uploads/logo_vendor/`+listVendor[list].logo_vendor" @error="(() => listVendor[list].logo_vendor = 'uploads/logo_vendor/imgDefault.png')" class="card-img-top" alt="logo" style="margin-bottom:10px;">
                            </div>
                            <template v-if="listVendor[list].nama_vendor.length <= 45">
                              <a href="#" @click="seeDetail(list)"><h3 style="font-size:20px;height:60px;">{{listVendor[list].nama_vendor}}</h3></a>
                            </template>
                            <template v-if="listVendor[list].nama_vendor.length > 45">
                              <a href="#" @click="seeDetail(list)"><h3 style="font-size:20px;height:60px;">{{listVendor[list].nama_vendor.substring(0, 45)}}. . .</h3></a>
                            </template>
                            <div class="author_info">
                                <div class="author_info_text">
                                    <p>{{ $t('message.sectionProfile3')}}:</p>
                                    <h5 style="font-size:20px;height:40px;">{{listVendor[list].nama_narahubung}}</h5>
                                </div>
                                <div class="author_rating">
                                  <a type="button" href="#detail" class="btn_4" @click="seeDetail(list)" style="color:#fff;">{{ $t('message.sectionProfilebtn1')}}</a>
                                </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </template>
                  </div>
                </div>
              </div>
              <template v-if="listVendor.length > 6">
                <div class="col-sm-12 col-lg-12 col-xl-12" style="margin-bottom:50px;margin-top:50px;" align="center">
                  <a type="button" class="btn_2" @click="more()" style="background-color:#ffffff">{{ $t('message.sectionProfilebtn2')}}</a>
                </div>
              </template>
          </div>
      </section>
      <!-- End List Vendor -->
    </template>

  </div>
</template>

<!-- script js -->
<script>
import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.css';
import Select2 from 'v-select2-component';
import moment from 'moment';
moment.locale("id");

export default {
  name: 'profilevendor',
  components: {
    Select2,
    'social-sharing': SocialSharing,
    Loading
  },
  data() {
    return {
      baseUrl:'',
      isLoading: false,
      fullPage: false,
      canCancel: false,
      useSlot: false,
      loader: 'spinner',
      bgColor: '#ffffff',
      height: 128,
      width: 128,
      color: '#1D437D',
      zindex: 9998,
      count: 0,
      viewDetail: false,
      loading: false,
      category: 'kosong',
      cluster: 'kosong',
      scope: 'kosong',
      searchh: '',
      imgSrc: 'theme/avatar.png',
      listVendor: [],
      listVendorToShow: 6,
      detailVendor: [],
      idVendor: '',
    };
  },
  created() { 
    this.getList()
    var base_url = window.location.origin;
    this.baseUrl = base_url
  },
  mounted() {
    window.scrollTo(0, 500);
  },
  methods: {
    back(){
      this.viewDetail = false
    },
    getList() {
      this.isLoading = true;
      axios
        .get("/api/getListVendor/" + (this.listVendorToShow - 6))
        .then(response => {
          this.listVendor = response.data;
          setTimeout(() => {
            this.isLoading = false
          },3000)
        });
    },
    more() {
      this.listVendorToShow += 6;
      this.isLoading = true;
      axios
        .get("/api/getListVendor/" + (this.listVendorToShow - 6))
        .then(response => {
          var listlist = this.listVendor;
          response.data.forEach(function(puki, index) {
            listlist.push(puki);
          });
          this.listVendor = listlist;
          setTimeout(() => {
            this.isLoading = false
          },3000)
        });
    },
    seeDetail(list){
      let index = [list];
      let indexArr = [];
      for(var i=0; i<index.length; i++) {
          indexArr.push(this.listVendor[index[i]]);
      }
      this.detailVendor = indexArr;
      // this.getListPraktikbyID(this.detailVendor[0].id_vendor)
      this.idVendor = this.detailVendor[0].id_vendor
      this.viewDetail = true
    },
    cari() {
      if(this.searchh !== ''){
        this.isLoading = true;
        axios
          .get("/api/getListVendorSearch/" + this.searchh)
          .then(response => {
          this.listVendor = response.data;
          setTimeout(() => {
            this.isLoading = false
          },3000)
        });
      } else {
          this.reset()
      }
    },
    reset() {
      axios
        .get("/api/getListVendor/" + 0)
        .then(response => {
          this.listVendor = response.data;
          this.viewDetail = false
        });
        this.searchh = ''
        this.category = 'kosong'
        this.cluster = 'kosong'
        this.scope = 'kosong'
    },
    formatTime(value) {
        return moment(value, "HH:mm:ss").format("hh:mm");
    },
    formatDate(value) {
        return moment(value).format("DD MMMM YYYY");
    }
  }
};
</script>

<style scoped>
  .image{
      position:relative;
      overflow:hidden;
      padding-bottom:100%;
  }
  .image img{
        position: absolute;
        max-width: 100%;
        max-height: 100%;
        width: 100%;
        /*height: 100%;*/
        top: 50%;
        left: 50%;
        /*object-fit: cover;*/
        transform: translateX(-50%) translateY(-50%);
  }   

  .search {
      box-sizing: border-box;
      cursor: pointer;
      display: block;
      height: 28px;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      -webkit-user-select: none;
      background-color: #fff;
      border: 1px solid #aaa;
      border-radius: 4px;
      display: block;
      padding-left: 8px;
      padding-right: 20px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 100%;
  }

</style>