<template>
  <div>
    <!-- breadcrumb start-->
    <section class="breadcrumb breadcrumb_bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb_iner text-center">
                        <div class="breadcrumb_iner_item">
                            <h2>{{ $t('message.sectionReg1')}}</h2>
                            <p>Home<span>/</span>{{ $t('message.sectionReg1')}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb start-->

    <!-- Vision part start-->
    <section class="learning_part" style="padding: 60px 0px 0px;">
        <div class="container">
            <div class="row align-items-sm-center align-items-lg-stretch">
                <!-- <div class="col-md-5 col-lg-5">
                    <div class="learning_member_text">
                        <h5>{{ $t('message.sectionReg1')}}</h5>
                        <h2>SemuaMurid<br>SemuaGuru</h2>
                        <p v-html="$t('message.sectionReg2')"> 
                        </p>
                    </div>
                    <img src="themeLanding/img/learning_img.png" alt="">
                </div> -->
                <div class="col-md-12 col-lg-12"> 
                    <div class="learning_member_text2">
                      <form id="formVendor" @submit.prevent="addData()" autocomplete="off">
                        <div class="accordion" id="accordionExample0">
                            <div class="collapse-border-item collapse-header card collapse-bordered" id="primaryThis">
                                <div class="card-header" id="heading200" data-toggle="collapse" role="button" data-target="#collapse200" aria-expanded="false" aria-controls="collapse200">
                                    <span class="lead collapse-title">
                                        <h4>{{ $t('message.sectionReg3')}} <small style="color:red"> *required</small></h4>
                                        <template v-if="primary == true">
                                          <div class="alert alert-primary" role="alert">
                                            <span>
                                              Valid
                                            </span>
                                          </div>
                                        </template>
                                        <template v-else-if="primary == false">
                                          <div class="alert alert-danger" role="alert">
                                            <span>
                                              Please fill in all data labeled *required
                                            </span>
                                          </div>
                                        </template>
                                        
                                    </span>
                                </div>
                                <div id="collapse200" class="collapse" :class="{show:primary !== true}"  aria-labelledby="heading200" data-parent="#accordionExample0">
                                    <div class="card-body">
                                        <div class="modal-body">
                                          <div class="row">
                                            <div class="form-group col-md-6">
                                              <label class="form-control-label" for="inputBasicFirstName">Vendor Logo <small style="color:red"> *required</small></label>
                                              <!-- <div class="img-cropper">
                                                <vue-cropper
                                                  ref="cropper"
                                                  class="img-crop"
                                                  :aspect-ratio="1 / 1"
                                                  :cropBoxMovable="true"
                                                  :cropBoxResizable="false"
                                                  :autoCrop="true"
                                                  :autoCropArea="1"
                                                  :viewMode="3"
                                                  :minCropBoxWidth="200"
                                                  :minCropBoxHeight="200"
                                                  :minContainerWidth="200"
                                                  :minContainerHeight="200"
                                                  :background="false"
                                                  :src="imgSrc"
                                                  preview=".preview"
                                                  dragMode="move"
                                                />
                                              </div> -->
                                              <div class="img-cropper">
                                                <vue-cropper
                                                  ref="cropper"
                                                  class="img-crop"
                                                  :cropBoxMovable="true"
                                                  :cropBoxResizable="true"         
                                                  :background="false"
                                                  :src="imgSrc"
                                                  preview=".preview"
                                                  dragMode="move"
                                                />
                                              </div>
                                            <br>
                                            <input
                                              ref="input"
                                              type="file"
                                              id="imageIn"
                                              name="image"
                                              accept="image/*"
                                              @change="setImage"
                                            /> 
                                            <br><br>
                                            <button type="button" class="btn btn-primary btn-block" @click.prevent="cropImage">Crop & Preview</button> <small style="color:red"> *required</small>
                                            </div>
                                            <div class="form-group col-md-6" style="text-align: center;">
                                              <label class="form-control-label" for="inputBasicFirstName">Preview <small style="color:red"> *required</small></label>
                                              <img
                                                class="form-control"
                                                v-if="cropImg"
                                                :src="cropImg"
                                                alt="Cropped Image"
                                                style="width: 50%;height: auto;margin: auto;"
                                              />
                                            </div>
                                            <div class="form-group col-md-12">
                                              <label class="form-control-label" for="inputBasicFirstName">{{ $t('message.sectionReg4')}} <small style="color:red"> *required</small></label>
                                              <input
                                                type="textfield"
                                                class="form-control"
                                                placeholder="Input your Vendor Name"
                                                v-model="form.namaVendor"
                                                autocomplete="off"
                                                required
                                              >
                                            </div>
                                            <div class="form-group col-md-12">
                                              <label class="form-control-label" for="inputBasicFirstName">{{ $t('message.sectionReg5')}} <small style="color:red"> *required</small></label>
                                              <textarea class="maxlength-textarea form-control" data-plugin="maxlength" data-placement="bottom-right-inside" rows="3" placeholder="Input description" v-model="form.deskripsiVendor" required></textarea>
                                            </div>
                                            <div class="form-group col-md-12">
                                              <label class="form-control-label">{{ $t('message.sectionReg10')}}<small style="color:red"> *required</small></label>
                                              <div class="col-md-12">
                                                <Select2 id="jenisvendor" v-model="form.jenisVendor" :options="myOptionsJenis" :settings="{ placeholder: 'Select a Tipe', width: '100%' }" required/>
                                              </div>
                                            </div>
                                            <div class="form-group col-md-6">
                                              <label class="form-control-label" for="inputBasicLastName">{{ $t('message.sectionReg6')}} <small style="color:red"> *required</small></label>
                                              <input
                                                type="textfield"
                                                class="form-control"
                                                placeholder="Input your PIC Name"
                                                v-model="form.namaNarahubung"
                                                autocomplete="off"
                                                required
                                              >
                                            </div>
                                            <div class="form-group col-md-6">
                                              <label class="form-control-label" for="inputBasicLastName">{{ $t('message.sectionReg7')}} <small style="color:red"> *required</small></label>
                                              <input
                                                type="email"
                                                class="form-control"
                                                placeholder="Input your Email PIC"
                                                v-model="form.emailNarahubung"
                                                autocomplete="off"
                                                required
                                              >
                                            </div>
                                            <div class="form-group col-md-6">
                                              <label class="form-control-label" for="inputBasicLastName">{{ $t('message.sectionReg8')}} <small style="color:red"> *required</small></label>
                                              <input
                                                type="number"
                                                class="form-control"
                                                placeholder="Input your Telephone PIC"
                                                v-model="form.tlpNarahubung"
                                                autocomplete="off"
                                                required
                                              >
                                            </div>
                                            <div class="form-group col-md-12">
                                              <label class="form-control-label" for="inputBasicLastName">{{ $t('message.sectionReg11')}} <small style="color:red"> *required</small></label>
                                              <input
                                                type="email"
                                                class="form-control"
                                                placeholder="Input your Vendor email"
                                                v-model="form.emailVendor"
                                                autocomplete="off"
                                                required
                                              >
                                            </div>
                                            <div class="form-group col-md-6">
                                              <label class="form-control-label" for="inputBasicLastName">{{ $t('message.sectionReg29')}} <small style="color:red"> *required</small></label>
                                              <input
                                                type="number"
                                                class="form-control"
                                                placeholder="Input your Telp"
                                                v-model="form.tlpVendor"
                                                autocomplete="off"
                                                required
                                              >
                                            </div>
                                            <div class="form-group col-md-6">
                                              <label class="form-control-label" for="inputBasicLastName">{{ $t('message.sectionReg30')}} <small style="color:red"> *required</small></label>
                                              <input
                                                type="number"
                                                class="form-control"
                                                placeholder="Input your Fax"
                                                v-model="form.faxVendor"
                                                autocomplete="off"
                                                required
                                              >
                                            </div>
                                            <div class="form-group col-md-12">
                                              <label class="form-control-label">{{ $t('message.sectionReg37')}}<small style="color:red"> *required</small></label>
                                              <textarea class="maxlength-textarea form-control" data-plugin="maxlength" data-placement="bottom-right-inside" maxlength="100" rows="3" placeholder="Input address" v-model="form.alamatVendor" required></textarea>
                                            </div>
                                            <div class="form-group col-md-6">
                                              <label class="form-control-label" for="inputBasicLastName">{{ $t('message.sectionReg14')}} <small style="color:red"> *required</small></label>
                                              <input
                                                type="textfield"
                                                class="form-control"
                                                placeholder="Input your work province"
                                                v-model="form.provinsiVendor"
                                                autocomplete="off"
                                                required
                                              >
                                            </div>
                                            <div class="form-group col-md-6">
                                              <label class="form-control-label" for="inputBasicLastName">{{ $t('message.sectionReg15')}} <small style="color:red"> *required</small></label>
                                              <input
                                                type="textfield"
                                                class="form-control"
                                                placeholder="Input your work city"
                                                v-model="form.kotaVendor"
                                                autocomplete="off"
                                                required
                                              >
                                            </div>
                                            <div class="form-group col-md-6">
                                              <label class="form-control-label" for="inputBasicLastName">{{ $t('message.sectionReg31')}} <small style="color:red"> *required</small></label>
                                              <input
                                                type="number"
                                                class="form-control"
                                                placeholder="Input your Postal Code"
                                                v-model="form.kodeposVendor"
                                                autocomplete="off"
                                                required
                                              >
                                            </div>
                                            <div class="form-group col-md-12">
                                              <label class="form-control-label" for="inputBasicFirstName">{{ $t('message.sectionReg16')}}</label>
                                              <input
                                                type="textfield"
                                                class="form-control"
                                                placeholder="https://webvendor.com"
                                                v-model="form.webVendor"
                                                autocomplete="off"
                                              >
                                            </div>
                                            <div class="form-group col-md-12">
                                              <label class="form-control-label" for="inputBasicFirstName">{{ $t('message.sectionReg18')}}</label>
                                              <input
                                                type="textfield"
                                                class="form-control"
                                                placeholder="https://facebook.com/namavendor"
                                                v-model="form.facebookVendor"
                                                autocomplete="off"
                                              >
                                            </div>
                                            <div class="form-group col-md-12">
                                              <label class="form-control-label" for="inputBasicFirstName">{{ $t('message.sectionReg19')}}</label>
                                              <input
                                                type="textfield"
                                                class="form-control"
                                                placeholder="https://instagram.com/akunvendor"
                                                v-model="form.instagramVendor"
                                                autocomplete="off"
                                              >
                                            </div>
                                            <div class="form-group col-md-12">
                                              <label class="form-control-label" for="inputBasicLastName">{{ $t('message.sectionReg32')}} <small style="color:red"> *required</small></label>
                                              <ul class="list-unstyled mb-0">
                                                  <li class="d-inline-block mr-2">
                                                    <table>
                                                      <tbody>
                                                        <tr>
                                                          <td><input type="radio" id="inputBasicYes" value="Yes" v-model="form.cabangVendor" @change="cekCabang(1)" :checked="form.cabangVendor == 'Yes'" required/></td>
                                                          <td><label for="inputBasicYes" style="padding-left: 5px;">Yes</label></td>
                                                        </tr>
                                                      </tbody>
                                                    </table>                                 
                                                  </li>
                                                  <li class="d-inline-block mr-2">
                                                    <table>
                                                      <tbody>
                                                        <tr>
                                                          <td><input type="radio" id="inputBasicNo" value="No" v-model="form.cabangVendor" @change="cekCabang(0)" :checked="form.cabangVendor == 'No'" required/></td>
                                                          <td><label for="inputBasicNo" style="padding-left: 5px;">No</label></td>
                                                        </tr>
                                                      </tbody>
                                                    </table>
                                                  </li>
                                              </ul>
                                            </div>
                                            <template v-if="form.cabangVendor == 'Yes'">
                                              <div class="form-group col-md-12">
                                                <label class="form-control-label">{{ $t('message.sectionReg36')}}<small style="color:red"> *required</small></label>
                                                <textarea class="maxlength-textarea form-control" data-plugin="maxlength" data-placement="bottom-right-inside" maxlength="100" rows="3" placeholder="Input address" v-model="form.alamatPusat" required></textarea>
                                              </div>
                                              <div class="form-group col-md-6">
                                                <label class="form-control-label" for="inputBasicLastName">{{ $t('message.sectionReg33')}} <small style="color:red"> *required</small></label>
                                                <input
                                                  type="number"
                                                  class="form-control"
                                                  placeholder="Input your Telp"
                                                  v-model="form.tlpPusat"
                                                  autocomplete="off"
                                                  required
                                                >
                                              </div>
                                              <div class="form-group col-md-6">
                                                <label class="form-control-label" for="inputBasicLastName">{{ $t('message.sectionReg34')}} <small style="color:red"> *required</small></label>
                                                <input
                                                  type="number"
                                                  class="form-control"
                                                  placeholder="Input your Fax"
                                                  v-model="form.faxPusat"
                                                  autocomplete="off"
                                                  required
                                                >
                                              </div>
                                              <div class="form-group col-md-12">
                                                <label class="form-control-label" for="inputBasicLastName">{{ $t('message.sectionReg35')}} <small style="color:red"> *required</small></label>
                                                <input
                                                  type="email"
                                                  class="form-control"
                                                  placeholder="Input your Email"
                                                  v-model="form.emailPusat"
                                                  autocomplete="off"
                                                  required
                                                >
                                              </div>
                                            </template>
                                          </div>
                                        </div>
                                        <div class="modal-footer">
                                          <a type="button" href="#assessmentThis" class="btn btn-primary" @click="primaryCheck()"> Next</a>
                                          <!-- <a type="button" href="#" class="btn btn-primary" @click="primaryCheck()"> Next</a> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="collapse-border-item card collapse-header" id="assessmentThis">
                                <div class="card-header" id="heading210" data-toggle="collapse" role="button" data-target="#collapse210" aria-expanded="false" aria-controls="collapse210">
                                    <span class="lead collapse-title">
                                        <h4>{{ $t('message.sectionReg22')}} <small style="color:red"> *required</small></h4>
                                        <template v-if="assessment == true">
                                          <div class="alert alert-primary" role="alert">
                                            <span>
                                              Valid
                                            </span>
                                          </div>
                                        </template>
                                        <template v-else-if="assessment == false">
                                          <div class="alert alert-danger" role="alert">
                                            <span>
                                              Invalid
                                            </span>
                                          </div>
                                        </template>
                                    </span>
                                </div>
                                <div id="collapse210" class="collapse" :class="{show:primary == true && assessment !== true}" aria-labelledby="heading210" data-parent="#accordionExample0">
                                    <div class="card-body">
                                        <div class="modal-body">
                                          <div class="row">
                                            <div class="form-group col-md-12">
                                              <label class="form-control-label" for="inputBasicLastName">Komisaris / Direksi</label>
                                              <div class="self-evaluation-rows">
                                                <a type="button" class="btn btn-outline-primary" @click="addRowPengurus(number)" v-show="rowsPengurus.length < 10" > Add Row</a>
                                              </div>
                                              <br>
                                              <div class="box-body box-self-evaluation table-responsive">
                                                <table id="example2" class="table table-hover sortable" width="100%">
                                                  <thead>
                                                    <tr>
                                                      <th>Kepengurusan</th>
                                                      <th>Nama</th>
                                                      <th>Jabatan</th>
                                                      <th>No. KTP</th>
                                                      <th>Foto. KTP <small style="color:red"> *required <b>.png</b></small></th>
                                                      <th>Remove</th>
                                                    </tr>
                                                  </thead>

                                                  <tbody>
                                                    <tr v-for="(row, index) in rowsPengurus">
                                                      <td width="20%">
                                                        <div class="input-group">
                                                          <Select2 :id="'pengurus'+index" v-model="row.pengurus" :options="myOptionsPengurus" :settings="{ placeholder: 'Select a Kepengurusan', width: '100%' }" required/>
                                                        </div>
                                                      </td>
                                                      <td width="20%">
                                                        <div class="input-group">
                                                          <input
                                                            type="textfield"
                                                            class="form-control"
                                                            placeholder="Input your Nama"
                                                            v-model="row.namaPengurus"
                                                            autocomplete="off"
                                                            required
                                                          >
                                                        </div>
                                                      </td>
                                                      <td width="20%">
                                                        <div class="input-group">
                                                          <input
                                                            type="textfield"
                                                            class="form-control"
                                                            placeholder="Input your Jabatan"
                                                            v-model="row.jabatan"
                                                            autocomplete="off"
                                                            required
                                                          >
                                                        </div>
                                                      </td>
                                                      <td width="20%">
                                                        <div class="input-group">
                                                          <input
                                                            type="number"
                                                            class="form-control"
                                                            placeholder="Input your No. KTP"
                                                            v-model="row.noKTP"
                                                            autocomplete="off"
                                                            required
                                                          >
                                                        </div>
                                                      </td>
                                                      <td width="20%">
                                                        <div class="input-group">
                                                            <input type="file" :id="'fileKTP'+index" name="fileKTP[]" @change="uploadFilePNG($event,index)" multiple required>
                                                        </div>
                                                      </td>
                                                      <td width="20%">
                                                        <a type="button" class="btn btn-outline-danger" @click="removeRowPengurus(index)" > Remove</a>
                                                      </td>
                                                    </tr>       
                                                  </tbody>
                                                </table>        
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="modal-footer">
                                          <a type="button" href="#primaryThis" class="btn btn-primary" @click="assessmentCheck()"> Next</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card collapse-header collapse-border-item" id="donationThis">
                                <div class="card-header" id="heading220" data-toggle="collapse" role="button" data-target="#collapse220" aria-expanded="false" aria-controls="collapse220">
                                    <span class="lead collapse-title">
                                        <h4>{{ $t('message.sectionReg21')}} <small style="color:red"> *required</small></h4>
                                        <template v-if="donation == true">
                                          <div class="alert alert-primary" role="alert">
                                            <span>
                                              Valid
                                            </span>
                                          </div>
                                        </template>
                                        <template v-else-if="donation == false">
                                          <div class="alert alert-danger" role="alert">
                                            <span>
                                              Invalid
                                            </span>
                                          </div>
                                        </template>
                                    </span>
                                </div>
                                <div id="collapse220" class="collapse" :class="{show:primary == true && assessment == true && donation !== true}" aria-labelledby="heading220" data-parent="#accordionExample0">
                                  <div class="card-body">
                                      <div class="modal-body">
                                        <div class="row">
                                          <div class="form-group col-md-6">
                                            <label class="form-control-label" for="inputBasicLastName">{{ $t('message.sectionReg40')}} <small style="color:red"> *required</small></label>
                                            <input
                                              type="textfield"
                                              class="form-control"
                                              placeholder="Input your Notary"
                                              v-model="form2.notaris"
                                              autocomplete="off"
                                              required
                                            >
                                          </div>
                                          <div class="form-group col-md-6">
                                            <label class="form-control-label" for="inputBasicLastName">{{ $t('message.sectionReg38')}} <small style="color:red"> *required</small></label>
                                            <input
                                              type="number"
                                              class="form-control"
                                              placeholder="Input your No. Akta"
                                              v-model="form2.noAktaDiri"
                                              autocomplete="off"
                                              required
                                            >
                                          </div>
                                          <div class="form-group col-md-6">
                                            <label class="form-control-label" for="inputBasicLastName">{{ $t('message.sectionReg39')}} <small style="color:red"> *required</small></label>
                                            <input id="tanggalIni2" type="date" placeholder="yyyy/mm/dd" pattern="(^(((0[1-9]|1[0-9]|2[0-8])[\/](0[1-9]|1[012]))|((29|30|31)[\/](0[13578]|1[02]))|((29|30)[\/](0[4,6,9]|11)))[\/](19|[2-9][0-9])\d\d$)|(^29[\/]02[\/](19|[2-9][0-9])(00|04|08|12|16|20|24|28|32|36|40|44|48|52|56|60|64|68|72|76|80|84|88|92|96)$)" class="form-control" v-model="form2.tglAktaDiri" autocomplete="off" required>
                                          </div>
                                          <div class="form-group col-md-6">
                                            <label class="form-control-label" for="inputBasicLastName">File {{ $t('message.sectionReg38')}} <small style="color:red"> *required</small></label>
                                            <div class="input-group">
                                              <input type="file" id="file1" ref="file1" @change="uploadFilePDF($event,1)" required/>
                                            </div>
                                          </div>

                                          <div class="form-group col-md-12">
                                            <hr>
                                          </div>
                                          
                                          <div class="form-group col-md-6">
                                            <label class="form-control-label" for="inputBasicLastName">{{ $t('message.sectionReg41')}}</label>
                                            <input
                                              type="textfield"
                                              class="form-control"
                                              placeholder="Input your Notary"
                                              v-model="form2.notarisUbah"
                                              autocomplete="off"
                                              
                                            >
                                          </div>
                                          <div class="form-group col-md-6">
                                            <label class="form-control-label" for="inputBasicLastName">{{ $t('message.sectionReg42')}}</label>
                                            <input
                                              type="number"
                                              class="form-control"
                                              placeholder="Input your No. Akta"
                                              v-model="form2.noAktaUbah"
                                              autocomplete="off"
                                              
                                            >
                                          </div>
                                          <div class="form-group col-md-6">
                                            <label class="form-control-label" for="inputBasicLastName">{{ $t('message.sectionReg43')}}</label>
                                            <input id="tanggalIni3" type="date" placeholder="yyyy/mm/dd" pattern="(^(((0[1-9]|1[0-9]|2[0-8])[\/](0[1-9]|1[012]))|((29|30|31)[\/](0[13578]|1[02]))|((29|30)[\/](0[4,6,9]|11)))[\/](19|[2-9][0-9])\d\d$)|(^29[\/]02[\/](19|[2-9][0-9])(00|04|08|12|16|20|24|28|32|36|40|44|48|52|56|60|64|68|72|76|80|84|88|92|96)$)" class="form-control" v-model="form2.tglAktaUbah" autocomplete="off">
                                          </div>
                                          <div class="form-group col-md-6">
                                            <label class="form-control-label" for="inputBasicLastName">File {{ $t('message.sectionReg42')}}</label>
                                            <div class="input-group">
                                              <input type="file" id="file2" ref="file2" @change="uploadFilePDF($event,1)"/>
                                            </div>
                                          </div>

                                          <div class="form-group col-md-12">
                                            <hr>
                                          </div>

                                          <div class="form-group col-md-6">
                                            <label class="form-control-label" for="inputBasicLastName">{{ $t('message.sectionReg27')}} <small style="color:red"> *required</small></label>
                                            <input
                                              type="number"
                                              class="form-control"
                                              placeholder="Input your NPWP"
                                              v-model="form2.npwpVendor"
                                              autocomplete="off"
                                              required
                                            >
                                          </div>
                                          <div class="form-group col-md-6">
                                            <label class="form-control-label" for="inputBasicLastName">File NPWP <small style="color:red"> *required</small></label>
                                            <div class="input-group">
                                              <input type="file" id="file3" ref="file3" @change="uploadFilePDF($event,1)" required/>
                                            </div>
                                          </div>

                                          <div class="form-group col-md-12">
                                            <hr>
                                          </div>

                                          <div class="form-group col-md-6">
                                            <label class="form-control-label" for="inputBasicLastName">{{ $t('message.sectionReg28')}} <small style="color:red"> *required</small></label>
                                            <input
                                              type="number"
                                              class="form-control"
                                              placeholder="Input your PKP"
                                              v-model="form2.pkpVendor"
                                              autocomplete="off"
                                              required
                                            >
                                          </div>
                                          <div class="form-group col-md-6">
                                            <label class="form-control-label" for="inputBasicLastName">File PKP <small style="color:red"> *required</small></label>
                                            <div class="input-group">
                                              <input type="file" id="file4" ref="file4" @change="uploadFilePDF($event,1)" required/>
                                            </div>
                                          </div>

                                          <div class="form-group col-md-12">
                                            <hr>
                                          </div>
                                          <div class="form-group col-md-12">
                                            <label class="form-control-label" for="inputBasicLastName">IUJK / SIUP <small style="color:red"> *required</small></label>
                                            <div class="self-evaluation-rows">
                                              <a type="button" class="btn btn-outline-primary" @click="addRowIUJK(number)" v-show="rowsIUJK.length < 10" > Add Row</a>
                                            </div>
                                            <br>
                                            <div class="box-body box-self-evaluation table-responsive">
                                              <table id="example2" class="table table-hover sortable" width="100%">
                                                <thead>
                                                  <tr>
                                                    <th>{{ $t('message.sectionReg47')}}</th>
                                                    <th>{{ $t('message.sectionReg50')}}</th>
                                                    <th>{{ $t('message.sectionReg49')}}</th>
                                                  </tr>
                                                </thead>

                                                <tbody>
                                                  <template v-for="(row, index) in rowsIUJK">
                                                    <tr>
                                                      <td width="20%">
                                                        <div class="input-group">
                                                          <input
                                                            type="textfield"
                                                            class="form-control"
                                                            placeholder="Input your no IUJK / SIUP"
                                                            v-model="row.noIujkSiup"
                                                            autocomplete="off"
                                                            @change="selectNoIUJK(row.noIujkSiup)"
                                                            required
                                                          >
                                                        </div>
                                                      </td>
                                                      <td width="20%">
                                                        <div class="input-group">
                                                          <input
                                                            type="textfield"
                                                            class="form-control"
                                                            placeholder="Input your Instansi"
                                                            v-model="row.instansiIujkSiup"
                                                            autocomplete="off"
                                                            required
                                                          >
                                                        </div>
                                                      </td>
                                                      <td width="20%">
                                                        <div class="input-group">
                                                          <input type="date" class="form-control" v-model="row.tglIujkSiup" autocomplete="off">
                                                        </div>
                                                      </td>
                                                    </tr>
                                                    <tr>
                                                      <td width="20%" colspan="2">
                                                        <div class="input-group">
                                                          <input type="file" :id="'file5'+index" name="file5[]" @change="uploadFilePDFIUJK($event,index)" multiple required>
                                                        </div>
                                                      </td>
                                                      <td width="25%">
                                                        <a type="button" class="btn btn-outline-danger" @click="removeRowIUJK(index)" > Remove</a>
                                                      </td>
                                                    </tr> 
                                                  </template>      
                                                </tbody>
                                              </table>        
                                            </div>
                                          </div>
                                          <div class="form-group col-md-12">
                                            <label class="form-control-label" for="inputBasicLastName">{{ $t('message.sectionReg52')}} <small style="color:red"> *required</small></label>
                                            <div class="self-evaluation-rows">
                                              <a type="button" class="btn btn-outline-primary" @click="addRowz(number)" v-show="rowsz.length < 10" > Add Row</a>
                                            </div>
                                            <br>
                                            <div class="box-body box-self-evaluation table-responsive">
                                              <table id="example2" class="table table-hover sortable" width="100%">
                                                <thead>
                                                  <tr>
                                                    <th>No IUJK/SIUP</th>
                                                    <th>Sub Kualifikasi</th>
                                                    <th>Sub Klasifikasi</th>
                                                    <th>Remove</th>
                                                  </tr>
                                                </thead>

                                                <tbody>
                                                  <tr v-for="(row, index) in rowsz">
                                                    <td width="25%">
                                                      <div class="input-group">
                                                        <Select2 :id="'noIUJK1'+index" v-model="row.noIujkSiup" :options="myOptionsNoIUJK" :settings="{ placeholder: 'Select a No IUJK / SIUP', width: '100%' }" required/>
                                                        <!-- <input
                                                          type="textfield"
                                                          class="form-control"
                                                          placeholder="Input your no IUJK / SIUP"
                                                          v-model="row.noIujkSiup"
                                                          autocomplete="off"
                                                          required
                                                        > -->
                                                      </div>
                                                    </td>
                                                    <td width="5%">
                                                      <div class="input-group">
                                                        <Select2 :id="'klasifikasi1'+index" v-model="row.klasifikasi1" :options="myOptionsKlasifikasi1" :settings="{ placeholder: 'Select a Sub Klasifikasi', width: '100%' }" required/>
                                                      </div>
                                                    </td>
                                                    <td width="55%">
                                                      <div class="input-group">
                                                        <Select2 :id="'klasifikasi2'+index" v-model="row.klasifikasi2" :options="myOptionsKlasifikasi2" :settings="{ placeholder: 'Select a Sub Klasifikasi', width: '100%' }" required/>
                                                      </div>
                                                    </td>
                                                    <td width="15%">
                                                      <a type="button" class="btn btn-outline-danger" @click="removeRowz(index)" > Remove</a>
                                                    </td>
                                                  </tr>       
                                                </tbody>
                                              </table>        
                                            </div>
                                          </div>

                                          <div class="form-group col-md-12">
                                            <hr>
                                          </div>
                                          <div class="form-group col-md-12">
                                            <label class="form-control-label" for="inputBasicLastName">SBU <small style="color:red"> *required</small></label>
                                            <div class="self-evaluation-rows">
                                              <a type="button" class="btn btn-outline-primary" @click="addRowSBU(number)" v-show="rowsSBU.length < 10" > Add Row</a>
                                            </div>
                                            <br>
                                            <div class="box-body box-self-evaluation table-responsive">
                                              <table id="example2" class="table table-hover sortable" width="100%">
                                                <thead>
                                                  <tr>
                                                    <th>{{ $t('message.sectionReg48')}}</th>
                                                    <th>{{ $t('message.sectionReg50')}}</th>
                                                    <th>{{ $t('message.sectionReg49')}}</th>
                                                  </tr>
                                                </thead>

                                                <tbody>
                                                  <template v-for="(row, index) in rowsSBU">
                                                    <tr>
                                                      <td width="20%">
                                                        <div class="input-group">
                                                          <input
                                                            type="textfield"
                                                            class="form-control"
                                                            placeholder="Input your no SBU"
                                                            v-model="row.noSbu"
                                                            autocomplete="off"
                                                            @change="selectNoSBU(row.noSbu)"
                                                            required
                                                          >
                                                        </div>
                                                      </td>
                                                      <td width="20%">
                                                        <div class="input-group">
                                                          <input
                                                            type="textfield"
                                                            class="form-control"
                                                            placeholder="Input your Instansi"
                                                            v-model="row.instansiSbu"
                                                            autocomplete="off"
                                                            required
                                                          >
                                                        </div>
                                                      </td>
                                                      <td width="20%">
                                                        <div class="input-group">
                                                          <input type="date" class="form-control" v-model="row.tglSbu" autocomplete="off">
                                                        </div>
                                                      </td>
                                                    </tr>
                                                    <tr>
                                                      <td width="20%" colspan="2">
                                                        <div class="input-group">
                                                          <input type="file" :id="'file6'+index" name="file6[]" @change="uploadFilePDFSBU($event,index)" multiple required>
                                                        </div>
                                                      </td>
                                                      <td width="25%">
                                                        <a type="button" class="btn btn-outline-danger" @click="removeRowSBU(index)" > Remove</a>
                                                      </td>
                                                    </tr> 
                                                  </template>      
                                                </tbody>
                                              </table>        
                                            </div>
                                          </div>
                                          <div class="form-group col-md-12">
                                            <label class="form-control-label" for="inputBasicLastName">{{ $t('message.sectionReg51')}} <small style="color:red"> *required</small></label>
                                            <div class="self-evaluation-rows">
                                              <a type="button" class="btn btn-outline-primary" @click="addRow(number)" v-show="rows.length < 10" > Add Row</a>
                                            </div>
                                            <br>
                                            <div class="box-body box-self-evaluation table-responsive">
                                              <table id="example2" class="table table-hover sortable" width="100%">
                                                <thead>
                                                  <tr>
                                                    <th>No SBU</th>
                                                    <th>Sub Kualifikasi</th>
                                                    <th>Sub Klasifikasi</th>
                                                    <th>Remove</th>
                                                  </tr>
                                                </thead>

                                                <tbody>
                                                  <tr v-for="(row, index) in rows">
                                                    <td width="25%">
                                                      <div class="input-group">
                                                        <Select2 :id="'noSBU1'+index" v-model="row.noSbu" :options="myOptionsNoSBU" :settings="{ placeholder: 'Select a No SBU', width: '100%' }" required/>
                                                        <!-- <input
                                                          type="textfield"
                                                          class="form-control"
                                                          placeholder="Input your no SBU"
                                                          v-model="row.noSbu"
                                                          autocomplete="off"
                                                          required
                                                        > -->                                                      
                                                    </div>
                                                    </td>
                                                    <td width="5%">
                                                      <div class="input-group">
                                                        <Select2 :id="'klasifikasi1'+index" v-model="row.klasifikasi1" :options="myOptionsKlasifikasi1" :settings="{ placeholder: 'Select a Sub Klasifikasi', width: '100%' }" required/>
                                                      </div>
                                                    </td>
                                                    <td width="55%">
                                                      <div class="input-group">
                                                        <Select2 :id="'klasifikasi2'+index" v-model="row.klasifikasi2" :options="myOptionsKlasifikasi2" :settings="{ placeholder: 'Select a Sub Klasifikasi', width: '100%' }" required/>
                                                      </div>
                                                    </td>
                                                    <td width="15%">
                                                      <a type="button" class="btn btn-outline-danger" @click="removeRow(index)" > Remove</a>
                                                    </td>
                                                  </tr>       
                                                </tbody>
                                              </table>        
                                            </div>
                                          </div>


                                        </div>
                                      </div>
                                      <div class="modal-footer">
                                        <a type="button" href="#" class="btn btn-primary" @click="donationCheck()"> Save</a>
                                      </div>
                                  </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                          <!-- <button type="button" class="btn btn-primary" @click="primaryCheck()">Submit</button> -->
                        </div>
                      </form>
                    </div>
                </div>
            </div> 
        </div>
    </section>
    <!-- Vision part end-->

  </div>
</template>

<!-- script js -->
<script>

import moment from 'moment';
moment.locale("id");

import VueCropper from 'vue-cropperjs';
import 'cropperjs/dist/cropper.css';
import Select2 from 'v-select2-component';
import Select2MultipleControl from 'v-select2-multiple-component';

export default {
  name: 'register',
  components: { 
    VueCropper,
    Select2,
    Select2MultipleControl
  },
  data() {
    return {
      count: 0,
      loading: false,
      primary: undefined,
      assessment : undefined,
      donation: undefined,
      mailCheck: true,
      cek: [],
      imgSrc: 'theme/avatar.png',
      cropImg: '',
      imgSrc2: 'theme/avatar.png',
      cropImg2: '',
      rowsIUJK: [],
      rowsSBU: [],
      rows: [],
      rowsz: [],
      rows2: [],
      rowsPengurus: [],
      number: '1',
      promises: [],
      promisesIUJK: [],
      promisesSBU: [],
      form:{
        logoVendor: 'kosong',
        namaVendor: '',
        deskripsiVendor: '',
        namaNarahubung: '',
        emailNarahubung: '',
        tlpNarahubung: '',
        jenisVendor: '',
        emailVendor: '',
        tlpVendor: '',
        faxVendor: '',
        tglVendor: '',
        alamatVendor: '',
        provinsiVendor: '',
        kotaVendor: '',
        kodeposVendor: '',
        webVendor: '',
        facebookVendor: '',
        instagramVendor: '',
        cabangVendor: 'No',
        alamatPusat: '',
        emailPusat: '',
        tlpPusat: '',
        faxPusat: '',
      },
      form2:{
        noAktaDiri: '',
        notaris: '',
        tglAktaDiri: '',
        file1: '',
        noAktaUbah: '',
        notarisUbah: '',
        tglAktaUbah: '',
        file2: '',
        npwpVendor: '',
        file3: '',
        pkpVendor: '',
        file4: '',
        noIujkSiup: '',
        instansiIujkSiup: '',
        tglIujkSiup: '',
        file5: '',
        noSbu: '',
        instansiSbu: '',
        tglSbu: '',
        file6: '',
      },
      form3:{
        namaPemilik: '',
        alamatPemilik: '',
        ktpPemilik: '',
        photoPemilik: 'kosong'
      },
      myOptionsJenis: [],
      myOptionsPengurus: [
        {id:"Komisaris",text:"Komisaris"},
        {id:"Direksi",text:"Direksi"},
      ],
      myOptionsKlasifikasi1: [],
      myOptionsKlasifikasi2: [],
      myOptionsNoIUJK: [],
      myOptionsNoSBU: [],
    };
  },
  created() { 
    this.loadData();
  },
  mounted() {
  },
  methods: {
    selectNoIUJK(params){
      this.myOptionsNoIUJK.push({
        id: params,
        text: params
      });
    },
    selectNoSBU(params){
      this.myOptionsNoSBU.push({
        id: params,
        text: params
      });
    },
    loadData() {

      axios.get("/api/dropdownJenisVendor").then(response => {
        this.myOptionsJenis = response.data;
      });

      axios.get("/api/dropdownSubKlasifikasi1").then(response => {
        this.myOptionsKlasifikasi1 = response.data;
      });

      axios.get("/api/dropdownSubKlasifikasi2").then(response => {
        this.myOptionsKlasifikasi2 = response.data;
      });
    },
    addRow: function(count){
     var numRows = this.rows.length;
     if (numRows >= 10) return;
     for(var i=1; i <= count; i++){
       this.rows.push({});
       if(++numRows == 10) break;
      }
    },
    removeRow: function(index){
      this.rows.splice(index,1);
    },
    addRowz: function(count){
     var numRows = this.rowsz.length;
     if (numRows >= 10) return;
     for(var i=1; i <= count; i++){
       this.rowsz.push({});
       if(++numRows == 10) break;
      }
    },
    removeRowz: function(index){
      this.rowsz.splice(index,1);
    },
    addRowPengurus: function(count){
     var numRows = this.rowsPengurus.length;
     if (numRows >= 10) return;
     for(var i=1; i <= count; i++){
       this.rowsPengurus.push({});
       if(++numRows == 10) break;
      }
    },
    addRowIUJK: function(count){
     var numRows = this.rowsIUJK.length;
     if (numRows >= 10) return;
     for(var i=1; i <= count; i++){
       this.rowsIUJK.push({});
       if(++numRows == 10) break;
      }
    },
    removeRowIUJK: function(index){
      this.rowsIUJK.splice(index,1);
    },
    addRowSBU: function(count){
     var numRows = this.rowsSBU.length;
     if (numRows >= 10) return;
     for(var i=1; i <= count; i++){
       this.rowsSBU.push({});
       if(++numRows == 10) break;
      }
    },
    removeRowSBU: function(index){
      this.rowsSBU.splice(index,1);
    },
    removeRowPengurus: function(index){
      this.rowsPengurus.splice(index,1);
    },
    uploadFilePNG (event,i) {
      if(event.target.files[0].type !== "image/png"){
        $('#fileKTP'+i).val("")
        Swal.fire(
          {
            title: 'Failed!',
            text: 'File harus PNG',
            confirmButtonClass: 'btn btn-success',
          }
        )
      } 
    },
    uploadFilePDF (event,i) {
      if(event.target.files[0].type !== "application/pdf"){
        $('#file'+i).val("")
        Swal.fire(
          {
            title: 'Failed!',
            text: 'File harus PDF',
            confirmButtonClass: 'btn btn-success',
          }
        )
      } 
    },
    uploadFilePDFIUJK (event,i) {
      if(event.target.files[0].type !== "application/pdf"){
        $('#file5'+i).val("")
        Swal.fire(
          {
            title: 'Failed!',
            text: 'File harus PDF',
            confirmButtonClass: 'btn btn-success',
          }
        )
      } 
    },
    uploadFilePDFSBU (event,i) {
      if(event.target.files[0].type !== "application/pdf"){
        $('#file5'+i).val("")
        Swal.fire(
          {
            title: 'Failed!',
            text: 'File harus PDF',
            confirmButtonClass: 'btn btn-success',
          }
        )
      } 
    },
    check(){
      if ( $('#tanggalIni1').prop('type') != 'date' || $('#tanggalIni2').prop('type') != 'date' || $('#tanggalIni3').prop('type') != 'date') {
        $('#tanggalIni1').datepicker();
        $('#tanggalIni2').datepicker();
        $('#tanggalIni3').datepicker();
        $('#tanggalIni4').datepicker();
        $('#tanggalIni5').datepicker();
      }

      if ($('#inputBasicNotAvailable').is(':checked')) {
        $('#informationDonasi').prop('disabled', false)
        $('#donation').prop('disabled', true)
        this.form3.konfirmasiDonasi = ""
      } else if ($('#inputBasicBelow600').is(':checked') || $('#inputBasicAbove600').is(':checked')) {
        $('#informationDonasi').prop('disabled', true)
        $('#donation').prop('disabled', false)
        this.form3.konfirmasiDonasi = ""
        this.form3.tdkBersedia = ""
      } else if ($('#inputBasic600').is(':checked')) {
        $('#informationDonasi').prop('disabled', true)
        $('#donation').prop('disabled', true)
        this.form3.konfirmasiDonasi = "600000"
        this.form3.tdkBersedia = ""
      }
    },
    cekCabang(val){
      if (val == 1){
        this.form.cabangVendor = 'Yes'
      } else {
        this.form.cabangVendor = 'No'
      }
    },
    cropImage() {
      // get image data for post processing, e.g. upload or setting image src
      this.cropImg = this.$refs.cropper.getCroppedCanvas().toDataURL();
      this.form.logoVendor = this.$refs.cropper.getCroppedCanvas().toDataURL();
    },
    setImage(e) {
      const file = e.target.files[0];
      if (file.type.indexOf('image/') === -1) {
        alert('Please select an image file');
        return;
      }
      if (typeof FileReader === 'function') {
        const reader = new FileReader();
        reader.onload = (event) => {
          this.imgSrc = event.target.result;
          // rebuild cropperjs with the updated source
          this.$refs.cropper.replace(event.target.result);
        };
        reader.readAsDataURL(file);
      } else {
        alert('Sorry, FileReader API not supported');
      }
    },
    move(offsetX, offsetY) {
      this.$refs.cropper.move(offsetX, offsetY);
    },
    reset() {
      this.$refs.cropper.replace('theme/avatar.png');
      this.$refs.cropper.reset();
    },

    cropImage2() {
      // get image data for post processing, e.g. upload or setting image src
      this.cropImg2 = this.$refs.cropper2.getCroppedCanvas().toDataURL();
      this.form3.photoPemilik = this.$refs.cropper2.getCroppedCanvas().toDataURL();
    },
    setImage2(e) {
      const file = e.target.files[0];
      if (file.type.indexOf('image/') === -1) {
        alert('Please select an image file');
        return;
      }
      if (typeof FileReader === 'function') {
        const reader = new FileReader();
        reader.onload = (event) => {
          this.imgSrc2 = event.target.result;
          // rebuild cropperjs with the updated source
          this.$refs.cropper2.replace(event.target.result);
        };
        reader.readAsDataURL(file);
      } else {
        alert('Sorry, FileReader API not supported');
      }
    },
    move2(offsetX, offsetY) {
      this.$refs.cropper2.move(offsetX, offsetY);
    },
    reset2() {
      this.$refs.cropper2.replace('theme/avatar.png');
      this.$refs.cropper2.reset();
    },

    primaryCheck(){
      var testEmail = /^[A-Z0-9._%+-]+@([A-Z0-9-]+\.)+[A-Z]{2,4}$/i;
      if (testEmail.test(this.form.emailNarahubung) && testEmail.test(this.form.emailVendor)){
        this.mailCheck = true
      } else {
        this.mailCheck = false      
      }

      if(this.form.logoVendor == 'kosong' ||
        this.form.deskripsiVendor == '' ||
        this.form.namaVendor == '' ||
        this.form.jenisVendor == '' ||
        this.form.namaNarahubung == '' ||
        this.form.emailNarahubung == '' ||
        this.form.tlpNarahubung == '' ||
        this.form.tlpVendor == '' ||
        this.form.faxVendor == '' ||
        this.form.emailVendor == '' ||
        this.form.alamatVendor == '' ||
        this.form.provinsiVendor == '' ||
        this.form.kotaVendor == '' ||
        this.form.kodeposVendor == '' ){
          if(this.form.cabangVendor == "Yes"){
            if(this.form.alamatPusat == 'kosong' ||
              this.form.emailPusat == '' ||
              this.form.tlpPusat == '' ||
              this.form.faxPusat == '' ){
              this.primary = false
              var aTag = $("#primaryThis");
              $('html,body').animate({scrollTop: aTag.offset().top},'slow');
              if (this.mailCheck == true){
                // alert("oke")
              } else {
                Swal.fire(
                  {
                    type: "error",
                    title: 'Failed!',
                    text: 'Check format email again ex. example@exa.com !',
                    confirmButtonClass: 'btn btn-success',
                  }
                )
              }
            } else {
              this.primary = false
              var aTag = $("#primaryThis");
              $('html,body').animate({scrollTop: aTag.offset().top},'slow');
              if (this.mailCheck == true){
                // alert("oke")
              } else {
                Swal.fire(
                  {
                    type: "error",
                    title: 'Failed!',
                    text: 'Check format email again ex. example@exa.com !',
                    confirmButtonClass: 'btn btn-success',
                  }
                )
              }
            }
          } else {
            this.primary = false
            var aTag = $("#primaryThis");
            $('html,body').animate({scrollTop: aTag.offset().top},'slow');
            if (this.mailCheck == true){
              // alert("oke")
            } else {
              Swal.fire(
                {
                  type: "error",
                  title: 'Failed!',
                  text: 'Check format email again ex. example@exa.com !',
                  confirmButtonClass: 'btn btn-success',
                }
              )
            }
          }
      } else {
        if (this.mailCheck == true){
          // alert("oke")
          this.primary = true
        } else {
          Swal.fire(
            {
              type: "error",
              title: 'Failed!',
              text: 'Check format email again ex. example@exa.com !',
              confirmButtonClass: 'btn btn-success',
            }
          )
          this.primary = false
        }
        // var aTag = $("#assessmentThis");
        // $('html,body').animate({scrollTop: aTag.offset().top},'slow');
      }
    },
    assessmentCheck(){
      if(this.rowsPengurus.length == 0){

          this.assessment = false
          var aTag = $("#assessmentThis");
          $('html,body').animate({scrollTop: aTag.offset().top},'slow');

      } else {
          this.assessment = true
          // var aTag = $("#primaryThis");
          // $('html,body').animate({scrollTop: aTag.offset().top},'slow');
      }
      this.assessment = true
    },
    donationCheck(){
      if(this.form2.noAktaDiri == '' ||
        this.form2.notaris == '' ||
        this.form2.tglAktaDiri == '' ||
        this.form2.npwpVendor == '' ||
        this.form2.pkpVendor == '' ){
        this.donation = false
        var aTag = $("#donationThis");
        $('html,body').animate({scrollTop: aTag.offset().top},'slow');
      } else {
        this.donation = true
        // var aTag = $("#donationThis");
        // $('html,body').animate({scrollTop: aTag.offset().top},'slow');
        this.addData()
      }
    },
    addData() {
      var msg = "Terimakasih sudah mendaftarkan Vendor Anda, PT. KIW mengirimkan email konfirmasi pendaftaran melalui email Anda";
      this.form2.file1 = this.$refs.file1.files[0];
      this.form2.file2 = this.$refs.file2.files[0];
      this.form2.file3 = this.$refs.file3.files[0];
      this.form2.file4 = this.$refs.file4.files[0];

      let formData = new FormData();
      formData.append('file1', this.form2.file1);
      formData.append('file2', this.form2.file2);
      formData.append('file3', this.form2.file3);
      formData.append('file4', this.form2.file4);
      formData.append('logo_vendor', this.form.logoVendor);
      formData.append('nama_vendor', this.form.namaVendor);
      formData.append('deskripsi_vendor', this.form.deskripsiVendor);
      formData.append('jenis_vendor', this.form.jenisVendor);
      formData.append('nama_narahubung', this.form.namaNarahubung);
      formData.append('email_narahubung', this.form.emailNarahubung);
      formData.append('tlp_narahubung', this.form.tlpNarahubung);
      formData.append('jenis_vendor', this.form.jenisVendor);
      formData.append('email_vendor', this.form.emailVendor);
      formData.append('tlp_vendor', this.form.tlpVendor);
      formData.append('fax_vendor', this.form.faxVendor);
      formData.append('alamat_vendor', this.form.alamatVendor);
      formData.append('provinsi_vendor', this.form.provinsiVendor);
      formData.append('kota_vendor', this.form.kotaVendor);
      formData.append('kodepos_vendor', this.form.kodeposVendor);
      formData.append('web_vendor', this.form.webVendor);
      formData.append('facebook_vendor', this.form.facebookVendor);
      formData.append('instagram_vendor', this.form.instagramVendor);
      formData.append('cabang_vendor', this.form.cabangVendor);
      formData.append('alamat_pusat', this.form.alamatPusat);
      formData.append('email_pusat', this.form.emailPusat);
      formData.append('tlp_pusat', this.form.tlpPusat);
      formData.append('fax_pusat', this.form.faxPusat);

      formData.append('no_akta_diri', this.form2.noAktaDiri);
      formData.append('notaris_diri', this.form2.notaris);
      formData.append('tgl_akta_diri', this.form2.tglAktaDiri);
      formData.append('no_akta_ubah', this.form2.noAktaUbah);
      formData.append('notaris_ubah', this.form2.notarisUbah);
      formData.append('tgl_akta_ubah', this.form2.tglAktaUbah);
      formData.append('npwp_vendor', this.form2.npwpVendor);
      formData.append('pkp_vendor', this.form2.pkpVendor);
      formData.append('isiIUJK', JSON.stringify(this.rowsIUJK));
      formData.append('isiSBU', JSON.stringify(this.rowsSBU));
      formData.append('klasifikasiIUJK', JSON.stringify(this.rowsz));
      formData.append('klasifikasiSBU', JSON.stringify(this.rows));
      formData.append('pengurus', JSON.stringify(this.rowsPengurus));


      if(this.primary !== true && this.assessment !== true && this.donation !== true){
        Swal.fire(
          {
            type: "error",
            title: 'Failed!',
            text: 'Check the completeness of the data again !',
            confirmButtonClass: 'btn btn-success',
          }
        )
      } else {
        var currentState = window.Echo.connector.pusher.connection.state;
        if(currentState == "unavailable") {
          Swal.fire(
            {
              type: "warning",
              title: 'Peringatan!',
              text: 'Koneksi buruk / tidak terkoneksi dengan Internet. Mohon cek kembali koneksi Internet anda.',
              confirmButtonClass: 'btn btn-success',
            }
          )
        } else {
          Swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, insert it!',
            confirmButtonClass: 'btn btn-primary',
            cancelButtonClass: 'btn btn-danger ml-1',
            buttonsStyling: false,
            showLoaderOnConfirm: true,
            preConfirm: () => {
              if(this.form.logoVendor !== "kosong"){
                  for (let i = 0; i < this.rowsPengurus.length; i++) {
                    var filess = $('#fileKTP'+i)[0].files
                    let formDatas = new FormData();
                    formDatas.append('fileKTP', filess[0]);
                    formDatas.append('no_ktp', this.rowsPengurus[i].noKTP);
                    formDatas.append('nama_pengurus', this.rowsPengurus[i].namaPengurus);

                    this.promises.push(
                      axios.post("/api/uploadKTP", formDatas, {
                        headers : {
                                    'Content-Type': 'multipart/form-data'
                                  },
                      })
                      .then(response => {
                          const content = Swal.getContent()
                          if (content) {
                          }
                      })
                      .catch(error => {
                        Swal.showValidationMessage(
                          `Request failed: ${error}`
                        )
                      })
                    )
                  }

                  for (let i = 0; i < this.rowsIUJK.length; i++) {
                    var filess = $('#file5'+i)[0].files
                    let formDataIUJK = new FormData();
                    formDataIUJK.append('file', filess[0]);
                    formDataIUJK.append('no_iujksiup', this.rowsIUJK[i].noIujkSiup);
                    formDataIUJK.append('instansi_iujksiup', this.rowsIUJK[i].instansiIujkSiup);
                    formDataIUJK.append('tgl_iujksiup', this.rowsIUJK[i].tglIujkSiup);

                    this.promisesIUJK.push(
                      axios.post("/api/uploadIUJK", formDataIUJK, {
                        headers : {
                                    'Content-Type': 'multipart/form-data'
                                  },
                      })
                      .then(response => {
                          const content = Swal.getContent()
                          if (content) {
                          }
                      })
                      .catch(error => {
                        Swal.showValidationMessage(
                          `Request failed: ${error}`
                        )
                      })
                    )
                  }

                  for (let i = 0; i < this.rowsSBU.length; i++) {
                    var filess = $('#file6'+i)[0].files
                    let formDataSBU = new FormData();
                    formDataSBU.append('file', filess[0]);
                    formDataSBU.append('no_sbu', this.rowsSBU[i].noSbu);
                    formDataSBU.append('instansi_sbu', this.rowsSBU[i].instansiSbu);
                    formDataSBU.append('tgl_sbu', this.rowsSBU[i].tglSbu);

                    this.promisesSBU.push(
                      axios.post("/api/uploadSBU", formDataSBU, {
                        headers : {
                                    'Content-Type': 'multipart/form-data'
                                  },
                      })
                      .then(response => {
                          const content = Swal.getContent()
                          if (content) {
                          }
                      })
                      .catch(error => {
                        Swal.showValidationMessage(
                          `Request failed: ${error}`
                        )
                      })
                    )
                  }

                  return Promise.all([this.promises,this.promisesIUJK,this.promisesSBU]).then(() => 
                    axios.post("/api/vendorStoreOnline", formData,{

                      headers : {
                                  'Content-Type': 'multipart/form-data'
                                },
                    })
                    .then(response => {
                      this.reset();
                      this.imgSrc = 'theme/avatar.png',
                      this.imgSrc2 = 'theme/avatar.png',
                      this.cropImg = '',
                      this.cropImg2 = '',
                      this.form.logoVendor = 'kosong'
                      this.form.namaVendor = ''
                      this.form.deskripsiVendor = ''
                      this.form.jenisVendor = ''
                      this.form.namaNarahubung = ''
                      this.form.emailNarahubung = ''
                      this.form.tlpNarahubung = ''
                      this.form.jenisVendor = ''
                      this.form.emailVendor = ''
                      this.form.tlpVendor = ''
                      this.form.faxVendor = ''
                      this.form.alamatVendor = ''
                      this.form.provinsiVendor = ''
                      this.form.kotaVendor = ''
                      this.form.kodeposVendor = ''
                      this.form.webVendor = ''
                      this.form.facebookVendor = ''
                      this.form.instagramVendor = ''
                      this.form.cabangVendor = 'No'
                      this.form.alamatPusat = ''
                      this.form.emailPusat = ''
                      this.form.tlpPusat = ''
                      this.form.faxPusat = ''

                      this.form2.noAktaDiri = ''
                      this.form2.notaris = ''
                      this.form2.tglAktaDiri = ''
                      this.form2.noAktaUbah = ''
                      this.form2.notarisUbah = ''
                      this.form2.tglAktaUbah = ''
                      this.form2.npwpVendor = ''
                      this.form2.pkpVendor = ''
                      // this.form2.noIujkSiup = ''
                      // this.form2.instansiIujkSiup = ''
                      // this.form2.tglIujkSiup = ''
                      // this.form2.noSbu = ''
                      // this.form2.instansiSbu = ''
                      this.form2.tglSbu = ''
                      this.form2.file1 = ''
                      this.form2.file2 = ''
                      this.form2.file3 = ''
                      this.form2.file4 = ''
                      // this.form2.file5 = ''
                      // this.form2.file6 = ''
                      this.rowsIUJK = []
                      this.rowsSBU = []
                      this.rows = []
                      this.rowsz = []
                      this.rowsPengurus = []
                      this.myOptionsNoSBU = []
                      this.myOptionsNoIUJK = []

                      $('#imageIn').val("");
                      $('#imageIn2').val("");
                      this.primary = undefined
                      this.assessment = undefined
                      this.donation = undefined
                      return 
                    })
                    .catch(error => {
                      Swal.showValidationMessage(
                        `Request failed: ${error}`
                      )
                    })
                  );
              } else {
                Swal.showValidationMessage(
                    'Crop your photo !'
                  )
              }  
            },
            allowOutsideClick: () => !this.$swal.isLoading()
          }).then(function (result) {
            if (result.value) {
              Swal.fire(
                {
                  type: "success",
                  title: 'Inserted!',
                  text: msg,
                  confirmButtonClass: 'btn btn-success',
                }
              )
            }
          }.bind(this))
        }
      }
    },
  }
};
</script>

<style scoped>
  .img-crop {
    width: 200px;
    height: 200px;
  }

  .img-crop2 {
    width: 480px; 
    height: 200px;
  }

  .form-control-label {
    font-size: 18px;
    font-weight: 500;
    color: #5f5f5f;
  }

  ul li{
    display: block;  
    border-bottom: 1px dotted lightgray;  
  }

  ul li label{
    display: inline-block;
    vertical-align: middle;
    padding-left: 20px;
    z-index: 9;
    cursor: pointer;
    -webkit-transition: all 0.15s linear;
  }

  /* Outer circle, unselected, not-hovered */
  ul li .check{
    display: inline-block;vertical-align: middle;
    position: relative;
    border: 3px dotted purple;
    border-radius: 100%;
    height: 25px;
    width: 25px;
    z-index: 5;
    transition: border .25s linear;
    -webkit-transition: border .25s linear;
  }

  /* Outer circle, unselected, hovered */
  ul li:hover .check {
    border: 3px solid green;
  }

  /* Inner circle */
  ul li .check::before {
    display: block;
    position: relative;
    content: '';
    border-radius: 100%;
    height: 15px;
    width: 15px;
    left:5px;
    top: 5px;
    transition: background 0.1s linear;
    -webkit-transition: background 0.1s linear;
  }

  /* Outer circle, selected, unhovered */
  input[type=radio]:checked ~ .check {
    border: 3px solid blue;
  }

  /* Inner circle, selected, unhovered */
  input[type=radio]:checked ~ .check::before{
    background: black;
  }

  td 
  {
      vertical-align: -webkit-baseline-middle;
  }

  .select2-container--default .select2-selection--single {
/*    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 4px;*/
    height: 40px !important;
  }

</style>
