<template>
  <!-- Modal -->
  <div class="modal fade text-left approveKopMod" id="default" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel1">Approve Kop</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form id="formApprove" @submit.prevent="addApprove()" autocomplete="off">
          <div class="modal-body">
            <table border='0' cellpadding='0' cellspacing='0' class='body' style='border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%; background-color: #f6f6f6;'>
              <tr>
                <td style='font-family: sans-serif; font-size: 14px; vertical-align: top;'>&nbsp;</td>
                <td class='container' style='font-family: sans-serif; font-size: 14px; vertical-align: top; display: block; margin: 0 auto; max-width: 580px; padding: 10px; width: 580px;'>
                  <div class='content' style='box-sizing: border-box; display: block; margin: 0 auto; max-width: 580px; padding: 10px;'>

                    <!-- START CENTERED WHITE CONTAINER -->
                    <span class='preheader' style='color: transparent; display: none; height: 0; max-height: 0; max-width: 0; opacity: 0; overflow: hidden; mso-hide: all; visibility: hidden; width: 0;'>This is preheader text. Some clients will show this text as a preview.</span>
                    <table class='main' style='border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%; background: #ffffff; border-radius: 3px;'>

                      <!-- START MAIN CONTENT AREA -->
                      <tr>
                        <td class='wrapper' style='font-family: sans-serif; font-size: 14px; vertical-align: top; box-sizing: border-box; padding: 20px;'>
                          <table border='0' cellpadding='0' cellspacing='0' style='border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%;'>
                            <tr>
                              <td style='font-family: sans-serif; font-size: 14px; vertical-align: top;' >
                              <img style='width: 200px;height: auto;' src='themeLanding/img/logo2.png'/>
                                <br>
                              </td>
                            </tr>
                            <tr>
                              <td class="contentIsi" v-html="contentApprove">
                                {{ contentApprove }}
                              </td>
                            </tr>
                            <tr>
                              <td>
                                <hr> 
                                Username : {{ form.username }}
                                <br>
                                Password : {{ form.password }}
                                <br>
                                Email : {{ form.emailNarahubung }}
                                <br><br>
                                Remarks : {{ form.catatan }}
                              </td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                    <!-- END MAIN CONTENT AREA -->
                    </table>

                    <!-- START FOOTER -->
                      <!-- <table border='0' cellpadding='0' cellspacing='0' style='border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%;'>
                        <tr>
                          <td class='content-block' style='font-family: sans-serif; vertical-align: top; padding-bottom: 10px; padding-top: 10px; font-size: 12px; color: #999999; text-align: center;'>
                            <span class='apple-link' style='color: #999999; font-size: 12px; text-align: center;'>Exiglosi., Edugate Building Lt. Dasar Suite G, Jl. Fatmawati No.99, Jakarta 12430.</span>
                          </td>
                        </tr>
                        <tr>
                          <td class='content-block powered-by' style='font-family: sans-serif; vertical-align: top; padding-bottom: 10px; padding-top: 10px; font-size: 12px; color: #999999; text-align: center;'>
                            Powered by <a href='https://www.exiglosi.com/' style='color: #999999; font-size: 12px; text-align: center; text-decoration: none;'>Exiglosi.</a>.
                          </td>
                        </tr>
                      </table> -->
                    <!-- END FOOTER -->
                  <!-- END CENTERED WHITE CONTAINER -->
                  </div>
                </td>
                <td style='font-family: sans-serif; font-size: 14px; vertical-align: top;'>&nbsp;</td>
              </tr>
            </table>
            <!-- <quill-editor
              :content="contentApprove"
              :options="editorOption"
              @change="onEditorChangeApprove($event)"
            /> -->
            <br>
            <div class="row">
              <div class="form-group col-md-6">
                <label class="form-control-label" for="inputBasicUserName">Username</label>
                <input
                  type="textfield"
                  class="form-control "
                  placeholder="Input your username"
                  v-model="form.username"
                  autocomplete="off"
                  required
                >
              </div>
              <div class="form-group col-md-6">
                <label class="form-control-label" for="inputBasicPassword">Password</label>
                <input
                  type="textfield"
                  class="form-control "
                  placeholder="Input your password"
                  v-model="form.password"
                  autocomplete="off"
                  required
                >
              </div>
              <div class="form-group col-md-12">
                <label class="form-control-label" for="inputBasicPassword">Email</label>
                <input
                  type="textfield"
                  class="form-control "
                  placeholder="Input your email"
                  v-model="form.emailNarahubung"
                  autocomplete="off"
                  required
                >
              </div>
              <div class="form-group col-md-12">
                <label class="form-control-label" for="inputBasicPassword">Remarks</label>
                <textarea class="maxlength-textarea form-control" data-plugin="maxlength" data-placement="bottom-right-inside"
                  maxlength="100" rows="3" placeholder="Input your remarks" v-model="form.catatan" required></textarea>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default btn-pure" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Approve & Send Mail</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- End Modal -->
</template>

<!-- script js -->
<script>
import { quillEditor } from 'vue-quill-editor';
import 'quill/dist/quill.core.css'
import 'quill/dist/quill.snow.css'
import 'quill/dist/quill.bubble.css'

export default {
  name: 'approve',
  components: {
    quillEditor
  },
  props : {
    approveModal : {
      type : Boolean
    },
    approve : {
      type : Object
    },
    closeModal : {
      type : Function
    }
  },
  data(){
    return{
      contentApprove: '',
      form:{
        idKop: '',
        namaNarahubung: '',
        emailNarahubung: '',
        username: '',
        password: '',
        catatan: ''
      },
    }
  },
  watch: {
    approve(newVal) {
      if (newVal) {
        this.form.idKop = newVal.id_kop;
        this.form.namaNarahubung = newVal.nama_narahubung;
        this.form.emailNarahubung = newVal.email_narahubung;
        var str = newVal.nama_narahubung;
        var split = str.split(" ");
        var count = split.length;
        if(count < 2){
          var str2 = str; 
        } else {
          var str2 = str.substr(0, str.indexOf(' ')); 
        }
        var val = Math.floor(1000 + Math.random() * 9000);
        this.form.username = str2.toLowerCase()+val;
        this.form.password = str2.toLowerCase()+val;
      }
    } 
  },
  mounted() {
    this.getContent()
  },
  methods: {
    getContent(){
      axios
          .get("/api/getcontent/Approve")
          .then(response => {
            this.contentApprove = response.data[0].content;
          });
    },
    onEditorChangeApprove({ quill, html, text }) {
      // console.log('editor change!', quill, html, text)
      this.contentApprove = html
    },
    addApprove(){
      Swal.fire({
        title: 'Are you sure?',
        text: "You won't be able to revert this!",
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, insert it!',
        confirmButtonClass: 'btn btn-primary',
        cancelButtonClass: 'btn btn-danger ml-1',
        buttonsStyling: false,
        showLoaderOnConfirm: true,
        preConfirm: () => {
          return axios.post("/api/approveKop", {
            id_kop: this.form.idKop,
            nama_narahubung: this.form.namaNarahubung,
            email_narahubung: this.form.emailNarahubung,
            username: this.form.username,
            password: this.form.password,
            catatan: this.form.catatan,
          })
          .then(response => {
            $(".approveKopMod").modal('hide');
            this.form.idKop = ''
            this.form.namaNarahubung = ''
            this.form.emailNarahubung = ''
            this.form.username = ''
            this.form.password = ''
            this.form.catatan = ''
          });
        },
        allowOutsideClick: () => !this.$swal.isLoading()
      }).then(function (result) {
        if (result.value) {
          this.closeModal();
          Swal.fire(
            {
              type: "success",
              title: 'Approve!',
              text: 'Your file has been Approve.',
              confirmButtonClass: 'btn btn-success',
            }
          )
        }
      }.bind(this))
    },
  }
};
</script>


