<script>
// import the styles


// add to component
</script>

<template>

  <!-- BEGIN: Content-->
  <div class="app-content content">
      <div class="content-overlay"></div>
      <div class="header-navbar-shadow"></div>
      <div class="content-wrapper">
          <div class="content-header row">
              <div class="content-header-left col-md-9 col-12 mb-2">
                  <div class="content-header-left col-md-8 col-12 mb-2">
                      <div class="row breadcrumbs-top">
                          <div class="col-12">
                              <h2 class="content-header-title float-left mb-0">Data KOP</h2>
                              <div class="breadcrumb-wrapper col-12">
                                  <ol class="breadcrumb">
                                      <li class="breadcrumb-item"><a href="index.html">Home</a>
                                      </li>
                                      <li class="breadcrumb-item active">KOP
                                      </li>
                                      <li class="breadcrumb-item active">Email To KOP
                                      </li>
                                  </ol>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="content-header-right text-md-right col-md-3 col-12 d-md-block d-none">
                  <div class="form-group breadcrum-right">
                      <div class="dropdown">

                          <button class="btn-icon btn btn-primary btn-round btn-sm dropdown-toggle"data-toggle="tooltip"
                            data-original-title="Refresh" v-on:click="onRefresh" aria-haspopup="true" aria-expanded="false"><i class="feather icon-refresh-ccw"></i>
                          </button>

                      </div>
                  </div>
              </div>
          </div>
          <view-email-mod :open-modal="viewOpen" :view="view"></view-email-mod>
          <div class="content-body">
            <!-- full Editor start -->
            <section class="full-editor">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                          <ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">
                              <li class="nav-item">
                                  <a class="nav-link active" id="bulk-tab-fill" data-toggle="tab" href="#bulk-fill" role="tab" aria-controls="bulk-fill" aria-selected="true">Bulk Mail</a>
                              </li>
                              <li class="nav-item">
                                  <a class="nav-link" id="history-tab-fill" data-toggle="tab" href="#history-fill" role="tab" aria-controls="history-fill" aria-selected="false">Mail History</a>
                              </li>
                          </ul>
                          <div class="tab-content pt-1">
                            <div class="tab-pane active" id="bulk-fill" role="tabpanel" aria-labelledby="bulk-tab-fill">
                              <div class="card-header">
                                  <h4 class="card-title">Email To All KOP</h4>
                              </div>
                              <div class="card-content collapse show">
                                  <div class="card-body">
                                    <div class="card-body">
                                      <table border='0' cellpadding='0' cellspacing='0' class='body' style='border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%; background-color: #f6f6f6;'>
                                        <tr>
                                          <td style='font-family: sans-serif; font-size: 14px; vertical-align: top;'>&nbsp;</td>
                                          <td class='container' style='font-family: sans-serif; font-size: 14px; vertical-align: top; display: block; margin: 0 auto; max-width: 580px; padding: 10px; width: 580px;'>
                                            <div class='content' style='box-sizing: border-box; display: block; margin: 0 auto; max-width: 580px; padding: 10px;'>

                                              <!-- START CENTERED WHITE CONTAINER -->
                                              <span class='preheader' style='color: transparent; display: none; height: 0; max-height: 0; max-width: 0; opacity: 0; overflow: hidden; mso-hide: all; visibility: hidden; width: 0;'>This is preheader text. Some clients will show this text as a preview.</span>
                                              <table class='main' style='border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%; background: #ffffff; border-radius: 3px;'>

                                                <!-- START MAIN CONTENT AREA -->
                                                <tr>
                                                  <td class='wrapper' style='font-family: sans-serif; font-size: 14px; vertical-align: top; box-sizing: border-box; padding: 20px;'>
                                                    <table border='0' cellpadding='0' cellspacing='0' style='border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%;'>
                                                      <tr>
                                                        <td style='font-family: sans-serif; font-size: 14px; vertical-align: top;' >
                                                        <img style='width: 200px;height: auto;' src='themeLanding/img/logo2.png'/>
                                                          <br>
                                                        </td>
                                                      </tr>
                                                      <tr>
                                                        <td class="contentIsi" v-html="contentMail">
                                                          {{ contentMail }}
                                                        </td>
                                                      </tr>
                                                    </table>
                                                  </td>
                                                </tr>
                                              <!-- END MAIN CONTENT AREA -->
                                              </table>

                                              <!-- START FOOTER -->
                                                <!-- <table border='0' cellpadding='0' cellspacing='0' style='border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%;'>
                                                  <tr>
                                                    <td class='content-block' style='font-family: sans-serif; vertical-align: top; padding-bottom: 10px; padding-top: 10px; font-size: 12px; color: #999999; text-align: center;'>
                                                      <span class='apple-link' style='color: #999999; font-size: 12px; text-align: center;'>Exiglosi., Edugate Building Lt. Dasar Suite G, Jl. Fatmawati No.99, Jakarta 12430.</span>
                                                    </td>
                                                  </tr>
                                                  <tr>
                                                    <td class='content-block powered-by' style='font-family: sans-serif; vertical-align: top; padding-bottom: 10px; padding-top: 10px; font-size: 12px; color: #999999; text-align: center;'>
                                                      Powered by <a href='https://www.exiglosi.com/' style='color: #999999; font-size: 12px; text-align: center; text-decoration: none;'>Exiglosi.</a>.
                                                    </td>
                                                  </tr>
                                                </table> -->
                                              <!-- END FOOTER -->
                                            <!-- END CENTERED WHITE CONTAINER -->
                                            </div>
                                          </td>
                                          <td style='font-family: sans-serif; font-size: 14px; vertical-align: top;'>&nbsp;</td>
                                        </tr>
                                      </table>
                                    </div>
                                    <!-- Or manually control the data synchronization -->
                                    <label class="form-control-label" for="inputBasicFirstName">Subject Mail</label>
                                    <textarea class="maxlength-textarea form-control" data-plugin="maxlength" data-placement="bottom-right-inside" maxlength="100" rows="1" placeholder="Input Subject" v-model="subject" required></textarea>
                                    <br><br>
                                    <quill-editor
                                      :content="contentMail"
                                      :options="editorOption"
                                      @change="onEditorChangeMail($event)"
                                    />
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-primary" @click="addContentMail()"> Send Mail</button>
                                    </div>
                                  </div>
                              </div>
                            </div>
                            <div class="tab-pane" id="history-fill" role="tabpanel" aria-labelledby="history-tab-fill">
                              <div class="card-header">
                                  <h4 class="card-title">Mail History</h4>
                              </div>
                              <div class="card-content collapse show">
                                  <div class="card-body">
                                    <!-- Basic example section start -->
                                    <section id="basic-examples">
                                        <div class="card">
                                            <div class="card-header">
                                                <h4 class="card-title">Jumlah Email : {{total}}</h4>
                                            </div>
                                            <div class="card-content">
                                                <div class="card-body">

                                                  <vue-good-table
                                                    mode="remote"
                                                    @on-page-change="onPageChange"
                                                    @on-sort-change="onSortChange"
                                                    @on-column-filter="onColumnFilter"
                                                    @on-per-page-change="onPerPageChange"
                                                    @on-search="onSearch"
                                                    :totalRows="totalRecords"
                                                    :isLoading.sync="isLoading"
                                                    :pagination-options="{
                                                      enabled: true,
                                                      dropdownAllowAll: false,
                                                      mode: 'pages'
                                                    }"
                                                    :search-options="{
                                                      enabled: true,
                                                      skipDiacritics: true,
                                                    }"
                                                    :rows="rows"
                                                    :columns="columns">
                                                    <template slot="table-row" slot-scope="props">
                                                      <span v-if="props.column.field == 'action'"> 
                                                        <template v-for="actionS in action">
                                                          <template v-if="actionS == 'View'">
                                                            <button class="btn-icon btn btn-primary btn-sm btn-round mr-1 mb-1 waves-effect waves-light" data-target=".viewEmailMod" data-toggle="modal" type="button" title='View' @click="viewModal(props.row.id)"><i class="feather icon-eye" aria-hidden="true"></i></button>
                                                          </template>
                                                          <template v-if="actionS == 'Delete'">
                                                            <button class="btn-icon btn btn-danger btn-sm btn-round mr-1 mb-1 waves-effect waves-light" title='Delete' @click="deleteData(props.row.id)"><i class="feather icon-delete" aria-hidden="true"></i></button>
                                                          </template>
                                                        </template>
                                                      </span>
                                                      <span v-else-if="props.column.field == 'status'">
                                                        <template v-if="props.row.status == 1">
                                                          <span class="badge badge-round badge-success">Success</span>
                                                        </template>
                                                        <template v-else>
                                                          <span class="badge badge-round badge-danger">Failed</span>
                                                        </template>
                                                      </span>
                                                      <span v-else-if="props.column.field == 'send'">
                                                        {{formatDatetime(props.row.send)}}
                                                      </span>
                                                      <span v-else>
                                                        {{props.formattedRow[props.column.field]}}
                                                      </span>
                                                    </template>
                                                  </vue-good-table>

                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                    <!-- // Basic example section end -->
                                  </div>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- full Editor end -->
          </div>
      </div>
  </div>
  <!-- END: Content-->
</template>

<!-- script js -->
<script>
import ViewEmailKop from './ViewEmailKop.vue';
import moment from 'moment';
import 'vue-good-table/dist/vue-good-table.css'
import { VueGoodTable } from 'vue-good-table';
import { quillEditor } from 'vue-quill-editor';
import 'quill/dist/quill.core.css'
import 'quill/dist/quill.snow.css'
import 'quill/dist/quill.bubble.css'
moment.locale("id");

const _ = require('lodash');

export default {
    name: 'emailtokop',
    components: {
      quillEditor,
      'vue-good-table' : VueGoodTable,
      'view-email-mod' : ViewEmailKop,
    },
    data() {
        return {
            isLoading: false,
            subject: '',
            contentMail: '',
            viewOpen: false,
            view: {},
            editorOption: {
              placeholder: 'Compose an epic...',
              // readOnly: true,
              theme: 'snow'
            },
            form:{
              menuID: '',
              nameChild: '',
            },
            columns: [
                {
                    label: 'Subject',
                    field: 'subject',
                    filterable: true
                },
                {
                    label: 'Mail',
                    field: 'body_mail',
                },
                {
                    label: 'Send',
                    field: 'send',
                    filterable: true
                },
                // {
                //     label: 'Status',
                //     field: 'status',
                //     filterable: true
                // },
                {
                  label: 'Action',
                  field: 'action',
                  sortable: false,
                },
            ],
            rows: [],
            totalRecords: 0,
            serverParams: {
              columnFilters: {
              },
              sort: {       
                field: 'created_at', 
                type: 'desc',
              },
              page: 1, 
              perPage: 10,
              searchTerm: ''
            },
            action: [],
            kop: [],
            count: [],
            promises: [],
            total: '',
        };
    },
    beforeCreate(){
        this.loading = true;
        axios
        .get("/session")
        .then(response => {
            this.id = response.data.id;
            this.role = response.data.role;
            this.login = response.data.login;
            axios
            .get("/api/getSide/" + this.id )
            .then(response => {
                this.data = response.data;
                var routesUser = [];
                this.data.forEach(function(puki, index) {
                  var nam = puki.Link.substr(1);
                  routesUser.push(nam);
                }); 
                var n = routesUser.includes(this.$options.name);
                console.log(n)
                if(this.login == true && n == true){
                  this.loading = false;
                  this.loadItems()
                  this.getAction(this.id,this.$options.name)
                  this.getKop()
                } else if (this.login == true && n == false) {
                  this.$router.push('/not404');
                  this.loading = false;
                } else {
                  window.location.href = "/";
                  // this.$router.push('/not404');
                  this.loading = false;
                }
            });
        });
    },
    computed: {
    },
    mounted() {
    },
    methods: {
      onEditorChangeMail({ quill, html, text }) {
        // console.log('editor change!', quill, html, text)
        this.contentMail = html
      },
      getAction(id,link){
        axios
            .get("/api/action/" + id + "/" + link)
            .then(response => {
              this.action = response.data;
            });
      },
      getFromServer(mails) {
        return axios.get(`/api/getHistoryMail?searchTerm=${mails.searchTerm}&page=${mails.page}&per_page=${mails.perPage}&field=${mails.sort.field}&type=${mails.sort.type}`); 
      },

      updateParams(newProps) {
        this.serverParams = Object.assign({}, this.serverParams, newProps);
      },
      
      onPageChange(params) {
        this.updateParams({page: params.currentPage});
        this.loadItems();
      },

      onPerPageChange(params) {
        this.updateParams({perPage: params.currentPerPage});
        this.loadItems();
      },

      onSortChange(params) {
        this.updateParams({
          sort: {
            type: params[0].type,
            field: params[0].field,
          },
        });
        this.loadItems();
      },
      
      onColumnFilter(params) {
        this.updateParams(params);
        this.loadItems();
      },

      onSearch(params) {
        this.updateParams(params);
        this.loadItems();
      },

      loadItems() {
        this.getFromServer(this.serverParams).then((response) => {
            this.totalRecords = response.data.mails.total;
            this.total = this.totalRecords
            this.rows = response.data.mails.data;
        })
      },
      getKop(){
        axios
          .get("/api/kop2")
          .then(response => {
            this.kop = response.data
          });
      },
      closeModal() {
          this.viewOpen = false;
      },
      viewModal(params) {
          axios
            .get("/api/getHistoryMail/" + params)
            .then(response => {
              this.view = response.data;
            });
          this.viewOpen = !this.viewOpen;
      },
      addContentMail() {
        Swal.fire({
          title: `Send Your Email?`,
          html: `Sending Message <b>${this.count.length}</b> / ${this.kop.length}.`,
          type: 'warning',
          showCancelButton: true,
          confirmButtonText: 'Ok, Send!',
          showLoaderOnConfirm: true,
          preConfirm: () => {
            if(this.subject !== "" && this.contentMail !== ""){
              for (let i = 0; i < this.kop.length; i++) {
                this.promises.push(
                  axios.post("/api/sendMaillAllKopFix/" + this.kop[i].email_komunitas +"/"+ this.kop[i].id_kop , {
                    content: this.contentMail,
                    subject: this.subject,
                  })
                  .then(response => {
                      this.count.push(response.data);
                      const content = Swal.getContent()
                      if (content) {
                        const b = content.querySelector('b')
                        if (b) {
                          b.textContent = this.count.length
                        } 
                      }
                  })
                )
              }
            } else {
              Swal.showValidationMessage(
                  'Subject atau Email kosong !'
                )
            }
            
            this.contentMail = ''
            this.subject = ''
            return Promise.all(this.promises).then(() => console.log("oke"));
          },
          allowOutsideClick: () => !Swal.isLoading()
        }).then((result) => {
          if (result.value) {
            Swal.fire({
              title: `Success Sending Mail!`,
              text: `Success send ${this.count.length} / ${this.kop.length}`,
              type: 'success',
            })
          }
        })
      },

      send(email, id_kop) {
        return axios.post("/api/sendMaillAllKopFix/" + item.email_komunitas +"/"+ item.id_kop , {
          content: this.contentMail,
        })
        .then(response => {
            this.count.push(response.data);
        })
        .catch(error => {
          Swal.showValidationMessage(
            `Request failed: ${error}`
          )
        })
      },

      deleteData(id) {
        Swal.fire({
          title: 'Are you sure?',
          text: "You won't be able to revert this!",
          type: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: 'Yes, delete it!',
          confirmButtonClass: 'btn btn-primary',
          cancelButtonClass: 'btn btn-danger ml-1',
          buttonsStyling: false,
        }).then(function (result) {
          if (result.value) {
            axios.delete("/api/delHistoryMail/" + id).then(response => {
              this.loadItems();
              if(response.data !== 205){
                Swal.fire(
                  {
                    type: "success",
                    title: 'Deleted!',
                    text: 'Your file has been deleted.',
                    confirmButtonClass: 'btn btn-success',
                  }
                )
              } else {
                Swal.fire(
                  {
                    type: "error",
                    title: 'Failed!',
                    text: 'Your file has failed been deleted.',
                    confirmButtonClass: 'btn btn-success',
                  }
                )
              }
            });
          }
        }.bind(this))
      },

      onRefresh: function (event) {
        if (event) {
          this.loadItems();
          this.contentMail = '';
        }
      },

      formatDatetime(value){
        const format1 = "DD MMMM YYYY HH:mm:ss"
        var date1 = new Date(value);
        return moment(date1).format(format1);
        console.log(moment(date1).format(format1))
      },

      formatDate(value) {
          return moment(value).format("DD MMMM YYYY")
      }

    }
};
</script>

