<template>
  <!-- Modal -->
  <div class="modal fade text-left importKopMod" id="default" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel1">Import Kop</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <!-- <form id="formKopImport" method="POST" autocomplete="off"> -->
          <div class="modal-body">
            <div class="row">
              <div class="form-group col-md-12">
                <label class="form-control-label" for="inputBasicFileExcel">Upload Logo</label>
                <!-- <input type="file" id="uploadLogo"/> -->
                <div id="my-strictly-unique-vue-upload-multiple-image" style="display: flex; justify-content: center;">
                  <vue-upload-multiple-image
                    @upload-success="uploadImageSuccess"
                    @before-remove="beforeRemove"
                    @edit-image="editImage"
                    :data-images="images"
                    dragText="Drop your image"
                    browseText="Click browse image"
                    primaryText="Ok"
                    markIsPrimaryText="Ok"
                    dropText=""
                    popupText=""
                    :showPrimary= 'false'
                    idUpload="myIdUpload"
                    editUpload="myIdEdit"
                    ></vue-upload-multiple-image>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-12">
                <label class="form-control-label" for="inputBasicFileExcel">Import File Excel XLSX</label>
                <input type="file" id="fileXLXS" @change="previewFiles" />
              </div>
            </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default btn-pure" data-dismiss="modal">Close</button>
            <!-- <button type="submit" class="btn btn-primary">Save changes</button> -->
            <!-- <button type="button" @click="previewFiles" class="btn btn-primary">Import</button> -->
          </div>
        <!-- </form> -->
      </div>
    </div>
  </div>
  <!-- End Modal -->
</template>

<!-- script js -->
<script>
import VueLazyload from 'vue-lazyload'
import VueUploadMultipleImage from 'vue-upload-multiple-image'
import XLSX from 'xlsx';

export default {
  name: 'modal',
  components: {
    'vue-upload-multiple-image' : VueUploadMultipleImage,
  },
  props : {
    openImportModal : {
      type : Boolean
    },
    closeModal : {
      type : Function
    }
  },
  data(){
    return{
      images: [],
      form:{
        file: '',
      },
    }
  },
  mounted() {

  },
  methods: {
    previewFiles(e) {
        var logo = this.images;
        var files = e.target.files, f = files[0];
        var reader = new FileReader();
        var isiXLSX = [];
        reader.onload = function(e) {
          var data = new Uint8Array(e.target.result);
          var workbook = XLSX.read(data, {type: 'array'});
          let sheetName = workbook.SheetNames[0]
          workbook.SheetNames.forEach(function (sheetName) {
              // Get headers.
              var headers = [];
              var sheet = workbook.Sheets[sheetName];
              var range = XLSX.utils.decode_range(sheet['!ref']);
              var C, R = range.s.r;
              /* start in the first row */
              /* walk every column in the range */
              for (C = range.s.c; C <= range.e.c; ++C) {
                  var cell = sheet[XLSX.utils.encode_cell({c: C, r: R})];
                  /* find the cell in the first row */

                  var hdr = "UNKNOWN " + C; // <-- replace with your desired default
                  if (cell && cell.t) {
                      hdr = XLSX.utils.format_cell(cell);
                  }
                  headers.push(hdr);
              }
              // For each sheets, convert to json.
              var roa = XLSX.utils.sheet_to_json(workbook.Sheets[sheetName]);
              if (roa.length > 0) {
                  roa.forEach(function (row) {
                      // Set empty cell to ''.
                      headers.forEach(function (hd) {
                          if (row[hd] == undefined) {
                              row[hd] = '';
                          }
                      });
                  });
              }
              isiXLSX = roa;

              // Swal.fire({
              //   title: 'Are you sure?',
              //   text: "You won't be able to revert this!",
              //   type: 'warning',
              //   showCancelButton: true,
              //   confirmButtonColor: '#3085d6',
              //   cancelButtonColor: '#d33',
              //   confirmButtonText: 'Yes, import it!',
              //   confirmButtonClass: 'btn btn-primary',
              //   cancelButtonClass: 'btn btn-danger ml-1',
              //   buttonsStyling: false,
              // }).then(function (result) {
              //   if (result.value) {
              //     axios.post("/api/importKopXLXS", {
              //       isiXLSX: isiXLSX,
              //       logo: logo,
              //     })
              //     .then(response => {
              //       $(".importKopMod").modal('hide');
              //       $("#fileXLXS").val("");
              //       if(response.data == 'oke'){
              //         Swal.fire(
              //           {
              //             type: "success",
              //             title: 'Imported!',
              //             text: 'Your file has been Import.',
              //             confirmButtonClass: 'btn btn-success',
              //           }
              //         )
              //       } else if(response.data == 'fail') {
              //         $(".importKopMod").modal('hide');
              //         $("#fileXLXS").val("");
              //         Swal.fire(
              //           {
              //             type: "error",
              //             title: 'Failed!',
              //             text: 'Your environment has not been Imported !',
              //             confirmButtonClass: 'btn btn-success',
              //           }
              //         )
              //       } else {
              //         $(".importKopMod").modal('hide');
              //         $("#fileXLXS").val("");
              //         Swal.fire(
              //           {
              //             type: "error",
              //             title: 'Failed!',
              //             text: response.data,
              //             confirmButtonClass: 'btn btn-success',
              //           }
              //         )
              //       }
              //     }).catch(error => {
              //       $(".importKopMod").modal('hide');
              //       $("#fileXLXS").val("");
              //         Swal.fire(
              //           {
              //             type: "error",
              //             title: 'Failed!',
              //             text: error+"! because your import format is wrong",
              //             confirmButtonClass: 'btn btn-success',
              //           }
              //         )
              //     }); 
              //   }
              // }.bind(this))
          });
        };
        reader.readAsArrayBuffer(f);
        this.form.file = '';
        this.closeModal();
    },
    uploadImageSuccess(formData, index, fileList) {
      // console.log('data', formData, index, fileList)
      this.images = fileList;
      // console.log(this.images)
      // Upload image api
      // axios.post('http://your-url-upload', formData).then(response => {
      //   console.log(response)
      // })
    },
    beforeRemove (index, done, fileList) {
      // console.log('index', index, fileList)
      var r = confirm("remove image")
      if (r == true) {
        done()
        this.images = fileList;
      } else {
      }
    },
    editImage (formData, index, fileList) {
      // console.log('edit data', formData, index, fileList)
      this.images = fileList;
    }
  }
};
</script>

<style scoped>
#my-strictly-unique-vue-upload-multiple-image {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  /*margin-top: 60px;*/
}
 
h1, h2 {
  font-weight: normal;
}
 
ul {
  list-style-type: none;
  padding: 0;
}
 
li {
  display: inline-block;
  margin: 0 10px;
}
 
a {
  color: #42b983;
}
</style>


