<template>
  <!-- Modal -->
  <div
    class="modal fade text-left insertKopMod"
    id="exampleModalLong"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLongTitle"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel1">Insert Kop</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form id="formKop" @submit.prevent="addData()" autocomplete="off">
          <div class="modal-body">
            <div class="row">
              <div class="form-group col-md-6">
                <label class="form-control-label" for="inputBasicFirstName">KOP Logo <small style="color:red"> *required</small></label>
                <!-- <div class="img-cropper">
                  <vue-cropper
                    ref="cropper"
                    class="img-crop"
                    :aspect-ratio="1 / 1"
                    :cropBoxMovable="true"
                    :cropBoxResizable="false"
                    :autoCrop="true"
                    :autoCropArea="1"
                    :viewMode="3"
                    :minCropBoxWidth="200"
                    :minCropBoxHeight="200"
                    :minContainerWidth="200"
                    :minContainerHeight="200"
                    :background="false"
                    :src="imgSrc"
                    preview=".preview"
                    dragMode="move"
                  />
                </div> -->
                <div class="img-cropper">
                  <vue-cropper
                    ref="cropper"
                    class="img-crop"
                    :cropBoxMovable="true"
                    :cropBoxResizable="true"         
                    :background="false"
                    :src="imgSrc"
                    preview=".preview"
                    dragMode="move"
                  />
                </div>
                <br />
                <input
                  ref="input"
                  type="file"
                  id="imageIn"
                  name="image"
                  accept="image/*"
                  @change="setImage"
                />
                <br />
                <br />
                <button
                  type="button"
                  class="btn btn-primary btn-block"
                  @click.prevent="cropImage"
                >Crop & Preview</button>
              </div>
              <div class="form-group col-md-6" style="text-align: center;">
                <label class="form-control-label" for="inputBasicFirstName">Preview</label>
                <img
                  class="form-control"
                  v-if="cropImg"
                  :src="cropImg"
                  alt="Cropped Image"
                  style="width:100%;height:auto;"
                />
              </div>
              <div class="form-group col-md-12">
                <label class="form-control-label" for="inputBasicFirstName">KOP Name <small style="color:red"> *required</small></label>
                <input
                  type="textfield"
                  class="form-control"
                  placeholder="Input your KOP name"
                  v-model="form.namaKomunitas"
                  autocomplete="off"
                  required
                />
              </div>
              <div class="form-group col-md-12">
                <label class="form-control-label" for="inputBasicFirstName">KOP Description <small style="color:red"> *required</small></label>
                <textarea class="maxlength-textarea form-control" data-plugin="maxlength" data-placement="bottom-right-inside" maxlength="100" rows="3" placeholder="Input description" v-model="form.deskripsiKomunitas" required></textarea>
              </div>
              
              <div class="form-group col-md-6">
                <label class="form-control-label" for="inputBasicLastName">Name PIC <small style="color:red"> *required</small></label>
                <input
                  type="textfield"
                  class="form-control"
                  placeholder="Input your name pic"
                  v-model="form.namaNarahubung"
                  autocomplete="off"
                  required
                />
              </div>
              <div class="form-group col-md-6">
                <label class="form-control-label" for="inputBasicLastName">Email PIC <small style="color:red"> *required</small></label>
                <input
                  type="email"
                  class="form-control"
                  placeholder="Input your email pic"
                  v-model="form.emailNarahubung"
                  autocomplete="off"
                  required
                />
              </div>
              <div class="form-group col-md-6">
                <label class="form-control-label" for="inputBasicLastName">Telephone PIC <small style="color:red"> *required</small></label>
                <input
                  type="number"
                  class="form-control"
                  placeholder="Input your telephone pic"
                  v-model="form.tlpNarahubung"
                  autocomplete="off"
                  required
                >
              </div>
              <div class="form-group col-md-6">
                <label class="form-control-label" for="inputBasicLastName">KOP Standing Date</label>
                <input type="date" class="form-control" placeholder="yyyy/mm/dd" pattern="(^(((0[1-9]|1[0-9]|2[0-8])[\/](0[1-9]|1[012]))|((29|30|31)[\/](0[13578]|1[02]))|((29|30)[\/](0[4,6,9]|11)))[\/](19|[2-9][0-9])\d\d$)|(^29[\/]02[\/](19|[2-9][0-9])(00|04|08|12|16|20|24|28|32|36|40|44|48|52|56|60|64|68|72|76|80|84|88|92|96)$)" v-model="form.tglKomunitas" autocomplete="off">
              </div>
              <div class="form-group col-md-12">
                <label class="form-control-label" for="inputBasicLastName">Type KOP</label>
                <ul class="list-unstyled mb-0">
                    <li class="d-inline-block mr-2">
                        <fieldset>
                            <div class="vs-radio-con">
                                <input type="radio" id="inputBasicEducation" name="inputJenis" value="Pendidikan" v-model="form.jenisKomunitas"/>
                                <span class="vs-radio">
                                    <span class="vs-radio--border"></span>
                                    <span class="vs-radio--circle"></span>
                                </span>
                                <span class="">Pendidikan</span>
                            </div>
                        </fieldset>
                    </li>
                    <li class="d-inline-block mr-2">
                        <fieldset>
                            <div class="vs-radio-con">
                                <input type="radio" id="inputBasicNonEducation" name="inputJenis" value="Non Pendidikan" v-model="form.jenisKomunitas" />
                                <span class="vs-radio">
                                    <span class="vs-radio--border"></span>
                                    <span class="vs-radio--circle"></span>
                                </span>
                                <span class="">Non Pendidikan</span>
                            </div>
                        </fieldset>
                    </li>
                    <li class="d-inline-block mr-2">
                        <fieldset>
                            <div class="vs-radio-con">
                                <input type="radio" id="inputBasicMedia" name="inputJenis" value="Media" v-model="form.jenisKomunitas" />
                                <span class="vs-radio">
                                    <span class="vs-radio--border"></span>
                                    <span class="vs-radio--circle"></span>
                                </span>
                                <span class="">Media</span>
                            </div>
                        </fieldset>
                    </li>
                    <li class="d-inline-block mr-2">
                        <fieldset>
                            <div class="vs-radio-con">
                                <input type="radio" id="inputBasicGovernmentInstitution" name="inputJenis" value="Institusi Pemerintah" v-model="form.jenisKomunitas" />
                                <span class="vs-radio">
                                    <span class="vs-radio--border"></span>
                                    <span class="vs-radio--circle"></span>
                                </span>
                                <span class="">Institusi Pemerintah</span>
                            </div>
                        </fieldset>
                    </li>
                </ul>
              </div>
              <div class="form-group col-md-12">
                <label class="form-control-label" for="inputBasicLastName">KOP Email <small style="color:red"> *required</small></label>
                <input
                  type="email"
                  class="form-control"
                  placeholder="Input your KOP email"
                  v-model="form.emailKomunitas"
                  autocomplete="off"
                  required
                />
              </div>
              <div class="form-group col-md-12">
                <label class="form-control-label" for="inputBasicLastName">
                  Work Cluster
                  <small style="color:red">*required</small>
                </label>
                <div class="col-md-12">
                  <Select2MultipleControl id="fulltypeCluster" v-model="form.klasterKerja" :options="myOptionsCluster" :settings="{ placeholder: 'Select a Work Cluster', width: '100%' }" @select="mySelectCluster($event)" required/>
                </div>
              </div>
              <template v-if="cluster !== true">
                <div class="form-group col-md-12">
                  <div class="alert alert-danger" role="alert">
                      <p class="mb-0">
                          You can select two item
                      </p>
                  </div>
                </div>
              </template>
              <div class="form-group col-md-12">
                <label class="form-control-label" for="inputBasicLastName">KOP Scope <small style="color:red"> *required</small></label>
                <div class="col-md-12">
                  <Select2MultipleControl id="fulltypeScopeMulti" v-model="form.lingkupKomunitas" :options="myOptionsScope" :settings="{ placeholder: 'Select a KOP Scope', width: '100%' }" @select="mySelectScope($event)" required/>
                </div>
              </div>
              <template v-if="scope !== true">
                <div class="form-group col-md-12">
                  <div class="alert alert-danger" role="alert">
                      <p class="mb-0">
                          You can select two item
                      </p>
                  </div>
                </div>
              </template>
              <div class="form-group col-md-6">
                <label class="form-control-label" for="inputBasicLastName">{{ $t('message.sectionReg14')}} <small style="color:red"> *required</small></label>
                <Select2 id="province" v-model="form.provinsiKerja" :options="myOptionsProvince" :settings="{ placeholder: 'Select a Province', width: '100%' }" @select="mySelectEventCity($event)" />
              </div>
              <div class="form-group col-md-6">
                <label class="form-control-label" for="inputBasicLastName">{{ $t('message.sectionReg15')}} <small style="color:red"> *required</small></label>
                <Select2 id="city" v-model="form.kotaKerja" :options="myOptionsCity" :settings="{ placeholder: 'Select a City', width: '100%' }" />
              </div>
              <div class="form-group col-md-12">
                <label class="form-control-label" for="inputBasicFirstName">KOP Website</label>
                <input
                  type="textfield"
                  class="form-control"
                  placeholder="Input your KOP Website https://example.com"
                  v-model="form.webKomunitas"
                  autocomplete="off"
                >
              </div>
              <div class="form-group col-md-12">
                <label class="form-control-label" for="inputBasicFirstName">KOP Twitter</label>
                <input
                  type="textfield"
                  class="form-control"
                  placeholder="Input your KOP twitter https://example.com/exampleName"
                  v-model="form.twitterKomunitas"
                  autocomplete="off"
                >
              </div>
              <div class="form-group col-md-12">
                <label class="form-control-label" for="inputBasicFirstName">KOP Facebook</label>
                <input
                  type="textfield"
                  class="form-control"
                  placeholder="Input your KOP facebook https://example.com/exampleName"
                  v-model="form.facebookKomunitas"
                  autocomplete="off"
                >
              </div>
              <div class="form-group col-md-12">
                <label class="form-control-label" for="inputBasicFirstName">KOP Instagram</label>
                <input
                  type="textfield"
                  class="form-control"
                  placeholder="Input your KOP instagram https://example.com/exampleName"
                  v-model="form.instagramKomunitas"
                  autocomplete="off"
                >
              </div>
              <div class="form-group col-md-12">
                <label class="form-control-label" for="inputBasicFirstName">KOP Youtube</label>
                <input
                  type="textfield"
                  class="form-control"
                  placeholder="Input your KOP youtube https://example.com/exampleName"
                  v-model="form.youtubeKomunitas"
                  autocomplete="off"
                >
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default btn-pure" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- End Modal -->
</template>

<!-- script js -->
<script>
import VueCropper from "vue-cropperjs";
import "cropperjs/dist/cropper.css";
import Select2 from "v-select2-component";
import Select2MultipleControl from "v-select2-multiple-component";
export default {
  name: "modal",
  components: {
    VueCropper,
    Select2,
    Select2MultipleControl
  },
  props: {
    openModal: {
      type: Boolean
    },
    closeModal: {
      type: Function
    }
  },
  data(){
    return{
      imgSrc: 'theme/avatar.png',
      cropImg: '',
      cluster: true,
      scope: true,
      form:{
        logoKomunitas: 'kosong',
        namaKomunitas: '',
        deskripsiKomunitas: '',
        namaNarahubung: '',
        emailNarahubung: '',
        tlpNarahubung: '',
        jenisKomunitas: '',
        emailKomunitas: '',
        tglKomunitas: '',
        klasterKerja: '',
        lingkupKomunitas: '',
        provinsiKerja: '',
        kotaKerja: '',
        webKomunitas: '',
        twitterKomunitas: '',
        facebookKomunitas: '',
        instagramKomunitas: '',
        youtubeKomunitas: '',
      },
      myOptionsCluster: 
      [
        {id:"Pengembangan Guru",text:"Pengembangan Guru"},
        {id:"Pendidikan Keluarga, Homeschooling & PAUD",text:"Pendidikan Keluarga, Homeschooling & PAUD"},
        {id:"Pengembangan Anak Muda",text:"Pengembangan Anak Muda"},
        {id:"Teknologi dalam Pendidikan",text:"Teknologi dalam Pendidikan"},
        {id:"Pendidikan Karakter (termasuk pendidikan lingkungan, kesehatan dan kesehatan mental)",text:"Pendidikan Karakter (termasuk pendidikan lingkungan, kesehatan dan kesehatan mental)"},
        {id:"Literasi",text:"Literasi"},
        {id:"Pendidikan untuk Semua (Pendidikan khusus/inklusi, alternatif dan kontekstual)",text:"Pendidikan untuk Semua (Pendidikan khusus/inklusi, alternatif dan kontekstual)"},
      ],
      myOptionsScope: 
      [
        {id:"Antikorupsi",text:"Antikorupsi"},
        {id:"Beasiswa",text:"Beasiswa"},
        {id:"Disabilitas",text:"Disabilitas"},
        {id:"Homeschooling",text:"Homeschooling"},
        {id:"Literasi",text:"Literasi"},
        {id:"Pendidikan Anak Usia Dini",text:"Pendidikan Anak Usia Dini"},
        {id:"Pendidikan Karakter",text:"Pendidikan Karakter"},
        {id:"Pendidikan Keluarga/Orangtua",text:"Pendidikan Keluarga/Orangtua"},
        {id:"Pendidikan Kesehatan & Kesehatan Mental",text:"Pendidikan Kesehatan & Kesehatan Mental"},
        {id:"Pendidikan Lingkungan",text:"Pendidikan Lingkungan"},
        {id:"Pendidikan Alternatif dan Kontekstual",text:"Pendidikan Alternatif dan Kontekstual"},
        {id:"Pengembangan Anak Muda",text:"Pengembangan Anak Muda"},
        {id:"Pengembangan Guru",text:"Pengembangan Guru"},
        {id:"Pengembangan Kemampuan/Vokasi",text:"Pengembangan Kemampuan/Vokasi"},
        {id:"Pengembangan Kewirausahaan",text:"Pengembangan Kewirausahaan"},
        {id:"Riset Pendidikan",text:"Riset Pendidikan"},
        {id:"Seni dan Budaya",text:"Seni dan Budaya"},
        {id:"Teknologi dalam Pendidikan",text:"Teknologi dalam Pendidikan"},
        {id:"Toleransi dan Kebangsaan",text:"Toleransi dan Kebangsaan"},
        {id:"Lainnya",text:"Lainnya"},
      ],
      myOptionsProvince: [],
      myOptionsCity: [],
    };
  },
  mounted() {
    this.reset();
    this.mySelectProvince();
  },
  methods: {
    cropImage() {
      // get image data for post processing, e.g. upload or setting image src
      this.cropImg = this.$refs.cropper.getCroppedCanvas().toDataURL();
      this.form.logoKomunitas = this.$refs.cropper
        .getCroppedCanvas()
        .toDataURL();
    },
    setImage(e) {
      const file = e.target.files[0];
      if (file.type.indexOf("image/") === -1) {
        alert("Please select an image file");
        return;
      }
      if (typeof FileReader === "function") {
        const reader = new FileReader();
        reader.onload = event => {
          this.imgSrc = event.target.result;
          // rebuild cropperjs with the updated source
          this.$refs.cropper.replace(event.target.result);
        };
        reader.readAsDataURL(file);
      } else {
        alert("Sorry, FileReader API not supported");
      }
    },
    move(offsetX, offsetY) {
      this.$refs.cropper.move(offsetX, offsetY);
    },
    reset() {
      this.$refs.cropper.replace("theme/avatar.png");
      this.$refs.cropper.reset();
    },
    mySelectCluster({id, text}){
      if(this.form.klasterKerja.length > 2){
        this.cluster=false;
      } else {
        this.cluster=true;
      }
    },
    mySelectScope({id, text}){
      if(this.form.lingkupKomunitas.length > 2){
        this.scope=false;
      } else {
        this.scope=true;
      }
    },
    addData() {
      Swal.fire({
        title: "Are you sure?",
        text: "You won't be able to revert this!",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, insert it!',
        confirmButtonClass: 'btn btn-primary',
        cancelButtonClass: 'btn btn-danger ml-1',
        buttonsStyling: false,
      }).then(function (result) {
        if (result.value) {
          if(this.form.logoKomunitas !== "kosong"){
            axios.post("/api/kopStore", {
              logo_komunitas: this.form.logoKomunitas,
              nama_komunitas: this.form.namaKomunitas,
              deskripsi_komunitas: this.form.deskripsiKomunitas,
              nama_narahubung: this.form.namaNarahubung,
              email_narahubung: this.form.emailNarahubung,
              tlp_narahubung: this.form.tlpNarahubung,
              jenis_komunitas: this.form.jenisKomunitas,
              email_komunitas: this.form.emailKomunitas,
              tgl_komunitas: this.form.tglKomunitas,
              klaster_kerja: this.form.klasterKerja,
              lingkup_komunitas: this.form.lingkupKomunitas,
              provinsi_kerja: this.form.provinsiKerja,
              kota_kerja: this.form.kotaKerja,
              web_komunitas: this.form.webKomunitas,
              twitter_komunitas: this.form.twitterKomunitas,
              facebook_komunitas: this.form.facebookKomunitas,
              instagram_komunitas: this.form.instagramKomunitas,
              youtube_komunitas: this.form.youtubeKomunitas,
            })
            .then(response => {
              Swal.fire(
                {
                  type: "success",
                  title: 'Inserted!',
                  text: 'Your file has been Insert.',
                  confirmButtonClass: 'btn btn-success',
                }
              )
              $(".insertKopMod").modal('hide');
              this.reset();
              this.closeModal();
              this.imgSrc = 'theme/avatar.png',
              this.cropImg = '',
              this.form.logoKomunitas = 'kosong'
              this.form.namaKomunitas = ''
              this.form.deskripsiKomunitas = ''
              this.form.namaNarahubung = ''
              this.form.emailNarahubung = ''
              this.form.tlpNarahubung = ''
              this.form.jenisKomunitas = ''
              this.form.emailKomunitas = ''
              this.form.klasterKerja = ''
              this.form.lingkupKomunitas = ''
              this.form.provinsiKerja = ''
              this.form.kotaKerja = ''
              this.form.webKomunitas = ''
              this.form.twitterKomunitas = ''
              this.form.facebookKomunitas = ''
              this.form.instagramKomunitas = ''
              this.form.youtubeKomunitas = ''
              $('#imageIn').val("");
            });
          } else {
            Swal.fire(
              {
                type: "error",
                title: "Failed!",
                text: "Crop your photo !",
                confirmButtonClass: "btn btn-success"
              });
            }
          }
        }.bind(this)
      );
    },
    mySelectProvince(){
      axios
        .get("/api/dropdownprovince")
        .then(response => {
          this.myOptionsProvince = response.data;
      });
    },
    mySelectEventCity({id, text}){
      axios
        .get("/api/dropdowncity/" + id)
        .then(response => {
          this.myOptionsCity = response.data;
      });
    },
  }
};
</script>

<style scoped>
.img-crop {
  width: 200px;
  height: 200px;
}
</style>

