<template>
  <!-- Modal -->
  <div class="modal fade text-left notapproveKopMod" id="default" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel1">Not Approve Kop</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form id="formNotApprove" @submit.prevent="addNotApprove()" autocomplete="off">
          <div class="modal-body">
            <table border='0' cellpadding='0' cellspacing='0' class='body' style='border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%; background-color: #f6f6f6;'>
              <tr>
                <td style='font-family: sans-serif; font-size: 14px; vertical-align: top;'>&nbsp;</td>
                <td class='container' style='font-family: sans-serif; font-size: 14px; vertical-align: top; display: block; margin: 0 auto; max-width: 580px; padding: 10px; width: 580px;'>
                  <div class='content' style='box-sizing: border-box; display: block; margin: 0 auto; max-width: 580px; padding: 10px;'>

                    <!-- START CENTERED WHITE CONTAINER -->
                    <span class='preheader' style='color: transparent; display: none; height: 0; max-height: 0; max-width: 0; opacity: 0; overflow: hidden; mso-hide: all; visibility: hidden; width: 0;'>This is preheader text. Some clients will show this text as a preview.</span>
                    <table class='main' style='border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%; background: #ffffff; border-radius: 3px;'>

                      <!-- START MAIN CONTENT AREA -->
                      <tr>
                        <td class='wrapper' style='font-family: sans-serif; font-size: 14px; vertical-align: top; box-sizing: border-box; padding: 20px;'>
                          <table border='0' cellpadding='0' cellspacing='0' style='border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%;'>
                            <tr>
                              <td style='font-family: sans-serif; font-size: 14px; vertical-align: top;' >
                              <img style='width: 200px;height: auto;' src='themeLanding/img/logo2.png'/>
                                <br>
                              </td>
                            </tr>
                            <tr>
                              <td class="contentIsi" v-html="contentNotApprove">
                                {{ contentNotApprove }}
                              </td>
                            </tr>
                            <tr>
                              <td>
                                <hr> 
                                Remarks : {{ form.catatan }}
                              </td>
                            </tr>
                          </table>
                        </td> 
                      </tr>
                    <!-- END MAIN CONTENT AREA -->
                    </table>

                    <!-- START FOOTER -->
                      <!-- <table border='0' cellpadding='0' cellspacing='0' style='border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%;'>
                        <tr>
                          <td class='content-block' style='font-family: sans-serif; vertical-align: top; padding-bottom: 10px; padding-top: 10px; font-size: 12px; color: #999999; text-align: center;'>
                            <span class='apple-link' style='color: #999999; font-size: 12px; text-align: center;'>Exiglosi., Edugate Building Lt. Dasar Suite G, Jl. Fatmawati No.99, Jakarta 12430.</span>
                          </td>
                        </tr>
                        <tr>
                          <td class='content-block powered-by' style='font-family: sans-serif; vertical-align: top; padding-bottom: 10px; padding-top: 10px; font-size: 12px; color: #999999; text-align: center;'>
                            Powered by <a href='https://www.exiglosi.com/' style='color: #999999; font-size: 12px; text-align: center; text-decoration: none;'>Exiglosi.</a>.
                          </td>
                        </tr>
                      </table> -->
                    <!-- END FOOTER -->
                  <!-- END CENTERED WHITE CONTAINER -->
                  </div>
                </td>
                <td style='font-family: sans-serif; font-size: 14px; vertical-align: top;'>&nbsp;</td>
              </tr>
            </table>
            <!-- <quill-editor
              :content="contentNot Approve"
              :options="editorOption"
              @change="onEditorChangeNot Approve($event)"
            /> -->
            <br>
            <div class="row">
              <div class="form-group col-md-12">
                <label class="form-control-label" for="inputBasicPassword">Remarks</label>
                <textarea class="maxlength-textarea form-control" data-plugin="maxlength" data-placement="bottom-right-inside"
                  maxlength="100" rows="3" placeholder="Input your remarks" v-model="form.catatan" required></textarea>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default btn-pure" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Not Approve & Send Mail</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- End Modal -->
</template>

<!-- script js -->
<script>
import { quillEditor } from 'vue-quill-editor';
import 'quill/dist/quill.core.css'
import 'quill/dist/quill.snow.css'
import 'quill/dist/quill.bubble.css'

export default {
  name: 'notapprove',
  components: {
    quillEditor
  },
  props : {
    notapproveModal : {
      type : Boolean
    },
    notapprove : {
      type : Object
    },
    closeModal : {
      type : Function
    }
  },
  data(){
    return{
      contentNotApprove: '',
      form:{
        idKop: '',
        namaNarahubung: '',
        emailNarahubung: '',
        catatan: ''
      },
    }
  },
  watch: {
    notapprove(newVal) {
      if (newVal) {
        this.form.idKop = newVal.id_kop;
        this.form.namaNarahubung = newVal.nama_narahubung;
        this.form.emailNarahubung = newVal.email_narahubung;
      }
    } 
  },
  mounted() {
    this.getContent()
  },
  methods: {
    getContent(){
      axios
          .get("/api/getcontent/NotApprove")
          .then(response => {
            this.contentNotApprove = response.data[0].content;
          });
    },
    onEditorChangeNotApprove({ quill, html, text }) {
      // console.log('editor change!', quill, html, text)
      this.contentNotApprove = html
    },
    addNotApprove(){
      Swal.fire({
        title: 'Are you sure?',
        text: "You won't be able to revert this!",
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, insert it!',
        confirmButtonClass: 'btn btn-primary',
        cancelButtonClass: 'btn btn-danger ml-1',
        buttonsStyling: false,
        showLoaderOnConfirm: true,
        preConfirm: () => {
          return axios.post("/api/notapproveKop", {
            id_kop: this.form.idKop,
            nama_narahubung: this.form.namaNarahubung,
            email_narahubung: this.form.emailNarahubung,
            catatan: this.form.catatan,
          })
          .then(response => {
            Swal.fire(
              {
                type: "success",
                title: 'Not Approved!',
                text: 'Your file has been Not Approve.',
                confirmButtonClass: 'btn btn-success',
              }
            )
            $(".notapproveKopMod").modal('hide');
            this.closeModal();
            this.form.idKop = ''
            this.form.namaNarahubung = ''
            this.form.emailNarahubung = ''
            this.form.catatan = ''
          });
        },
        allowOutsideClick: () => !this.$swal.isLoading()
      }).then(function (result) {
        if (result.value) {
          this.closeModal();
          Swal.fire(
            {
              type: "success",
              title: 'Not Approve!',
              text: 'Your file has been Not Approve.',
              confirmButtonClass: 'btn btn-success',
            }
          )
        }
      }.bind(this))      
    },
  }
};
</script>


