<template>

  <!-- BEGIN: Content-->
  <div class="app-content content">
      <div class="content-overlay"></div>
      <div class="header-navbar-shadow"></div>
      <div class="content-wrapper">
          <div class="content-header row">
              <div class="content-header-left col-md-8 col-12 mb-2">
                  <div class="row breadcrumbs-top">
                      <div class="col-12">
                          <h2 class="content-header-title float-left mb-0">Request KOP</h2>
                          <div class="breadcrumb-wrapper col-12">
                              <ol class="breadcrumb">
                                  <li class="breadcrumb-item"><a href="index.html">Home</a>
                                  </li>
                                  <li class="breadcrumb-item active">Request KOPs
                                  </li>
                              </ol>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="content-header-right text-md-right col-md-4 col-12 d-md-block d-none">
                  <div class="form-group breadcrum-right">
                      <div class="dropdown">
                        <!-- <template v-for="actionS in action">
                          <template v-if="actionS == 'Export'">
                            <a target="_blank" rel="noopener noreferrer" href="/downloadExcelKop">
                              <button class="btn-icon btn btn-primary btn-round btn-sm dropdown-toggle" aria-haspopup="true" aria-expanded="false"><i class="feather icon-log-out"></i> <b>Export</b> </button>
                            </a>
                          </template>
                          <template v-if="actionS == 'Import'">
                            <button class="btn-icon btn btn-primary btn-round btn-sm dropdown-toggle" data-target=".importKopMod" data-toggle="modal" type="button" @click="openImportModal" aria-haspopup="true" aria-expanded="false"><i class="feather icon-log-in"></i> <b>Import</b> </button>
                          </template>
                          <template v-if="actionS == 'Insert'">
                            <button class="btn-icon btn btn-primary btn-round btn-sm dropdown-toggle" data-target=".insertKopMod" data-toggle="modal" type="button" @click="openModal" aria-haspopup="true" aria-expanded="false"><i class="feather icon-file-plus"></i> <b>New</b> </button>
                          </template>
                        </template> -->

                          <button class="btn-icon btn btn-primary btn-round btn-sm dropdown-toggle"data-toggle="tooltip"
                            data-original-title="Refresh" v-on:click="onRefresh" aria-haspopup="true" aria-expanded="false"><i class="feather icon-refresh-ccw"></i>
                          </button>

                      </div>
                  </div>
              </div>
          </div>

          <view-kop-mod :open-modal="viewOpen" :view="view" :close-modal="loadItems"></view-kop-mod>
          <approve-kop-mod :open-modal="approveOpen" :approve="approve" :close-modal="loadItems"></approve-kop-mod>
          <notapprove-kop-mod :open-modal="notapproveOpen" :notapprove="notapprove" :close-modal="loadItems"></notapprove-kop-mod>

          <div class="content-body">
              <!-- Basic example section start -->
              <section id="basic-examples">
                  <div class="card">
                      <div class="card-header">
                          <h4 class="card-title">Jumlah KOP : {{totalKOP}}</h4>
                      </div>
                      <div class="card-content">
                          <div class="card-body">

                            <vue-good-table
                              mode="remote"
                              @on-page-change="onPageChange"
                              @on-sort-change="onSortChange"
                              @on-column-filter="onColumnFilter"
                              @on-per-page-change="onPerPageChange"
                              @on-search="onSearch"
                              :totalRows="totalRecords"
                              :isLoading.sync="isLoading"
                              :pagination-options="{
                                enabled: true,
                                dropdownAllowAll: false,
                                mode: 'pages'
                              }"
                              :search-options="{
                                enabled: true,
                                skipDiacritics: true,
                              }"
                              :rows="rows"
                              :columns="columns">
                              <template slot="table-row" slot-scope="props">
                                <span v-if="props.column.field == 'action'"> 
                                  <template v-for="actionS in action">
                                    <template v-if="actionS == 'View'">
                                      <button class="btn-icon btn btn-primary btn-sm btn-round mr-1 mb-1 waves-effect waves-light" data-target=".viewKopMod" data-toggle="modal" type="button" title='View' @click="viewModal(props.row.id_kop)"><i class="feather icon-eye" aria-hidden="true"></i></button>
                                    </template>
                                    <!-- <template v-if="actionS == 'Update'">
                                      <button class="btn-icon btn btn-info btn-sm btn-round mr-1 mb-1 waves-effect waves-light" data-target=".updateKopMod" data-toggle="modal" type="button" title='Update' @click="updateModal(props.row.id_kop)"><i class="feather icon-edit" aria-hidden="true"></i></button>
                                    </template> -->
                                    <template v-if="actionS == 'Delete'">
                                      <button class="btn-icon btn btn-danger btn-sm btn-round mr-1 mb-1 waves-effect waves-light" title='Delete' @click="deleteData(props.row.id_kop)"><i class="feather icon-delete" aria-hidden="true"></i></button>
                                    </template>
                                    <!-- <template v-if="actionS == 'Pdf'">
                                      <a target="_blank" rel="noopener noreferrer" :href="'api/pdfKop/' + props.row.id_kop">
                                        <button class="btn-icon btn btn-warning btn-sm btn-round mr-1 mb-1 waves-effect waves-light" title='Pdf'><i class="feather icon-upload-cloud" aria-hidden="true"></i></button>
                                      </a>
                                    </template> -->
                                  </template>
                                </span>
                                <span v-if="props.column.field == 'approved'">
                                  <template v-if="props.row.status == 3">
                                    <span class="badge badge-round badge-success">Not Approved</span>
                                  </template>
                                  <!-- <template v-else-if="props.row.status == 1">
                                    <span class="badge badge-round badge-primary">Waiting</span>
                                  </template> -->
                                  <template v-else>
                                    <template v-for="actionS in action">
                                      <template v-if="actionS == 'Approve'">
                                        <!-- <button class="btn-icon btn btn-success btn-sm btn-round mr-1 mb-1 waves-effect waves-light" title='Approve' @click="approveModal(props.row.id_kop)"><i class="feather icon-check-circle" aria-hidden="true"></i></button> -->

                                        <button class="btn-icon btn btn-success btn-sm btn-round mr-1 mb-1 waves-effect waves-light" data-target=".approveKopMod" data-toggle="modal" type="button" @click="approveModal(props.row.id_kop)" aria-haspopup="true" aria-expanded="false" title='Approve'><i class="feather icon-check-circle" aria-hidden="true"></i></button>

                                        <!-- <button class="btn-icon btn btn-danger btn-sm btn-round mr-1 mb-1 waves-effect waves-light" title='Not Approve' @click="notapproveModal(props.row.id_kop)"><i class="feather icon-slash" aria-hidden="true"></i></button> -->

                                        <button class="btn-icon btn btn-danger btn-sm btn-round mr-1 mb-1 waves-effect waves-light" data-target=".notapproveKopMod" data-toggle="modal" type="button" @click="notapproveModal(props.row.id_kop)" aria-haspopup="true" aria-expanded="false" title='Not Approve'><i class="feather icon-slash" aria-hidden="true"></i></button>
                                      </template>
                                    </template>
                                  </template>
                                </span>
                                <span v-if="props.column.field == 'logo_komunitas'">
                                  <img class="round-img" :src="`${props.row.logo_komunitas}`" @error="(() => props.row.logo_komunitas = 'uploads/photo_profile/avatarDefault.png')" width="60" height="auto" alt="...">
                                </span>
                                <!-- <span v-if="props.column.field == 'birth_date'">
                                  {{ formatDate(props.row.birth_date) }}
                                </span> -->
                                <span v-else>
                                  {{props.formattedRow[props.column.field]}}
                                </span>
                              </template>
                            </vue-good-table>

                          </div>
                      </div>
                  </div>
              </section>
              <!-- // Basic example section end -->
          </div>
      </div>
  </div>
  <!-- END: Content-->

</template>

<!-- script js -->
<script>
import ViewKOP from './ViewKop.vue';
import ApproveKOP from './ApproveKop.vue';
import NotApproveKOP from './NotApproveKop.vue';
import 'vue-good-table/dist/vue-good-table.css'
import { VueGoodTable } from 'vue-good-table';
import moment from 'moment';
moment.locale("id");

const _ = require('lodash');

export default {
    name: 'reqkop',
    components: {
      'vue-good-table' : VueGoodTable,
      'view-kop-mod' : ViewKOP,
      'approve-kop-mod' : ApproveKOP,
      'notapprove-kop-mod' : NotApproveKOP
    },
    data() {
        return {
            totalKOP: '',
            isLoading: false,
            modalOpen: false,
            viewOpen: false,
            view: {},
            approveOpen: false,
            approve: {},
            notapproveOpen: false,
            notapprove: {},
            prints: [],
            columns: [
                {
                    label: 'Logo',
                    field: 'logo_komunitas',
                },
                {
                    label: 'Name',
                    field: 'nama_komunitas',
                    filterable: true
                },
                {
                    label: 'Type',
                    field: 'jenis_komunitas',
                    // filterable: true
                },
                {
                    label: 'Email',
                    field: 'email_komunitas',
                    // filterable: true
                },
                {
                    label: 'Name Person',
                    field: 'nama_narahubung',
                    // filterable: true
                },
                {
                    label: 'Email Person',
                    field: 'email_narahubung',
                    // filterable: true
                },
                {
                  label: 'Action',
                  field: 'action',
                  sortable: false,
                },
                {
                  label: 'Approved',
                  field: 'approved',
                  sortable: false,
                },
            ],
            rows: [],
            totalRecords: 0,
            serverParams: {
              columnFilters: {
              },
              sort: {       
                field: 'created_at', 
                type: 'desc',
              },
              page: 1, 
              perPage: 10,
              searchTerm: ''
            },
            session: {
              id: '',
              id_person: '',
              role: ''
            },
            action: []
        };
    },
    beforeCreate(){
        this.loading = true;
        axios
        .get("/session")
        .then(response => {
            this.id = response.data.id;
            this.role = response.data.role;
            this.login = response.data.login;
            axios
            .get("/api/getSide/" + this.id )
            .then(response => {
                this.data = response.data;
                var routesUser = [];
                this.data.forEach(function(puki, index) {
                  var nam = puki.Link.substr(1);
                  routesUser.push(nam);
                }); 
                var n = routesUser.includes(this.$options.name);
                console.log(n)
                if(this.login == true && n == true){
                  this.loading = false;
                  this.loadItems()
                  this.getAction(this.id,this.$options.name)
                } else if (this.login == true && n == false) {
                  this.$router.push('/not404');
                  this.loading = false;
                } else {
                  window.location.href = "/";
                  // this.$router.push('/not404');
                  this.loading = false;
                }
            });
        });
    },
    mounted() {
        // this.loadItems()
        // this.cekUserMenu()
    },
    methods: {
      getAction(id,link){
        axios
            .get("/api/action/" + id + "/" + link)
            .then(response => {
              this.action = response.data;
            });
      },
      getFromServer(kops) {
        return axios.get(`/api/getReqKop?searchTerm=${kops.searchTerm}&page=${kops.page}&per_page=${kops.perPage}&field=${kops.sort.field}&type=${kops.sort.type}`); 
      },

      updateParams(newProps) {
        this.serverParams = Object.assign({}, this.serverParams, newProps);
      },
      
      onPageChange(params) {
        this.updateParams({page: params.currentPage});
        this.loadItems();
      },

      onPerPageChange(params) {
        this.updateParams({perPage: params.currentPerPage});
        this.loadItems();
      },

      onSortChange(params) {
        this.updateParams({
          sort: {
            type: params[0].type,
            field: params[0].field,
          },
        });
        this.loadItems();
      },
      
      onColumnFilter(params) {
        this.updateParams(params);
        this.loadItems();
      },

      onSearch(params) {
        this.updateParams(params);
        this.loadItems();
      },

      openModal() {
          this.modalOpen = !this.modalOpen;
      }, 

      closeModal() {
          this.modalOpen = false;
          this.approveOpen = false;
          this.notapproveOpen = false;
          this.loadItems()
      },

      viewModal(params) {
          axios
            .get("/api/kop/" + params)
            .then(response => {
              this.view = response.data;
            });
          this.viewOpen = !this.viewOpen;
      },

      approveModal(params) {
          axios
            .get("/api/kop/" + params)
            .then(response => {
              this.approve = response.data;
            });
          this.approveOpen = !this.approveOpen;
      },

      notapproveModal(params) {
          axios
            .get("/api/kop/" + params)
            .then(response => {
              this.notapprove = response.data;
            });
          this.notapproveOpen = !this.notapproveOpen;
      },
      
      deleteData(id_kop) {
        Swal.fire({
          title: 'Are you sure?',
          text: "You won't be able to revert this!",
          type: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: 'Yes, delete it!',
          confirmButtonClass: 'btn btn-primary',
          cancelButtonClass: 'btn btn-danger ml-1',
          buttonsStyling: false,
        }).then(function (result) {
          if (result.value) {
            axios.delete("/api/kop/" + id_kop).then(response => {
              this.loadItems();
              Swal.fire(
                {
                  type: "success",
                  title: 'Deleted!',
                  text: 'Your file has been deleted.',
                  confirmButtonClass: 'btn btn-success',
                }
              )
            });
          }
        }.bind(this))
      },

      loadItems() {
        this.getFromServer(this.serverParams).then((response) => {
            this.totalRecords = response.data.kops.total;
            this.totalKOP = this.totalRecords
            this.rows = response.data.kops.data;
        })
      },

      // approveData(id_kop){
      //   Swal.fire({
      //     title: 'Are you sure?',
      //     text: "Be sure to approve this data !",
      //     type: 'warning',
      //     showCancelButton: true,
      //     confirmButtonColor: '#3085d6',
      //     cancelButtonColor: '#d33',
      //     confirmButtonText: 'Yes, approve it!',
      //     confirmButtonClass: 'btn btn-primary',
      //     cancelButtonClass: 'btn btn-danger ml-1',
      //     buttonsStyling: false,
      //   }).then(function (result) {
      //     if (result.value) {
      //       // axios.delete("/api/kop/" + id_kop).then(response => {
      //       //   this.loadItems();
      //       //   Swal.fire(
      //       //     {
      //       //       type: "success",
      //       //       title: 'Deleted!',
      //       //       text: 'Your file has been deleted.',
      //       //       confirmButtonClass: 'btn btn-success',
      //       //     }
      //       //   )
      //       // });
      //     }
      //   }.bind(this))
      // },
      // notapproveData(id_kop){
      //   Swal.fire({
      //     title: 'Are you sure?',
      //     text: "Be sure to not approve this data !",
      //     type: 'warning',
      //     showCancelButton: true,
      //     confirmButtonColor: '#3085d6',
      //     cancelButtonColor: '#d33',
      //     confirmButtonText: 'Yes, not approve it!',
      //     confirmButtonClass: 'btn btn-primary',
      //     cancelButtonClass: 'btn btn-danger ml-1',
      //     buttonsStyling: false,
      //   }).then(function (result) {
      //     if (result.value) {
      //       // axios.delete("/api/kop/" + id_kop).then(response => {
      //       //   this.loadItems();
      //       //   Swal.fire(
      //       //     {
      //       //       type: "success",
      //       //       title: 'Deleted!',
      //       //       text: 'Your file has been deleted.',
      //       //       confirmButtonClass: 'btn btn-success',
      //       //     }
      //       //   )
      //       // });
      //     }
      //   }.bind(this))
      // },

      onRefresh: function (event) {
        if (event) {
          this.loadItems();
        }
      },

      formatDate(value) {
          return moment(value).format("DD MMMM YYYY")
      }

    }
};
</script>


<style scoped>
  .image img{
        position: absolute;
        max-width: 100%;
        max-height: 100%;
        width: 100%;
        /*height: 100%;*/
        top: 50%;
        left: 50%;
        /*object-fit: cover;*/
        transform: translateX(-50%) translateY(-50%);
  }   


</style>