<template>
  <!-- Modal -->
  <div class="modal fade text-left viewEmailMod" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel1">View Mail History</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12">
              <p style="margin-bottom: 0px;"><b>Subject</b></p>
              <div v-html="form.subject">
                <p>{{form.subject}}</p>
              </div>
            </div>
            <div class="col-md-12" style="padding-top:10px;">
              <p style="margin-bottom: 0px;"><b>Body</b></p>
              <div v-html="form.body_mail">
                <p>{{form.body_mail}}</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <br><br>
              <h4 class="card-title">Jumlah Email : {{total}}</h4>
              <vue-good-table
                mode="remote"
                @on-page-change="onPageChange"
                @on-sort-change="onSortChange"
                @on-column-filter="onColumnFilter"
                @on-per-page-change="onPerPageChange"
                @on-search="onSearch"
                :totalRows="totalRecords"
                :isLoading.sync="isLoading"
                :pagination-options="{
                  enabled: true,
                  dropdownAllowAll: false,
                  mode: 'pages'
                }"
                :search-options="{
                  enabled: true,
                  skipDiacritics: true,
                }"
                :rows="rows"
                :columns="columns">
                <template slot="table-row" slot-scope="props">
                  <span v-if="props.column.field == 'status'">
                    <template v-if="props.row.status == 1">
                      <span class="badge badge-round badge-success">Success</span>
                    </template>
                    <template v-else>
                      <span class="badge badge-round badge-danger">Failed</span>
                    </template>
                  </span>
                  <span v-else-if="props.column.field == 'send'">
                    {{formatDatetime(props.row.send)}}
                  </span>
                  <span v-else>
                    {{props.formattedRow[props.column.field]}}
                  </span>
                </template>
              </vue-good-table>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!-- End Modal -->
</template>

<!-- script js -->
<script>
import 'vue-good-table/dist/vue-good-table.css'
import { VueGoodTable } from 'vue-good-table';
import moment from 'moment';
moment.locale("id");
const _ = require('lodash');

export default {
  name: 'modal',
  components: {
      'vue-good-table' : VueGoodTable,
    },
  props : {
    viewModal : {
      type : Boolean
    },
    view : {
      type : Object
    }
  },
  data(){
    return{
      isLoading: false,
      form:{
        id: '',
        subject: '',
        body_mail: '',
      },
      columns: [
          {
              label: 'Komunitas',
              field: 'nama_komunitas',
          },
          {
              label: 'Send',
              field: 'send',
              filterable: true
          },
          {
              label: 'Status',
              field: 'status',
              filterable: true
          },
      ],
      rows: [],
      totalRecords: 0,
      serverParams: {
        columnFilters: {
        },
        sort: {       
          field: 'created_at', 
          type: 'desc',
        },
        page: 1, 
        perPage: 10,
        searchTerm: ''
      },
      total: '',
    }
  },
  watch: {
    view(newVal) {
      if (newVal) {
        this.form.id = newVal.id;
        this.form.subject = newVal.subject;
        this.form.body_mail = newVal.body_mail;
        this.loadItems()
      }
    } 
  },
  methods: {
    getFromServer(mails) {
      return axios.get(`/api/getHistoryMailView/${this.form.id}?searchTerm=${mails.searchTerm}&page=${mails.page}&per_page=${mails.perPage}&field=${mails.sort.field}&type=${mails.sort.type}`); 
    },

    updateParams(newProps) {
      this.serverParams = Object.assign({}, this.serverParams, newProps);
    },
    
    onPageChange(params) {
      this.updateParams({page: params.currentPage});
      this.loadItems();
    },

    onPerPageChange(params) {
      this.updateParams({perPage: params.currentPerPage});
      this.loadItems();
    },

    onSortChange(params) {
      this.updateParams({
        sort: {
          type: params[0].type,
          field: params[0].field,
        },
      });
      this.loadItems();
    },
    
    onColumnFilter(params) {
      this.updateParams(params);
      this.loadItems();
    },

    onSearch(params) {
      this.updateParams(params);
      this.loadItems();
    },

    loadItems() {
      this.getFromServer(this.serverParams).then((response) => {
          this.totalRecords = response.data.mails.total;
          this.total = this.totalRecords
          this.rows = response.data.mails.data;
      })
    },

    formatDatetime(value){
      const format1 = "DD MMMM YYYY HH:mm:ss"
      var date1 = new Date(value);
      return moment(date1).format(format1);
      console.log(moment(date1).format(format1))
    },

    formatDate(value) {
        return moment(value).format("DD MMMM YYYY")
    }
  }
};
</script>

