<template>
  <!-- Modal -->
  <div
    class="modal fade text-left insertCommitteeMod"
    id="exampleModalLong"
    tabindex="-1"
    role="dialog" 
    aria-labelledby="exampleModalLongTitle"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel1">Insert Committee</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form id="formCommittee" @submit.prevent="addData()" autocomplete="off">
          <div class="modal-body">
            <div class="row">
              <div class="form-group col-md-12">
                <label class="form-control-label" for="inputBasicFirstName">Title Committee <small style="color:red"> *required</small></label>
                <input
                  type="textfield"
                  class="form-control"
                  placeholder="Input Title"
                  v-model="form.TitleCommittee"
                  autocomplete="off"
                  required
                />
              </div>
              <div class="form-group col-md-6">
                <label class="form-control-label" for="inputBasicLastName">Valid Dari <small style="color:red"> *required</small></label>
                <input type="date" placeholder="yyyy/mm/dd" pattern="(^(((0[1-9]|1[0-9]|2[0-8])[\/](0[1-9]|1[012]))|((29|30|31)[\/](0[13578]|1[02]))|((29|30)[\/](0[4,6,9]|11)))[\/](19|[2-9][0-9])\d\d$)|(^29[\/]02[\/](19|[2-9][0-9])(00|04|08|12|16|20|24|28|32|36|40|44|48|52|56|60|64|68|72|76|80|84|88|92|96)$)" class="form-control" v-model="form.tglValidDari" autocomplete="off" required>
              </div>
              <div class="form-group col-md-6">
                <label class="form-control-label" for="inputBasicLastName">Valid Sampai <small style="color:red"> *required</small></label>
                <input type="date" placeholder="yyyy/mm/dd" pattern="(^(((0[1-9]|1[0-9]|2[0-8])[\/](0[1-9]|1[012]))|((29|30|31)[\/](0[13578]|1[02]))|((29|30)[\/](0[4,6,9]|11)))[\/](19|[2-9][0-9])\d\d$)|(^29[\/]02[\/](19|[2-9][0-9])(00|04|08|12|16|20|24|28|32|36|40|44|48|52|56|60|64|68|72|76|80|84|88|92|96)$)" class="form-control" v-model="form.tglValidSampai" autocomplete="off" required>
              </div>
              <div class="form-group col-md-12">
                <label class="form-control-label" for="inputBasicLastName">User Committee <small style="color:red"> *required</small></label>
                <div class="col-md-12">
                  <Select2MultipleControl id="fulltypeScopeMulti" v-model="form.IdUser" :options="myOptionsUser" :settings="{ placeholder: 'Select a User Committee', width: '100%' }" @select="mySelectUser($event)" required/>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- End Modal -->
</template>

<!-- script js -->
<script>
import VueCropper from "vue-cropperjs";
import "cropperjs/dist/cropper.css";
import Select2 from "v-select2-component";
import Select2MultipleControl from "v-select2-multiple-component";
export default {
  name: "modal",
  components: {
    VueCropper,
    Select2,
    Select2MultipleControl
  },
  props: {
    openModal: {
      type: Boolean
    },
    closeModal: {
      type: Function
    }
  },
  data(){
    return{
      count: 0,
      loading: false,
      form:{
        TitleCommittee: '',
        tglValidDari: '',
        tglValidSampai: '',
        IdUser: '',
        IdSender: '',
      },
      myOptionsUser: [],
    };
  },
  mounted() {
    this.mySelectOptionUser()
  },
  methods: {
    mySelectUser({id, text}){
    },
    mySelectOptionUser(){
      axios
        .get("/api/dropdownuserCommittee")
        .then(response => {
          this.myOptionsUser = response.data;
      });

      axios
        .get("/session")
        .then(response => {
          this.form.IdSender = response.data.id
      });
    },
    addData() {
      var msg = "Terimakasih sudah mendaftarkan Committee Tahun ini";

      let formData = new FormData();
      formData.append('title_committee', this.form.TitleCommittee);
      formData.append('valid_from', this.form.tglValidDari);
      formData.append('valid_to', this.form.tglValidSampai);
      formData.append('id_user', this.form.IdUser);
      formData.append('id_sender', this.form.IdSender);
      formData.append('username', localStorage.getItem('username'));
      formData.append('fullname', localStorage.getItem('fullname'));

      var status;

      Swal.fire({
        title: 'Are you sure?',
        text: "You won't be able to revert this!",
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, insert it!',
        confirmButtonClass: 'btn btn-primary',
        cancelButtonClass: 'btn btn-danger ml-1',
        buttonsStyling: false,
        showLoaderOnConfirm: true,
        preConfirm: () => {
          return axios.post("/api/committeeStore", formData,{
            headers : {
                        'Content-Type': 'multipart/form-data'
                      },
          })
          .then(response => {
            $(".insertCommitteeMod").modal('hide');
            this.closeModal();
            this.form.TitleCommittee = ''
            this.form.tglValidDari = ''
            this.form.tglValidSampai = ''
            this.form.IdUser = ''
            this.form.IdSender = ''
            status = response.data.status
            return 
          })
          .catch(error => {
            Swal.showValidationMessage(
              `Request failed: ${error}`
            )
          })
        },
        allowOutsideClick: () => !this.$swal.isLoading()
      }).then(function (result) {
        if (result.value) {
          if (status == "Success"){
            Swal.fire(
              {
                type: "success",
                title: 'Inserted!',
                text: msg,
                confirmButtonClass: 'btn btn-success',
              }
            )
          } else {
            Swal.fire(
              {
                type: "warning",
                title: 'Failed!',
                text: "Masih terdapat Committee dengan status AKTIF",
                confirmButtonClass: 'btn btn-success',
              }
            )
          }
        }
      }.bind(this))
    },
  }
};
</script>

<style scoped>
.img-crop {
  width: 200px;
  height: 200px;
}
.img-crop2 {
  width: 480px; 
  height: 200px;
}

.form-control-label {
  font-size: 18px;
  font-weight: 500;
  color: #5f5f5f;
}

ul li{
  display: block;  
  border-bottom: 1px dotted lightgray;  
}

ul li label{
  display: inline-block;
  vertical-align: middle;
  padding-left: 20px;
  z-index: 9;
  cursor: pointer;
  -webkit-transition: all 0.15s linear;
}

/* Outer circle, unselected, not-hovered */
ul li .check{
  display: inline-block;vertical-align: middle;
  position: relative;
  border: 3px dotted purple;
  border-radius: 100%;
  height: 25px;
  width: 25px;
  z-index: 5;
  transition: border .25s linear;
  -webkit-transition: border .25s linear;
}

/* Outer circle, unselected, hovered */
ul li:hover .check {
  border: 3px solid green;
}

/* Inner circle */
ul li .check::before {
  display: block;
  position: relative;
  content: '';
  border-radius: 100%;
  height: 15px;
  width: 15px;
  left:5px;
  top: 5px;
  transition: background 0.1s linear;
  -webkit-transition: background 0.1s linear;
}

/* Outer circle, selected, unhovered */
input[type=radio]:checked ~ .check {
  border: 3px solid blue;
}

/* Inner circle, selected, unhovered */
input[type=radio]:checked ~ .check::before{
  background: black;
}

td 
{
    vertical-align: -webkit-baseline-middle;
}

.select2-container--default .select2-selection--multiple {
    background-color: white;
    border: 1px solid #aaaaaa63 !important;
    border-radius: 4px;
    cursor: text;
}
</style>

