<template>

  <!-- BEGIN: Content-->
  <div class="app-content content">
      <div class="content-overlay"></div>
      <div class="header-navbar-shadow"></div>
      <div class="content-wrapper">
          <div class="content-header row">
              <div class="content-header-left col-md-8 col-12 mb-2">
                  <div class="row breadcrumbs-top">
                      <div class="col-12">
                          <h2 class="content-header-title float-left mb-0">Data Committee</h2>
                          <div class="breadcrumb-wrapper col-12">
                              <ol class="breadcrumb">
                                  <li class="breadcrumb-item"><a href="index.html">Home</a>
                                  </li>
                                  <li class="breadcrumb-item active">Data Committees
                                  </li>
                              </ol>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="content-header-right text-md-right col-md-4 col-12 d-md-block d-none">
                  <div class="form-group breadcrum-right">
                      <div class="dropdown">
                        <template v-for="actionS in action">
                          <template v-if="actionS == 'Insert'">
                            <button class="btn-icon btn btn-primary btn-round btn-sm dropdown-toggle" data-target=".insertCommitteeMod" data-toggle="modal" type="button" @click="openModal" aria-haspopup="true" aria-expanded="false"><i class="feather icon-file-plus"></i> <b>New</b> </button>
                          </template>
                        </template>

                          <button class="btn-icon btn btn-primary btn-round btn-sm dropdown-toggle" data-toggle="tooltip"
                            data-original-title="Refresh" v-on:click="onRefresh" aria-haspopup="true" aria-expanded="false"><i class="feather icon-refresh-ccw"></i>
                          </button>

                      </div>
                  </div>
              </div>
          </div>

          <insert-committee-mod :open-modal="modalOpen" :close-modal="loadItems"></insert-committee-mod>
          <view-committee-mod :open-modal="viewOpen" :view="view" :close-modal="loadItems"></view-committee-mod>
          <update-committee-mod :open-modal="updateOpen" :update="update" :close-modal="loadItems"></update-committee-mod>

          <div class="content-body">
              <!-- Basic example section start -->
              <section id="basic-examples">
                  <div class="card">
                      <div class="card-header">
                          <h4 class="card-title">Jumlah Committee : {{totalCommittee}}</h4>
                      </div>
                      <div class="card-content">
                          <div class="card-body">

                            <vue-good-table
                              mode="remote"
                              @on-page-change="onPageChange"
                              @on-sort-change="onSortChange"
                              @on-column-filter="onColumnFilter"
                              @on-per-page-change="onPerPageChange"
                              @on-search="onSearch"
                              :totalRows="totalRecords"
                              :isLoading.sync="isLoading"
                              :pagination-options="{
                                enabled: true,
                                dropdownAllowAll: false,
                                mode: 'pages'
                              }"
                              :search-options="{
                                enabled: true,
                                skipDiacritics: true,
                              }"
                              :rows="rows"
                              :columns="columns">
                              <template slot="table-row" slot-scope="props">
                                <span v-if="props.column.field == 'action'"> 
                                  <button type="button" class="btn btn-outline-primary btn-sm dropdown-toggle mr-1" data-toggle="dropdown"><i class="feather icon-more-vertical"></i> Action</button>
                                  <ul class="dropdown-menu" style="top: auto; left: auto; padding: 5px;">
                                    <template v-for="actionS in action">
                                      <template v-if="actionS == 'View'">
                                        <li>
                                          <button class="btn-icon btn btn-primary btn-sm btn-block mr-1 mb-1 waves-effect waves-light" data-target=".viewCommitteeMod" data-toggle="modal" type="button" title='View' @click="viewModal(props.row.id_committee)"><i class="feather icon-eye" aria-hidden="true"></i> View</button>
                                        </li>
                                      </template>
                                      <template v-if="actionS == 'Update'">
                                        <li>
                                          <button class="btn-icon btn btn-info btn-sm btn-block mr-1 mb-1 waves-effect waves-light" data-target=".updateCommitteeMod" data-toggle="modal" type="button" title='Update' @click="updateModal(props.row.id_committee)"><i class="feather icon-edit" aria-hidden="true"></i> Update</button>
                                        </li>
                                      </template>
                                      <!-- <template v-if="actionS == 'Delete'">
                                        <li>
                                          <button class="btn-icon btn btn-danger btn-sm btn-block mr-1 mb-1 waves-effect waves-light" title='Delete' @click="deleteData(props.row.id_committee)"><i class="feather icon-delete" aria-hidden="true"></i> Deletw</button>
                                        </li>
                                      </template> -->
                                      <template v-if="actionS == 'Pdf'">
                                        <li>
                                          <a target="_blank" rel="noopener noreferrer" :href="'api/pdfCommittee/' + props.row.id_committee">
                                            <button class="btn-icon btn btn-outline-warning btn-sm btn-block mr-1 mb-1 waves-effect waves-light" title='Download Pdf'><i class="feather icon-upload-cloud" aria-hidden="true"></i> Download Pdf</button>
                                          </a>
                                        </li>
                                      </template>
                                    </template>
                                  </ul>
                                </span>
                                <span v-if="props.column.field == 'status'">
                                  <span v-if="props.row.status == 2">
                                    <span class="badge badge-round badge-primary">Active</span>   
                                  </span> 
                                  <span v-else>
                                    <span class="badge badge-round badge-danger">Deactive</span>  
                                  </span>                
                                </span>
                                <span v-else>
                                  {{props.formattedRow[props.column.field]}}
                                </span>
                              </template>
                            </vue-good-table>

                          </div>
                      </div>
                  </div>
              </section>
              <!-- // Basic example section end -->
          </div>
      </div>
  </div>
  <!-- END: Content-->

</template>

<!-- script js -->
<script>
import InsertCommittee from './InsertCommittee.vue';
import ViewCommittee from './ViewCommittee.vue';
import UpdateCommittee from './UpdateCommittee.vue';
import 'vue-good-table/dist/vue-good-table.css'
import { VueGoodTable } from 'vue-good-table';
import moment from 'moment';
moment.locale("id");

const _ = require('lodash');

export default {
    name: 'managecommittee',
    components: {
      'vue-good-table' : VueGoodTable,
      'insert-committee-mod' : InsertCommittee,
      'view-committee-mod' : ViewCommittee,
      'update-committee-mod' : UpdateCommittee,
    },
    data() {
        return {
            totalCommittee: '',
            isLoading: false,
            modalOpen: false,
            modalOpenImport: false,
            viewOpen: false,
            view: {},
            updateOpen: false,
            update: {},
            prints: [],
            columns: [
                {
                    label: 'Title',
                    field: 'title_committee',
                },
                // {
                //     label: 'Anggota',
                //     field: 'id_user',
                //     filterable: true
                // },
                {
                    label: 'Valid Dari',
                    field: 'valid_from',
                    filterable: true
                },
                {
                    label: 'Valid Sampai',
                    field: 'valid_to',
                    filterable: true
                },
                {
                    label: 'Status',
                    field: 'status',
                    filterable: true
                },
                {
                  label: 'Action',
                  field: 'action',
                  sortable: false,
                },
            ],
            rows: [],
            totalRecords: 0,
            serverParams: {
              columnFilters: {
              },
              sort: {       
                field: 'created_at', 
                type: 'desc',
              },
              page: 1, 
              perPage: 10,
              searchTerm: ''
            },
            session: {
              id: '',
              id_person: '',
              role: ''
            },
            action: []
        };
    },
    beforeCreate(){
        this.loading = true;
        axios
        .get("/session")
        .then(response => {
            this.id = response.data.id;
            this.role = response.data.role;
            this.login = response.data.login;
            axios
            .get("/api/getSide/" + this.id )
            .then(response => {
                this.data = response.data;
                var routesUser = [];
                this.data.forEach(function(puki, index) {
                  var nam = puki.Link.substr(1);
                  routesUser.push(nam);
                }); 
                var n = routesUser.includes(this.$options.name);
                console.log(n)
                if(this.login == true && n == true){
                  this.loading = false;
                  this.loadItems()
                  this.getAction(this.id,this.$options.name)
                } else if (this.login == true && n == false) {
                  this.$router.push('/not404');
                  this.loading = false;
                } else {
                  window.location.href = "/";
                  // this.$router.push('/not404');
                  this.loading = false;
                }
            });
        });
    },
    mounted() {
    },
    methods: {
      download(id_committee){  
        window.location.href = "/downloadRarCommittee?id_committee=" + id_committee;
      },
      getAction(id,link){
        axios
            .get("/api/action/" + id + "/" + link)
            .then(response => {
              this.action = response.data;
            });
      },
      getFromServer(committees) {
        return axios.post(`/api/getCommittee?searchTerm=${committees.searchTerm}&page=${committees.page}&per_page=${committees.perPage}&field=${committees.sort.field}&type=${committees.sort.type}`); 
      },

      updateParams(newProps) {
        this.serverParams = Object.assign({}, this.serverParams, newProps);
      },
      
      onPageChange(params) {
        this.updateParams({page: params.currentPage});
        this.loadItems();
      },

      onPerPageChange(params) {
        this.updateParams({perPage: params.currentPerPage});
        this.loadItems();
      },

      onSortChange(params) {
        this.updateParams({
          sort: {
            type: params[0].type,
            field: params[0].field,
          },
        });
        this.loadItems();
      },
      
      onColumnFilter(params) {
        this.updateParams(params);
        this.loadItems();
      },

      onSearch(params) {
        this.updateParams(params);
        this.loadItems();
      },

      openModal() {
          this.modalOpen = !this.modalOpen;
      }, 

      closeModal() {
          this.modalOpen = false;
          this.updateOpen = false;
          this.modalOpenImport = false;
      },

      openImportModal() {
          this.modalOpenImport = !this.modalOpenImport;
      }, 

      viewModal(params) {
          axios
            .get("/api/committee/" + params)
            .then(response => {
              this.view = response.data;
            });
          this.viewOpen = !this.viewOpen;
      },

      updateModal(params) {
          axios
            .get("/api/committee/" + params)
            .then(response => {
              this.update = response.data;
            });
          this.updateOpen = !this.updateOpen;
      },

      deleteData(id_committee) {
        Swal.fire({
          title: 'Are you sure?',
          text: "You won't be able to revert this!",
          type: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: 'Yes, delete it!',
          confirmButtonClass: 'btn btn-primary',
          cancelButtonClass: 'btn btn-danger ml-1',
          buttonsStyling: false,
          showLoaderOnConfirm: true,
          preConfirm: () => {
            return axios.post("/api/committeedelete/" + id_committee,{
              username: localStorage.getItem('username'),
              fullname: localStorage.getItem('fullname'),

            })
            .then(response => {
              this.loadItems();
              return 
            })
            .catch(error => {
              Swal.showValidationMessage(
                `Request failed: ${error}`
              )
            })
          },
          allowOutsideClick: () => !this.$swal.isLoading()
        }).then(function (result) {
          if (result.value) {
            Swal.fire(
              {
                type: "success",
                title: 'Delete!',
                text: 'Your file has been Deleted.',
                confirmButtonClass: 'btn btn-success',
              }
            )
          }
        }.bind(this))
      },

      loadItems() {
        this.getFromServer(this.serverParams).then((response) => {
            this.totalRecords = response.data.committees.total;
            this.totalCommittee = this.totalRecords
            this.rows = response.data.committees.data;
        })
      },

      onRefresh: function (event) {
        if (event) {
          this.loadItems();
        }
      },

      formatDate(value) {
          return moment(value).format("DD MMMM YYYY")
      }

    }
};
</script>

<style scoped>
  .image img{
        position: absolute;
        max-width: 100%;
        max-height: 100%;
        width: 100%;
        /*height: 100%;*/
        top: 50%;
        left: 50%;
        /*object-fit: cover;*/
        transform: translateX(-50%) translateY(-50%);
  }   


</style>