<template>
  <!-- Modal -->
  <div class="modal fade text-left updateCommitteeMod" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel1">Update Committee</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form id="formCommitteeUpdate" @submit.prevent="updateData()" autocomplete="off">
          <div class="modal-body">
            <div class="card-body">
              <div class="row">
                <div class="form-group col-md-12">
                  <label class="form-control-label" for="inputBasicFirstName">Title Committee <small style="color:red"> *required</small></label>
                  <input
                    type="textfield"
                    class="form-control"
                    placeholder="Input Title"
                    v-model="form.TitleCommittee"
                    autocomplete="off"
                    required
                  />
                </div>
                <div class="form-group col-md-6">
                  <label class="form-control-label" for="inputBasicLastName">Valid Dari <small style="color:red"> *required</small></label>
                  <input type="date" placeholder="yyyy/mm/dd" pattern="(^(((0[1-9]|1[0-9]|2[0-8])[\/](0[1-9]|1[012]))|((29|30|31)[\/](0[13578]|1[02]))|((29|30)[\/](0[4,6,9]|11)))[\/](19|[2-9][0-9])\d\d$)|(^29[\/]02[\/](19|[2-9][0-9])(00|04|08|12|16|20|24|28|32|36|40|44|48|52|56|60|64|68|72|76|80|84|88|92|96)$)" class="form-control" v-model="form.tglValidDari" autocomplete="off" required>
                </div>
                <div class="form-group col-md-6">
                  <label class="form-control-label" for="inputBasicLastName">Valid Sampai <small style="color:red"> *required</small></label>
                  <input type="date" placeholder="yyyy/mm/dd" pattern="(^(((0[1-9]|1[0-9]|2[0-8])[\/](0[1-9]|1[012]))|((29|30|31)[\/](0[13578]|1[02]))|((29|30)[\/](0[4,6,9]|11)))[\/](19|[2-9][0-9])\d\d$)|(^29[\/]02[\/](19|[2-9][0-9])(00|04|08|12|16|20|24|28|32|36|40|44|48|52|56|60|64|68|72|76|80|84|88|92|96)$)" class="form-control" v-model="form.tglValidSampai" autocomplete="off" required>
                </div>
                <div class="form-group col-md-12">
                  <label class="form-control-label" for="inputBasicLastName">User Committee <small style="color:red"> *required</small></label>
                  <div class="col-md-12">
                    <Select2MultipleControl id="fulltypeScopeMulti" v-model="form.IdUser" :options="myOptionsUser" :settings="{ placeholder: 'Select a User Committee', width: '100%' }" @select="mySelectUser($event)" required/>
                  </div>
                </div>
              </div>
            </div>
          </div> 
          <div class="modal-footer">
            <button type="button" class="btn btn-default btn-pure" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Update changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- End Modal -->
</template>

<!-- script js -->
<script>
import Select2MultipleControl from 'v-select2-multiple-component';
export default {
  name: 'modal',
  components: { 
    Select2MultipleControl
  },
  props : {
    updateModal : {
      type : Boolean
    },
    update : {
      type : Object
    },
    closeModal : {
      type : Function
    }
  },
  data(){
    return{
      form:{
        IdCommittee: '',
        TitleCommittee: '',
        tglValidDari: '',
        tglValidSampai: '',
        IdUser: '',
      },
      myOptionsUser: [],
    }
  },
  watch: {
    update(newVal) {
      if (newVal) {
        this.mySelectOptionUser()
        this.form.IdCommittee = newVal.id_committee
        this.form.TitleCommittee = newVal.title_committee
        this.form.tglValidDari = newVal.valid_from
        this.form.tglValidSampai = newVal.valid_to
        this.form.IdUser = newVal.id_user
      }
    } 
  },
  methods: {
    mySelectUser({id, text}){
    },
    mySelectOptionUser(){
      axios
        .get("/api/dropdownuserCommittee")
        .then(response => {
          this.myOptionsUser = response.data;
      });
    },
    updateData() {
      var msg = "Terimakasih sudah memperbaharui Committee Tahun ini";

      let formData = new FormData();
      formData.append('title_committee', this.form.TitleCommittee);
      formData.append('valid_from', this.form.tglValidDari);
      formData.append('valid_to', this.form.tglValidSampai);
      formData.append('id_user', this.form.IdUser);
      formData.append('username', localStorage.getItem('username'));
      formData.append('fullname', localStorage.getItem('fullname'));

      Swal.fire({
        title: 'Are you sure?',
        text: "You won't be able to revert this!",
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, update it!',
        confirmButtonClass: 'btn btn-primary',
        cancelButtonClass: 'btn btn-danger ml-1',
        buttonsStyling: false,
        showLoaderOnConfirm: true,
        preConfirm: () => {
          return axios.post("/api/committeeupdate/"+ this.form.IdCommittee, formData,{

            headers : {
                        'Content-Type': 'multipart/form-data'
                      },
          })
          .then(response => {
            $(".updateCommitteeMod").modal('hide');
            this.closeModal();
            this.form.TitleCommittee = ''
            this.form.tglValidDari = ''
            this.form.tglValidSampai = ''
            this.form.IdUser = ''
            return 
          })
          .catch(error => {
            Swal.showValidationMessage(
              `Request failed: ${error}`
            )
          })
        },
        allowOutsideClick: () => !this.$swal.isLoading()
      }).then(function (result) {
        if (result.value) {
          Swal.fire(
            {
              type: "success",
              title: 'Updated!',
              text: msg,
              confirmButtonClass: 'btn btn-success',
            }
          )
        }
      }.bind(this))
    }
  }
};
</script>

<style scoped>
  .img-crop {
    width: 200px;
    height: 200px;
  }
</style>

