<template>
  <!-- Modal -->
  <div class="modal fade text-left viewCommitteeMod" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel1">View Committee</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
          <div class="card-body">
            <div class="row">
              <div class="form-group col-md-12">
                <label class="form-control-label" for="inputBasicFirstName">Title Committee <small style="color:red"> *required</small></label>
                <input
                  type="textfield"
                  class="form-control"
                  placeholder="Input Title"
                  v-model="form.TitleCommittee"
                  autocomplete="off"
                  required disabled
                />
              </div>
              <div class="form-group col-md-6">
                <label class="form-control-label" for="inputBasicLastName">Valid Dari <small style="color:red"> *required</small></label>
                <input type="date" placeholder="yyyy/mm/dd" pattern="(^(((0[1-9]|1[0-9]|2[0-8])[\/](0[1-9]|1[012]))|((29|30|31)[\/](0[13578]|1[02]))|((29|30)[\/](0[4,6,9]|11)))[\/](19|[2-9][0-9])\d\d$)|(^29[\/]02[\/](19|[2-9][0-9])(00|04|08|12|16|20|24|28|32|36|40|44|48|52|56|60|64|68|72|76|80|84|88|92|96)$)" class="form-control" v-model="form.tglValidDari" autocomplete="off" required disabled>
              </div>
              <div class="form-group col-md-6">
                <label class="form-control-label" for="inputBasicLastName">Valid Sampai <small style="color:red"> *required</small></label>
                <input type="date" placeholder="yyyy/mm/dd" pattern="(^(((0[1-9]|1[0-9]|2[0-8])[\/](0[1-9]|1[012]))|((29|30|31)[\/](0[13578]|1[02]))|((29|30)[\/](0[4,6,9]|11)))[\/](19|[2-9][0-9])\d\d$)|(^29[\/]02[\/](19|[2-9][0-9])(00|04|08|12|16|20|24|28|32|36|40|44|48|52|56|60|64|68|72|76|80|84|88|92|96)$)" class="form-control" v-model="form.tglValidSampai" autocomplete="off" required disabled>
              </div>
              <div class="form-group col-md-12">
                <label class="form-control-label" for="inputBasicLastName">User Committee <small style="color:red"> *required</small></label>
                <div class="col-md-12">
                  <Select2MultipleControl id="fulltypeScopeMulti" v-model="form.IdUser" :options="myOptionsUser" :settings="{ placeholder: 'Select a User Committee', width: '100%' }" @select="mySelectUser($event)" required disabled/>
                </div>
              </div>
            </div>
          </div>
        </div> 
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!-- End Modal -->
</template>

<!-- script js -->
<script>
import Select2MultipleControl from 'v-select2-multiple-component';
export default {
  components: { 
    Select2MultipleControl,
  },
  name: 'modal',
  props : {
    viewModal : {
      type : Boolean
    },
    view : {
      type : Object
    }
  },
  data(){
    return{
      form:{
        TitleCommittee: '',
        tglValidDari: '',
        tglValidSampai: '',
        IdUser: '',
      },
      myOptionsUser: [],
    }
  },
  watch: {
    view(newVal) {
      if (newVal) {
        this.mySelectOptionUser()
        this.form.TitleCommittee = newVal.title_committee
        this.form.tglValidDari = newVal.valid_from
        this.form.tglValidSampai = newVal.valid_to
        this.form.IdUser = newVal.id_user
      }
    } 
  },
  methods: {
    mySelectOptionUser(){
      axios
        .get("/api/dropdownuserCommittee")
        .then(response => {
          this.myOptionsUser = response.data;
      });
    },
  }
};
</script>

 