<template>

  <!-- BEGIN: Content-->
  <div class="app-content content">
      <div class="content-overlay"></div>
      <div class="header-navbar-shadow"></div>
      <div class="content-wrapper">
          <div class="content-header row">
              <div class="content-header-left col-md-8 col-12 mb-2">
                  <div class="row breadcrumbs-top">
                      <div class="col-12">
                        <div class="row">
                          <div class="col-12">
                            <h2 class="content-header-title float-left mb-0">Perubahan Schedule</h2>
                          </div>
                          <div class="breadcrumb-wrapper col-12">
                              <ol class="breadcrumb">
                                  <li class="breadcrumb-item"><a href="index.html">Home</a>
                                  </li>
                                  <li class="breadcrumb-item"><a href="index.html">Perubahan Schedule</a>
                                  </li>
                                  <li class="breadcrumb-item active">Data Perubahan Schedule
                                  </li>
                              </ol>
                          </div>
                        </div>
                      </div>
                  </div>
              </div>
              <div class="content-header-right text-md-right col-md-4 col-12 d-md-block d-none">
                  <div class="form-group breadcrum-right">
                      <div class="dropdown">

                          <button class="btn-icon btn btn-primary btn-round btn-sm dropdown-toggle"data-toggle="tooltip"
                            data-original-title="Refresh" v-on:click="onRefresh" aria-haspopup="true" aria-expanded="false"><i class="feather icon-refresh-ccw"></i>
                          </button>

                      </div>
                  </div>
              </div>
          </div>

          <insert-jadwal-mod :open-modal="jadwalOpen" :jadwal="jadwal" :close-modal="loadItems"></insert-jadwal-mod>
          <view-jadwal-mod :open-modal="viewjadwalOpen" :viewjadwal="viewjadwal" :close-modal="loadItems"></view-jadwal-mod>

          <div class="content-body">
              <!-- Basic example section start -->
              <section id="basic-examples">
                  <div class="card">
                      <div class="card-header">
                          <h4 class="card-title">Jumlah Pekerjaan : {{totalPekerjaan}}</h4>
                      </div>
                      <div class="card-content">
                          <div class="card-body">

                            <vue-good-table
                              mode="remote"
                              @on-page-change="onPageChange"
                              @on-sort-change="onSortChange"
                              @on-column-filter="onColumnFilter"
                              @on-per-page-change="onPerPageChange"
                              @on-search="onSearch"
                              :totalRows="totalRecords"
                              :isLoading.sync="isLoading"
                              :pagination-options="{
                                enabled: true,
                                dropdownAllowAll: false,
                                mode: 'pages'
                              }"
                              :search-options="{
                                enabled: true,
                                skipDiacritics: true,
                              }"
                              :rows="rows"
                              :columns="columns">
                              <template slot="table-row" slot-scope="props">
                                <span v-if="props.column.field == 'action'"> 
                                  <button type="button" class="btn btn-outline-primary btn-sm dropdown-toggle mr-1" data-toggle="dropdown"><i class="feather icon-more-vertical"></i> Action</button>
                                  <ul class="dropdown-menu" style="top: auto; left: auto; padding: 5px;">
                                    <template v-for="actionS in action">
                                      <template v-if="actionS == 'View'">
                                        <li>
                                          <button class="btn-icon btn btn-outline-primary btn-sm btn-block mr-1 mb-1 waves-effect waves-light" data-target=".viewjadwalPekerjaanPLMod" data-toggle="modal" type="button" title='View Jadwal' @click="viewJadwalModal(props.row.id_pekerjaan)"><i class="feather icon-eye" aria-hidden="true"></i> View Jadwal</button>
                                        </li>
                                      </template>

                                      <template v-if="actionS == 'Insert'">
                                        <li>
                                          <button class="btn-icon btn btn-primary btn-sm btn-block mr-1 mb-1 waves-effect waves-light" data-target=".jadwalPekerjaanPLAddendumMod" data-toggle="modal" type="button" title='Set Perubahan' @click="jadwalModal(props.row.id_pekerjaan)"><i class="feather icon-eye" aria-hidden="true"></i> Set Perubahan</button>
                                        </li>
                                      </template>
                                    </template>
                                  </ul>
                                </span>
                                <span v-else>
                                  {{props.formattedRow[props.column.field]}}
                                </span>
                              </template>
                            </vue-good-table>

                          </div>
                      </div>
                  </div>
              </section>
              <!-- // Basic example section end -->
          </div>
      </div>
  </div>
  <!-- END: Content-->

</template>

<!-- script js -->
<script>
import JadwalPekerjaan from './JadwalPekerjaan.vue';
import ViewJadwalPekerjaan from './ViewJadwalPekerjaan.vue';
import 'vue-good-table/dist/vue-good-table.css'
import { VueGoodTable } from 'vue-good-table';
import moment from 'moment';
moment.locale("id");

const _ = require('lodash');

export default {
    name: 'dataperubahanschedule',
    components: {
      'vue-good-table' : VueGoodTable,
      'insert-jadwal-mod' : JadwalPekerjaan,
      'view-jadwal-mod' : ViewJadwalPekerjaan,
    },
    data() {
        return {
            totalPekerjaan: '',
            isLoading: false,
            jadwalOpen: false,
            jadwal: {},
            viewjadwalOpen: false,
            viewjadwal: {},
            prints: [],
            columns: [
                {
                    label: 'Kode',
                    field: 'kode_pekerjaan',
                    filterable: true
                },
                {
                    label: 'Pekerjaan',
                    field: 'nama_pekerjaan',
                    filterable: true
                },
                {
                    label: 'Kategori',
                    field: 'kategori_pekerjaan',
                    filterable: true
                },
                {
                    label: 'Metode',
                    field: 'metode',
                    filterable: true
                },
                {
                  label: 'Action',
                  field: 'action',
                  sortable: false,
                },
            ],
            rows: [],
            totalRecords: 0,
            serverParams: {
              columnFilters: {
              },
              sort: {       
                field: 'created_ats', 
                type: 'desc',
              },
              page: 1, 
              perPage: 10,
              searchTerm: ''
            },
            session: {
              id: '',
              id_person: '',
              role: ''
            },
            action: []
        };
    },
    beforeCreate(){
        this.loading = true;
        axios
        .get("/session")
        .then(response => {
            this.id = response.data.id;
            this.session.id = response.data.id;
            this.role = response.data.role;
            this.session.role = response.data.role;
            this.login = response.data.login;
            axios
            .get("/api/getSide/" + this.id )
            .then(response => {
                this.data = response.data;
                var routesUser = [];
                this.data.forEach(function(puki, index) {
                  var nam = puki.Link.substr(1);
                  routesUser.push(nam);
                }); 
                var n = routesUser.includes(this.$options.name);
                console.log(n)
                if(this.login == true && n == true){
                  this.loading = false;
                  this.loadItems()
                  this.getAction(this.id,this.$options.name)
                } else if (this.login == true && n == false) {
                  this.$router.push('/not404');
                  this.loading = false;
                } else {
                  window.location.href = "/";
                  // this.$router.push('/not404');
                  this.loading = false;
                }
            });
        });
    },
    mounted() {
      this.listen()
        // this.loadItems()
        // this.cekUserMenu()
    },
    methods: {
      listen() {
        Echo.channel('newNotif') //Should be Channel Name
        .listen('NotifEvents', (e) => {
          if(this.id == e.message.id_receiver && e.message.jenis == "Pekerjaan"){
            this.loadItems()
          } 
        });

        Echo.channel('refreshEvent') //Should be Channel Name
        .listen('RefreshEvents', (e) => {
          this.loadItems()
        });
      },
      getAction(id,link){
        axios
            .get("/api/action/" + id + "/" + link)
            .then(response => {
              this.action = response.data;
            });
      },
      getFromServer(pekerjaans) {
        return axios.post(`/api/getPekerjaanAddendum?searchTerm=${pekerjaans.searchTerm}&page=${pekerjaans.page}&per_page=${pekerjaans.perPage}&field=${pekerjaans.sort.field}&type=${pekerjaans.sort.type}`); 
      },

      updateParams(newProps) {
        this.serverParams = Object.assign({}, this.serverParams, newProps);
      },
      
      onPageChange(params) {
        this.updateParams({page: params.currentPage});
        this.loadItems();
      },

      onPerPageChange(params) {
        this.updateParams({perPage: params.currentPerPage});
        this.loadItems();
      },

      onSortChange(params) {
        this.updateParams({
          sort: {
            type: params[0].type,
            field: params[0].field,
          },
        });
        this.loadItems();
      },
      
      onColumnFilter(params) {
        this.updateParams(params);
        this.loadItems();
      },

      onSearch(params) {
        this.updateParams(params);
        this.loadItems();
      },

      closeModal() {
          this.jadwalOpen = false;
          this.viewjadwalOpen = false;
      },

      jadwalModal(params) {
          axios
            .get("/api/penunjukan/" + params)
            .then(response => {
              this.jadwal = response.data;
            });
          this.jadwalOpen = !this.jadwalOpen;
      },
      viewJadwalModal(params) {
          axios
            .get("/api/penunjukan/" + params)
            .then(response => {
              this.viewjadwal = response.data;
            });
          this.viewjadwalOpen = !this.viewjadwalOpen;
      },

      loadItems() {
        this.getFromServer(this.serverParams).then((response) => {
            this.totalRecords = response.data.pekerjaans.total;
            this.totalPekerjaan = this.totalRecords 
            this.rows = response.data.pekerjaans.data;
        })
      },

      onRefresh: function (event) {
        if (event) {
          this.loadItems();
        }
      },

      formatDate(value) {
          return moment(value).format("DD MMMM YYYY")
      },

      formatPrice(value) {
          let val = (value/1).toFixed(2).replace('.', ',')
          return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")
      }

    }
};
</script>

<style scoped>
  .image img{
        position: absolute;
        max-width: 100%;
        max-height: 100%;
        width: 100%;
        /*height: 100%;*/
        top: 50%;
        left: 50%;
        /*object-fit: cover;*/
        transform: translateX(-50%) translateY(-50%);
  }   


</style>