<script>
// import the styles


// add to component
</script>

<template>

  <!-- BEGIN: Content-->
  <div class="app-content content">
      <div class="content-overlay"></div>
      <div class="header-navbar-shadow"></div>
      <div class="content-wrapper">
          <div class="content-header row">
              <div class="content-header-left col-md-9 col-12 mb-2">
                  <div class="row breadcrumbs-top">
                      <div class="col-12">
                          <h2 class="content-header-title float-left mb-0">Email</h2>
                          <div class="breadcrumb-wrapper col-12">
                              <ol class="breadcrumb">
                                  <li class="breadcrumb-item"><a href="index.html">Home</a>
                                  </li>
                                  <li class="breadcrumb-item"><a href="#">Master</a>
                                  </li>
                                  <li class="breadcrumb-item"><a href="#">Setting</a>
                                  </li>
                                  <li class="breadcrumb-item active">Email
                                  </li>
                              </ol>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="content-header-right text-md-right col-md-3 col-12 d-md-block d-none">
                  <div class="form-group breadcrum-right">
                      <div class="dropdown">

                          <button class="btn-icon btn btn-primary btn-round btn-sm dropdown-toggle"data-toggle="tooltip"
                            data-original-title="Refresh" v-on:click="onRefresh" aria-haspopup="true" aria-expanded="false"><i class="feather icon-refresh-ccw"></i>
                          </button>

                      </div>
                  </div>
              </div>
          </div>
          <div class="content-body">
            <!-- full Editor start -->
            <section class="full-editor">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Setting Email Content</h4>
                            </div>
                            <div class="card-content collapse show">
                                <div class="card-body">
                                  <!-- Nav tabs -->
                                  <ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">
                                      <li class="nav-item">
                                          <a class="nav-link active" id="register-tab-fill" data-toggle="tab" href="#register-fill" role="tab" aria-controls="register-fill" aria-selected="true">Registration</a>
                                      </li>
                                      <li class="nav-item">
                                          <a class="nav-link" id="approve-tab-fill" data-toggle="tab" href="#approve-fill" role="tab" aria-controls="approve-fill" aria-selected="false">Approve Reg</a>
                                      </li>
                                      <li class="nav-item">
                                          <a class="nav-link" id="notapprove-tab-fill" data-toggle="tab" href="#notapprove-fill" role="tab" aria-controls="notapprove-fill" aria-selected="false">Not Approve Reg</a>
                                      </li>
                                  </ul>

                                  <!-- Tab panes -->
                                  <div class="tab-content pt-1">
                                      <div class="tab-pane active" id="register-fill" role="tabpanel" aria-labelledby="register-tab-fill">
                                        <div class="card-body">
                                          <table border='0' cellpadding='0' cellspacing='0' class='body' style='border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%; background-color: #f6f6f6;'>
                                            <tr>
                                              <td style='font-family: sans-serif; font-size: 14px; vertical-align: top;'>&nbsp;</td>
                                              <td class='container' style='font-family: sans-serif; font-size: 14px; vertical-align: top; display: block; margin: 0 auto; max-width: 580px; padding: 10px; width: 580px;'>
                                                <div class='content' style='box-sizing: border-box; display: block; margin: 0 auto; max-width: 580px; padding: 10px;'>

                                                  <!-- START CENTERED WHITE CONTAINER -->
                                                  <span class='preheader' style='color: transparent; display: none; height: 0; max-height: 0; max-width: 0; opacity: 0; overflow: hidden; mso-hide: all; visibility: hidden; width: 0;'>This is preheader text. Some clients will show this text as a preview.</span>
                                                  <table class='main' style='border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%; background: #ffffff; border-radius: 3px;'>

                                                    <!-- START MAIN CONTENT AREA -->
                                                    <tr>
                                                      <td class='wrapper' style='font-family: sans-serif; font-size: 14px; vertical-align: top; box-sizing: border-box; padding: 20px;'>
                                                        <table border='0' cellpadding='0' cellspacing='0' style='border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%;'>
                                                          <tr>
                                                            <td style='font-family: sans-serif; font-size: 14px; vertical-align: top;' >
                                                            <img style='width: 200px;height: auto;' src='themeLanding/img/logo2.png'/>
                                                              <br>
                                                            </td>
                                                          </tr>
                                                          <tr>
                                                            <td class="contentIsi" v-html="contentReg">
                                                              {{ contentReg }}
                                                            </td>
                                                          </tr>
                                                        </table>
                                                      </td>
                                                    </tr>
                                                  <!-- END MAIN CONTENT AREA -->
                                                  </table>

                                                  <!-- START FOOTER -->
                                                    <!-- <table border='0' cellpadding='0' cellspacing='0' style='border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%;'>
                                                      <tr>
                                                        <td class='content-block' style='font-family: sans-serif; vertical-align: top; padding-bottom: 10px; padding-top: 10px; font-size: 12px; color: #999999; text-align: center;'>
                                                          <span class='apple-link' style='color: #999999; font-size: 12px; text-align: center;'>Exiglosi., Edugate Building Lt. Dasar Suite G, Jl. Fatmawati No.99, Jakarta 12430.</span>
                                                        </td>
                                                      </tr>
                                                      <tr>
                                                        <td class='content-block powered-by' style='font-family: sans-serif; vertical-align: top; padding-bottom: 10px; padding-top: 10px; font-size: 12px; color: #999999; text-align: center;'>
                                                          Powered by <a href='https://www.exiglosi.com/' style='color: #999999; font-size: 12px; text-align: center; text-decoration: none;'>Exiglosi.</a>.
                                                        </td>
                                                      </tr>
                                                    </table> -->
                                                  <!-- END FOOTER -->
                                                <!-- END CENTERED WHITE CONTAINER -->
                                                </div>
                                              </td>
                                              <td style='font-family: sans-serif; font-size: 14px; vertical-align: top;'>&nbsp;</td>
                                            </tr>
                                          </table>
                                        </div>
                                        <!-- Or manually control the data synchronization -->
                                        <quill-editor
                                          :content="contentReg"
                                          :options="editorOption"
                                          @change="onEditorChangeReg($event)"
                                        />
                                        <div class="modal-footer">
                                          <button type="button" class="btn btn-primary" @click="addContentReg()"> Save Email Registration</button>
                                        </div>
                                      </div>
                                      <div class="tab-pane" id="approve-fill" role="tabpanel" aria-labelledby="approve-tab-fill">
                                        <div class="card-body">
                                          <table border='0' cellpadding='0' cellspacing='0' class='body' style='border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%; background-color: #f6f6f6;'>
                                            <tr>
                                              <td style='font-family: sans-serif; font-size: 14px; vertical-align: top;'>&nbsp;</td>
                                              <td class='container' style='font-family: sans-serif; font-size: 14px; vertical-align: top; display: block; margin: 0 auto; max-width: 580px; padding: 10px; width: 580px;'>
                                                <div class='content' style='box-sizing: border-box; display: block; margin: 0 auto; max-width: 580px; padding: 10px;'>

                                                  <!-- START CENTERED WHITE CONTAINER -->
                                                  <span class='preheader' style='color: transparent; display: none; height: 0; max-height: 0; max-width: 0; opacity: 0; overflow: hidden; mso-hide: all; visibility: hidden; width: 0;'>This is preheader text. Some clients will show this text as a preview.</span>
                                                  <table class='main' style='border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%; background: #ffffff; border-radius: 3px;'>

                                                    <!-- START MAIN CONTENT AREA -->
                                                    <tr>
                                                      <td class='wrapper' style='font-family: sans-serif; font-size: 14px; vertical-align: top; box-sizing: border-box; padding: 20px;'>
                                                        <table border='0' cellpadding='0' cellspacing='0' style='border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%;'>
                                                          <tr>
                                                            <td style='font-family: sans-serif; font-size: 14px; vertical-align: top;' >
                                                            <img style='width: 200px;height: auto;' src='themeLanding/img/logo2.png'/>
                                                              <br>
                                                            </td>
                                                          </tr>
                                                          <tr>
                                                            <td class="contentIsi" v-html="contentApprove">
                                                              {{ contentApprove }}
                                                            </td>
                                                          </tr>
                                                        </table>
                                                      </td>
                                                    </tr>
                                                  <!-- END MAIN CONTENT AREA -->
                                                  </table>

                                                  <!-- START FOOTER -->
                                                    <!-- <table border='0' cellpadding='0' cellspacing='0' style='border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%;'>
                                                      <tr>
                                                        <td class='content-block' style='font-family: sans-serif; vertical-align: top; padding-bottom: 10px; padding-top: 10px; font-size: 12px; color: #999999; text-align: center;'>
                                                          <span class='apple-link' style='color: #999999; font-size: 12px; text-align: center;'>Exiglosi., Edugate Building Lt. Dasar Suite G, Jl. Fatmawati No.99, Jakarta 12430.</span>
                                                        </td>
                                                      </tr>
                                                      <tr>
                                                        <td class='content-block powered-by' style='font-family: sans-serif; vertical-align: top; padding-bottom: 10px; padding-top: 10px; font-size: 12px; color: #999999; text-align: center;'>
                                                          Powered by <a href='https://www.exiglosi.com/' style='color: #999999; font-size: 12px; text-align: center; text-decoration: none;'>Exiglosi.</a>.
                                                        </td>
                                                      </tr>
                                                    </table> -->
                                                  <!-- END FOOTER -->

                                                <!-- END CENTERED WHITE CONTAINER -->
                                                </div>
                                              </td>
                                              <td style='font-family: sans-serif; font-size: 14px; vertical-align: top;'>&nbsp;</td>
                                            </tr>
                                          </table>
                                        </div>
                                        <quill-editor
                                          :content="contentApprove"
                                          :options="editorOption"
                                          @change="onEditorChangeApprove($event)"
                                        />
                                        <div class="modal-footer">
                                          <button type="button" class="btn btn-primary" @click="addContentApprove()"> Save Email Approve</button>
                                        </div>
                                      </div>
                                      <div class="tab-pane" id="notapprove-fill" role="tabpanel" aria-labelledby="notapprove-tab-fill">
                                        <div class="card-body">
                                          <table border='0' cellpadding='0' cellspacing='0' class='body' style='border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%; background-color: #f6f6f6;'>
                                            <tr>
                                              <td style='font-family: sans-serif; font-size: 14px; vertical-align: top;'>&nbsp;</td>
                                              <td class='container' style='font-family: sans-serif; font-size: 14px; vertical-align: top; display: block; margin: 0 auto; max-width: 580px; padding: 10px; width: 580px;'>
                                                <div class='content' style='box-sizing: border-box; display: block; margin: 0 auto; max-width: 580px; padding: 10px;'>

                                                  <!-- START CENTERED WHITE CONTAINER -->
                                                  <span class='preheader' style='color: transparent; display: none; height: 0; max-height: 0; max-width: 0; opacity: 0; overflow: hidden; mso-hide: all; visibility: hidden; width: 0;'>This is preheader text. Some clients will show this text as a preview.</span>
                                                  <table class='main' style='border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%; background: #ffffff; border-radius: 3px;'>

                                                    <!-- START MAIN CONTENT AREA -->
                                                    <tr>
                                                      <td class='wrapper' style='font-family: sans-serif; font-size: 14px; vertical-align: top; box-sizing: border-box; padding: 20px;'>
                                                        <table border='0' cellpadding='0' cellspacing='0' style='border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%;'>
                                                          <tr>
                                                            <td style='font-family: sans-serif; font-size: 14px; vertical-align: top;' >
                                                            <img style='width: 200px;height: auto;' src='themeLanding/img/logo2.png'/>
                                                              <br>
                                                            </td>
                                                          </tr>
                                                          <tr>
                                                            <td class="contentIsi" v-html="contentNotApprove">
                                                              {{ contentNotApprove }}
                                                            </td>
                                                          </tr>
                                                        </table>
                                                      </td>
                                                    </tr>
                                                  <!-- END MAIN CONTENT AREA -->
                                                  </table>

                                                  <!-- START FOOTER -->
                                                    <!-- <table border='0' cellpadding='0' cellspacing='0' style='border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%;'>
                                                      <tr>
                                                        <td class='content-block' style='font-family: sans-serif; vertical-align: top; padding-bottom: 10px; padding-top: 10px; font-size: 12px; color: #999999; text-align: center;'>
                                                          <span class='apple-link' style='color: #999999; font-size: 12px; text-align: center;'>Exiglosi., Edugate Building Lt. Dasar Suite G, Jl. Fatmawati No.99, Jakarta 12430.</span>
                                                        </td>
                                                      </tr>
                                                      <tr>
                                                        <td class='content-block powered-by' style='font-family: sans-serif; vertical-align: top; padding-bottom: 10px; padding-top: 10px; font-size: 12px; color: #999999; text-align: center;'>
                                                          Powered by <a href='https://www.exiglosi.com/' style='color: #999999; font-size: 12px; text-align: center; text-decoration: none;'>Exiglosi.</a>.
                                                        </td>
                                                      </tr>
                                                    </table> -->
                                                  <!-- END FOOTER -->

                                                <!-- END CENTERED WHITE CONTAINER -->
                                                </div>
                                              </td>
                                              <td style='font-family: sans-serif; font-size: 14px; vertical-align: top;'>&nbsp;</td>
                                            </tr>
                                          </table>
                                        </div>
                                        <quill-editor
                                          :content="contentNotApprove"
                                          :options="editorOption"
                                          @change="onEditorChangeNotApprove($event)"
                                        />
                                        <div class="modal-footer">
                                          <button type="button" class="btn btn-primary" @click="addContentNotApprove()"> Save Email Not Approve</button>
                                        </div>
                                      </div>
                                  </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- full Editor end -->
          </div>
      </div>
  </div>
  <!-- END: Content-->
</template>

<!-- script js -->
<script>
import moment from 'moment';
import { quillEditor } from 'vue-quill-editor';
import 'quill/dist/quill.core.css'
import 'quill/dist/quill.snow.css'
import 'quill/dist/quill.bubble.css'
moment.locale("id");

const _ = require('lodash');

export default {
    name: 'settingemail',
    components: {
      quillEditor
    },
    data() {
        return {
            isLoading: false,
            contentReg: '',
            contentApprove: '',
            contentNotApprove: '',
            editorOption: {
              placeholder: 'Compose an epic...',
              // readOnly: true,
              theme: 'snow'
            },
            form:{
              menuID: '',
              nameChild: '',
            },
            action: []
        };
    },
    beforeCreate(){
        this.loading = true;
        axios
        .get("/session")
        .then(response => {
            this.id = response.data.id;
            this.role = response.data.role;
            this.login = response.data.login;
            axios
            .get("/api/getSide/" + this.id )
            .then(response => {
                this.data = response.data;
                var routesUser = [];
                this.data.forEach(function(puki, index) {
                  var nam = puki.Link.substr(1);
                  routesUser.push(nam);
                }); 
                var n = routesUser.includes(this.$options.name);
                console.log(n)
                if(this.login == true && n == true){
                  this.loading = false;
                  this.getAction(this.id,this.$options.name)
                } else if (this.login == true && n == false) {
                  this.$router.push('/not404');
                  this.loading = false;
                } else {
                  window.location.href = "/";
                  // this.$router.push('/not404');
                  this.loading = false;
                }
            });
        });
    },
    computed: {
    },
    mounted() {
      this.getContent()
    },
    methods: {
      getContent(){
        axios
            .get("/api/getcontent/Register")
            .then(response => {
              this.contentReg = response.data[0].content;
            });
        axios
            .get("/api/getcontent/Approve")
            .then(response => {
              this.contentApprove = response.data[0].content;
            });
        axios
            .get("/api/getcontent/NotApprove")
            .then(response => {
              this.contentNotApprove = response.data[0].content;
            });
      },
      getAction(id,link){
        axios
            .get("/api/action/" + id + "/" + link)
            .then(response => {
              this.action = response.data;
            });
      },
      onEditorChangeReg({ quill, html, text }) {
        // console.log('editor change!', quill, html, text)
        this.contentReg = html
      },
      onEditorChangeApprove({ quill, html, text }) {
        // console.log('editor change!', quill, html, text)
        this.contentApprove = html
      },
      onEditorChangeNotApprove({ quill, html, text }) {
        // console.log('editor change!', quill, html, text)
        this.contentNotApprove = html
      },

      addContentReg() {
        Swal.fire({
          title: 'Are you sure?',
          text: "You won't be able to revert this!",
          type: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: 'Yes, insert it!',
          confirmButtonClass: 'btn btn-primary',
          cancelButtonClass: 'btn btn-danger ml-1',
          buttonsStyling: false,
        }).then(function (result) {
          if (result.value) {
            axios.post("/api/addContent", {
              content: this.contentReg,
              type: 'Register',
              username: localStorage.getItem('username'),
              fullname: localStorage.getItem('fullname'),
            })
            .then(response => {
              this.getContent()
              Swal.fire(
                {
                  type: "success",
                  title: 'Inserted!',
                  text: 'Your file has been Insert.',
                  confirmButtonClass: 'btn btn-success',
                }
              )
            });
          }
        }.bind(this))
      },

      addContentApprove() {
        Swal.fire({
          title: 'Are you sure?',
          text: "You won't be able to revert this!",
          type: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: 'Yes, insert it!',
          confirmButtonClass: 'btn btn-primary',
          cancelButtonClass: 'btn btn-danger ml-1',
          buttonsStyling: false,
        }).then(function (result) {
          if (result.value) {
            axios.post("/api/addContent", {
              content: this.contentApprove,
              type: 'Approve',
              username: localStorage.getItem('username'),
              fullname: localStorage.getItem('fullname'),
            })
            .then(response => {
              this.getContent()
              Swal.fire(
                {
                  type: "success",
                  title: 'Inserted!',
                  text: 'Your file has been Insert.',
                  confirmButtonClass: 'btn btn-success',
                }
              )
            });
          }
        }.bind(this))
      },

      addContentNotApprove() {
        Swal.fire({
          title: 'Are you sure?',
          text: "You won't be able to revert this!",
          type: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: 'Yes, insert it!',
          confirmButtonClass: 'btn btn-primary',
          cancelButtonClass: 'btn btn-danger ml-1',
          buttonsStyling: false,
        }).then(function (result) {
          if (result.value) {
            axios.post("/api/addContent", {
              content: this.contentNotApprove,
              type: 'NotApprove',
              username: localStorage.getItem('username'),
              fullname: localStorage.getItem('fullname'),
            })
            .then(response => {
              this.getContent()
              Swal.fire(
                {
                  type: "success",
                  title: 'Inserted!',
                  text: 'Your file has been Insert.',
                  confirmButtonClass: 'btn btn-success',
                }
              )
            });
          }
        }.bind(this))
      },

      onRefresh: function (event) {
        if (event) {
          // this.loadItems();
          this.content = '';
        }
      },

      formatDate(value) {
          return moment(value).format("DD MMMM YYYY")
      }

    }
};
</script>

