<script>
// import the styles


// add to component
</script>

<template>

  <!-- BEGIN: Content-->
  <div class="app-content content">
      <div class="content-overlay"></div>
      <div class="header-navbar-shadow"></div>
      <div class="content-wrapper">
          <div class="content-header row">
              <div class="content-header-left col-md-9 col-12 mb-2">
                  <div class="row breadcrumbs-top">
                      <div class="col-12">
                          <h2 class="content-header-title float-left mb-0">Roles</h2>
                          <div class="breadcrumb-wrapper col-12">
                              <ol class="breadcrumb">
                                  <li class="breadcrumb-item"><a href="index.html">Home</a>
                                  </li>
                                  <li class="breadcrumb-item"><a href="#">Master</a>
                                  </li>
                                  <li class="breadcrumb-item"><a href="#">For All User</a>
                                  </li>
                                  <li class="breadcrumb-item active">Data Role
                                  </li>
                              </ol>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="content-header-right text-md-right col-md-3 col-12 d-md-block d-none">
                  <div class="form-group breadcrum-right">
                      <div class="dropdown">

                          <template v-for="actionS in action" v-if="actionS == 'Insert'">
                            <button class="btn-icon btn btn-primary btn-round btn-sm dropdown-toggle" data-target=".insertRoleMod" data-toggle="modal" type="button" @click="openModal" aria-haspopup="true" aria-expanded="false"><i class="feather icon-file-plus"></i> <b>New</b> </button>
                          </template>

                          <button class="btn-icon btn btn-primary btn-round btn-sm dropdown-toggle"data-toggle="tooltip"
                            data-original-title="Refresh" v-on:click="onRefresh" aria-haspopup="true" aria-expanded="false"><i class="feather icon-refresh-ccw"></i>
                          </button>

                      </div>
                  </div>
              </div>
          </div>

          <insert-role-mod :open-modal="modalOpen" :close-modal="loadItems"></insert-role-mod>
          <view-role-mod :open-modal="viewOpen" :view="view"></view-role-mod>
          <update-role-mod :open-modal="updateOpen" :update="update" :close-modal="loadItems"></update-role-mod>

          <div class="content-body">
              <!-- Basic example section start -->
              <section id="basic-examples">
                  <div class="card">
                      <div class="card-header">
                          <h4 class="card-title">Jumlah Role : {{total}}</h4>
                      </div>
                      <div class="card-content">
                          <div class="card-body">

                            <vue-good-table
                              mode="remote"
                              @on-page-change="onPageChange"
                              @on-sort-change="onSortChange"
                              @on-column-filter="onColumnFilter"
                              @on-per-page-change="onPerPageChange"
                              @on-search="onSearch"
                              :totalRows="totalRecords"
                              :isLoading.sync="isLoading"
                              :pagination-options="{
                                enabled: true,
                                dropdownAllowAll: false,
                                mode: 'pages'
                              }"
                              :search-options="{
                                enabled: true,
                                skipDiacritics: true,
                              }"
                              :rows="rows"
                              :columns="columns">                        
                                <template slot="table-row" slot-scope="props">
                                  <template v-if="role == 'R000'">
                                    <span v-if="props.column.field == 'action'">
                                      <button type="button" class="btn btn-outline-primary btn-sm dropdown-toggle mr-1" data-toggle="dropdown"><i class="feather icon-more-vertical"></i> Action</button>
                                      <ul class="dropdown-menu" style="top: auto; left: auto; padding: 5px; transform: translate3d(610px, 5px, 0px) !important;">
                                        <template v-for="actionS in action">
                                          <template v-if="actionS == 'View'">
                                            <li>
                                              <button class="btn-icon btn btn-primary btn-sm btn-block mr-1 mb-1 waves-effect waves-light" data-target=".viewRoleMod" data-toggle="modal" type="button" title='View' @click="viewModal(props.row.kd_role)"><i class="feather icon-eye" aria-hidden="true"></i> View</button>
                                            </li>
                                          </template>
                                          <template v-if="actionS == 'Update'">
                                            <li>
                                              <button class="btn-icon btn btn-info btn-sm btn-block mr-1 mb-1 waves-effect waves-light" data-target=".updateRoleMod" data-toggle="modal" type="button" title='Update' @click="updateModal(props.row.kd_role)"><i class="feather icon-edit" aria-hidden="true"></i> Update</button>
                                            </li>
                                          </template>
                                          <template v-if="actionS == 'Delete'">
                                            <template v-if="props.row.kd_role == 'R000' || props.row.kd_role == 'R002' || props.row.kd_role == 'R003' || props.row.kd_role == 'R004'">
                                              <li>
                                                <button class="btn-icon btn btn-danger btn-sm btn-block mr-1 mb-1 waves-effect waves-light" title='Delete Not Allowed' @click="deleteData(props.row.kd_role)" disabled><i class="feather icon-delete" aria-hidden="true"></i> Delete Not Allowed</button>  
                                              </li>
                                            </template>
                                            <template v-else>
                                              <li>
                                                <button class="btn-icon btn btn-danger btn-sm btn-block mr-1 mb-1 waves-effect waves-light" title='Delete' @click="deleteData(props.row.kd_role)"><i class="feather icon-delete" aria-hidden="true"></i> Delete</button>
                                              </li>
                                            </template>
                                          </template>
                                        </template>
                                      </ul>  
                                    </span>
                                    <span v-else>
                                      {{props.formattedRow[props.column.field]}}
                                    </span>
                                  </template>
                                  <template v-else> 
                                    <span v-if="props.column.field == 'action'">
                                      <template v-if="props.row.kd_role == 'R000' || props.row.kd_role == 'R002' || props.row.kd_role == 'R003' || props.row.kd_role == 'R004'">
                                        <span class="badge badge-round badge-danger">Not Allowed</span>   
                                      </template>
                                      <template v-else>
                                        <button type="button" class="btn btn-outline-primary btn-sm dropdown-toggle mr-1" data-toggle="dropdown"><i class="feather icon-more-vertical"></i> Action</button>
                                        <ul class="dropdown-menu" style="top: auto; left: auto; padding: 5px; transform: translate3d(610px, 5px, 0px) !important;">
                                          <template v-for="actionS in action">
                                            <template v-if="actionS == 'View'">
                                              <li>
                                                <button class="btn-icon btn btn-primary btn-sm btn-block mr-1 mb-1 waves-effect waves-light" data-target=".viewRoleMod" data-toggle="modal" type="button" title='View' @click="viewModal(props.row.kd_role)"><i class="feather icon-eye" aria-hidden="true"></i> View</button>
                                              </li>
                                            </template>
                                            <template v-if="actionS == 'Update'">
                                              <li>
                                                <button class="btn-icon btn btn-info btn-sm btn-block mr-1 mb-1 waves-effect waves-light" data-target=".updateRoleMod" data-toggle="modal" type="button" title='Update' @click="updateModal(props.row.kd_role)"><i class="feather icon-edit" aria-hidden="true"></i> Update</button>
                                              </li>
                                            </template>
                                            <template v-if="actionS == 'Delete'">
                                              <li>
                                                <button class="btn-icon btn btn-danger btn-sm btn-round mr-1 mb-1 waves-effect waves-light" title='Delete' @click="deleteData(props.row.kd_role)"><i class="feather icon-delete" aria-hidden="true"></i></button>
                                              </li>
                                            </template>
                                          </template>
                                        </ul>
                                      </template>
                                    </span>
                                    <span v-else>
                                      {{props.formattedRow[props.column.field]}}
                                    </span>
                                  </template>
                                </template>
                            </vue-good-table>

                          </div>
                      </div>
                  </div>
              </section>
              <!-- // Basic example section end -->
          </div>
      </div>
  </div>
  <!-- END: Content-->
</template>

<!-- script js -->
<script>
import InsertRole from './InsertRole.vue';
import ViewRole from './ViewRole.vue';
import UpdateRole from './UpdateRole.vue';
import 'vue-good-table/dist/vue-good-table.css'
import { VueGoodTable } from 'vue-good-table';
import moment from 'moment';
moment.locale("id");

const _ = require('lodash');

export default {
    name: 'role',
    components: {
      'vue-good-table' : VueGoodTable,
      'insert-role-mod' : InsertRole,
      'view-role-mod' : ViewRole,
      'update-role-mod' : UpdateRole,
    },
    data() {
        return {
            isLoading: false,
            modalOpen: false,
            viewOpen: false,
            view: {},
            updateOpen: false,
            update: {},
            prints: [],
            columns: [
                {
                    label: 'Role Code',
                    field: 'kd_role',
                },
                {
                    label: 'Role Name',
                    field: 'role',
                    filterable: true
                },
                {
                  label: 'Action',
                  field: 'action',
                  sortable: false,
                },
            ],
            rows: [],
            totalRecords: 0,
            serverParams: {
              columnFilters: {
              },
              sort: {       
                field: 'kd_role', 
                type: 'asc',
              },
              page: 1, 
              perPage: 10,
              searchTerm: ''
            },
            action: [],
            total: ''
        };
    },
    beforeCreate(){
        this.loading = true;
        axios
        .get("/session")
        .then(response => {
            this.id = response.data.id;
            this.role = response.data.role;
            this.login = response.data.login;
            axios
            .get("/api/getSide/" + this.id )
            .then(response => {
                this.data = response.data;
                var routesUser = [];
                this.data.forEach(function(puki, index) {
                  var nam = puki.Link.substr(1);
                  routesUser.push(nam);
                }); 
                var n = routesUser.includes(this.$options.name);
                console.log(n)
                if(this.login == true && n == true){
                  this.loading = false;
                  this.loadItems()
                  this.getAction(this.id,this.$options.name)
                } else if (this.login == true && n == false) {
                  this.$router.push('/not404');
                  this.loading = false;
                } else {
                  window.location.href = "/";
                  // this.$router.push('/not404');
                  this.loading = false;
                }
            });
        });
    },
    mounted() {
        // this.loadItems()
        // this.cekUserMenu()
    },
    methods: {
      getAction(id,link){
        axios
            .get("/api/action/" + id + "/" + link)
            .then(response => {
              this.action = response.data;
            });
      },
      getFromServer(roles) {
        return axios.get(`/api/getRole?searchTerm=${roles.searchTerm}&page=${roles.page}&per_page=${roles.perPage}&field=${roles.sort.field}&type=${roles.sort.type}`);
      },

      loadItems() {
        this.getFromServer(this.serverParams).then((response) => {
              this.totalRecords = response.data.roles.total;
              this.total = this.totalRecords
              this.rows = response.data.roles.data;
          })
      },

      updateParams(newProps) {
        this.serverParams = Object.assign({}, this.serverParams, newProps);
      },
      
      onPageChange(params) {
        this.updateParams({page: params.currentPage});
        this.loadItems();
      },

      onPerPageChange(params) {
        this.updateParams({perPage: params.currentPerPage});
        this.loadItems();
      },

      onSortChange(params) {
        this.updateParams({
          sort: {
            type: params[0].type,
            field: params[0].field,
          },
        });
        this.loadItems();
      },
      
      onColumnFilter(params) {
        this.updateParams(params);
        this.loadItems();
      },

      onSearch(params) {
        this.updateParams(params);
        this.loadItems();
      },

      openModal() {
          this.modalOpen = !this.modalOpen;
      }, 

      closeModal() {
          this.modalOpen = false;
          this.updateOpen = false;
      },

      viewModal(params) {
          axios
            .get("/api/role/" + params)
            .then(response => {
              this.view = response.data;
            });
          this.viewOpen = !this.viewOpen;
      },

      updateModal(params) {
          axios
            .get("/api/role/" + params)
            .then(response => {
              this.update = response.data;
            });
          this.updateOpen = !this.updateOpen;
      },

      deleteData(kd_role) {
        Swal.fire({
          title: 'Are you sure?',
          text: "You won't be able to revert this!",
          type: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: 'Yes, delete it!',
          confirmButtonClass: 'btn btn-primary',
          cancelButtonClass: 'btn btn-danger ml-1',
          buttonsStyling: false,
        }).then(function (result) {
          if (result.value) {
            axios.post("/api/deleterole/" + kd_role, {
              username: localStorage.getItem('username'),
              fullname: localStorage.getItem('fullname'),
            }).then(response => {
              this.loadItems();
              if(response.data !== 205){
                Swal.fire(
                  {
                    type: "success",
                    title: 'Deleted!',
                    text: 'Your file has been deleted.',
                    confirmButtonClass: 'btn btn-success',
                  }
                )
              } else {
                Swal.fire(
                  {
                    type: "error",
                    title: 'Failed!',
                    text: 'Your file has failed been deleted.',
                    confirmButtonClass: 'btn btn-success',
                  }
                )
              }
            });
          }
        }.bind(this))
      },

      onRefresh: function (event) {
        if (event) {
          this.loadItems();
        }
      },

      formatDate(value) {
          return moment(value).format("DD MMMM YYYY")
      }

    }
};
</script>

