<template>
  <!-- Modal -->
  <div class="modal fade text-left updateRoleMod" id="default" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel1">Update Role</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form id="formRoleUpdate" @submit.prevent="updateData()" autocomplete="off">
          <div class="modal-body">
            <div class="row">
              <div class="form-group col-md-6">
                <label class="form-control-label" for="inputBasicRoleCode">Role Code</label>
                <input
                  type="textfield"
                  class="form-control "
                  placeholder="Input you Role Code"
                  v-model="form.roleCode"
                  autocomplete="off"
                  readonly
                  required
                >
              </div>
              <div class="form-group col-md-6">
                <label class="form-control-label" for="inputBasicRoleName">Role Name</label>
                <input
                  type="textfield"
                  class="form-control "
                  placeholder="Input your Role Name"
                  v-model="form.roleName"
                  autocomplete="off"
                  required
                >
              </div>
              <div class="form-group col-md-12">
                <label class="form-control-label" for="inputBasicRoleAccess">Menu</label>
                <div class="nav-tabs-horizontal" data-plugin="tabs">

                  <ul class="nav nav-tabs" role="tablist" >
                    <li class="nav-item" role="presentation" v-for="menua in menuA" :key="menua.MenuID">
                      <a class="nav-link" data-toggle="tab" :href="'#updateRole'+menua.Alias" :aria-controls="menua.Alias" role="tab">{{menua.Name}}</a>
                    </li>
                  </ul>
                  <div class="tab-content pt-20">
                    <div class="tab-pane" v-for="menua in menuA" :id="'updateRole'+menua.Alias" role="tabpanel">
                      <ul class="list-unstyled example">
                        <span v-if="menua.Link !== '#'">
                          <li class="mb-15" >
                            <fieldset>
                                <div class="vs-checkbox-con vs-checkbox-primary">
                                    <input type="checkbox" class="checkboxx checkRole" :id="'inputUncheckedAinsertRole'+menua.Alias" :value="menua.MenuID+'-'+menua.MenuID+'B00'+'-'+menua.MenuID+'B00C00'+'-'+menua.Link" v-model="roleMaster" @change="check(menua.MenuID)"/>
                                    <span class="vs-checkbox">
                                        <span class="vs-checkbox--check">
                                            <i class="vs-icon feather icon-check"></i>
                                        </span>
                                    </span>
                                    <span class="">{{menua.Name}}</span>
                                </div>
                            </fieldset>

                            <span> || Action: </span>
                            <br>
                            <div class="row">
                              <div class="col-md-12">
                                <ul class="list-unstyled mb-0">
                                    <li class="d-inline-block mr-2">
                                      <fieldset>
                                        <div class="vs-checkbox-con vs-checkbox-primary">
                                          <input type="checkbox" class="checkboxx checkRole" :id="'inputUncheckedAinsertRoleActionInsert'+menua.Alias" :value="menua.MenuID+'-'+menua.MenuID+'B00'+'-'+menua.MenuID+'B00C00'+'-'+menua.Link+'-Insert'" v-model="roleAction" @change="checkUpdateRoleAction(menua.MenuID)" />
                                          <span class="vs-checkbox">
                                              <span class="vs-checkbox--check">
                                                  <i class="vs-icon feather icon-check"></i>
                                              </span>
                                          </span>
                                          <span class="">Insert</span>
                                        </div>
                                      </fieldset>
                                    </li>
                                    <li class="d-inline-block mr-2">
                                      <fieldset>
                                        <div class="vs-checkbox-con vs-checkbox-primary">
                                          <input type="checkbox" class="checkboxx checkRole" :id="'inputUncheckedAupdateRoleActionUpdate'+menua.Alias" :value="menua.MenuID+'-'+menua.MenuID+'B00'+'-'+menua.MenuID+'B00C00'+'-'+menua.Link+'-Update'" v-model="roleAction" @change="checkUpdateRoleAction(menua.MenuID)" />
                                          <span class="vs-checkbox">
                                              <span class="vs-checkbox--check">
                                                  <i class="vs-icon feather icon-check"></i>
                                              </span>
                                          </span>
                                          <span class="">Update</span>
                                        </div>
                                      </fieldset>
                                    </li>
                                    <li class="d-inline-block mr-2">
                                      <fieldset>
                                        <div class="vs-checkbox-con vs-checkbox-primary">
                                          <input type="checkbox" class="checkboxx checkRole" :id="'inputUncheckedAdeleteRoleActionDelete'+menua.Alias" :value="menua.MenuID+'-'+menua.MenuID+'B00'+'-'+menua.MenuID+'B00C00'+'-'+menua.Link+'-Delete'" v-model="roleAction" @change="checkUpdateRoleAction(menua.MenuID)" />
                                          <span class="vs-checkbox">
                                              <span class="vs-checkbox--check">
                                                  <i class="vs-icon feather icon-check"></i>
                                              </span>
                                          </span>
                                          <span class="">Delete</span>
                                        </div>
                                      </fieldset>
                                    </li>
                                    <li class="d-inline-block mr-2">
                                      <fieldset>
                                        <div class="vs-checkbox-con vs-checkbox-primary">
                                          <input type="checkbox" class="checkboxx checkRole" :id="'inputUncheckedAviewRoleActionView'+menua.Alias" :value="menua.MenuID+'-'+menua.MenuID+'B00'+'-'+menua.MenuID+'B00C00'+'-'+menua.Link+'-View'" v-model="roleAction" @change="checkUpdateRoleAction(menua.MenuID)" />
                                          <span class="vs-checkbox">
                                              <span class="vs-checkbox--check">
                                                  <i class="vs-icon feather icon-check"></i>
                                              </span>
                                          </span>
                                          <span class="">View</span>
                                        </div>
                                      </fieldset>
                                    </li>
                                    <li class="d-inline-block mr-2">
                                      <fieldset>
                                        <div class="vs-checkbox-con vs-checkbox-primary">
                                          <input type="checkbox" class="checkboxx checkRole" :id="'inputUncheckedAapproveRoleActionApprove'+menua.Alias" :value="menua.MenuID+'-'+menua.MenuID+'B00'+'-'+menua.MenuID+'B00C00'+'-'+menua.Link+'-Approve'" v-model="roleAction" @change="checkUpdateRoleAction(menua.MenuID)" />
                                          <span class="vs-checkbox">
                                              <span class="vs-checkbox--check">
                                                  <i class="vs-icon feather icon-check"></i>
                                              </span>
                                          </span>
                                          <span class="">Approve</span>
                                        </div>
                                      </fieldset>
                                    </li>
                                    <li class="d-inline-block mr-2">
                                      <fieldset>
                                        <div class="vs-checkbox-con vs-checkbox-primary">
                                          <input type="checkbox" class="checkboxx checkRole" :id="'inputUncheckedAimportRoleActionImport'+menua.Alias" :value="menua.MenuID+'-'+menua.MenuID+'B00'+'-'+menua.MenuID+'B00C00'+'-'+menua.Link+'-Import'" v-model="roleAction" @change="checkUpdateRoleAction(menua.MenuID)" />
                                          <span class="vs-checkbox">
                                              <span class="vs-checkbox--check">
                                                  <i class="vs-icon feather icon-check"></i>
                                              </span>
                                          </span>
                                          <span class="">Import</span>
                                        </div>
                                      </fieldset>
                                    </li>
                                    <li class="d-inline-block mr-2">
                                      <fieldset>
                                        <div class="vs-checkbox-con vs-checkbox-primary">
                                          <input type="checkbox" class="checkboxx checkRole" :id="'inputUncheckedAexportRoleActionExport'+menua.Alias" :value="menua.MenuID+'-'+menua.MenuID+'B00'+'-'+menua.MenuID+'B00C00'+'-'+menua.Link+'-Export'" v-model="roleAction" @change="checkUpdateRoleAction(menua.MenuID)" />
                                          <span class="vs-checkbox">
                                              <span class="vs-checkbox--check">
                                                  <i class="vs-icon feather icon-check"></i>
                                              </span>
                                          </span>
                                          <span class="">Export</span>
                                        </div>
                                      </fieldset>
                                    </li>
                                    <li class="d-inline-block mr-2">
                                      <fieldset>
                                        <div class="vs-checkbox-con vs-checkbox-primary">
                                          <input type="checkbox" class="checkboxx checkRole" :id="'inputUncheckedApdfRoleActionPdf'+menua.Alias" :value="menua.MenuID+'-'+menua.MenuID+'B00'+'-'+menua.MenuID+'B00C00'+'-'+menua.Link+'-Pdf'" v-model="roleAction" @change="checkUpdateRoleAction(menua.MenuID)" />
                                          <span class="vs-checkbox">
                                              <span class="vs-checkbox--check">
                                                  <i class="vs-icon feather icon-check"></i>
                                              </span>
                                          </span>
                                          <span class="">Pdf</span>
                                        </div>
                                      </fieldset>
                                    </li>
                                    <li class="d-inline-block mr-2">
                                      <fieldset>
                                        <div class="vs-checkbox-con vs-checkbox-primary">
                                          <input type="checkbox" class="checkboxx checkRole" :id="'inputUncheckedApdfRoleActionDownload'+menua.Alias" :value="menua.MenuID+'-'+menua.MenuID+'B00'+'-'+menua.MenuID+'B00C00'+'-'+menua.Link+'-Download'" v-model="roleAction" @change="checkUpdateRoleAction(menua.MenuID)" />
                                          <span class="vs-checkbox">
                                              <span class="vs-checkbox--check">
                                                  <i class="vs-icon feather icon-check"></i>
                                              </span>
                                          </span>
                                          <span class="">Download</span>
                                        </div>
                                      </fieldset>
                                    </li>
                                </ul>
                              </div>
                            </div>
                          </li>
                          <br>
                        </span>
                        <span v-else>
                          <span v-for="menub in menuB" v-if="menua.MenuID == menub.MenuID">
                            <span v-if="menub.Link !== '#'"> 
                              <li class="mb-15" >
                                <fieldset>
                                    <div class="vs-checkbox-con vs-checkbox-primary">
                                      <input type="checkbox" class="checkboxx checkRole" :id="'inputUncheckedBinsertRole'+menub.Alias" :value="menub.MenuID+'-'+menub.MenuID+menub.DetailID+'-'+menub.MenuID+menub.DetailID+'C00'+'-'+menub.Link" v-model="roleMaster" @change="check(menub.Alias)"/>
                                      <span class="vs-checkbox">
                                          <span class="vs-checkbox--check">
                                              <i class="vs-icon feather icon-check"></i>
                                          </span>
                                      </span>
                                      <span class="">{{menub.Name}}</span>
                                    </div>
                                </fieldset>

                                <span> || Action: </span>
                                <br>
                                <div class="row">
                                  <div class="col-md-12">
                                    <ul class="list-unstyled mb-0">
                                        <li class="d-inline-block mr-2">
                                          <fieldset>
                                            <div class="vs-checkbox-con vs-checkbox-primary">
                                              <input type="checkbox" class="checkboxx checkRole" :id="'inputUncheckedBinsertRoleActionInsert'+menub.Alias" :value="menub.MenuID+'-'+menub.MenuID+menub.DetailID+'-'+menub.MenuID+menub.DetailID+'C00'+'-'+menub.Link+'-Insert'" v-model="roleAction" @change="checkUpdateRoleAction(menub.MenuID)" />
                                              <span class="vs-checkbox">
                                                  <span class="vs-checkbox--check">
                                                      <i class="vs-icon feather icon-check"></i>
                                                  </span>
                                              </span>
                                              <span class="">Insert</span>
                                            </div>
                                          </fieldset>
                                        </li>
                                        <li class="d-inline-block mr-2">
                                          <fieldset>
                                            <div class="vs-checkbox-con vs-checkbox-primary">
                                              <input type="checkbox" class="checkboxx checkRole" :id="'inputUncheckedBinsertRoleActionUpdate'+menub.Alias" :value="menub.MenuID+'-'+menub.MenuID+menub.DetailID+'-'+menub.MenuID+menub.DetailID+'C00'+'-'+menub.Link+'-Update'" v-model="roleAction" @change="checkUpdateRoleAction(menub.MenuID)" />
                                              <span class="vs-checkbox">
                                                  <span class="vs-checkbox--check">
                                                      <i class="vs-icon feather icon-check"></i>
                                                  </span>
                                              </span>
                                              <span class="">Update</span>
                                            </div>
                                          </fieldset>
                                        </li>
                                        <li class="d-inline-block mr-2">
                                          <fieldset>
                                            <div class="vs-checkbox-con vs-checkbox-primary">
                                              <input type="checkbox" class="checkboxx checkRole" :id="'inputUncheckedBinsertRoleActionDelete'+menub.Alias" :value="menub.MenuID+'-'+menub.MenuID+menub.DetailID+'-'+menub.MenuID+menub.DetailID+'C00'+'-'+menub.Link+'-Delete'" v-model="roleAction" @change="checkUpdateRoleAction(menub.MenuID)" />
                                              <span class="vs-checkbox">
                                                  <span class="vs-checkbox--check">
                                                      <i class="vs-icon feather icon-check"></i>
                                                  </span>
                                              </span>
                                              <span class="">Delete</span>
                                            </div>
                                          </fieldset>
                                        </li>
                                        <li class="d-inline-block mr-2">
                                          <fieldset>
                                            <div class="vs-checkbox-con vs-checkbox-primary">
                                              <input type="checkbox" class="checkboxx checkRole" :id="'inputUncheckedBinsertRoleActionView'+menub.Alias" :value="menub.MenuID+'-'+menub.MenuID+menub.DetailID+'-'+menub.MenuID+menub.DetailID+'C00'+'-'+menub.Link+'-View'" v-model="roleAction" @change="checkUpdateRoleAction(menub.MenuID)" />
                                              <span class="vs-checkbox">
                                                  <span class="vs-checkbox--check">
                                                      <i class="vs-icon feather icon-check"></i>
                                                  </span>
                                              </span>
                                              <span class="">View</span>
                                            </div>
                                          </fieldset>
                                        </li>
                                        <li class="d-inline-block mr-2">
                                          <fieldset>
                                            <div class="vs-checkbox-con vs-checkbox-primary">
                                              <input type="checkbox" class="checkboxx checkRole" :id="'inputUncheckedBinsertRoleActionApprove'+menub.Alias" :value="menub.MenuID+'-'+menub.MenuID+menub.DetailID+'-'+menub.MenuID+menub.DetailID+'C00'+'-'+menub.Link+'-Approve'" v-model="roleAction" @change="checkUpdateRoleAction(menub.MenuID)" />
                                              <span class="vs-checkbox">
                                                  <span class="vs-checkbox--check">
                                                      <i class="vs-icon feather icon-check"></i>
                                                  </span>
                                              </span>
                                              <span class="">Approve</span>
                                            </div>
                                          </fieldset>
                                        </li>
                                        <li class="d-inline-block mr-2">
                                          <fieldset>
                                            <div class="vs-checkbox-con vs-checkbox-primary">
                                              <input type="checkbox" class="checkboxx checkRole" :id="'inputUncheckedBinsertRoleActionImport'+menub.Alias" :value="menub.MenuID+'-'+menub.MenuID+menub.DetailID+'-'+menub.MenuID+menub.DetailID+'C00'+'-'+menub.Link+'-Import'" v-model="roleAction" @change="checkUpdateRoleAction(menub.MenuID)" />
                                              <span class="vs-checkbox">
                                                  <span class="vs-checkbox--check">
                                                      <i class="vs-icon feather icon-check"></i>
                                                  </span>
                                              </span>
                                              <span class="">Import</span>
                                            </div>
                                          </fieldset>
                                        </li>
                                        <li class="d-inline-block mr-2">
                                          <fieldset>
                                            <div class="vs-checkbox-con vs-checkbox-primary">
                                              <input type="checkbox" class="checkboxx checkRole" :id="'inputUncheckedBinsertRoleActionExport'+menub.Alias" :value="menub.MenuID+'-'+menub.MenuID+menub.DetailID+'-'+menub.MenuID+menub.DetailID+'C00'+'-'+menub.Link+'-Export'" v-model="roleAction" @change="checkUpdateRoleAction(menub.MenuID)" />
                                              <span class="vs-checkbox">
                                                  <span class="vs-checkbox--check">
                                                      <i class="vs-icon feather icon-check"></i>
                                                  </span>
                                              </span>
                                              <span class="">Export</span>
                                            </div>
                                          </fieldset>
                                        </li>
                                        <li class="d-inline-block mr-2">
                                          <fieldset>
                                            <div class="vs-checkbox-con vs-checkbox-primary">
                                              <input type="checkbox" class="checkboxx checkRole" :id="'inputUncheckedBinsertRoleActionPdf'+menub.Alias" :value="menub.MenuID+'-'+menub.MenuID+menub.DetailID+'-'+menub.MenuID+menub.DetailID+'C00'+'-'+menub.Link+'-Pdf'" v-model="roleAction" @change="checkUpdateRoleAction(menub.MenuID)" />
                                              <span class="vs-checkbox">
                                                  <span class="vs-checkbox--check">
                                                      <i class="vs-icon feather icon-check"></i>
                                                  </span>
                                              </span>
                                              <span class="">Pdf</span>
                                            </div>
                                          </fieldset>
                                        </li>
                                        <li class="d-inline-block mr-2">
                                          <fieldset>
                                            <div class="vs-checkbox-con vs-checkbox-primary">
                                              <input type="checkbox" class="checkboxx checkRole" :id="'inputUncheckedBinsertRoleActionDownload'+menub.Alias" :value="menub.MenuID+'-'+menub.MenuID+menub.DetailID+'-'+menub.MenuID+menub.DetailID+'C00'+'-'+menub.Link+'-Download'" v-model="roleAction" @change="checkUpdateRoleAction(menub.MenuID)" />
                                              <span class="vs-checkbox">
                                                  <span class="vs-checkbox--check">
                                                      <i class="vs-icon feather icon-check"></i>
                                                  </span>
                                              </span>
                                              <span class="">Download</span>
                                            </div>
                                          </fieldset>
                                        </li>
                                    </ul>
                                  </div>
                                </div>
                              </li>
                              <br>
                            </span>
                            <span v-else>
                              <label>{{menub.Name}} </label>
                              <br>
                              <span v-for="menuc in menuC" v-if="menub.DetailID == menuc.DetailID && menub.MenuID == menuc.MenuID">
                                <li class="mb-15" style="margin-left:20px;">
                                  <fieldset>
                                    <div class="vs-checkbox-con vs-checkbox-primary">
                                      <input type="checkbox" class="checkboxx checkRole" :id="'inputUncheckedCinsertRole'+menuc.Alias" :value="menuc.MenuID+'-'+menuc.MenuID+menuc.DetailID+'-'+menuc.MenuID+menuc.DetailID+menuc.DetailID2+'-'+menuc.Link" v-model="roleMaster" @change="check(menuc.MenuID)"/>
                                      <span class="vs-checkbox">
                                          <span class="vs-checkbox--check">
                                              <i class="vs-icon feather icon-check"></i>
                                          </span>
                                      </span>
                                      <span class="">{{menuc.Name}}</span>
                                    </div>
                                  </fieldset>

                                  <span> || Action: </span>
                                  <br>
                                  <div class="row">
                                    <div class="col-md-12">
                                      <ul class="list-unstyled mb-0">
                                          <li class="d-inline-block mr-2">
                                            <fieldset>
                                              <div class="vs-checkbox-con vs-checkbox-primary">
                                                <input type="checkbox" class="checkboxx checkRole" :id="'inputUncheckedCinsertRoleActionInsert'+menuc.Alias" :value="menuc.MenuID+'-'+menuc.MenuID+menuc.DetailID+'-'+menuc.MenuID+menuc.DetailID+menuc.DetailID2+'-'+menuc.Link+'-Insert'" v-model="roleAction" @change="checkUpdateRoleAction(menuc.MenuID)" />
                                                <span class="vs-checkbox">
                                                    <span class="vs-checkbox--check">
                                                        <i class="vs-icon feather icon-check"></i>
                                                    </span>
                                                </span>
                                                <span class="">Insert</span>
                                              </div>
                                            </fieldset>
                                          </li>
                                          <li class="d-inline-block mr-2">
                                            <fieldset>
                                              <div class="vs-checkbox-con vs-checkbox-primary">
                                                <input type="checkbox" class="checkboxx checkRole" :id="'inputUncheckedCinsertRoleActionUpdate'+menuc.Alias" :value="menuc.MenuID+'-'+menuc.MenuID+menuc.DetailID+'-'+menuc.MenuID+menuc.DetailID+menuc.DetailID2+'-'+menuc.Link+'-Update'" v-model="roleAction" @change="checkUpdateRoleAction(menuc.MenuID)" />
                                                <span class="vs-checkbox">
                                                    <span class="vs-checkbox--check">
                                                        <i class="vs-icon feather icon-check"></i>
                                                    </span>
                                                </span>
                                                <span class="">Update</span>
                                              </div>
                                            </fieldset>
                                          </li>
                                          <li class="d-inline-block mr-2">
                                            <fieldset>
                                              <div class="vs-checkbox-con vs-checkbox-primary">
                                                <input type="checkbox" class="checkboxx checkRole" :id="'inputUncheckedCinsertRoleActionDelete'+menuc.Alias" :value="menuc.MenuID+'-'+menuc.MenuID+menuc.DetailID+'-'+menuc.MenuID+menuc.DetailID+menuc.DetailID2+'-'+menuc.Link+'-Delete'" v-model="roleAction" @change="checkUpdateRoleAction(menuc.MenuID)" />
                                                <span class="vs-checkbox">
                                                    <span class="vs-checkbox--check">
                                                        <i class="vs-icon feather icon-check"></i>
                                                    </span>
                                                </span>
                                                <span class="">Delete</span>
                                              </div>
                                            </fieldset>
                                          </li>
                                          <li class="d-inline-block mr-2">
                                            <fieldset>
                                              <div class="vs-checkbox-con vs-checkbox-primary">
                                                <input type="checkbox" class="checkboxx checkRole" :id="'inputUncheckedCinsertRoleActionView'+menuc.Alias" :value="menuc.MenuID+'-'+menuc.MenuID+menuc.DetailID+'-'+menuc.MenuID+menuc.DetailID+menuc.DetailID2+'-'+menuc.Link+'-View'" v-model="roleAction" @change="checkUpdateRoleAction(menuc.MenuID)" />
                                                <span class="vs-checkbox">
                                                    <span class="vs-checkbox--check">
                                                        <i class="vs-icon feather icon-check"></i>
                                                    </span>
                                                </span>
                                                <span class="">View</span>
                                              </div>
                                            </fieldset>
                                          </li>
                                          <li class="d-inline-block mr-2">
                                            <fieldset>
                                              <div class="vs-checkbox-con vs-checkbox-primary">
                                                <input type="checkbox" class="checkboxx checkRole" :id="'inputUncheckedCinsertRoleActionApprove'+menuc.Alias" :value="menuc.MenuID+'-'+menuc.MenuID+menuc.DetailID+'-'+menuc.MenuID+menuc.DetailID+menuc.DetailID2+'-'+menuc.Link+'-Approve'" v-model="roleAction" @change="checkUpdateRoleAction(menuc.MenuID)" />
                                                <span class="vs-checkbox">
                                                    <span class="vs-checkbox--check">
                                                        <i class="vs-icon feather icon-check"></i>
                                                    </span>
                                                </span>
                                                <span class="">Approve</span>
                                              </div>
                                            </fieldset>
                                          </li>
                                          <li class="d-inline-block mr-2">
                                            <fieldset>
                                              <div class="vs-checkbox-con vs-checkbox-primary">
                                                <input type="checkbox" class="checkboxx checkRole" :id="'inputUncheckedCinsertRoleActionImport'+menuc.Alias" :value="menuc.MenuID+'-'+menuc.MenuID+menuc.DetailID+'-'+menuc.MenuID+menuc.DetailID+menuc.DetailID2+'-'+menuc.Link+'-Import'" v-model="roleAction" @change="checkUpdateRoleAction(menuc.MenuID)" />
                                                <span class="vs-checkbox">
                                                    <span class="vs-checkbox--check">
                                                        <i class="vs-icon feather icon-check"></i>
                                                    </span>
                                                </span>
                                                <span class="">Import</span>
                                              </div>
                                            </fieldset>
                                          </li>
                                          <li class="d-inline-block mr-2">
                                            <fieldset>
                                              <div class="vs-checkbox-con vs-checkbox-primary">
                                                <input type="checkbox" class="checkboxx checkRole" :id="'inputUncheckedCinsertRoleActionExport'+menuc.Alias" :value="menuc.MenuID+'-'+menuc.MenuID+menuc.DetailID+'-'+menuc.MenuID+menuc.DetailID+menuc.DetailID2+'-'+menuc.Link+'-Export'" v-model="roleAction" @change="checkUpdateRoleAction(menuc.MenuID)" />
                                                <span class="vs-checkbox">
                                                    <span class="vs-checkbox--check">
                                                        <i class="vs-icon feather icon-check"></i>
                                                    </span>
                                                </span>
                                                <span class="">Export</span>
                                              </div>
                                            </fieldset>
                                          </li>
                                          <li class="d-inline-block mr-2">
                                            <fieldset>
                                              <div class="vs-checkbox-con vs-checkbox-primary">
                                                <input type="checkbox" class="checkboxx checkRole" :id="'inputUncheckedCinsertRoleActionPdf'+menuc.Alias" :value="menuc.MenuID+'-'+menuc.MenuID+menuc.DetailID+'-'+menuc.MenuID+menuc.DetailID+menuc.DetailID2+'-'+menuc.Link+'-Pdf'" v-model="roleAction" @change="checkUpdateRoleAction(menuc.MenuID)" />
                                                <span class="vs-checkbox">
                                                    <span class="vs-checkbox--check">
                                                        <i class="vs-icon feather icon-check"></i>
                                                    </span>
                                                </span>
                                                <span class="">Pdf</span>
                                              </div>
                                            </fieldset>
                                          </li>
                                          <li class="d-inline-block mr-2">
                                            <fieldset>
                                              <div class="vs-checkbox-con vs-checkbox-primary">
                                                <input type="checkbox" class="checkboxx checkRole" :id="'inputUncheckedCinsertRoleActionDownload'+menuc.Alias" :value="menuc.MenuID+'-'+menuc.MenuID+menuc.DetailID+'-'+menuc.MenuID+menuc.DetailID+menuc.DetailID2+'-'+menuc.Link+'-Download'" v-model="roleAction" @change="checkUpdateRoleAction(menuc.MenuID)" />
                                                <span class="vs-checkbox">
                                                    <span class="vs-checkbox--check">
                                                        <i class="vs-icon feather icon-check"></i>
                                                    </span>
                                                </span>
                                                <span class="">Download</span>
                                              </div>
                                            </fieldset>
                                          </li>
                                      </ul>
                                    </div>
                                  </div>
                                </li>
                                <br>
                              </span>
                            </span>
                          </span>
                        </span>
                      </ul>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default btn-pure" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Update changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- End Modal -->
</template>

<!-- script js -->
<script>
export default {
  name: 'modal',
  props : {
    updateModal : {
      type : Boolean
    },
    update : {
      type : Object 
    },
    closeModal : {
      type : Function
    }
  },
  data(){
    return{
      form:{
        roleCode: '',
        roleName: '',
      },
      menuA: [],
      menuB: [],
      menuC: [],
      roleMaster: [],
      roleAction: []    
    }
  },
  watch: {
    update(newVal) {
      if (newVal) {
      this.form.roleCode = newVal.kd_role;
      this.form.roleName = newVal.role;
      this.getMenu()
      this.loadMenu()
      }
    } 
  },
  methods: {
    check(params){

    },
    getMenu(){
      //menuA
      axios
        .get("/api/menuA")
        .then(response => {
          this.menuA = response.data;
        });

      //menuB
      axios
        .get("/api/menuB")
        .then(response => {
          this.menuB = response.data;
        });

      //menuC
      axios
        .get("/api/menuC")
        .then(response => {
          this.menuC = response.data;
        });

    },
    checkRoleAction: function(e) {
      // console.log(this.roleMaster)
    },
    checkUpdateRoleAction: function(e) {
      // console.log(this.roleAction)
    },
    loadMenu() {
      axios
        .get("/api/roleByID/" + this.form.roleCode)
        .then(response => {
          this.roleMaster = response.data;
        });

      axios
        .get("/api/actionByID/" + this.form.roleCode)
        .then(response => {
          this.roleAction = response.data;
        });
    },
    updateData() {
      Swal.fire({
        title: 'Are you sure?',
        text: "You won't be able to revert this!",
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, update it!',
        confirmButtonClass: 'btn btn-primary',
        cancelButtonClass: 'btn btn-danger ml-1',
        buttonsStyling: false,
        showLoaderOnConfirm: true,
        preConfirm: () => {
          return axios.put("/api/updaterole/" + this.form.roleCode, {
            role_code: this.form.roleCode,
            role_name: this.form.roleName,
            role_master: this.roleMaster,
            role_action: this.roleAction,
            username: localStorage.getItem('username'),
            fullname: localStorage.getItem('fullname'),
          })
          .then(response => {
              Swal.fire(
                {
                  type: "success",
                  title: 'Updated!',
                  text: 'Your file has been Update.',
                  confirmButtonClass: 'btn btn-success',
                }
              )
              this.closeModal();
              $('.checkRole2').prop('checked',false);
              $(".updateRoleMod").modal('hide');
              this.closeModal();
              this.form.roleCode = ''
              this.form.roleName = ''
              this.roleMaster = []
              this.roleAction = []
          });
        },
        allowOutsideClick: () => !this.$swal.isLoading()
        }).then(function (result) {
          if (result.value) {
            Swal.fire(
              {
                type: "success",
                title: 'Updated!',
                text: 'Your file has been Updated.',
                confirmButtonClass: 'btn btn-success',
              }
            )
          }
      }.bind(this))

      // Swal.fire({
      //   title: 'Are you sure?',
      //   text: "You won't be able to revert this!",
      //   type: 'warning',
      //   showCancelButton: true,
      //   confirmButtonColor: '#3085d6',
      //   cancelButtonColor: '#d33',
      //   confirmButtonText: 'Yes, update it!',
      //   confirmButtonClass: 'btn btn-primary',
      //   cancelButtonClass: 'btn btn-danger ml-1',
      //   buttonsStyling: false,
      // }).then(function (result) {
      //   if (result.value) {
      //     axios.put("/api/updaterole/" + this.form.roleCode, {
      //       role_code: this.form.roleCode,
      //       role_name: this.form.roleName,
      //       role_master: this.roleMaster,
      //       role_action: this.roleAction
      //     })
      //     .then(response => {
      //         Swal.fire(
      //           {
      //             type: "success",
      //             title: 'Updated!',
      //             text: 'Your file has been Update.',
      //             confirmButtonClass: 'btn btn-success',
      //           }
      //         )
      //         this.closeModal();
      //         $('.checkRole2').prop('checked',false);
      //         $(".updateRoleMod").modal('hide');
      //         this.closeModal();
      //         this.form.roleCode = ''
      //         this.form.roleName = ''
      //         this.roleMaster = []
      //         this.roleAction = []
      //     });
      //   }
      // }.bind(this))
    }
  }
};
</script>


