<template>
  <!-- Modal -->
  <div class="modal fade text-left jadwalPekerjaanPLMod" id="default" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel1">Set Jadwal {{form.namaJadwal}}</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form id="formJadwal" @submit.prevent="addJadwal()" autocomplete="off">
          <div class="modal-body">
            <div class="row">
              <template v-if="displayMulai == true">
                <div class="form-group col-md-6">
                    <label class="form-control-label" for="tanggal">Tanggal Mulai: <small style="color:red"> *optional</small></label>
                    <input type="date" class="form-control" name="tanggalMulai" id="tanggalMulai" v-model="form.tglMulai" required>
                </div>
                <div class="form-group col-md-6">
                    <label class="form-control-label" for="startTime">Jam Mulai:</label><small style="color:red"> *optional</small>
                    <input type="time" placeholder="HH:mm" class="form-control" name="startTime" id="jamMulai" v-model="form.jamMulai"> 
                </div>
              </template>
              <template v-else></template>
              
              <template v-if="displaySelesai == true">
                <div class="form-group col-md-6">
                    <label class="form-control-label" for="tanggal">Tanggal Selesai: <small style="color:red"> *optional</small></label>
                    <input type="date" class="form-control" name="tanggalSelesai" id="tanggalSelesai" v-model="form.tglSelesai" required>
                </div>
                <div class="form-group col-md-6">
                    <label class="form-control-label" for="startTime">Jam Selesai:</label><small style="color:red"> *optional</small>
                    <input type="time" placeholder="HH:mm" class="form-control" name="jamSelesai" id="jamSelesai" v-model="form.jamSelesai"> 
                </div>
              </template>
              <template v-else></template>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default btn-pure" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Set</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- End Modal -->
</template>

<!-- script js -->
<script>

export default {
  name: 'jadwalpekerjaan',
  components: {

  },
  props : {
    jadwalModal : {
      type : Boolean
    },
    jadwal : {
      type : Object
    },
    closeModal : {
      type : Function
    }
  },
  data(){
    return{
      role: '',
      form:{
        idUser : '',
        idPekerjaan: '',
        namaJadwal: '',
        tglMulai: '',
        jamMulai: '',
        tglSelesai: '',
        jamSelesai: '',
      },
      displayMulai: false,
      displaySelesai: false,
    }
  },
  watch: {
    jadwal(newVal) {
      if (newVal) {
        this.form.idPekerjaan = newVal.id_pekerjaan
        this.form.namaJadwal = newVal.nama_jadwal
        if(this.form.namaJadwal == "Pemasukan Dokumen Kualifikasi"){
          this.displayMulai = false
          this.displaySelesai = true
        } else if(this.form.namaJadwal == "Pelaksanaan Aanwijzing") {
          this.displayMulai = true
          this.displaySelesai = true
        } else if(this.form.namaJadwal == "Pemasukan Penawaran") {
          this.displayMulai = true
          this.displaySelesai = true
        } else if(this.form.namaJadwal == "Evaluasi Penawaran") {
          this.displayMulai = true
          this.displaySelesai = true
        } else if(this.form.namaJadwal == "Klarifikasi & Negosiasi") {
          this.displayMulai = true
          this.displaySelesai = true
        } else if(this.form.namaJadwal == "Penetapan Pemenang") {
          this.displayMulai = true
          this.displaySelesai = true
        }
      }
    } 
  },
  mounted() {
    this.getContent()
  },
  methods: {
    getContent(){
      axios
        .get("/session")
        .then(response => {
          this.role = response.data.role
          this.form.idUser = response.data.id
      });
    },
    addJadwal(){
      let formData = new FormData();
      formData.append('id_user', this.form.idUser);
      formData.append('id_pekerjaan', this.form.idPekerjaan);
      formData.append('nama_jadwal', this.form.namaJadwal);
      formData.append('tgl_mulai', this.form.tglMulai);
      formData.append('jam_mulai', this.form.jamMulai);
      formData.append('tgl_selesai', this.form.tglSelesai);
      formData.append('jam_selesai', this.form.jamSelesai);
      formData.append('username', localStorage.getItem('username'));
      formData.append('fullname', localStorage.getItem('fullname'));
      var currentState = window.Echo.connector.pusher.connection.state;
      if(currentState == "unavailable") {
        Swal.fire(
          {
            type: "warning",
            title: 'Peringatan!',
            text: 'Koneksi buruk / tidak terkoneksi dengan Internet. Mohon cek kembali koneksi Internet anda.',
            confirmButtonClass: 'btn btn-success',
          }
        )
      } else {
        Swal.fire({
          title: 'Are you sure?',
          text: "You won't be able to revert this!",
          type: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: 'Yes, insert it!',
          confirmButtonClass: 'btn btn-primary',
          cancelButtonClass: 'btn btn-danger ml-1',
          buttonsStyling: false,
          showLoaderOnConfirm: true,
          preConfirm: () => {
            return axios.post("/api/setJadwalPekerjaanPL", formData, {
              headers : {
                          'Content-Type': 'multipart/form-data'
                        },
            })
            .then(response => {
              $(".jadwalPekerjaanPLMod").modal('hide');
              this.form.idUser = ''
              this.form.idPekerjaan = ''
              this.form.namaJadwal = ''
              this.form.tglMulai = ''
              this.form.jamMulai = ''
              this.form.tglSelesai = ''
              this.form.jamSelesai = ''
              this.displayMulai = false
              this.displaySelesai = false
            })
            .catch(error => {
              Swal.showValidationMessage(
                `Request failed: ${error}`
              )
            })
          },
          allowOutsideClick: () => !this.$swal.isLoading()
        }).then(function (result) { 
          if (result.value) {
            this.closeModal();
            Swal.fire(
              {
                type: "success",
                title: 'Set Jadwal!',
                text: 'Your file has been Set.',
                confirmButtonClass: 'btn btn-success',
              }
            )
          }
        }.bind(this))
      }
    },
  }
};
</script>

<style type="text/css" scoped="">
  canvas {
    width: 100%;
    height: 100%;
  }

  #signature {
    border: double 3px transparent;
    border-radius: 5px;
    background-image: linear-gradient(white, white),
      radial-gradient(circle at top left, #4bc5e8, #9f6274);
    background-origin: border-box;
    background-clip: content-box, border-box;
  }
</style>


