<template>

  <!-- BEGIN: Content-->
  <div class="app-content content">
      <div class="content-overlay"></div>
      <div class="header-navbar-shadow"></div>
      <div class="content-wrapper">
          <div class="content-header row">
              <div class="content-header-left col-md-8 col-12 mb-2">
                  <div class="row breadcrumbs-top">
                      <div class="col-12">
                        <div class="row">
                          <div class="col-12">
                            <h2 class="content-header-title float-left mb-0">Data Penetapan Pemenang</h2>
                          </div>
                          <div class="breadcrumb-wrapper col-12">
                              <ol class="breadcrumb">
                                  <li class="breadcrumb-item"><a href="index.html">Home</a>
                                  </li>
                                  <li class="breadcrumb-item"><a href="index.html">Paket Lelang</a>
                                  </li>
                                  <li class="breadcrumb-item"><a href="index.html">Penunjukan Langsung</a>
                                  </li>
                                  <li class="breadcrumb-item active">Penetapan Pemenang
                                  </li>
                              </ol>
                          </div>
                        </div>
                      </div>
                  </div>
              </div>
              <div class="content-header-right text-md-right col-md-4 col-12 d-md-block d-none">
                  <div class="form-group breadcrum-right">
                      <div class="dropdown">

                          <button class="btn-icon btn btn-primary btn-round btn-sm dropdown-toggle"data-toggle="tooltip"
                            data-original-title="Refresh" v-on:click="onRefresh" aria-haspopup="true" aria-expanded="false"><i class="feather icon-refresh-ccw"></i>
                          </button>

                      </div>
                  </div>
              </div>
          </div>

          <insert-jadwal-mod :open-modal="jadwalOpen" :jadwal="jadwal" :close-modal="loadItems"></insert-jadwal-mod>
          <view-jadwal-mod :open-modal="viewjadwalOpen" :viewjadwal="viewjadwal" :close-modal="loadItems"></view-jadwal-mod>
          
          <pemenang-mod :open-modal="pemenangOpen" :pemenang="pemenang" :close-modal="loadItems"></pemenang-mod>
          <viewpemenang-mod :open-modal="viewpemenangOpen" :viewpemenang="viewpemenang" :close-modal="loadItems"></viewpemenang-mod>

          <div class="content-body">
              <!-- Basic example section start -->
              <section id="basic-examples">
                  <div class="card">
                      <div class="card-header">
                          <h4 class="card-title">Jumlah Penetapan Pemenang : {{totalPenunjukan}}</h4>
                      </div>
                      <div class="card-content">
                          <div class="card-body">

                            <vue-good-table
                              mode="remote"
                              @on-page-change="onPageChange"
                              @on-sort-change="onSortChange"
                              @on-column-filter="onColumnFilter"
                              @on-per-page-change="onPerPageChange"
                              @on-search="onSearch"
                              :totalRows="totalRecords"
                              :isLoading.sync="isLoading"
                              :pagination-options="{
                                enabled: true,
                                dropdownAllowAll: false,
                                mode: 'pages'
                              }"
                              :search-options="{
                                enabled: true,
                                skipDiacritics: true,
                              }"
                              :rows="rows"
                              :columns="columns">
                              <template slot="table-row" slot-scope="props">
                                <span v-if="props.column.field == 'action'"> 
                                  <button type="button" class="btn btn-outline-primary btn-sm dropdown-toggle mr-1" data-toggle="dropdown"><i class="feather icon-more-vertical"></i> Action</button>
                                  <ul class="dropdown-menu" style="top: auto; left: auto; padding: 5px;">
                                    <template v-for="actionS in action">
                                      <template v-if="actionS == 'Insert' && session.role !== 'R002' && props.row.status_pemenang == null"> 
                                        <template v-if="session.role == 'R000' || session.role == 'R003'">
                                          <li>
                                            <button class="btn-icon btn btn-info btn-sm btn-block mr-1 mb-1 waves-effect waves-light" data-target=".PemenangMod" data-toggle="modal" type="button" title='Penetapan Pemenang' @click="pemenangModal(props.row.id_pekerjaan)"><i class="feather icon-file-plus" aria-hidden="true"></i> Penetapan Pemenang</button>
                                          </li>
                                        </template>
                                      </template> 
                                      <template v-if="actionS == 'View'">
                                        <li>
                                          <button class="btn-icon btn btn-outline-primary btn-sm btn-block mr-1 mb-1 waves-effect waves-light" data-target=".viewjadwalPekerjaanPLMod" data-toggle="modal" type="button" title='View Jadwal' @click="viewJadwalModal(props.row.id_pekerjaan)"><i class="feather icon-eye" aria-hidden="true"></i> View Jadwal</button>
                                        </li>
                                      </template>
                                      <template v-if="actionS == 'View' && props.row.status_pemenang == 2 || actionS == 'View' && props.row.status_pemenang == 1">
                                        <li>
                                          <button class="btn-icon btn btn-outline-primary btn-sm btn-block mr-1 mb-1 waves-effect waves-light" data-target=".viewPemenangMod" data-toggle="modal" type="button" title='View Penetapan Pemenang' @click="viewPemenangModal(props.row.id_pekerjaan)"><i class="feather icon-eye" aria-hidden="true"></i> View Penetapan Pemenang</button>
                                        </li>
                                      </template>
                                      <template v-if="actionS == 'Pdf' && props.row.status_pemenang == 2 || actionS == 'Pdf' && props.row.status_pemenang == 1">
                                        <li>
                                          <a target="_blank" rel="noopener noreferrer" :href="'api/pdfPemenang/' + props.row.id_pekerjaan">
                                            <button class="btn-icon btn btn-outline-warning btn-sm btn-block mr-1 mb-1 waves-effect waves-light" title='Download Pdf'><i class="feather icon-upload-cloud" aria-hidden="true"></i> Download Pdf Penetapan Pemenang</button>
                                          </a>
                                        </li>
                                      </template>
                                    </template>
                                  </ul>
                                </span>
                                <span v-else-if="props.column.field == 'status_pemenang'">
                                  <template v-if="props.row.status_pemenang == null">
                                    <span class="badge badge-round badge-warning">Menunggu Penetapan</span>
                                  </template>
                                  <template v-else-if="props.row.status_pemenang == 1">
                                    <span class="badge badge-round badge-warning">Menunggu Penetapan</span> 
                                  </template>
                                  <template v-else-if="props.row.status_pemenang == 2">
                                    <span class="badge badge-round badge-success">Complete</span> 
                                  </template>
                                </span>
                                <span v-else-if="props.column.field == 'nilai_pagu'">
                                  Rp. {{ formatPrice(props.row.nilai_pagu) }}
                                </span>
                                <span v-else-if="props.column.field == 'tgl_mulai'">
                                    {{props.row.tgl_mulai}} {{props.row.jam_mulai}}  
                                </span>
                                <span v-else-if="props.column.field == 'tgl_selesai'">
                                    {{props.row.tgl_selesai}} {{props.row.jam_selesai}}  
                                </span>
                                <span v-else>
                                  {{props.formattedRow[props.column.field]}}
                                </span>
                              </template>
                            </vue-good-table>

                          </div>
                      </div>
                  </div>
              </section>
              <!-- // Basic example section end -->
          </div>
      </div>
  </div>
  <!-- END: Content-->

</template>

<!-- script js -->
<script>
import JadwalPekerjaan from './JadwalPekerjaan.vue';
import ViewJadwalPekerjaan from './ViewJadwalPekerjaan.vue';
import InsertUpdatePemenang from './InsertUpdatePemenang.vue';
import ViewPemenang from './ViewPemenang.vue';
import 'vue-good-table/dist/vue-good-table.css'
import { VueGoodTable } from 'vue-good-table';
import moment from 'moment';
moment.locale("id");

const _ = require('lodash');

export default {
    name: 'pl_pemenang',
    components: {
      'vue-good-table' : VueGoodTable,
      'insert-jadwal-mod' : JadwalPekerjaan,
      'view-jadwal-mod' : ViewJadwalPekerjaan,
      'pemenang-mod' : InsertUpdatePemenang,
      'viewpemenang-mod' : ViewPemenang,
    },
    data() {
        return {
            totalPenunjukan: '',
            isLoading: false,
            jadwalOpen: false,
            jadwal: {},
            viewjadwalOpen: false,
            viewjadwal: {},
            pemenangOpen: false,
            pemenang: {},
            viewpemenangOpen: false,
            viewpemenang: {},
            prints: [],
            columns: [
                {
                    label: 'Kode',
                    field: 'kode_pekerjaan',
                    filterable: true
                },
                {
                    label: 'Pekerjaan',
                    field: 'nama_pekerjaan',
                    filterable: true
                },
                {
                    label: 'Metode',
                    field: 'metode',
                    filterable: true
                },
                {
                    label: 'Mulai',
                    field: 'tgl_mulai',
                    filterable: true
                },
                {
                    label: 'Selesai',
                    field: 'tgl_selesai',
                    filterable: true,
                },
                {
                    label: 'Status',
                    field: 'status_pemenang',
                    filterable: true
                },
                {
                  label: 'Action',
                  field: 'action',
                  sortable: false,
                },
            ],
            rows: [],
            totalRecords: 0,
            serverParams: {
              columnFilters: {
              },
              sort: {       
                field: 'created_ats', 
                type: 'desc',
              },
              page: 1, 
              perPage: 10,
              searchTerm: ''
            },
            session: {
              id: '',
              id_person: '',
              role: ''
            },
            action: []
        };
    },
    beforeCreate(){
        this.loading = true;
        axios
        .get("/session")
        .then(response => {
            this.id = response.data.id;
            this.session.id = response.data.id;
            this.role = response.data.role;
            this.session.role = response.data.role;
            this.login = response.data.login;
            axios
            .get("/api/getSide/" + this.id )
            .then(response => {
                this.data = response.data;
                var routesUser = [];
                this.data.forEach(function(puki, index) {
                  var nam = puki.Link.substr(1);
                  routesUser.push(nam);
                }); 
                var n = routesUser.includes(this.$options.name);
                console.log(n)
                if(this.login == true && n == true){
                  this.loading = false;
                  this.loadItems()
                  this.getAction(this.id,this.$options.name)
                } else if (this.login == true && n == false) {
                  this.$router.push('/not404');
                  this.loading = false;
                } else {
                  window.location.href = "/";
                  // this.$router.push('/not404');
                  this.loading = false;
                }
            });
        });
    },
    mounted() {
      this.listen()
        // this.loadItems()
        // this.cekUserMenu()
    },
    methods: {
      listen() {
        Echo.channel('newNotif') //Should be Channel Name
        .listen('NotifEvents', (e) => {
          if(this.id == e.message.id_receiver && e.message.jenis == "Pekerjaan"){
            this.loadItems()
          } 
        });

        Echo.channel('refreshEvent') //Should be Channel Name
        .listen('RefreshEvents', (e) => {
          this.loadItems()
        });
      },
      getAction(id,link){
        axios
            .get("/api/action/" + id + "/" + link)
            .then(response => {
              this.action = response.data;
            });
      },
      getFromServer(pemenangs) {
        if(this.session.role == "R002") {
          return axios.post(`/api/getPemenangPLVendor/`+this.session.id+`?searchTerm=${pemenangs.searchTerm}&page=${pemenangs.page}&per_page=${pemenangs.perPage}&field=${pemenangs.sort.field}&type=${pemenangs.sort.type}`); 
        } else {
          return axios.post(`/api/getPemenangPL?searchTerm=${pemenangs.searchTerm}&page=${pemenangs.page}&per_page=${pemenangs.perPage}&field=${pemenangs.sort.field}&type=${pemenangs.sort.type}`); 
        }
      },

      updateParams(newProps) {
        this.serverParams = Object.assign({}, this.serverParams, newProps);
      },
      
      onPageChange(params) {
        this.updateParams({page: params.currentPage});
        this.loadItems();
      },

      onPerPageChange(params) {
        this.updateParams({perPage: params.currentPerPage});
        this.loadItems();
      },

      onSortChange(params) {
        this.updateParams({
          sort: {
            type: params[0].type,
            field: params[0].field,
          },
        });
        this.loadItems();
      },
      
      onColumnFilter(params) {
        this.updateParams(params);
        this.loadItems();
      },

      onSearch(params) {
        this.updateParams(params);
        this.loadItems();
      },

      openModal() {
          this.modalOpen = !this.modalOpen;
      }, 

      closeModal() {
          this.jadwalOpen = false;
          this.viewjadwalOpen = false;
          this.pemenangOpen = false;
          this.viewpemenangOpen = false;
      },

      pemenangModal(params) {
          axios
            .get("/api/penunjukan/" + params)
            .then(response => {
              this.pemenang = response.data;
            });
          this.pemenangOpen = !this.pemenangOpen;
      },

      viewPemenangModal(params) {
          axios
            .get("/api/penunjukan/" + params)
            .then(response => {
              this.viewpemenang = response.data;
              this.openNotifChat2(params)
            });
          this.viewpemenangOpen = !this.viewpemenangOpen;
      },

      openNotifChat(id_pekerjaan){
        axios.post('/openNotifChat/'+ this.session.id + '/' + id_pekerjaan).then(response => {
        });
      },

      openNotifChat2(params){
        axios.post('/openNotifChat/'+ this.session.id + '/' + params).then(response => {
        });
      },

      jadwalModal(params,nama_jadwal) {
          axios
            .get("/api/penunjukan/" + params)
            .then(response => {
              this.jadwal = response.data;
              this.jadwal['nama_jadwal'] = nama_jadwal;
            });
          this.jadwalOpen = !this.jadwalOpen;
      },
      viewJadwalModal(params) {
          axios
            .get("/api/penunjukan/" + params)
            .then(response => {
              this.viewjadwal = response.data;
            });
          this.viewjadwalOpen = !this.viewjadwalOpen;
      },

      loadItems() {
        this.getFromServer(this.serverParams).then((response) => {
            this.totalRecords = response.data.pemenangs.total;
            this.totalPenunjukan = this.totalRecords
            this.rows = response.data.pemenangs.data;
        })
      },

      onRefresh: function (event) {
        if (event) {
          this.loadItems();
        }
      },

      formatDate(value) {
          return moment(value).format("DD MMMM YYYY")
      },

      formatPrice(value) {
          let val = (value/1).toFixed(2).replace('.', ',')
          return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")
      }

    }
};
</script>

<style scoped>
  .image img{
        position: absolute;
        max-width: 100%;
        max-height: 100%;
        width: 100%;
        /*height: 100%;*/
        top: 50%;
        left: 50%;
        /*object-fit: cover;*/
        transform: translateX(-50%) translateY(-50%);
  }   


</style>