<template>
  <!-- Modal -->
  <div class="modal fade text-left viewBANegosiasiMod" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel1">View Berita Acara</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
          <div class="card-body">
            <div class="row">
              <div class="form-group col-md-12">
                <div class="table-responsive">
                  <table border="0" width="100%">
                    <tbody>
                      <tr>
                        <td></td>
                        <td style="text-align: center; vertical-align: middle;"><b>BERITA ACARA</b></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td style="text-align: center; vertical-align: middle;">TENTANG</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td style="text-align: center; vertical-align: middle;">{{upper(form.namaPekerjaan)}}</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td colspan="3"><br></td>
                      </tr>
                      <tr>
                        <td colspan="3" style="text-align: justify; vertical-align: middle;">Pada hari ini {{hari(form.created_at)}} tanggal {{terbilang(form.created_at,'hari')}} bulan {{terbilang(form.created_at,'bulan')}} tahun {{terbilang(form.created_at,'tahun')}} PT. Kawasan Industri Wijayakusuma (Persero) dan {{form.namaVendor}} telah mengadakan rapat Klarifikasi & Negosiasi terhadap penawaran dari {{form.namaVendor}}:</td>
                      </tr>
                      <tr>
                        <td colspan="3"><br></td>
                      </tr>
                    </tbody>
                  </table>
                  <table border="0" width="100%">
                    <tbody>
                      <tr>
                        <td style="text-align: justify; vertical-align: middle;" width="20%">Pekerjaan</td>
                        <td width="5%">:</td>
                        <td style="text-align: justify; vertical-align: middle;" width="75%">{{form.namaPekerjaan}}</td>
                      </tr>
                      <tr>
                        <td colspan="3"><br></td>
                      </tr>
                      <tr>
                        <td style="text-align: justify; vertical-align: middle;" width="20%">Lokasi</td>
                        <td width="5%">:</td>
                        <td style="text-align: justify; vertical-align: middle;" width="75%">{{form.lokasi}}</td>
                      </tr>
                      <tr>
                        <td colspan="3"><br></td>
                      </tr>
                      <tr>
                        <td style="text-align: justify; vertical-align: middle;" width="20%">Rapat Dipimpin</td>
                        <td width="5%">:</td>
                        <td style="text-align: justify; vertical-align: middle;" width="75%">{{form.pimpinanRapat}}</td>
                      </tr>
                      <tr>
                        <td colspan="3"><br></td>
                      </tr>
                      <tr>
                        <td style="text-align: justify; vertical-align: middle;" width="20%">Jabatan</td>
                        <td width="5%">:</td>
                        <td style="text-align: justify; vertical-align: middle;" width="75%">{{form.jabatanPimpinan}}</td>
                      </tr>
                      <tr>
                        <td colspan="3"><br></td>
                      </tr>
                      <tr>
                        <td style="text-align: justify; vertical-align: middle;" width="20%">Dimulai jam</td>
                        <td width="5%">:</td>
                        <td style="text-align: justify; vertical-align: middle;" width="75%">{{form.dimulaiJam}}</td>
                      </tr>
                      <tr>
                        <td colspan="3"><br></td>
                      </tr>
                      <tr>
                        <td style="text-align: justify; vertical-align: middle;text-decoration: underline;" width="20%">Peserta Rapat :</td>
                        <td width="5%"></td>
                        <td style="text-align: justify; vertical-align: middle;" width="75%"></td>
                      </tr>
                    </tbody>
                  </table>
                  <table border="0" width="100%">
                    <tbody>
                      <tr>
                        <td colspan="3"><br></td>
                      </tr>
                      <tr>
                        <td style="text-align: justify; vertical-align: middle;" width="20%">PT. KIW (Persero) :</td>
                        <td width="5%"></td>
                        <td style="text-align: justify; vertical-align: middle;" width="75%"></td>
                      </tr>
                    </tbody>
                  </table>
                  <table border="0" width="100%">
                    <tbody>
                      <template v-for="(row, index) in form.peserta">
                        <tr>
                          <td width="5%">{{index+1}}.</td>
                          <td style="text-align: justify; vertical-align: middle;" width="20%">{{row.nama}}</td>
                          <td width="5%">:</td>
                          <td style="text-align: justify; vertical-align: middle;"width="75%">{{row.jabatan}}</td>
                        </tr>
                      </template>
                    </tbody>
                  </table>
                  <table border="0" width="100%">
                    <tbody>
                      <tr>
                        <td colspan="3"><br></td>
                      </tr>
                      <tr>
                        <td style="text-align: justify; vertical-align: middle;text-decoration: underline;" width="20%">Penyedia jasa :</td>
                        <td width="5%"></td>
                        <td style="text-align: justify; vertical-align: middle;" width="75%"></td>
                      </tr>
                    </tbody>
                  </table>
                  <table border="0" width="100%">
                    <tbody>
                      <template v-for="(row, index) in form.penyedia">
                        <tr>
                          <td width="5%">{{index+1}}.</td>
                          <td style="text-align: justify; vertical-align: middle;" width="95%">{{row.nama_vendor}}</td>
                        </tr>
                      </template>
                    </tbody>
                  </table>
                  <table border="0" width="100%">
                    <tbody>
                      <tr>
                        <td colspan="3"><br></td>
                      </tr>
                      <tr>
                        <td style="text-align: justify; vertical-align: middle;text-decoration: underline;" width="50%">Pokok - pokok penjelasan :</td>
                        <td width="5%"></td>
                        <td style="text-align: justify; vertical-align: middle;" width="45%"></td>
                      </tr>
                    </tbody>
                  </table>
                  <table border="0" width="100%">
                    <tbody>
                      <tr>
                        <td colspan="3"><br></td>
                      </tr>
                      <tr>
                        <td width="100%" v-html="contentBA">{{contentBA}}</td>
                      </tr>
                      <tr>
                        <td colspan="3"><br></td>
                      </tr>
                      <tr>
                        <td colspan="3" style="text-align: justify; vertical-align: middle;">Demikian berita acara ini dibuat dengan sesungguhnya untuk dapat dipergunakan seperlunya.</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>

              <div class="form-group col-md-6">
                <div class="table-responsive">
                  <table border="0" width="100%">
                    <tbody>
                      <tr>
                        <td style="text-align: justify; vertical-align: middle;" width="30%">Penyedia jasa :</td>
                        <td width="5%"></td>
                        <td style="text-align: justify; vertical-align: middle;" width="65%"></td>
                      </tr>
                    </tbody>
                  </table>
                  <table border="0" width="100%">
                    <tbody>
                      <template v-for="(row, index) in form.penyedia">
                        {{namaVen(row.nama_vendor)}}
                        {{setIDini(row.id_user)}}
                        <tr>
                          <td width="5%">{{index+1}}.</td>
                          <td style="text-align: justify; vertical-align: middle;" width="95%">{{row.nama_vendor}}</td>
                        </tr>
                        <template v-if="row.sts_signature == 0">
                          <tr>
                            <td width="5%">=</td>
                            <td style="text-align: justify; vertical-align: middle;" width="95%">.........................</td>
                          </tr>
                        </template>
                        <template v-else>
                          <tr>
                            <td colspan="2" style="text-align: center; vertical-align: middle;" width="100%" height="100px">
                              <img class="round" :src="`uploads/signature/${row.signature}`" @error="(() => row.signature = '/signatureNone.png')" width="150" height="150" alt="...">
                            </td>
                          </tr>
                        </template>
                      </template>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="form-group col-md-6">
                <div class="table-responsive">
                  <table border="0" width="100%">
                    <tbody>
                      <tr>
                        <!-- <td style="text-align: left; vertical-align: middle;" width="100%">Panitia Pengadaan :</td> -->
                      </tr>
                      <tr>
                        <td style="text-align: left; vertical-align: middle;" width="100%">PT. Kawasan Industri Wijayakusuma (Persero)</td>
                      </tr>
                      <tr>
                        <td style="text-align: left; vertical-align: middle;" width="100%">Semarang, Tahun {{year(form.created_at)}}</td>
                      </tr>
                      <tr>
                        <td style="text-align: center; vertical-align: middle;" width="100%" height="100px">
                          <template v-if="form.signaturePimpinan == '' || form.signaturePimpinan == null">
                            .........................
                          </template>
                          <template v-else>
                            <img class="round" :src="`uploads/signature/${form.signaturePimpinan}`" @error="(() => form.signaturePimpinan = '/signatureNone.png')" width="150" height="150" alt="...">
                          </template>
                        </td>
                      </tr>
                      <tr>
                        <td style="text-align: center; vertical-align: middle;" width="100%">{{form.pimpinanRapat}}</td>
                      </tr>
                      <tr>
                        <td style="text-align: center; vertical-align: middle;" width="100%">{{form.jabatanPimpinan}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>

              {{setIDini2(form.idPimpinanRapat)}}
              <div class="form-group col-md-12">
                <template v-if="form.role == 'R000' && form.stsSignaturePimpinan == 0 && form.stsSignaturePenyedia == 0">
                  <label class="form-control-label" for="inputBasicFirstName">Tanda Tangan <small style="color:red"> *required</small></label>
                  <VueSignaturePad id="signature" width="100%" height="450px" :options="{onBegin: () => {$refs.signaturePad.resizeCanvas()}}" ref="signaturePad"/>
                  <br>
                  <div>
                    <button type="button" class="btn btn-outline-danger" @click="undo">Undo</button>
                  </div>
                </template>
                <template v-else-if="form.role == 'R000' && form.stsSignaturePimpinan == 0">
                  <label class="form-control-label" for="inputBasicFirstName">Tanda Tangan <small style="color:red"> *required</small></label>
                  <VueSignaturePad id="signature" width="100%" height="450px" :options="{onBegin: () => {$refs.signaturePad.resizeCanvas()}}" ref="signaturePad"/>
                  <br>
                  <div>
                    <button type="button" class="btn btn-outline-danger" @click="undo">Undo</button>
                  </div>
                </template>
                <template v-else-if="form.role == 'R000' && form.stsSignaturePenyedia == 0">
                  <label class="form-control-label" for="inputBasicFirstName">Tanda Tangan <small style="color:red"> *required</small></label>
                  <VueSignaturePad id="signature" width="100%" height="450px" :options="{onBegin: () => {$refs.signaturePad.resizeCanvas()}}" ref="signaturePad"/>
                  <br>
                  <div>
                    <button type="button" class="btn btn-outline-danger" @click="undo">Undo</button>
                  </div>
                </template>
                <template v-else-if="form.stsSignaturePimpinan == 0 && setID2 == form.idUser">
                  <label class="form-control-label" for="inputBasicFirstName">Tanda Tangan Pimpinan<small style="color:red"> *required</small></label>
                  <VueSignaturePad id="signature" width="100%" height="450px" :options="{onBegin: () => {$refs.signaturePad.resizeCanvas()}}" ref="signaturePad"/>
                  <br>
                  <div>
                    <button type="button" class="btn btn-outline-danger" @click="undo">Undo</button>
                  </div>                  
                </template>
                <template v-else-if="form.stsSignaturePenyedia2 == 0 && form.role == 'R002'">
                  <span class="badge badge-round badge-warning">{{form.idUser}}</span>  
                  <template v-for="(row, index) in form.penyedia">
                    <template v-if="row.id_user == form.idUser">
                      {{tampilIni(true)}}
                    </template>
                  </template>
                  <template v-if="tampil == true">
                    <label class="form-control-label" for="inputBasicFirstName">Tanda Tangan Penyedia<small style="color:red"> *required</small></label>
                    <VueSignaturePad id="signature" width="100%" height="450px" :options="{onBegin: () => {$refs.signaturePad.resizeCanvas()}}" ref="signaturePad"/>
                    <br>
                    <div>
                      <button type="button" class="btn btn-outline-danger" @click="undo">Undo</button>
                    </div>
                  </template>
                </template>
              </div>

              <div class="form-group col-md-12">
                <label class="form-control-label" for="inputBasicLastName">Attachment</label>
                <div class="row">
                  <template v-if="form.attachment.length < 1">
                    <div class="col-md-4">
                        <p>Tidak ada attachment</p>
                    </div>
                  </template>
                  <template v-else>
                    <template v-for="(row, index) in form.attachment">
                      <template v-if="checkExt(row) == 'pdf'">
                        <div class="col-md-4">
                            <img class="card-img-top" src="/uploads/iconPDF.png" style="width:auto;height:50px;">                        
                            <div class="card-body">
                              <a :href="'/uploads/attachmentBA/'+row" target="_blank" > attachment PDF {{index+1}} </a>
                            </div>
                        </div>
                      </template>
                      <template v-else-if="checkExt(row) == 'jpg' || checkExt(row) == 'jpeg' || checkExt(row) == 'png'">
                        <div class="col-md-4">
                            <img class="card-img-top" :src="'/uploads/attachmentBA/'+row" style="width:auto;height:50px;">                        
                            <div class="card-body">
                              <a :href="'/uploads/attachmentBA/'+row" target="_blank" > attachment IMAGE {{index+1}} </a>
                            </div>
                        </div>
                      </template>
                    </template>
                  </template>
                </div>
              </div>

            </div>
          </div>
        </div> 
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal" @click="closeM()">Close</button>
          <template v-if="form.role == 'R000' && form.stsSignaturePimpinan == 0 && form.stsSignaturePenyedia == 0">
              <button type="button" class="btn btn-primary" @click="addApprove('Admin')">Approve</button>
          </template>
          <template v-else-if="form.role == 'R000' && form.stsSignaturePimpinan == 0">
              <button type="button" class="btn btn-primary" @click="addApprove('Admin')">Approve</button>
          </template>
          <template v-else-if="form.role == 'R000' && form.stsSignaturePenyedia == 0">
              <button type="button" class="btn btn-primary" @click="addApprove('Admin')">Approve</button>
          </template>
          <template v-else-if="form.stsSignaturePimpinan == 0 && setID2 == form.idUser">
            <button type="button" class="btn btn-primary" @click="addApprove('Pimpinan')">Approve</button>
          </template>

          <template v-else-if="form.stsSignaturePenyedia2 == 0 && form.role == 'R002'">
            <template v-for="(row, index) in form.penyedia">
              <template v-if="row.sts_signature == 0">
                <template v-if="row.id_user == form.idUser">
                  <button type="button" class="btn btn-primary" @click="addApprove('Penyedia')">Approve Penyedia</button>
                </template>
              </template>
            </template>
          </template>
        </div>
      </div>
    </div>
  </div>
  <!-- End Modal -->
</template>

<!-- script js -->
<script>
import VueSignaturePad from 'vue-signature-pad';
import Select2 from "v-select2-component";
import Select2MultipleControl from 'v-select2-multiple-component';
import pdf from 'vue-pdf';
import moment from 'moment';
export default {
  components: { 
    Select2,
    Select2MultipleControl,
    pdf,
    VueSignaturePad,
  },
  name: 'modal',
  props : {
    viewbaModal : {
      type : Boolean
    },
    viewba : {
      type : Object
    },
    closeModal : {
      type : Function
    }
  },
  data(){
    return{
      role: 'R002',
      tampil: false,
      tampil2: false,
      form:{
        idUser : '',
        role : '',
        idPekerjaan: '',
        namaPekerjaan: '',
        idVendor: '',
        noBA: '',
        lokasi: '',
        idPimpinanRapat:'',
        pimpinanRapat: '',
        jabatanPimpinan: '',
        signaturePimpinan: '',
        stsSignaturePimpinan: '',
        stsSignaturePenyedia: '',
        stsSignaturePenyedia2: '',
        dimulaiJam: '',
        peserta: [],
        penyedia: [],
        createdAt: '',
        namaVendor: '',
        attachment: [],
      },
      contentBA: '',
      canvasVehiculo: false,
      signature: '',
      setID: '',
      setID2: '',
      setID3: '',
    }
  },  
  watch: {
    viewba(newVal) {
      if (newVal) {
        this.form.idPekerjaan = newVal.id_pekerjaan
        this.form.namaPekerjaan = newVal.nama_pekerjaan
        this.form.idVendor = newVal.id_vendor
        this.session()
        this.open()
      }
    } 
  },
  methods: {
    session(){
      axios
        .get("/session")
        .then(response => {
          this.form.role = response.data.role
          this.form.idUser = response.data.id
          this.getBA(this.form.idPekerjaan,this.form.idUser)
      });
    },
    namaVen(params){
      this.form.namaVendor = params
    },
    getBA(idPekerjaan,idUser){
      axios
        .get("/api/getBANegosiasi/" + idPekerjaan)
        .then(response => {
          this.form.noBA = response.data.no_ba
          this.form.lokasi = response.data.lokasi
          this.form.idPimpinanRapat = response.data.id_pimpinan_rapat
          this.form.pimpinanRapat = response.data.pimpinan_rapat
          this.form.jabatanPimpinan = response.data.jabatan_pimpinan
          this.form.signaturePimpinan = response.data.signature
          this.form.stsSignaturePimpinan = response.data.sts_signature_pimpinan
          this.form.dimulaiJam = response.data.dimulai_jam
          this.form.peserta = response.data.peserta
          this.form.penyedia = response.data.penyedia
          var a = [];
          $.each(response.data.penyedia, function (index, value) {
            if(value.sts_signature == 0){
              a.push(true);
            }
          });
          if(a.length > 0){
            this.form.stsSignaturePenyedia = 0
          } else {
            this.form.stsSignaturePenyedia = 2
          }

          var stsTampung;
          $.each(response.data.penyedia, function (index, value) {
            if(value.id_user == idUser){
              stsTampung = value.sts_signature
            }
          });
          this.form.stsSignaturePenyedia2 = stsTampung
          this.form.attachment = response.data.attachment
          this.form.createdAt = response.data.created_at
          this.contentBA = response.data.hasil
      });
    },
    open() {
      this.canvasVehiculo = true;
      this.$nextTick(() => {
        this.$refs.signaturePad.resizeCanvas();
      })
    },
    undo() {
      this.$refs.signaturePad.undoSignature();
    },
    save() {
      const { isEmpty, data } = this.$refs.signaturePad.saveSignature();
      if(!isEmpty){
        this.signature = data
      }
    },
    addApprove(params){
      const { isEmpty, data } = this.$refs.signaturePad.saveSignature();
      if(!isEmpty){
        this.form.signature = data
      }

      if(this.form.signature == undefined){
        Swal.fire(
          {
            type: "warning",
            title: 'Belum Tanda Tangan!',
            text: 'Mohon tandatangani pada kolom yang disediakan.',
          }
        )
      } else {
        let formData = new FormData();
        formData.append('id_user', this.form.idUser);
        formData.append('id_pekerjaan', this.form.idPekerjaan);
        formData.append('signature', this.form.signature);
        formData.append('tipe', params);
        formData.append('username', localStorage.getItem('username'));
        formData.append('fullname', localStorage.getItem('fullname'));
        var currentState = window.Echo.connector.pusher.connection.state;
        if(currentState == "unavailable") {
          Swal.fire(
            {
              type: "warning",
              title: 'Peringatan!',
              text: 'Koneksi buruk / tidak terkoneksi dengan Internet. Mohon cek kembali koneksi Internet anda.',
              confirmButtonClass: 'btn btn-success',
            }
          )
        } else {
          Swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, insert it!',
            confirmButtonClass: 'btn btn-primary',
            cancelButtonClass: 'btn btn-danger ml-1',
            buttonsStyling: false,
            showLoaderOnConfirm: true,
            preConfirm: () => {
              return axios.post("/api/approveBANegosiasiPL", formData, {
                headers : {
                            'Content-Type': 'multipart/form-data'
                          },
              })
              .then(response => {
                $(".viewBANegosiasiMod").modal('hide');
                this.$refs.signaturePad.clearSignature();
                this.form.idUser = ''
                this.form.idPekerjaan = ''
                this.form.signature = ''
              })
              .catch(error => {
                Swal.showValidationMessage(
                  `Request failed: ${error}`
                )
              })
            },
            allowOutsideClick: () => !this.$swal.isLoading()
          }).then(function (result) { 
            if (result.value) {
              this.closeModal();
              Swal.fire(
                {
                  type: "success",
                  title: 'Approve!',
                  text: 'Your file has been Approve.',
                  confirmButtonClass: 'btn btn-success',
                }
              )
            }
          }.bind(this))
        }
      }
    },
    closeM(){
      this.canvasVehiculo = false;
    },
    tampilIni(params){
      this.tampil = params
    },
    tampilIni2(params){
      this.tampil2 = params
    },
    formatRupiah(angka, prefix){
      var number_string = angka.replace(/[^,\d]/g, '').toString(),
      split       = number_string.split(','),
      sisa        = split[0].length % 3,
      rupiah        = split[0].substr(0, sisa),
      ribuan        = split[0].substr(sisa).match(/\d{3}/gi);
 
      // tambahkan titik jika yang di input sudah menjadi angka ribuan
      if(ribuan){
        separator = sisa ? '.' : '';
        rupiah += separator + ribuan.join('.');
      }
 
      rupiah = split[1] != undefined ? rupiah + ',' + split[1] : rupiah;
      return prefix == undefined ? rupiah : (rupiah ? 'Rp. ' + rupiah : '');
    },
    setIDini(params){
      this.setID = params
    },
    setIDini2(params){
      this.setID2 = params
    },
    setIDini3(params){
      this.setID3 = params
    },
    upper(param){
      return param.toUpperCase()
    },
    hari(param){
      return moment(param).format('dddd'); 
    },
    year(param){
      return moment(param).format('YYYY'); 
    },
    terbilang(params,par){
        if(par == 'hari'){
          var bilangan=moment(params).format('DD');
        } else if(par == 'bulan'){
          var bilangan=moment(params).format('MM');
        } if(par == 'tahun'){
          var bilangan=moment(params).format('YYYY');
        }
        
        var kalimat="";
        var angka   = new Array('0','0','0','0','0','0','0','0','0','0','0','0','0','0','0','0');
        var kata    = new Array('','Satu','Dua','Tiga','Empat','Lima','Enam','Tujuh','Delapan','Sembilan');
        var tingkat = new Array('','Ribu','Juta','Milyar','Triliun');
        var panjang_bilangan = bilangan.length;
         
        /* pengujian panjang bilangan */
        if(panjang_bilangan > 15){
            kalimat = "Diluar Batas";
        }else{
            /* mengambil angka-angka yang ada dalam bilangan, dimasukkan ke dalam array */
            for(i = 1; i <= panjang_bilangan; i++) {
                angka[i] = bilangan.substr(-(i),1);
            }
             
            var i = 1;
            var j = 0;
             
            /* mulai proses iterasi terhadap array angka */
            while(i <= panjang_bilangan){
                var subkalimat = "";
                var kata1 = "";
                var kata2 = "";
                var kata3 = "";
                 
                /* untuk Ratusan */
                if(angka[i+2] != "0"){
                    if(angka[i+2] == "1"){
                        kata1 = "Seratus";
                    }else{
                        kata1 = kata[angka[i+2]] + " Ratus";
                    }
                }
                 
                /* untuk Puluhan atau Belasan */
                if(angka[i+1] != "0"){
                    if(angka[i+1] == "1"){
                        if(angka[i] == "0"){
                            kata2 = "Sepuluh";
                        }else if(angka[i] == "1"){
                            kata2 = "Sebelas";
                        }else{
                            kata2 = kata[angka[i]] + " Belas";
                        }
                    }else{
                        kata2 = kata[angka[i+1]] + " Puluh";
                    }
                }
                 
                /* untuk Satuan */
                if (angka[i] != "0"){
                    if (angka[i+1] != "1"){
                        kata3 = kata[angka[i]];
                    }
                }
                 
                /* pengujian angka apakah tidak nol semua, lalu ditambahkan tingkat */
                if ((angka[i] != "0") || (angka[i+1] != "0") || (angka[i+2] != "0")){
                    subkalimat = kata1+" "+kata2+" "+kata3+" "+tingkat[j]+" ";
                }
                 
                /* gabungkan variabe sub kalimat (untuk Satu blok 3 angka) ke variabel kalimat */
                kalimat = subkalimat + kalimat;
                i = i + 3;
                j = j + 1;
            }
             
            /* mengganti Satu Ribu jadi Seribu jika diperlukan */
            if ((angka[5] == "0") && (angka[6] == "0")){
                kalimat = kalimat.replace("Satu Ribu","Seribu");
            }
        }

        return kalimat;
    },
    checkExt(params){

      return params.split('.')[1]

      // let file = params.target.files[0];
      // let reader = new FileReader();

      // if(files[0]['type']==='image/jpeg')
      // // let vm = this;
      // if (file['size'] < 200000){

      //         reader.onloadend = (file) => {
      //             // console.log('RESULT', reader.result)
      //             this.form.mellicode_front_url = reader.result;
      //         }
      //         reader.readAsDataURL(file);
      // }else
      // {
      //     swal({
      //         type: 'error',
      //         title: 'Size limited.',
      //         text: 'size limit',
      //     })
      // }
    },
  }
};
</script>

<style type="text/css" scoped="">
  canvas {
    width: 100%;
    height: 100%;
  }

  #signature {
    border: double 3px transparent;
    border-radius: 5px;
    background-image: linear-gradient(white, white),
      radial-gradient(circle at top left, #4bc5e8, #9f6274);
    background-origin: border-box;
    background-clip: content-box, border-box;
  }
</style>

 