<template>
  <!-- Modal -->
  <div class="modal fade text-left viewEvaluasiMod" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel1">View Evaluasi</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
          <!-- Nav tabs -->
          <ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">
            <template v-if="role == 'R002'">
              <li class="nav-item">
                  <a class="nav-link active" id="primer-tab-fill" data-toggle="tab" href="#primer-fill" role="tab" aria-controls="primer-fill" aria-selected="true">Data Pekerjaan</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" id="dokumen-tab-fill" data-toggle="tab" href="#dokumen-fill" role="tab" aria-controls="dokumen-fill" aria-selected="false">Data Evaluasi</a>
              </li>
            </template>
            <template v-else>
              <li class="nav-item">
                  <a class="nav-link active" id="primer-tab-fill" data-toggle="tab" href="#primer-fill" role="tab" aria-controls="primer-fill" aria-selected="true">Data Pekerjaan</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" id="dokumen-tab-fill" data-toggle="tab" href="#dokumen-fill" role="tab" aria-controls="dokumen-fill" aria-selected="false">Data Evaluasi</a>
              </li>
            </template>
          </ul>
          <!-- Tab panes -->
          <div class="tab-content pt-1">
              <div class="tab-pane active" id="primer-fill" role="tabpanel" aria-labelledby="primer-tab-fill">
                <div class="card-body">
                  <div class="row">
                    <div class="form-group col-md-12">
                      <label class="form-control-label" for="inputBasicLastName">Nama Pekerjaan <small style="color:red"> *required</small></label>
                      <input
                        type="textfield"
                        class="form-control"
                        placeholder="Input nama pekerjaan"
                        v-model="form.namaPekerjaan"
                        autocomplete="off"
                        required disabled
                      >
                    </div>
                    <div class="form-group col-md-12">
                      <label class="form-control-label" for="inputBasicFirstName">Keterangan <small style="color:red"> *required</small></label>
                      <textarea class="maxlength-textarea form-control" data-plugin="maxlength" data-placement="bottom-right-inside" maxlength="100" rows="3" placeholder="Input keterangan" v-model="form.keteranganPekerjaan" required disabled></textarea>
                    </div>
                    <div class="form-group form-material col-md-6">
                      <label class="form-control-label" for="inputBasicLastName">Vendor <small style="color:red"> *required</small></label>
                      <Select2MultipleControl id="fullvendorV" v-model="form.IdVendor" :options="myOptionsVendor" :settings="{ placeholder: 'Select a Work Vendor', width: '100%' }" required disabled/>
                    </div>
                    <div class="form-group form-material col-md-6">
                      <label class="form-control-label" for="inputBasicLastName">Kategori <small style="color:red"> *required</small></label>
                      <Select2 id="fullkategoriV" v-model="form.kategoriPekerjaan" :options="myOptionsKategori" :settings="{ placeholder: 'Select a Kategori', width: '100%' }" required disabled/>
                    </div>
                    <div class="form-group col-md-6">
                      <label class="form-control-label" for="inputBasicLastName">Tahun Anggaran <small style="color:red"> *required</small></label>
                      <input
                        type="textfield"
                        class="form-control"
                        placeholder="Input anggaran"
                        v-model="form.anggaranPekerjaan"
                        autocomplete="off"
                        required disabled
                      >
                    </div>
                    <div class="form-group col-md-6">
                      <label class="form-control-label" for="inputBasicLastName">Lokasi <small style="color:red"> *required</small></label>
                      <input
                        type="textfield"
                        class="form-control"
                        placeholder="Input Lokasi"
                        v-model="form.lokasiPekerjaan"
                        autocomplete="off"
                        required disabled
                      >
                    </div>
                    <div class="form-group col-md-6">
                      <label class="form-control-label" for="inputBasicLastName">Niai Pagu <small style="color:red"> *required</small></label>
                      <input
                        type="number"
                        class="form-control"
                        placeholder="Input Nilai Pagu"
                        v-model="form.nilaiPaguPekerjaan"
                        autocomplete="off"
                        required disabled
                      >
                    </div>
                    <div class="form-group form-material col-md-6">
                      <label class="form-control-label" for="inputBasicLastName">Kualifikasi Usaha <small style="color:red"> *required</small></label>
                      <Select2 id="fullkualifikasiV" v-model="form.kualifikasiPekerjaan" :options="myOptionsKualifikasi" :settings="{ placeholder: 'Select a Kualifikasi', width: '100%' }" required disabled/>
                    </div>
                    <div class="form-group form-material col-md-6">
                      <label class="form-control-label" for="inputBasicLastName">Dibuat Divisi <small style="color:red"> *required</small></label>
                      <Select2 id="fulldivisiV" v-model="form.divisiPekerjaan" :options="myOptionsDivisi" :settings="{ placeholder: 'Select a Divisi', width: '100%' }" required disabled/>
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group col-md-6">
                      <label class="form-control-label" for="inputBasicLastName">Valid Dari <small style="color:red"> *required</small></label>
                      <input type="date" placeholder="yyyy/mm/dd" pattern="(^(((0[1-9]|1[0-9]|2[0-8])[\/](0[1-9]|1[012]))|((29|30|31)[\/](0[13578]|1[02]))|((29|30)[\/](0[4,6,9]|11)))[\/](19|[2-9][0-9])\d\d$)|(^29[\/]02[\/](19|[2-9][0-9])(00|04|08|12|16|20|24|28|32|36|40|44|48|52|56|60|64|68|72|76|80|84|88|92|96)$)" class="form-control" v-model="form.tglValidDari" autocomplete="off" required disabled>
                    </div>
                    <div class="form-group col-md-6">
                      <label class="form-control-label" for="inputBasicLastName">Valid Sampai <small style="color:red"> *required</small></label>
                      <input type="date" placeholder="yyyy/mm/dd" pattern="(^(((0[1-9]|1[0-9]|2[0-8])[\/](0[1-9]|1[012]))|((29|30|31)[\/](0[13578]|1[02]))|((29|30)[\/](0[4,6,9]|11)))[\/](19|[2-9][0-9])\d\d$)|(^29[\/]02[\/](19|[2-9][0-9])(00|04|08|12|16|20|24|28|32|36|40|44|48|52|56|60|64|68|72|76|80|84|88|92|96)$)" class="form-control" v-model="form.tglValidSampai" autocomplete="off" required disabled>
                    </div>
                    <div class="form-group col-md-12">
                      <label class="form-control-label" for="inputBasicLastName">File Informasi Pekerjaan</label>
                      <div class="input-group">
                        <iframe style="width:100%; height: 350px;" :src="form.file1Adm"></iframe>
                        <!-- <pdf style="width:100%; height: 300px;" :src="form2.file2"></pdf> -->
                      </div>
                    </div>
                    <div class="form-group col-md-12">
                      <label class="form-control-label" for="inputBasicLastName">File Dokumen Pekerjaan</label>
                      <div class="input-group">
                        <iframe style="width:100%; height: 350px;" :src="form.file2Adm"></iframe>
                        <!-- <pdf style="width:100%; height: 300px;" :src="form2.file2"></pdf> -->
                      </div>
                    </div>
                  </div>
                  <template v-if="role == 'R002'">
                  </template>
                  <template v-else>
                    <div class="row">
                      <div class="form-group form-material col-md-6">
                        <label class="form-control-label" for="inputBasicLastName">Nama Direksi Mengetahui <small style="color:red"> *required</small></label>
                        <Select2MultipleControl id="fullketahuiuserV" v-model="form.ketahuiNamaPekerjaan" :options="myOptionsUser1" :settings="{ placeholder: 'Select a User', width: '100%' }" required disabled/>
                      </div>
                      <div class="form-group form-material col-md-6">
                        <label class="form-control-label" for="inputBasicLastName">Nama Divisi Diteruskan <small style="color:red"> *required</small></label>
                        <Select2MultipleControl id="fullteruskanuserV" v-model="form.teruskanNamaPekerjaan" :options="myOptionsUser2" :settings="{ placeholder: 'Select a User', width: '100%' }"  required disabled/>
                      </div>
                    </div>
                  </template>
                </div>
              </div>
              <div class="tab-pane" id="dokumen-fill" role="tabpanel" aria-labelledby="dokumen-tab-fill">
                <div class="card-body">
                  <template v-for="(row, index) in dataEvaluasi">
                    <div class="modal-body">
                      <div class="row">
                        <template v-if="row.status_evaluasi !== 0">
                          <div class="form-group col-md-12">
                            <div class="alert alert-dark" role="alert">
                              <h4 class="alert-heading">Terpilih</h4>
                              <b> {{ row.pemenang }} </b>
                            </div>
                          </div>
                          <div class="form-group col-md-12">
                            <div class="alert alert-dark" role="alert" style="background: rgb(30 30 30 / 5%) !important;">
                              <h4 class="alert-heading">Penawaran</h4>
                              <b>Rp. {{ formatPrice(row.penawaran) }} </b>
                            </div>
                          </div>
                          <div class="form-group col-md-12">
                            <div class="alert alert-dark" role="alert" style="background: rgb(30 30 30 / 5%) !important;">
                              <h4 class="alert-heading">Notulen</h4>
                              <p class="mb-0" v-html="row.notulen">
                                {{ row.notulen }}
                              </p>
                            </div>
                          </div>
                          <div class="form-group col-md-12">
                            <div class="form-group">
                              <label class="form-control-label" for="inputBasicLastName">File Notulen </label>
                              <iframe style="width:100%; height: 350px;" :src="`/uploads/file_dokumen_evaluasi/`+row.file_notulen"></iframe>
                            </div>
                          </div>
                        </template>
                        <template v-else-if="row.status_evaluasi == 0">
                          <label class="form-control-label" for="inputBasicLastName" style="font-size: 24px;">Belum Upload</label>
                        </template>
                      </div>
                    </div>
                  </template>
                </div>
              </div>
          </div>
        </div> 
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!-- End Modal -->
</template>

<!-- script js -->
<script>
import Select2 from "v-select2-component";
import Select2MultipleControl from 'v-select2-multiple-component';
import pdf from 'vue-pdf';
export default {
  components: { 
    Select2,
    Select2MultipleControl,
    pdf,
  },
  name: 'modal',
  props : {
    viewModal : {
      type : Boolean
    },
    view : {
      type : Object
    },
    closeModal : {
      type : Function
    }
  },
  data(){
    return{
      myOptionsCommittee: [],
      role: 'R002',
      form:{
        idUser : '',
        role : '',
        namaPekerjaan: '',
        IdVendor: '',
        IdCommittee: '',
        keteranganPekerjaan: '',
        kategoriPekerjaan: '',
        anggaranPekerjaan: '',
        lokasiPekerjaan: '',
        nilaiPaguPekerjaan: '',
        kualifikasiPekerjaan: '',
        divisiPekerjaan: '',
        ketahuiPekerjaan: '',
        ketahuiNamaPekerjaan: '',
        teruskanPekerjaan: '',
        teruskanNamaPekerjaan: '',
        tglValidDari: '',
        tglValidSampai: '',
        file1Adm: '',
        file2Adm: '',
      },
      myOptionsVendor: [],
      myOptionsKategori: [],
      myOptionsDivisi: [],
      myOptionsUser1: [],
      myOptionsUser2: [],
      myOptionsKualifikasi: [
        {id:"Perusahaan Kecil",text:"Perusahaan Kecil"},
        {id:"Perusahaan Menengah",text:"Perusahaan Menengah"},
        {id:"Perusahaan Besar",text:"Perusahaan Besar"},
      ],
      isLoading: false,
      dataEvaluasi: [],
    }
  },
  watch: {
    view(newVal) {
      if (newVal) {
        this.loadData()
        this.form.idPekerjaan = newVal.id_pekerjaan
        this.form.namaPekerjaan = newVal.nama_pekerjaan
        this.form.IdVendor = newVal.id_vendor
        this.form.IdCommittee = newVal.id_committee
        this.form.keteranganPekerjaan = newVal.keterangan
        this.form.kategoriPekerjaan = newVal.id_kategori_pekerjaan
        this.form.anggaranPekerjaan = newVal.anggaran
        this.form.lokasiPekerjaan = newVal.lokasi
        this.form.nilaiPaguPekerjaan = newVal.nilai_pagu
        this.form.kualifikasiPekerjaan = newVal.kualifikasi
        this.form.divisiPekerjaan = newVal.id_divisi
        this.form.ketahuiNamaPekerjaan = newVal.ketahui
        this.form.teruskanNamaPekerjaan = newVal.teruskan
        this.form.tglValidDari = newVal.valid_from
        this.form.tglValidSampai = newVal.valid_to
        this.form.file1Adm= window.location.origin+"/uploads/file_dokumen/"+newVal.file_pekerjaan
        this.form.file2Adm= window.location.origin+"/uploads/file_dokumen/"+newVal.dokumen_pekerjaan
        this.openNotifChat()
        
      }
    } 
  },
  methods: {
    openNotifChat(){
      axios
        .get("/session")
        .then(response => {
          this.role = response.data.role
          this.form.idUser = response.data.id
          this.getNotulen(this.form.idPekerjaan, this.form.idUser, this.form.IdVendor)

          axios.post('/openNotifChat/'+ response.data.id + '/' + this.form.idPekerjaan).then(response => {
          });
      });
    },
    loadData(){
      axios
        .get("/api/dropdownuserCommittee")
        .then(response => {
          this.myOptionsCommittee = response.data;
      });

      axios.get("/api/dropdownvendor").then(response => {
        this.myOptionsVendor = response.data;
      });

      axios.get("/api/dropdowndivisi").then(response => {
        this.myOptionsDivisi = response.data;
      });

      axios
        .get("/api/dropdownuserPekerjaan")
        .then(response => {
          this.myOptionsUser1 = response.data;
          this.myOptionsUser2 = response.data;
      });

      axios.get("/api/dropdownkategoripekerjaan").then(response => {
        this.myOptionsKategori = response.data;
      });
    },
    getNotulen(id_pekerjaan,id_user,id_vendor){
      if(this.role == "R002") {
        axios
        .get("/api/getFileNotulenPLbyID/" + id_pekerjaan + "/" + id_user)
        .then(response => {
          this.dataEvaluasi = response.data
        });
      } else {
        axios
        .get("/api/getFileNotulenPL/" + id_pekerjaan + "/" + id_user + "/" + id_vendor)
        .then(response => {
          this.dataEvaluasi = response.data
        });
      }
    },
    formatPrice(value) {
        let val = (value/1).toFixed(2).replace('.', ',')
        return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")
    }
  }
};
</script>

 