<script>
// import the styles


// add to component
</script>

<template>

  <!-- BEGIN: Content-->
  <div class="app-content content">
      <div class="content-overlay"></div>
      <div class="header-navbar-shadow"></div>
      <div class="content-wrapper">
          <div class="content-header row">
              <div class="content-header-left col-md-9 col-12 mb-2">
                  <div class="row breadcrumbs-top">
                      <div class="col-12">
                          <h2 class="content-header-title float-left mb-0">Who Are We's</h2>
                          <div class="breadcrumb-wrapper col-12">
                              <ol class="breadcrumb">
                                  <li class="breadcrumb-item"><a href="index.html">Home</a>
                                  </li>
                                  <li class="breadcrumb-item"><a href="#">Master</a>
                                  </li>
                                  <li class="breadcrumb-item"><a href="#">Content</a>
                                  </li>
                                  <li class="breadcrumb-item active">Who Are We
                                  </li>
                              </ol>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="content-header-right text-md-right col-md-3 col-12 d-md-block d-none">
                  <div class="form-group breadcrum-right">
                      <div class="dropdown">

                        <template v-for="actionS in action" v-if="actionS == 'Insert'">
                          <button class="btn-icon btn btn-primary btn-round btn-sm dropdown-toggle" data-target=".insertAreWeMod" data-toggle="modal" type="button" @click="openModal" aria-haspopup="true" aria-expanded="false"><i class="feather icon-file-plus"></i> <b>New</b> </button>
                        </template>

                        <button class="btn-icon btn btn-primary btn-round btn-sm dropdown-toggle"data-toggle="tooltip"
                          data-original-title="Refresh" v-on:click="onRefresh" aria-haspopup="true" aria-expanded="false"><i class="feather icon-refresh-ccw"></i>
                        </button>

                      </div>
                  </div>
              </div>
          </div>
          <insert-arewe-mod :open-modal="modalOpen" :close-modal="loadItems"></insert-arewe-mod>
          <update-arewe-mod :open-modal="updateOpen" :update="update" :close-modal="loadItems"></update-arewe-mod>
          <div class="content-body">
              <!-- Basic example section start -->
              <section id="basic-examples">
                  <div class="card">
                      <div class="card-header">
                          <h4 class="card-title">Jumlah Who Are We : {{total}}</h4>
                      </div>
                      <div class="card-content">
                          <div class="card-body">

                            <vue-good-table
                              mode="remote"
                              @on-page-change="onPageChange"
                              @on-sort-change="onSortChange"
                              @on-column-filter="onColumnFilter"
                              @on-per-page-change="onPerPageChange"
                              @on-search="onSearch"
                              :totalRows="totalRecords"
                              :isLoading.sync="isLoading"
                              :pagination-options="{
                                enabled: true,
                                dropdownAllowAll: false,
                                mode: 'pages'
                              }"
                              :search-options="{
                                enabled: true,
                                skipDiacritics: true,
                              }"

                              :rows="rows"
                              :columns="columns">
                              <template slot="table-row" slot-scope="props">
                                <span v-if="props.column.field == 'action'"> 
                                  <template v-for="actionS in action">
                                    <template v-if="actionS == 'Delete'">
                                      <button class="btn-icon btn btn-danger btn-sm mr-1 mb-1 waves-effect waves-light" title='Delete' @click="deleteData(props.row.id)"><i class="feather icon-delete" aria-hidden="true"></i> Delete</button>
                                    </template>
                                    <template v-if="actionS == 'Update'">
                                      <button class="btn-icon btn btn-info btn-sm mr-1 mb-1 waves-effect waves-light" data-target=".updateAreWeMod" data-toggle="modal" type="button" title='Update' @click="updateModal(props.row.id)"><i class="feather icon-edit" aria-hidden="true"></i> Update</button>
                                    </template>
                                    <template v-if="actionS == 'View'">
                                      <template v-if="props.row.urutan == '1'">
                                      </template>
                                      <template v-else>
                                        <button class="btn-icon btn btn-warning btn-sm btn-round mr-1 mb-1 waves-effect waves-light" type="button" title='Up' @click="upUrutan(props.row.id)"><i class="feather icon-arrow-up" aria-hidden="true"></i></button>
                                      </template>
                                      <template v-if="props.row.urutan == totalRecords">
                                      </template>
                                      <template v-else>
                                        <button class="btn-icon btn btn-warning btn-sm btn-round mr-1 mb-1 waves-effect waves-light" type="button" title='Down' @click="downUrutan(props.row.id)"><i class="feather icon-arrow-down" aria-hidden="true"></i></button>
                                      </template>
                                    </template>
                                  </template>
                                </span>
                                <span v-else-if="props.column.field == 'foto_arewe'">
                                  <img class="round" :src="`${props.row.foto_arewe}`" @error="(() => props.row.foto_arewe = 'uploads/photo_profile/avatarDefault.png')" width="100" height="100" alt="...">
                                </span>
                                <span v-else>
                                  {{props.formattedRow[props.column.field]}}
                                </span>
                              </template>
                            </vue-good-table>

                          </div>
                      </div>
                  </div>
              </section>
              <!-- // Basic example section end -->
          </div>
      </div>
  </div>
  <!-- END: Content-->
</template>

<!-- script js -->
<script>
import InsertAreWe from './InsertAreWe.vue';
import UpdateAreWe from './UpdateAreWe.vue';
import 'vue-good-table/dist/vue-good-table.css'
import { VueGoodTable } from 'vue-good-table';
import moment from 'moment';
moment.locale("id");

const _ = require('lodash');

export default {
    name: 'whoarewe',
    components: {
      'vue-good-table' : VueGoodTable,
      'insert-arewe-mod' : InsertAreWe,
      'update-arewe-mod' : UpdateAreWe,
    },
    data() {
        return {
            isLoading: false,
            modalOpen: false,
            updateOpen: false,
            update: {},
            columns: [
                {
                    label: 'Foto',
                    field: 'foto_arewe',
                    sortable: false,
                },
                {
                    label: 'Nama',
                    field: 'nama_arewe',
                    filterable: true,
                },
                {
                    label: 'Posisi',
                    field: 'posisi_arewe',
                    filterable: true,
                },
                {
                  label: 'Action',
                  field: 'action',
                  sortable: false,
                },
            ],
            rows: [],
            totalRecords: 0,
            serverParams: {
              columnFilters: {
              },
              sort: {       
                field: 'created_at', 
                type: 'desc',
              },
              page: 1, 
              perPage: 10,
              searchTerm: ''
            },
            action: [],
            total: ''
        };
    },
    beforeCreate(){
        this.loading = true;
        axios
        .get("/session")
        .then(response => {
            this.id = response.data.id;
            this.role = response.data.role;
            this.login = response.data.login;
            axios
            .get("/api/getSide/" + this.id )
            .then(response => {
                this.data = response.data;
                var routesUser = [];
                this.data.forEach(function(puki, index) {
                  var nam = puki.Link.substr(1);
                  routesUser.push(nam);
                }); 
                var n = routesUser.includes(this.$options.name);
                console.log(n)
                if(this.login == true && n == true){
                  this.loading = false;
                  this.getAction(this.id,this.$options.name)
                } else if (this.login == true && n == false) {
                  this.$router.push('/not404');
                  this.loading = false;
                } else {
                  window.location.href = "/";
                  // this.$router.push('/not404');
                  this.loading = false;
                }
            });
        });
    },
    computed: {
    },
    mounted() {
      this.loadItems()
    },
    methods: {
      getAction(id,link){
        axios
            .get("/api/action/" + id + "/" + link)
            .then(response => {
              this.action = response.data;
            });
      },

      getFromServer(arewes) {
        return axios.get(`/api/getAreWe?searchTerm=${arewes.searchTerm}&page=${arewes.page}&per_page=${arewes.perPage}&field=${arewes.sort.field}&type=${arewes.sort.type}`);
      },

      loadItems() {
        this.getFromServer(this.serverParams).then((response) => {
              this.totalRecords = response.data.arewes.total;
              this.total = this.totalRecords
              this.rows = response.data.arewes.data;
          })
      },

      updateParams(newProps) {
        this.serverParams = Object.assign({}, this.serverParams, newProps);
      },
      
      onPageChange(params) {
        this.updateParams({page: params.currentPage});
        this.loadItems();
      },

      onPerPageChange(params) {
        this.updateParams({perPage: params.currentPerPage});
        this.loadItems();
      },

      onSortChange(params) {
        this.updateParams({
          sort: {
            type: params[0].type,
            field: params[0].field,
          },
        });
        this.loadItems();
      },
      
      onColumnFilter(params) {
        this.updateParams(params);
        this.loadItems();
      },

      onSearch(params) {
        this.updateParams(params);
        this.loadItems();
      },

      openModal() {
          this.modalOpen = !this.modalOpen;
      }, 

      closeModal() {
          this.modalOpen = false;
          this.updateOpen = false;
      },

      updateModal(params) {
          axios
            .get("/api/getAreWe/" + params)
            .then(response => {
              this.update = response.data;
            });
          this.updateOpen = !this.updateOpen;
      },

      upUrutan(id){
        Swal.fire({
          title: 'Are you sure?',
          text: "You won't be able to revert this!",
          type: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: 'Yes, update it!',
          confirmButtonClass: 'btn btn-primary',
          cancelButtonClass: 'btn btn-danger ml-1',
          buttonsStyling: false,
          showLoaderOnConfirm: true,
          preConfirm: () => {
            return axios.post("/api/upUrutan", {
              id: id,
            })
            .then(response => {
              this.loadItems()
              return 
            })
            .catch(error => {
              Swal.showValidationMessage(
                `Request failed: ${error}`
              )
            })
          },
          allowOutsideClick: () => !this.$swal.isLoading()
        }).then(function (result) {
          if (result.value) {
            Swal.fire(
              {
                type: "success",
                title: 'Updated!',
                text: 'Your file has been Update.',
                confirmButtonClass: 'btn btn-success',
              }
            )
          }
        }.bind(this))
      },

      downUrutan(id){
        Swal.fire({
          title: 'Are you sure?',
          text: "You won't be able to revert this!",
          type: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: 'Yes, update it!',
          confirmButtonClass: 'btn btn-primary',
          cancelButtonClass: 'btn btn-danger ml-1',
          buttonsStyling: false,
          showLoaderOnConfirm: true,
          preConfirm: () => {
            return axios.post("/api/downUrutan", {
              id: id,
            })
            .then(response => {
              this.loadItems()
              return 
            })
            .catch(error => {
              Swal.showValidationMessage(
                `Request failed: ${error}`
              )
            })
          },
          allowOutsideClick: () => !this.$swal.isLoading()
        }).then(function (result) {
          if (result.value) {
            Swal.fire(
              {
                type: "success",
                title: 'Updated!',
                text: 'Your file has been Update.',
                confirmButtonClass: 'btn btn-success',
              }
            )
          }
        }.bind(this))
      },

      deleteData(id) {
        Swal.fire({
          title: 'Are you sure?',
          text: "You won't be able to revert this!",
          type: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: 'Yes, delete it!',
          confirmButtonClass: 'btn btn-primary',
          cancelButtonClass: 'btn btn-danger ml-1',
          buttonsStyling: false,
        }).then(function (result) {
          if (result.value) {
            axios.post("/api/arewe/" + id, {
              username: localStorage.getItem('username'),
              fullname: localStorage.getItem('fullname'),
            }).then(response => {
              this.loadItems();
              Swal.fire(
                {
                  type: "success",
                  title: 'Deleted!',
                  text: 'Your file has been deleted.',
                  confirmButtonClass: 'btn btn-success',
                }
              )
            });
          }
        }.bind(this))
      },

      onRefresh: function (event) {
        if (event) {
          // this.loadItems();
          this.content = '';
        }
      },

      formatDate(value) {
          return moment(value).format("DD MMMM YYYY")
      }

    }
};
</script>

