<template>
  <!-- Modal -->
  <div class="modal fade text-left insertAreWeMod" id="default" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <h4 class="modal-title" id="myModalLabel1">Insert Who Are We</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <form id="formWhoAreWe" @submit.prevent="addData()" autocomplete="off">
                <div class="modal-body">
                  <div class="row">
                    <div class="form-group col-md-12">
                      <label class="form-control-label" for="inputBasicFirstName">Upload Foto</label>
                      <div class="img-cropper">
                        <vue-cropper
                          ref="cropper"
                          class="img-crop" 
                          :aspect-ratio="1 / 1"
                          :cropBoxMovable="true"
                          :cropBoxResizable="false"
                          :autoCrop="true"
                          :autoCropArea="1"
                          :viewMode="3"
                          :minCropBoxWidth="200"
                          :minCropBoxHeight="200"
                          :minContainerWidth="200"
                          :minContainerHeight="200"
                          :background="false"
                          :src="imgSrc"
                          preview=".preview"
                          dragMode="move"
                        />
                      </div>
                    <br>
                    <input
                      ref="input"
                      type="file"
                      id="imageIn"
                      name="image"
                      accept="image/*"
                      @change="setImage"
                    />
                    <br><br>
                    <button type="button" class="btn btn-primary btn-block" @click.prevent="cropImage">Crop & Preview</button>
                    </div>
                    <div class="form-group col-md-12" style="text-align: center;">
                      <label class="form-control-label" for="inputBasicFirstName">Preview</label>
                      <img
                        class="form-control"
                        v-if="cropImg"
                        :src="cropImg"
                        alt="Cropped Image"
                        style="width:100%;height:auto;"
                      />
                    </div>
                    <div class="form-group col-md-12">
                      <label class="form-control-label" for="inputBasicRoleName">Nama </label>
                      <input
                        type="textfield"
                        class="form-control "
                        placeholder="Input your Nama"
                        v-model="form.namaAreWe"
                        autocomplete="off"
                        required
                      >
                    </div>
                    <div class="form-group col-md-12">
                      <label class="form-control-label" for="inputBasicRoleName">Posisi </label>
                      <input
                        type="textfield"
                        class="form-control "
                        placeholder="Input your Posisi"
                        v-model="form.posisiAreWe"
                        autocomplete="off"
                        required
                      >
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-pure" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
              </form>
          </div>
      </div>
  </div>

</template>

<!-- script js -->
<script>

import VueCropper from 'vue-cropperjs';
import 'cropperjs/dist/cropper.css';

export default {
  name: 'bannermodal',
  components :{
    VueCropper,
  },
  props : {
    openModal : {
      type : Boolean
    },
    closeModal : {
      type : Function
    }
  },
  data(){
    return{
      imgSrc: 'theme/avatar.png',
      cropImg: '',
      form:{
        photoAreWe: 'kosong',
        namaAreWe: '',
        posisiAreWe: '',
      },
    }
  },
  mounted() {
  },
  methods: {
    cropImage() {
      // get image data for post processing, e.g. upload or setting image src
      this.cropImg = this.$refs.cropper.getCroppedCanvas().toDataURL();
      this.form.photoAreWe = this.$refs.cropper.getCroppedCanvas().toDataURL();
    },
    setImage(e) {
      const file = e.target.files[0];
      if (file.type.indexOf('image/') === -1) {
        alert('Please select an image file');
        return;
      }
      if (typeof FileReader === 'function') {
        const reader = new FileReader();
        reader.onload = (event) => {
          this.imgSrc = event.target.result;
          // rebuild cropperjs with the updated source
          this.$refs.cropper.replace(event.target.result);
        };
        reader.readAsDataURL(file);
      } else {
        alert('Sorry, FileReader API not supported');
      }
    },
    move(offsetX, offsetY) {
      this.$refs.cropper.move(offsetX, offsetY);
    },
    reset() {
      this.$refs.cropper.replace('theme/avatar.png');
      this.$refs.cropper.reset();
    },

    addData() {
      var hasil = "oke";
      Swal.fire({
        title: 'Are you sure?',
        text: "You won't be able to revert this!",
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, insert it!',
        confirmButtonClass: 'btn btn-primary',
        cancelButtonClass: 'btn btn-danger ml-1',
        buttonsStyling: false,
        showLoaderOnConfirm: true,
        preConfirm: () => {
          if(this.form.logoKomunitas !== "kosong"){
              return axios.post("/api/addarewe", {
                photo_arewe: this.form.photoAreWe,
                nama_arewe: this.form.namaAreWe,
                posisi_arewe: this.form.posisiAreWe,
                username: localStorage.getItem('username'),
                fullname: localStorage.getItem('fullname'),
              })
              .then(response => {
                if(response.data == "oke"){
                  hasil = response.data
                } else {
                  hasil = response.data
                }
                
                $(".insertAreWeMod").modal('hide');
                this.closeModal();
                this.reset();
                this.cropImg = '',
                this.imgSrc = 'theme/avatar.png',
                this.form.photoAreWe = 'kosong'
                this.form.namaAreWe = ''
                this.form.posisiAreWe = ''
                return
              })
              .catch(error => {
                Swal.showValidationMessage(
                  `Request failed: ${error}`
                )
              })
                
          } else {
            Swal.showValidationMessage(
                'Crop your photo !'
              )
          }  
        },
        allowOutsideClick: () => !this.$swal.isLoading()
        }).then(function (result) {
          if(result.dismiss == "cancel"){
            Swal.fire(
              {
                type: "error",
                title: 'Cancel!',
                // text: 'Sorry, maximum data is 12 at this time',
                confirmButtonClass: 'btn btn-success',
              }
            )
          } else {
            if(hasil == "oke"){
              Swal.fire(
                {
                  type: "success",
                  title: 'Inserted!',
                  text: 'Your file has been Insert.',
                  confirmButtonClass: 'btn btn-success',
                }
              )
            } else {
              Swal.fire(
                {
                  type: "error",
                  title: 'Failed!',
                  text: 'Sorry, maximum data is 12 at this time',
                  confirmButtonClass: 'btn btn-success',
                }
              )
            }
          }
      }.bind(this))
    }
  }
};
</script>

<style scoped>
  .img-crop {
    width: 200px;
    height: 200px;
  }
</style>

