<script>
// import the styles


// add to component
</script>

<template>

  <!-- BEGIN: Content-->
  <div class="app-content content">
      <div class="content-overlay"></div>
      <div class="header-navbar-shadow"></div>
      <div class="content-wrapper">
          <div class="content-header row">
              <div class="content-header-left col-md-9 col-12 mb-2">
                  <div class="row breadcrumbs-top">
                      <div class="col-12">
                          <h2 class="content-header-title float-left mb-0">Landing Page</h2>
                          <div class="breadcrumb-wrapper col-12">
                              <ol class="breadcrumb">
                                  <li class="breadcrumb-item"><a href="index.html">Home</a>
                                  </li>
                                  <li class="breadcrumb-item"><a href="#">Master</a>
                                  </li>
                                  <li class="breadcrumb-item"><a href="#">Setting</a>
                                  </li>
                                  <li class="breadcrumb-item active">Landing Page
                                  </li>
                              </ol>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="content-header-right text-md-right col-md-3 col-12 d-md-block d-none">
                  <div class="form-group breadcrum-right">
                      <div class="dropdown">

                          <button class="btn-icon btn btn-primary btn-round btn-sm dropdown-toggle"data-toggle="tooltip"
                            data-original-title="Refresh" v-on:click="onRefresh" aria-haspopup="true" aria-expanded="false"><i class="feather icon-refresh-ccw"></i>
                          </button>

                      </div>
                  </div>
              </div>
          </div>
          <div class="content-body">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Setting Landing Page</h4>
                        </div>
                        <div class="card-content collapse show">
                          <div class="card-body">
                            <form id="formLanding" @submit.prevent="addData()" autocomplete="off">
                              <div class="modal-body">
                                <div class="row">
                                  <div class="form-group col-md-12">
                                    <label class="form-control-label" for="inputBasicLastName">Tagline 1 (Small) maks 40 karakter</label>
                                    <textarea class="maxlength-textarea form-control" data-plugin="maxlength" data-placement="bottom-right-inside" rows="1" maxlength="40" placeholder="Tagline 1" v-model="form.tagline1" ></textarea>
                                  </div>
                                  <div class="form-group col-md-12">
                                    <label class="form-control-label" for="inputBasicLastName">Tagline 2 (Large) maks 40 karakter</label>
                                    <textarea class="maxlength-textarea form-control" data-plugin="maxlength" data-placement="bottom-right-inside" rows="1" maxlength="40" placeholder="Tagline 2" v-model="form.tagline2" ></textarea>
                                  </div>
                                  <div class="form-group col-md-12">
                                    <label class="form-control-label" for="inputBasicLastName">Tagline 3 (Small) maks 180 karakter</label>
                                    <textarea class="maxlength-textarea form-control" data-plugin="maxlength" data-placement="bottom-right-inside" rows="3" maxlength="180" placeholder="Tagline 3" v-model="form.tagline3" ></textarea>
                                  </div>
                                  <div class="form-group col-md-12">
                                    <label class="form-control-label" for="inputBasicLastName">Image (optimal gambar resolusi 1920 x 1080 pixel)</label>
                                      <div class="img-cropper">
                                        <!-- <vue-cropper
                                          ref="cropper"
                                          class="img-crop"
                                          :aspect-ratio="1 / 1"
                                          :cropBoxMovable="true"
                                          :cropBoxResizable="false"
                                          :autoCrop="true"
                                          :autoCropArea="1"
                                          :viewMode="3"
                                          :minCropBoxWidth="200"
                                          :minCropBoxHeight="200"
                                          :minContainerWidth="200"
                                          :minContainerHeight="200"
                                          :background="false"
                                          :src="imgSrc"
                                          preview=".preview"
                                          dragMode="move"
                                        /> -->

                                        <div class="img-cropper">
                                          <vue-cropper
                                            ref="cropper"
                                            class="img-crop"
                                            :size = "1"
                                            :full = "false"
                                            :canMove = "true"
                                            :fixedBox = "false"
                                            :original = "false"
                                            :canMoveBox = "true"
                                            :autoCrop = "true"
                                            :autoCropWidth = "480"
                                            :autoCropHeight = "200"
                                            :minCropBoxWidth="480"
                                            :minCropBoxHeight="200"
                                            :minContainerWidth="480"
                                            :minContainerHeight="200"
                                            :centerBox = "false"
                                            :high = "true"
                                            :src="imgSrc"
                                            @error="(() => imgSrc ='uploads/banner.jpg')" 
                                            preview=".preview"
                                            dragMode="move"
                                          />
                                        </div>
                                      </div>
                                    <br>
                                    <input
                                      ref="input"
                                      type="file"
                                      id="imageUp"
                                      name="image"
                                      accept="image/*"
                                      @change="setImage"
                                    />
                                    <br><br>
                                    <button type="button" class="btn btn-primary" @click.prevent="cropImage">Crop</button>
                                    <br><small style="color:red"> *image upload max 2MB</small>
                                  </div>
                                  <div class="form-group col-md-12" style="text-align: center;">
                                    <label class="form-control-label" for="inputBasicFirstName">Preview</label>
                                    <img
                                      class="form-control"
                                      v-if="cropImg"
                                      :src="cropImg"
                                      alt="Cropped Image"
                                      style="width:100%;height:auto;"
                                    />
                                  </div>
                                  
                                </div>
                              </div>
                              <div class="modal-footer">
                                <button type="submit" class="btn btn-primary">Save changes</button>
                              </div>
                            </form>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
      </div>
  </div>
  <!-- END: Content-->
</template>

<!-- script js -->
<script>
import moment from 'moment';
import VueCropper from 'vue-cropperjs';
import 'cropperjs/dist/cropper.css';

moment.locale("id");

const _ = require('lodash');

export default {
    name: 'mainbanner',
    components: { 
      VueCropper,
    },
    data() {
        return {
            isLoading: false,
            form:{
              id: '',
              tagline1: '',
              tagline2: '',
              tagline3: '',
              gambar: 'kosong',
              gambarOld: '',
            },
            action: [],

            // imgSrc: 'themeLanding/img/banner_img.png',
            imgSrc: '',
            cropImg: '',
            errors: [],

        };
    },
    beforeCreate(){
        this.loading = true;
        axios
        .get("/session")
        .then(response => {
            this.id = response.data.id;
            this.role = response.data.role;
            this.login = response.data.login;
            axios
            .get("/api/getSide/" + this.id )
            .then(response => {
                this.data = response.data;
                var routesUser = [];
                this.data.forEach(function(puki, index) {
                  var nam = puki.Link.substr(1);
                  routesUser.push(nam);
                }); 
                var n = routesUser.includes(this.$options.name);
                console.log(n)
                if(this.login == true && n == true){
                  this.loading = false;
                  this.getAction(this.id,this.$options.name)
                } else if (this.login == true && n == false) {
                  this.$router.push('/not404');
                  this.loading = false;
                } else {
                  window.location.href = "/";
                  // this.$router.push('/not404');
                  this.loading = false;
                }
            });
        });
    },
    computed: {
    },
    mounted() {
      this.getLanding()
    },
    methods: {
      getLanding(){
        axios
            .get("/api/getcontentLanding")
            .then(response => {
              this.form.id = response.data.id
              this.form.tagline1 = response.data.tagline1
              this.form.tagline2 = response.data.tagline2
              this.form.tagline3 = response.data.tagline3
              this.imgSrc = response.data.gambar;
              this.gambarOld = response.data.gambarOld;
            });
      },
      getAction(id,link){
        axios
            .get("/api/action/" + id + "/" + link)
            .then(response => {
              this.action = response.data;
            });
      },


      addData() {
        Swal.fire({
          title: 'Are you sure?',
          text: "You won't be able to revert this!",
          type: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: 'Yes, insert it!',
          confirmButtonClass: 'btn btn-primary',
          cancelButtonClass: 'btn btn-danger ml-1',
          buttonsStyling: false,
        }).then(function (result) {
          if (result.value) {
            axios.post("/api/addContentLanding", {
              tagline1: this.form.tagline1,
              tagline2: this.form.tagline2,
              tagline3: this.form.tagline3,
              gambar: this.form.gambar,
              gambarOld: this.gambarOld,
              username: localStorage.getItem('username'),
              fullname: localStorage.getItem('fullname'),
            })
            .then(response => {
              this.form.tagline1 = ''
              this.form.tagline2 = ''
              this.form.tagline3 = ''
              this.getLanding()
              // this.reset()
              Swal.fire(
                {
                  type: "success",
                  title: 'Inserted!',
                  text: 'Your file has been Insert.',
                  confirmButtonClass: 'btn btn-success',
                }
              )
            });
          }
        }.bind(this))
      },

      onRefresh: function (event) {
        if (event) {
          // this.loadItems();
          this.content = '';
        }
      },

      formatDate(value) {
          return moment(value).format("DD MMMM YYYY")
      },

      cropImage() {
          // get image data for post processing, e.g. upload or setting image src
          this.cropImg = this.$refs.cropper.getCroppedCanvas().toDataURL();
          this.form.gambar = this.$refs.cropper.getCroppedCanvas().toDataURL();
        },
        setImage(e) {
          const file = e.target.files[0];
          if (file.type.indexOf('image/') === -1) {
            alert('Please select an image file');
            return;
          }
          if (typeof FileReader === 'function') {
            const reader = new FileReader();
            reader.onload = (event) => {
              this.imgSrc = event.target.result;
              // rebuild cropperjs with the updated source
              this.$refs.cropper.replace(event.target.result);
            };
            reader.readAsDataURL(file);
          } else {
            alert('Sorry, FileReader API not supported');
          }
        },
        move(offsetX, offsetY) {
          this.$refs.cropper.move(offsetX, offsetY);
        },
        reset() {
          this.$refs.cropper.reset();
        },
    }
};
</script>
<style scoped>
  .img-crop {
    width: 480px; 
    height: 200px;
  }
</style>